@charset "utf-8";

/**************************** Estilos e Estruturas usados na página do Dorm1TipoA ****************************/
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 422px;
    margin: 20px 0 0 20px;
    position: relative;
    width: 650px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm1TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	position: absolute;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 212px;
    top: 14px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 509px;
    top: 14px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 16px;
    top: 14px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 15px;
	top: 238px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 95px;
    top: 105px;}

/**************************** Estilos e Estruturas usados na página do Dorm1TipoB ****************************/
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 422px;
    margin: 20px 0 0 106px;
    position: relative;
    width: 515px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm1TipoB div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	position: absolute;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 168px;
    top: 13px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 a {
	left: 123px;
    top: 152px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 402px;
    top: 13px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 13px;
    top: 12px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 13px;
	top: 185px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 71px;
    top: 81px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoA ****************************/
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 358px;
    margin: 52px 0 0 20px;
    position: relative;
    width: 651px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	position: absolute;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 {
	left: 424px;
    top: 12px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a {
	left: 96px;
    top: 124px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 303px;
    top: 34px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 a {
	left: 93px;
    top: 96px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar03 {
	left: 224px;
    top: 160px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar03 a {
	left: 115px;
    top: 114px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 13px;
    top: 156px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 93px;
    top: 124px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	left: 13px;
    top: 11px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a {
	left: 100px;
    top: 75px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 216px;
	top: 11px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 40px;
    top: 71px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoB ****************************/
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 358px;
    margin: 20px 0 0 46px;
    position: relative;
    width: 651px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	/*left: 50%;*/
	/*margin: -16px 0 0 -16px;*/
	position: absolute;
	text-indent: -9000px;
	/*top: 50%;*/
	width: 32px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoB div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar04, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	position: absolute;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 {
	left: 13px;
    top: 10px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 a {
	left: 56px;
    top: 104px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar04 {
	left: 157px;
    top: 153px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar03 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar04 a {
	left: 88px;
    top: 100px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 130px;
    top: 32px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 a {
	left: 55px;
    top: 50px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 290px;
    top: 11px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 27px;
    top: 51px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 316px;
    top: 151px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 112px;
    top: 68px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	left: 366px;
    top: 10px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a {
	left: 92px;
    top: 53px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoC ****************************/
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 414px;
    margin: 20px 0 0 20px;
    position: relative;
    width: 650px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	/*left: 50%;*/
	/*margin: -16px 0 0 -16px;*/
	position: absolute;
	text-indent: -9000px;
	/*top: 50%;*/
	width: 32px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoC div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt04, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Closet01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	position: absolute;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 515px;
    top: 13px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 span {
	left: 50px;
    top: 140px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 327px;
    top: 36px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 75px;
    top: 64px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar02 {
	left: 327px;
    top: 229px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a {
	left: 47px;
    top: 65px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt04 {
	left: 13px;
    top: 126px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt03 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt04 a {
	left: 108px;
    top: 170px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 191px;
    top: 13px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 73px;
    top: 179px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Closet01 {
	left: 13px;
    top: 12px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Closet01 a {
	left: 93px;
    top: 288px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 13px;
    top: 12px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 109px;
    top: 111px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoD ****************************/
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 386px;
    margin: 35px 0 0 20px;
    position: relative;
    width: 650px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	/*left: 50%;*/
	/*margin: -16px 0 0 -16px;*/
	position: absolute;
	text-indent: -9000px;
	/*top: 50%;*/
	width: 32px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoD div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar04, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	position: absolute;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 328px;
    top: 35px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 80px;
    top: 91px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 509px;
    top: 11px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 span {
	left: 54px;
    top: 124px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar03,
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar04 {
	left: 242px;
    top: 227px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar03 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar04 a {
	left: 88px;
    top: 55px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 235px;
    top: 11px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 22px;
    top: 61px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 14px;
    top: 160px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 109px;
    top: 123px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt03 {
	left: 14px;
    top: 11px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt03 a {
	left: 98px;
    top: 62px;}

/**************************** Estilos e Estruturas usados na página do Dorm3TipoA ****************************/
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 358px;
    margin: 20px 0 0 70px;
    position: relative;
    width: 651px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm3TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal03 {
	position: absolute;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 {
	left: 88px;
    top: 218px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 a {
	left: 141px;
    top: 132px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 15px;
    top: 54px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 79px;
    top: 79px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	left: 356px;
    top: 251px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a {
	left: 85px;
    top: 89px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo03 {
	left: 182px;
    top: 31px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo03 a {
	left: 65px;
    top: 86px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 {
	left: 403px;
    top: 204px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 span {
	left: 71px;
    top: 35px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal03 {
	left: 292px;
    top: 32px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal03 a {
	left: 134px;
    top: 88px;}

/**************************** Estilos e Estruturas usados na página do Dorm4TipoA ****************************/
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 422px;
    margin: 18px 0 0 115px;
    position: relative;
    width: 440px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm4TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-04, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	position: absolute;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 150px;
    top: 243px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 65px;
    top: 39px;
	z-index: 1000;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 {
	left: 159px;
    top: 223px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 a {
	left: 111px;
    top: 125px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 277px;
    top: 27px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 65px;
    top: 96px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-03 {
	left: 11px;
    top: 243px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-03 a {
	left: 67px;
    top: 117px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-03 {
	left: 11px;
    top: 169px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-03 a {
	left: 50px;
    top: 70px;
	z-index: 1000;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-04 {
	left: 116px;
    top: 26px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-03 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-04 a {
	left: 121px;
    top: 90px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 11px;
    top: 26px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 67px;
    top: 78px;}

/**************************** OpcoesComodos (Usado em todas as plantas) ****************************/
body div.Wrapper div.Container div.Main ul.OpcoesComodos {
	/*float: left;
	margin-top: 35px;*/
	position: absolute;
	top: 30px;
	right: 10px;
	width: 100px;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li {
	height: 79px;
    margin: 0 0 10px 5px;
    width: 91px;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li:hover, 
body div.Wrapper div.Container div.Main ul.OpcoesComodos li.ComodoSelecionado {background: url(../../img/site/bg-item-comodo-selecionado.png) no-repeat center;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes {
	background: url(../../img/site/bg-titulo-opcoes.png) no-repeat center top;
	height: 34px;
	margin-left: 0;
	text-align: center;
	width: 100px;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes h5 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	line-height: 34px;}

















































