@charset "utf-8";


/**************************** Reset ****************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, blockquote, q, cite, code, table, th, td {
	margin: 0;
	padding: 0;}

ol, ul {list-style: none;}

img    {border: none;}

/**************************** Classes Especiais ****************************/
/* Objetos */
.Left        {float: left;}
.Right       {float: right;}
.FloatNone   {float: none;}

.Visible     {visibility: visible;}
.Hidden      {visibility: hidden;}

.Block       {display: block;}
.Inline      {display: inline;}
.InlineBlock {display:inline-block;}
.DisplayNone {display: none;}

.BorderTop {}
.BorderRight {}
.BorderBottom {}
.Borderleft {}

/**************************** Estilos e Estruturas usados em todas páginas ****************************/
body {
	background-color: #ddd;
	min-height: 100%;
	width: 100%;}

div.Container {
	height: 800px;
	position: relative;
	width: 100%;}

div.Projeto {
	background-color: #fff;
	margin: auto;
	height: 685px;
	position: relative;
	width: 444px;}

div.Planta {
	height: 685px;
	left: 0;
	position: absolute;
	top: 0;
	width: 444px;}

div.Cozinha01, 
div.Living01, 
div.Living02, 
div.Quarto01, 
div.Quarto02, 
div.Banheiro01, 
div.Banheiro02 {
	display: block;
	position: absolute;}

div.Cozinha01 {
	left: 16px;
    top: 18px;}

div.Living01, 
div.Living02 {
	left: 17px;
    top: 115px;}

div.Quarto01, 
div.Quarto02 {
	left: 17px;
    top: 404px;}

div.Banheiro01, 
div.Banheiro02 {
	left: 248px;
    top: 460px;}

ul {
	bottom: 0;
	margin: 10px 40%;
	position: absolute;
	width: 444px;}

ul li {
	float: left;}

ul li a {
	margin-right: 10px;}

/* Links */
div.Projeto a:link, div.Projeto a:visited {
	background-color: #fff;
	border: 1px solid #000;
	color: #36F;
	display: block;
	float: left;
	Font: 12px Arial, Helvetica, sans-serif;
	left: 50%;
	padding: 5px;
	position: absolute;
	top: 50%;}

a:hover, a:active {}

.nocss
{
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
	form, fieldset, p, blockquote, q, cite, code, table, th, td {
		margin: 0;
		padding: 0;}
	
	ol, ul {list-style: none;}
	
}