.titulo {

	font-family: Tahoma;

	font-size: 13px;

	color: #000000;

}

.txt_informativo {

	font-family: tahoma;

	font-size: 11px;

	color: #666666;

}

.link {

	text-align: right;

	font-family: Tahoma;

	font-size: 10px;

	color: #978971;

}

.link_rodape {

	font-family: Tahoma;

	font-size: 11px;

	color: #FFFFFF;

}

.rodape {

	font-family: Tahoma;

	font-size: 10px;

	color: #FFFFFF;

}



.titulo_giftcard {

	font-family: Tahoma;

	font-size: 14px;

	font-weight: bold;

	color: #006666;

}

.titulo_giftcard_menor {

	font-family: Tahoma;

	font-size: 12px;

	font-weight: bold;

	color: #006666;

}



body {
	width:100%;

	margin-left: 0px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

}





.subtitulo_internas {

	font-family: Tahoma;

	font-size: 12px;

	color: #666666;

	font-weight: bold;

}

.titulo_educard {

	font-family: Tahoma;

	font-size: 14px;

	font-weight: bold;

	color: #006699;

}

.titulo_educard_menor {

	font-family: Tahoma;

	font-size: 12px;

	font-weight: bold;

	color: #006699;

}

.titulo_lojista {

	font-family: Tahoma;

	font-size: 14px;

	font-weight: bold;

	color: #990000;

}

.titulo_empresa {

	color: #333333;

	font-family: Tahoma;

	font-size: 14px;

	font-weight: bold;

}

a:link {

	color: #978971;

	text-decoration: none;

}

a:link_rodape {

	color: #FFFFFF;

	text-decoration: none;

}

a:visited {

	text-decoration: none;

	color: #978971;

}

a:hover {

	text-decoration: none;

}

a:active {

	text-decoration: none;

}

.titulo_cashcard {

	font-family: Tahoma;

	font-size: 14px;

	font-weight: bold;

	color: #006600;

}

.titulo_cashcard_menor {

	font-family: Tahoma;

	font-size: 12px;

	font-weight: bold;

	color: #006600;

}



.input {

	border: 1px solid #cccccc;

	color:#57493E;

	width: 198px;

	height: 18px;

	font:12px tahoma, verdana, arial;

}

.input_banner {

	border: 1px solid #cccccc;

	color:#57493E;

	width: 100px;

	height: 15px;

	font:10px tahoma, verdana, arial;

}

select { 

	border: 1px solid #cccccc;

	font:12px center tahoma, verdana, arial;

	color: #57493E;

	width: 160px;

}

textarea {

	width: 198px;

	color: #57493E;

	border: 1px solid #cccccc;

	font:12px tahoma, verdana, arial;

}

.msg_interesse {

	font-family: Tahoma;

	font-size: 11px;

	font-weight: bold;

	color: #666666;

}

.txt_interesse {

	font-family: Tahoma;

	font-size: 12px;

	color: #666666;

}

.banner {

	font-family: Tahoma;

	font-size: 11px;

	font-weight: bold;

	color: #FFFFFF;

}

.txt_interesse_bold {

	font-family: Tahoma;

	font-size: 12px;

	color: #666666;

	font-weight:bold;

}