
input.required, textarea.required {
	/*border: 1px solid #00A8E6;*/
}
input.validation-failed, textarea.validation-failed {
	/*border: 1px solid #FF3300;*/
	color : #FF3300;
}
input.validation-passed, textarea.validation-passed {
	/*border: 1px solid #00CC00;*/
	color : #000;
}

.validation-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #999999
	color: #FFF;
	font-weight: bold;
	font-family: Tahoma;
	font-size: 11px;
}

.custom-advice {
	margin: 5px 0;
	padding: 5px;
	background-color: #C8AA00;
	color : #FFF;
	font-weight: bold;
}

fieldset {
	padding: 1em;
	margin-bottom: 0.5em;
}

label {
	font-weight: bold;
}
.form-row {
	clear: both;
	padding: 0.5em;
}

.field-label {

}

.field-widget {

}