@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Open Sans', sans-serif;;
	font-size:18px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:400;
	background:url(../img/bottom.jpg) top left #231f20
}

a { text-decoration:underline }
a:hover { text-decoration:none }

#header { width:100%; height:80px;  }

.body465 { width:465px; margin:0 auto; }
.body800 { width:800px; margin:0 auto; }

#bkph1 { margin-top:14px; float:left; text-indent:-10000000px; width:72px; height:51px; background:url(../img/logo.png); }
h2 { margin-top:27px; float:left; margin-left:50px }
h1 { margin:0 auto; padding-bottom:20px; text-indent:-10000000px; width:298px; height:53px; background:url(../img/logo-ini.png) no-repeat; }

#section { width:100%; background:url(../img/bg.jpg) #1d1a1b; border-bottom:solid 1px #302c2d; border-top:solid 1px #302c2d; }

#selecionar { background:; width:800px; height:400px; margin:0 auto; }
#enviar { background:; width:800px; margin:0 auto; position:relative }
#enviar img { margin-top:1px; margin-bottom: -4px; }
.ico-foto { background:url(../img/icos.png) -13px -4px no-repeat; width:20px; height:35px; margin-right:17px; display: block;
float: left; }
.ico-enviar { background: url(../img/icos.png) -45px -2px no-repeat; width: 24px; height:35px; margin-right:17px; display: block;
float: left; }
.ico-editar { background: url(../img/icos.png) -82px -2px no-repeat; width: 24px; height:35px; margin-right:17px; display: block;
float: left; }
.ico-publi { background: url(../img/icos.png) -113px -2px no-repeat; width: 24px; height:35px; margin-right:17px; display: block;
float: left; }
.ico-ini { background: url(../img/icos.png) -166px -2px no-repeat; width: 24px; height:35px; margin-right:17px; display: block;
float: left; }
.ico-face { background: url(../img/icos.png) -193px -2px no-repeat; width: 24px; height:35px; margin-right:17px; display: block;
float: left; }
.ico-voltar { 
	background: url(../img/icos.png) -145px -5px no-repeat;
	width: 14px;
	height: 35px;
	margin-right: 9px;
	display: block;
	float: left;
} 
.ico-clip { background: url(../img/clip.png); width: 23px; height:24px; position:absolute; margin-left:3px; margin-top:19px; }



#selecionar .auto { width:246px; padding-top:170px; margin:0 auto } 
#enviar .auto {position:absolute; width:246px;margin-top: -80px;margin-left: 20px;} 


#bottom { width:100%; height:100%; padding-top:40px;padding-bottom:60px;   }
#bottom p { width:510px; font-size:12px; clear: both; float: left; } 
#bottom a { margin-top: -20px;   font-size:12px; color:#ed1c24; text-transform:lowercase; float: left; text-decoration:underline } 
#bottom a:hover { text-decoration:none } 

.escreva { float:left; height:120px; width: 462px; } 
#bottom label { font-size:10px; float:left; width:100%; } 
#bottom textarea { float:left; font-size:12px; margin-top:5px; width:380px; height:90px; padding-left:30px; padding-right:30px; padding-top:10px; background:#FFF; resize:none; border:0; } 



.postar-btn { margin-top:38px; float:right }
.publi-p { width:640px !important; padding:20px 80px 40px 80px; text-align:center } 
.publi-ini { width:640px !important; font-size:14px !important; padding:20px 80px 40px 80px; text-align:center } 

.assinatura { width:181px; margin:0 auto; padding-top:20px; clear:both } 
h5 { text-indent:-10000000px; width:98px; height:17px; background:url(../img/footer_logo.png) 0 40px no-repeat; padding-top:40px; padding-bottom: 10px;  margin:0 auto; }
h6 { font-size:12px; color:#585858; text-transform:none }

.user {float:right; width:240px; height:60px; background:; margin-top: 10px;  }
.user-foto { float:left; width:50px; height:50px; background:#333; border:solid 1px #666666; margin-right:10px;  }
.user p { font-size:12px; margin-top:10px;  }


#galeria-box { width:800px; display:table; padding-bottom:40px; margin:0 auto; }
#galeria-box h2 { width:400px; font-weight:100; font-size:32px; float:left; padding-top:50px; padding-bottom:10px; margin:0 auto; }
.galeria-link { padding-top:40px; padding-right: 5px; padding-bottom:40px; float:right}

.galeria { width:168px; height:186px; float:left; margin-bottom:40px; margin-right:40px; background:#FFF }
.gale-foto {  width:168px; height:136px; float:left; background:#666 }
.margin-right { margin-right:0; }

.galeria .user {float:left; width:186px; height:50px; background:; margin-top: 0; text-transform:none }
.galeria .user-foto { float:left; width:50px; height:50px; background:#333; border:0; margin-right:5px;  }
.galeria .user p { font-size:10px; margin-top:10px; color:#000}

.galeria .user a { text-decoration:underline }
.galeria .user a:hover { text-decoration:none }

#bottom-galeria { width:100%; height:100%; padding-top:0px;padding-bottom:60px;  }

.new-sel p {padding-top:60px; font-size:14px; padding-bottom:60px}
.kbs { text-transform:none; font-size:11px; margin-top:5px  }

#selecionar .new-sel .auto { padding-top:60px }

.erro { width:400px; height:40px; padding-top:16px; text-align:center; color: #b94a48; margin:0 auto; margin-top:40px;
background-color: #f2dede;
border:solid 1px #b94a48; border-radius:7px } 



