
	.carousel-container {
		position: relative;
		width: 940px;}

	.carousel {
		float: left; /* @INFO: propriedade adicionada */
		font-family: Arial;
		font-size: 12px;
		height: 280px;
		margin-bottom: 0.5em;
		position: relative;
		width: 940px;}

	.carousel .carousel-image {
		border: 0;
		display: block;}

	.carousel .carousel-feature {
		cursor: pointer;
		left: -1000px;
		position: absolute;
		top: -1000px;}

	.carousel .carousel-feature .carousel-caption {
		background: url(../../img/site/background-caption.png);
		bottom: 12px;
		height: 45px;
		left: 85px;
		position: absolute;
		width: 434px;}

	.carousel .carousel-feature .carousel-caption p {
		   float: left;
		font-size: 12px;
		font-weight: bold;
		line-height: 16px;
		margin: 7px 0 0 18px;
		text-align: center;
		width: 385px;}

	.carousel .zoom {
		background: url(../../img/site/imagens.png);
		display: block;
		height: 20px;
		position: absolute;
		right: 10px;
		text-indent: -9000px;
		top: 13px;
		width: 19px;}

	.carousel .dark { background-position: -515px -53px; }

	.carousel .light { background-position: -554px -53px; }

	.carousel .tracker-summation-container {
		background-color: #000;
		color: #FFF;
		margin: 3px;
		padding: 3px;
		position: absolute;
		right: 48px;
		top: 230px;
		}

	.carousel .tracker-individual-container {
		left: 255px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 330px;
		width:430px;}

	.carousel .tracker-individual-container li { list-style: none; }

	.carousel .tracker-individual-container .tracker-individual-blip {
		background: url(../../img/site/imagens.png) -658px -55px;
		height: 10px;
		margin: 0 10px 5px 0;
		text-indent: -9000px;
		width: 10px;}

	.carousel .tracker-individual-container .tracker-individual-blip-selected { background-position: -629px -55px; }

	#carousel-left, #carousel-right {
		background-image: url(../../img/site/imagens.png);
        cursor: pointer;
        height: 93px;
        position: absolute;
        text-indent: -9000px;
        width: 128px;
        top: 320px;
        z-index: 997;}

	#carousel-left {
		background-position: -709px -314px;
		left: 50px;}

	#carousel-right {
		background-position: -717px -448px;
		right: 50px;}

