
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/
	.Navigation { width: 500px; }

	html { overflow: hidden; }

	select { height: auto; }

	#carousel-left, #carousel-right { top: 220px; }

	.hfixie {
		height: 21px;
		line-height: 21px;}
	/* @End General */
