body { background: #7f181b url(../img/bg.jpg) repeat top center; font-family: 'Open Sans', sans-serif;  font-family:;
background-size: 60%; color: #fff; overflow-x: hidden; margin: 0; padding: 0; -webkit-box-shadow: inset 0px 0px 63px 2px rgba(0,0,0,0.7); -moz-box-shadow: inset 0px 0px 63px 2px rgba(0,0,0,0.7); box-shadow: inset 0px 0px 63px 2px rgba(0,0,0,0.7); }
img { max-width: 100%; height: auto; }
header, section, footer { max-width: 960px; margin: 0 auto; }
header { position: relative; max-width: 100% !important; background: transparent url(../img/chamada.png) no-repeat center center; height: 365px; padding-top: 50px; }
section {     
	text-align: center;
    margin-top: -65px; 
}
section p.telefone { font-size: 2em; font-weight: 800; font-style: italic; color: #f4ab00; text-shadow: 1px 2px 1px #000; margin: 0; padding: 0; text-align: left;}
section p.obs { font-weight: 800; font-size: 80%; text-align: right; padding: 0; margin: 0px; }
section p.telefone span { font-size: .75em; }
section p.text-whatsnex {     
	font-weight: bold;
    font-size: 22px;
    text-align: left;
    padding: 0;
    margin: 0px; 
}
footer { padding-top: 80px; padding-bottom: 40px; }
section img, footer img { margin: 0 auto; display: block; }
header img { margin: 0 auto !important; text-align: center; }
.img-content { margin: 60px auto 20px;     width: 100%;}
.cont-form {margin-top:6%;}
.text-input { width:100%; border:0; border-radius:3px;padding:20px;margin-bottom:10px; color: #93171f; font-weight: bold;}
.submit-input {padding:20px; width:100%;background:#e5b300;color: #93171f; border: 0; border-radius:3px; font-weight: bold; font-size:2em;}

.email::-webkit-input-placeholder:after { content:' (opcional)';font-size:1em;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-weight: bold;	
    color:    #93171f;
}
.email:-moz-placeholder:after { content:' (opcional)';font-size:1em;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-weight: bold;
	color:    #93171f;
	opacity:  1;
}
.email::-moz-placeholder:after { content:' (opcional)';font-size:1em;}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-weight: bold;
	color:    #93171f;
	opacity:  1;
}
.email:-ms-input-placeholder:after { content:' (opcional)';font-size:1em;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: bold;
	color:    #93171f;
}
# label.error{display:none!important;}
# input.error{ background:rgba(147,23,31,0.5)}

.enviado{text-align:center;color:#FFF; margin-top: -18px;}
iframe{border: 0;}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	header { background-size: 210%; height: 125px; padding-top:0; }
	section{padding-top: 0px;margin-top:0;}
	section p.telefone { font-size: 2em; padding:0;text-align: center; }
	section p.obs { text-align:center; }
	img { max-width: 95%; height: auto; }
	.img-content {
		margin: 10px auto 20px;
		width: 100%;
	}
	.text-whatsnex {display:none}
}
