html{font-family:'Lato', sans-serif;
}
body{}
h1 {
display: block;
width: 820px;
margin: 0 auto;
text-align: right;
font-size: 20px;
font-size: 32px;
font-size: 2rem;
color: #4B1D3D;
z-index: 5;
position: relative;
padding-top: 80px;
padding-bottom: 33px;
}

.wrap {
	width:1380px;
	height:1207px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	background:#fecf4f url(../img/people.jpg) no-repeat 0 113px;
	-webkit-box-shadow: 0px 0px 8px #4b1d3d;
	box-shadow: 0px 0px 8px #4b1d3d;
	-moz-box-shadow: 0px 0px 8px #4b1d3d;
	-o-box-shadow: 0px 0px 8px #4b1d3d;
	z-index:1;
	overflow:hidden;
}
.nivo-prevNav:hover {background:#0C6}

.sliderWrap {
	 height:535px;
	 width:1380px;
	left:50%;
	margin-left:-690px;
	top:250px;
	 position:absolute;
	 background:rgb(229,175,34) url(../img/bkg-buildings.png);
	 background:rgba(229,175,34,0.8) url(../img/bkg-buildings.png);
	 background-size:cover;
	 z-index:3;
}
.sliderContent{
	position:relative;
	/*overflow: hidden;*/
	margin:0 auto;
	height:600px;
	width:865px;
	z-index:4;
}
.pessoasBottom {
	height:103px;
	width:100%;
}
.content{
	margin: 0 auto;
	width: 1185px;
	height: 200px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	line-height: 1.0;
	border-bottom: 5px solid #E3A30B;
	margin-top: -14px;
}

.ie9 .content > p {
	font-size: 27px;
	top: -174px;
	left: -128px;
	width: 743px;
 }

.content > p {
	font-size: 27px;
	top: -7px;
	left: -466px;
	width: 743px;
} 

address {
	top:0;
	margin:40px 0 40px 0;
}
.controlNav-BKG-Bottom {
	text-align: left;
	height:55px;
	width:780px;
	padding: 0;
	position: absolute;
		bottom:41px;
		left:-15px;
	z-index: 5;
	background-color:rgb(75,29,61);
}
