#boxFrmCotacao{
	width: 236px;
	height: 376px;
	float: left;
	margin-top: 74px;
}

#boxFrmCotacao h2{
	background: #FDB813;
	width: 225px;
	color: #48193D;
	font-size: 22px;
	padding: 18px 0 16px 13px;
}

.frmCotacao{
	background: #FFF;
	width: 201px;
	height: 312px;
	border: none;
	padding: 12px 12px 0 17px;
}
.frmCotacao .inputDados{
	width: 191px;
	height: 35px;
	line-height: 35px;
}

.frmCotacao textarea{
	margin-top: 10px;
	height: 75px;
	width: 191px;
	float: left;
	font-size: 1rem;
	background-color: rgb(224,163,45);
	color: #4b1d3d;
	border: none;
	overflow: hidden;
	resize: none;
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Lato', sans-serif !important;
}

#boxFrmCotacao #submit{
	float: right;
	height: 49px;
	width: 96px;
	position: relative;
	bottom: 49px;
	right: -2px;
	background-color: rgb(75,29,61);
	color: rgb(253,184,19);
	border: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor: pointer;
}

.home address{
	position: relative;
	left: 433px;
	top: 765px;
	display: inline-block;
	font-size: 1rem;
	color: rgb(75,29,61);
}