html{font-family:'Lato', sans-serif;}

/*body{}*/
h1 {
	display:block;
	width:820px;
margin: 0 auto;
	text-align:right;
	font-size:20px;
	font-size: 32px;
	font-size:2rem;
	color:#FDB813;
	z-index: 5;
position: relative;
padding-top: 80px;
padding-bottom: 11px;

}

.wrap {
	width:1380px;
	height:1227px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	background:#fecf4f url(../img/infra-bkg-baby.png) no-repeat 0 113px;
	-webkit-box-shadow: 0px 0px 8px #4b1d3d;
	box-shadow: 0px 0px 8px #4b1d3d;
	-moz-box-shadow: 0px 0px 8px #4b1d3d;
	-o-box-shadow: 0px 0px 8px #4b1d3d;
	z-index:1;
	overflow:hidden;
}
.sliderWrap {
	height:535px;
	width:1380px;
	left:50%;
	margin-left:-690px;
	top:250px;
	position:absolute;
	 	z-index:3;
	background:rgba(75,29,61,0.8) url(../img/infra-slider.png) no-repeat;         
 	background:rgb(75,29,61) url(../img/infra-slider.png) no-repeat;
 	overflow: hidden;    
 } 
.sliderContent{
	position:relative;
	/*overflow: hidden;*/
	margin:0 auto;
	height:600px;
	width:865px;
	 z-index:4;
}
.pessoasBottom {
	height:103px;
	width:100%;
}

.ie9 .content > p {
	font-size: 27px;
	top: -174px;
	left: -128px;
	width: 743px;
 }


.content > p {
font-size: 27px;
top: -129px;
left: -344px;
width: 959px;
} 

address {
	top:0;
	margin:40px 0 40px 0;
}
.controlNav-BKG-Bottom {
	text-align: left;
	height:55px;
	width:780px;
	padding: 0;
	position: absolute;
		bottom:41px;
		left:-15px;
	z-index: 5;
	background-color:rgb(253,184,19);
}
.nivo-caption {
	color:rgb(75,29,61);
	background-color:rgb(253,184,19);
}
.nivo-prevNav {
    background: url("../img/arrow2.png") no-repeat rgb(253,184,19) !important;
    background-position:10px 10px !important;
}
.nivo-nextNav {
    background: url("../img/arrow2.png") no-repeat rgb(253,184,19) !important;
    background-position:-40px 10px !important;
}
.nivo-controlNav a {
	margin: 143px auto 0 auto;
	height: 200px;
	border-top: 5px solid rgb(227,163,11);
}
.nivo-controlNav a.active {
	background:rgb(253,184,19);
}
.content {
	margin:143px auto 0 auto;
	height:200px;
	border-top:5px solid rgb(227,163,11);
	width: 1185px;
}
/*====================LISTA INFRAESTRUTURA===========================================*/
.listaWrap{
	width:1010px;
	position:absolute;
		left:50%;
	margin-left:-505px;
	z-index: 10;
	overflow:hidden;
	margin-top: -14px;
}
.lista-infra{
	float:left;
	width:15%;
	height:145px;
	margin-top:20px;
	font-size: 0.8125rem;
	overflow:hidden;
}
.lista-infra > li {
	margin-top:15px;
	color:rgb(227,163,11);
}
.lista-infra li:first-child {
	margin-top:0;
}
.icon-list{
	height:10px;
	width:10px;
	margin-top:6px;
	background:url(../img/icon-ball.png) no-repeat;
}
.listaWrap > em {
	float:left;
	height:105px;
	font-size:1.7rem;
	color:rgb(169,142,161);
	margin-top:35px;
}

