* {
	padding:0;
	margin:0;
}
html {
	background-color:rgb(254,184,19) url(../img/body-bg.png);
}
body {
	background:#fecf4f;
	font-family: 'Lato', sans-serif !important;
	overflow-x:hidden;
}
.wrap {
	width:1380px;
	height: 1235px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	background:#fecf4f url(../img/people.jpg) no-repeat 0 113px;
	-webkit-box-shadow: 0px 0px 8px #4b1d3d;
	box-shadow: 0px 0px 8px #4b1d3d;
	-moz-box-shadow: 0px 0px 8px #4b1d3d;
	-o-box-shadow: 0px 0px 8px #4b1d3d;
	z-index:1;
	overflow:hidden;
}
.headerbg{
	width:1380px;
	height:113px;
	margin:0 auto;
	background:url(../img/body-bg.png);
	position:absolute;
	left:50%;
	margin-left:-690px;
	z-index:2;
	overflow:hidden;
	}
.content {
	margin:0 auto;
	width:1010px;
	height:1270px;
	overflow: hidden;
	position:relative;
	z-index:4;
	line-height:1.0;
	border-bottom:5px solid #e3a30b;
}

.ie9 .content img{border:none}

i {
	float:left;
	display:block;
	background:url(../img/sprites.png) no-repeat;
	margin:0;
	padding:0;
}
/*===============================================================================================================
												HEADER
===================================================================================================================*/
header {
	width:1010px;
	height:74px;
	margin:0 auto;
	position:relative;
	z-index:9;
}
#top{
	height:60px;
	background-color:rgb(254,207,79);
	text-align: center;
	font-size:10px;
	font-size:0.6rem;
	z-index:10;
}
#top ul {
	list-style: none;
	overflow: hidden; /*para IE */
	padding:19px 0 0 300px; /*para IE*/
}
#top > ul > li {
	display:block;
	float:left; /*para IE*/
	text-align: left;	
	line-height: 10px;
	border:solid 5px transparent;
}
.menuinter{width:100px}
.menucorreto{width:140px}
.menuamigo{width:116px}
.menuvirtual{width:90px}
.menuvideo{width:106px}
#interesse {height:20px; width:29px; background-position: 1px -7px;}
#corretor{height:20px; width:28px; background-position:10px -44px;} /* height:20px; width:20px; antes do IE8 3px -44px;*/
#indique{height:20px; width:23px; background-position:0 -76px;}
#tour{height:25px; width:27px; background-position:1px -99px;}
#video{height:20px; width:24px; background-position:2px -127px;}
#top a {
	position:relative;
		left:5px;
	text-decoration:none;
	color:rgb(75,29,61);
}
a > b {
	color:red;
	font-weight: normal;
}
header > figure{
	width:128px;
	height:128px;
	position:absolute;
		top:20px;
		/*left:170px;*/
	background:url(../img/sprites.png) no-repeat -2px -314px;
	box-shadow:2px 2px 5px rgb(0,0,0);
	z-index:2;
}
/*==========================CONTATO / INTERESSE =======================================*/
#contato-interesse {
	display:none;
	position:absolute;
		top:45px; /*45px;*/
		left:300px; /*249px;*/
	width:660px;
	background-color:rgb(253,184,19);
	border:solid 5px rgb(75,29,61);
	z-index:100;
}
.borderMaskInteresse {
	position:absolute;
	height:6px;
	width:100px;
	top:-6px;
	left:0;
	background-color:rgb(253,184,19);
}
h3,h5 {
	font-size: 1.2rem;
	margin:30px auto 20px auto;
	color:rgb(75,29,61);
	font-weight: normal;
	text-align:center;
}
h5{font-size:25px;margin-bottom:0;}
#contato-interesse fieldset {
	width:280px;
	/*padding-right:5px;*/
	border:none;
	margin-bottom: 40px;
}
.interesseDados {
	float:left;
	padding-left: 15px;
}
.inputDados {
	width:290px; /*274*/
	width: 100%;
	height:40px;
	line-height: 40px;
	padding-left:10px;
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	margin:8px 8px 8px 0;
	background-color: rgb(224,163,45);
	color:rgb(75,29,61);
	border:none;
}
.interesseMensagem{
	float:right;
	padding-right: 55px;
}
.interesseMensagem > textarea {
	height:150px;
	width:290px;
	width:100%;
	padding-left:10px;
	padding-top:5px;
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	margin-top:8px;
	background-color: rgb(224,163,45);
	color:rgb(75,29,61);
	border:none;
	overflow: hidden;
	margin-right:12px;
	resize:none;
}
.clicouFade{
	background-color:rgb(253,184,19);
	border:solid 5px rgb(75,29,61) !important;
	/*margin-bottom:-5px;*/
	margin-top:-15px;
	padding-top:15px;
	color:rgb(75,29,61);
	border-bottom:solid 5px transparent;
	z-index:10000;
}
.clicouFade a,
.clicouFade a > b {
	color:rgb(75,29,61) !important;
	font-weight:bold !important;
}
#submit {
	height:70px;
	width:70px;
	position:absolute;
		bottom:10px;
		right:10px;
	background-color:rgb(75,29,61);
	color:rgb(253,184,19);
	border:none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor:pointer;
}
#submit:hover{	
	background-color:#c83e3c;
}
/*PARA O IE */
.placeholder {
	font-family: 'Lato', sans-serif;
	background-color: rgb(224,163,45);
	color:rgb(75,29,61);
}
/* PARA O WEBKIT */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder  {
	color:rgb(75,29,61);
}
/*========================================================================================================
											INDIQUE AMIGO
==========================================================================================================*/
#indique-amigo {
	display:none;
	position:absolute;
		top:45px;
		left:310px;
	width:660px;
	background-color:rgb(253,184,19);
	border:solid 5px rgb(75,29,61);
	z-index:100;
}
.borderMaskIndicar {
	position:absolute;
	height:6px;
	width:116px;
	top:-6px;
	left:250px;
	background-color:rgb(253,184,19);
}
fieldset span {
	font-size:1.2rem;
	color:rgb(75,29,61);
	display:block;
	width:100px;
}
.indiqueDados {
	width:290px;
	/*padding-left:10px;*/
	border:none;
	margin-right:10px;
}
.pessoa {float:left;margin-left:18px;margin-right:0;}
.amigo {float:right;margin-right:40px;margin-left:0;}
.indiqueMensagem {
	padding-left:20px;
	clear:both;
	border:none;
	margin-bottom:40px;
}
.indiqueMensagem > textarea {
	width:598px;
	height:141px;
	resize:none;
	padding-left:10px;
	padding-top:10px;
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	margin-top:8px;
	background-color: rgb(224,163,45);
	color:rgb(75,29,61);
	border:none;
	overflow: hidden;
}
/*========================================================================================================
											NAV - MENU
==========================================================================================================*/
#menu {
	color:rgb(253,184,19);
	height:55px;
	font-size:14px;
	font-size:0.8rem;
}
#menu ul {
	float:left;
	padding-left:175px; /*360px;*/
	list-style: none;
	display:inline;
}
#menu ul li {
	display:inline;
}

.ie9 #menu ul li a {font-size: 12px;}
.ie8 #menu ul li a {font-size: 13px;}
.ie7 #menu ul li a {font-size: 13px;}

#menu ul li a {
	display:inline;
	display:inline-block;
	height:100%;
	font-weight: 900;
	font-size: 15px;
	line-height: 100%;
	padding:19px 12px 19px 12px;
	color:rgb(253,184,19);
	text-decoration: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
#menu ul li:hover a,
#menu ul li:active a {
	background:#c93e3e;
}
#instagram{width: 42px;
height: 30px;
background-position: 16px -156px;
margin: 10px 16px 0 9px;
border-left: solid 1px #FDB813;}
#facebook{width: 30px;
height: 30px;
background-position: 3px -187px;
margin: 10px 0 0 10px;}
.current {
	border-top:solid 4px rgb(253,184,19);
	padding-top:16px;
}
/*============================================================================================
											ARTICLE
==============================================================================================*/
strong {
	float:right;
	display:block;
	padding:5px;
	font-size:49px;
	font-weight: 100;
	text-shadow:0 0 5px #fecf4f;
	/*width:310px;*/
}
#escolhas {
	color: #C83E3C;
	margin: 65px 120px 0 0;}
#conquistas {
	color:rgb(75,69,21);
	margin:109px -460px 0 0
}
/*============================================CAIXAS FOTOS====================================*/
em {
	float:right;
	width:340px;
	margin-top:40px;
	display:block;
	text-transform: uppercase;
	color:rgb(75,29,61);
	font-weight: bold;
	font-size:42px;
	font-style: normal;
	clear:right;
}
#boxEmp{
	position:absolute;
	left:380px;
	top:214px;
	width:256px;
	height:280px;
	text-decoration:none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#boxEmp:hover{ 
	box-shadow:0 0 10px #4B1D3D;
	left:377px;
	top:211px;
}
.textdecorationnone{text-decoration:none}
#boxInfra{
	position:absolute;
		right:0;
	width:350px;
	height:290px;
	top:400px;
	left:650px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;

	/*margin:300px -620px 0 0;*/
}
#boxInfra:hover{ box-shadow:0 0 10px #4B1D3D; 	top:397px;
	left:647px;
}
#boxPlant{
	position:absolute;
	width:367px;
	height:355px;
	top: 520px;
	left: 260px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	/*margin:15px 380px 50px 0;firefox*/
	/*margin:-150px 380px 50px 0;/*chrome*/
}
#boxPlant:hover{ box-shadow:0 0 10px #4B1D3D; top: 517px;
left: 257px;
}
#boxEmp figcaption {
	width:176px;
	padding:25px 55px 25px 25px;
	font-size:20px;
	font-weight: bold;
	color:rgb(75,29,61);
	background-color:rgb(253,184,19);
}
#boxInfra figcaption {
	padding:25px 55px 25px 25px;
	font-size:20px;
	font-weight: bold;
	color:rgb(253,184,19);
	background-color:rgb(75,29,61);
}
#boxPlant figcaption {
	padding:25px 55px 25px 25px;
	font-size:20px;
	font-weight: bold;
	color:rgb(75,29,61);
	background-color:rgb(253,184,19);
}
address {
	position: relative;
	left: 650px;
	top: 748px;
	display: inline-block;
	font-size: 1rem;
}
address p {
	margin-top:15px;
	margin-bottom:-10px;
	font-size:16px;
	font-weight:700;
	font-style:normal;
}
address i {
	width: 48px;
	height: 68px;
	margin-top: -5px;
	background: url(../img/sprites.png) no-repeat -53px 0px;
}

address span{font-weight:700; font-style:normal; font-size:22px;}

.content > p {
	position:relative;
	top: 488px;
 	left: 0px;	
	display:inline-block;
	text-align: right;
	text-transform: uppercase;
	font-size: 27px;
	color: #4B1D3D;
}
/*=============================================================================================================
											FOOTER		
===============================================================================================================*/
footer {
	width:1010px;
	height:157px;
	border-top:solid 5px #e3a30b;
	overflow:hidden;
	margin:0 auto;
	position:relative;
	z-index:3;
}
.footerbg{
	width:1380px;
	height:177px;
	margin:0 auto;
	background:rgb(75,29,61) url(../img/apoio-new.png) no-repeat 0 40px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	z-index:2;
	overflow:hidden;
}
/*
#apoio {
	float:left;
	height:500px;
	width:500px;
	margin:60px 0 0 15px;
	background:rgb(255,255,255);
	border-radius:0.6rem;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);
}
*/
#apoio {
	float:left;
	width:535px;
	height:156px;
}
#apoio ul{
	margin-left:20px;
	float:left

}
.apoiadores{
	width:80px;
	height:40px;
	float:right;
	margin:100px 7px 0 0;
	display:inline-block;
	background:url(../img/sprites.png) no-repeat;
}
#rodobens{
	background-position:0 -268px;
	margin-right: 16px;
	margin-left: 30px;
}
#capa{background-position:-89px -265px;}
#nex{background-position:-168px -268px;width:152px;}
#divex-logo {
	float:right;
	margin:80px 0px 0 0;
	width:80px;
	height:17px;
}
/*======================================================================================
				PLANTAS.html
========================================================================================*/
.planta {
}
#planta1{
	position:absolute;
		top:144px;
		/*left:353px;*/
		right:50%;
		margin-right:-20px;
	z-index:5;
}
#planta2{
	position:absolute;
		top:500px;
		/*right:376px;*/
		left:50%;
	z-index:5;
}
#planta3{
	position:absolute;
		top:960px;
		
		left:50%;
		margin-left:-490px;
	z-index:5;
}

.planta h1 {
	float:right;
	margin-right:260px;
	margin-top:50px;
	text-align:right;
	font-size:20px;
	font-size: 32px;
	font-size:2rem;
	color:rgb(253,184,19);
}
.planta .wrap {
	width:1380px;
	height:1788px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	background:#fecf4f url(../img/bkg-plantas-back.gif) no-repeat 0 113px;
	-webkit-box-shadow: 0px 0px 8px #4b1d3d;
	box-shadow: 0px 0px 8px #4b1d3d;
	-moz-box-shadow: 0px 0px 8px #4b1d3d;
	-o-box-shadow: 0px 0px 8px #4b1d3d;
	z-index:1;
	overflow:hidden;
}
.planta .conteudo{
	background:url(../img/bg-plantas-3.jpg) 0 -7px no-repeat;
	width:1380px;
	height:1280px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	margin-top:40px;
	box-shadow:2px 2px 5px -10px rgb(0,0,0);
	z-index:5;
}
.conteudodown{
	margin-top:010px;
}

.planta .content > p {
font-size: 27px;
top: -7px;
left: -473px;
width: 743px;
color: #4B1D3D;
} 

.planta .content{
margin: 0 auto;
width: 1185px;
height: 200px;
overflow: hidden;
position: relative;
z-index: 5;
line-height: 1.0;
border-bottom: 5px solid #E3A30B;
margin-top: 1332px;
	
	}

.planta address {
	top:0;
	margin:40px 0 40px 0;
}

.planta .visite {
	font-size:20px;
	font-size:1.2rem;
	margin:0 !important;
	font-weight: bold;
}
.planta #fone {
	margin:0 0 40px 0;
}
.planta #foot {
	/*margin-top:780px;*/
}
#tipoPlanta{
	position:absolute;
		top:350px;
		left:50%;
		margin-left:100px;
	font-size:30px;
	font-size:2rem;
	color:rgb(65,35,62);
	text-transform:uppercase;
	z-index:5;
}
#area{
	position:absolute;
		top:655px;
		left:50%;
		margin-left:-320px;
	color:rgb(253,184,19);
	font-size:50px;
	font-size:3rem;
	z-index:55;
}
#implas{
	position:absolute;
		top:866px;
		left:50%;
		margin-left:-257px;
	color:#4b1d3d;
	font-size:50px;
	font-size:3rem;
	z-index:55;
}


/*======================================================================================
				LOCALIZAÇÃO.html
========================================================================================*/
.localizacao h1 {
	float:right;
	margin-right:30px;
	margin-top:30px;
	text-align:right;
	font-size: 42px;
	font-weight:100;
	color:#4b1d3d;
	z-index:5;
}
.localizacao h2 {
	width:228px;
	margin-left:505px;
	margin-top:100px;
	text-align:left;
	font-size: 17px;
	line-height:1.2;
	font-weight:500;
	color:#4b1d3d;
	z-index:5;
}
.localizacao h4 { 
	margin-top:490px;
	margin-right:45px;
	float:left;
	text-align:left;
	font-size: 15px;
	line-height:1.2;
	font-weight:500;
	color:#fdb813;
}
.marginleft{margin-left:505px}

.localizacao .content2 > p {
font-size: 27px;
top: 49px;
left: 0;
width: 608px;
z-index: 55;
position: absolute;
text-align: right;
color: #4B1D3D;} 

.localizacao .content{ 
margin: 0 auto;
width: 1010px;
height: 800px;
overflow: hidden;
position: relative;
z-index: 5;
line-height: 1.0;
border-bottom: 0;
	
	}



.localizacao .content2{
margin: 0 auto;
width: 1010px;
height: 200px;
overflow: hidden;
position: relative;
z-index: 5;
line-height: 1.0;
border-bottom: 5px solid #E3A30B;
	
	}

.localizacao address {
	top:0;
	margin:40px 0 40px 0;
}


.mapWrap {
	position:absolute;
	width:690px;
	margin-top:230px;
	left:50%;
	margin-left:-00px;
	background-color:rgb(253,184,19);
	overflow:hidden;
	z-index:5;
}
.mapContent {
	float:left;
	width:440px;
	height:390px;
	padding:30px 30px 0 30px;
	background:#4b1d3d;
}

.localizacao .wrap {
	width:1380px;
	height:1295px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	background:#fecf4f url(../img/bg-loc.jpg) no-repeat 0 113px;
	-webkit-box-shadow: 0px 0px 8px #4b1d3d;
	box-shadow: 0px 0px 8px #4b1d3d;
	-moz-box-shadow: 0px 0px 8px #4b1d3d;
	-o-box-shadow: 0px 0px 8px #4b1d3d;
	z-index:1;
	overflow:hidden;
}

.localizacao .mapContent p{
	color:#f4b116;
	margin-top:10px;
	font-weight:700;
	font-size:19px;
	text-transform:uppercase;
	
	
	
	}
/*======================================================================================
				CONTATO.html
========================================================================================*/
.contato h1 {
	float:right;
	margin-right:30px;
	margin-top:30px;
	text-align:right;
	font-size: 42px;
	font-weight:100;
	color:#4b1d3d;
	z-index:5;
}

.contato .wrap {
	width:1380px;
	height:1269px;
	position:absolute;
	left:50%;
	margin-left:-690px;
	background:#fecf4f url(../img/bg-contato.jpg) no-repeat 0 113px;
	-webkit-box-shadow: 0px 0px 8px #4b1d3d;
	box-shadow: 0px 0px 8px #4b1d3d;
	-moz-box-shadow: 0px 0px 8px #4b1d3d;
	-o-box-shadow: 0px 0px 8px #4b1d3d;
	z-index:1;
	overflow:hidden;
}

.contato .content { background:;
	margin:0 auto;
	width:1010px;
	height:774px;
	overflow: hidden;
	position:relative;
	z-index:4;
	line-height:1.0;
	border-bottom:0;
	
	}
	
.contato .content2 > p {
font-size: 27px;
top: 88px;
left: 0;
width: 608px;
z-index: 55;
position: absolute;
text-align: right;
color: #4B1D3D;} 


.contato .content2{
margin: 0 auto;
width: 1010px;
height: 200px;
overflow: hidden;
position: relative;
z-index: 5;
line-height: 1.0;
border-bottom: 5px solid #E3A30B;
}

.contato address {
	top:0;
	margin:40px 0 40px 0;
}
	

.contato h2 {
	width:428px;
	margin-left:;
	margin-top:80px;
	text-align:left;
	font-size: 30px;
	text-transform:uppercase;
	line-height:1.2;
	font-weight:500;
	color:#4b1d3d;
	margin-bottom:25px;
}

.contato h3 {
	width:268px;
	position:absolute;
margin-left: 526px;
margin-top: 242px;
	text-align:left;
	font-size: 20px;
	text-transform:uppercase;
	line-height:1.2;
	font-weight:500;
	color:#fdb813;
	margin-bottom:25px;
}
.contatoEndereco { 
	width:428px;
	margin-left:;
	text-align:left;
	font-size: 12px;
	line-height:1.2;
	font-weight:700;
	color:#4b1d3d;
}
.visitespan{	line-height:1.2;
	font-weight:700;
	text-align:left;
font-size: 22px;}


#contatoform fieldset {
	width:280px;
	border:none;
	margin-top: 20px;
	color:#4b1d3d;
}
#contatoform .interesseDados {
	float:left;
	padding-left: 0px;
}
#contatoform .inputDados {
	width:466px; /*274*/
	height:44px;
	line-height: 40px;
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	margin:8px 8px 8px 0;
	background-color: rgb(224,163,45);
	color:#4b1d3d;
	border:none;
	padding-left:10px;
}

#contatoform textarea {
	margin-top:10px;
	height:190px;
	width:466px;
	float:left;
	font-size:1rem;
	font-family: 'Lato', sans-serif;
	background-color: rgb(224,163,45);
	color:#4b1d3d;
	border:none;
	overflow: hidden;
	resize:none;
		padding-left:10px;
	padding-top:5px;
}

#contatoform #submit {
	height:96px;
	width:96px;
	position:absolute;
		top:585px;
		left:410px;
	background-color:rgb(75,29,61);
	color:rgb(253,184,19);
	border:none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	cursor:pointer;

}

#contatoform #submit:hover{	
	background-color:#c83e3c;

}

p.texto_home {
	left: 0px;
	float: left;
	position: absolute;
	margin: 473px 0px 0px 1px;
	font-size: 27px;
	z-index: 9999;
}












