* {
	padding:0;
	margin:0;
}
html {
	background:rgb(254,184,19) url(../img/people.png) no-repeat 0 113px;
}
body {
	background-color:rgb(254,184,19) url(../img/body-bg.png);
	font-family: 'Lato', sans-serif;
}
.wrap {
	width:100%;
	/*width:1010px;*/
	/*width:1380px;*/
	margin:0 auto;
	background:url(../img/content-bottom-bg.png) repeat-x bottom;
	-webkit-box-shadow: 2px 2px 5px rgb(0,0,0);
	box-shadow: 2px 2px 5px rgb(0,0,0);
}
.content {
	margin:0 auto;
	width:1010px;
	overflow: hidden;
}
i {
	float:left;
	display:inline-block;
	background:url(../img/sprites.png) no-repeat
}
/*===============================================================================================================
												HEADER
===================================================================================================================*/
header {
	width:1010px;
	height:113px;
	margin:0 auto;
	position:relative;
}
#top{
	height:60px;
	background-color:rgb(254,207,79);
	text-align: center;
	font-size:0.6rem;
}
#top ul {
	padding-top:15px;
	list-style: none;
}
#top > ul > li {
	display:inline-block;
	overflow: hidden;
	width:100px;
}
#interesse {height:20px; width:24px; background-position: -1px -7px;}
#corretor{height:20px; width:20px; background-position:-3px -44px;}
#indique{height:20px; width:20px; background-position:0 -76px;}
#tour{height:25px; width:25px; background-position:1px -99px;}
#video{height:20px; width:20px; background-position:2px -127px;}
#top a {
	position:relative;
		left:-10px;
	text-decoration:none;
	color:rgb(75,29,61);
}
a > b {
	color:red;
	font-weight: normal;
}
header > figure{
	width:128px;
	height:128px;
	position:absolute;
		top:20px;
		/*left:170px;*/
	background:url(../img/sprites.png) no-repeat -2px -314px;
	box-shadow:2px 2px 5px rgb(0,0,0);
}
/*========================================================================================================
											NAV - MENU
==========================================================================================================*/
#menu {
	background-color:rgb(75,29,61);
	color:rgb(253,184,19);
	height:55px;
	font-size:0.8rem;
	overflow:hidden;
}
#menu ul {
	float:left;
	padding-left:175px; /*360px;*/
	list-style: none;
	display:inline;
}
#menu ul li {
	display:inline;
}
#menu ul li:last-child {
	border-right: solid 1px rgb(253,184,19);
}
#menu ul li a {
	display:inline;
	display:inline-block;
	height:100%;
	line-height: 100%;
	padding:20px 15px 20px 15px;
	color:rgb(253,184,19);
	text-decoration: none;
}
#menu ul li:hover a,
#menu ul li:active a {
	border-top:solid 4px rgb(253,184,19);
	padding-top:16px;
}
#instagram{width:30px;height:30px;background-position:0px -159px; margin:10px;}
#facebook{width:30px;height:30px;background-position:-2px -190px; margin:10px;}
/*============================================================================================
											ARTICLE
==============================================================================================*/
strong {
	float:right;
	display:block;
	padding:5px;
	font-size:2.68rem;
	/*width:310px;*/
	background-color:rgb(255,204,203);
}
#escolhas {
	color:rgb(200,62,60);
	margin:80px 200px 0 0;
}
#conquistas {
	color:rgb(75,69,21);
	margin:145px -420px 0 0;
}
/*============================================CAIXAS FOTOS====================================*/
em {
	float:right;
	width:340px;
	margin-top:60px;
	display:block;
	text-transform: uppercase;
	color:rgb(75,29,61);
	font-weight: bold;
	font-size:2.5rem;
	font-style: normal;
	clear:right;
}
#boxEmp{
	float:right;
	margin:100px 30px 0 0;
}
#boxInfra{
	float:right;
	width:350px;
	height:290px;
	margin:300px -620px 0 0;
}
#boxPlant{
	float:right;
	/*margin:15px 380px 50px 0;firefox*/
	margin:-150px 380px 50px 0;/*chrome*/
}
#boxEmp figcaption {
	padding:25px 40px 25px 40px;
	font-size:1rem;
	font-weight: bold;
	color:rgb(75,29,61);
	background-color:rgb(253,184,19);
}
#boxInfra figcaption {
	padding:25px 40px 25px 40px;
	font-size:1rem;
	font-weight: bold;
	color:rgb(253,184,19);
	background-color:rgb(75,29,61);
}
#boxPlant figcaption {
	padding:25px 40px 25px 40px;
	font-size:1rem;
	font-weight: bold;
	color:rgb(75,29,61);
	background-color:rgb(253,184,19);
}
address {
	float:right;
	margin:250px -700px 0 0;
	display:block;
	font-size:1rem;
	color:rgb(75,29,61);
}
address p {
	margin-top:30px;
	font-size:2.4375rem;
}
address i {
	width:25px;
	height:40px;
	background:url(../img/sprites.png) no-repeat 0px -226px;
}
.content > p {
	float:right;
	display:block;
	margin:140px 30px 0 0;
	text-align: right;
	font-size:1.4375rem;
	color:rgb(75,29,61);
}
/*=============================================================================================================
											FOOTER		
===============================================================================================================*/
footer {
	width:100%;
	height:156px;
	border-top:solid 5px rgb(253,184,19);
	background-color:rgb(75,29,61);
	overflow:hidden;
}
/*
#apoio {
	float:left;
	height:500px;
	width:500px;
	margin:60px 0 0 15px;
	background:rgb(255,255,255);
	border-radius:0.6rem;
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	transform:rotate(-10deg);
}
*/
#apoio {
	float:left;
	width:550px;
	height:100%;
	background:url(../img/apoio-bkg.png) no-repeat bottom;
}
.apoiadores{
	width:80px;
	height:40px;
	float:right;
	margin:80px 30px 0 0;
	display:inline-block;
	background:url(../img/sprites.png) no-repeat;
}
#rodobens{background-position:0 -268px; margin-right:50px;}
#capa{background-position:-89px -265px;}
#nex{background-position:-168px -268px;width:152px;}
#divex-logo {
	float:right;
}
/*=============================BIG SCREEN ====================*/
@media screen and (min-width: 1400px) { 
	.wrap {
		width:1380px;
		margin:0 auto;
		-webkit-box-shadow: 2px 2px 5px rgb(0,0,0);
		box-shadow: 2px 2px 5px rgb(0,0,0);	
	}
}