@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	color:#414141;
	font-weight:400;
		height:670px;
	text-shadow:0px 1px 0px #FFF;
	background:url(../img/bg.jpg) fixed bottom no-repeat #007e77;
}

/* -----------------------------------HEADER----------opacity:0.9; filter: alpha(opacity=90);--------------- */
.left { width:500px; height:20px; position:fixed; top:20px; left:30px }
.line {width:0; height:20px; float:left; margin-left:15px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
h1 { text-indent:-10000000px }
h2 { text-indent:-10000000px }
h3 { color:#bed62f; font-size:17px; font-weight:700; text-transform:uppercase; text-shadow:0 0 0;  }


.midle { width:578px; height:283px; margin-left:-409px; position:fixed; bottom:40%; left:50%; background:url(../img/principal.png) }

.box { width:220px; height:490px; padding:25px 35px 35px 35px;  position:absolute; top:5%; right:30px; border-radius:5px;  background:#edf6f4; text-transform:uppercase ;font-size:16px; }

.box .title { color:#0a93ac; font-size:23px; font-weight:100; margin-bottom:20px;  } 
.box span { font-weight:900 } 

.box .textfield {  height:40px; margin-bottom:10px; border-radius:5px; border:1px solid #0a93ac; background:#FFF; color:#999  }
.ie7 .box .textfield { height:30px; padding-top:10px }
.ie8 .box .textfield { height:30px; padding-top:10px }

.box .nome{ width:155px; padding-left:65px }
.box .mail{ width:145px; padding-left:75px }
.box .tel{ width:120px; padding-left:100px }

.box textarea { width:210px; height:90px; padding-left:10px; padding-top:35px; margin-bottom:10px; border-radius:5px; border:1px solid #0a93ac; background:#FFF; color:#999; resize:none }

.obri { font-size:11px; font-weight:400; margin-bottom:10px; text-transform:lowercase  }
.box label p { position:absolute; margin-top:11px; margin-left:10px }
.ie7 .iemail { position:absolute; margin-top:67px; margin-left:-215px;  }
.ie7 .ietel { position:absolute; margin-top:67px; margin-left:-215px;  }
.ie7 .iemen { position:absolute; margin-top:67px; margin-left:-215px;  }

.box .button { width:220px; height:40px; margin-bottom:10px; border-radius:5px; border:1px solid #0a93ac; background:#0a93ac; color:#FFF; cursor:pointer  }
.box .button:hover { background:#32b4cc; color:#FFF  }



/* -----------------------------------FOOTER---------------------------------------- */


footer{width:100%; height:80px; position:fixed; bottom:0; background:#FFF; }

footer .foo_left { float:left; width:261px; height:61px; margin-top:12px; margin-left:30px; background:url(../img/logos.png); }
footer .foo_right { float:right; width:435px; margin-top:25px; margin-right:150px; font-size:10px; text-align:right }


#divex{
	width:77px;
	height:16px;
	background:url(../img/footer-divex.png);
	position:fixed;
	bottom:30px;
	right:30px;
}

#divex:hover{
	background:url(../img/footer-divex.png) 0 16px;
}


.sucbox { width:100%; height:100%; position:fixed; background:url(../img/space.png); z-index:9999; }

.sucbox p { left:50%; margin-left:-320px; margin-top:-50px; position:fixed;  top:50% }
.sucbox .title { color:#0a93ac; font-size:32px; font-weight:200; margin-bottom:20px;  } 
.sucbox span { font-weight:900 } 
.fechar { width:150px; height:60px; border-radius:5px; border:1px solid #0a93ac; background:#0a93ac; color:#FFF; cursor:pointer; left:50%; margin-left:-87px; margin-top:08px; position:fixed;  top:50% }
.fechar:hover { background:#32b4cc; color:#FFF  }
.fechar i { margin-top:14px; margin-left:25px; margin-right:15px; background:url(../img/ok.png); width:32px; height:32px; float:left } 

.ok { margin-top:10px; font-weight:100;  font-size:36px }
.abkuu {width:0; height:20px; float:left; margin-left:15px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }

.ie9 .abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
.ie8 .abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
.ie7 .abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
}
