
	/* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
	/*
	div.content {
		display: none;
		float: right;
		width: 550px;}

	div.content a, div.navigation a {
		color: #777;
		text-decoration: none;}

	div.content a:focus, div.content a:hover, div.content a:active { text-decoration: underline; }

	div.controls {
		height: 23px;
		margin-top: 5px;}

	div.controls a { padding: 5px; }

	div.ss-controls { float: left; }

	div.nav-controls { float: right; }
	*/

	div.slideshow-container {
		/*clear: both;*/
		float: left;
		/*height: 354px;*/ /* This should be set to be at least the height of the largest image in the slideshow */
		position: relative;}

	div.loader {
		background: url(../../img/site/loader.gif) center center no-repeat;
		height: 354px;
		left: 0;
		position: absolute;
		top: 0;
		width: 525px;} /* This should be set to be at least the height of the largest image in the slideshow */

	div.ImagePreview {}

	div.ImagePreview span.image-wrapper {
		display: block;
		left: 0;
		position: relative; /* estava absolute */
		top: 0;}

	div.ImagePreview a.advance-link {
		display: block;
		/*height: 354px;*/ /* This should be set to be at least the height of the largest image in the slideshow */
		/*line-height: 354px;*/ /* This should be set to be at least the height of the largest image in the slideshow */
		text-align: center;
		/*width: 525px;*/}

	/*
	div.ImagePreview a.advance-link:hover, div.ImagePreview a.advance-link:active, div.ImagePreview a.advance-link:visited { text-decoration: none; }

	div.ImagePreview img {
		border: 1px solid #CCC;
		vertical-align: middle;}

	div.download { float: right; }

	div.caption-container {}
	*/

	span.image-caption {
		display: block;
		/*position: absolute;*/}

	/*
	div.caption {
		background-color: #000;
		color: #CCC;
		padding: 12px;}

	div.caption a { color: #FFF; }

	div.image-title {
		font-size: 1.4em;
		font-weight: bold;}

	div.image-desc {
		line-height: 1.3em;
		padding-top: 12px;}
	*/

	div.navigation { /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */ }

	/*
	ul.thumbs {
		clear: both;
		margin: 0;
		padding: 0;}

	ul.thumbs li {
		float: none;
		list-style: none;
		margin: 0;
		padding: 0;}
	*/

	a.thumb {
		border: none;
		display: inline;
		padding: 0;}

	ul.Thumbs li.selected a.thumb {
		background-position: right -783px;
		color: #259A8E;}

	/*
	a.thumb:focus { outline: none; }

	ul.thumbs img {
		border: none;
		display: block;}

	div.pagination { clear: both; }

	div.navigation div.top {
		height: 11px;
		margin-bottom: 12px;}

	div.navigation div.bottom { margin-top: 12px; }

	div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
		border: 1px solid #CCC;
		display: block;
		float: left;
		margin-right: 2px;
		padding: 4px 7px 2px 7px;}

	div.pagination a:hover {
		background-color: #EEE;
		text-decoration: none;}

	div.pagination span.current {
		background-color: #000;
		border-color: #000;
		color: #FFF;
		font-weight: bold;}

	div.pagination span.ellipsis {
		border: none;
		padding: 5px 0 3px 2px;}

	#captionToggle a {
		background: url(caption.png) right top no-repeat;
		display: block;
		float: right;
		margin-top: 5px;
		padding: 5px 30px 5px 5px;}
	*/

