
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/

	.Home .ItemHome a { background-position: 0 -30px !important; } /* Declaração necessária para que o item apareça ativo na home */

	select { width: 178px; }

	.FloatForm .Form { display: inline; }

	.BottomContainer {
		background-position: left top;
		overflow: hidden;}

	.Sponsors { margin-right: -3px; }

	.ContainerImagePreview { width: 525px; }

	.Ribbon { right: -1px; }

	.Ribbon span { display: inline-block; }

	.Sidebar { margin-right: 42px; }

	.SubmitBar { display: inline; }

	.Form ul li { padding-bottom: 8px; }

	label { padding-right: 7px; }

	/* @End General */


	/* @Home ****************/

	.Features { width: 349px; }

	.Features ul { padding-left: 6px;}

	#ContainerFormIndique ul.Second label { width: 90px; }

	/* @End Home */


	/* @Casas ****************/

	.SmallThumbs {
		display: inline;
		margin-left: 25px !important;}

	.Casas .Thumbs {
		display: inline;
		margin-left: 25px;}

	/* @End Casas */


	/* @Contato ****************/

	#FormContato { width: 564px; }

	.LabelFaixaEtaria, .LabelEstadoCivil, .LabelBairro, .LabelUf, .LabelCidade {
		height: 21px;
		line-height: 21px;}

	/* @End Contato */


	/* @Galleriffic ****************/

	div.slideshow-container { width: 525px; } /* Configurar a largura da div conforme a largura da imagem para evitar que o IE6 torne a div 100% */

	/* @End Galleriffic */
