
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/

	select {
		height: auto;
		width: 178px;}

	/* @End General */


	/* @Home ****************/


	/* @End Home */


	/* @Contato ****************/

	.Form ul li { padding: 0 0 8px 0; }

	.LabelFaixaEtaria, .LabelEstadoCivil, .LabelBairro, .LabelUf, .LabelCidade {
		height: 21px;
		line-height: 21px;}

	/* @End Contato */

