
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Reset ****************/

	body, p, span, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
	pre, form, fieldset, input, textarea, blockquote, th, td {
		margin: 0;
		padding: 0;}

	fieldset, img {
		border: none;
		margin: 0;}

	img { display: block; }

	a:hover, a:active { outline: none; }

	caption, cite, code, dfn, em, strong, th, var, address {
		font-style: normal;
		font-weight: normal;}

	address { display: inline; }

	h1, h2, h3, h4, h5, h6 {
		font-size: 100%;
		font-weight: normal;}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;}

	blockquote, q { quotes: none; }

	abbr, acronym { border: 0; }

	caption, th { text-align: left; }

	input, textarea, select { outline: none; }

	textarea {
		overflow: auto;
		resize: none;}

	ul, ol, dl { list-style-type: none; }

	/* @End Reset */


	/* @General ****************/

	body {
		background: #FFF url(../../img/site/background.png) repeat-x;
		color: #435956;
		font: 14px Arial, Verdana, Tahoma;}

	p {}

	a:link, a:visited, a:hover, a:active {
		color: #435956;
		text-decoration: none;}

	.CampoPadrao { border: 1px solid #CCC; }

	input, textarea, select {
		font: 14px Arial, Verdana, Tahoma;
		padding: 7px 4px;}

	input, textarea { width: 167px; }

	textarea { height: 106px; }

	select {
		height: 33px;
		padding: 4px;
		width: 177px;}

	select { line-height: 26px;# } /* @HACK: esta regra força a alteração da altura do select, funciona apenas para Safari/Windows */

	.CheckGroup {
		float: left;
		padding: 0 0 4px 0;}

	.CheckOption {
		display: block;
		float: left;
		margin: 0 13px 0 0;}

	.LabelOptions {
		float: left;
		letter-spacing: -1px;
		margin: -2px 0 0 0;
		padding: 0 10px 0 0;}

	.Check {
		display: block;
		height: 13px;
		padding: 0;
		width: 13px;}

	.Choice {
		height: auto;
		line-height: normal;
		margin: -16px 0 0 21px !important;
		padding: 0 0 5px 0;
		width: auto;}

	.Header {
		float: left;
		height: 54px;
		width: 100%;}

	.Header .Container {
		background: url(../../img/site/background-header.png) no-repeat;
		height: 54px;
		position: relative;
		z-index: 999;} /* @INFO: esta linha é importante para que o formulário suspenso fique sobre dos demais elementos no IE6 */

	.FloatForm {
		background: url(../../img/site/topo-form-suspenso.png) no-repeat;
		display: none;
		padding: 8px 0 0 0;
		position: absolute;
		top: 52px;
		width: 617px;}

	.FloatForm .Form {
		background: url(../../img/site/pattern-form-suspenso.png) repeat-y;
		padding-top: 14px;
		width: 100%;}

	.BottomContainer {
		background: url(../../img/site/rodape-form-suspenso.png) left bottom no-repeat;
		float: left;
		height: 8px;
		width: 617px;}

	#ContainerFormInteresse { left: 178px; }

	#ContainerFormIndique { left: 323px; }

	.Container {
		margin: 0 auto;
		width: 940px;}

	.Main {
		background: url(../../img/site/background-main.png) center top no-repeat;
		float: left;
		position: relative;
		width: 100%;}

	.Content {
		background: url(../../img/site/top-content.png) center top no-repeat;
		float: left;
		margin: -20px 0 0 0;
		width: 100%;}

	.Content .Container { padding: 67px 0 0 0; }

	.Logo {
		background: url(../../img/site/logo-terra-nova.png);
		height: 68px;
		left: 50%;
		margin: 0 0 0 -132px;
		position: absolute;
		top: 10px;
		width: 265px;}

	.BotaoCorretorOnline {
		background: url(../../img/site/top-features.png) 0 -9px;
		float: left;
		height: 33px;
		margin: 13px 24px 0 0;
		width: 89px;}

	.Telefone {
		background: url(../../img/site/top-features.png) -114px -8px;
		float: left;
		height: 34px;
		margin: 12px 0 0 0;
		width: 135px;}

	.BotaoInteresseTop {
		background: url(../../img/site/top-features.png);
		background-position: -262px 0;
		float: left;
		height: 48px;
		margin: 4px 0 0 0;
		width: 145px;}

	.BotaoInteresseTopSel { background-position: -262px -48px; }

	.BotaoIndique {
		background: url(../../img/site/top-features.png);
		background-position: -407px 0;
		float: left;
		height: 48px;
		margin: 4px 0 0 0;
		width: 145px;}

	.BotaoIndiqueSel { background-position: -407px -48px; }

	.Slogan {
		background: url(../../img/site/textos.png) -10px -698px no-repeat;
		float: left;
		height: 126px;
		margin: 43px 0 0 0;
		width: 228px;}

	.CondicoesEspeciais {
		background: url(../../img/site/placa-condicoes.png) no-repeat;
		float: right;
		height: 191px;
		width: 254px;}

	.Sponsors {
		float: left;
		margin-right: -3px;
		padding: 54px 0 0 0;
		width: 940px;}

	.conheca {
		width: 940px;
		float:left;
		margin-top:40px;
		font-size:12px;
		}

	.Financiamento, .Comercializacao, .Realizacao {
		background: url(../../img/site/sponsors.png);
		float: left;}

	.Financiamento {
		height: 69px;
		margin: 0 52px 0 0;
		width: 180px}

	.Comercializacao {
		background-position: -232px 0;
		height: 71px;
		margin: 0 71px 0 0;
		width: 256px;}

	.Realizacao {
		background-position: -559px 0;
		height: 68px;
		width: 377px;}

	.Footer {
		background: url(../../img/site/pattern-rodape.png) 0 15px repeat-x;
		float: left;
		height: 99px;
		margin: 23px 0 0 0;
		width: 100%;}

	.Footer .Container {
		background: url(../../img/site/background-rodape.png) no-repeat;
		height: 99px;}

	.SocialMedia {
		float: left;
		padding: 55px 0 0 0;}

	.SocialMedia ul li { float: left; }

	.SocialMedia ul li.First { margin: 0 6px 0 0; }

	.SocialMedia ul li.Last {
		color: #FFF;
		font-size: 11px;
		height: 33px;
		line-height: 33px;
		margin: 0 0 0 15px;}

	.BotaoFacebook, .BotaoOrkut {
		background: url(../../img/site/icones-botoes.png);
		height: 33px;
		width: 33px;}

	.BotaoFacebook { background-position: -86px -357px; }

	.BotaoOrkut { background-position: -189px -460px; }

	.Signature {
		float: right;
		padding: 61px 0 0 0;}

	.Copyright {
		color: #FFF;
		float: left;
		font-size: 11px;
		padding: 4px 19px 0 0;}

	.Credits {
		background: url(../../img/site/logo-divex.png) no-repeat;
		float: left;
		height: 24px;
		width: 191px;}

	.Sidebar {
		background: url(../../img/site/divisor-shaded-big.png) right top no-repeat;
		float: left;
		height: 319px;
		margin: 0 45px 0 0;
		padding: 88px 26px 0 20px;
		width: 212px;}

	.Thumbs {
		background: url(../../img/site/divisor-shaded-big.png) right top no-repeat;
		float: left;
		height: 387px;
		margin: 0 10px 0 0;
		padding: 20px 26px 0 0;
		width: 354px;}

	.Thumbs li {
		padding: 0 0 6px 0;
		text-align: right;}

	.Thumbs li a {
		background-image: url(../../img/site/thumbs.png);
		background-repeat: no-repeat;
		display: block;
		font-size: 16px;
		height: 24px;
		letter-spacing: -1px;
		line-height: 24px;
		padding: 0 44px 0 0;}

	.Thumbs li a:hover, .Thumbs li a:active {
		background-position: right -783px;
		color: #259A8E;}

	.ContainerImagePreview {
		float: left;
		position: relative;}

	.Ribbon {
		background: url(../../img/site/canto-ribbon.png) no-repeat;
		height: 24px;
		padding: 0 0 0 5px;
		position: absolute;
		right: 0;
		top: 40px;}

	.Ribbon span {
		background: url(../../img/site/background-ribbon.png) right top repeat-y;
		color: #FFF;
		display: block;
		font-size: 12px;
		height: 24px;
		letter-spacing: -1px;
		line-height: 24px;
		padding: 0 20px 0 7px;}

	.MensagemSucesso {
		color: #259A8E;
		float: left;
		font-size: 16px;
		letter-spacing: -1px;
		padding: 7px 0 0 0;}
		
		
	.MensagemErroContato {
		color: red;
		float: left;
		font-size: 16px;
		letter-spacing: -1px;
		padding: 7px 0 0 0;}
	
	.MensagemErro {
		color: red;
		float: left;
		font-size: 16px;
		letter-spacing: -1px;
		padding: 7px 0 0 0;}
		
	.MensagemErroIndique {
		color: red;
		float: left;
		font-size: 16px;
		letter-spacing: -1px;
		padding: 7px 0 0 0;}	

	.MensagemErroIndique strong { font-weight: bold; }
	.MensagemErroContato strong { font-weight: bold; }
	.MensagemErro strong { font-weight: bold; }
	.MensagemSucesso strong { font-weight: bold; }

	.SubmitBar {
		border-top: 3px solid #259A8E;
		float: left;
		margin: 10px 0 0 13px;
		padding: 13px 0 0 0;
		width: 544px;}

	.Form {
		float: left;
		padding: 28px 0 0 0;
		width: 558px;}

	.Form ul.First {
		float: left;
		padding: 0 37px 0 0;}

	.Form ul li { padding-bottom: 10px; }

	label {
		clear: left;
		float: left;
		font-size: 15px;
		height: 34px;
		line-height: 34px;
		padding: 0 10px 0 0;
		text-align: right;
		width: 73px;}

	.BotaoEnviar {
		background: url(../../img/site/icones-botoes.png) -292px -563px;
		cursor: pointer;
		float: right;
		height: 33px;
		width: 104px;}

	/* @End General */


	/* @Non-semantic (helper classes) ****************/
	/* Textos */
	.TextoCenter { text-align: center; }
	.TextoLeft { text-align: left; }
	.TextoRight { text-align: right; }
	.TextoJust { text-align: justify; }

	.TextoNormal { font-weight: normal; }
	.TextoBold { font-weight: bold; }
	.TextoEstiloNormal { font-style: normal; }
	.TextoItalic { font-style: italic; }

	.TextoUnderline { text-decoration: underline; }
	.TextoUnderNone { text-decoration: none; }
	.TextoOverLine { text-decoration: overline; }

	/* Floats */
	.Left { float: left; }
	.Right { float: right; }
	.FloatNone { float: none; }

	/* Visible/Hidden */
	.Visible { visibility: visible; }
	.Hidden { visibility: hidden; }

	/* Elements displays */
	.Block { display: block; }
	.Inline { display: inline; }
	.InlineBlock {display:inline-block; }
	.DisplayNone {display: none; }

	/* Borders */
	.BorderTop {}
	.BorderRight {}
	.BorderBottom {}
	.Borderleft {}

	/* Margins */
	.MT20 { margin-top: 20px; }
	.MR20 { margin-right: 20px; }
	.MB20 { margin-bottom: 20px; }
	.ML20 { margin-left: 20px; }

	/* Paddings */
	.PT4 { padding-top: 4px; }
	.PT20 { padding-top: 20px; }
	.PR20 { padding-right: 20px; }
	.PB20 { padding-bottom: 20px; }
	.PL20 { padding-left: 20px; }

	/* Limpando floats */
	.Clear { clear: both; }

	.Clearfix:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;}

	.Clearfix { display: inline-block; }

	/* Hide from IE Mac \*/
	.Clearfix { display: block; }
	/* End hide from IE Mac */

	/* Image replacements */
	.Imgr {
		background-repeat: no-repeat;
		border: 0;
		display: block;
		overflow: hidden;
		text-indent: -9000px;}

	/* @End Non-semantic */

