
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Reset ****************/

	body, p, span, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
	pre, form, fieldset, input, textarea, blockquote, th, td {
		margin: 0;
		padding: 0;}

	fieldset, img {
		border: none;
		margin: 0;}

	img { display: block; }

	a:hover, a:active { outline: none; }

	caption, cite, code, dfn, em, strong, th, var, address {
		font-style: normal;
		font-weight: normal;}

	address { display: inline; }

	h1, h2, h3, h4, h5, h6 {
		font-size: 100%;
		font-weight: normal;}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;}

	blockquote, q { quotes: none; }

	abbr, acronym { border: 0; }

	caption, th { text-align: left; }

	input, textarea, select { outline: none; }

	textarea {
		overflow: auto;
		resize: none;}

	ul, ol, dl { list-style-type: none; }

	/* @End Reset */


	/* @General ****************/

	body {
		background: #FFF url(../../img/site/background.png) repeat-x;
		color: #435956;
		font: 14px Arial, Verdana, Tahoma;}

	p {}

	a:link, a:visited, a:hover, a:active {
		color: #435956;
		text-decoration: none;}

	.CampoPadrao { border: 1px solid #CCC; }

	input, textarea, select {
		font: 14px Arial, Verdana, Tahoma;
		padding: 7px 4px;}

	input, textarea { width: 167px; }

	textarea { height: 106px; }

	select {
		height: 33px;
		padding: 4px;
		width: 177px;}

	select { line-height: 26px;# } /* @HACK: esta regra força a alteração da altura do select, funciona apenas para Safari/Windows */

	.CheckGroup {
		float: left;
		padding: 0 0 4px 0;}

	.CheckOption {
		display: block;
		float: left;
		margin: 0 13px 0 0;}

	.LabelOptions {
		float: left;
		letter-spacing: -1px;
		margin: -2px 0 0 0;
		padding: 0 10px 0 0;}

	.Check {
		display: block;
		height: 13px;
		padding: 0;
		width: 13px;}

	.Choice {
		height: auto;
		line-height: normal;
		margin: -16px 0 0 21px !important;
		padding: 0 0 5px 0;
		width: auto;}

	.Header {
		float: left;
		height: 54px;
		width: 100%;}

	.Header .Container {
		background: url(../../img/site/background-header.png) no-repeat;
		height: 54px;
		position: relative;
		z-index: 999;} /* @INFO: esta linha é importante para que o formulário suspenso fique sobre dos demais elementos no IE6 */

	.FloatForm {
		background: url(../../img/site/topo-form-suspenso.png) no-repeat;
		display: none;
		padding: 8px 0 0 0;
		position: absolute;
		top: 52px;
		width: 617px;}

	.FloatForm .Form {
		background: url(../../img/site/pattern-form-suspenso.png) repeat-y;
		padding-top: 14px;
		width: 100%;}

	.BottomContainer {
		background: url(../../img/site/rodape-form-suspenso.png) left bottom no-repeat;
		float: left;
		height: 8px;
		width: 617px;}

	#ContainerFormInteresse { left: 178px; }

	#ContainerFormIndique { left: 323px; }

	.Container {
		margin: 0 auto;
		width: 940px;}

	.Main {
		background: url(../../img/site/background-main.png) center top no-repeat;
		float: left;
		position: relative;
		width: 100%;}

	.Content {
		background: url(../../img/site/top-content.png) center top no-repeat;
		float: left;
		margin: -20px 0 0 0;
		width: 100%;}

	.Content .Container { padding: 67px 0 0 0; }

	.Logo {
		background: url(../../img/site/logo-terra-nova.png);
		height: 68px;
		left: 50%;
		margin: 0 0 0 -132px;
		position: absolute;
		top: 10px;
		width: 265px;}

	.BotaoCorretorOnline {
		background: url(../../img/site/top-features.png) 0 -9px;
		float: left;
		height: 33px;
		margin: 13px 24px 0 0;
		width: 89px;}

	.Telefone {
		background: url(../../img/site/top-features.png) -114px -8px;
		float: left;
		height: 34px;
		margin: 12px 0 0 0;
		width: 135px;}

	.BotaoInteresseTop {
		background: url(../../img/site/top-features.png);
		background-position: -262px 0;
		float: left;
		height: 48px;
		margin: 4px 0 0 0;
		width: 145px;}

	.BotaoInteresseTopSel { background-position: -262px -48px; }

	.BotaoIndique {
		background: url(../../img/site/top-features.png);
		background-position: -407px 0;
		float: left;
		height: 48px;
		margin: 4px 0 0 0;
		width: 145px;}

	.BotaoIndiqueSel { background-position: -407px -48px; }

	.Slogan {
		background: url(../../img/site/textos.png) -10px -698px no-repeat;
		float: left;
		height: 126px;
		margin: 43px 0 0 0;
		width: 228px;}

	.CondicoesEspeciais {
		background: url(../../img/site/placa-condicoes.png) no-repeat;
		float: right;
		height: 191px;
		width: 254px;}

	.Sponsors {
		float: left;
		margin-right: -3px;
		padding: 54px 0 0 0;
		width: 940px;}

	.Financiamento, .Comercializacao, .Realizacao {
		background: url(../../img/site/sponsors.png);
		float: left;}

	.Financiamento {
		height: 69px;
		margin: 0 52px 0 0;
		width: 180px}

	.Comercializacao {
		background-position: -232px 0;
		height: 71px;
		margin: 0 71px 0 0;
		width: 256px;}

	.Realizacao {
		background-position: -559px 0;
		height: 68px;
		width: 377px;}

	.Footer {
		background: url(../../img/site/pattern-rodape.png) 0 15px repeat-x;
		float: left;
		height: 99px;
		margin: 23px 0 0 0;
		width: 100%;}

	.Footer .Container {
		background: url(../../img/site/background-rodape.png) no-repeat;
		height: 99px;}

	.SocialMedia {
		float: left;
		padding: 55px 0 0 0;}

	.SocialMedia ul li { float: left; }

	.SocialMedia ul li.First { margin: 0 6px 0 0; }

	.SocialMedia ul li.Last {
		color: #FFF;
		font-size: 11px;
		height: 33px;
		line-height: 33px;
		margin: 0 0 0 15px;}

	.BotaoFacebook, .BotaoOrkut {
		background: url(../../img/site/icones-botoes.png);
		height: 33px;
		width: 33px;}

	.BotaoFacebook { background-position: -86px -357px; }

	.BotaoOrkut { background-position: -189px -460px; }

	.Signature {
		float: right;
		padding: 61px 0 0 0;}

	.Copyright {
		color: #FFF;
		float: left;
		font-size: 11px;
		padding: 4px 19px 0 0;}

	.Credits {
		background: url(../../img/site/logo-divex.png) no-repeat;
		float: left;
		height: 24px;
		width: 191px;}

	.Sidebar {
		background: url(../../img/site/divisor-shaded-big.png) right top no-repeat;
		float: left;
		height: 319px;
		margin: 0 45px 0 0;
		padding: 88px 26px 0 20px;
		width: 212px;}

	.Thumbs {
		background: url(../../img/site/divisor-shaded-big.png) right top no-repeat;
		float: left;
		height: 387px;
		margin: 0 10px 0 0;
		padding: 20px 26px 0 0;
		width: 354px;}

	.Thumbs li {
		padding: 0 0 6px 0;
		text-align: right;}

	.Thumbs li a {
		background-image: url(../../img/site/thumbs.png);
		background-repeat: no-repeat;
		display: block;
		font-size: 16px;
		height: 24px;
		letter-spacing: -1px;
		line-height: 24px;
		padding: 0 44px 0 0;}

	.Thumbs li a:hover, .Thumbs li a:active {
		background-position: right -783px;
		color: #259A8E;}

	.ContainerImagePreview {
		float: left;
		position: relative;}

	.Ribbon {
		background: url(../../img/site/canto-ribbon.png) no-repeat;
		height: 24px;
		padding: 0 0 0 5px;
		position: absolute;
		right: 0;
		top: 40px;}

	.Ribbon span {
		background: url(../../img/site/background-ribbon.png) right top repeat-y;
		color: #FFF;
		display: block;
		font-size: 12px;
		height: 24px;
		letter-spacing: -1px;
		line-height: 24px;
		padding: 0 20px 0 7px;}

	.MensagemSucesso {
		color: #259A8E;
		float: left;
		font-size: 16px;
		letter-spacing: -1px;
		padding: 7px 0 0 0;}

	.MensagemSucesso strong { font-weight: bold; }

	.SubmitBar {
		border-top: 3px solid #259A8E;
		float: left;
		margin: 10px 0 0 13px;
		padding: 13px 0 0 0;
		width: 544px;}

	.Form {
		float: left;
		padding: 28px 0 0 0;
		width: 558px;}

	.Form ul.First {
		float: left;
		padding: 0 37px 0 0;}

	.Form ul li { padding-bottom: 10px; }

	label {
		clear: left;
		float: left;
		font-size: 15px;
		height: 34px;
		line-height: 34px;
		padding: 0 10px 0 0;
		text-align: right;
		width: 73px;}

	.BotaoEnviar {
		background: url(../../img/site/icones-botoes.png) -292px -563px;
		cursor: pointer;
		float: right;
		height: 33px;
		width: 104px;}

	/* @End General */


	/* @Navigation ****************/

	.Navigation {
		background: url(../../img/site/background-navigation.png) no-repeat;
		float: left;
		height: 49px;
		margin: 7px 0 0 0;
		padding: 6px 0 0 0;
		width: 100%;}

	.Navigation li { float: left; }

	.ItemHome { margin: 0 63px 0 0;}

	.ItemInfraestrutura { margin: 0 54px 0 0;}

	.ItemCasas { margin: 0 53px 0 0;}

	.ItemLocalizacao { margin: 0 50px 0 0;}

	.ItemObras { margin: 0 44px 0 0;}

	.Navigation li a {
		background: url(../../img/site/menu.png) no-repeat;
		display: block;
		height: 25px;
		text-indent: -9000px;}

	.ItemHome a:link, .ItemHome a:visited {
		background-position: 0 0;
		width: 62px;}

	.ItemInfraestrutura a:link, .ItemInfraestrutura a:visited {
		background-position: -67px 0;
		width: 115px;}

	.ItemCasas a:link, .ItemCasas a:visited {
		background-position: -187px 0;
		width: 148px;}

	.ItemLocalizacao a:link, .ItemLocalizacao a:visited {
		background-position: -340px 0;
		width: 104px;}

	.ItemObras a:link, .ItemObras a:visited {
		background-position: -449px 0;
		width: 174px;}

	.ItemContato a:link, .ItemContato a:visited {
		background-position: -628px 0;
		width: 73px;}

	.Home .ItemHome a, .ItemHome a:hover, .ItemHome a:active { background-position: 0 -30px; }

	.Infraestrutura .ItemInfraestrutura a, .ItemInfraestrutura a:hover, .ItemInfraestrutura a:active { background-position: -67px -30px; }

	.Casas .ItemCasas a, .ItemCasas a:hover, .ItemCasas a:active { background-position: -187px -30px; }

	.Localizacao .ItemLocalizacao a, .ItemLocalizacao a:hover, .ItemLocalizacao a:active { background-position: -340px -30px; }

	.ItemObras a:hover, .ItemObras a:active { background-position: -449px -30px; }

	.Contato .ItemContato a, .ItemContato a:hover, .ItemContato a:active { background-position: -628px -30px; }

	/* @End Navigation */


	/* @Home ****************/

	.Featured {
		border-bottom: 3px solid #259A8E;
		float: left;
		padding: 0 0 20px 10px;
		margin: 0 0 10px 0;
		width: 930px;}

	.Featured li {
		float: left;
		margin: 0 40px 0 0;}

	.Featured li.Last { margin: 0; }

	.TituloPortariaCentral {
		background: url(../../img/site/textos.png) -10px -10px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 77px;}

	.TituloPiscinas {
		background: url(../../img/site/textos.png) -10px -68px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 137px;}

	.TituloSalaoFestas {
		background: url(../../img/site/textos.png) -10px -126px;
		height: 42px;
		margin: -4px 0 18px 0;
		width: 78px;}

	.TituloQuiosques {
		background: url(../../img/site/textos.png) -10px -188px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 143px;}

	.TituloFutebol {
		background: url(../../img/site/textos.png) -10px -249px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 123px;}

	.Auxiliary { float: left; }

	.Auxiliary a.First { margin: 0 22px 0 0; }

	.BulletLink:link, .BulletLink:visited,
	.BulletLink:hover, .BulletLink:active {
		background: url(../../img/site/icones-botoes.png) 0 -271px;
		display: block;
		float: left;
		height: 16px;
		padding: 0 0 0 25px;}

	.SocialCounters { float: right; }

	.Conditions, .Features {
		background: url(../../img/site/divisor-shaded-small.png) no-repeat;
		float: left;
		height: 247px;}

	.Conditions {
		margin: 37px 8px 0 0;
		padding: 0 0 0 20px;}

	.Conditions ul {
		background: url(../../img/site/textos.png) -10px -307px;
		height: 229px;
		width: 532px;}

	.Features {
		margin: 37px 0 0 0;
		padding: 0 0 0 25px;
		width: 355px;}

	.FeaturesButtons {
		background: url(../../img/site/icones-botoes.png) no-repeat;
		display: block;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -1px;
		padding: 0 0 0 51px;}

	.BotaoInteresse {
		background-position: 0 4px;
		margin: 0 0 20px 0;}

	.BotaoLocalizacao {
		background-position: -103px -96px;
		margin: 0 0 16px 0;}

	.BotaoPasseioVirtual {
		background-position: -201px -202px;
		height: 42px;
		padding-top: 3px;}

	.BotaoInteresse span, .BotaoLocalizacao span, .BotaoPasseioVirtual span {
		display: block;
		font-size: 14px;
		font-weight: normal;
		padding: 1px 0 0 0;}

	.Features ul {
		padding: 14px 0 0 7px;
		width: 100%;}

	.Features ul li {
		float: left;
		margin: 0 14px 0 0;}

	.Features ul li.Last { margin: 0; }

	.Features .BulletLink:link, .Features .BulletLink:visited,
	.Features .BulletLink:hover, .Features .BulletLink:active {
		padding: 0 0 0 21px;
		text-transform: uppercase;} /* @INFO: todos os estados são declarados para funcionar no IE6 */

	.LegalText {
		float: left;
		font-size: 12px;
		margin: 14px 0 0 0;
		width: 100%;}

	#ContainerFormInteresse .Form { height: 292px; }

	#ContainerFormInteresse ul.First { padding: 0 28px 0 15px !important; }

	#ContainerFormInteresse ul li.PL24 { padding-left: 24px; }

	#ContainerFormInteresse .SubmitBar {
		margin-left: 29px;
		width: 558px;}

	.FloatForm label { letter-spacing: -1px; }

	.FloatForm .ComentarioInteresse { height: 84px; }

	.FloatForm .ComentarioIndique {
		height: 58px;
		width: 482px;}

	#ContainerFormIndique .Form { height: 245px; }

	#ContainerFormIndique ul.Second label { width: 89px; }

	#ContainerFormIndique ul.First { padding: 0 39px 0 15px !important; }

	#ContainerFormIndique .SubmitBar {
		margin: 20px 0 0 26px;
		width: 564px;}

	.ContainerComentario {
		float: left;
		padding: 0 0 0 15px;}

	/* @End Home */


	/* @Infraestrutura ****************/

	.Infraestrutura .Content .Container { padding: 62px 0 0 0; }

	.Infraestrutura .Sponsors { padding: 40px 0 0 0; }

	.ThumbCasas { background-position: right 0; }

	.ThumbPlantas { background-position: right -29px; }

	.ThumbFachadas { background-position: right -58px; }

	.ThumbPortaria { background-position: right -87px; }

	.ThumbSalao { background-position: right -116px; }

	.ThumbPiscinas { background-position: right -145px; }

	.ThumbFutebol { background-position: right -174px; }

	.ThumbVolei { background-position: right -203px; }

	.ThumbQuadra { background-position: right -232px; }

	.ThumbQuiosques { background-position: right -261px; }

	.ThumbPlayground { background-position: right -290px; }

	.ThumbVagas { background-position: right -319px; }

	/* @End Infraestrutura */


	/* @Casas ****************/

	.Casas .Content .Container { padding: 64px 0 0 0; }

	.Plantas {
		float: left;
		padding: 0 0 10px 51px;
		position: relative;}

	.TituloPlantas {
		background: url(../../img/site/textos.png) -10px -551px;
		float: left;
		height: 54px;
		margin: 86px 0 0 0;
		width: 121px;}

	.SmallThumbs {
		background: url(../../img/site/divisor-shaded-small.png) right top no-repeat;
		height: 181px !important;
		margin: 0 10px 0 41px !important;
		padding: 66px 26px 0 0 !important;}

	.ThumbPlanta1 { background-position: right -348px; }

	.ThumbPlanta2 { background-position: right -377px; }

	.ThumbPlanta3 { background-position: right -406px; }

	.ThumbPlanta4 { background-position: right -435px; }

	.Plantas .loader {
		height: 203px;
		width: 593px;}

	.Fachadas {
		float: left;
		padding: 0 0 0 29px;}

	.TituloFachadas {
		background: url(../../img/site/textos.png) -10px -624px;
		float: left;
		height: 54px;
		margin: 54px 0 0 0;
		width: 143px;}

	.Casas .Thumbs {
		height: 373px;
		margin: 0 20px 0 41px;
		padding: 34px 26px 0 0;
		width: 55px;}

	.Casas .Thumbs li a { padding: 0 39px 0 0; }

	.ThumbFachada1 { background-position: right -464px; }

	.ThumbFachada2 { background-position: right -493px; }

	.ThumbFachada3 { background-position: right -522px; }

	.ThumbFachada4 { background-position: right -551px; }

	.ThumbFachada5 { background-position: right -580px; }

	.ThumbFachada6 { background-position: right -609px; }

	.ThumbFachada7 { background-position: right -638px; }

	.ThumbFachada8 { background-position: right -667px; }

	.ThumbFachada9 { background-position: right -696px; }

	.ThumbFachada10 { background-position: right -725px; }

	.ThumbFachada11 { background-position: right -754px; }

	/* @End Casas */


	/* @Localizacao ****************/

	.Localizacao .Sponsors { padding: 33px 0 0 0; }

	.InfsLocalizacao {
		background: url(../../img/site/icones-botoes.png) -103px -96px no-repeat;
		display: block;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -1px;
		margin: 0 0 19px 0;
		padding: 0 0 0 51px;}

	.InfsLocalizacao span {
		display: block;
		font-size: 15px;
		font-weight: normal;
		padding: 1px 0 0 0;}

	.PlantaoVendas {
		font-size: 15px;
		letter-spacing: -1px;
		padding: 0 0 0 51px;}

	.GoogleMaps {
		background: url(../../img/site/google-maps.gif);
		height: 27px;
		margin: 23px 0 0 51px;
		width: 124px;}

	.Map { padding: 13px 0 0 0; }

	/* @End Localizacao */


	/* @Contato ****************/

	.Contato .Sidebar {
		height: 379px;
		margin: 0 40px 0 0;
		padding: 28px 36px 0 20px;
		width: 231px;}

	.TituloPlantao, .TituloContato {
		background: url(../../img/site/icones-botoes.png) no-repeat;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -1px;
		margin: 0 0 17px 0;
		padding: 0 0 0 48px;}

	.TituloPlantao, .TituloContato { background-position: -313px -314px; }

	.TituloContato {
		background-position: -410px -404px;
		margin: 0 0 43px 27px;}

	.Tel, .Infs {
		display: block;
		padding: 0 0 20px 48px;}

	/* @End Contato */


	/* @Non-semantic (helper classes) ****************/
	/* Textos */
	.TextoCenter { text-align: center; }
	.TextoLeft { text-align: left; }
	.TextoRight { text-align: right; }
	.TextoJust { text-align: justify; }

	.TextoNormal { font-weight: normal; }
	.TextoBold { font-weight: bold; }
	.TextoEstiloNormal { font-style: normal; }
	.TextoItalic { font-style: italic; }

	.TextoUnderline { text-decoration: underline; }
	.TextoUnderNone { text-decoration: none; }
	.TextoOverLine { text-decoration: overline; }

	/* Floats */
	.Left { float: left; }
	.Right { float: right; }
	.FloatNone { float: none; }

	/* Visible/Hidden */
	.Visible { visibility: visible; }
	.Hidden { visibility: hidden; }

	/* Elements displays */
	.Block { display: block; }
	.Inline { display: inline; }
	.InlineBlock {display:inline-block; }
	.DisplayNone {display: none; }

	/* Borders */
	.BorderTop {}
	.BorderRight {}
	.BorderBottom {}
	.Borderleft {}

	/* Margins */
	.MT20 { margin-top: 20px; }
	.MR20 { margin-right: 20px; }
	.MB20 { margin-bottom: 20px; }
	.ML20 { margin-left: 20px; }

	/* Paddings */
	.PT4 { padding-top: 4px; }
	.PT20 { padding-top: 20px; }
	.PR20 { padding-right: 20px; }
	.PB20 { padding-bottom: 20px; }
	.PL20 { padding-left: 20px; }

	/* Limpando floats */
	.Clear { clear: both; }

	.Clearfix:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;}

	.Clearfix { display: inline-block; }

	/* Hide from IE Mac \*/
	.Clearfix { display: block; }
	/* End hide from IE Mac */

	/* Image replacements */
	.Imgr {
		background-repeat: no-repeat;
		border: 0;
		display: block;
		overflow: hidden;
		text-indent: -9000px;}

	/* @End Non-semantic */

