
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Navigation ****************/

	.Navigation {
		background: url(../../img/site/background-navigation.png) no-repeat;
		float: left;
		height: 49px;
		margin: 7px 0 0 0;
		padding: 6px 0 0 0;
		width: 100%;}

	.Navigation li { float: left; }

	.ItemHome { margin: 0 63px 0 0;}

	.ItemInfraestrutura { margin: 0 54px 0 0;}

	.ItemCasas { margin: 0 53px 0 0;}

	.ItemLocalizacao { margin: 0 50px 0 0;}

	.ItemObras { margin: 0 44px 0 0;}

	.Navigation li a {
		background: url(../../img/site/menu.png) no-repeat;
		display: block;
		height: 25px;
		text-indent: -9000px;}

	.ItemHome a:link, .ItemHome a:visited {
		background-position: 0 0;
		width: 62px;}

	.ItemInfraestrutura a:link, .ItemInfraestrutura a:visited {
		background-position: -67px 0;
		width: 115px;}

	.ItemCasas a:link, .ItemCasas a:visited {
		background-position: -187px 0;
		width: 148px;}

	.ItemLocalizacao a:link, .ItemLocalizacao a:visited {
		background-position: -340px 0;
		width: 104px;}

	.ItemObras a:link, .ItemObras a:visited {
		background-position: -449px 0;
		width: 174px;}

	.ItemContato a:link, .ItemContato a:visited {
		background-position: -628px 0;
		width: 73px;}

	.Home .ItemHome a, .ItemHome a:hover, .ItemHome a:active { background-position: 0 -30px; }

	.Infraestrutura .ItemInfraestrutura a, .ItemInfraestrutura a:hover, .ItemInfraestrutura a:active { background-position: -67px -30px; }

	.Casas .ItemCasas a, .ItemCasas a:hover, .ItemCasas a:active { background-position: -187px -30px; }

	.Localizacao .ItemLocalizacao a, .ItemLocalizacao a:hover, .ItemLocalizacao a:active { background-position: -340px -30px; }

	.ItemObras a:hover, .ItemObras a:active { background-position: -449px -30px; }

	.Contato .ItemContato a, .ItemContato a:hover, .ItemContato a:active { background-position: -628px -30px; }

	/* @End Navigation */


