
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Home ****************/

	.Featured {
		border-bottom: 3px solid #259A8E;
		float: left;
		padding: 0 0 20px 10px;
		margin: 0 0 10px 0;
		width: 930px;}

	.Featured li {
		float: left;
		margin: 0 40px 0 0;}

	.Featured li.Last { margin: 0; }

	.TituloPortariaCentral {
		background: url(../../img/site/textos.png) -10px -10px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 77px;}

	.TituloPiscinas {
		background: url(../../img/site/textos.png) -10px -68px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 137px;}

	.TituloSalaoFestas {
		background: url(../../img/site/textos.png) -10px -126px;
		height: 42px;
		margin: -4px 0 18px 0;
		width: 78px;}

	.TituloQuiosques {
		background: url(../../img/site/textos.png) -10px -188px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 143px;}

	.TituloFutebol {
		background: url(../../img/site/textos.png) -10px -249px;
		height: 41px;
		margin: 0 0 15px 0;
		width: 123px;}

	.Auxiliary { float: left; }

	.Auxiliary a.First { margin: 0 22px 0 0; }

	.BulletLink:link, .BulletLink:visited,
	.BulletLink:hover, .BulletLink:active {
		background: url(../../img/site/icones-botoes.png) 0 -271px;
		display: block;
		float: left;
		height: 16px;
		padding: 0 0 0 25px;}

	.SocialCounters { float: right; }

	.Conditions, .Features {
		background: url(../../img/site/divisor-shaded-small.png) no-repeat;
		float: left;
		height: 247px;}

	.Conditions {
		margin: 37px 8px 0 0;
		padding: 0 0 0 20px;}

	.Conditions ul {
		background: url(../../img/site/textos.png) -10px -307px;
		height: 229px;
		width: 532px;}

	.Features {
		margin: 37px 0 0 0;
		padding: 0 0 0 25px;
		width: 355px;}

	.FeaturesButtons {
		background: url(../../img/site/icones-botoes.png) no-repeat;
		display: block;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -1px;
		padding: 0 0 0 51px;}

	.BotaoInteresse {
		background-position: 0 4px;
		margin: 0 0 20px 0;}

	.BotaoLocalizacao {
		background-position: -103px -96px;
		margin: 0 0 16px 0;}

	.BotaoPasseioVirtual {
		background-position: -201px -202px;
		height: 42px;
		padding-top: 3px;}

	.BotaoInteresse span, .BotaoLocalizacao span, .BotaoPasseioVirtual span {
		display: block;
		font-size: 14px;
		font-weight: normal;
		padding: 1px 0 0 0;}

	.Features ul {
		padding: 14px 0 0 7px;
		width: 100%;}

	.Features ul li {
		float: left;
		margin: 0 14px 0 0;}

	.Features ul li.Last { margin: 0; }

	.Features .BulletLink:link, .Features .BulletLink:visited,
	.Features .BulletLink:hover, .Features .BulletLink:active {
		padding: 0 0 0 21px;
		text-transform: uppercase;} /* @INFO: todos os estados são declarados para funcionar no IE6 */

	.LegalText {
		float: left;
		font-size: 12px;
		margin: 14px 0 0 0;
		width: 100%;}

	#ContainerFormInteresse .Form { height: 292px; }

	#ContainerFormInteresse ul.First { padding: 0 28px 0 15px !important; }

	#ContainerFormInteresse ul li.PL24 { padding-left: 24px; }

	#ContainerFormInteresse .SubmitBar {
		margin-left: 29px;
		width: 558px;}

	.FloatForm label { letter-spacing: -1px; }

	.FloatForm .ComentarioInteresse { height: 84px; }

	.FloatForm .ComentarioIndique {
		height: 58px;
		width: 482px;}

	#ContainerFormIndique .Form { height: 245px; }

	#ContainerFormIndique ul.Second label { width: 127px; }

	#ContainerFormIndique ul.First { padding: 0 0 0 15px !important; }

	#ContainerFormIndique .SubmitBar {
		margin: 20px 0 0 26px;
		width: 564px;}

	.ContainerComentario {
		float: left;
		padding: 0 0 0 15px;}

	/* @End Home */


	/* @Infraestrutura ****************/

	.Infraestrutura .Content .Container { padding: 62px 0 0 0; }

	.Infraestrutura .Sponsors { padding: 40px 0 0 0; }

	.ThumbCasas { background-position: right 0; }

	.ThumbPlantas { background-position: right -29px; }

	.ThumbFachadas { background-position: right -58px; }

	.ThumbPortaria { background-position: right -87px; }

	.ThumbSalao { background-position: right -116px; }

	.ThumbPiscinas { background-position: right -145px; }

	.ThumbFutebol { background-position: right -174px; }

	.ThumbVolei { background-position: right -203px; }

	.ThumbQuadra { background-position: right -232px; }

	.ThumbQuiosques { background-position: right -261px; }

	.ThumbPlayground { background-position: right -290px; }

	.ThumbVagas { background-position: right -319px; }

	/* @End Infraestrutura */


	/* @Casas ****************/

	.Casas .Content .Container { padding: 64px 0 0 0; }

	.Plantas {
		float: left;
		padding: 0 0 10px 51px;
		position: relative;}

	.TituloPlantas {
		background: url(../../img/site/textos.png) -10px -551px;
		float: left;
		height: 54px;
		margin: 86px 0 0 0;
		width: 121px;}

	.SmallThumbs {
		background: url(../../img/site/divisor-shaded-small.png) right top no-repeat;
		height: 181px !important;
		margin: 0 10px 0 41px !important;
		padding: 66px 26px 0 0 !important;}

	.ThumbPlanta1 { background-position: right -348px; }

	.ThumbPlanta2 { background-position: right -377px; }

	.ThumbPlanta3 { background-position: right -406px; }

	.ThumbPlanta4 { background-position: right -435px; }

	.Plantas .loader {
		height: 203px;
		width: 593px;}

	.Fachadas {
		float: left;
		padding: 0 0 0 29px;}

	.TituloFachadas {
		background: url(../../img/site/textos.png) -10px -624px;
		float: left;
		height: 54px;
		margin: 54px 0 0 0;
		width: 143px;}

	.Casas .Thumbs {
		height: 373px;
		margin: 0 20px 0 41px;
		padding: 34px 26px 0 0;
		width: 55px;}

	.Casas .Thumbs li a { padding: 0 39px 0 0; }

	.ThumbFachada1 { background-position: right -464px; }

	.ThumbFachada2 { background-position: right -493px; }

	.ThumbFachada3 { background-position: right -522px; }

	.ThumbFachada4 { background-position: right -551px; }

	.ThumbFachada5 { background-position: right -580px; }

	.ThumbFachada6 { background-position: right -609px; }

	.ThumbFachada7 { background-position: right -638px; }

	.ThumbFachada8 { background-position: right -667px; }

	.ThumbFachada9 { background-position: right -696px; }

	.ThumbFachada10 { background-position: right -725px; }

	.ThumbFachada11 { background-position: right -754px; }

	/* @End Casas */


	/* @Localizacao ****************/

	.Localizacao .Sponsors { padding: 33px 0 0 0; }

	.InfsLocalizacao {
		background: url(../../img/site/icones-botoes.png) -103px -96px no-repeat;
		display: block;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -1px;
		margin: 0 0 19px 0;
		padding: 0 0 0 51px;}

	.InfsLocalizacao span {
		display: block;
		font-size: 15px;
		font-weight: normal;
		padding: 1px 0 0 0;}

	.PlantaoVendas {
		font-size: 15px;
		letter-spacing: -1px;
		padding: 0 0 0 51px;}

	.GoogleMaps {
		background: url(../../img/site/google-maps.gif);
		height: 27px;
		margin: 23px 0 0 51px;
		width: 124px;}

	.Map { padding: 13px 0 0 0; }

	/* @End Localizacao */


	/* @Contato ****************/

	.Contato .Sidebar {
		height: 379px;
		margin: 0 40px 0 0;
		padding: 28px 36px 0 20px;
		width: 231px;}

	.TituloPlantao, .TituloContato {
		background: url(../../img/site/icones-botoes.png) no-repeat;
		font-size: 18px;
		font-weight: bold;
		letter-spacing: -1px;
		margin: 0 0 17px 0;
		padding: 0 0 0 48px;}

	.TituloPlantao, .TituloContato { background-position: -313px -314px; }

	.TituloContato {
		background-position: -410px -404px;
		margin: 0 0 43px 27px;}

	.Tel, .Infs {
		display: block;
		padding: 0 0 20px 48px;}

	/* @End Contato */
