@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size:18px;
	color:#006571;
	text-transform:uppercase;
	font-weight:400;
 	background:url(../img/bg.png);
	text-shadow:0px 1px 0px #FFF; 
}

a { color:#006571; }
a:hover { color:#0398aa; }

h1{}
h2{}
h3{}
h4{}

/* -----------------------------------HEADER---------------------------------------- */
header { position:relative; z-index:1 ; background:;}
header h1 { margin-left:305px; margin-top:10px; width:320px; height:170px; background:; position:absolute; text-indent:-100000px }

header #menu2 { position:relative; z-index:2; float:left;  padding-left:30px; padding-top:30px}
header #menu2 li {padding-left:30px; padding-top:3px; margin-right:30px; height:30px; float:left; font-size:9px; line-height:1.1;  }
header #menu2 .a {  background:url(../img/menu2.png) 0 0 no-repeat; }
header #menu2 .b {  background:url(../img/menu2.png) 0 -40px no-repeat; }
header #menu2 .c { margin-right:260px; background:url(../img/menu2.png) 0 -80px no-repeat; }
header #menu2 .d {  background:url(../img/menu2.png) 0 -120px no-repeat; }
header #menu2 .e {  background:url(../img/menu2.png) 0 -160px no-repeat; }
header #menu2 .f { padding-left:40px; background:url(../img/menu2.png) 0 -200px no-repeat; }

header nav { width:942px; height:183px; margin-top:27px; *margin-top:-37px; background:url(../img/menu.png); }
header nav li { font-size:12px; height:30px; padding-top:17px; text-align:center; background:; margin-right:2px; margin-top:24px; *margin-top:60px; *cursor:pointer; float:left; }
header nav li:hover { background:#FFF }
header nav .a { width:51px;  }
header nav .a:hover { opacity:0.1; -moz-opacity: 0.1; filter: alpha(opacity=10); }
header nav .b { width:104px; }
header nav .c { width:139px; }
header nav .d { margin-left:328px; width:112px; }
header nav .e { width:109px; }
header nav .f { width:85px; }

/* -----------------------------------HOME---------------------------------------- */
#bg_home {width:100%; height:100%; background:url(../img/bg_home.png) center top no-repeat; position:absolute; top:0; *left:0; z-index:0 }
#bg_verde {width:100%; height:180px; background:#004b55; position:absolute; top:804px; z-index:0; *left:0; }

#home { position:relative; z-index:1; background:; padding-bottom:50px; }
#home .casas{ width:401px; height:108px; margin-left:80px; margin-top:280px; background:url(../img/3casas.png); float:left }
#home .cupcake{ 
	width: 356px;
	height: 89px;
	margin-left: 80px;
	margin-top: 350px;
	background: url(../img/crianca-chamada.png);
	float: right;
 }



#home .flor{ width:100%; height:96px; padding-top:50px; font-size:22px; text-align:center; background:url(../img/flor.png) 130px 0 no-repeat; float:left }
#home .imgs_home{ width:100%; height:268px; margin-top:10px; padding-top:50px; font-size:22px; text-align:center; background:url(../img/imgs_home.png) 10px 0 no-repeat; float:left }
#home .imgs_home h3{ width:230px; height:40px; margin-right:100px; margin-top:-55px; background:url(../img/clube_home.png); text-indent:-100000px; float:right }
#home .imgs_home ul{ width:220px; height:160px; margin-right:100px; *margin-right:-280px; margin-top:15px; font-size:12px; font-weight:bold; line-height:2.0; text-align:left; color:#FFF; float:right; text-shadow:none; }
#home .imgs_home a{ height:30px; padding-left:20px; margin-left:640px; margin-top:15px; background:url(../img/mais.png) 0 2px no-repeat; text-transform:none; font-size:13px; font-weight:bold; text-align:left; float:left; }

#home .video{ width:587px; height:394px; margin-top:10px; padding-top:0px; background:url(../img/video.png) 0 20px no-repeat; float:left }
#home .video h3{ text-transform:none; float:left; }
#home .video_box { width:522px; height:294px; margin-left:30px; margin-top:54px }

#home .formulario{ position:relative; width:320px; height:374px; margin-top:10px; padding-top:0px; background:; float:left }
#home .formulario h3{ text-transform:none; float:left; margin-bottom:30px;  }

#home .formulario .campo {  height:30px; background:url(../img/bg_form.png); border:1px solid #cac9c3; border-radius:5px; margin-bottom:10px; line-height:1.5; }
#home .formulario .nome { width:253px; padding-left:65px }
#home .formulario .email { width:248px; padding-left:70px }
#home .formulario .telefone { width:228px; padding-left:90px }

#home .formulario textarea { width:308px; padding-left:10px; height:68px; padding-top:30px; background:url(../img/textarea.png) bottom; border:1px solid #cac9c3; resize:none; border-radius:5px }
#home .formulario label { position:absolute; top:0; left:0; margin-left:10px; color:#192c35; font-size:14px;  }
#home .formulario .a { margin-top:60px; }
#home .formulario .b { margin-top:102px; }
#home .formulario .c { margin-top:144px; }
#home .formulario .d { margin-top:186px; }

.ie7 #home .formulario .a { margin-top:80px; left:30px  }
.ie7 #home .formulario .b { margin-top:125px; }
.ie7 #home .formulario .c { margin-top:169px; }
.ie7 #home .formulario .d { margin-top:215px; }

#home .formulario .btn-enviar { width:90px; height:30px; background:url(../img/enviar.png); border:0; margin-top:5px; float:right; cursor:pointer }
#home .formulario .btn-enviar:hover { background:url(../img/enviar.png) 0 -30px; margin-top:6px;  }

#home .formulario p {font-size:12px; color:#666; text-transform:none; float:left}


/* -----------------------------------CASAS---------------------------------------- */
#bg_verde_in {width:100%; height:480px; background:#004b55; position:absolute; top:830px; z-index:0; *left:0; }

#casas { position:relative; z-index:1; background:; padding-bottom:50px;  }
#casas h2{ width:94px; height:45px; background:url(../img/tit_casas.png); margin:0 auto; text-indent:-100000px; margin-bottom:40px; margin-top:10px;  }
#casas ul { width:542px; height:42px; margin:auto; margin-top:40px;  }
#casas #casas_menu a { height:42px; float:left; }
#casas #casas_menu .a p { font-size:13px; font-weight:bold; text-transform:none; text-align:center; margin-top:13px; color:#92b8bd; text-shadow:0px -1px 0px #12373c; line-height:1.0 }
#casas #casas_menu .b p { font-size:13px; font-weight:bold; text-transform:none; text-align:center; margin-top:13px; color:#92b8bd; text-shadow:0px -1px 0px #12373c; line-height:1.0 }

#casas #casas_menu .c p { font-size:13px; font-weight:bold; text-transform:none; text-align:center; margin-top:7px; color:#92b8bd; text-shadow:0px -1px 0px #12373c; line-height:1.0 }
#casas #casas_menu .d p { font-size:13px; font-weight:bold; text-transform:none; text-align:center; margin-top:7px; color:#92b8bd; text-shadow:0px -1px 0px #12373c; line-height:1.0 }

#casas #casas_menu .a { width:120px; background:url(../img/casas_menu.png) 0 0; }
#casas #casas_menu .b { width:150px; background:url(../img/casas_menu.png) -120px 0; }
#casas #casas_menu .c { width:130px; background:url(../img/casas_menu.png) -270px 0; }
#casas #casas_menu .d { width:140px; background:url(../img/casas_menu.png) -400px 0; }

#casas #casas_menu .a:hover { width:120px; background:url(../img/casas_menu.png) 0 -42px; }
#casas #casas_menu .b:hover { width:150px; background:url(../img/casas_menu.png) -120px -42px; }
#casas #casas_menu .c:hover { width:130px; background:url(../img/casas_menu.png) -270px -42px; }
#casas #casas_menu .d:hover { width:140px; background:url(../img/casas_menu.png) -400px -42px; }

.ui-tabs-hide { display: none; }

#casas .ui-state-active .a { background:url(../img/casas_menu.png) 0 -84px !important; }
#casas .ui-state-active .b { background:url(../img/casas_menu.png) -120px -84px !important; }
#casas .ui-state-active .c { background:url(../img/casas_menu.png) -270px -84px !important; }
#casas .ui-state-active .d { background:url(../img/casas_menu.png) -400px -84px !important; }

#casas .carrosel { background:url(../img/casas/01.png); width:839px; height:463px; margin:auto;  }
#casas .planta { background:; height:420px; margin-top:20px; margin-bottom:5px; float:left; width:960px;  }
#casas .planta img {}
#casas .lupa{ height:30px; padding-left:20px; padding-top:2px; color:#f0f0ec; background:url(../img/lupa.png) 0 2px no-repeat; text-transform:none; font-size:10px; font-weight:bold; text-align:left; float:right; margin-right:400px;  text-shadow:none; }


/* -----------------------------------CLUBE---------------------------------------- */
#bg_verde_clube {width:100%; height:130px; background:#004b55; position:absolute; top:790px; z-index:0; *left:0; }

#clube { position:relative; z-index:1; background:; padding-bottom:50px;  }
#clube h2{ width:269px; height:47px; background:url(../img/tit_clube.png); margin:0 auto; text-indent:-100000px; margin-bottom:40px; margin-top:10px; }

#clube .lupa{ height:30px; padding-left:20px; padding-top:2px; color:#004b55; background:url(../img/lupa_verde.png) 0 2px no-repeat; text-transform:none; font-size:10px; font-weight:bold; text-align:left; float:right; margin-right:30px; text-shadow:none; }



/* -----------------------------------IMPLANTAÇAO---------------------------------------- */
#implantacao {  background:; padding-bottom:50px;  }
#implantacao h2{ width:206px; height:67px; background:url(../img/tit_implantacao.png); margin:0 auto; text-indent:-100000px; margin-bottom:40px; margin-top:10px; }
#implantacao .flor{ width:100%; height:96px; position:absolute; margin-top:-700px; padding-top:50px; font-size:22px; text-align:left; background:url(../img/flor.png) 0px 0 no-repeat; float:left }
#implantacao .lupa{position:absolute; height:30px; padding-left:20px; padding-top:2px; margin-top:-220px; margin-left:20px; color:#a0a0a0; background:url(../img/lupa.png) 0 2px no-repeat; text-transform:none; font-size:11px; font-weight:bold; text-align:left; text-shadow:none; }

.implaover{overflow-x:hidden}


/* -----------------------------------LOCALIZAÇAO---------------------------------------- */
#localizacao { position:relative; z-index:1; background:; padding-bottom:50px;  }
#localizacao h2{ width:344px; height:68px; background:url(../img/tit_localizacao.png); margin:0 auto; text-indent:-100000px; margin-bottom:40px; margin-top:10px; }

#localizacao .mapa { background:url(../img/mapa.png); width:798px; height:440px; margin:auto;  }


/* -----------------------------------CONTATO---------------------------------------- */
#bg_familia {width:663px; height:340px; background:url(../img/familia.png) no-repeat; position:absolute; top:330px; margin-left:-190px; z-index:0; left:50%; }

#contato { position:relative; z-index:1; background:; padding-bottom:50px;  }
#contato h2{ width:137px; height:45px; background:url(../img/tit_contato.png); margin:0 auto; text-indent:-100000px; margin-bottom:40px; margin-top:10px; }

#contato .formulario{ position:relative; width:320px; height:374px; margin-top:10px; padding-top:0px; background:; float:left }
#contato .formulario h3{ text-transform:none; float:left; margin-bottom:30px;  }

#contato .formulario .campo {  height:30px; background:url(../img/bg_form.png); border:1px solid #cac9c3; border-radius:5px; margin-bottom:10px; line-height:1.5; }
#contato .formulario .nome { width:253px; padding-left:65px }
#contato .formulario .email { width:248px; padding-left:70px }
#contato .formulario .telefone { width:228px; padding-left:90px }

#contato .formulario textarea { width:308px; padding-left:10px; height:68px; padding-top:30px; background:url(../img/textarea.png) bottom; border:1px solid #cac9c3; resize:none; border-radius:5px }
#contato .formulario label { position:absolute; top:0; left:0; margin-left:10px; color:#192c35; font-size:14px;  }
#contato .formulario .a { margin-top:60px; }
#contato .formulario .b { margin-top:102px; }
#contato .formulario .c { margin-top:144px; }
#contato .formulario .d { margin-top:186px; }

.ie7 #contato .formulario .a { margin-top:80px; left:30px  }
.ie7 #contato .formulario .b { margin-top:125px; }
.ie7 #contato .formulario .c { margin-top:169px; }
.ie7 #contato .formulario .d { margin-top:215px; }

#contato .formulario .btn-enviar { width:90px; height:30px; background:url(../img/enviar.png); border:0; margin-top:5px; float:right; cursor:pointer }
#contato .formulario .btn-enviar:hover { background:url(../img/enviar.png) 0 -30px; margin-top:6px;  }

#contato .formulario p {font-size:12px; color:#666; text-transform:none; float:left}



/* -----------------------------------FOOTER---------------------------------------- */
#footer_interno { position:relative; z-index:1; background:; padding-top:20px; padding-bottom:30px; text-transform:none }
#footer_interno .left { float:left; background:url(../img/tour.png) 30px 40px no-repeat; width:460px; height:150px }
#footer_interno .right{ float:right; background:url(../img/visita.png) 0px 40px no-repeat; width:460px; height:200px}
#footer_interno .left a{ height:30px; padding-left:20px; margin-left:150px; margin-top:10px; background:url(../img/mais.png) 0 2px no-repeat; text-transform:none; font-size:13px; font-weight:bold; text-align:left; float:left; }
#footer_interno p{width:100%; color:#192c35; margin-left:150px;  margin-top:30px; font-size:16px; text-align:left; float:left; }
#footer_interno .right a{ height:30px; padding-left:20px; margin-left:140px; margin-top:100px; background:url(../img/mais.png) 0 2px no-repeat; text-transform:none; font-size:13px; font-weight:bold; text-align:left; float:left; }

#bg_footer { width:100%; height:70px; background:url(../img/bg_footer.png) center top no-repeat  }
footer { width:100%; background:#f9f9f9; padding-bottom:30px; }
footer p{ margin-left:30px; font-size:10px; color:#666; text-transform:none; float:left  }
footer img{  margin-left:30px; float:left  }

footer #facebook { width:252px; height:32px; margin-top:50px; background:url(../img/facebook.png); float:left; cursor:pointer }
footer #facebook:hover { background:url(../img/facebook.png) 0 -32px }




#divex{
	width:54px;
	height:16px;
	background:url(../img/footer-divex.png);
	float:right;
	margin-top:58px; *cursor:pointer; -webkit-transition: all 0.1s linear;
	-moz-transition: all 0.01s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	
}

#divex:hover{
	background:url(../img/footer-divex.png) 0 16px;
}


/* -----------------------------------MODAIS---------------------------------------- */
#plantao , #amigo , #interesse , #sucesso { display: none; }

/* ---------PLANTAO---------- */
#plantao .black { width:100%; height:100%; background:#000; opacity:0.6; position:absolute; z-index:100; }
#plantao .fechar { width:72px; height:51px; position:fixed; top:50%; left:50%; margin-top:-150px; margin-left:210px; z-index:102; background:url(../img/fechar.png); cursor:pointer }
#plantao .fechar:hover { background:url(../img/fechar.png) 0 -51px; }

#plantao .box { width:500px; height:270px; background:url(../img/bg.png); position:fixed; top:50%; left:50%; margin-top:-135px; margin-left:-250px; z-index:101; border-radius:10px}
#plantao .box_in { width:440px; height:210px; background:; margin-top:30px; margin-left:30px;}
#plantao .box_in h1 { font-size:20px}
#plantao .box_in img { margin-top:25px; margin-left:10px;}

/* ---------INTERESSE---------- */
#interesse .black { width:100%; height:100%; background:#000; opacity:0.6; position:fixed; z-index:100; }
#interesse .fechar { width:72px; height:51px; position:fixed; top:50%; left:50%; margin-top:-150px; margin-left:320px; z-index:102; background:url(../img/fechar.png); cursor:pointer }
#interesse .fechar:hover { background:url(../img/fechar.png) 0 -51px; }

#interesse .box { width:730px; height:280px; background:url(../img/bg.png); position:fixed; top:50%; left:50%; margin-top:-140px; margin-left:-365px; z-index:101; border-radius:10px}
#interesse .box_in { background:; margin-top:30px; margin-left:30px;}
#interesse .box_in h1 { font-size:20px; text-align:center}
#interesse .box_in img { margin-top:25px; margin-left:10px;}

#interesse .formulario{ position:relative; width:670px;  margin-top:30px; padding-top:0px; background:; float:left }
#interesse .formulario .left{ float:left }
#interesse .formulario .right{ float:right }
#interesse .formulario h3{ text-transform:none; float:left; margin-bottom:30px;  }

#interesse .formulario .campo {  height:30px; background:url(../img/bg_form.png); border:1px solid #cac9c3; border-radius:5px; margin-bottom:10px; line-height:1.0; }
#interesse .formulario .nome { width:253px; padding-left:65px }
#interesse .formulario .email { width:248px; padding-left:70px }
#interesse .formulario .telefone { width:228px; padding-left:90px }

#interesse .formulario textarea { width:308px; padding-left:10px; height:83px; padding-top:30px; background:url(../img/textarea.png) bottom; border:1px solid #cac9c3; resize:none; border-radius:5px }
#interesse .formulario label { position:absolute; top:0; left:0; margin-left:10px; color:#192c35; font-size:14px;  }
#interesse .formulario .a { margin-top:5px; }
#interesse .formulario .b { margin-top:46px; }
#interesse .formulario .c { margin-top:89px; }
#interesse .formulario .d { margin-top:5px;  margin-left:360px;}

.ie7 #interesse .formulario .a { margin-top:80px; left:30px  }
.ie7 #interesse .formulario .b { margin-top:125px; }
.ie7 #interesse .formulario .c { margin-top:169px; }
.ie7 #interesse .formulario .d { margin-top:215px; }

#interesse .formulario .btn-enviar { width:90px; height:30px; background:url(../img/enviar.png); border:0; margin-top:5px; float:right; cursor:pointer }
#interesse .formulario .btn-enviar:hover { background:url(../img/enviar.png) 0 -30px; margin-top:6px;  }

#interesse .formulario p {font-size:12px; color:#666; text-transform:none; float:left}


/* ---------AMIGO---------- */
#amigo .black { width:100%; height:100%; background:#000; opacity:0.6; position:fixed; z-index:100; }
#amigo .fechar { width:72px; height:51px; position:fixed; top:50%; left:50%; margin-top:-150px; margin-left:320px; z-index:102; background:url(../img/fechar.png); cursor:pointer }
#amigo .fechar:hover { background:url(../img/fechar.png) 0 -51px; }

#amigo .box { width:730px; height:330px; background:url(../img/bg.png); position:fixed; top:50%; left:50%; margin-top:-140px; margin-left:-365px; z-index:101; border-radius:10px}
#amigo .box_in { background:; margin-top:30px; margin-left:30px;}
#amigo .box_in h1 { font-size:20px; text-align:center}
#amigo .box_in img { margin-top:25px; margin-left:10px;}

#amigo .formulario{ position:relative; width:670px;  margin-top:30px; padding-top:0px; background:; float:left }
#amigo .formulario .left{ float:left }
#amigo .formulario .right{ float:right }
#amigo .formulario h3{ text-transform:none; float:left; margin-bottom:30px;  }

#amigo .formulario .campo {  height:30px; background:url(../img/bg_form.png); border:1px solid #cac9c3; border-radius:5px; margin-bottom:10px; line-height:1.0; }
#amigo .formulario .nome { width:253px; padding-left:65px }
#amigo .formulario .email { width:248px; padding-left:70px }
#amigo .formulario .telefone { width:185px; padding-left:133px }
#amigo .formulario .amigo { width:178px; padding-left:140px }

#amigo .formulario textarea { width:308px; padding-left:10px; height:125px; padding-top:30px; background:url(../img/textarea.png) bottom; border:1px solid #cac9c3; resize:none; border-radius:5px }
#amigo .formulario label { position:absolute; top:0; left:0; margin-left:10px; color:#192c35; font-size:14px;  }
#amigo .formulario .a { margin-top:5px; }
#amigo .formulario .b { margin-top:46px; }
#amigo .formulario .c { margin-top:89px; }
#amigo .formulario .e { margin-top:130px; }
#amigo .formulario .d { margin-top:5px;  margin-left:360px;}

.ie7 #amigo .formulario .a { margin-top:80px; left:30px  }
.ie7 #amigo .formulario .b { margin-top:125px; }
.ie7 #amigo .formulario .c { margin-top:169px; }
.ie7 #amigo .formulario .d { margin-top:215px; }

#amigo .formulario .btn-enviar { width:90px; height:30px; background:url(../img/enviar.png); border:0; margin-top:5px; float:right; cursor:pointer }
#amigo .formulario .btn-enviar:hover { background:url(../img/enviar.png) 0 -30px; margin-top:6px;  }

#amigo .formulario p {font-size:12px; color:#666; text-transform:none; float:left}

/* ---------SUCESSO---------- */
#sucesso .black { width:100%; height:100%; background:#000; opacity:0.6; position:absolute; z-index:100; }
#sucesso .fechar { width:72px; height:51px; position:fixed; top:50%; left:50%; margin-top:-150px; margin-left:210px; z-index:102; background:url(../img/fechar.png); cursor:pointer }
#sucesso .fechar:hover { background:url(../img/fechar.png) 0 -51px; }

#sucesso .box { width:500px; height:190px; background:url(../img/bg.png); position:fixed; top:50%; left:50%; margin-top:-135px; margin-left:-250px; z-index:101; border-radius:10px}
#sucesso .box_in { width:440px; background:; margin-top:30px; margin-left:30px;}
#sucesso .box_in h1 { font-size:20px; text-align:center; margin-top:70px;}
#sucesso .box_in img { margin-top:25px; margin-left:10px;}


/* ---------cupcakemodal---------- */
#cupcakemodal .black { width:100%; height:100%; background:#000; opacity:0.6; position:fixed; z-index:100; }
#cupcakemodal .fechar {width: 72px;
height: 51px;
position: fixed;
top: 50%;
left: 50%;
margin-top: -316px;
margin-left: 197px;
z-index: 102;
background: url(../img/fechar.png);
cursor: pointer; }
#cupcakemodal .fechar:hover { background:url(../img/fechar.png) 0 -51px; }

#cupcakemodal .box { width: 460px;
height: 570px;
background: url(../img/bg.png);
position: fixed;
top: 50%;
left: 50%;
margin-top: -285px;
margin-left: -230px;
z-index: 101;
border-radius: 10px;}
#cupcakemodal .box_in { height:210px; background:; margin-top:0px; margin-left:10px;}
#cupcakemodal .box_in h1 { display:none; font-size:20px; text-align:center}
#cupcakemodal .box_in img { margin-top:25px; margin-left:10px;}











