@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size:16px;
	color:#004c56;
	text-transform:uppercase;
	text-shadow:0 1px 0 #FFF;
	background:url(../img/bg.jpg);
	width:100%;
}

h1{}
h2{}
h3{}
h4{}


/* -----------------------------------IN---------------------------------------- */
#container{width:100%; height:438px; background:url(../img/header.png) center;}

#box{width:940px; display:table; position:relative; margin:0 auto}

#logo{width:317px; height:166px; background:url(../img/logo.png); margin-left:50px; padding-top:5px; float:left}
#header-text{width:355px; height:42px; background:url(../img/header-text.png); float:left; margin-left:-18px; margin-top:50px;}
.btn-mapa{width:185px; height:48px; background:url(../img/btn-mapa.png); float:right; margin-top:50px;}
.btn-mapa:hover{background:url(../img/btn-mapa.png) 0 48px}

.sinta-casa{width:299px; height:76px; background:url(../img/sinta-casa.png); position:absolute; margin-left:85px; margin-top:400px; *left:0; *top:0;}

.formulario{width:460px; height:350px; margin-top:75px; float:right}
.formulario h2{width:440px; height:30px; padding-top:20px; padding-left:20px}

.formulario ul{height:300px}
.formulario p{font-size:11px; text-transform:none; text-shadow:none; color:#454344; margin-top:20px;}
.left{width:200px; float:left; margin-left:20px;}
.right{width:220px; float:right}
.formulario label{width:100%; float:left; padding-bottom:10px; padding-top:10px;}
.formus{width:198px; height:28px; background:#f2f0eb; border:1px solid #729594; border-radius:4px; padding-left:10px; line-height:2.0; font-size:14px; color:#333}
textarea{width:218px; height:168px; background:#f2f0eb; border:1px solid #729594; border-radius:4px; padding-left:10px; line-height:2.0; font-size:14px; color:#333; resize:none}
.btn{width:241px; height:61px; background:url(../img/btn-enviar.png); border:0; cursor:pointer; margin-top:20px;}
.btn:hover{background:url(../img/btn-enviar.png) 0 61px;}


#footer{width:940px; height:135px; position:relative; margin:0 auto}
.video{width:200px; height:290px; background:url(../img/video.png) 0 10px no-repeat; margin-left:0px; margin-top:-120px; float:left}
.video:hover{background:url(../img/video.png) -195px 5px no-repeat; }
.dorms{width:289px; height:66px; position:absolute; background:url(../img/3-dorms.png); margin-left:280px; margin-top:-20px; float:left}
.social{width:220px; height:35px; background:url(../img/redes.png) no-repeat;  margin-left:200px; margin-top:60px; float:left; padding-top:15px; padding-left:22px}
.logos-nex{width:275px; height:37px; background:url(../img/logos-nex.png); margin-top:70px; float:right}

.capa{width:105px; height:40px; float:left }
.nex{width:170px; height:40px; float:left }

.sucesso{width:100%; height:100%; background:url(../img/bg-black.png); position:absolute; z-index:222;}
.sucessoin{width:550px; height:200px; background:url(../img/sucesso.png) center no-repeat #FFF; position:absolute; top:50%; margin-top:-100px; left:50%; margin-left:-275px; z-index:333}
.fechar{width:30px; height:30px; background:url(fancybox/fancybox.png) 30px 0; position:absolute; top:50%; margin-top:-115px; left:50%; margin-left:260px; z-index:444}