<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css"></head>

<body class="sucesso">
	<p>Código de verificação<br />incorreto!</p>
</body>