@charset "UTF-8"
*{
  padding:0;
  margin:0;
}
html,body {height:100%; margin:0; padding:0;}
.wrap {
  width:945px;
  margin:0 auto;
}
.tipos-lista {
width:945px;
}
.tipos-lista nav {
  width:100%;
  height:112px;
}
.tipos-lista >nav > ul {
  margin:0 auto;
  list-style:none;
  overflow:hidden;
}
.tipos-lista >nav > ul > li {
  width:220px;
  height:80px;
  float:left;
  display:inline-block;
  cursor:pointer;
  text-align: center;
  line-height: 80px;
  border-bottom:solid 5px #d5e14d;
  color:#e0a292;
  font-weight:700;
  font-size:24px
}
.tipos-lista >nav > ul > li:hover,
.tipos-lista > nav > ul > li:focus {
  color:#f86e49; 
}
.openTab {
  border-bottom:solid 10px #e2532d !important;
  color:#e2532d !important;
}
.tipos-content {
  width:945px;
  height:475px;
}
#show2dorms {display:block;}
#show3dorms, #showGarden,#showImplant {display:none;}
.display {
  height:100%;
  cursor:default;
  overflow:hidden;
}
.displayPicture {
  float:left;
  margin: 0;
  padding:10px 0 0 0;
  width:670px;
  height:445px;
}
.displayText {
  float:right;
  margin: 0;
  padding:0;
  width:265px;
  height:440px;
}
#plantas .p_impla { font-size:16px; line-height:1.7; font-weight:500 }

.displayText p {
  margin-top:60px;
  font-size:22px;
  line-height:1.7; 
  font-weight:700;
  color:#9d9682; /*amarelo bege*/
}
