@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Titillium Web', sans-serif;
	font-size:62.5%;
	color:#41606f;
	font-weight:300;
	background:#FFF;
	text-transform:uppercase;
}

@media screen and (min-width:0\0) {
		body{
			font-size:50%;
		}
		header nav { line-height:200% }
		.caroseul .lika p { line-height:150% } 
		.caroseul .lika { margin: 5px 0 0 15px;}
	
 }

i { float:left; font-size:1.8em; color:#41606f }
.radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.radius-top-left {  -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.radius-top-right {  -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }


.smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
	b { font-weight:900 }
	.ie8 input {line-height:3.0 !important;}
	.ie7 input {line-height:3.0 !important;}

.ie9 { font-size:50.0%; }

.container_12 { width:940px; min-width:940px; margin:0 auto;  }
section {width:100%; min-width:940px; float:left; }

.fixed {
position: fixed;
z-index: 9999;
}
.relative {
position: relative;
}
.nomargin { margin:0 0 0 0 !important; }
.right { float:right }

.error { color:FFF; background:red; padding:5px; font-weight:700 }

#ancora {
width: 100px;
height: 1px;
position: absolute;
background: transparent;
left: 0;
top:112px;
z-index: 2000;
}
#ancora2 {
width: 100px;
height: 1px;
position: absolute;
background: transparent;
left: 0;
bottom:200px;
z-index: 2000;
}

/* -----------------------------------HEADER---------------------------------------- */
header { position:fixed; bottom:0; z-index:9; width:100%; height:auto; background:; float:left; min-width:940px; }

header .down { width:100%; height:60px; background:#f5f4f2; border-top:1px solid #e1e1e1; float:left;   }
header .down .first { width:auto; height:60px; color:#41606f; text-transform:uppercase; background:#ffffff; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; float:left; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
header .down .first:hover { background:#e1e1e1; }
header .down .active { background:#e1e1e1; }

header .down .text { line-height: 16px; font-size:1.3em;  margin:15px 15px 0 0; float:left;   }
header .down .awesome { font-size: 2.7em; margin:18px 10px 0 15px;  float:left;  }
header .down span { font-size:1.7em; font-weight:700;  }


header .down .plantao { width:auto; height:60px; color:#41606f; text-transform:uppercase; float:left;}
header .down .plantao figure { width:34px; height:40px; background:url(../img/corret-vet.png); color:#41606f; text-transform:uppercase; float:left; margin:11px 15px 0 15px; }
header .down .plantao .text { line-height: 18px; margin:10px 15px 0 0; }
header .down .plantao span { font-size:2.1em }


header .down .balance { margin:-10px 0 0 5px; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
header .down .balance:hover { margin:-20px 0 0 5px; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

header .down .corretor { margin:-10px 0 0 5px; width:auto; height:90px; text-align:center; text-transform:uppercase; float:left;}
header .down .corretor .text { line-height: 17px; margin:8px 20px 0 20px; }

header .down .amigo { margin:-10px 0 0 5px; width:auto; height:90px; text-align:center; text-transform:uppercase; float:left;}
header .down .amigo .text { margin:19px 20px 0 20px; }

header .down .informacao { margin:-10px 0 0 5px; width:auto; height:90px; text-align:center; text-transform:uppercase; float:left;}
header .down .informacao .text { line-height: 17px; margin:18px 20px 0 20px; }


header .up { width:100%; height:85px; background:#e1e1e1; float:left;  }
header .up .first { width:25%; text-align:center; height:60px; color:#41606f; text-transform:uppercase; background:; float:left; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; margin:8px 0 0 0}
header .up .first:hover { background:#f5f4f2;}
header .up .text { font-size:1.7em; font-weight:700; margin:15px 0 0 0;  }



/* -----------------------------------HOME---------------------------------------- */
#home { position:relative; height:650px; background-image:url(../img/bg1.jpg); float:left;
background-position: center top; background-size:cover !important; 
    background-repeat: no-repeat;
    background-attachment: fixed; }
#home .bottom { position:absolute; bottom:0; z-index:1; width:100%; height:60px;  background:url(../img/bottom-color.png) center center;}

#home .left { width:40%; float:left; margin:215px 0 0 0; }
#home .right { width:57%; float:right; margin:160px 0 0 3% }
#home img { width:100%; height:auto;  
background-position: center center !important; background-repeat: no-repeat; background-size: cover !important; }

#home .right .lancamento { width:auto; font-size:2em; font-weight:700; color:#f99d1c;  margin:0 15px 0 0; float:left;   }
#home .right .curtir { width:auto; margin:6px 0 0 0; float:left;   }

#home .right .text {  line-height: 1.4em; color:#FFF !important; font-size:3.0em;  margin:0 15px 0 0; float:left;   }
#home .right span { font-size:180%; font-weight:700;  }

#home .right .button {margin:10px 10px 0 0 }
.small {  zoom: 0.7; margin-top: 10% !important }

.clear {clear:both; }

/* -----------------------------------CANOAS---------------------------------------- */
#canoas { position:relative; height:auto; float:left }

#canoas .center { width:80%; float:left; margin:5% 10% 0 10%;  }
#canoas .left { width:47%; float:left; margin:40px 3% 0 0; background:; }
#canoas .right { width:47%; float:right; margin:40px 0 8% 3% }
#canoas img { width:100%; height:auto;  
background-position: center center !important; background-repeat: no-repeat; background-size: cover !important; }
#canoas .left .text { text-align:right; line-height: 1.4em;  font-size:3.0em; float:right    }
#canoas .left span { font-size:150%; font-weight:700;  }

#canoas .right .text { text-align:justify; line-height: 1.4em; text-transform:none !important; font-size:1.6em; float:left    }
#canoas .right span { font-size:120%; font-weight:700;  }




/* -----------------------------------ENTORNO---------------------------------------- */
#entorno {  height:auto; background-image:url(../img/bg-entorno.jpg); float:left; color:#FFF !important;
	background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed
 }
#entorno .relative { position:relative; width:100%; height:100%; float:left }

#entorno .top { position:absolute; top:0; z-index:1; width:100%; height:60px;  background:url(../img/top-white-left.png) center center;}
#entorno .bottom { position:absolute; bottom:0; z-index:1; width:100%; height:60px;  background:url(../img/bottom-white-left.png) center center;}

#entorno .left { width:47%; float:left; margin:40px 3% 0 0; background:; }
#entorno .right { width:47%; float:right; margin:40px 0 6% 3% }
#entorno img { float:left; margin:0 20px 0 0 }
#entorno .left .text { margin:70px 0 33px 0; color:#FFF !important; text-align:right; line-height: 1.4em;  font-size:3.0em; float:right    }
#entorno .left span { font-size:140%; font-weight:700;  }

#entorno .left .text2 { text-align:justify; line-height: 1.4em; text-transform:none !important; font-size:1.6em; float:left    }

#entorno .right .text { margin:90px 0 50px 0; color:#FFF !important; text-align:left; line-height: 1.4em;  font-size:1.6em;; float:left    }

#entorno .right .text2 { text-align:justify; line-height: 1.4em; text-transform:none !important; font-size:1.6em; float:left    }
#entorno .right span { font-size:120%; font-weight:700;  }

#entorno .center { width:50%; float:left; margin:0 25% 10% 25%;  }
#entorno .center .button {margin:10px auto 0 auto !important }


/* -----------------------------------CANOAS---------------------------------------- */
#areas { position:relative; height:auto; float:left }

#areas .left { width:47%; float:left; margin:10% 0 0 0; background:; }
#areas .right { width:47%; float:right; margin:10% 0 0 3% }
#areas img { width:100%; height:auto;  
background-position: center center !important; background-repeat: no-repeat; background-size: cover !important; }
#areas .left .text { text-align:right; line-height: 1.4em;  font-size:3.0em; float:right    }
#areas .left span { font-size:150%; font-weight:700;  }

#areas .right .text { text-align:justify; line-height: 1.4em; text-transform:none !important; font-size:1.6em; float:left    }
#areas .right span { font-size:120%; font-weight:700;  }

#areas .center { width:100%; float:left; margin:4% 0 4% 0;  text-align:center }
#areas .center i {font-size:4.0em;  text-align:center; float:none }



/* -----------------------------------AREAS EXTERNAS---------------------------------------- */
#externa {  height:auto; background-image:url(../img/bg-externa.jpg); float:left; color:#FFF !important;
	background-position: center top; background-size:cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed
 }
#externa .relative { position:relative; width:100%; height:100%; float:left }

#externa .top { position:absolute; top:0; z-index:1; width:100%; height:60px;  background:url(../img/top-color.png) center center;}
#externa .bottom { position:absolute; bottom:0; z-index:1; width:100%; height:60px;  background:url(../img/bottom-white-right-orange.png) center center;}

#externa .left { width:32%; float:left; margin:18% 3% 0 0; background:; }
#externa .right { width:62%; float:right; margin:28% 0 25% 3% }
#externa .left .text { margin:70px 0 33px 0; color:#FFF !important; text-align:right; line-height: 1.4em;  font-size:3.0em; float:right    }
#externa .left span { font-size:140%; font-weight:700;  }

#externa .right .text { margin:90px 0 50px 0; color:#FFF !important; text-align:left; line-height: 1.4em;  font-size:1.6em;; float:left    }

#externa .right .button { zoom:0.9 }

#externa .center { width:940px; position:absolute; bottom:-35px; z-index:2; margin:0 auto	;  }
#externa .center .text { color:#955700 !important; text-align:center; line-height: 1.4em; text-transform:uppercase; font-weight:700; font-size:1.2em;   }






.space { width:100%; height:40px; float:left }
.space:hover { background:#f99d1c !important }
/* -----------------------------------AREAS INTERNAS---------------------------------------- */
#interna {  height:auto; background-image:url(../img/bg-interna.jpg); float:left; color:#FFF !important;
	background-position: center top;  background-size:cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed
 }
#interna .relative { position:relative; width:100%; height:100%; float:left }
#interna .top { position:absolute; top:0; z-index:1; width:100%; height:60px;  background:url(../img/top-white-right-orange.png) center center;}
#interna .bottom { position:absolute; bottom:0; z-index:1; width:100%; height:60px;  background:url(../img/bottom-white-right-green.png) center center;}

#interna .left { width:32%; float:left; margin:18% 0 0 3%; background:; }
#interna .right { width:52%; float:left; margin:28% 3% 25% 0 }
#interna .left .text { margin:70px 0 33px 0; color:#FFF !important; text-align:left; line-height: 1.4em;  font-size:3.0em; float:left;     }
#interna .left span { font-size:140%; font-weight:700;  }
#interna .right .text { margin:90px 0 50px 0; color:#FFF !important; text-align:left; line-height: 1.5em;  font-size: 1.45em !important; float:left    }
#interna .right .button { zoom:0.9 }

#interna .center { width:940px; position:absolute; bottom:-35px; z-index:2; margin:0 auto	;  }
#interna .center .text { color:#2a7300 !important; text-align:center; line-height: 1.4em; text-transform:uppercase; font-weight:700; font-size:1.2em;   }







.space2 { width:100%; height:40px; float:left }
.space2:hover { background:#71bf44 !important }


/* -----------------------------------APARTAMENTOS---------------------------------------- */
#apartamentos {  height:auto; background:; float:left; position:relative 
 }
#apartamentos .relative { position:relative; width:100%; height:100%; float:left }
#apartamentos .top { position:absolute; top:0; z-index:1; width:100%; height:60px;  background:url(../img/top-white-right-green.png) center center;}

#apartamentos .menu { width:99%; padding:1% 0.5% 1% 0.5%; float:left; margin:12% 0 0 0; background:#f5f4f2; }
#apartamentos .menu a { width:24%; padding:1% 0 1% 0; margin:0 0.5% 0 0.5%; float:left; text-align:center !important; color:#41606f; font-size:1.0em; line-height:1.0 }
#apartamentos .menu a:hover { background:#f1f1f1; box-shadow:-1px -1px 0 #dfe1e1}
#apartamentos .menu .active { background:#FFF; box-shadow:1px 1px 0 #dfe1e1; cursor:default }
#apartamentos .menu .active:hover { background:#FFF; box-shadow:1px 1px 0 #dfe1e1 }
#apartamentos .menu a i { float:none }
#apartamentos .menu a span { font-weight:700; font-size:1.2em; }
#apartamentos .menu a b { font-weight:300 !important; text-transform:lowercase !important }


#apartamentos h3 .text { width:100%; margin:5% 0 3% 0; font-weight:100; text-align:center; line-height: 1.4em;  font-size:2.8em; float:left;     }
#apartamentos h3 span { font-size:140%; font-weight:700;  }

#apartamentos img { width:100% }

#apartamentos .absoluto { position:inherit }
#apartamentos .fixo { position:fixed; top:0; left:0; z-index: 2002; margin:0 !important }
#apartamentos .boca { width:100%; float:left; height:236px }

/* -----------------------------------SHOWROOM---------------------------------------- */
#showroom {  height:auto; margin-top:5%; background-image:url(../img/bg-show.jpg); float:left; color:#FFF !important;
	background-position: center top; background-size:cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed
 }
#showroom .relative { position:relative; width:100%; height:100%; float:left }

#showroom .top { position:absolute; top:0; z-index:1; width:100%; height:60px;  background:url(../img/top-white-right.png) center center;}
#showroom .bottom { position:absolute; bottom:0; z-index:1; width:100%; height:180px;  background:url(../img/bottom-show.png) center center;}

#showroom .left { width:52%; float:left; margin:15% 3% 0 0; background:; }
#showroom .right { width:40%; float:right; margin:25% 0 35% 3%; position: relative; z-index: 3; }
#showroom .left .text { margin:70px 0 33px 0; color:#FFF !important; text-align:right; line-height: 1.4em;  font-size:2.8em; float:right    }
#showroom .left span { font-size:140%; font-weight:700;  }

#showroom .right .text { margin:90px 0 50px 0; color:#FFF !important; text-align:left; line-height: 1.4em;  font-size:1.6em;; float:left    }

#showroom .right .button { zoom:0.9 }

#showroom .mapa { width:940px; height: 100px; position:absolute; z-index:2; margin-top:260px }

#showroom .mapa .left { width:52%; float:left; margin:15% 3% 0 0; background:; }
#showroom .mapa .right { width:40%; float:right; margin:25% 0 35% 3% }
#showroom .mapa .right .text { color:#00aeef !important;     }
#showroom .mapa .left .text { font-size:2.2em; margin:80px 0 33px 0;     }



/* -----------------------------------FOOTER---------------------------------------- */
#footer { position:relative; height:auto; float:left;  }


#footer .center { width:100%; margin:8% 0 12% 0; float:left  }
#footer .center .text {width:100%; float:left; text-align:center; line-height: 1.4em; text-transform:none !important; font-size:1.2em;   }
#footer .center figure {width:100%; float: left; text-align:center; height:auto; margin:0 2% 6% 0;  }

#footer .assinatura { width:100%; text-align:center;  margin: 25px 0 0 0; float:left;   }
#footer .imobi { width:200px; height:auto; color:#444; float:inherit;  margin:8px 0 10px 44%  }
#footer .imobi p { float:left;  text-transform:none !important;}
#footer .imobi img { float:left; margin: 0px 0 0 5px; opacity:0.5  }
#footer .imobi img:hover { opacity:1 }


/* -----------------------------------MODAIS---------------------------------------- */

/* ---------------INFORMACOES--------------------- */
#informacoes {  height:100%; width:100%; position:fixed; z-index:10; background:#f99d1c; float:left; color:#FFF !important; opacity:0.985; overflow:auto;}
#informacoes .close-informacoes i {  position:fixed; z-index:11; top:3%; right:3%; color:#b06700 !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#informacoes .close-informacoes i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#informacoes h2 { width:50%; margin:5% 0 0 0; text-align:right; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#informacoes h2 i { color:#FFF !important; float:none;   }

#informacoes h2 span { font-size:190%; font-weight:700;  }
#informacoes .sub { width:45%; margin:12% 0 0 5%; text-align:left; float:left; color:#b06700; line-height: 1.4em; text-transform:none; font-size:2.4em;  }
#informacoes .sub span { font-weight:700;  }

#informacoes form {  }
#informacoes ul { float:left; width:100%;  margin:30px 0 80px 0;  }
#informacoes form h3 { color:#b06700; font-size:2.0em; font-weight:700;  }
#informacoes form .field { width:95%; padding-left:5%; color:#FFF !important; background:#b06700; border:0; height:60px; margin:0.5% 0 0 0; font-size:2.4em; float:left; color:#737373;  -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
#informacoes form .tres { width:32%; margin:0 0 2% 2%; float:left }
#informacoes form .one { width:100%; float:left }
#informacoes form textarea { width:98% !important; height:103px !important; padding-left:2% !important; margin:0.5% 0 !important;}
#informacoes form .button2 { width:100%; height:80px; margin:0; background:#b06700; position:fixed; bottom:0; left: 0; text-align:center; font-size:3.6em; font-weight:300; text-transform:uppercase; text-align:center;-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#informacoes form .button2 i { width:100%; padding:1.1% 0 0 0; float:left; color:#f99d1c; font-weight: 100;
font-size: 100%; }
#informacoes form .button2 span { font-weight:700;  }


/* ---------------INFORMACOES SUCESSO--------------------- */
#info_sucesso {  height:100%; width:100%; position:fixed; z-index:10; background:#b06700; float:left; color:#f99d1c !important; opacity:0.985; overflow:auto;}
#info_sucesso .close-info_sucesso i {  position:fixed; z-index:11; top:3%; right:3%; color:#f99d1c !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#info_sucesso .close-info_sucesso i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#info_sucesso h2 { width:90%; margin:17% 0 0 5%; text-align:center; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#info_sucesso h2 i { color:#f99d1c !important; float:none;   }

#info_sucesso h2 span { font-size:190%; font-weight:700;  }
#info_sucesso .sub { width:90%; margin:1% 0 0 5%; text-align:center; float:left; color:#FFF; line-height: 1.4em; text-transform:none; font-size:2.4em;  }
#info_sucesso .sub span { font-weight:700;  }

#info_sucesso form {  }
#info_sucesso ul { float:left; width:100%;  margin:30px 0 80px 0;  }


/* --------------- AMIGO SUCESSO --------------------- */
#amigo_sucesso {  height:100%; width:100%; position:fixed; z-index:10; background:#318600; float:left; color:#FFF !important; opacity:0.985; overflow:auto;}
#amigo_sucesso .close-amigo_sucesso i {  position:fixed; z-index:11; top:3%; right:3%; color:#71bf44 !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#amigo_sucesso .close-amigo_sucesso i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#amigo_sucesso h2 { width:90%; margin:17% 0 0 5%; text-align:center; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#amigo_sucesso h2 i { color:#71bf44 !important; float:none;   }

#amigo_sucesso h2 span { font-size:190%; font-weight:700;   }
#amigo_sucesso .sub { width:90%; margin:1% 0 0 5%; text-align:center; float:left; color:#FFF; line-height: 1.4em; text-transform:none; font-size:2.4em;  }
#amigo_sucesso .sub span { font-weight:700;  }





/* --------------- INDIQUE PARA UM AMIGO --------------------- */
#indique_amigo {  height:100%; width:100%; position:fixed; z-index:10; background:#71bf44; float:left; color:#FFF !important; opacity:0.985; overflow:auto;}
#indique_amigo .close-amigo i {  position:fixed; z-index:11; top:3%; right:3%; color:#318600 !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#indique_amigo .close-amigo i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#indique_amigo h2 { width:50%; margin:5% 0 0 0; text-align:right; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#indique_amigo h2 i { color:#FFF !important; float:none;   }

#indique_amigo h2 span { font-size:190%; font-weight:700;  }
#indique_amigo .sub { width:45%; margin:12% 0 0 5%; text-align:left; float:left; color:#318600; line-height: 1.4em; text-transform:none; font-size:2.4em;  }
#indique_amigo .sub span { font-weight:700;  }

#indique_amigo form {  }
#indique_amigo ul { float:left; width:100%;  margin:30px 0 80px 0;  }
#indique_amigo form h3 { color:#318600; font-size:2.0em; font-weight:700;  }
#indique_amigo form .field { width:95%; padding-left:5%; color:#FFF !important; background:#318600; border:0; height:60px; margin:0.5% 0 0 0; font-size:2.4em; float:left; color:#737373;  -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
#indique_amigo form .tres { width:23.5%; margin:0 0 2% 2%; float:left }
#indique_amigo form .one { width:100%; float:left }
#indique_amigo form textarea { width:98% !important; height:103px !important; padding-left:2% !important; margin:0.5% 0 !important;}
#indique_amigo form .button2 { width:100%; height:80px; margin:0; background:#318600; position:fixed; bottom:0; left: 0; text-align:center; font-size:3.6em; font-weight:300; text-transform:uppercase; text-align:center;-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#indique_amigo form .button2 i { width:100%; padding:1.1% 0 0 0; float:left; color:#71bf44; font-weight: 100;
font-size: 100%; }
#indique_amigo form .button2 span { font-weight:700;  }

.button2:hover { opacity:0.8}


/* --------------- ASSISTA AO VIDEO --------------------- */
#assista_video {  height:100%; width:100%; position:fixed; z-index:10; background:#00aeef; float:left; color:#FFF !important; opacity:0.985; overflow:auto;}
#assista_video iframe{   margin:0 0 0 10% }
#assista_video .close-video i {  position:fixed; z-index:11; top:3%; right:3%; color:#00729d !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#assista_video .close-video i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#assista_video h2 { width:100%; margin:1% 0 1% 0; text-align:center; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#assista_video h2 i { color:#FFF !important; float:none;   }

#assista_video h2 span { font-size:190%; font-weight:700;  }
#assista_video .sub { width:45%; margin:12% 0 0 5%; text-align:left; float:left; color:#00729d; line-height: 1.4em; text-transform:none; font-size:2.4em;  }
#assista_video .sub span { font-weight:700;  }



/* --------------- OPEN ENTORNO --------------------- */
#open_entorno {  height:100%; width:100%; position:fixed; z-index:10; background:#FFF; float:left; color:#FFF !important; opacity:0.985; overflow:auto;}
#open_entorno img{  float:left; width:80%; margin:0 0 0 0 }
#open_entorno .close-entorno i {  position:fixed; z-index:11; top:3%; right:3%; color:#00aeef !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#open_entorno .close-entorno i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#open_entorno h2 { width:100%; margin:1% 0 1% 0; text-align:center; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#open_entorno h2 i { color:#00aeef !important; float:none;   }

#open_entorno h2 span { font-size:190%; font-weight:700;  }
#open_entorno .sub { width:16%; padding:2%; height:100%;  background:#ececec; text-align:left; float:left; color:#00729d; line-height: 1.8em; text-transform:none; font-size:1.8em;  }
#open_entorno .sub span { font-weight:700;  }


/* --------------- OPEN MAPA --------------------- */
#open_mapa {  height:100%; width:100%; position:fixed; z-index:10; background:#FFF; float:left; color:#FFF !important; opacity:0.985; overflow:auto;}
#open_mapa img{  float:left; width:70%; margin:0 0 0 15% }
#open_mapa .close-mapa i {  position:fixed; z-index:11; top:3%; right:3%; color:#00aeef !important; font-size:6.0em; cursor:pointer; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
#open_mapa .close-mapa i:hover {  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg); }

#open_mapa h2 { zoom:0.8; width:100%; margin:1% 0 1% 0; text-align:center; padding:0; line-height: 2.4em;  font-size:2.2em; float:left    }#open_mapa h2 i { color:#00aeef !important; float:none;   }

#open_mapa h2 span { font-size:100%; font-weight:700;  }
#open_mapa .sub { width:16%; padding:2%; height:100%;  background:#ececec; text-align:left; float:left; color:#00729d; line-height: 1.8em; text-transform:none; font-size:1.8em;  }
#open_mapa .sub span { font-weight:700;  }







/* -----------------------------------MOBILE---------------------------------------- */
@media (max-width: 979px) {
	
	header { min-width:inherit; }
	.container_12 { width:100%; min-width:inherit;  }
	section {min-width:inherit; }
	
	header .down .first { width:9.8%; border-left:0; border-right:; }
	header .down .first .text { display:none   }
	header .down .awesome { line-height: 63px; font-size: 2.7em; margin: 0 auto; width: 100%; text-align: center; }
	
	header .down .plantao { }
	header .down .corretor { display:none }
	header .down .amigo { display:none }
header .down .balance {  margin:0; padding:10px 2% 0 2%; float: right; }
header .down .corretor {padding:5px 0 0 0; }
header .down .balance .text { float:none; margin:10px 0 0 0; }
header .down .balance:hover { margin:0 }
.right { float:none }

header .up { height:200px; margin:0 0 0 0}
header .up .first { width:90%; height:40px; margin:8px 5% 0 5%}
header .up .text { margin:7px 0 0 0;  }




	
#home .left { width:80%; margin:50px 0 0 15%; float:left;  }
#home .right { width:90%; float:right; margin:50px 0 0 10%; zoom:0.9 }

#canoas .left { width:100%; margin:40px 0 0 0; text-align:center }
#canoas .right { width:100%; float:right; margin:0 0 0 0 }
#canoas .left .text { text-align:center; width:100%;     }
#canoas .right .text { text-align:center; width:auto; margin:5% 10% 10% 10%     }

#entorno .left { width:90%; margin:40px 5% 0 5%; text-align:center }
#entorno .right { width:90%; float:right; margin:0 5% 0 5% }
#entorno .left .text { text-align:center; width:100%;     }
#entorno .right .text { text-align:center; width:auto; margin:5% 10% 3% 10%     }
#entorno .center { width:80%;  margin:5% 10% 10% 5%;  }
#entorno .center .button {zoom:0.8;  }

#areas .left { width:100%; margin:40px 0 0 0; text-align:center }
#areas .right { width:100%; float:right; margin:0 0 0 0 }
#areas .left .text { text-align:center; width:100%;     }
#areas .right .text { text-align:center; width:auto; margin:5% 10% 10% 10%     }

#externa .center { width:90%; bottom:-50px; margin:0 5% 0 5%; }
#interna .center { width:90%; bottom:-50px; margin:0 5% 0 5%; }

#externa .left { width:90%; margin: 12% 0 0 10%; text-align:left }
#externa .right { width:100%; margin:-2% 0 22% 0 }
#externa .left .text { text-align:left; width:100%;     }
#externa .right .text { text-align:center; width:auto; margin:5% 10% 10% 10%     }
#externa .right .button { margin:0 5% 0 10%;  zoom:0.7;  }

#interna .right { position:absolute; top:290px; width:90%; margin: -2% 0 0 1.2%; }
#interna .left {  float:left; width:90%; margin:12% 0 26% 10%; text-align:left  }
#interna .left .text { text-align:left; width:100%;     }
#interna .right .text { text-align:center; width:auto; margin:5% 10% 10% 10%     }
#interna .right .button { margin:0 5% 0 10%;  zoom:0.7;  }

#showroom .mapa { width:100%;  zoom:0.8; margin-top:34% }
#showroom .mapa .right { margin:24% 0 35% 3% }

#showroom .uptown .left { width:90%; margin: 12% 0 0 10%; text-align:left }
#showroom .uptown .right { width:100%; margin:-2% 0 15% 0 }
#showroom .uptown .left .text { text-align:left; width:100%;     }
#showroom .uptown .right .text { text-align:center; width:auto; margin:5% 10% 10% 10%     }
#showroom .uptown .right .button { margin:0 5% 20% 10%;  zoom:0.7;  }



#informacoes form .tres { width:90%; margin:0 0 2% 5%; }
#informacoes form .one { width:90%; margin:0 0 2% 5%; }
#informacoes form .nomargin { margin:0 0 2% 5% !important; }
#informacoes ul { zoom:0.7 } 
#informacoes h2 { width:90%; margin:0 0 2% 5%; text-align:center; zoom:0.7 } 
#informacoes .sub {width:90%; margin:0 0 2% 5%; zoom:0.7 } 
#informacoes form .button2 { zoom:0.6}



#indique_amigo form .tres { width:90%; margin:0 0 2% 5%; }
#indique_amigo form .one { width:90%; margin:0 0 2% 5%; }
#indique_amigo form .nomargin { margin:0 0 2% 5% !important; }
#indique_amigo ul { zoom:0.7 } 
#indique_amigo h2 { width:90%; margin:0 0 2% 5%; text-align:center; zoom:0.7 } 
#indique_amigo .sub {width:90%; margin:0 0 2% 5%; zoom:0.7 } 
#indique_amigo form .button2 { zoom:0.6}


#assista_video h2 { zoom:0.4; height:180px } 
#assista_video h2 i {  } 

#open_entorno h2 { zoom:0.4; height:180px } 

#open_entorno .sub { font-size:1.1em  }

#footer .center .text {width:90%; margin-left:5%  }

	.boca { height: auto !important; }
	.fixo { position:relative !important }

}
@media (max-width: 400px) {

.ano-conquista { zoom: 0.7; }

#home .right span {
font-size: 100%;
}

.button {    }
.button i { zoom:0.8;  }
#home .button i {zoom:1 !important;  }

#externa .center {
width: 90%;
bottom: -57px;
margin: 0 5% 0 5%;
font-size:90%
}
#interna .center {
width: 90%;
bottom: -57px;
margin: 0 5% 0 5%;
font-size:90%
}
#interna .right .button {
margin: 5% 5% 0 10%;}
#externa .right .button {
margin: -1% 5% 0 10%;}
#externa .right .button i {
zoom: 0.7;}

#home {background-size:auto 100% !important;  height:500px; }
#entorno {background-size:auto 100% !important; }
#externa {background-size:auto 100% !important; }
#interna {background-size:auto 100% !important; }
#showroom {background-size:auto 100% !important; }

#showroom .mapa { margin-top: 160px !important; margin-left:5% !important }
#apartamentos .menu a {
zoom: 0.6 !important;
}
#showroom .left span { font-size:120%; }

header .down { height:50px}
header .down .plantao { zoom: 0.6 !important; margin-top:2.5% }
header .down .plantao .text {  line-height:1.2 !important }
header .down .first { width:18%;}
header .down .informacao { zoom: 0.8 !important; }
header .down .awesome { line-height: 53px; }

}
@media (max-width: 700px) {
	header .down .plantao { zoom:0.9 }
	header .down .balance { padding:12px 0 0 0; margin:0; float: right; }
	header .down .balance {  padding: 14px 3% 0 3%; }

	#entorno .center { margin:10% 10% 20% 5%; }
	#entorno .center .button {zoom:0.7;  }
	#externa .right .button { zoom:0.6;  }
	#interna .right .button { zoom:0.6;  }
	#interna .right {  top:240px; }
	
	#apartamentos .menu a { zoom:0.8 }
	#apartamentos .menu { margin:18% 0 0 0 }
	#apartamentos h3 .text { zoom:0.5    }

	header .down .balance .text { zoom:0.8; }

	#showroom .uptown .left .text { zoom:0.6;      }
	#showroom .uptown .right .button { zoom:0.6; margin-bottom:17%; }

	#showroom .bottom { position:absolute; bottom:0; z-index:1; width:100%; height:35%;  background:url(../img/bottom-show.png) top center;}

	#showroom .mapa .left .text { zoom:0.6;  margin-top:28%;    }
	#showroom .mapa .right .button { zoom:0.6; margin-top:17%; }
	#showroom .mapa { margin-top:28% }

	#footer .center .text {width:90%; margin-left:5%; float:none;   }
	#footer .center .nex { float: left; margin-bottom:5%; width:90%; margin-left:5%;   }

	#footer .center { margin:8% 0 18% 0 }
	
#open_entorno img{  float:left; width:100%; margin:0 0 0 0 }
#open_entorno .sub { width:96%; padding:2%; height:100%;  background:#ececec; text-align:left; float:left; color:#00729d; line-height: 1.8em; text-transform:none; font-size:1.8em;  }
#open_entorno .sub { font-size:1.1em  }
#open_entorno .sub br { display:none  }
	
	#footer .imobi { margin:8px 0 10px 37%  }

	
	
}

@media (min-width: 1360px) {
	.container_12 { width:1220px;   }
	#home .left { width:45%; margin:185px 0 0 5%; }
	#home .right { width:44% }
	#entorno .center {margin: 0 0 10% 31%;}
	#externa .center { width:1220px; }
	#interna .center { width:1220px; }
	
	#externa .left {   margin:12% 3% 0 0;}
	#externa .right {  margin:22% 0 19% 3% }
	#interna .left {   margin:12% 0 0 3%;  }
	#interna .right {  margin:22% 3% 19% 0 }
	
	#showroom .left {   margin:15% 3% 0 0;}
	#showroom .right {  margin:22% 0 28% 3% }

	#showroom .mapa { width:1220px; margin-top:240px }
	#showroom .mapa .left {   margin:17.5% 3% 0 0;}

	#informacoes .sub { width:45%; margin:10.5% 0 0 5%; font-size:2.4em;  }

	.button2 { height:110px !important } 
	
	#ancora {top:145px;}

	
	
}

/* -----------------------------------COLORS---------------------------------------- */
.blue { color:#FFF !important; background:#00aeef; }
	.blue:hover { background:#34c7fe; }
	.blue i { color:#FFF !important; }
.green { color:#FFF; background:#71bf44; }
	.green:hover { background:#89e355; }
	.green i { color:#FFF !important; }
.orange { color:#FFF; background:#f99d1c; }
	.orange:hover { background:#fcb24b; }
	.orange i { color:#FFF !important; }
.white { color:#00aeef; background:#FFF; }
	.white:hover { opacity:0.8; }
	.white i { color:#00aeef !important; }

.red { color:#FFF; background:#cf183b; }
	.red:hover { background:#E5395A; }
	.red i { color:#FFF !important; }





/* -----------------------------------FORMULARIO---------------------------------------- */
form {  }
.field {  } 
.field:focus {   } 
.button { height:50px; font-size:1.6em; font-weight:300; float:left; text-transform:uppercase; text-align:center;-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

.button .text { font-size:1.5em !important;  margin:9px 20px 0 0 !important; float:left;   }
.button .awesome { font-size: 1.5em; margin:14px 10px 0 20px;  float:left;  }

.button span { font-size:100% !important; font-weight:700;  }






.button-small { height:21px; padding:3px 10px 0 10px; font-size:0.9em; font-weight:300; float:left; text-transform:uppercase; text-align:center; color:#FFF; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.amarelo { background:#ffb801; } .amarelo:hover { background:#ffc530; }
.cinza { background:#b4b3b2; } .cinza:hover { background:#cccccc; }
.btn-pag { background:#87c000; } .btn-pag:hover { background:#96d402; }
.red { background:#fa5050; } .red:hover { background:#fc7171; }
.black { background:#000; } .black:hover { background:#444; }

textarea { resize:none; padding:10px 0 0 15px !important }







/* -----------SUCESSO------------ */
#sucesso {  } 
#sucesso .content { position:fixed; z-index:99; width:400px; height:auto; padding:80px 40px 80px 40px; background:#FFF; top:15%; left:50%; margin:0 0 0 -200px }
#sucesso .content h2 { width:100%; color:#444; font-size:3.2em; font-weight:300; text-align:center; margin:5px 0 0 0; padding:0 0 10px 0;  text-transform:uppercase; float:left }
#sucesso .content h2 span { color:#00a551; font-weight:900; }
#sucesso .content i {position:absolute; top:10px; right:10px; color:#00a551; font-size:2.4em; }

#sucesso .content .box { width:auto; padding:0 20px 20px 20px	; border:1px solid #ececec; max-height:250px; float:left; margin:10px 0 0 0; overflow:auto; background:#f9f9fc; }
#sucesso .content .box label { width:152px; margin:15px 0 0 0; float:left }
#sucesso .content .box label input { width:17px; height:17px; margin:0 7px 0 0; float:left }
#sucesso .content .box label p { float:none; margin:0;  font-size:1.3em; }
#sucesso .content .button {clear:both; width:auto; padding:0 20px 0 20px; height:42px; text-align:center; margin:30px 0 0 0 !important; color:#FFF; float:right }
#sucesso .content .button span { width:100%; padding:10px 0 0 0; float:left; color:#FFF }





.red-alert {position: relative; z-index: 9; float: left; background: #cf183b; color: white; padding: 1em 0; width: 100%; text-align: center }
.red-alert p { font-weight: 700; font-size: 2em; font-style: italic; }



.ano-conquista {width: 177px; height:52px; position: absolute; top: 10%; right: 1.5%;  z-index: 8; background:url(../img/2015.png); }

.link-title { text-decoration: underline; }


header .down .right { position: relative; }
.especial {width: 170px; height:33px; position: absolute; top: 0; left: 0; margin: 12px 0 0 -173px;  z-index: 8; background:url(../img/especial.png) no-repeat; }
@media (max-width: 1360px) {
	.especial { background-size: 70%; background-position: 52px 0   } 

}


/* -----------POP UP------------ */
        .modal { position: fixed; top: 7%; left: 50%; z-index: 1000;  }
        .modal .box {position: relative; z-index: 1005; float: left; width: 800px;   height: 400px;  overflow-y: scroll;  padding: 50px;  margin: 0 0 0 -425px; background: #FFF;  }
        .modal .box h2 { font-size: 3em; line-height: 1.2;font-weight: 700; }
        .modal .box p {  text-transform: none;
              font-size: 1.7em;
              font-weight: 300;
              padding: 2% 0;
            }
        .modal .box p b { font-weight: 700;  }




        .modal .btn-fechar {position: absolute; z-index: 1006; float: left; width: 50px; height: 50px; background: black; border: 2px solid white; border-radius: 50%; color: white; text-align: center; margin: -20px 0 0 395px; top: 0; left: 0; }
        .modal .btn-fechar:hover { background: #333 }
        .modal .btn-fechar p {float: left; width: 100%; text-align: center; padding-top:7px; font-size: 2.3em; font-weight: 700 }
        .black-modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0.7; filter: alpha(opacity =70); z-index: 999  }

				@media (max-width: 979px) {

          .modal { left: 0 !important; height: 93% !important;    }
          .modal .box { width: 90% !important;   height: 90% !important;  padding: 5% !important;  margin: 0 !important;   }

          .modal .btn-fechar { margin: 0 !important; top: -5% !important; left: 5% !important }


				}