body { background: #7f181b url(../img/bg.jpg) repeat top center; font-family: 'Open Sans', sans-serif;  font-family:;
background-size: 60%; color: #fff; overflow-x: hidden; margin: 0; padding: 0; -webkit-box-shadow: inset 0px 0px 63px 2px rgba(0,0,0,0.7); -moz-box-shadow: inset 0px 0px 63px 2px rgba(0,0,0,0.7); box-shadow: inset 0px 0px 63px 2px rgba(0,0,0,0.7); }
img { max-width: 100%; height: auto; }
header, footer { max-width: 960px; margin: 0 auto; }
header { position: relative; max-width: 100% !important; background: transparent url(../img/header.png) no-repeat center center; height: 365px; padding-top: 50px; }
section {     
	text-align: center;
    margin-top: -15px; 
}
section p.telefone { font-size: 2em; font-weight: 800; font-style: italic; color: #f4ab00; text-shadow: 1px 2px 1px #000; margin: 0; padding: 0; text-align: center;}
section p.aproveite { font-size: 2em; font-weight: 800; font-style: italic; color: #f4ab00; text-shadow: 1px 2px 1px #000; margin: 0; padding: 0; text-align: center;}
section p.obs { font-weight: 800; font-size: 80%; text-align: right; padding: 0; margin: 0px; }
section p.telefone span { font-size: .75em; }
section .corretor-online{ 
	margin:10px 0;
}
section .btn-corretor-online{ 
	background: #F4B300;
    color: #FFF;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 2px;
	text-decoration:none;
}


.m15 {
	margin-top:15px;
	margin-bottom:15px;
}
.m20 {
	margin-top:20px;
	margin-bottom:20px;
}

section p.text-whatsnex {
	font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 0;
    margin: 0px; 
}

.emp {padding: 0px 45px;}

section.ofertas {
	margin-top:3%;
}

section.ofertas .my-urban-life .logo-tag { background:url(../img/logo-my-urban-life.png) no-repeat; }
section.ofertas .saint-louis .logo-tag { background:url(../img/logo-saint-louis.png) no-repeat; }
section.ofertas .max-haus .logo-tag { background:url(../img/logo-max-haus.png) no-repeat; }
section.ofertas .singolo .logo-tag { background:url(../img/logo-singolo.png) no-repeat; }
section.ofertas .vergeis .logo-tag { background:url(../img/logo-vergeis.png) no-repeat; }
section.ofertas .new-life .logo-tag { background:url(../img/logo-new-life.png) no-repeat; }

section.ofertas .price-tag {
	#background-color:#e4a735!important;
	#background-size:cover!important;
	border-radius: 0 15px 15px 0;
	color:#972726;
	font-weight:bold;
	position: relative;
    z-index: 999;
}

/*section.ofertas .logo-tag {
	background-position:center center!important;
	background-color:#FFF!important;
	background-size: contain!important;
	border-radius: 15px 0 0 15px;
	z-index: 999;
	height:132px;
}*/

section.ofertas .price-tag img {
	float: left;
	margin: 0;
    margin-left: -15px;
	width:100%;
}

section.ofertas  .price-tag div {
	margin:0;
	padding-left:5px;
} 
.prorrogado {
    position: absolute;
    width: 35%;
    top: 0;
    left: 0;
}
.de-label{text-align:left;font-weight:bold;color:#FFF;font-size: 18px;}
.de-price{
	text-align:left;
	padding-left:20px!important;
	font-size: 30px;
    line-height: 20px;
}

.de-price i:first-child {
    top: -4px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    font-style: normal;
}
.de-price i:last-child {
    top: -9px;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    font-style: normal;
}

.por-label .por{float:left;font-weight:bold;color:#FFF;font-size: 18px;}
.por-label .avista{float:right;font-size: 18px;}
.por-price{
	text-align: left;
    font-size: 55px;
    line-height: 40px;
    padding-bottom: 5px;
}
.por-price i:first-child {
    top: -5px;
    font-size: 28px;
    font-weight: bold;
    position: relative;
	font-style:normal;
}
.por-price i:last-child {
    top: -18px;
    font-size: 28px;
    font-weight: bold;
    position: relative;
	font-style:normal;
}

.img {padding:0;}
.img img {
	right: -25px;
    position: relative;
    top: -25px;
    z-index: 99;
	width: 92%;
}

footer { padding-top: 80px; padding-bottom: 40px; }
section img, footer img { margin: 0 auto; display: block; }
header img { margin: 0 auto !important; text-align: center; }
.img-content { margin: 60px auto 20px;     width: 100%;}
.cont-form {margin-top:2%;}
.cont-form-chamada {margin-top:6%;}
.text-input { width:100%; border:0; border-radius:3px;padding:20px;margin-bottom:10px; color: #93171f; font-weight: bold;}
.textarea { width:100%; border:0; border-radius:3px;padding:20px;margin-bottom:10px; color: #93171f; font-weight: bold;}
.submit-input {padding:20px; width:100%;background:#e5b300;color: #93171f; border: 0; border-radius:3px; font-weight: bold; font-size:2em;}

/* E-MAIL PLACEHOLDER */
.email::-webkit-input-placeholder:after { content:' (opcional)';font-size:1em;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-weight: bold;	
    color:    #93171f;
}
.email:-moz-placeholder:after { content:' (opcional)';font-size:1em;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-weight: bold;
	color:    #93171f;
	opacity:  1;
}
.email::-moz-placeholder:after { content:' (opcional)';font-size:1em;}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-weight: bold;
	color:    #93171f;
	opacity:  1;
}
.email:-ms-input-placeholder:after { content:' (opcional)';font-size:1em;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: bold;
	color:    #93171f;
}

/* TEXTAREA PLACEHOLDER */
.textarea::-webkit-input-placeholder:after { content:' (apartamento 2 dorm., casa zona sul, ...)';font-size:1em;}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	font-weight: bold;	
    color:    #93171f;
}
.textarea:-moz-placeholder:after { content:' (apartamento 2 dorm., casa zona sul, ...)';font-size:1em;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-weight: bold;
	color:    #93171f;
	opacity:  1;
}
.textarea::-moz-placeholder:after { content:' (apartamento 2 dorm., casa zona sul, ...)';font-size:1em;}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-weight: bold;
	color:    #93171f;
	opacity:  1;
}
.textarea:-ms-input-placeholder:after { content:' (apartamento 2 dorm., casa zona sul, ...)';font-size:1em;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-weight: bold;
	color:    #93171f;
}


# label.error{display:none!important;}
# input.error{ background:rgba(147,23,31,0.5)}

.enviado{text-align:center;color:#FFF; margin-top: -18px;}
iframe{border: 0;}

@media only screen and (max-width: 768px) {
	
}

@media only screen and (min-device-width: 481px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
	header { background-size: 210%; height: 270px; padding-top:0; }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	header { background-size: 210%; height: 125px; padding-top:0; }
	section{padding-top: 0px;margin-top:0;}
	section p.telefone { font-size: 2em; padding:0;text-align: center; }
	section p.obs { text-align:center; }
	img { max-width: 95%; height: auto; }
	.img-content {
		margin: 10px auto 20px;
		width: 100%;
	}
	/*.text-whatsnex {display:none}*/
	
	.prorrogado {
		width: 45%;
	}
}
