@charset "utf-8";
/* CSS Document */


.none{ display:none; }
.nenhum-registro{ font-size:20px; font-weight:normal; }
.error{ border:1px solid #FF0000; background:#FF0000!important; }

#tab-mapa{ height:412px; }
#tab-mapa .mapa{ height:450px; }

.header-relative .formBusca{ position:absolute; width:200px; display:none; margin: 15px 10px 10px 200px; }
.header-relative .formBusca input { padding: 0.5em 0.8em; height: auto; border: 1px solid #FFF; background: none 0% 0% repeat rgba(255, 255, 255, 0.18); color: #FFF; font-size: 1.8em; }

.header-relative .btn-procurar{ overflow:hidden; width:180px; float: left; }
.header-relative .btn-procurar a{ width:200px; }


.header-fixo .formBusca { position:absolute; width:200px; display:none; margin: 0 10px 10px 200px; }
.header-fixo .formBusca input { padding: 0.9em 0.8em; height: auto; border: 0; background: #940005; color: #FFF; font-size: 1.8em; }

.header-fixo .btn-procurar{ overflow:hidden; width:180px; float: left; }
.header-fixo .btn-procurar a{ width:200px; }

.info-window{ background:#f5f4f2; color:#999; width:200px; padding:1em 2em; font-size:1.2em; text-transform:uppercase; font-weight:700; }

@media (max-width:1000px) {
	.header-relative .formBusca{ width:120px !important }
	.header-fixo .formBusca{ width:120px !important }

}
@media (max-width: 900px) {
	.header-relative .formBusca{ width: 100% !important; z-index: 999999; margin: 75px 10px 10px 0; }
	.header-relative .formBusca input {  background: #FFF; color: #999; }

	.header-fixo .formBusca{ width: 100% !important; z-index: 999999; margin: 60px 10px 0 0; height: 48px; box-shadow: 0 10px 20px #333;}
	.header-fixo .formBusca input {  background: #FFF; color: #999; }

	.header-relative .btn-procurar a{ width:19px; }
	.header-fixo .btn-procurar a{ width:19px; }

	.header-relative .btn-procurar{ width:50px; }
	.header-fixo .btn-procurar{  width:50px; }

}
