@charset "utf-8";
/* CSS Document */

/* ---------------- RESET ---------------- */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;  font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
    :focus { outline: 0;}
    a, a:link, a:visited, a:hover, a:active{text-decoration:none}
    table { border-collapse: separate;border-spacing: 0;}
    th, td {text-align: left; font-weight: normal;}
    img, iframe {border: none; text-decoration:none;}
    ol, ul {list-style: none;}
    input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
    select {margin: inherit;}
    hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


    html { background: #464646; }
    body{ font-family: 'Open Sans', sans-serif; font-size:62.5%; color:#1c1c1c; font-weight:100; background: #464646; height: auto; }
    b { font-weight:900 }

    /*  BORDA ARREDONDADA  */
    .radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

    /*  EFEITO SMOTH  */
    .smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

    /*  IES  */
    .ie8 input {line-height:2.0 !important;}
    .ie7 input {line-height:3.0 !important;}

    section {width:100%; position: relative; float:left; }

    .fixed { position: fixed; z-index: 9999; }
    .relative { position: relative; }

    /*  SEM MARGINS  */
    .nomargin { margin: 0 0 0 0 !important; }

    /*  SEM BORDA  */
    .noborder { border: 0 !important; }

    /*  ROW  */
    .row { position: relative; width: 93%; margin-left: 3.5%; margin-right: auto; margin-top: 0; margin-bottom: 0; }
    .row100 { position: relative; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; }

    h1 { display: none }

/* ---------------- RESET END ---------------- */


::-webkit-scrollbar {
    width: 7px;
    height: 7px
}

::-webkit-scrollbar-thumb {
    background-color: #626262
}

::-webkit-scrollbar-track {
    background-color:#383838
}

aside::-webkit-scrollbar {
    width: 3px;
    height: 3px
}

aside::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.4)
}


::-moz-scrollbar {
    width: 7px;
    height: 7px
}

::-moz-scrollbar-thumb {
    background-color: #626262
}

::-moz-scrollbar-track {
    background-color:#383838
}

aside::-moz-scrollbar {
    width: 3px;
    height: 3px
}

aside::-moz-scrollbar-thumb {
    background-color: rgba(50,50,50,.4)
}


/************************************************************************************
                                    RESPONSIVO
*************************************************************************************/
      /* ---------------- MOBILE ---------------- */
            @media (max-width:1015px) {

              .row { width: 1015px !important; margin: 0 !important; }
              .row100 { width: 1015px !important; }



            }
            @media (max-width:1060px) {
              .header-fixo #info { font-size: 90%  }
              .header-fixo #info {margin: 5.0em 0 0 0 !important;}

            }

            @media (max-width:1240px) {
              .header-fixo .right { zoom: 0.7;   padding: 2em 0 0 0;  }

            }


            @media (max-width:1400px) {
              #kanban { font-size: 85% }
              .header-fixo { font-size: 85% }
              .header-fixo #info-kan li { padding: 0 0 0 0.5em !important  }
              .header-fixo #info-kan li p { margin: 0.7em 0 0 0 !important;  }
              .header-fixo #link-kan a i { padding: 0.9em 1em 0.7em 1em !important; }
              .header-fixo #link-kan a p { padding: 1.1em 1.6em 0.8em 0 !important; }
              #kanban .plane_1 .content form label input { width: 12px !important; height: 12px !important }

              .header-fixo {  height: 100px !important; }

              #restricoes .plane_1 .content form label p { width: 105px !important }
              #kanban .plane_1 .content form label p { width: 105px !important }

            }
      /* ---------------- MOBILE END ---------------- */


      /* ---------------- FULL HD ---------------- */
            @media (min-width:1650px) {

              #kanban .plane_1 { width: 12.9% !important }
              #kanban .plane_2 { width: 25.466666% !important }
              #kanban .plane_3 { width: 25.466666% !important }
              #kanban .plane_4 { width: 25.466666% !important }
              #kanban .plane_5 { width: 10.2% !important }

              #kanban .off-swift .plane_1 { width: 3% !important }
              #kanban .off-swift .plane_2 { width: 28.455% !important }
              #kanban .off-swift .plane_3 { width: 28.455% !important }
              #kanban .off-swift .plane_4 { width: 28.455% !important }
              #kanban .off-swift .plane_5 { width: 11.2% !important }



              #kanban .box-planes .box { width: 80% !important; margin: 0 0 10% 10% !important}


              #restricoes .plane_1 { width: 12.9% !important }
              #restricoes .plane_2 { width: 86.8% !important }

              #restricoes .off-swift .plane_1 { width: 3% !important }
              #restricoes .off-swift .plane_2 { width: 96.7% !important }


            }

      /* ---------------- NO MOBILE END ---------------- */

/************************************************************************************
                                    RESPONSIVO END
*************************************************************************************/


/* ---------------- HEADER ---------------- */

  .header-fixo {  z-index: 30; top: 0; left: 0; width: 100%; min-width: 1015px; height: 110px; background: #464646; border-bottom: 2px solid #383838;  }
  .header-fixo #logo-content {float: left;}
  .header-fixo #logo-content > span {padding-top: 4px; display: block; text-align: right; padding-right: 40px; font-weight: 800; color: #878787; font-style: italic; }
  .header-fixo .logo { display: block; margin: 4em 0 0; float: left; padding: 0 4em 0 0; border-right: 2px solid #383838; }
  .header-fixo .log { margin: 3.5em 0 0 3.5em; float: left;  }
  .header-fixo .log figure { width: 40px; height: 40px; background: #CCC; border-radius: 50%; float: left; margin: 0 2em 0 0; background-size: 100% 100% !important; }
  .header-fixo .loginfo { float: left;  }
  .header-fixo .loginfo p { float: left; clear: both; color: #d3d3d3; font-size: 1.5em; font-weight: 800; font-style: italic; }
  .header-fixo .loginfo a { float: left; clear: both; color: #d3d3d3; font-size: 1.1em; text-decoration: underline;  }
  .header-fixo .loginfo a:hover { text-decoration: none;  }

  .header-fixo .right { float: right !important;   }

  .header-fixo #info { float: left; margin: 4em 0 0 0    }

  .header-fixo #info li { float: left; width: auto; background:; font-size: 1.2em; color:#7e7e7e; font-style: italic; margin: 0 1em 0 0; background-repeat: no-repeat !important; padding: 0 0 0 2.2em  }
  .header-fixo #info li p { float: left; margin: 0; font-family: Times New Roman;   }
  .header-fixo #info .icon-info-a { background: url(../img/info-a.png) 0 0  }
  .header-fixo #info .icon-info-b { background: url(../img/info-b.png) 0 0  }
  .header-fixo #info .icon-info-c { background: url(../img/info-c.png) 0 0  }


  .header-fixo #info-colors { float: left; margin: 4.7em 0;  }
  .header-fixo #info-colors li { float: left; width: auto; background:#464646; font-size: 1.1em; color:#d3d3d3; text-transform: uppercase; font-style:; margin: 0 0 0 2em; background-repeat: no-repeat !important; padding: 0 0 0 0; cursor: default;
  -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; transition: all 0.5s ease-out;
    }
  .header-fixo #info-colors li p { float: left; margin: 0; font-family: 'Open Sans', sans-serif;  }
  .header-fixo #info-colors li span { float: left; margin: 0.2em 0.5em 0 0; width:16px ; height:10px ; border: 1px solid;  }

  .header-fixo #info-colors .icon-info-a { background: #99db99; border-color: #99db99; }
  .header-fixo #info-colors .icon-info-b { background: #ffc87a; border-color: #ffc87a; }
  .header-fixo #info-colors .icon-info-c { background: #ff7e7e; border-color: #ff7e7e; }

  /*.header-fixo #info-colors li:hover > .icon-info-a { background: #99db99  }
  .header-fixo #info-colors li:hover > .icon-info-b { background: #ffc87a  }
  .header-fixo #info-colors li:hover > .icon-info-c { background: #ff7e7e  }*/


  .header-fixo #menu { padding: 1.25em 2em; font-size: 2.0em; text-transform: uppercase; float: right; }
  .header-fixo a {position: relative; z-index: 3; float: left; margin: 0 0 0 0;  }


/* ----------- KANBAN MENU ------------ */
  .header-fixo .back-kan { padding: 0 0 0 3em; margin: 3.5em 0 0 4.5em; height: 40px; border-left: 2px solid #383838;  float: left; color:#d3d3d3;     }
  .header-fixo .back-kan:hover { color:#FFF;     }
  .header-fixo .back-kan i { float: left; padding: 1em 0.8em 0 0; font-size: 1.4em     }
  .header-fixo .back-kan a { float: left; padding: 1em 0; font-size: 1.2em; color:#d3d3d3; text-transform: uppercase; text-decoration: underline;  }
  .header-fixo .back-kan a:hover { text-decoration: none;  }


  .header-fixo #info-kan { float: left; margin: 3.5em 0 0 0    }
  .header-fixo #info-kan li { float: left; width: auto; background:; font-size: 1.2em; color:#7e7e7e; font-style: italic; margin: 0 1em 0 0; background-repeat: no-repeat !important; padding: 0 0 0 1.5em  }
  .header-fixo #info-kan li p { float: left; margin: 0.3em 0 0 0;   font-family: Times New Roman; text-align: right;  }
  .header-fixo #info-kan li select { border: 0; height: 40px; opacity: 0.7; font-size: 1.1em; font-weight: 900; font-style: italic; text-transform: uppercase; color: #464646; padding: 0 1em;
  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  }
  .header-fixo #info-kan li select:hover { opacity: 1; }
  .header-fixo #info-kan li select option { float:left; padding: 1em 0   }

  .header-fixo #link-kan { float: left; margin: 3.25em 0 0 0; background: #383838;   }
  .header-fixo #link-kan a { float: left; width: auto; height: 40px; opacity: 0.7; font-size: 1.1em; font-weight: 900; font-style: italic; text-transform: uppercase; color: #FFF; padding: 0 0; margin: 2px;
  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;   }
  .header-fixo #link-kan a i { float: left; padding: 0.7em 1em 0.7em 1em; font-size: 1.6em; }
  .header-fixo #link-kan a p { float: left; padding: 0.8em 1.6em 0.8em 0; font-size: 1.2em; }

  .header-fixo #link-kan .no-margin-left { margin: 2px 2px 2px 0 !important; }

  .header-fixo #link-kan a:hover { background:#4f4f4f; opacity: 1}
  .header-fixo #link-kan .active { background:#FFF; color: #383838; cursor: default; }
  .header-fixo #link-kan .active:hover { background:#FFF; opacity: 0.7; }



/* ---------------- SECTION CARROSEUL ---------------- */
  #geral { width: 100%; height: auto; background:; float: left; }

  #geral .row { width: 98%; margin: 0 1%; }


  #geral .list_carousel { width: 100%; padding: 0 0 30px 0!important; margin: 0 !important; float: left; }
  #geral .list_carousel li { position: relative; z-index: 3; width: 100%; height: auto; background:; padding: 0 !important; margin: 0 !important; display: block; float: left; }

  #geral .navegation .pager {  }
  #geral .navegation #prev4 { display: none !important; }
  #geral .navegation #next4 { display: none !important; }

  #geral table {  width: 100%; padding: 0 !important; }
  #geral table .doble {width: 15%; }
  #geral table .liv {width: 6.95%; padding:0 0 0 0; color: #d3d3d3; font-size: 1.2em; font-weight: 800; font-style: italic; text-align: center; text-transform: uppercase; vertical-align: middle; }

  #geral #table-1 { margin: 2em 0; }

  #geral table .bloc {
    width: 6.95%;
    /*height: 100px !important;*/
    
    background: #4f4f4f;
    position: relative;
    color: #383838
  }



/* ------- SUB PROJETO ------ */
  #geral .sub-projeto { padding:0 0 0 0 !important; background:#4F4F4F; }
  #geral .sub-projeto .bloc { height:55px !important; background: #4f4f4f; position: relative; color: #383838 }
  #geral .sub-projeto .title { background: url(../img/doble-sub3.png) 9% 49% no-repeat; padding: 0 0 0 4.6em !important; }
  #geral .sub-projeto .title h2 { color: #4F4F4F; padding: 0.5em 0 0 0 !important; font-size: 1.0em; }
  #geral .sub-projeto .title h2 span { color: #d3d3d3 !important }
  #geral .sub-projeto .title p { font-size: 1.0em }

  #geral table .ir-projeto { background: url(../img/ir-proj2.png) 50% 51% no-repeat #4f4f4f !important; width: 7% !important}
  #geral table .ir-projeto:hover { background: url(../img/ir-proj2.png) 50% 51% no-repeat #d3d3d3 !important; width: 7% !important}




  #geral table .bloc a { width: 100%; height: 100%; display: block; color: #383838 }
    #geral table .green { background: #99db99 !important }
    #geral table .yelow { background: #ffc87a !important }
    #geral table .red { background: #ff7e7e !important }
  #geral table .bloc i { font-size: 2em; position: absolute; bottom: 5%; right: 5%  }

  #geral table, th, td {  -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;   border-bottom: 0 !important;   border: 1px solid #464646;  }

  #geral table .title {
    padding: 0 0 0 3.5em; background: url(../img/doble.png) 0 50% no-repeat; vertical-align: middle;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #geral table .title h2 { float: left; text-align: left; color: #d3d3d3; /*font-size: 1.40em;*/ font-size: 1.16em; font-weight: 300; /*line-height: 1; padding: 1.85em 0 0 0 */}
  #geral table .title h2 span { width: 100%; float: left; text-align: left; font-size: 1.5em; font-weight: 800; }
  #geral table .title p {clear: both; float: left; text-align: left; color:#7e7e7e; font-family: Times New Roman; font-size: 1.2em; padding: 0.2em 0 0 0; font-weight: 100; font-style:italic; }

   #geral .bloc:hover {  opacity: 0.6 }
   #geral tr:hover > .title h2 { color: #FFF !important }
   #geral tr:hover > .title p { color: #d3d3d3 !important }
   #geral tr:hover { cursor: pointer }
   #geral td:hover { cursor: pointer }
   #geral td.dragHandle:hover { cursor: move; }

   #geral td.showDragHandle { background: url(../img/doble2.png) 0 38% no-repeat !important; cursor: move; }

  #geral table .dobles {background: #464646 !important; cursor: default !important; }

  #geral .finalizados { float: right; clear: both; margin:0 0 2% 0; font-family: times; color: #7e7e7e; font-size: 1.3em }
  #geral .finalizados a { color: #d3d3d3; font-style: italic; text-decoration: underline;}
  #geral .finalizados a:hover { text-decoration: none; }


/* ----------------   KANBAN   ---------------- */
  #kanban { width: 100%; height: auto; background:#383838; float: left; min-width: 1015px; }

  #kanban ul { height: auto; margin: 0; float: left; }

  #kanban .plane_1 { width: 13.9%; color: #878787 }
  #kanban .plane_2 { width: 24.1%; margin-right: 0.1%; background:#4c3f3f; padding-bottom: 5% }
  #kanban .plane_3 { width: 24.1%; margin-right: 0.1%; background:#4c473f; padding-bottom: 5% }
  #kanban .plane_4 { width: 24.1%; margin-right: 0.1%; background:#424942; padding-bottom: 5% }
  #kanban .plane_5 { width: 13.3%; margin: 0 0 0 0.1%; font-size: 90% }



/* ---------   BTN FILTRO MUDANÇAS   -------- */
  #kanban .off-swift .plane_1 { width: 4% }
  #kanban .off-swift .plane_2 { width: 27.566666%; background:#4c3f3f; padding-bottom: 5% }
  #kanban .off-swift .plane_3 { width: 27.566666%; background:#4c473f; padding-bottom: 5% }
  #kanban .off-swift .plane_4 { width: 27.566666%; background:#424942; padding-bottom: 5% }
  #kanban .off-swift .plane_5 { width: 12.85%; font-size: 88% }

  #kanban .off-swift .plane_1 .content { display: none !important }
  #kanban .off-swift .plane_1 .top i { padding-top: 10%; width: 100%; font-size: 3em; text-align: center; float: left; color: #878787; }
  #kanban .off-swift .plane_1 .top .icon-reorder:hover { color: #FFF; cursor: pointer;  }
  #kanban .off-swift .plane_1 .top .icon-wrench { display: none !important }

  #kanban .plane_1 .top { width: 80%; margin: 10% 0 7% 10%; float: left; }
  #kanban .plane_1 .top i { font-size: 3em; padding: 0 5% 0 0; float: left; color: #878787  }
  #kanban .plane_1 .top .icon-reorder:hover { color: #FFF; cursor: pointer;  }

    #kanban .plane_1 .content { width: 80%; margin: 0 0 0 10%; float: left; }
    #kanban .plane_1 .content h3 { float: left; margin: 0 0 7% 0; font-size: 1.3em; font-weight: 900; font-style: italic; text-transform: uppercase;  }
    #kanban .plane_1 .content form { width: 100%; float: left; margin: 5% 0 10% 0;  }
    #kanban .plane_1 .content form label { width: 100%; float: left; margin: 0 0 7% 0; font-size: 1.1em; font-weight: 600 }
    #kanban .plane_1 .content form .box { border-left: 1px solid #484848; margin: 0 0 13% 0.62em !important; font-size: 1em !important; float: left;   }
    #kanban .plane_1 .content form .box input { margin-left: -0.62em;   }
    #kanban .plane_1 .content form .box label { margin: 0 0 5% 0; }
    #kanban .plane_1 .content form .box label:last-child { margin: 0 0 -0.6em 7% !important }

    #kanban .plane_1 .content form .box .small { position: relative; margin: 0 0 5% 7% !important; font-size: 1em !important; }
    #kanban .plane_1 .content form .box .small span { width:15px; height: 1px; background: #484848; position: absolute; top: 0; left: 0; margin: 0.6em 0 0 -1.35em; z-index: 1  }

    #kanban .plane_1 .content form .box .small input {  width: 13px; height: 13px; position: relative; z-index: 2; }

    #kanban .plane_1 .content form label input { width: 15px; height: 15px; float: left; }
    #kanban .plane_1 .content form label p { float: left; margin: -2px 0 0 3%; width: 142px; }

    #kanban .plane_1 .content form .antigo_select { background: #383838; border: 2px solid #878787; height: 40px; opacity: 0.7; font-size: 1.1em; font-weight: 900; font-style: italic; text-transform: uppercase; color: #878787; padding: 0 1em; margin: 0 0 5% 0; width: 80%;
    -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  }
    #kanban .plane_1 .content form .antigo_select.error{ background: #383838; border: 2px solid red; height: 40px; opacity: 0.7; font-size: 1.1em; font-weight: 900; font-style: italic; text-transform: uppercase; color: #878787; padding: 0 1em; margin: 0 0 5% 0; width: 80%;
    -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  }
    #kanban .plane_1 .content form .antigo_select:hover { opacity: 1; }


    #kanban .box-planes .box { width: 90%; margin: 0 0 5% 5%; background: #ffffff; color: #333; float: left; }
      #kanban .box-planes .box .top {/*width: 70%; padding: 5% 20% 5% 10%;*/ width: 90%; padding: 5%; background: #ff7e7e; float: left }
          #kanban .box-planes .box .top > span { font-size: 1.6em; font-weight: 600; }
          #kanban .box-planes .box .top > h3 { width: 92%; font-size: 1.5em; color: #FFF; font-weight: 900; text-transform: uppercase; float: left; }
          #kanban .box-planes .box .top > h4 { width: 100%; font-size: 1.3em; color: #383838; font-weight: 900; float: left; opacity: 0.6; filter: alpha(opacity =60); }

      #kanban .box-planes .box .content { /*width: 80%; padding: 5% 10%;*/ width: 90%; padding: 5%; float: left;  }
          #kanban .box-planes .box .content p {color: #333; font-size: 1em; font-weight: 400; float: left; }
          #kanban .box-planes .box .content .full {width: 100%}
          #kanban .box-planes .box .content .blast {margin: 4% 0 0; padding: 4% 0; line-height: 1.7; border-top: 1px solid #D3D3D3;}
          #kanban .box-planes .box .content p span {background: #c7c7c7; color: #FFF; font-size: 1em; font-weight: 600; font-style: italic; text-transform: uppercase; float: left; margin: 0.4em 0.4em 0 0; padding: 0.4em 0.8em;  }
          #kanban .box-planes .box .content a { display: none; background: #ff7e7e; color: #FFF; font-size: 1.0em; font-weight: 900; font-style: italic; text-transform: uppercase; float: left; margin: 3% 0; padding: 0.6em 1.5em; width: auto }
          #kanban .box-planes .box .content a:hover { opacity: 0.7; filter: alpha(opacity =70); }

          #kanban .box-planes .box .content a i { float: left; font-size: 1.4em; margin: 0 0.5em 0 0}
          #kanban .box-planes .box .content a p { float: left; color: #FFF; margin: 0; font-weight: 900}

      #kanban .box-planes .restricao-ativo .content a {display: block !important; }


      #kanban .box-planes .box .content .sayname { width: 100%; padding-top:4%; float: left; border-top: 1px solid #D3D3D3; }
      #kanban .box-planes .box .content .sayname p {background: transparent; color: #333; font-size: 1em; font-weight: 400; font-style: italic; text-transform: none; float: left; margin: 0; padding: 0;  }
      #kanban .box-planes .box .content .sayname a {display: block !important; background: transparent !important; color: #333; font-size: 1.0em; font-weight: 900; font-style: italic; text-transform: none; float: left; margin: 0 0 0 1%; padding: 0;  }



    #kanban .plane_2 h2 { float: left; margin: 10% 0; width: 100%; text-align: center; font-size: 1.8em; color: #ff7e7e; font-weight: 900; text-transform: uppercase; }
    #kanban .plane_2 .box .top { background: #ff7e7e }
    #kanban .plane_2 .box .content a { background: #ff7e7e !important }
    #kanban .plane_2 .restricao-ativo .top { background: url(../img/atention.png) 96% 50% no-repeat #ff7e7e !important;  }


    #kanban .plane_3 h2 { float: left; margin: 10% 0; width: 100%; text-align: center; font-size: 1.8em; color: #ffc87a; font-weight: 900; text-transform: uppercase; }
    #kanban .plane_3 .box .top { background: #ffc87a !important }
    #kanban .plane_3 .box .content a { background: #ffc87a !important }
    #kanban .plane_3 .restricao-ativo .top { background: url(../img/atention.png) 96% 50% no-repeat #ffc87a !important;  }

    #kanban .plane_4 h2 { float: left; margin: 10% 0; width: 100%; text-align: center; font-size: 1.8em; color: #99db99; font-weight: 900; text-transform: uppercase; }
    #kanban .plane_4 .box .top { background: #99db99 !important }
    #kanban .plane_4 .box .content a { background: #99db99 !important }
    #kanban .plane_4 .restricao-ativo .top { background: url(../img/atention.png) 96% 50% no-repeat #99db99 !important;  }


    #kanban .plane_5 h3 { float: left; margin: 18% 0; width: 100%; text-align: center; font-size: 1.8em; font-style: italic; color: #878787; font-weight: 900; text-transform: uppercase; }
    #kanban .plane_5 h5 { float: left; margin: 0 0; padding: 3% 0; background: #464646; width: 100%; text-align: center; font-size: 1.3em; color: #878787; font-weight: 900; text-transform: uppercase; }
    #kanban .plane_5 .box { float: left; margin: 0 0; padding: 7% 5%; border-bottom:2px solid #464646; width: 90%; text-align: center; font-size: 1.2em; color: #FFF; line-height: 1.3; opacity: 0.3; filter: alpha(opacity =30); }
    #kanban .plane_5 .box p { float: left; padding: 0 0; width: 100%; font-weight: 900; text-transform: uppercase;}
    #kanban .plane_5 .box span { float: left; font-size:; padding: 0 0; width: 100%; font-weight: 500;  opacity: 0.7; filter: alpha(opacity =70); }

    #kanban .plane_5 .box:hover { opacity: 1; filter: alpha(opacity =100); }




/* ----------------   RESTRICOES   ---------------- */
  #restricoes { width: 100%; height: auto; background:#383838; float: left; min-width: 1015px; }

  #restricoes ul { height: auto; margin: 0 0.1% 0 0; float: left; }
  #restricoes ul:last-child { margin: 0 0 0 0 !important; }

  #restricoes ul {}


  #restricoes .plane_1 { width: 15.9%; color: #878787 }
  #restricoes .plane_2 { width: 83.8%; background:; padding-bottom: 5% }


/* --------   BTN FILTRO MUDANÇAS   --------- */
  #restricoes .off-swift .plane_1 { width: 4% }
  #restricoes .off-swift .plane_2 { width: 95.7%; }

  #restricoes .off-swift .plane_1 .content { display: none !important }
  #restricoes .off-swift .plane_1 .top i { padding-top: 10%; width: 100%; font-size: 3em; text-align: center; float: left; color: #878787  }
  #restricoes .off-swift .plane_1 .top .icon-reorder:hover { color: #FFF; cursor: pointer;  }
  #restricoes .off-swift .plane_1 .top .icon-wrench { display: none !important }





  #restricoes .plane_1 .top { width: 80%; margin: 15% 0 7% 10%; float: left; }
  #restricoes .plane_1 .top i { font-size: 3em; padding: 0 5% 0 0; float: left; color: #878787  }
  #restricoes .plane_1 .top .icon-reorder:hover { color: #FFF; cursor: pointer;  }

  #restricoes .plane_1 .content { width: 80%; margin: 0 0 0 10%; float: left; }
  #restricoes .plane_1 .content h3 { float: left; margin: 0 0 7% 0; font-size: 1.3em; font-weight: 900; font-style: italic; text-transform: uppercase;  }
  #restricoes .plane_1 .content form { width: 100%; float: left; margin: 5% 0 10% 0;  }
  #restricoes .plane_1 .content form label { width: 100%; float: left; margin: 0 0 7% 0; font-size: 1.1em; font-weight: 600 }
  #restricoes .plane_1 .content form .box { border-left: 1px solid #484848; margin: 0 0 13% 0.62em !important; font-size: 1em !important; float: left;   }
  #restricoes .plane_1 .content form .box input { margin-left: -0.62em;   }
  #restricoes .plane_1 .content form .box label { margin: 0 0 5% 0; }
  #restricoes .plane_1 .content form .box label:last-child { margin: 0 0 -0.6em 7% !important }

  #restricoes .plane_1 .content form .box .small { position: relative; margin: 0 0 5% 7% !important; font-size: 1em !important;  }
  #restricoes .plane_1 .content form .box .small span { width:15px; height: 1px; background: #484848; position: absolute; top: 0; left: 0; margin: 0.6em 0 0 -1.35em; z-index: 1  }

  #restricoes .plane_1 .content form .box .small input {  width: 13px; height: 13px; position: relative; z-index: 2 }

  #restricoes .plane_1 .content form label input { float: left; width: 15px; height: 15px }
  #restricoes .plane_1 .content form label p { float: left; margin: -2px 0 0 3%; width: 142px; }

    #restricoes .plane_1 .content form .antigo_select { background: #383838; border: 2px solid #878787; height: 40px; opacity: 0.7; font-size: 1.1em; font-weight: 900; font-style: italic; text-transform: uppercase; color: #878787; padding: 0 1em; margin: 0 0 5% 0; width: 80%;
    -webkit-transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out; transition: all 0.3s ease-out;  }
    #restricoes .plane_1 .content form .antigo_select:hover { opacity: 1; }


  #restricoes .plane_2 table { width: 100%; }
  #restricoes .plane_2 table td {width: 7.5%; padding:1% 0; color: #d3d3d3; font-size: 1.0em; font-weight: 800; text-align: center; vertical-align: middle; border-color:#383838; background: #464646; text-transform: uppercase; }

  #restricoes .plane_2 table .big {width: 37%; font-size: 1.1em;  }
  #restricoes .plane_2 table .week {width: 4% !important; text-transform: none !important;}
  #restricoes .plane_2 table .status {width: 13% !important;}
  #restricoes .plane_2 table .small {font-size: 0.8em; font-weight: 700  }

  #restricoes .plane_2 table .color_1 {background: #4c4c4c !important  }

  #restricoes .plane_2 table .color_week_1 {background: #3c3c3c  }
  #restricoes .plane_2 table .color_week_2 {background: #3e3e3e  }
  #restricoes .plane_2 table .color_week_3 {background: #404040  }
  #restricoes .plane_2 table .color_week_4 {background: #424242  }
  #restricoes .plane_2 table .color_week_5 {background: #444444  }
  #restricoes .plane_2 table .color_week_6 {background: #464646  }
  #restricoes .plane_2 table .color_week_7 {background: #484848  }
  #restricoes .plane_2 table .color_week_8 {background: #4a4a4a  }

  #restricoes .plane_2 table .info td { font-weight: 400; font-style: italic; font-size: 1.2em; text-transform: none }

 #restricoes .plane_2 table .pendente { width: 15% !important; text-transform: uppercase !important; font-weight: 900 !important; background: #ffc87a; color: #464646;  }

  #restricoes .plane_2 table .color_week_0.active {background: #ffc57a !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_1.active {background: #ffc57a !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_2.active {background: #ffbe7b !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_3.active {background: #ffb47b !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_4.active {background: #ffa87c !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_5.active {background: #ff9d7c !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_6.active {background: #ff927d !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_7.active {background: #ff887d !important;color:#464646;font-weight: 900 !important;  }
  #restricoes .plane_2 table .color_week_8.active {background: #ff817e !important;color:#464646;font-weight: 900 !important;  }

  #restricoes .plane_2 table .atrasado {background: #ff7e7e !important; font-style: normal !important; text-transform: uppercase !important; font-weight: 900 !important; background: #ffc87a; color: #464646; }
  #restricoes .plane_2 table .resolvido {background:#99db99!important; font-style: normal !important; text-transform: uppercase !important; font-weight: 900 !important; background: #ffc87a; color: #464646; }




/* ----------------   LOGIN   ---------------- */
  #login { width: 100%; height: auto; padding: 5% 0 10% 0; background: url(../img/pattern.png) !important;  float: left;  }
  #login .container { width: 420px; min-width: 420px height: auto; margin: 0 auto; background: blue; }
  #login figure { float: left; width: 100%; height: auto; text-align: center; margin: 10% 0; padding: 0 }
  #login .container .box { width: 100%; height: auto; margin: 0 auto; background: #464646; float: left; }

  #login .container .box form { width: 80%; height: auto; margin: 0 0 0 10%; float: left; }
  #login .container .box form p { float: left; font-size:1.5em; color: #b7b7b7; font-weight: 900; text-transform: uppercase; margin:0 0 3% 0;   }
  #login .container .box form input { width: 90%; padding: 0 5%; height: 50px; margin: 0 0 5% 0; background: #383838; float: left; border:0; font-style: italic; text-transform: none; font-size:1.7em; font-weight: 300; color: #eee;  }

  #login .container .box form .btn { width: 60%; height: 50px; margin: 5% 0 10% 20%; background: #7e7e7e; color: #383838; float: left; border:0; font-size:1.5em; font-weight: 900; text-transform: uppercase; cursor: pointer; }
  #login .container .box form .btn:hover { background: #ababab; }





/* ---------------- CARROSEUL ---------------- */

.navegation { width: auto  }
.navegation .prev { margin-top: -140px; margin-left: -75px; opacity: 0.7; filter: alpha(opacity =70); /*background: url(../img/setas.png) 0 0 !important;*/  float: left; height: 100px; width: 25px; }
.navegation .next {margin-top: -180px; margin-right: -50px; opacity: 0.7; filter: alpha(opacity =70); /*background: url(../img/setas.png) -25px 0 !important;*/ float: right; height: 100px; width: 25px; }
.navegation .prev:hover { opacity: 1; filter: alpha(opacity =100); }
.navegation .next:hover { opacity: 1; filter: alpha(opacity =100); }

.navegation .pager { text-align: center; padding: 2% 0 0 0; position: relative; width: 50%; margin: 2em 0 0 49%; float: left; }
.navegation .pager a { width:20px; height:20px; margin: 0 2% 0 0; text-indent: -100000000px; float: left; background: #383838; border: 5px solid #383838; }
.navegation .pager a:hover { background: #545454 }
.navegation .pager .selected { background: #747474 }
.navegation .pager .selected:hover { background: #747474 }



#loaderImage-content {
  background-color: #222;
  opacity: 0.95;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;

  display: none;
}

#loaderImage-content #loaderImage-middle {margin: 0 auto; width: 265px; padding-top: 22%}

#loaderImage-content span {float: right; font-size: 3em; color: #d4d4d4; font-weight: 600;}





/* ---------------- On/Off FlipSwitch da HOME ---------------- */


.onoffswitch {
  position: relative; width: 65px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  float: right;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #383838; border-radius: 0px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 24px; padding: 0; line-height: 20px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: #7FCD7A; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #747474; color: #383838;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 25px; margin: 0px;
  background: #383838;
  position: absolute; top: 0; bottom: 0;
  right: 40px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}