/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php*/
 
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */

 
#featured { 
	width: 100%;
	height: 100%;
	background: url('../img/loading.gif') no-repeat center center;
	overflow: hidden; }
#featured>img,  
#featured>div,
#featured>a { display: none; }
.ie8 #featured>img,  
.ie8  #featured>div,
.ie8  #featured>a { display: block; }

#featured2 { 
    width: 100%;
    height: 100%;
    background: url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#featured2>img,  
#featured2>div,
#featured2>a { display: none; }
.ie8 #featured2>img,  
.ie8  #featured2>div,
.ie8  #featured2>a { display: block; }

#featured3 { 
    width: 100%;
    height: 100%;
    background: url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#featured3>img,  
#featured3>div,
#featured3>a { display: none; }
.ie8 #featured3>img,  
.ie8  #featured3>div,
.ie8  #featured3>a { display: block; }



#featured4 { 
    width: 100%;
    height: 100%;
    background: url('../img/loading.gif') no-repeat center center;
    overflow: hidden; }
#featured4>img,  
#featured4>div,
#featured4>a { display: none; }
.ie8 #featured4>img,  
.ie8  #featured4>div,
.ie8  #featured4>a { display: block; }


/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 100%;
    height: 100%;
    margin-top: -100px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(../img/orbit/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(../img/orbit/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/orbit/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(../img/orbit/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active { 
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
	text-align: center;
	padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav { }

div.slider-nav span {
    width: 25px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -50px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

div.slider-nav span.right {
    background: url(../img/orbit/right-arrow.png) -25px 0;
    right: 25px; 
	opacity:0.5;
margin-top: -25px;}
div.slider-nav span.right:hover {opacity:1}
div.slider-nav span.left {
    background: url(../img/orbit/left-arrow.png);
    left: 25px  ;
	opacity:0.5;
    margin-top: -25px; }
div.slider-nav span.left:hover {opacity:1}
/* BULLET NAV
   ================================================== */

.orbit-bullets {
   width:290px; height:21px; padding-top:2.5%; padding-left:48%;  background:url(../img/bullets-bg.png); z-index:1000; position:absolute; text-indent:-100000px;
	 }
.orbit-bullets li {
	width:10px; height:10px; text-align:center; float:left; color:#FFF; background:#cccccc; margin-left:10px; cursor:pointer;  
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.01s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;

    border-radius: 50%;
	
	visibility:visible;
	position:relative;
	display:block !important;
	
	behavior: url(pie/PIE.htc); 

}

.orbit-bullets li:hover{background:#999}
.orbit-bullets li:active{border-top:1px solid #b72025}
.orbit-bullets li.active {
    background:#b72025; cursor:default }
    
.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }