@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


html {
background: #FFF; }

body{
  font-family: 'dincond-lightregular';
  font-size:62.5%;
  color:#1c1c1c;
  font-weight:100;
  background:#e9e8e6;
  height: auto; 
  overflow-x: hidden;
}

@media screen and (min-width:0\0) {
    body{
      font-size:50%;
    }
    header nav { line-height:200% }
    .caroseul .lika p { line-height:150% } 
    .caroseul .lika { margin: 5px 0 0 15px;}
  
 }


.radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.radius-top-left {  -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.radius-top-right {  -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }


.smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
  b { font-weight:900 }
  .ie8 input {line-height:2.0 !important;}
  .ie7 input {line-height:3.0 !important;}


section {width:100%; position: relative; float:left; }

.fixed {
position: fixed;
z-index: 9999;
}
.relative {
position: relative;
}
.nomargin { margin:0 0 0 0 !important; }
.nomargin-left { margin-left: 0 !important }
.nomargin-right { margin-right: 0 !important}

.nopadding-left { padding-left: 0 !important }
.nopadding-right { padding-right: 0 !important }

.left { float:left }
.right { float:right }

h1 { text-indent: -10000000px }
.first { cursor: pointer; }




/* ---------------- HEADER-FIXO ---------------- */
#ancora { width: 100%; height: 1px; position: absolute; background:; left: 0; top:600px; z-index: 30; }
.absoluto{display: none }
.fixo { display: block; }

.header-fixo { opacity: 0.95; filter: alpha(opacity =95); position: fixed; z-index: 30; top: 0; left: 0; width: 100%; background: url(../img/space.jpg) top repeat-x; border-bottom: 2px dotted #FFF; height: 70px;  }
 .header-fixo .right { font-size: 2.0em; text-transform: uppercase; padding: 1.25em 2em; }
  .header-fixo a {position: relative; z-index: 3; float: left; color: #272525; margin: 0 0 0 1em;  }
  .header-fixo a:hover { color: #444; text-decoration: underline;   }

  .header-fixo .logo { z-index: 2; width: 57px; height: 54px; margin: 7px 0 0 2em; padding: 0; position: relative; float: left; background: url(../img/newlife_logo.png) center no-repeat; }


  #interesse .ste {position: absolute; bottom: -115px; z-index: 99999; width: auto; text-align: center; border: 2px dotted #000;background: url(../img/space2.jpg) bottom repeat-x; color: #FFF; height: auto; font-size: 2.1em; float: left; clear: both; padding: 0.3em 0 0.4em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
    #interesse .ste:hover { text-decoration: none; bottom: -127px; padding: 0.6em 0 0.7em 0; }

  #interesse .lk1 { right: 40px; }
  #interesse .lk2 { right: 190px; }

  #interesse .ste i  { float: left; padding: 0 0.5em }
  #interesse .ste p { float: left; padding: 0 0.5em 0 0}




  /* ---------------- CONTENT ---------------- */
  #home { width: 100%; height: auto; position: relative; background: url(../img/newlife_bg1.jpg) center ; background-size: cover !important; float: left }
  #home .ste i {position: absolute; bottom: 0; width: 100%; text-align: center; color: #FFF; font-size: 3.5em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #home .ste i:hover {  background: rgba(255, 255, 255, 0.07) }

  /* ---------------- CONTENT ---------------- */
  #apresentacao { width: 100%; height: auto; background: url(../img/newlife_bg2.jpg) center; background-size: cover !important; float: left; }
  #apresentacao .ste i { background: #607584;  position: absolute; bottom: 0; width: 100%; text-align: center; color: #f2f2f2; font-size: 2em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #apresentacao .ste i:hover {  background: #728a9b }
 #apresentacao span{font-family: 'alluraregular'; font-size: 1.2em}

  /* ---------------- CONTENT ---------------- */
  #localizacao { width: 100%; height: auto; background: url(../img/newlife_bg3.jpg) center; background-size: cover !important; float: left; }
  #localizacao .ste i { background: #607584;  position: absolute; bottom: 0; width: 100%; text-align: center; color: #f2f2f2; font-size: 2em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #localizacao .ste i:hover {  background: #728a9b }
 #localizacao span{font-family: 'alluraregular'; font-size: 1.2em}

  /* ---------------- CONTENT ---------------- */
  #infraestrutura { width: 100%; height: auto; background: #FFF; background-size: cover !important;  float: left; }
  #infraestrutura h2 { width: 100%; text-align: center; font-family: 'alluraregular'; color: #607584; font-size: 5em; float: left; clear: both; padding: 2em 0 0 0; }
  #infraestrutura p { width: 100%; text-align: center; color: #607584; font-size: 3.5em; float: left; clear: both; padding: 0 0 0.5em 0;}
  #infraestrutura .ste i { width: 100%; text-align: center; color: #607584; font-size: 2.5em; float: left; clear: both; padding: 0.5em 0 1em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #infraestrutura .ste i:hover {  background: #f2f2f2 }

  #infraestrutura .ste2 i { background: #607584;  position: absolute; z-index: 9000; bottom: 0; width: 100%; text-align: center; color: #f2f2f2; font-size: 2em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #infraestrutura .ste2 i:hover {  background: #728a9b }
 #infraestrutura span{font-family: 'alluraregular'; font-size: 1.2em}




  #infraestrutura .list_carousel { width: 100%;  margin-left:; float: left; }
  #infraestrutura .list_carousel li { height: 450px; padding: 0; margin: 0 0 0 0; display: block; float: left;}
  #infraestrutura .list_carousel .box {position: relative; z-index: 3; width: 100%; background-size: cover !important }
  #infraestrutura .list_carousel .box2 { width: 80%; margin-left: 10%; background:; position: absolute; bottom: 5%; margin-top:; z-index: 3 }
  #infraestrutura .list_carousel .left { width: auto; background:;}
  #infraestrutura .list_carousel .left a { float: right;  padding: 1em 0.8em; margin:0.8em 0 0 1em; }
  #infraestrutura .list_carousel .left a .icon { color: #FFF; float: left; height: 40px; padding:0em 0.4em 0 0; font-size: 1.2em; }
  #infraestrutura .list_carousel .left a {color: #FFF; height: 40px; padding: 0; font-size: 2em; font-weight: 700 }
  #infraestrutura .list_carousel .left a:hover { opacity: 0.8; filter: alpha(opacity =80); }

  #infraestrutura .list_carousel h3 {color: #FFF; float: left; font-family: 'alluraregular'; font-style: normal !important; width: auto; line-height: 1.2em; font-size: 55px;  font-weight: 100; margin: 0}
  #infraestrutura .list_carousel .black { opacity: 0.25; filter: alpha(opacity =25); width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; background: #000; -webkit-transition: all 0.6s ease-out; -moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out; }

  #infraestrutura .navegation .prev {position: absolute;  z-index: 4; top: 60%; left: 2%;  margin-top: 0; margin-left: 0; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white.png) 0 0 !important; }
  #infraestrutura .navegation .next {position: absolute;  z-index: 4; top: 60%; right: 6%;  margin-top: 0 !important; margin-left: 0 !important;  opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white.png) -25px 0 !important; }

  #infraestrutura .navegation .pager { display: none !important }


  /* ---------------- CONTENT ---------------- */
  #plantas { width: 100%; height: auto; background: #FFF; background-size: cover !important;  float: left; }


  #plantas .list_carousel { width: 100%;  margin-left:; float: left; }
  #plantas .list_carousel li { height: 450px; padding: 0; margin: 0 0 0 0; display: block; float: left;}
  #plantas .list_carousel .box {position: relative; z-index: 3; width: 100%; background-position: center !important; background-size:50% !important; background-repeat: no-repeat !important; }
  #plantas .list_carousel .box2 { width: 80%; margin-left: 10%; background:; position: absolute; bottom: 1%; margin-top:; z-index: 3 }
  #plantas .list_carousel .left { width: auto; background:;}
  #plantas .list_carousel .left a { clear: both; float: left;  padding: 1em 0.8em; margin:0em 0 0 1em; }
  #plantas .list_carousel .left a .icon { color: #000; float: left; height: 40px; padding:0em 0.4em 0 0; font-size: 1.2em; }
  #plantas .list_carousel .left a {color: #000; height: 40px; padding: 0; font-size: 2em; font-weight: 700 }
  #plantas .list_carousel .left a:hover { opacity: 0.8; filter: alpha(opacity =80); }

  #plantas .list_carousel h3 {color: #000; float: left; font-family: 'alluraregular'; font-style: normal !important; width: auto; line-height: 1.2em; font-size: 55px;  font-weight: 100; margin: 0}

  #plantas .navegation .prev {position: absolute;  z-index: 4; top: 40%; left: 2%;  margin-top: 0; margin-left: 0; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white2.png) 0 0 !important; }
  #plantas .navegation .next {position: absolute;  z-index: 4; top: 40%; right: 6%;  margin-top: 0 !important; margin-left: 0 !important;  opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white2.png) -25px 0 !important; }

  #plantas .navegation .pager { display: none !important }



  /* ---------------- CONTENT ---------------- */
  #plantas2 { width: 100%; height: auto; background: url(../img/newlife_bg5.jpg) center; background-size: cover !important; float: left; }
    #plantas2 .ste i { background: #607584;  position: absolute; bottom: 0; width: 100%; text-align: center; color: #f2f2f2; font-size: 2em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
    #plantas2 .ste i:hover {  background: #728a9b }
    #plantas2 span{font-family: 'alluraregular'; font-size: 1.2em}

  /* ---------------- CONTENT ---------------- */
  #decorado { width: 100%; height: auto; background: #000; background-size: cover !important;  float: left; }
  #decorado h2 { width: 100%; text-align: center; font-family: 'alluraregular'; color: #FFF; font-size: 5em; float: left; clear: both; padding: 2em 0 0 0; }
  #decorado p { width: 100%; text-align: center; color: #959480; font-size: 3.5em; float: left; clear: both; padding: 0 0 0.5em 0;}
  #decorado .ste i { width: 100%; text-align: center; color: #959480; font-size: 3.5em; float: left; clear: both; padding: 0.5em 0 1em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #decorado .ste i:hover {  background: #222 }


  #decorado .list_carousel { width: 100%;  margin-left:; float: left; }
  #decorado .list_carousel li { height: 450px; padding: 0; margin: 0 0 0 0; display: block; float: left;}
  #decorado .list_carousel .box {position: relative; z-index: 3; width: 100%; background-size: cover !important }
  #decorado .list_carousel .box2 { width: 80%; margin-left: 10%; background:; position: absolute; bottom: 5%; margin-top:; z-index: 3 }
  #decorado .list_carousel .left { width: auto; background:;}
  #decorado .list_carousel .left a { float: right;  padding: 1em 0.8em; margin:0.8em 0 0 1em; }
  #decorado .list_carousel .left a .icon { color: #FFF; float: left; height: 40px; padding:0em 0.4em 0 0; font-size: 1.2em; }
  #decorado .list_carousel .left a {color: #FFF; height: 40px; padding: 0; font-size: 2em; font-weight: 700 }
  #decorado .list_carousel .left a:hover { opacity: 0.8; filter: alpha(opacity =80); }

  #decorado .list_carousel h3 {color: #FFF; float: left; font-family: 'alluraregular'; font-style: normal !important; width: auto; line-height: 1.2em; font-size: 42px;  font-weight: 100; margin: 0}
  #decorado .list_carousel .black { opacity: 0.4; filter: alpha(opacity =40); width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; background: #000; -webkit-transition: all 0.6s ease-out; -moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out; }

  #decorado .navegation .prev {position: absolute;  z-index: 4; top: 60%; left: 2%;  margin-top: 0; margin-left: 0; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white.png) 0 0 !important; }
  #decorado .navegation .next {position: absolute;  z-index: 4; top: 60%; right: 6%;  margin-top: 0 !important; margin-left: 0 !important;  opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white.png) -25px 0 !important; }

  #decorado .navegation .pager { display: none !important }



  /* ---------------- CONTENT ---------------- */
  #implantacao { width: 100%; height: auto; background: #FFF; background-size: cover !important;  float: left; }


  #implantacao .list_carousel { width: 100%;  margin-left:; float: left; }
  #implantacao .list_carousel li { height: 450px; padding: 0; margin: 0 0 0 0; display: block; float: left;}
  #implantacao .list_carousel .box {position: relative; z-index: 3; width: 100%; background-position: center !important; background-size:50% !important; background-repeat: no-repeat !important; }
  #implantacao .list_carousel .box2 { width: 80%; margin-left: 10%; background:; position: absolute; bottom: 1%; margin-top:; z-index: 3 }
  #implantacao .list_carousel .left { width: auto; background:;}
  #implantacao .list_carousel .left a { clear: both; float: left;  padding: 1em 0.8em; margin:0em 0 0 1em; }
  #implantacao .list_carousel .left a .icon { color: #000; float: left; height: 40px; padding:0em 0.4em 0 0; font-size: 1.2em; }
  #implantacao .list_carousel .left a {color: #000; height: 40px; padding: 0; font-size: 2em; font-weight: 700 }
  #implantacao .list_carousel .left a:hover { opacity: 0.8; filter: alpha(opacity =80); }

  #implantacao .list_carousel h3 {color: #000; float: left; font-family: 'alluraregular'; font-style: normal !important; width: auto; line-height: 1.2em; font-size: 55px;  font-weight: 100; margin: 0}

  #implantacao .navegation .prev {position: absolute;  z-index: 4; top: 40%; left: 2%;  margin-top: 0; margin-left: 0; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white2.png) 0 0 !important; }
  #implantacao .navegation .next {position: absolute;  z-index: 4; top: 40%; right: 6%;  margin-top: 0 !important; margin-left: 0 !important;  opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white2.png) -25px 0 !important; }

  #implantacao .navegation .pager { display: none !important }



  /* ---------------- CONTENT ---------------- */
  #contato { width: 100%; height: auto; background: #f1f1f1;  float: left; }

  #contato form { width:100%; margin: 10% 0 0 2%;  float:left  }
  #contato form ul { width:45%; margin:5% 0 0 1%; font-size: 1.5em  }
  #contato form ul label { width:18%; float:left; margin:0.25em 2% 0 0; font-size: 2em; color: #000; text-align: right }
  #contato form ul input { width:80%; padding:0 0 0 2%; float:left; font-size: 1.3em; background: #FFF; border: 1px dotted #000; color: #000; height: 50px;   }
  #contato form ul textarea {  font-size: 1.3em;  width:80%; padding:0.5em 0 0.5em 2%; height: 258px; resize:none; float:left; background: #FFF; border: 1px dotted #000; color: #00424f;  margin: 0 }
  #contato form ul .btn { font-size: 2.5em; padding:0.4em 0 0.4em 0; width: 200px; height: 70px; float:right; background: #000; color: #FFF; border: 0; cursor: pointer; font-style: normal; margin: 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
  #contato form ul .btn:hover {background: #333 }

  #contato .ablu {  width: 100%; height: 280px; margin: 15em 0 0 0; background: url(../img/newlife_bg7.jpg) center center; background-size: cover !important; float: left;  }
  #contato .ablu .im1 img { position: relative; z-index: 999; top: 0; left: 50%; margin: 3em 0 0 -115px; float: left; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
  #contato .ablu .im1 img:hover { opacity: 0.7; filter: alpha(opacity =70);  }


#contato .ablu .im2 {position: relative; z-index: 999; top: 0; left: 50%; margin:226px 0 0 -261px; float: left;}

  #contato .ablu .im2 img {width: 100px !important; float: left; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
  #contato .ablu .im2 img:hover { opacity: 0.7; filter: alpha(opacity =70);  }

  #contato .ablu .im2 p {float: left; font-size: 1.3em; color: rgba(244, 244, 244, 0.71); margin: 2px 5px 0 0 }

/* ---------------- CARROSEUL ---------------- */

.navegation { width: auto  }
.navegation .prev { margin-top: -140px; margin-left: -75px; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas.png) 0 0 !important;  float: left; height: 100px; width: 25px; }
.navegation .next {margin-top: -180px; margin-right: -50px; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas.png) -25px 0 !important; float: right; height: 100px; width: 25px; }
.navegation .prev:hover { opacity: 1; filter: alpha(opacity =100); }
.navegation .next:hover { opacity: 1; filter: alpha(opacity =100); }

.navegation .pager { text-align: center; padding: 2% 0; position: relative; width: auto; margin-left:48%;  }
.navegation .pager a { width:10px; height:10px; margin: 0 2% 0 0; text-indent: -100000000px; float: left; background: #CCC; border-radius: 50% }
.navegation .pager a:hover { background: #999 }
.navegation .pager .selected { background: #b72025 }
.navegation .pager .selected:hover { background: #b72025 }






/* ---------------- BOTOES ---------------- */

.btn-drop {  width: 100%; float: left; font-size: 120%; font-weight: 300; background: url(../img/pix.png);  }


.btn-white { border: 1px solid #FFF; color: #FFF; }
.btn-white:hover { background: #FFF; color: #1c1c1c; }

.btn-black { border: 1px solid #1c1c1c; color: #1c1c1c; }
.btn-black:hover { background: #1c1c1c; color: #FFF; }

.btn-grey { border: 1px solid #999; color: #999; }
.btn-grey:hover { background: #999; color: #FFF; }


.btn-red { border: 1px solid #b72025; color: #b72025; }
.btn-red:hover { background: #b72025; color: #FFF; }

.btn-wine { border: 1px solid #720004; color: #720004; }
.btn-wine:hover { background: #810a0e; color: #b72025; }

/* ---------------- FOUND IDEAS ---------------- */
.row { position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  zoom: 1;
  max-width: 1200px; }

@media (max-width:980px) {
  body {  overflow: scroll;}
}





  input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  height: 3.3125em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }
  input[type="text"][disabled], fieldset[disabled] input[type="text"],
  input[type="password"][disabled], fieldset[disabled]
  input[type="password"],
  input[type="date"][disabled], fieldset[disabled]
  input[type="date"],
  input[type="datetime"][disabled], fieldset[disabled]
  input[type="datetime"],
  input[type="datetime-local"][disabled], fieldset[disabled]
  input[type="datetime-local"],
  input[type="month"][disabled], fieldset[disabled]
  input[type="month"],
  input[type="week"][disabled], fieldset[disabled]
  input[type="week"],
  input[type="email"][disabled], fieldset[disabled]
  input[type="email"],
  input[type="number"][disabled], fieldset[disabled]
  input[type="number"],
  input[type="search"][disabled], fieldset[disabled]
  input[type="search"],
  input[type="tel"][disabled], fieldset[disabled]
  input[type="tel"],
  input[type="time"][disabled], fieldset[disabled]
  input[type="time"],
  input[type="url"][disabled], fieldset[disabled]
  input[type="url"],
  textarea[disabled], fieldset[disabled]
  textarea {
    background-color: #dddddd; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  textarea.radius {
    border-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-size: 0.875em;
  border-radius: 0;
  height: 3.3125em; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: 1px solid #dddddd;
  padding: 1.25em;
  margin: 1.125em 0; }
  fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875em;
    margin: 0;
    margin-left: -0.1875em; }

/* Error Handling */
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375em 0.5625em 0.5625em;
  margin-top: -1px;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
[data-abide] span.error, [data-abide] small.error {
  display: none; }

span.error, small.error {
  display: block;
  padding: 0.375em 0.5625em 0.5625em;
  margin-top: -1px;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }

.error input,
.error textarea,
.error select {
  margin-bottom: 0; }
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1em; }
.error label,
.error label.error {
  color: #f04124; }
.error small.error {
  display: block;
  padding: 0.375em 0.5625em 0.5625em;
  margin-top: -1px;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline; }
.error span.error-message {
  display: block; }

input.error,
textarea.error {
  margin-bottom: 0; }

label.error {
  color: #f04124; }

.black-modal {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;

  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 );

}

.black-modal .modal-content {
  width: 550px;
  height: auto;
  background: rgba(255, 255, 255, 0.92);
  margin: 12% auto 0 auto;
  /*padding: 40px 0;*/
}

.black-modal .modal-content > h4 {width: 100%;font-size: 2.0em;font-weight: 700;text-align: center;margin-bottom: 1px;}
.black-modal .modal-content > h3 {width: 100%;font-size: 3.5em;color: #000;font-weight: 900;text-align: center;margin:0;}
.black-modal .modal-content > p {width: 100%;font-size: 2.2em;line-height: 28px;font-weight: 400;text-align: center;margin: 0;padding-bottom: 20px;}
.black-modal .modal-content > div {text-align: right;}
.black-modal .modal-content > div > span {font-size: 3.5em;color: #fff;background-color: #222;padding: 0 10px;cursor: pointer;}



.only-mobile { display: none }



@media (max-width:900px) {


  .header-fixo .right { display: none } 

#interesse .ste { bottom: -53px; background: #FFF; color: #000; border: 0; font-size: 1.8em; }
#interesse .ste:hover { bottom: -53px;  }

#interesse .lk1 { right: 5px; }
#interesse .lk2 { right: 125px; }

#apresentacao { background: url(../img/newlife_bg2m.jpg) center; }

.only-mobile { display: block; }

#localizacao { background: url(../img/newlife_bg3m.jpg) center; }


#infraestrutura h2 { font-size: 3em; padding: 1em 0 0 0; }
#infraestrutura p { font-size: 2.5em; }
#infraestrutura .ste i { font-size: 2.5em; padding: 0.5em 0 0.5em 0; }

#infraestrutura .list_carousel h3 { font-size: 30px;  }

#infraestrutura .navegation .next { right: 17% }


#plantas {  }
#plantas h2 { font-size: 3em; padding: 1em 0 0 0; }
#plantas p { font-size: 2.5em; }
#plantas .ste i { font-size: 2.5em; padding: 0.5em 0 0.5em 0; }

#plantas .list_carousel h3 { font-size: 30px;  }

#plantas .navegation .next { right: 17% }

#implantacao {  }
#implantacao h2 { font-size: 3em; padding: 1em 0 0 0; }
#implantacao p { font-size: 2.5em; }
#implantacao .ste i { font-size: 2.5em; padding: 0.5em 0 0.5em 0; }

#implantacao .list_carousel h3 { font-size: 30px;  }

#implantacao .navegation .next { right: 17% }



#decorado h2 { font-size: 3em; padding: 0.5em 0 0 0; }
#decorado .ste i {font-size: 2.5em; padding: 0.2em 0 0.2em 0;}



#contato form { margin: 21% 0 0 2% }
#contato form ul {
width: 98%;
margin: 0 0 0 1%;
font-size: 1.5em;
}
#contato form ul label { margin: 0.70em 2% 0 0; font-size: 1.3em; }
#contato form ul input { width: 73%; font-size: 1.0em; }

#contato form ul textarea { font-size: 1.0em; width: 73% }

#contato form ul .btn { font-size: 1.5em; padding: 0.1em 0 0.4em 0; margin: 0 7% 0 0; width: 140px; height: 60px;}

#contato .ablu { margin: 7em 0 0 0 }


.black-modal .modal-content { width: 90% }


}

@media (max-width: 450px){
  #interesse .ste {font-size: 1.5em;}
  #interesse .lk2 { right: 110px; }
}