@charset "utf-8";

/* CSS Document */



html, body, div, span, applet, object, iframe, h1, h2, h3,

h4, h5, h6, p, blockquote, pre, a, abbr, acronym,

address, big, cite, code, del, dfn, em, font, img, ins,

kbd, q, s, samp, small, strike, strong, sub, sup, tt,

var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td {

margin: 0;

padding: 0;

border: 0;

outline: 0;

font-weight: inherit;

font-style: inherit;

font-size: 100%;

font-family: inherit;

vertical-align: baseline;

}

:focus { outline: 0;}

a, a:link, a:visited, a:hover, a:active{text-decoration:none}

table { border-collapse: separate;border-spacing: 0;}

th, td {text-align: left; font-weight: normal;}

img, iframe {border: none; text-decoration:none;}

ol, ul {list-style: none;}

input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}

select {margin: inherit;}

hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}





body{

	font-family: 'Lato', sans-serif;

	font-size:62.5%;

	color:#444444;

	font-weight:300;

	background:#f5f4f2;

	

}

@media screen and (min-width:0\0) {

		body{

			font-size:50%;

		}

		header nav { line-height:200% }

		.caroseul .lika p { line-height:150% } 

		.caroseul .lika { margin: 5px 0 0 15px;}

	

 }



i { float:left; font-size:1.8em; color:#FFF }

.radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }



.radius1 { -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }

.radius2 { -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }



.smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

	b { font-weight:900 }

	.ie8 input {line-height:3.0 !important;}

	.ie7 input {line-height:3.0 !important;}



.ie9 { font-size:50.0%; }



.container_12 { width:940px; min-width:940px; margin:0 auto;  }

section {width:100%; min-width:940px; float:left; }



.btn {  }

.fixed {

position: fixed;

z-index: 9999;

}

.relative {

position: relative;

}

/* -----------------------------------HEADER---------------------------------------- */

header { width:100%; position:absolute; bottom:0; float:left; z-index:999;  min-width:940px;  }



header .flutua { width:100%; height:80px; background:; text-align:right; float:left; min-width:940px; }

header .flutua h3 { font-size:2.8em; font-weight:700; color:#f99d1c;  margin:0 0 0 0}

header .flutua h4 { font-size:2.2em; font-weight:100; color:#FFF;  margin:0 0 0 0}



header .top { width:100%; height:50px;  float:left; min-width:940px; }

header .top img { width:100%; }



header .midle { width:100%; height:120px; background:#FFF; float:left; }

header .midle h1 { width:320px; height:121px; margin:-35px 0 0 0; background:url(../img/logo.png) 0 0; float:left; text-indent:-100000px }



header .bottom { width:100%; height:70px; background:#f5f5f5; border-top:1px solid #e1e1e1; float:left; }

header .bottom .curtir { width:120px; height:70px; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; float:left; }

header .bottom .curtir:hover { background:#FFF }

header .bottom .venha { color:#41606f; width:auto; height:auto; float:left; }

header .bottom .venha i { color:#41606f; font-size:3.0em; margin:20px 20px 0 20px; padding:0 20px 0 0; border-right:2px solid #f8b14d;  float:left; }

header .bottom .venha p { width:382px; font-size:1.4em; margin:18px 0 0 0; float:left; }



header .bottom .nex { width:172px; height:70px;  border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; background:url(../img/nex.png) 23px 20px no-repeat; float:right; text-indent:-100000px }

header .bottom .nex:hover { background:url(../img/nex.png) 23px 20px no-repeat #FFF }

header .bottom .corretor { width:139px; height:59px; font-size:12px; font-weight:300; color:#494949;  border-left:1px solid #e1e1e1; background:url(../img/corretor.png) 19px 16px no-repeat; float:left; text-transform:uppercase; text-align:center; padding: 11px 0 0 42px; line-height: 15px; }

header .bottom .corretor:hover { background:url(../img/corretor.png) 19px 16px no-repeat #FFF }

header .bottom .corretor span {font-size:18px; color:#41606f; font-weight:900 }















header form { width:600px; height:100px; float:right; background:; margin-top:0px  }

header form h2 { width:100%; height:auto; margin:0 0 10px 0; color:#41606f; text-transform:uppercase; float:left; font-size:1.3em; font-weight:900;  }

header form label { width:170px; height:auto; margin:0 0 10px 0; color:#41606f; text-transform:uppercase; float:left; font-size:1.2em;  }

header form .field { width:155px; height:38px; background:#f5f5f5; border:1px solid #dcdcdc; border-right:0; padding-left:15px; float:left; font-size:1.3em; color:#666; }

header form a { width:87px; height:28px; padding-top:12px; text-align:center; background:#71bf44; color:#FFF; float:left; font-size:1.3em; font-weight:900;  }

header form a:hover { background:#8ae556; }



.sucesso {width:550px; border-bottom:5px solid #71bf44; background:#FFF; height:auto; float:left}

.sucesso h4 { width:100%; font-size:2.0em; font-weight:700;  float:left; text-align:center; margin:50px 0 1px 0}

.sucesso h3 { width:100%; font-size:3.5em; color:#71bf44; font-weight:400; float:left; text-align:center; margin:0 0 0 0}

.sucesso .mod-p { width:100%; font-size:1.6em; line-height:28px; font-weight:400; float:left; text-align:center; margin:0 0 50px 0}



footer { width:100%; height:269px; position:absolute; bottom:200px; float:left; z-index:99; background:url(../img/gradient.png) 100% top; min-width:940px }



/* -----------------------------------BUSCA---------------------------------------- */

























































