@charset "utf-8";

/**************************** Ficha Técnica ****************************/
/*
	Autor: Divex - Internet Gerando Valor
	Site autor: http://www.divex.com.br
	Contato autor: atendimento@divex.com.br
	Cliente: Capa Max
*/

/**************************** Reset ****************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, blockquote, q, cite, code, table, th, td {
	margin: 0;
	padding: 0;}

ol, ul {list-style: none;}

img    {border: none;}

/**************************** Classes Especiais ****************************/
/* Textos */
.TextoCenter {text-align: center;}
.TextoLeft   {text-align: left;}
.TextoRight  {text-align: right;}
.TextoJust   {text-align: justify;}

.TextoNormal       {font-weight: normal;}
.TextoBold         {font-weight: bold;}
.TextoEstiloNormal {font-style: normal;}
.TextoItalic       {font-style: italic;}

.TextoUnderline    {text-decoration: underline;}
.TextoUnderNone    {text-decoration: none;}
.TextoOverLine     {text-decoration: overline;}

/* Objetos */
.Left        {float: left;}
.Right       {float: right;}
.FloatNone   {float: none;}

.Visible     {visibility: visible;}
.Hidden      {visibility: hidden;}

.Block       {display: block;}
.Inline      {display: inline;}
.InlineBlock {display:inline-block;}
.DisplayNone {display: none;}

.BorderTop {}
.BorderRight {}
.BorderBottom {}
.Borderleft {}

/**************************** Estilos e Estruturas usados em todas páginas ****************************/
body {
	background: url(../../img/site/bg-body.png) repeat-x center top;
	width: 100%;}

div.Full {
	background: url(../../img/site/bg-full.png) no-repeat center top;
	height: 647px;
	margin: 0;
	width: 100%;}

div.Container {
	margin: 0 auto;
	overflow: hidden;
	width: 993px;}

/* Header */
div.Header {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Header div.Container {

	position: relative;}

/* Wrapper */
div.Wrapper {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Wrapper div.Container {
	height: 625px;
	position: relative;}

/* Main */
div.Main {
	height: 635px;
    width: 585px;
	float:left;}

div.Main img.ImgFamilia {
	left: 17px;
    position: absolute;
    top: 81px;
    z-index: 999;}

div.Main img.ImgVista {
	left: 154px;
    position: absolute;
    top: 17px;}

a.btnSaibaMais {
	background: url(../../img/site/btn-saiba-mais.png) no-repeat center;
	display: block;
    height: 31px;
    left: 464px;
    position: absolute;
    text-indent: -9000px;
    top: 293px;
    width: 133px;}

p.Legenda {
	color: #9ab020;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
    left: 60px;
    position: absolute;
    text-align: right;
    top: 60px;
    width: 88px;}

/* Footer */
div.Main div.Footer {
	height: 155px;
	margin: 0;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 500px;
	*top: 480px;}

div.Footer div.Plantao {
    float: left;
    height:60px;
    width: 600px;}
div.Footer div.Plantao .TitAddress {background: url(../../img/site/titulo-adress.png) no-repeat; width:276px; height:17px; margin-top:20px; display:block; text-indent:-9999em;}
div.Footer div.Plantao .LnkMapa {background: url(../../img/site/bt_mapa.png) no-repeat;  width:111px; height:35px; display:block; text-indent:-9999em; }

div.Footer span.EnderecoDestaque {
	color: #023710;
	font-family: 'PT Sans Narrow', arial, serif;
	font-size: 20px;
	letter-spacing: -1px;}

div.Footer span.Endereco {
	color: #023710;
	display: block;
	font-family: 'PT Sans Narrow', arial, serif;
	font-size: 14px;}

div.Footer a:link, 
div.Footer a:visited, 
div.Footer a:hover, 
div.Footer a:active {
	color: #c88602;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;}

div.Footer div.LigueAgora {
    display: inline;
    float: left;
    height: 100px;
	margin-left: 80px;
    width: 188px;}

div.Footer div.LigueAgora span.Fone {
	color: #023710;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 29px;}

div.Footer div.Logotipos {
    height: 60px;
    margin-left: 19px;
    overflow: hidden;
    width: 990px;}

div.Footer div.Logotipos .LnkDivex {
	margin-top:20px;
}
div.Footer div.Logotipos img {
	float: left;
	margin: 5px 40px 0 0;}

div.Footer div.Logotipos img.LogotipoRodobens {margin-top: 0;}

/* Sidebar */
div.Sidebar {
	margin:25px 0 0 0;
	float:right; 
	height: 504px;
	width: 408px;}

/* Títulos */
h1 {
	background: url(../../img/site/logo-moradas-clube.png) no-repeat center;
	height: 89px;
    left: 0;
    position: absolute;
    text-indent: -9000px;
    top: 30px;
    width: 320px;}

h2 {
	color: #959595;
	font-family: 'PT Sans Narrow', arial, serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;}

h3 {
	color: #1a3a4d;
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 16px;
	text-transform: uppercase;}

/* Parágrados */
div.Header p {
	background: url(../../img/site/titulo-conceito.png) no-repeat center;
	height: 57px;
    position: absolute;
    right: 39px;
    text-indent: -9000px;
    top: 42px;
    width: 585px;}

ul.Formulario p {
	color: #584937;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;}
	
ul.Formulario p.Exception {
	color: #944536;}

/* Links */
a:link, a:visited {}

a:hover, a:active {}

/* Formulários */
ul.Formulario {
	margin: 25px 0 0 52px;
	width: 358px;
	*margin-top:0;}

ul.Formulario li {
	margin-bottom: 5px;
	*margin-bottom: 2px;
	overflow: hidden;
	width: 358px;}

ul.Formulario li.titlegroup {
	margin-bottom: 20px;}

ul.Formulario li label {
	color: #1a3a4d;
	display: block;
	float: left;
	font-family: 'PT Sans Narrow', arial, serif;
	font-size: 14px;
	line-height: 24px;
	width: 98px;}

ul.Formulario li label.LabelRadio {width: 52px;}

ul.Formulario li input.Campo, 
ul.Formulario li select.Select,
ul.Formulario li textarea.TextArea {
	background-color: #fff;
	border: 1px solid #919292;
	font-family: Arial, Helvetica, sans-serif;
	color: #1a3a4d;
	float: left;
	font-size: 12px;}

ul.Formulario li input.Campo {
	height: 24px;
	line-height: 24px;
	padding: 0 4px;
	width: 196px;
	width: 198px\9;}

ul.Formulario li select.Select {
	height: 28px;
	padding: 4px 4px 4px 0;
	width: 206px;
	width: 208px\9;}

ul.Formulario li input.RadioButton {
	float: left;
	margin: 5px 3px 0 0;
	margin-top: 2px\9;}

ul.Formulario li textarea.TextArea {
	height: 108px;
	width: 204px;}

ul.Formulario li input.btnEnviar {
	cursor: pointer;
	display: inline;
	float: left;
	height: 31px;
	margin-left: 188px;
	width: 117px;
	position:absolute;
	z-index:99999;
}

#enviarInteresse {
	bottom: 85px;
    color: #F02222;
    font-family: 'PT Sans Narrow',arial,serif;
    right: 40px;
    position: absolute;
    width: 180px;}

/* Assinatura */
a.Assinatura {
	background: url(../../img/site/logo-divex-imobi-footer.gif) no-repeat center;
	bottom: 30px;
	display: block;
	height: 38px;
	position: absolute;
	right: 22px;
	text-indent: -9000px;
	width: 116px;}



