<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../assets/css/styles.css"></head>

<body class="sucesso">
	<p>Sua mensagem foi enviada <br />com sucesso!</p>
    <div class="formulario">
    <p>* Campos Obrigatórios</p>
    <form action="<?=site_url(); ?>contato/sendInteresse/<?=session_id(); ?>" method="post" id="form_main">
        <ul>
            <li><label>*Nome:</label><input class="campo nome validate[required]" name="form_nome" id="form_nome" type="text" value=""></li>
            <li><label>*E-mail:</label><input class="campo email validate[required,custom[email]]" name="form_email" id="form_email" type="text" value=""></li>
            <li><label>Telefone:</label><input class="campo telefone" name="form_telefone" id="form_telefone" type="text" value=""></li>
            <li class="textareali"><label>Mensagem:</label><textarea name="form_comentario" id="form_comentario" cols="" rows=""></textarea></li>
            <input class="btn-enviar" name="enviar" type="submit" value="ENVIAR" id="btn-submit">
        </ul>
    </form>
    <h2>ou ligue agora:<br><span>51 3311.2561</span></h2>
</div>

</body>