/** Stage container **/

.connected-carousels .stage {
    width:100%;
    height:520px; 
    position: relative;
}

.connected-carousels .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
    
}

.connected-carousels .photo-credits a {
    color: #fff;
}

/** Navigation container **/

.connected-carousels .navigation {
    width: 100%;
    margin: 0 auto;
    position: relative;
    float:left; -moz-border-radius:  0 0 5px 5px;
    background: #383939;
    z-index: 6000;
}

/** Shared carousel styles **/

.connected-carousels .carousel {
    overflow: hidden;
    position: relative;
}

.connected-carousels .carousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.connected-carousels .carousel li {
    float: left;


}
.connected-carousels .carousel-stage li {
    width:940px;
    height:520px;
    padding:0 20px 0 20px;
    text-align:center;
    margin-left: -20px;
}
.connected-carousels .carousel-stage li img {
    width: 100%;
    height: 100%;
}

.connected-carousels .carousel-stage li p {
    position: relative; z-index: 7000; color: #FFF; margin: -70px 0 0 0; font-size: 2.8em; font-weight: 300; font-style: italic; letter-spacing: 2.6px;
}
.connected-carousels .carousel-stage li span {
    position: relative; width: 130px; height: 33px; background:url(../../img/lupa-white.png); z-index: 8000; margin-top: -470px; display: block; left: 790px;
}

/** Stage carousel specific styles **/

.connected-carousels .carousel-stage {
    height: 520px;
}

/** Navigation carousel specific styles **/

.connected-carousels .carousel-navigation {
    height: 101px;
    width: 75.9%;
    margin:-1px 0 0 105px;
    background: #383939;
       -moz-box-shadow: 0px -1px 0px #ececec;
            float:left;
}

.connected-carousels .carousel-navigation li {
    cursor: pointer;
}

.connected-carousels .carousel-navigation li img {
    display: block;
    border: 3px solid #353535;
    margin-left: 15px;
    height: 66px;
}

.connected-carousels .carousel-navigation li.active img {
    border-color: #666666;
}

/** Stage carousel controls **/

.connected-carousels .prev-stage,
.connected-carousels .next-stage {
    display: block;
    position: absolute;
    top: 0;
    width: 305px;
    height: 410px;
    color: #fff;
}

.connected-carousels .prev-stage {
    left: 0;
}

.connected-carousels .next-stage {
    right: 0;
}

.connected-carousels .prev-stage.inactive,
.connected-carousels .next-stage.inactive {
    display: none;
}

.connected-carousels .prev-stage span,
.connected-carousels .next-stage span {
    display: none;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
       -moz-box-shadow: 0 0 2px #999;
            box-shadow: 0 0 2px #999;
}

.connected-carousels .prev-stage span {
    left: 20px;
}

.connected-carousels .next-stage span {
    right: 20px;
}

.connected-carousels .prev-stage:hover span,
.connected-carousels .next-stage:hover span {
    display: block;
}

/** Navigation carousel controls **/

.connected-carousels .prev-navigation,
.connected-carousels .next-navigation {
    display: block;
    position: absolute;
    width: 80px;
    height: 90px;
    background:url(../../img/setas.png);
    background-color: #323232;
    margin:-10px 20px 20px 20px;
}
.connected-carousels .prev-navigation:hover,
.connected-carousels .next-navigation:hover {

    background-color: #2d2d2d;
  
}
.connected-carousels .prev-navigation {
    left: 0x;
    top: 0;

    background-position: 79px 0;
}

.connected-carousels .next-navigation {
    right: 0;
    top: 0;
}

.connected-carousels .prev-navigation.inactive,
.connected-carousels .next-navigation.inactive {
    opacity: 0.5;
}
.connected-carousels .prev-navigation.inactive:hover,
.connected-carousels .next-navigation.inactive:hover {
    background-color: #323232;
    cursor: default;
}
