@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


/*--------------------- BEGIN------------------------- */

#regulamento-paragrafo {
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#6C5946;
	margin: 20px;
	line-height: 23px;
}

#st-promo-container{
	width:100%;
	background:url(../../img/site/promocao-bicicletas/bg-01.jpg) center top;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#6C5946;
}

#st-promo-container a{text-decoration:underline}
#st-promo-container a:hover{text-decoration:none}

#st-promo-box{
	position:relative;
	width:1150px;
	display:table;

	margin:auto;
}

#st-promo-social{
	width:500px;
	height:37px;
	margin-left:310px;
	padding-top:13px;
	float:left;
	
}

#st-promo-destaque{
	width:1150px;
	height:350px;
	background:url(../../img/site/promocao-bicicletas/destaque.jpg);
	float:left;
}

#st-promo-logo{
	position:absolute;
	margin-top:10px;
	margin-left:65px;
	width:211px;
	height:535px;
	background:url(../../img/site/promocao-bicicletas/logo.png);
	float:left;
	*top:0;
	*left:0
}

#st-promo-foto{
	position:absolute;
	margin-top:0;
	margin-left:590px;
	width:530px;
	height:422px;
	background:url(../../img/site/promocao-bicicletas/foto.png);
	float:left;
		*top:0;
	*left:0

}

#st-promo-vencedor{
	position:absolute;
	margin-top:289px;
	margin-left:549px;
	width:631px;
	height:142px;
	background:url(../../img/site/promocao-bicicletas/vencedor.png);
	float:left;
		*top:0;
	*left:0
}
#st-promo-vencedor .st-promo-vencedor-p0{width:460px; float:right; margin-top:38px; margin-right:20px; line-height:1.5; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#FFC;  font-weight:bold; text-transform:uppercase}
#st-promo-vencedor .st-promo-vencedor-p1{width:460px; float:right; margin-top:4px; margin-right:20px; line-height:1.5; font-family:Verdana, Geneva, sans-serif; font-size:15px; color:#FFF; font-style:italic; text-shadow:1px 1px #51251f}
#st-promo-vencedor .st-promo-vencedor-p2{width:460px; float:right; margin-top:2px; margin-right:20px; line-height:1.5; font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#FFC}



#st-promo-box2{
	width:1150px;
	display:table;
	background:url(../../img/site/promocao-bicicletas/bg-02.jpg);
}

#st-promo-box-pergunta{
	width:1150px;
	display:table;
	background:url(../../img/site/promocao-bicicletas/box-pergunta.png) 85px 40px no-repeat;
}

#st-promo-box-pergunta-logos{
	width:236px;
	height:70px;
	display:table;
	float:left;
	margin-top:710px;
	margin-left:100px;
	background:url(../../img/site/promocao-bicicletas/logo-nex.png) 0 15px no-repeat 
}


#st-promo-box-pergunta-form{
	width:620px;
	display:table;
	float:right;
	margin-right:110px;
}


#st-promo-box-pergunta-form-message{
	width:590px;
	height:80px;
	
	padding-top:10px;
	padding-left:20px;
	
	background:#fff;
	margin-top:205px;
	margin-left:5px;
	margin-bottom:130px;
	border:0;
}

.st-promo-box-pergunta-form-1{
	width:290px;
	float:left;
	margin-bottom:15px;
}

.st-promo-box-pergunta-form-text{
	width:278px;
	height:40px;
	padding-left:10px;
	float:left;
	margin-top:2px;
	border:1px solid #eae4d4;
	line-height:3;
}


.st-promo-box-pergunta-form-2{
	width:140px;
	float:left;
}

.st-promo-box-pergunta-form-text-2{
	width:128px;
	height:40px;
	padding-left:10px;
	float:left;
	margin-top:2px;
	border:1px solid #eae4d4;
	line-height:3;
}

.st-promo-box-pergunta-form-3{
	width:620px;
	float:left;
}

.st-promo-box-pergunta-form-check{
	margin-top:2px;
	margin-right:5px;
	float:left;
}

.st-promo-box-pergunta-form-btn{
	width:620px;
	height:60px;
	border:0;
	float:left;
	background:url(../../img/site/promocao-bicicletas/enviar.png) no-repeat center #913821;
	margin-top:25px;
	cursor:pointer
}

.st-promo-box-pergunta-form-btn:hover{
	background:url(../../img/site/promocao-bicicletas/enviar.png) no-repeat center #c54a2a
}



#st-promo-footer-divex{
	width:100%;
	height:32px;
	padding-top:18px;
}

#st-promo-divex{
	width:77px;
	height:16px;
	background:url(../../img/site/promocao-bicicletas/footer-divex.png);
	margin:auto;
}

#st-promo-divex:hover{
	background:url(../../img/site/promocao-bicicletas/footer-divex.png) 0 16px;
}