@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


/*--------------------- BEGIN------------------------- */

#regulamento-paragrafo {
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#6C5946;
	margin: 20px;
	line-height: 23px;
}

#st-promo-container{
	width:100%;
	background:url(../../img/site/promocao-bicicletas/bg-01.jpg) center top;
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#6C5946;
}


#st-promo-container a{}
#st-promo-container a:hover{text-decoration:none}

#st-promo-box{
	position:relative;
	width:1150px;
	display:table;

	margin:auto;
}

#st-promo-social{
	width:500px;
	height:37px;
	margin-left:310px;
	padding-top:13px;
	float:left;
	
}

#st-promo-destaque{
	width:1150px;
	height:350px;
	background:url(../../img/site/promocao-bicicletas/destaque.jpg);
	float:left;
}

#st-promo-logo{
	position:absolute;
	margin-top:10px;
	margin-left:65px;
	width:211px;
	height:535px;
	background:url(../../img/site/promocao-bicicletas/logo.png);
	float:left;
	*top:0;
	*left:0
}

#st-promo-foto{
	position:absolute;
	margin-top:0;
	margin-left:590px;
	width:530px;
	height:422px;
	background:url(../../img/site/promocao-bicicletas/foto.png);
	float:left;
		*top:0;
	*left:0

}
#st-promo-vencedor{
	position:absolute;
	margin-top:299px;
	margin-left:719px;
	width:461px;
	height:112px;
	float:left;
	*top:0;
	*left:0;
	text-decoration:none;
	background:url(../../img/site/promocao-bicicletas/vencedor.png);
	cursor:pointer;
}

#st-promo-vencedor .st-promo-vencedor-p1{width:350px; float:right; margin-top:44px; margin-right:0px;  font-family:Verdana, Geneva, sans-serif; font-size:22px; color:#ebe4d3; font-weight:bold; text-shadow:1px 1px #000; text-decoration:none;}
#st-promo-vencedor .st-promo-vencedor-p1:hover{color:#FFF; margin-right:-1px;}
#st-promo-vencedor .st-promo-vencedor-p2{width:350px; float:right; margin-top:-5px; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#ede0bc; text-decoration:none;}


#st-promo-box2{
	width:1150px;
	display:table;
	background:url(../../img/site/promocao-bicicletas/bg-02.jpg);
}

#st-promo-box-pergunta{
	width:1150px;
	display:table;
	background:url(../../img/site/promocao-bicicletas/box-pergunta.png) 85px 40px no-repeat;
}

#st-promo-box-pergunta-logos{
	width:236px;
	height:70px;
	display:table;
	float:left;
	margin-top:710px;
	margin-left:100px;
	background:url(../../img/site/promocao-bicicletas/logo-nex.png) 0 15px no-repeat 
}


#st-promo-box-pergunta-form{
	width:620px;
	display:table;
	float:right;
	margin-right:110px;
}


#st-promo-box-pergunta-form-message{
	width:590px;
	height:80px;
	
	padding-top:10px;
	padding-left:20px;
	
	background:#fff;
	margin-top:205px;
	margin-left:5px;
	margin-bottom:130px;
	border:0;
}

.st-promo-box-pergunta-form-1{
	width:290px;
	float:left;
	margin-bottom:15px;
}

.st-promo-box-pergunta-form-text{
	width:278px;
	height:40px;
	padding-left:10px;
	float:left;
	margin-top:2px;
	border:1px solid #eae4d4;
	line-height:3;
}


.st-promo-box-pergunta-form-2{
	width:140px;
	float:left;
}

.st-promo-box-pergunta-form-text-2{
	width:128px;
	height:40px;
	padding-left:10px;
	float:left;
	margin-top:2px;
	border:1px solid #eae4d4;
	line-height:3;
}

.st-promo-box-pergunta-form-3{
	width:620px;
	float:left;
}
.st-promo-box-pergunta-form-3 a{text-decoration:underline}

.st-promo-box-pergunta-form-check{
	margin-top:2px;
	margin-right:5px;
	float:left;
}

.st-promo-box-pergunta-form-btn{
	width:620px;
	height:60px;
	border:0;
	float:left;
	background:url(../../img/site/promocao-bicicletas/enviar.png) no-repeat center #913821;
	margin-top:25px;
	cursor:pointer
}

.st-promo-box-pergunta-form-btn:hover{
	background:url(../../img/site/promocao-bicicletas/enviar.png) no-repeat center #c54a2a
}



#st-promo-footer-divex{
	width:100%;
	height:32px;
	padding-top:18px;
}

#st-promo-divex{
	width:77px;
	height:16px;
	background:url(../../img/site/promocao-bicicletas/footer-divex.png);
	margin:auto;
}

#st-promo-divex:hover{
	background:url(../../img/site/promocao-bicicletas/footer-divex.png) 0 16px;
}


/*--------------------- GALERIA------------------------- */

#st-promo-vencedor-voltar{
	position:absolute;
	margin-top:410px;
	margin-left:-31px;
	width:209px;
	height:112px;
	float:left;
	*top:0;
	*left:0;
	text-decoration:none;
	background:url(../../img/site/promocao-bicicletas/vencedor-voltar.png);
	z-index:9;
}

#st-promo-vencedor-voltar .st-promo-vencedor-p1{width:160px; float:right; margin-top:44px; margin-right:0px;  font-family:Verdana, Geneva, sans-serif; font-size:22px; color:#ebe4d3; font-weight:bold; text-shadow:1px 1px #000; text-decoration:none;}
#st-promo-vencedor-voltar .st-promo-vencedor-p1:hover{color:#FFF; margin-right:-1px;}
#st-promo-vencedor-voltar .st-promo-vencedor-p2{width:160px; float:right; margin-top:-5px; font-family:Verdana, Geneva, sans-serif; font-size:10px; color:#ede0bc; text-decoration:none;}

#st-promo-box-pergunta-galeria{
	width:1150px;
	display:table;
	background:url(../../img/site/promocao-bicicletas/box-pergunta-galeria.png) 85px 40px no-repeat;
	position:relative;
	float:left
	}

#st-promo-box-pergunta-form-galeria{
	position:relative;
	background:;
	width:620px;
	display:table;
	float:right;
	margin-right:110px;
	margin-top:50px;
}

#st-promo-box-pergunta-logos-galeria{
	width:236px;
	height:70px;
	display:table;
	float:left;
	margin-top:50px;
	margin-left:100px;
	background:url(../../img/site/promocao-bicicletas/logo-nex.png) 0 15px no-repeat 
}


.box-galeria{
	width:960px;
	display:table;
	margin-left:90px;
	margin-top:160px;
}

.box-galeria-win{
	position:relative;
	box-shadow:2px 2px 5px #CCC;	
	width:300px;
	height:350px;
	float:left;
	margin-left:20px;
	margin-top:20px;
}
.win-data{width:300px; height:25px; padding-top:5px; background:#c5c0af; margin-top:210px; font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#FFF; font-weight:bold; text-align:center}

.win-frase{width:280px; height:100px; padding-left:10px; padding-right:10px; padding-top:10px; background:url(../../img/site/promocao-bicicletas/galeria-bg-white.png); font-family:Verdana, Geneva, sans-serif; font-size:11px; color:#913821; text-align:center}
.win-frase-name{margin-top:5px; font-weight:bold;}

.galeria-ampliar{background:url(../../img/site/promocao-bicicletas/ampliar.png); position:absolute; width:111px; height:32px; right:-11px; top:160px;}


.win-1{background:url(../../img/site/promocao-bicicletas/bianca.jpg) -310px -20px}
.win-2{background:url(../../img/site/promocao-bicicletas/fabiana.jpg) -310px -40px}
.win-3{background:url(../../img/site/promocao-bicicletas/taisa.jpg) -310px -10px}
.win-4{background:url(../../img/site/promocao-bicicletas/pedro.jpg) -310px 0px}
.win-5{background:url(../../img/site/promocao-bicicletas/rea.jpg) -310px -250px}
.win-6{background:url(../../img/site/promocao-bicicletas/jose.jpg) -350px -100px}
.win-7{background:url(../../img/site/promocao-bicicletas/win.png)}
.win-8{background:url(../../img/site/promocao-bicicletas/win.png)}






















