@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


/* ---------------------fonts------------------------- */

@font-face {
 font-family: dax;
 src: url(../../fonts/site/Dax-Bold.otf) /* EOT file for IE */
}

@font-face {
 font-family: myriad;
 src: url(../../fonts/site/MyriadPro-Semibold.otf) /* EOT file for IE */
}

@font-face {
 font-family: myriad-reg;
 src: url(../../fonts/site/MyriadPro-Regular.otf) /* EOT file for IE */
}



/*--------------------- BEGIN------------------------- */

body{
	font-family: myriad, Arial, sans-serif;
	font-size:14px;
	color:#6C5946;
	background:#FBF9F6;

}

h1{
	text-indent:-100000px;
	position:absolute;

}

h2{
	font-family:myriad-reg, Verdana, Geneva, sans-serif;
	font-size:28px;
	color:#9E2D13;
	text-transform:uppercase;
}

h3{
	font-size:12px;
}

#container{
	width:100%;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-bg.jpg) no-repeat center top;
}
#container-interna{
	width:100%;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-interna-bg.jpg) no-repeat center top;
}

/* -----------------------------------TOPO---------------------------------------- */

#topo{
	width:940px;
	height:590px;
	margin:auto;
}
#topo a{
	text-decoration:none;
	color:#7F6A50;
}

#topo a:hover{
	color:#7F6A50;
}

#topo-interna{
	width:940px;
	height:122px;
	margin:auto;
}
#topo-interna a{
	text-decoration:none;
	color:#7F6A50;
}

#topo-interna a:hover{
	color:#7F6A50;
}

#logo{
	width:260px;
	height:80px;
	margin-top:10px;
	position:absolute;
	z-index:2;
}

.corretor{
	width:62px;
	height:41px;
	padding-left:56px;
	padding-top:9px;
	
	font-family:dax, Verdana, sans-serif;
	font-size:14px;
	
	background:url(../../img/site/nexgroup-hotsite-saintlouis-ico-corretor.png) no-repeat;
	margin-top:35px;
	margin-left:551px;
	position:absolute;
	z-index:2;
	border-radius:3px;

}

.corretor:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-ico-corretor.png) 0px -50px no-repeat #E9E3D9;
}

.interesse{
    width:70px;
	height:41px;
	padding-left:54px;
	padding-top:9px;

	
	font-family:dax, Verdana, sans-serif;
	font-size:14px;
	
	background:url(../../img/site/nexgroup-hotsite-saintlouis-ico-interesse.png) no-repeat;
	margin-top:35px;
	margin-left:669px;
	position:absolute;
	z-index:2;
	border-radius:5px;
}

.interesse:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-ico-interesse.png) 0px -50px no-repeat #E9E3D9;
}

.amigo{
	width:91px;
	height:41px;
	
	
	padding-left:56px;
	padding-top:9px;

	
	font-family:dax, Verdana, sans-serif;
	font-size:14px;
	
	background:url(../../img/site/nexgroup-hotsite-saintlouis-ico-amigo.png) 5px 0 no-repeat;
	margin-top:35px;
	margin-left:793px;
	position:absolute;
	z-index:2;
	border-radius:5px;
}

.amigo:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-ico-amigo.png) 5px -50px no-repeat #E9E3D9;
}

#destaque{
	width:940px;
	height:560px;
	background:;
	margin:auto;
	position:absolute;
	top:30px;
	z-index:1;
}

/* -----------------------------------MENU---------------------------------------- */

#menu{
	width:940px;
	height:36px;
	margin:auto;
	font-family:myriad-reg, Verdana, Geneva, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: black 0.1em 0.1em 0.6em;	

}
#menu a{
	color:#ffffff;
}
#menu-interna{
	width:940px;
	height:36px;
	margin:auto;
	font-family:myriad-reg, Verdana, Geneva, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: black 0.1em 0.1em 0.6em;		
}
#menu-interna a{
	color:#ffffff;
}

.menu-home{
	width:98px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) 0 0;

	
	float:left;
	margin-right:1px;
	margin-left:141px;
	cursor:pointer;
}
.menu-home-on{
	width:98px;
	
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) 0 36px;

	
	float:left;
	margin-right:1px;
	margin-left:141px;
	cursor:default;
}
.menu-home:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) 0 -36px;
}


.menu-apart{
	width:150px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -99px 0;
	float:left;
	margin-right:1px;
	cursor:pointer;
}
.menu-apart-on{
	width:150px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -99px 36px;
	float:left;
	margin-right:1px;
	cursor:default;
}
.menu-apart:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -99px -36px;
}

.menu-infra{
	width:157px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -250px 0;
	float:left;
	margin-right:1px;
	cursor:pointer;
}
.menu-infra-on{
	width:157px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -250px 36px;
	float:left;
	margin-right:1px;
	cursor:default;
}
.menu-infra:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -250px -36px;
}

.menu-local{
	width:137px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -408px 0;
	float:left;
	margin-right:1px;
	cursor:pointer;
}
.menu-local-on{
	width:137px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -408px 36px;
	float:left;
	margin-right:1px;
	cursor:default;
}
.menu-local:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -408px -36px;
}

.menu-inter{
	width:112px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -546px 0;
	float:left;
	cursor:pointer;
}
.menu-inter-on{
	width:112px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -546px 36px;
	float:left;
	cursor:default;
}

.menu-inter:hover{
	background:url(../../img/site/nexgroup-hotsite-saintlouis-menu.png) -546px -36px;
}

/* -----------------------------------CONTEUDO---------------------------------------- */

#conteudo{
	width:940px;
	display:table;
	margin:auto;
}

#conteudo-infra{
	width:540px;
	height:480px;
	float:left;
	/*margin-top:40px;*/
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#6C5946;	
}

#conteudo-promo{
	width:540px;
	height:150px;
	margin-bottom:20px;
	float:left;
	margin-top:40px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#6C5946;		
}
#conteudo-promo:hover{
opacity:0.7;}


#conteudo-infra a{
	color:#6C5946;
}
#conteudo-infra p{
	margin-top:10px;
}

.home-img{
	width:230px;
	height:160px;
	margin-top:20px;
	margin-right:30px;
	font-weight:bold;
	text-align:center;
	float:left;
}

.home-img:hover{
	background:#E9E3D9;
	border-radius: 3px;

	
}

#conteudo-local{
	width:340px;
	display:table;
	float:right;
	padding-left:40px;
	margin-top:40px;
	margin-bottom:70px;

}

#conteudo-local p{
	margin-top:10px;
}

#home-mapa{
	margin-top:20px;
}
#home-mapa:hover{opacity:0.8}

#home-rua{
	width:340px;
	height:50px;
	padding-top:10px;
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-mapa-pointer.png) 20px 0 no-repeat;
	margin-top:20px;
	font-family:myriad, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#934535;
}
#home-rua:hover{
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-mapa-pointer.png) 20px 0 no-repeat #E9E3D9;
	border-radius: 3px;
}

#home-rua p{
	margin-top:0px;
	margin-left:68px;
}
#home-rua a{
	color:#934535;
}

#home-corretor{
	width:340px;
	height:48px;
	padding-top:12px;
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-corretor.png) 20px 0 no-repeat ;
	margin-top:20px;
	font-family:myriad, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#934535;
}
#home-corretor:hover{
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-corretor.png) 20px 0 no-repeat #E9E3D9;
	border-radius: 3px;

}
#home-corretor p{
	margin-top:0px;
	margin-left:68px;
}
#home-corretor a{
	color:#934535;
}
#home-corretor span{
	color:#6D5B47;
}

/* -----------------------------------APARTAMENTOS---------------------------------------- */

#conteudo-apart{
	width:940px;
	height:1100px;
	margin:auto;
}
#menu-apart{
	font-family:Arial, sans-serif;
	font-size:18px;
	color:#9E2D13;
	text-transform:uppercase;

}
#menu-apart span{
	color:#C5BFAC;
}
#menu-apart a{
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
}
#menu-apart a:hover{
	background:#F8F7F3;
	border:solid 1px #EDE9E4;
	margin-top:60px;
	height:37px;
}

.dorm3{
	width:298px;
	height:35px;
	padding-top:15px;
	background:#FFF;
	text-align:center;
	margin-top:62px;
	float:left;
	cursor:pointer;
	border:solid 1px #EDE9E4;
	position:absolute;
}

.dorm3-on{
	width:298px;
	height:37px;
	padding-top:15px;
	background:#FEFCFA;
	text-align:center;
	margin-top:60px;
	float:left;
	cursor:;
	border:solid 1px #EDE9E4;
	border-bottom-color:#FEFCFA;
	position:absolute;
}
.dorm2{
	width:299px;
	height:35px;
	padding-top:15px;
	background:#FFF;
	text-align:center;
	margin-top:62px;
	float:left;
	cursor:pointer;
	border:solid 1px #EDE9E4;
	position:absolute;
	margin-left:299px;
}
.dorm2-on{
	width:299px;
	height:37px;
	padding-top:15px;
	background:#FEFCFA;
	text-align:center;
	margin-top:60px;
	float:left;
	cursor:default;
	border:solid 1px #EDE9E4;
	border-bottom-color:#FEFCFA;
	position:absolute;
	margin-left:299px;
}

.impla{
	width:299px;
	height:35px;
	padding-top:15px;
	background:#FFF;
	text-align:center;
	margin-top:62px;
	float:left;
	cursor:pointer;
	border:solid 1px #EDE9E4;
	position:absolute;
	margin-left:599px;
}
.impla-on{
	width:299px;
	height:37px;
	padding-top:15px;
	background:#FEFCFA;
	text-align:center;
	margin-top:60px;
	float:left;
	cursor:default;
	border:solid 1px #EDE9E4;
	border-bottom-color:#FEFCFA;
	position:absolute;
	margin-left:599px;
}

#container-dinamico{
	margin-top:0px;

}
#container-dinamico span{
	width:930px;
	height:60px;
	float:left;
	text-align:right;
	padding-top:10px;
	padding-right:10px;
}
#container-dinamico p{
	float:right;
}

#container-dinamico a{
	color:#978A7B;
	font-size:11px;
	width:398px;
	height:338px;
	padding-top:10px;
	padding-right:10px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:40px;
	text-align:right;
	float:left;
	border:solid 1px #FEFCFA;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	
}
#container-dinamico a:hover{
	background:#F8F7F3;
	border:solid 1px #EDE9E4;

}

#implantacao-img{
	width:845px;
	height:450px;
	float:left;
	margin-left:45px;
	margin-bottom:20px;
	cursor:none;
}

h4{
	font-family:myriad, Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#6C5A46;
	text-transform:uppercase;
	text-align:left;
	margin-left:20px;
}


#box-dinamico-1{
	display:;
	width:940px;
	height:100%;
	padding-bottom:40px;
	float:left;
	background:#FEFCFA;
	border:solid 1px #EDE9E4;
	margin-top:113px;
}
#box-dinamico-2{
	display:none;
	width:940px;
	height:100%;
	padding-bottom:40px;
	float:left;
	background:#FEFCFA;
	border:solid 1px #EDE9E4;
	margin-top:113px;
}
#box-dinamico-3{
	display:none;
	width:940px;
	height:100%;
	padding-bottom:40px;
	float:left;
	background:#FEFCFA;
	border:solid 1px #EDE9E4;
	margin-top:113px;
}

/* -----------------------------------INFRAESTRUTURA---------------------------------------- */

#interna-infra{
	width:940px;
	height:910px;
	margin:auto;
}

#fotos-destaque{
	width:940px;
	height:400px;
	float:left;
	margin-top:60px;
}
#detalhes-destaque-left{
	width:215px;
	height:220px;
	float:left;
	margin-top:80px;
	line-height:35px;
}
.lineheight{line-height:18px;}
#detalhes-destaque-right{
	width:215px;
	height:220px;
	float:left;
	margin-top:80px;
	line-height:35px;
}

#impla-destaque{
	width:500px;
	height:220px;
	float:left;
	margin-top:80px;
	margin-left:10px;
	
}
#impla-destaque a{
	width:110px;
	height:110px;
	background:#63C;
	float:left;
	margin-right:10px;
	margin-top:20px;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	
}
#impla-destaque a:hover{
	opacity:0.8;
}
/* -----------------------------------LOCALIZACAO---------------------------------------- */

#interna-local{
	width:940px;
	display:table;
	margin:auto;
}

#mapa-destaque{
	width:892px;
	height:352px;
	padding:24px;
	background:#E9E3D9;
	float:left;
	margin-top:60px;
}
#mapa-novo{
	width:520px;
	height:530px;
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-mapa2.png) 40px 0 no-repeat;
	float:left;
}

#mapa-rua{
	width:380px;
	height:50px;
	padding-top:10px;
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-mapa-pointer.png) 20px 0 no-repeat;
	margin-top:228px;
	font-family:myriad, Geneva, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#934535;
	float:left;
}
#mapa-rua:hover{
	background: url(../../img/site/nexgroup-hotsite-saintlouis-home-mapa-pointer.png) 20px 0 no-repeat #E9E3D9;
	border-radius: 3px;
}

#mapa-rua p{
	margin-top:0px;
	margin-left:68px;
}
#mapa-rua a{
	color:#934535;
}

/* -----------------------------------INTERESSE---------------------------------------- */

#modal-interesse{
	width:860px;
	height:445px;
	background:#F9F5ED;
	padding-top:25px;
	margin:auto;

}

#conteudo-contato{
	width:780px;
	margin:auto;
}
#conteudo-contato h2{float:left; width:700px; font-size:20px; margin-bottom:10px; }
#modal-line1{width:780px; height:1px; background:#F1E9D8; float:left;}
#modal-line2{width:780px; height:1px; background:#fff; float:left; margin-bottom:20px;}

#conteudo-contato ul {width:370px;}
#conteudo-contato ul li{height:30px; padding-top:20px;}
.interesse-left{float:left;}
.interesse-right{float:right;}
.interesse-obrigado{margin-top:50px;}
label {
	width:115px;
	height:25px;
	padding-top:5px;
	text-align:right;
	float:left;
	margin-right:9px
}

select{width:235px}

.radio{width:20px; height:30px; margin-top:6px; margin-left:10px;  float:left; }
.interesse-formas{width:80px; height:18px; padding-top:12px; float:left}

#mensagem-sucesso p
{
	display: none;
	bottom: 47px;
	color: green;
	float: left;
	margin-left: 471px;
	position: absolute;
	width: 193px;
}

#mensagem-sucesso-indique p
{
	display: none;
	bottom: 47px;
	color: green;
	float: left;
	margin-left: 471px;
	position: absolute;
	width: 193px;
}

#btn-enviar a{
	font-family:myriad-reg, Verdana, Geneva, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	text-shadow: black 0.1em 0.1em 0.6em;		
	background:#BEAE9C;
	width:100px;
	color:#FFF;
	height:27px;
	padding-top:9px;
	float:right;
	margin-top:40px
}
#btn-enviar a:hover{background:#958471;}


.form1{
	width:235px;
	height:29px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	float:left;
	background:#F3EDDE;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form1:hover{background:#FCFAF6;}
.form1:focus{background:#fff;}

.form2{
	width:246px;
	height:30px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	float:left;
	background:#F3EDDE;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form2:hover{background:#FCFAF6;}
.form2:focus{background:#fff;}

.form3{
	width:235px;
	height:70px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	padding-top:7px;
	float:left;
	background:#F3EDDE;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form3:hover{background:#FCFAF6;}
.form3:focus{background:#fff;}

.form3{
	width:235px;
	height:70px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	padding-top:7px;
	float:left;
	background:#F3EDDE;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form3:hover{background:#FCFAF6;}
.form3:focus{background:#fff;}

/* -----------------------------------MODAL AMIGO---------------------------------------- */
#modal-amigo{
	width:860px;
	height:395px;
	background:#F9F5ED;
	padding-top:25px;
	margin:auto;
}

.form4{
	width:235px;
	height:170px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	padding-top:7px;
	float:left;
	background:#F3EDDE;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form4:hover{background:#FCFAF6;}
.form4:focus{background:#fff;}


/* -----------------------------------rodape---------------------------------------- */

#line-1{
	width:100%;
	height:1px;
	background:#EAE9E8;
}

#line-2{
	width:100%;
	height:1px;
	background:#ffffff;
}

#rodape{
	width:100%;
	background:#F6F3EC;
}

#rodape-conteudo{
	width:940px;
	height:218px;
	margin:auto;
	background:url(../../img/site/nexgroup-hotsite-saintlouis-rodape.jpg) no-repeat;

}

#assinatura{
	width:320px;
	height:90px;
	float:left;
	margin-top:30px;
	font-family:myriad, Verdana, Geneva, sans-serif;
	color:#6C5946;
	font-size:14px;
	text-transform:uppercase;
}

#assinatura img{
	float:right;
	margin-top:14px;
}

#redes-sociais{
	width:330px;
	height:30px;
	float:right;
	margin-top:70px;
}

#incorp{
	width:940px;
	height:40px;
	margin-top:20px;
	text-align:center;
	font-family:Arial, sans-serif;
	color:#6C5946;
	font-size:10px;
	float:left;
}

#divex{
	width:80px;
	height:20px;
	float:left;
	margin-top:10px;
	margin-left:0px;
	float:right;
}