/*
Theme Name: Joy
Description: Joy
Author: Zira
Author URI: http://www.zira.com.br/
Version: 1.0
*/

/* CSS Reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,
img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
/* Fim do CSS Reset */

a { text-decoration:none; }

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('fonts/century_gothic-webfont.eot');
    src: url('fonts/century_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/century_gothic-webfont.woff') format('woff'),
         url('fonts/century_gothic-webfont.ttf') format('truetype'),
         url('fonts/century_gothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/***********************************************
 CONFIGURAÇÕES GERAIS
/***********************************************/
body { background:#e89350; font-family:Arial, Helvetica, Verdana, sans-serif; font-size:14px; zoom:1; }
.alignleft { float:left; margin:0 10px 10px 0; }
.alignright { float:right; margin:0 0 10px 10px; }
.aligncenter { display:block; margin:0 auto 10px; }
.clear { clear:both; line-height:0; height:0; font-size:0; }
.relativo { position:relative; }
.hide { display:none; }
.imgr { background-repeat: no-repeat; border: none; display: block;	overflow: hidden; text-indent: -9000px }
.bold { font-weight: bold }
.italic { font-style: italic }
.underline { text-decoration: underline }
.right { float: right }
.left { float: left; }
.ff { font-family: 'CenturyGothicRegular'; }

.centralizador { width:981px; padding:0; margin:0 auto; }


/***********************************************
 HEADER
/***********************************************/
/* Configurações do Banner */
#banners-container { position:relative; }
#banner-nav { position:absolute; bottom:10px; z-index:10; left: 10px; }
#banner-nav li { display:inline;}
#banner-nav a { display:inline-block; height:21px; width:21px; background:url(images/banner_button.png); margin-right:5px; }
#banner-nav a.activeSlide { background: url(images/banner_button_active.png); }
#banner-nav.number a { background:#e1e1e1; font-family:Arial, Helvetica, sans-serif; text-decoration:none; vertical-align:middle; line-height:21px; text-align:center; color:#696969; font-size:12px; -webkit-border-radius: 50px; -moz-border-radius: 50px; border-radius: 50px; }
#banner-nav.number a.activeSlide { background:#b9b9b9; } 
/* Fim das Configurações do Banner */

div#header { background:url(images/background-header.jpg) repeat-x; height:196px; }
div#header h1#logotipo { left:15px; position:absolute; top:40px; }
div#menu div.corretor { position:absolute; right:5px; background:url(images/corretor-online.png) 0 -27px no-repeat; height:27px; vertical-align:middle; width:140px; }
div#menu div#share-this { right:0; position:absolute; top:-178px; width:335px; z-index:650 }
div#menu div#share-this span { float:left; }
div#menu #topo-dhz, div#menu #topo-nex { position:absolute; }
div#menu #topo-dhz { left:0; top:-4px; }
div#menu #topo-nex { left:61px; top:0; }

div#menu { background:url("images/background.jpg") repeat-y center top; left:-1px; height:300px; position:relative; min-width:981px; }
div#menu ul { border-left:1px solid #e18d59; width:256px; }
div#menu ul li a { background:url(images/background-bt-menu.jpg); border-top:1px solid #e7985a; border-bottom:1px solid #cf692d; color:#f7f7f6; display:block; height:29px; font-family:'CenturyGothicRegular'; font-size:17px; font-weight:bold; padding:9px 0 0 25px; text-shadow:#b25b29 1px 2px 1px; text-transform:uppercase; }
div#menu ul li a:hover { background:url(images/background-bt-menu-hover.jpg); }
div#menu ul li a span { display:block; text-indent:-5000px; height:22px }
div#menu ul li#menus-empreendimento a span { background:url(images/menu.png) 0 3px no-repeat; }
div#menu ul li#menus-apartamentos a span { background:url(images/menu.png) 0 -36px no-repeat; }
div#menu ul li#menus-infraestrutura a span { background:url(images/menu.png) 0 -77px no-repeat; }
div#menu ul li#menus-localizacao a span { background:url(images/menu.png) 0 -114px no-repeat; }
div#menu ul li#menus-contato a span { background:url(images/menu.png) 0 -154px no-repeat; }
div#menu ul li.menu-item-first a { border-top:0; }
div#menu ul li.menu-item-last a { border-bottom:0; }
div#menu div#borda-menu { position:absolute; bottom:-52px; left:1px; z-index:1; }
div#menu div#predio { position:absolute; top:-172px; right:0; z-index:600; }


/***********************************************
 CONTEÚDO
/***********************************************/

div.conteudo-central { padding-bottom:85px !important; }

div#conteudo { background:url(images/background.jpg) repeat-y; padding:0 52px;  zoom:1; }

div#conteudo p { color:#707070; font-size:16px; line-height:150%; margin-bottom:20px; }

h2.titulo-conteudo { color:#604b41; font-size:34px; font-weight:normal; }

h2.titulo-contato { margin-bottom:25px; }

p.paragrafo-conteudo { color:#707070; font-size:16px; }
.bloco-conteudo { padding-top:90px }


/* Empreendimento */
div#empreendimento { margin-bottom:90px; padding-top:0px!important }
div#img-empreendimento {  }
div#empreendimento-esquerda, div#empreendimento-direita { float:left; }
div#empreendimento-esquerda { margin-right:22px; width:508px; }
div#empreendimento-esquerda div#video-imagem div { float:left; margin-top:36px; }
div#empreendimento-esquerda div#video-imagem div.com-margem { margin:36px 12px 0; }
div#empreendimento-esquerda div#video-imagem p.legenda { color:7e7e7e; font-size:12px; margin-top:3px; }
div#empreendimento-direita { width:338px; }
div#empreendimento-direita p { margin-top:27px; }
div#empreendimento-direita strong { font-size:18px; }

a .img-mascara { display:none; }
a:hover .img-mascara { position:absolute; display:block; left:0; top:0; z-index:99; }
div#empreendimento .sombra { bottom:40px; left:-10px; position:absolute;  }
div#empreendimento div#menu-empreendimento ul { padding-bottom:42px; }
div#empreendimento div#menu-empreendimento ul li { background:url(images/separador-menu.png) no-repeat center left; color:#707070; font-weight:bold; float:left; font-size:9px; padding:0 1px 0 4px; }
div#empreendimento div#menu-empreendimento ul li.menu-item-first { background:none; padding-left:0 }
div#empreendimento div#menu-empreendimento ul li a { display:block; color:#009ea5; font-size:12px; letter-spacing:-1px; padding:4px 2px; text-transform:uppercase; text-indent:-5000px; }
div#empreendimento div#menu-empreendimento ul li a span { height:17px; display:block; }
div#empreendimento div#menu-empreendimento ul li a:hover { background:#eaeaea; }
div#empreendimento div#menu-empreendimento ul li a#menue-apartamentos span { background:url(images/menu-empreendimento.png) no-repeat 0 0; width:97px; }
div#empreendimento div#menu-empreendimento ul li a#menue-infraestrutura span { background:url(images/menu-empreendimento.png) no-repeat -116px 0; width:112px; }
div#empreendimento div#menu-empreendimento ul li a#menue-localizacao span { background:url(images/menu-empreendimento.png) no-repeat -239px 0; width:98px; }

/* Os Apartamentos */

div#apartamentos { margin-bottom:114px; }
div#apartamentos-esquerda { float:left; margin-right:28px; width:340px; }
div#apartamentos-direita { float:left; width:503px; }
div#carrossel-apartamentos { background:#ea9552; height:371px; width:509px; z-index:99; }
img.sombra-carrossel { bottom:-11px; left:0; position:absolute; z-index:0; }


/* Infraestrutura */
div#infraestrutura { margin-bottom:96px; }
div#infraestrutura .esquerda-cima { float:left; width:282px; }
div#infraestrutura .direita-cima  { float:left; width:590px }
div#infraestrutura div.galeria-infra { border-bottom:1px solid #a3a3a3; float:left; margin:0 21px 30px 0; height:172px; width:203px; }
div#infraestrutura div.galeria-infra img.zindex { background:#fff; box-shadow:1px 1px 1px #CCC; padding:0 1px 1px 0; }
div#infraestrutura div.sem-margem { margin-right:0; }
div#infraestrutura div.galeria-infra p.legenda { color:#707070; font-size:12px; font-weight:bold; padding:10px 0; }
div#infraestrutura .sombra { bottom:34px; left:10px; position:absolute;  }


/* Localização */
div#localizacao { margin-bottom:100px; }
div#localizacao div.esquerda-cima, div#localizacao div.direita-cima, div#localizacao div#esquerda-baixo, div#localizacao div#direita-baixo { float:left; } 
div#localizacao div.esquerda-cima { height:93px; margin-bottom:12px; width:282px; }
div#localizacao div.direita-cima { height:93px; margin-bottom:12px; width:588px; }
div#localizacao div#esquerda-baixo { height:338px; margin-right:20px; width:650px; }
div#localizacao div#esquerda-baixo #map_canvas { height:330px; width:645px; position:absolute; top:0; left:0; z-index:10; border:2px solid #E89350; background:#fff  }
div#localizacao div#direita-baixo { height:338px; width:202px; }
#plantao { margin-bottom:40px; display:block; }

div#localizacao div#direita-baixo li { font-size:12px; font-weight:bold; line-height:100%; margin-bottom:10px; }
div#localizacao div#direita-baixo li a { color:#6e6e6e; display:block; height:30px; padding-top:6px; padding-left:40px; position:relative; }
div#localizacao div#direita-baixo li a:hover { color:#009ea4; }
div#localizacao div#direita-baixo li a span { position:absolute; left:0; top:0; height:38px; width:32px }
div#localizacao div#direita-baixo li.loc-posto a span { background:url(images/map-icons.png) -5px 0 no-repeat; }
div#localizacao div#direita-baixo li.loc-mercado a span { background:url(images/map-icons.png) -58px 0 no-repeat; }
div#localizacao div#direita-baixo li.loc-shopping a span { background:url(images/map-icons.png) -111px 0 no-repeat; }
div#localizacao .sombra { bottom:-10px; left:-10px; position:absolute; z-index:1;  }

/* Contato */
div#contato-esquerda { float:left; margin-right:26px; width:332px; }
div#contato-direita { float:left; width:506px; }
div#contato-direita input.m-right-30 { margin-right:28px; }
div#contato-direita div { float:left; margin-bottom:15px; }
div#contato-direita div div { margin-bottom:0; }
div#contato-direita input, div#contato-direita select { height:17px; width:229px; }
div#contato-direita input, div#contato-direita textarea { background:#f2f2f2; border-radius:2px; box-shadow:inset -1px 1px 3px 1px #ccc; border:1px solid; border-top-color:#939393; border-left-color:#9d9d9d; border-right-color:#9d9d9d; border-bottom-color:#b4b4b4; color:#444444; font-size:15px; font-family:Arial, serif; padding:4px; }
div#contato-direita input:focus, div#contato-direita textarea:focus { background:#fff; border-color:#7f93e0; box-shadow:0px 0px 2px 2px #bed9f9; }
div#contato-direita textarea { background:url(images/bg-textarea.png) repeat-x #f9f9f9; height:152px; width:496px; }
div#contato-direita input { background:url(images/bg-input.png) repeat-x #f9f9f9; }
div#contato-direita label { color:#707070; font-weight:bold; font-size:16px; line-height:135%; margin-bottom:5px; }
div#bt-enviar input { background:url(images/bt-contato.png) 0 0 no-repeat; border:0; box-shadow:none; bottom:-42px; cursor:pointer; height:39px; position:absolute; right:0; width:167px; text-indent:-5555px; font-size: 0; display:block; line-height: 0; }
div#bt-enviar input:hover, div#bt-enviar input:focus, div#bt-enviar input:active { background:url(images/bt-contato.png) 0 -41px no-repeat; }
div#contato-direita div#bt-enviar input:active, div#contato-direita div#bt-enviar input:focus { box-shadow:none; }
div#contato-direita div.email-ok img { float:left; margin:5px 20px 0 0; }
div#contato-direita div.email-ok p { font-size:14px; margin-bottom:0; }
div#contato-direita form#contato-form div.aviso { line-height:120%; display:none; width:500px; }
div#contato-direita form#contato-form div.aviso p { color:#707070; font-size:14px; } 
div#contato-direita form#contato-form div.aviso img { float:left; margin:5px 20px 0 0; } 
#contato { margin-bottom:100px }
/* Fim do Formulário de Contato */

/* Paginação */
ul.page-numbers { margin:15px 0 30px; height:22px; }
ul.page-numbers li { display:inline; }
ul.page-numbers li a, ul.page-numbers span { display:block; float:left; padding:3px 6px; background:#e7e7e7; border:1px solid #cecece; margin:0 2px; text-decoration:none; }
ul.page-numbers span { background:#cecece; }
/* Fim da Paginação */

/* Listagem de Posts */
.attachment-thumbnail { float:left; margin:0 10px 10px 0 }
.post { clear:both; }

/***********************************************
 FOOTER
/***********************************************/

div#footer { height:326px; }
div#footer p { font-size:100%; font-height:100%; line-height:100%; margin-bottom:0; }
div#footer div#footer-esquerda { float:left; width:400px; padding-top:40px }
div#footer div#footer-direita { float:left; height:326px; width:477px; }


div#footer p#ser-feliz { background:url(images/venha-ser-feliz.png) no-repeat; width:387px; height:40px; text-indent:-5000px; margin-left:7px; margin-bottom:22px }
div#footer p#endereco { color:#707070; font-size:16px; font-weight:bold; line-height:130%; margin-bottom:55px; text-align:center; }
div#footer p#apoio { color:#707070; font-size:12px; margin:0 auto 22px; width:245px; text-align:center; }
div#footer p#apoio img.dhz-img { margin-right:14px; padding-top:13px; }
div#footer p#direitos { color:#979797; font-size:10px; }
div#footer p#direitos a { color:#979797; }
div#footer p#direitos a:hover { text-decoration:underline; }


div#footer div#footer-direita div#img-footer { bottom:0; left:-10px; position:absolute; }

/***********************************************
 OUTROS
/***********************************************/

/* Barra fixa */

div#barra-fixa { background:url(images/background-barra-fixa.png?v=2) repeat-x; height:63px; font-family:'CenturyGothicRegular'; font-size:16px; position:fixed; width:100%; top:0px; z-index:9999; display:none; }
div#barra-fixa ul { padding-top:0px; margin-left:140px; }
div#barra-fixa ul li { background:url(images/separador-barra-fixa.png) no-repeat 0 28px ; float:left; padding:0 10px; line-height:57px; }
div#barra-fixa ul li.menu-item-first { background:none; margin-right:0; }
div#barra-fixa ul li.menu-item-last { margin-left:0; }
div#barra-fixa ul li a { color:#3f3f3f; display:block; float:left; padding:0 }
div#barra-fixa ul li a:hover, div#barra-fixa ul li a.menu-ativo { border-bottom:3px solid #604b41; }

div.center-barra-fixa {  border-left:2px solid #b1b1b1; border-right:2px solid #b1b1b1; height:60px; width:928px; padding:0; margin:0 auto; }
div#barra-fixa div.logo-barra-fixa { position:absolute; top:10px; left:37px; }
div#barra-fixa div.corretor-barra-fixa { position:absolute; top:18px; right:30px; }

/* fim Barra fixa */


/* Carrossel */
div#container-carousel-1 { position:relative; z-index:99; }
ul.carousel-1 { width:50000px; }
.jcarousel-clip { width:503px; overflow:hidden; }
.jcarousel-container { width:503px; margin-left:3px; padding-top:3px; height:371px }
.jcarousel-item { position:relative; width:503px }
div#carrossel-apartamentos li.jcarousel-item p { color:#524038; font-weight:bold; font-size:16px; line-height:100%; margin-bottom:0; margin-top:11px; text-align:center; }
.jcarousel-next, .jcarousel-prev { bottom:12px; height:25px; width:25px; position:absolute; cursor:pointer; }
.jcarousel-next { background:url(images/next2.png) no-repeat; right:10px; }
.jcarousel-next-disabled { background:url(images/next2-hover.png) no-repeat; cursor:default; }
.jcarousel-prev { background:url(images/prev2.png) no-repeat; left:10px; }
.jcarousel-prev-disabled { background:url(images/prev2-hover.png) no-repeat; cursor:default; }
/* Fim Carrossel */

/* Modal Box */
#mask { position:absolute; z-index:9000; background-color:transparent; display:none; top:0; left:0 }
#boxes .window { position:absolute; display:none; z-index:9999; padding:20px; background:url(images/modal-background.png); color:#fff; font-size:15px }
#boxes #dialog { width:375px; height:203px; }
#boxes .close { position:absolute; top:20px; right:20px }
/* Fim Modal Box */

/* Background full */
img#full-screen-background-image { z-index: -999; min-height: 100%; min-width: 1024px; width: 100%; height: auto; position: fixed; top: 0; left: 0; }
div#mascara { background:url(images/pattern.png) repeat 0 0; left:0; height:100%; filter: alpha(opacity = 10); opacity:0.1; position:fixed; width:100%; top:0; z-index:-1 }
/* Fim Background full */

.zindex { position:relative; z-index:50; } 
 
 
.bloco-conteudo { opacity:0.30; }
#empreendimento.bloco-conteudo { opacity:1; }
