
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/

	select { width: 178px; }

	/*.Sponsors { margin-right: -3px; }*/

	/*.Sidebar { margin-right: 42px; }*/

	.Form ul li { padding-bottom: 8px; }

	label { padding-right: 7px; }

	#PainelTenhoInteresse ul.Second { width: 289px; }

	#PainelIndique ul.Second { width: 292px; }

	#PainelIndique .BotaoIndique { display: inline; }

	/* @End General */


	/* @Home ****************/

	.Home .ImagePreview { width: 640px; }

	/* @End Home */


	/* @Infraestrutura ****************/

	.Infraestrutura .ImagePreview { width: 619px; }

	/* @End Infraestrutura */


	/* @Casas ****************/

	.Casas .ImagePreview { width: 710px; }

	/* @End Casas */


	/* @Contato ****************/

	/*#FormContato { width: 564px; }*/

	.LabelFaixaEtaria, .LabelEstadoCivil, .LabelBairro, .LabelUf, .LabelCidade {
		height: 21px;
		line-height: 21px;}

	#FormContato ul.Left { width: 253px; }

	/* @End Contato */
