
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Navigation ****************/

	.Navigation {
		background: url(../../img/site/background-menu.png) no-repeat;
		float: left;
		height: 61px;
		/*margin: 7px 0 0 0;*/
		padding: 17px 0 0 0;
		width: 100%;}

	.Navigation li { float: left; }

	.ItemHome { margin: 0 43px 0 0;}

	.ItemInfraestrutura { margin: 0 47px 0 0;}

	.ItemCasas { margin: 0 48px 0 0;}

	.ItemLocalizacao { margin: 0 53px 0 0;}

	.ItemObras { margin: 0 50px 0 0;}

	.Navigation li a {
		background: url(../../img/site/menu.png) no-repeat;
		display: block;
		height: 33px;
		text-indent: -9000px;}

	.ItemHome a:link, .ItemHome a:visited {
		background-position: 0 0;
		width: 45px;}

	.ItemInfraestrutura a:link, .ItemInfraestrutura a:visited {
		background-position: -88px 0;
		width: 137px;}

	.ItemCasas a:link, .ItemCasas a:visited {
		background-position: -272px 0;
		width: 164px;}

	.ItemLocalizacao a:link, .ItemLocalizacao a:visited {
		background-position: -484px 0;
		width: 105px;}

	.ItemObras a:link, .ItemObras a:visited {
		background-position: -642px 0;
		width: 176px;}

	.ItemContato a:link, .ItemContato a:visited {
		background-position: -868px 0;
		width: 72px;}

	.Home .ItemHome a, .ItemHome a:hover, .ItemHome a:active { background-position: 0 -33px; }

	.Infraestrutura .ItemInfraestrutura a, .ItemInfraestrutura a:hover, .ItemInfraestrutura a:active { background-position: -88px -33px; }

	.Casas .ItemCasas a, .ItemCasas a:hover, .ItemCasas a:active { background-position: -272px -33px; }

	.Localizacao .ItemLocalizacao a, .ItemLocalizacao a:hover, .ItemLocalizacao a:active { background-position: -484px -33px; }

	.ItemObras a:hover, .ItemObras a:active { background-position: -642px -33px; }

	.Contato .ItemContato a, .ItemContato a:hover, .ItemContato a:active { background-position: -868px -33px; }

	/* @End Navigation */


