
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Home ****************/

	.Home .FeaturedItems {
		background-position: 7px 0;
		height: 331px;
		width: 308px}

	/* @End Home */


	/* @Infraestrutura ****************/

	.Infraestrutura .FeaturedItems {
		background-position: -545px 0;
		height: 441px;
		width: 329px}

	/* @End Infraestrutura */


	/* @Casas ****************/

	.Casas .FeaturedItems {
		background-position: -303px 0;
		height: 331px;
		width: 239px}

	/* @End Casas */


	/* @Localizacao ****************/

	.Localizacao .Featured { width: 940px; }

	.Localizacao .Sidebar {
		background-position: -884px 0;
		height: 290px;
		padding: 21px 20px 0 21px;
		width: 260px}

	.Localizacao .Sidebar .Location { padding-bottom: 5px; }

	.Localizacao .Sidebar p.Last {
		line-height: 20px;
		padding: 15px 0 0 65px;}

	.GoogleMaps {
		background: url(../../img/site/imagens.png) 0 -644px;
		bottom: 33px;
		height: 41px;
		left: 86px;
		position: absolute;
		width: 141px;}

	/* @End Localizacao */


	/* @Contato ****************/

	.Contato .Featured { width: 940px; }

	.Contato .Sidebar {
		background-position: 0 -454px;
		height: 277px;
		padding: 21px 20px 0 26px;
		width: 255px}

	.Contato .Sidebar .Tel { margin: 0; }

	.Contato .Sidebar p.Last {
		line-height: 20px;
		padding: 17px 0 0 58px;}

	#FormContato {
		background: url(../../img/site/backgrounds-sliders.png) -301px -454px no-repeat;
		height: 277px;
		padding: 21px 0 0 33px;
		width: 606px;}

	.Contato .Form h3 {
		background: url(../../img/site/imagens.png) -261px -322px;
		float: left;
		height: 61px;
		width: 45px;}

	.ComentarioContato {
		height: 102px;
		margin-bottom: 10px;}

	#FormContato label { width: 65px; }

	#FormContato ul.First { padding: 0 32px 0 0; }

	/* @End Contato */
