@charset "utf-8";

/**************************** Ficha Técnica ****************************/
/*
	Autor: Divex - Internet Gerando Valor
	Site autor: http://www.divex.com.br
	Contato autor: atendimento@divex.com.br
	Cliente: Grupo Capa
*/

/**************************** Reset ****************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, blockquote, q, cite, code, table, th, td {
	margin: 0;
	padding: 0;}

ol, ul {list-style: none;}

img    {border: none;}

/**************************** Classes Especiais ****************************/
/* Textos */
.TextoCenter {text-align: center;}
.TextoLeft   {text-align: left;}
.TextoRight  {text-align: right;}
.TextoJust   {text-align: justify;}

.TextoNormal       {font-weight: normal;}
.TextoBold         {font-weight: bold;}
.TextoEstiloNormal {font-style: normal;}
.TextoItalic       {font-style: italic;}

.TextoUnderline    {text-decoration: underline;}
.TextoUnderNone    {text-decoration: none;}
.TextoOverLine     {text-decoration: overline;}

/* Objetos */
.Left        {float: left;}
.Right       {float: right;}
.FloatNone   {float: none;}

.Visible     {visibility: visible;}
.Hidden      {visibility: hidden;}

.Block       {display: block;}
.Inline      {display: inline;}
.InlineBlock {display:inline-block;}
.DisplayNone {display: none;}

.BorderTop {}
.BorderRight {}
.BorderBottom {}
.Borderleft {}

/**************************** Estilos e Estruturas usados em todas páginas ****************************/
body {
	background-color: #939393;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;}

div.Full {
	margin: 0;
	width: 100%;}

div.Container {
	margin: 0 auto;
	width: 962px;}

/* Header */
div.Header {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Header div.Container {
	height: 130px;
	position: relative;}

/* BreadCrumbs */
ul.BreadCrumbs {
	float: left;
	height: 24px;
	margin: 71px 0 0 20px;}

ul.BreadCrumbs li {
	display: inline-block;
	float: left;
	height: 24px;
	margin-right: 5px;}

ul.BreadCrumbs li.BreadLabel span {
	color: #fff;
	font-size: 16px;
	line-height: 24px;}

ul.BreadCrumbs li a {
	background: url(../../img/site/bg-btn-breadcrumbs.png) no-repeat;
	display: block;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	padding-left: 8px;
	text-decoration: none;}

ul.BreadCrumbs li.BreadDorms a:link, 
ul.BreadCrumbs li.BreadDorms a:visited {
	background-position: left top;
	color: #d5d5d5;
	width: 81px;}

ul.BreadCrumbs li.BreadDorms a:hover, 
ul.BreadCrumbs li.BreadDorms a:active {
	background-position: left -24px;
	color: #585858;}

ul.BreadCrumbs li.BreadTipo a:link, 
ul.BreadCrumbs li.BreadTipo a:visited {
	background-position: left -48px;
	color: #d5d5d5;
	width: 68px;}

ul.BreadCrumbs li.BreadTipo a:hover, 
ul.BreadCrumbs li.BreadTipo a:active {
	background-position: left -72px;
	color: #585858;}

/* Conta */
div.Header div.Container div.Conta {
	height: 24px;
	position: absolute;
	right: 0;
	top: 20px;}

div.Header div.Container div.Conta p {
	color: #fff;
	float: left;
	line-height: 12px;
	margin-right: 10px;
	text-align: right;}

div.Header div.Container div.Conta p strong {
	display: block;}

div.Header div.Container div.Conta ul {
	background: url(../../img/site/bg-conta.png) no-repeat right top;
	float: left;
	height: 24px;
	padding-left: 22px;
	width: 113px}

div.Header div.Container div.Conta ul li {
	display: inline;
	margin-left: 9px;}

div.Header div.Container div.Conta ul li a:link, 
div.Header div.Container div.Conta ul li a:visited {
	color: #fff;
	font-size: 11px;
	line-height: 23px;
	text-decoration: none;}

div.Header div.Container div.Conta ul li a:hover, 
div.Header div.Container div.Conta ul li a:active {text-decoration: underline;}

/* Navegation */
div.Header div.Container ul.Navegation {
    height: 24px;
    position: absolute;
    right: 0;
    top: 71px;}

div.Header div.Container ul.Navegation li {
	display: inline;
	float: left;
    height: 24px;
	margin-left: 2px;}

div.Header div.Container ul.Navegation li a {
	background: url(../../img/site/bg-navegation.png) no-repeat;
	display: block;
    height: 24px;
	text-indent: -9000px;}

div.Header div.Container ul.Navegation li a.NavPrincipal:link, 
div.Header div.Container ul.Navegation li a.NavPrincipal:visited {
	background-position: left top;
	width: 73px;}

div.Header div.Container ul.Navegation li a.NavPrincipal:hover, 
div.Header div.Container ul.Navegation li a.NavPrincipal:active,
body.Interna div.Header div.Container ul.Navegation li a.NavPrincipal {
	background-position: left bottom;}

div.Header div.Container ul.Navegation li a.NavTermos:link, 
div.Header div.Container ul.Navegation li a.NavTermos:visited {
	background-position: -73px top;
	width: 115px;}

div.Header div.Container ul.Navegation li a.NavTermos:hover, 
div.Header div.Container ul.Navegation li a.NavTermos:active, 
body.TermosDeUsso div.Header div.Container ul.Navegation li a {
	background-position: -73px bottom;}

div.Header div.Container ul.Navegation li a.NavEmpreendimento:link, 
div.Header div.Container ul.Navegation li a.NavEmpreendimento:visited {
	background-position: -188.5px top;
	width: 173px;}

div.Header div.Container ul.Navegation li a.NavEmpreendimento:hover, 
div.Header div.Container ul.Navegation li a.NavEmpreendimento:active {
	background-position: -188.5px bottom;}

div.Header div.Container ul.Navegation li a.NavCapa:link, 
div.Header div.Container ul.Navegation li a.NavCapa:visited {
	background-position: -362.5px top;
	width: 82px;}

div.Header div.Container ul.Navegation li a.NavCapa:hover, 
div.Header div.Container ul.Navegation li a.NavCapa:active {
	background-position: -362.5px bottom;}


/* Wrapper */
div.Wrapper {
	margin: 0;
	width: 100%;}

/* Footer */
div.Footer {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Footer div.Container {
	height: 64px;}

/* Footer Navegation */
div.Footer div.Container ul.Navegation {
	float: left;}

div.Footer div.Container ul.Navegation li {
	display: inline;
	margin-right: 20px;}

div.Footer div.Container ul.Navegation li a:link, 
div.Footer div.Container ul.Navegation li a:visited {
	color: #D5D5D5;
	text-decoration: none;}
 
div.Footer div.Container ul.Navegation li a:hover, 
div.Footer div.Container ul.Navegation li a:active {
	color: #fff;
	text-decoration: underline;}

/* Footer Assinatura */
div.Footer div.Container a.Assinatura:link, 
div.Footer div.Container a.Assinatura:visited, 
div.Footer div.Container a.Assinatura:hover, 
div.Footer div.Container a.Assinatura:active {
	background: url(../../img/site/logo-divex-imobi.png) no-repeat;
	display: block;
	float: right;
	height: 26px;
	text-indent: -9000px;
	width: 120px;}

/* Títulos */
h1 {
	background: url(../../img/site/logo-vergeis.png) no-repeat center;
	float: left;
	height: 90px;
	margin-top: 20px;
	width: 153px;}

h2 {
	color: #585858;
	font: 26px;
	letter-spacing: -1px;
	margin-bottom: 20px;}

h3 {
	color: #585858;
	font: 16px;
	letter-spacing: -1px;}

/* Parágrafos */

body.TermosDeUso p {
	color: #585858;
    font-size: 14px;
    line-height: 20px;
	margin-bottom: 20px;}

/**************************** Estilos e Estruturas usados na página Login ****************************/
/* Wrapper */
body.Login div.Wrapper {background: url(../../img/site/bg-2coluns.png) no-repeat center top;}

/* Main */
body.Login div.Wrapper div.Main {
	height: 424px;
	padding: 30px;}

/* ColunLeft e ColunRight */
body.Login div.Wrapper div.Main div.ColunLeft, 
body.Login div.Wrapper div.Main div.ColunRight {
	float: left;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft {
	margin-right: 76px;}

body.Login div.Wrapper div.Main div.ColunLeft h3, 
body.Login div.Wrapper div.Main div.ColunRight h3 {
	background: url(../../img/site/bg-h3.png) no-repeat;
	display: block;
	float: left;
	height: 96px;
	text-indent: -9000px;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft h3 {background-position: left top;}
body.Login div.Wrapper div.Main div.ColunRight h3 {background-position: left -106px;}

body.Login div.Wrapper div.Main div.ColunLeft p, 
body.Login div.Wrapper div.Main div.ColunRight p {
	color: #585858;
	float: left;
	font-size: 14px;
	line-height: 20px;
	margin-top: 28px;}

body.Login div.Wrapper div.Main div.ColunRight a {
	background: url(../../img/site/bg-btn.png) no-repeat left bottom;
	display: inline-block;
	float: left;
	height: 51px;
	margin: 73px 0 0 73px;
	text-indent: -9000px;
	width: 272px;}

/* Formulario de Login */
body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario {
	float: left;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li {
	float: left;
	height: 52px;
	margin-bottom: 8px;
	text-align: center;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li.NoAlert {
	background-color: #FC0;
	color: #630;
	height: 15px;
	padding: 5px 0;
	visibility: hidden;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoEmail, 
body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoSenha {
	border: 2px solid #989793;
	color: #7f7e7a;
	font-size: 16px;
	height: 44px;
	line-height: 43px;
	padding-left: 56px;
	width: 352px;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoEmail {background: #f0ece2 url(../../img/site/bg-campo-email.png) no-repeat 20px center;}
body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoSenha {background: #f0ece2 url(../../img/site/bg-campo-senha.png) no-repeat 20px center;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.btnLogin {
	background: url(../../img/site/bg-btn.png) no-repeat left top;
	border: none;
	cursor: pointer;
	height: 51px;
	width: 272px;
	}


/* Formulario de Login RIGHT */
body.Login div.Wrapper div.Main div.ColunRight ul.Formulario {
	float: left;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li {
	float: left;
	height: 52px;
	margin-bottom: 8px;
	text-align: center;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li.NoAlert {
	background-color: #FC0;
	color: #630;
	height: 15px;
	padding: 5px 0;
	visibility: hidden;}

body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.CampoEmail,
body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.CampoNome, 
body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.CampoSenha {
	border: 2px solid #989793;
	color: #7f7e7a;
	font-size: 16px;
	height: 44px;
	line-height: 43px;
	padding-left: 16px;
	width: 392px;}

body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.CampoNome {background: #f0ece2;}
body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.CampoEmail {background: #f0ece2;}
body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.CampoSenha {background: #f0ece2;}

body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.btnLogin {
	background: url(../../img/site/bg-btn.png) no-repeat left top;
	border: none;
	cursor: pointer;
	height: 51px;
	width: 272px;
	}
	
body.Login div.Wrapper div.Main div.ColunRight ul.Formulario li input.btnVisitante {
	background: url(../../img/site/bg-btn.png) no-repeat left top;
	border: none;
	cursor: pointer;
	height: 51px;
	width: 272px;}


/**************************** Estilos e Estruturas usados em páginas internas ****************************/
/* Wrapper */
body.Interna div.Wrapper {background: url(../../img/site/bg-wrapper.png) no-repeat center top;}

body.Interna div.Wrapper div.Container {
	height: 511px;}

/* Sidebar */
body.Interna div.Wrapper div.Container div.Sidebar {
	float: left;
	padding-top: 20px;
	width: 175px;}

/* Timeline */
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline {
	width: 175px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li {
	background: url(../../img/site/bg-timeline.png) no-repeat;
	float: left;
	height: 46px;
	margin-bottom: 30px;
	text-indent: -9000px;
	width: 175px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitorios {background-position: left top;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitoriosSelecionado {background-position: -175px top;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitoriosDesativado {background-position: -352px top;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantas {background-position: left -49px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantasSelecionado {background-position: -175px -49px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantasDesativado {background-position: -352px -49px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodos {background-position: left -96px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodosSelecionado {background-position: -175px -96px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodosDesativado {background-position: -352px -96px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapa {background-position: left -144px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapaSelecionado {background-position: -175px -144px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapaDesativado {background-position: -352px -144px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:link, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -68px -37px;
    float: right;
    height: 24px;
    margin: 8px 6px 0 0;
    width: 24px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:hover, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:active  {
	background-position: -68px -4px;}

/* Input (Enviar para Capa) */
body.Interna div.Wrapper div.Container div.Sidebar input {
	display: block;
	float: left;
	height: 75px;
	width: 117px;}

/* Opcoes (Salvar e Imprimir) */
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes {
	float: right;
	height: 77px;
	width: 35px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li {
	background: url(../../img/site/bg-opcoes.png) no-repeat;
	height: 30px;
	margin-bottom: 2px;
	padding: 7px 0 0 7px;
	width: 28px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a {
	background: url(../../img/site/icones.png) no-repeat;
	display: block;
	height: 24px;
	text-indent: -9000px;
	width: 24px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:link, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:visited {
	background-position: -93px -37px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:hover, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:active, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:focus {
	background-position: -93px -4px;
	outline: none;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:link, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:visited {
	background-position: -117px -37px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:hover, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:active, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:focus {
	background-position: -117px -4px;
	outline: none;}

/* Main */
body.Interna div.Wrapper div.Container div.Main {
	float: left;
	height: 459px;
	position: relative;
	width: 787px;}

/**************************** Estilos e Estruturas usados na página do Número de Dormitórios ****************************/
/* OpcoesDormitorios */
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios {
	margin: 20px 0 0 20px;
	width: 750px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li {
	height: 76px;
	margin-bottom: 20px;
	width: 750px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a {
	background: url(../../img/site/bg-lista-dormitorios.png) no-repeat;
	display: block;
	height: 80px;
	text-indent: -9000px;
	width: 750px;}

 body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:active {background-position: left top;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:active {background-position: left -97px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:active {background-position: left -191px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:active {background-position: left -287px;}

/**************************** Estilos e Estruturas usados na página das Opções de Plantas ****************************/
body.Plantas div.Wrapper div.Container div.Main ul.TiposPlantas {
	margin: 20px 20px 0 20px;
	_margin-left: 17px;
	width: 750px;}

body.Plantas div.Wrapper div.Container div.Main ul.TiposPlantas li {
	margin-bottom: 20px;
	height: 202px;
	width: 366px;}

body.Plantas div.Wrapper div.Container div.Main ul.TiposPlantas li a {
	height: 202px;
	width: 366px;}

/**************************** Estilos e Estruturas usados na página Termos de Uso ****************************/
body.TermosDeUso div.Wrapper {
	background: none;
	height: auto;}

body.TermosDeUso div.Wrapper div.Container div.Main {
	height: auto;
	width: 962px;}

body.TermosDeUso div.Main div.PageTop {
	background: url(../../img/site/bg-page-top.png) no-repeat top;
	height: 20px;
	width: 962px;}

body.TermosDeUso div.Main div.Page {
	background: #fff url(../../img/site/bg-page-bottom.png) no-repeat center bottom;
	margin: 0;
	padding: 10px 30px 56px 30px;
	width: 902px;}

body.TermosDeUso div.Main div.PageBottom {}
	
	

/**************************** Estilos e Estruturas usados na página do Dorm1TipoA ****************************/
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 422px;
    margin: 20px 0 0 20px;
    position: relative;
    width: 650px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm1TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm1TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	position: absolute;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 212px;
    top: 14px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 509px;
    top: 14px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 16px;
    top: 14px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 15px;
	top: 238px;}

body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm1TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 95px;
    top: 105px;}

/**************************** Estilos e Estruturas usados na página do Dorm1TipoB ****************************/
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 422px;
    margin: 20px 0 0 106px;
    position: relative;
    width: 515px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm1TipoB div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm1TipoB div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	position: absolute;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 168px;
    top: 13px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 a {
	left: 123px;
    top: 152px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 402px;
    top: 13px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 13px;
    top: 12px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 13px;
	top: 185px;}

body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm1TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 71px;
    top: 81px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoA ****************************/
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 358px;
    margin: 52px 0 0 20px;
    position: relative;
    width: 651px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	position: absolute;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 {
	left: 424px;
    top: 12px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a {
	left: 96px;
    top: 124px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 303px;
    top: 34px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 a {
	left: 93px;
    top: 96px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar03 {
	left: 224px;
    top: 160px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Jantar03 a {
	left: 115px;
    top: 114px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 13px;
    top: 156px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 93px;
    top: 124px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	left: 13px;
    top: 11px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a {
	left: 100px;
    top: 75px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 216px;
	top: 11px;}

body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 40px;
    top: 71px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoB ****************************/
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 358px;
    margin: 20px 0 0 46px;
    position: relative;
    width: 651px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	/*left: 50%;*/
	/*margin: -16px 0 0 -16px;*/
	position: absolute;
	text-indent: -9000px;
	/*top: 50%;*/
	width: 32px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoB div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoB div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar04, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	position: absolute;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 {
	left: 13px;
    top: 10px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 a {
	left: 56px;
    top: 104px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar04 {
	left: 157px;
    top: 153px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar03 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Jantar04 a {
	left: 88px;
    top: 100px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 {
	left: 130px;
    top: 32px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Living02 a {
	left: 55px;
    top: 50px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 290px;
    top: 11px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 27px;
    top: 51px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 316px;
    top: 151px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 112px;
    top: 68px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	left: 366px;
    top: 10px;}

body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoB div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a {
	left: 92px;
    top: 53px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoC ****************************/
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 414px;
    margin: 20px 0 0 20px;
    position: relative;
    width: 650px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	/*left: 50%;*/
	/*margin: -16px 0 0 -16px;*/
	position: absolute;
	text-indent: -9000px;
	/*top: 50%;*/
	width: 32px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoC div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoC div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt04, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Closet01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	position: absolute;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 515px;
    top: 13px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 span {
	left: 50px;
    top: 140px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 327px;
    top: 36px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 75px;
    top: 64px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar02 {
	left: 327px;
    top: 229px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a {
	left: 47px;
    top: 65px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt03, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt04 {
	left: 13px;
    top: 126px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt03 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormSolt04 a {
	left: 108px;
    top: 170px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 191px;
    top: 13px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 73px;
    top: 179px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Closet01 {
	left: 13px;
    top: 12px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.Closet01 a {
	left: 93px;
    top: 288px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 13px;
    top: 12px;}

body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoC div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 109px;
    top: 111px;}

/**************************** Estilos e Estruturas usados na página do Dorm2TipoD ****************************/
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 386px;
    margin: 35px 0 0 20px;
    position: relative;
    width: 650px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	/*left: 50%;*/
	/*margin: -16px 0 0 -16px;*/
	position: absolute;
	text-indent: -9000px;
	/*top: 50%;*/
	width: 32px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm2TipoD div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm2TipoD div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar03, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar04, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	position: absolute;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 328px;
    top: 35px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 80px;
    top: 91px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 {
	left: 509px;
    top: 11px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 span {
	left: 54px;
    top: 124px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar03,
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar04 {
	left: 242px;
    top: 227px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar02 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar03 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Jantar04 a {
	left: 88px;
    top: 55px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 235px;
    top: 11px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 22px;
    top: 61px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 14px;
    top: 160px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 109px;
    top: 123px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt03 {
	left: 14px;
    top: 11px;}

body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a, 
body.Dorm2TipoD div.Wrapper div.Container div.Main div.Projeto div.DormSolt03 a {
	left: 98px;
    top: 62px;}

/**************************** Estilos e Estruturas usados na página do Dorm3TipoA ****************************/
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 358px;
    margin: 20px 0 0 70px;
    position: relative;
    width: 651px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm3TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm3TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal03 {
	position: absolute;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 {
	left: 88px;
    top: 218px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 a {
	left: 141px;
    top: 132px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 15px;
    top: 54px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 79px;
    top: 79px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 {
	left: 356px;
    top: 251px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormSolt02 a {
	left: 85px;
    top: 89px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo03 {
	left: 182px;
    top: 31px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Anexo03 a {
	left: 65px;
    top: 86px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 {
	left: 403px;
    top: 204px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 span {
	left: 71px;
    top: 35px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal03 {
	left: 292px;
    top: 32px;}

body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a, 
body.Dorm3TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal03 a {
	left: 134px;
    top: 88px;}

/**************************** Estilos e Estruturas usados na página do Dorm4TipoA ****************************/
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto {
	display: inline;
    float: left;
    height: 422px;
    margin: 18px 0 0 115px;
    position: relative;
    width: 440px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Dorm4TipoA div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Dorm4TipoA div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-04, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	position: absolute;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 {
	left: 150px;
    top: 243px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Banho02 a {
	left: 65px;
    top: 39px;
	z-index: 1000;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 {
	left: 159px;
    top: 223px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha03 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Cozinha04 a {
	left: 111px;
    top: 125px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 {
	left: 277px;
    top: 27px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living03 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.Living04 a {
	left: 65px;
    top: 96px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-03 {
	left: 11px;
    top: 243px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormA-03 a {
	left: 67px;
    top: 117px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-03 {
	left: 11px;
    top: 169px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormB-03 a {
	left: 50px;
    top: 70px;
	z-index: 1000;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-02, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-03, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-04 {
	left: 116px;
    top: 26px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-02 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-03 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormC-04 a {
	left: 121px;
    top: 90px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 {
	left: 11px;
    top: 26px;}

body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal01 a, 
body.Dorm4TipoA div.Wrapper div.Container div.Main div.Projeto div.DormCasal02 a {
	left: 67px;
    top: 78px;}

/**************************** OpcoesComodos (Usado em todas as plantas) ****************************/
body div.Wrapper div.Container div.Main ul.OpcoesComodos {
	/*float: left;
	margin-top: 35px;*/
	position: absolute;
	top: 30px;
	right: 10px;
	width: 100px;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li {
	height: 79px;
    margin: 0 0 10px 5px;
    width: 91px;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li:hover, 
body div.Wrapper div.Container div.Main ul.OpcoesComodos li.ComodoSelecionado {background: url(../../img/site/bg-item-comodo-selecionado.png) no-repeat center;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes {
	background: url(../../img/site/bg-titulo-opcoes.png) no-repeat center top;
	height: 34px;
	margin-left: 0;
	text-align: center;
	width: 100px;}

body div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes h5 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	line-height: 34px;}


























