@charset "utf-8";

/**************************** Ficha Técnica ****************************/
/*
	Autor: Divex - Internet Gerando Valor
	Site autor: http://www.divex.com.br
	Contato autor: atendimento@divex.com.br
	Cliente: Capa Engenharia
*/

/**************************** Reset ****************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, blockquote, q, cite, code, table, th, td {
	margin: 0;
	padding: 0;}

ol, ul {list-style: none;}

img    {border: none;}

/**************************** Classes Especiais ****************************/
/* Textos */
.TextoCenter {text-align: center;}
.TextoLeft   {text-align: left;}
.TextoRight  {text-align: right;}
.TextoJust   {text-align: justify;}

.TextoNormal       {font-weight: normal;}
.TextoBold         {font-weight: bold;}
.TextoEstiloNormal {font-style: normal;}
.TextoItalic       {font-style: italic;}

.TextoUnderline    {text-decoration: underline;}
.TextoUnderNone    {text-decoration: none;}
.TextoOverLine     {text-decoration: overline;}

/* Objetos */
.Left        {float: left;}
.Right       {float: right;}
.FloatNone   {float: none;}

.Visible     {visibility: visible;}
.Hidden      {visibility: hidden;}

.Block       {display: block;}
.Inline      {display: inline;}
.InlineBlock {display:inline-block;}
.DisplayNone {display: none;}

.BorderTop {}
.BorderRight {}
.BorderBottom {}
.Borderleft {}

/**************************** Estilos e Estruturas usados em todas páginas ****************************/
body {
	background: #048c8a url(../../img/site/bg-body.jpg) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;}

div.Full {width: 100%;}

div.Container {
	margin: 0 auto;
	width: 940px;}

/* Wrapper */
div.Wrapper {
	width: 100%;}

div.Wrapper div.Container {
	background: url(../../img/site/bg-wrapper.png) no-repeat -8px bottom;
	height: 668px;}

/* Sidebar */
div.Sidebar {
	display: inline;
	float: left;
	position: relative;
	width: 400px;}

div.Sidebar address.adr {
	margin: 40px 0 0 65px;
	width: 280px;}

div.Sidebar address.adr span.street-address {
	color: #91b1d4;
	font-size: 12px;
	font-style: normal;}

a.FanPageFacebook:link, 
a.FanPageFacebook:visited, 
a.FanPageFacebook:hover, 
a.FanPageFacebook:active {
	background: url(../../img/site/btn-fanpage-facebook.png) no-repeat center;
    display: block;
    height: 24px;
    left: 93px;
    position: absolute;
    text-indent: -9000px;
    top: 640px;
    width: 24px;}

/* Main */
div.Main {
	display: inline;
	float: left;
	width: 540px;}

/* Footer */
div.Footer {
	background: url(../../img/site/bg-footer.gif) repeat-x top;
	height: 148px;
	padding-top: 18px;
	width: 100%;}

div.BordaNexGroup {
	background: url(../../img/site/aba-nexgroup.png) no-repeat center;
	bottom: 0;
	height: 111px;
	right: 0;
	position: fixed;
	width: 281px;}

a.btnNexGroup:link, 
a.btnNexGroup:visited, 
a.btnNexGroup:hover, 
a.btnNexGroup:active {
    float: right;
    height: 30px;
    margin-top: 76px;
    text-indent: -9000px;
    width: 142px;}

div.Footer div.Container {}

div.Footer ul {width: 940px;}

div.Footer ul li {
	display: inline-block;
	float: left;}

div.Footer ul li span {
	background: url(../../img/site/bg-itens-footer.png) no-repeat;
	float: left;
	height: 62px;
	margin-right: 44px;
	text-indent: -9000px;}

div.Footer ul li span.Fone {
	background-position: left top;
	width: 253px;}

div.Footer ul li span.logoFinanciamento {
	background-position: -298px top;
	width: 122px;}

div.Footer ul li span.logoVendas {
	background-position: -465px top;
	width: 93px;}

div.Footer ul li span.logoCoordenacao {
	background-position: -603px top;
	width: 122px;}

div.Footer ul li span.logoCapa {
	background-position: -770px top;
	margin-right: 0px;
	width: 116px;}

a.Assinatura:link, 
a.Assinatura:visited, 
a.Assinatura:hover, 
a.Assinatura:active {
	background: url(../../img/site/logo-divex-imobi.gif) no-repeat center;
	display: block;
	float: left;
	height: 24px;
	margin: 42px 245px 0 0;
	text-indent: -9000px;
	width: 118px;}

div.Footer p {
	color: #90dbda;
	float: left;
	font-size: 11px;
	margin-top: 47px;}




/* Títulos */
h1 {
	background: url(../../img/site/logotipo-terraces-pelotas.png) no-repeat center;
	display: block;
	height: 133px;
	float: right;
	margin: 40px 65px 0 0;
	text-indent: -9000px;
	width: 343px;}

h2 {
	color: #fff;
	display: block;
	float: right;
	font-size: 21px;
	font-weight: normal;
	margin: 40px 65px 0 0;
	text-align: center;
	width: 343px;}

h3 {
	background: url(../../img/site/bg-h3.png) no-repeat center;
	display: block;
	float: right;
	height: 34px;
	margin: 75px 65px 0 0;
	text-indent: -9000px;
	width: 343px;}

/* Formulários */
form {
	float: right;
	margin: 25px 0 0 0;}

ul.FormularioLeft, 
ul.FormularioRight {
	display: inline;
	float: left;
	width: 268px;}

ul.FormularioLeft li, 
ul.FormularioRight li {
	margin: 0 0 11px 0;
	overflow: hidden;}

ul.FormularioLeft li label, 
ul.FormularioRight li label, 
span.LabelOptions {
	display: inline-block;
	float: left;
	height: 28px;
	color: #fff;
	font-size: 14px;
	letter-spacing: -1px;
	line-height: 28px;
	text-align: right;
	padding-right: 10px;
	width: 80px;}

ul.FormularioLeft li input.CampoPadrao, 
ul.FormularioRight li input.CampoPadrao {
	border: 1px solid #035453;
	float: left;
	height: 26px;
	width: 158px;}

ul.FormularioLeft li select.CampoPadrao, 
ul.FormularioRight li select.CampoPadrao {
	border: 1px solid #035453;
	display: inline;
	float: left;
	padding: 4px;
    width: 160px;}

form li.LiCheck {
	height: 32px;}

span.CheckOption input.Check {
	display: inline;
	float: left;
	margin-top: 7px;
	*margin-top: 4px;}

span.CheckOption label.Choice {
	width: auto;}

textarea.ComentarioInteresse {
	border: 1px solid #035453;
	display: inline;
	float: left;
	height: 64px;
	width: 158px;}

div#ConfirmaForm {
	float: right;
	margin-top: 10px;}

div#ConfirmaForm, 
div.SubmitBar {
	text-align: center;
	width: 540px;}

div.SubmitBar {background: url(../../img/site/btn-enviar.png) no-repeat center top;}

div.SubmitBar input {
	background: url(../../img/site/btn-enviar.png) no-repeat center;
	border: none;
	cursor: pointer;
	height: 32px;
	width: 131px;}

span.MensagemSucesso, 
span.MensagemErro {
	display: block;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	margin-top: 15px;
	width: 100%;}

span.MensagemSucesso {color: #fff;}
span.MensagemErro    {color: #ffcc00;}
























