@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: Tahoma, Geneva, sans-serif;
	font-size:16px;
	color:#410b31;
	background:url(../img/bg.png) repeat-x #fecf48;
	width:100%;
	min-height:670px;
}

h1{}
h2{}
h3{}
h4{}

.social{width:220px; height:35px; float:left; margin-top:10px;}

/* -----------------------------------CONTENT---------------------------------------- */
#box{position:absolute; top:50%; left:50%; margin-top:-150px; margin-left:-400px; width:800px; height:380px; background:; z-index:3}

#mylogo{width:400px; height:380px; margin:0 auto; overflow:hidden; float:left}

#myform{width:400px; height:380px; margin:0 auto; overflow:hidden; float:right}
#myform img{float:left; margin-top:-360px;}

#myform ul{width:100%; height:346px; padding-top:10px; margin:0 auto; position:relative; float:left}
#myform li{width:360px; margin-left:20px; height:46px;  background:#; position:relative; float:left}
#myform label{position:absolute; margin-left:10px; *margin-left:10px; margin-top:13px; color:#fecf55; font-weight:bold}
#myform .campo{height:46px; border:0; color:#FFF; *line-height:2.6; line-height:2.6\0/;}
#myform .nome{width:290px; padding-left:70px; background:#682655; *margin-left:-20px }
#myform .email{width:284px; padding-left:76px; background:#410b31; *margin-left:-20px;}
#myform .telefone{width:265px; padding-left:95px; background:#682655; *margin-left:-20px;}
#myform textarea{overflow:auto; height:100px; border:0; color:#FFF; width:238px; padding-left:122px; padding-top:14px; *margin-left:-20px; background:#410b31; resize:none}
.ie7{*left:0}

#myform .btn-enviar{width:362px; height:70px; margin-left:-181px; position:absolute; left:50%; top:272px; *top:124px; border:0; background:url(../img/space.png); cursor:pointer;}
#myform .btn-enviar:hover{background:url(../img/btn-enviar.png) bottom center}

.top-left{position:fixed; top:70px; left:40px; width:384px; height:46px; background:url(../img/topo.png) }
.top-right{position:fixed; top:70px; right:40px; width:247px; height:77px; background:url(../img/aptos.png)}

.middle-left{position:fixed; top:50%; margin-top:-26px; left:50%; margin-left:-560px; width:157px; height:52px; background:url(../img/escolhas.png) }
.middle-right{position:absolute; top:50%; margin-top:-20px; left:50%; margin-left:210px; width:157px; height:86px; background:url(../img/mouse.png)}

.bottom-left{position:fixed; bottom:0; left:40px; width:470px; height:100px; z-index:2 }
.bottom-right{position:fixed; bottom:0; right:0; width:1060px; height:100px; background:url(../img/footer-logos.png)}

.bottom-left p{float:left; margin-top:2px;}
.bottom-left span{color:#c93e3e}
.mapa{width:110px; height:25px; background:url(../img/btn-mapa.png); float:left; margin-left:10px}
.mapa:hover{background:url(../img/btn-mapa.png) 0 25px;}
.bottom-left .redes{width:190px; height:20px; background:#F90; float:left; margin-top:10px;}


.black{width:100%; height:100%; position:absolute; z-index:6; background:url(../img/ama.png)}
.msg{position:absolute; top:50%; left:50%; margin-top:-90px; margin-left:-200px; width:400px; height:180px;  background:#410b31; z-index:7}
.msg p{text-align:center; font-size:28px; margin-top:30px; color:#FFF}
.msg a{width:110px; height:25px; background:url(../img/btn-fechar.png); float:left; margin-top:30px; margin-left:145px}
.msg a:hover{background:url(../img/btn-fechar.png) 0 25px;}

/* -----------------------------------FOOTER---------------------------------------- */


#footer{}

#container-footer{}

#footer-divex{
	width:100%;
	display:table;
	padding-bottom:10px;
	position:fixed;
	bottom:0;
}

#divex{
	width:77px;
	height:16px;
	background:url(../img/footer-divex.png);
	margin-left: 43px;
}

#divex:hover{
	background:url(../img/footer-divex.png) 0 16px;
}
#divex2{
	width:77px;
	height:16px;
	background:url(../img/footer-divex2.png);
	margin-left: 43px;
}

#divex2:hover{
	background:url(../img/footer-divex2.png) 0 16px;
}
.DivexRodape
{
	position:fixed;
	padding-bottom:10px;
	bottom:0;
	display: table;
	z-index: 99999;
}

/* -----------------------------------VIDEO---------------------------------------- */

.videobox{width:100%; height:155px; position:fixed; z-index:999999; top:-100px; left:0; opacity:0.8;
-webkit-transition: all 0.4s linear;
-moz-transition: all 0.4s linear;
-o-transition: all 0.4s linear;
transition: all 0.4s linear;}
.videobox:hover{box-shadow:0px 0px 10px #000;  top:0; opacity:1;}
.videobox:active{box-shadow:0px 0px 10px #000;  top:-20px; opacity:1;}

.video-img{width:100%; height:100px; background:#FFF url(../img/my-video-bg.jpg) center -250px}

.video{width:100%; height:55px; background:#FFF url(../img/my-video.png) center no-repeat; 
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;}

.video-body{
	background:url(../img/my-video-bg.jpg) center center;
	width:100%;
	height:100%;
	position:absolute
}

.video-body .box{width:700px; height:494px; position:absolute; top:50%; left:50%; margin-top:-247px; margin-left:-350px;}

.video-body .video-tit{width:260px; height:60px; background:url(../img/video-tit.png) no-repeat; float:left}
.video-body .video-fechar{width:44px; height:40px; background:url(../img/video-fechar.png) center; float:right; cursor:pointer;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;}
.video-body .video-fechar:hover{width:60px; height:50px; margin-right:-8px; margin-top:-5px; box-shadow:0px 0px 10px #000;}

.video-body .youtube{width:700px; height:394px; background:#000; margin-top:40px; float:left; box-shadow:0px 0px 30px #000;}


