@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
    font-family: 'Raleway', sans-serif;
    font-size:18px;
    color:#000;
    font-weight:400;
    background:#e9e9e9;
}

h1{}
h2{ text-transform:uppercase; font-size: 2.4em; text-align: left; line-height: 1; color: #000; font-weight: 100; background: none}
h2 b { font-weight: 900; color: #000; }
h3{}
h4{}

section {width:100%; position: relative; float:left; }

.container_12{ width: 1000px; margin: 0 auto; position: relative; }


#nexchange {  background:url(../img/nexchange/novo/bg.jpg); background-size: cover !important  } 
@media (min-width:1700px) {
    #nexchange {background-size: 1920px 897px !important; background-position: center center !important; } 
}


#nexchange .box {position: relative; z-index: 8; width:63%; height: auto; margin: 5% 0 5% 0px; float: left; background:;  }
#nexchange .box h2 {width: 80%; margin:5% 0 0 0; float: left;}

#nexchange .box p { width: 70%; margin:2% 0 0 2%; color: #000; font-weight: 600; line-height: 1.2; font-size: 14px;float: left; }

#nexchange .corretor { width: 170px; height: auto; position: absolute; z-index: 4; top: 0; left: 0; margin-left: 0; padding:0.6em 1.5em 0.8em; background: rgba(0, 0, 0, 0.8); color: #FFF; font-size: 0.8em; font-weight: 900; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; cursor: pointer; }
#nexchange .corretor i { width: auto; float: left; color: #FFF; font-size: 1.5em; }
#nexchange .corretor p { width: auto; float: left; text-transform: uppercase; padding: 0.5em 0 0 0; color: #FFF; }
#nexchange .corretor span { width: 0; height: 15px; float: left; text-transform: uppercase; font-weight: 400; padding: 0.5em 0 0 1em; display: inline-block; overflow: hidden; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out;   }
#nexchange .corretor:hover > span { width: 158px; height: 15px }
#nexchange .corretor:hover {background: #333;  margin-left: 0px; width: 330px; }

#nexchange .radius3 { -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }


#nexchange .more-info { position: absolute; z-index: 4; margin-left: 0; padding:0.6em 1.2em 0.6em 1em; background: rgba(255, 255, 255, 0.86); color: #FFF; font-size: 0.8em; font-weight: 900; -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; bottom: -566px; right: 0; }
#nexchange .more-info:hover { background: rgba(255, 255, 255, 1); }
#nexchange .more-info i { float: left; color: #990100; font-size: 1.2em; padding: 0.3em 0.2em 0; }
#nexchange .more-info p { float: left; text-transform: uppercase; padding: 0.5em 0 0 0.4em; color: #990100; }
#nexchange .radius4 { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }


form {width: 50%; height: auto; margin: 2% 0 0 0; float: left;
  }
form p {width: 100% !important; margin:0 0 0 0 !important; color: #000; font-weight: 300 !important; line-height: 1.5; font-size: 14px; padding-bottom: 0}
form p span {color: #000; }
form .field { width: 96%; height: 36px; margin-bottom: 3%; background:; border: 1px solid #000; float: left; color: #000; font-weight: 700; font-size: 13px; padding-left: 2%; margin-right: 2%; }

.btn { cursor: pointer; background: #000; color: #FFF; padding: 13px 60px; margin: 0 0 0 0; float: left; text-transform: uppercase; font-size: 13px; font-weight: 700 }
.btn:hover { background: #333}

form ::-webkit-input-placeholder { /* WebKit browsers */
    color: #000;
    font-weight: 700
}
form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000;
    font-weight: 700
}
form ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000;
    font-weight: 700
}
form :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000;
    font-weight: 700
}


#convite { background: #CE1A30; height: auto; }
#convite img { width: 177px; height: 102px; margin: -13px 0 0 0; float: left; }

#convite .fooo {
margin:0 0 0 0;
color: #FFF;
font-weight: 400;
line-height: 1.5;
font-size: 13px;
text-align: center;
float: left;
}
#convite .fooo h1 { color: #FFF; padding: 1.55em 1em 0; font-weight: 400; font-size: 1.1em; line-height: 1.5; }
#convite .fooo h1 span { font-weight: 900; font-size: 1.2em; }







#empreendimentos { background: ; height:; }
#empreendimentos h3 { width: 85%; float: left; text-transform: ; line-height: 1.5; text-align: center; padding: 3em 7.5% }

#empreendimentos ul { float: left; margin-right: 3.5%; }
#empreendimentos .no-margin-right { margin-right: 0 !important; }
#empreendimentos .um_colun { width: 100%; background:; height: auto; margin-bottom: 3.5%; }
#empreendimentos .tres_colun { width: 31%; background:; height: auto; }
#empreendimentos .tres_colun li { margin-bottom: 11.29032%; }
#empreendimentos .tres_colun li:last-child { margin-bottom: 0 !important; }

#empreendimentos ul li { float: left; width: 100%; height: auto; background: #FFF; display: block; border-bottom: 3px solid #d2d2d2  }


#empreendimentos .um_colun img { float: left; margin: 55px 30px 0; }
#empreendimentos .um_colun .left { float: left; margin: 75px 0 0; width: 42%; }
#empreendimentos .um_colun .left h4 { float: left; width: 100%; font-weight: 900; font-size: 1.3em; margin-bottom: 0.3em }
#empreendimentos .um_colun .left p { float: left; width: 100%; font-weight:; font-size: 80% }
#empreendimentos .um_colun .left a { float: left; width: auto; font-weight:900; font-size: 80%; text-transform: uppercase; background: #000; color: #FFF; padding: 0.5em 1em 0.4em; border-radius:3px; margin: 0.5em 0 }
#empreendimentos .um_colun .left a:hover { background: #333 }

#empreendimentos .um_colun figure { position: relative; float: right; margin: 0 0; width: 40%; height: 220px; background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/d4ccac3661b6979301fafd1355c7513e.jpg) #CCC; display: block; background-size: cover !important; background-position: center center !important }
#empreendimentos .um_colun figure span {position: absolute; bottom: 0; left: 0; float: left; width: auto; font-size: 70%; text-transform: uppercase; background: #CE1A30; color: #FFF; padding: 0.5em 1em 0.4em; }



#empreendimentos .tres_colun .imgs { width: 100%; height: 90px; background:; float: left; text-align: center;}
#empreendimentos .tres_colun .imgs img { width: 200px; height: 90px; margin: 0 auto;}
#empreendimentos .tres_colun .left { float: left; margin: 0 0 7.5% 7.5%; width: 85%; }
#empreendimentos .tres_colun .left h4 { float: left; width: 100%; text-transform: uppercase; font-weight:; line-height: 1.3; line-height: 1; font-size: 0.8em; font-size: 0.85em; font-size: 0.8em; font-size: 0.9em; margin-bottom: 0.3em }
#empreendimentos .tres_colun .left h4 span { font-weight: 900; font-size: 1.1em; }
#empreendimentos .tres_colun .left p { float: left; width: 100%; font-weight:; font-size: 70%; font-size: 75%; line-height: 1.38 }
#empreendimentos .tres_colun .left a { float: left; width: auto; font-weight:500; font-size: 65%; text-transform: uppercase; background: #000; color: #FFF; padding: 0.5em 1em 0.5em; border-radius:3px; margin: 1em 0 0.5em 0 }
#empreendimentos .tres_colun .left a:hover { background: #333 }

#empreendimentos .tres_colun figure { position: relative; float: right; margin: 0 0; width: 100%; height:170px;  display: block; background-size: cover !important; background-position: center center !important }
#empreendimentos .tres_colun figure span {position: absolute; bottom: 0; left: 0; float: left; width: auto; font-size: 70%; text-transform: uppercase; background: #CE1A30; color: #FFF; padding: 0.5em 1em 0.4em; }


#empreendimentos .tres_colun .chacara { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/61599e0bdc38e0d59140ca255cb44aca.jpg) #CCC; }
#empreendimentos .tres_colun .singolo { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/4e1a5cb457d40e4de49050a6037c3a9c.jpg) #CCC; }
#empreendimentos .tres_colun .saint { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/e81e7c52d06c77d2123c8d95b45e3cd7.jpg) #CCC; }
#empreendimentos .tres_colun .max { background:url(http://www.nexgroup.com.br/assets/site/img/nexchange/novo/max-haus.jpg) #CCC; }
#empreendimentos .tres_colun .joy { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/88bf93acfcac9fab48a066ac9161de87.jpg) #CCC; }
#empreendimentos .tres_colun .polo { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/4034a199814db67a2f789a7aa168bff4.jpg) #CCC; }
#empreendimentos .tres_colun .vergeis { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/8722bf601c52477798f7d7097d025170.jpg) #CCC; }
#empreendimentos .tres_colun .piattelli  { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/771c178d26f4c48b47d2a1d35ed19ccd.jpg) #CCC; }
#empreendimentos .tres_colun .victoria { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/4c442df2281124d4015fe42fcec6741f.jpg) #CCC; }
#empreendimentos .tres_colun .stellato { background:url(http://www.nexgroup.com.br/uploads/imoveis/midias/3b6498978e172165cb486161d00ab20f.jpg) #CCC; }


footer {width:100%; position: relative; float:left; background:#FFF; }

footer .foo p {
width: 72%;
margin: 3% 0 5% 0;
color: #000;
font-weight: 400;
line-height: 1.5;
font-size: 11px;

float: left;
}
footer .foo {  width: 100%; float: left;}
footer .foo p span { text-transform: uppercase; font-weight: 700; font-size: 13px; }


footer .foo img {width: 22%; margin:1% 0 0 0; float: right;
}







.modal {}
.modal .black { width: 100%; height: 100%; background: #000; position: fixed; z-index: 100; top: 0; left: 0; opacity: 0.7; filter: alpha(opacity =80); }
.modal .box-modal { width: 600px; height: 200px; top: 50%; margin-top: -100px; left: 50%; margin-left: -300px; background: #FFF; color: #FFF; text-transform: uppercase; position: absolute; z-index: 101 }
.modal .box-modal p { font-size: 32px; font-weight: 900; clear: both; text-align: center; margin: 30px 0 20px 0; line-height: 1.2}
.modal .box-modal a {background: #000; color: #FFF; font-size: 18px; clear: both; float: left;  margin: 0 0 0 200px;}
.modal .box-modal a:hover {background: #333}



    .no-mobile { display: block !important }
    .yes-mobile { display: none !important }

    .conter { display: block; overflow: hidden; width: 100% !important; margin: 0 !important; float: left; }
    .fb_reset { display: block; overflow: hidden; width: 100% !important; }

@media (max-width:1020px) {
    #nexchange { background-position: 60% 50% !important; }

    .container_12{ width: 90%; margin-left: 5%; }

    .no-mobile { display: none !important}
    .yes-mobile { display: block !important }

    form { width: 75% } 

    #convite img { text-align: center; position: relative; left: 50%; margin: -13px 0 0 -81px; }
    #convite .fooo { width: 100%; margin: 2px 0 20px; clear: both;}
}

@media (max-width:750px) {

    #nexchange { background-position: 50% -120px !important; background:url(../img/nexchange/novo/bg-mobile.jpg) }
    form { width: 100% } 
    form .field { }

    #nexchange .box h2 { margin-top:2em; font-size: 1.3em; width: 50%; }
    form p {  width: 50% !important; clear:both }

    #empreendimentos .tres_colun { width: 100% }
    #empreendimentos .tres_colun li:last-child {  margin-bottom: 11.29032% !important; }
    #empreendimentos h3 { font-size: 80% }

    footer .foo img { width:45%; clear:both; float:left; margin:2em 0 1em;;  }


    footer .foo p { width: 90%; }

    .conter { display: block; overflow: hidden; width: 260px !important; float: left; }

}
@media (max-width:500px) {

    #nexchange .box { width: 100% }
    #nexchange { background-position: 50% 20px !important }

    form { margin: 2% 0 5% 0; }

    #nexchange .corretor:hover > span { width: 0; height: 0 }
    #nexchange .corretor:hover { width: 170px; }

    .modal .box-modal { width: 90%; height: auto; top: 5%; margin-top: 0; padding-bottom: 10%; left: 0; margin-left: 5%; }
    .modal .box-modal p { font-size:23px; text-align: left; margin: 30px 0 20px 5%; line-height: 1.2}
    .modal .box-modal a { background: #000; color: #FFF; font-size: 18px; clear: both; float: left;  margin: 0 0 0 5% }
    .modal .box-modal a:hover {background: #333}


}

