@charset 'UTF-8';
@import url('general.css');
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans:400,700&v2);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,400italic&subset=latin,latin-ext);
@import url('style.css');
@import url('jquery.fancybox-1.3.4.css');
@import url('nivo-slider.css');
@import url('skin.css');

a:focus, a:hover {
    color: #FFF;
    text-decoration: none;
}
.a-black {
	color:#000;
	text-transform:none;
	text-decoration:underline!important;
}
form .field.error,
input.error, 
select.error {
	border:1px solid #F00!important;
	background: rgba(255,0,0,0.3)!important;
	color:#FFF!important;
}
.a-black:hover, 
.a-black:visited {
	color:#000;
	text-transform:none;
	text-decoration:none!important;
}

.fa-check:before {
    color: green;
}
.click_fone {
	cursor:text;
}
.right {
    float: right;
}

.left {
    float: left;
}

.tcenter {text-align:center;}

.ti400{
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
	font-style: italic;
}

.t400{
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
}
.t600 {
	font-family: 'Titillium Web', sans-serif;
	font-weight:600;
}

.t700 {
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
}

.logo {
    z-index: 2;
    width: 125px;
    height: 35px;
    margin: 0;
    padding: 0;
    background: url(../../site/img/logo-white.png) center no-repeat;
    background-size: 125px 35px;
	height: 60px;
}

.logo h1 {
	color:transparent!important;
}
#btn-avalie-aqui {
	width: 100%;
    background: #842007;
    padding: 9px 60px;
    border-radius: 0;
	margin-top: -48px;
    color: #fff;
	font-size: 20px;
    text-transform: none;
}

#btn-entenda-melhor {
	width: 100%;
    background: #aa2800;
    padding: 9px 60px;
    border-radius: 0;
	margin-top: -47px;
    color: #fff;
	font-size: 20px;
    text-transform: none;
}
header.main-header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 16;
    width: 100%;
    #background: #740700;
    font-weight: 700;
    height: 60px;
	
	background: -webkit-linear-gradient(#aa2800, #740700); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#aa2800, #740700); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#aa2800, #740700); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#aa2800, #740700); /* Standard syntax */
}

header a {
    position: relative;
    z-index: 3;
    float: left;
    color: #FFF;
    padding: 1em 0 1em 1em;
}

header a .icon {
    float: left;
    color: #FFF;
    padding: 0 0.5em;
}

header a span {
	font-size:18px;
	text-transform: none;
}

header a span i {
    float: left;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 0.8;
}

section.banner {
	background: url(../../site/img/bg-banner-nexchange.jpg) center center no-repeat;
	background-size:cover;
	width:100%;
	padding: 0 0 10%;
}

section.banner .banner-info{
	width:100%;
}

section.form {
	padding: 80px 0;
}

section.form .form-canvas{
	width:100%;
	float: left;
	padding:20px 0;
	border-top:30px solid #a62500;
	box-shadow: 0px 2px 8px #888888;
	border-radius: 10px 10px 0 0;
	background:#FFF;
	padding: 20px 20px 40px;
}

section.form .icon-form {
    width: 13%;
    margin: auto;
    display: block;
    margin-top: -11%;
}

section.form .img-success {
	width:50%;
	margin: 20px auto;
}

section.form h3 {
	text-align:center;
	font-size:20px;
	margin: 25px auto;
	color:#a62500;
	width: 100%;
}

section.form form {
    width: 100%;
    height: auto;
    margin: 2% 0 0 0;
    float: left;
}
section.form .btn:hover {
    color: #FFF;
    text-decoration: none;
	opacity:0.7;
}
section.form .btn {
	width:100%;
	background:#a62500;
	padding: 9px 60px;
	border-radius: 0;
}

section.form select {
	background:#fafafa;
	border:1px solid #e6e6e6;
	color:#b0b0b0;
	text-transform: none;
}
section.form .field {
	width:100%;
	margin-bottom: 25px;
	background:#fafafa;
	border:1px solid #e6e6e6;
	color:#b0b0b0;
}
section.video {
	padding:40px 0;
	
	background: -webkit-linear-gradient(#aa2800, #740700); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#aa2800, #740700); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#aa2800, #740700); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#aa2800, #740700); /* Standard syntax */
}

section.video h1 { 
	font-size:25px;
	margin:50px auto;
	text-align:center;
	color:#FFF;
}

section.video iframe{
	max-width:100%;
}

footer.footer { 
	background: -webkit-linear-gradient(#edf0f1, #dde3e6); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#edf0f1, #dde3e6); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#edf0f1, #dde3e6); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#edf0f1, #dde3e6); /* Standard syntax */
}

.logo-auxiliadora {
	float:right;
	margin-bottom:20px;
}

footer .foo {
	margin-bottom: 30px;
}

footer .foo p {
    width: 50%!important;
}
.logo-auxiliadora-footer {
	width: 15%!important;
    margin-right: 30px!important;
    margin-top: 0!important;
}
@media only screen and (min-device-width: 641px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
	.hide-tablet {display:none!important}
	
	.logo-auxiliadora {
		float: none;
		width: 40%;
		display: block;
		margin: 10px auto;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
	.hide-mobile {display:none!important}
	
	section.form {
		padding: 20px 0;
	}
	
	section.form h3 {
		font-size: 15px;
		margin: 10px auto;
	}
	
	section.video {
		padding: 20px 0;
	}
	
	section.video h1 {
		font-size: 15px;
		margin: 10px auto;
	}
	
	.click_fone span {
		font-size: 12px;
	}
	.icon-phone { font-size: 20px; }
	
	.logo-auxiliadora {
		float: none;
		width: 40%;
		display: block;
		margin: 10px auto;
	}
}