.jcarousel-skin-tango .jcarousel-container {
  width: 745px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 745px;

}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
	width: 170px;
	height: 360px;
}


.jcarousel-skin-tango .jcarousel-item {
	width: 170px;
	height: 360px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 4px;
}
