
.BtnGrey {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/layout/bg_07.jpg") repeat-x scroll center top #FFFFFF;
    border-color: #F6F6F6 #F6F6F6 #7C7C7C;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;
    padding: 10px 10px 8px 8px;
    text-transform: uppercase;
}
.BtnGrey:hover {
    background: url("../img/layout/bg_07.jpg") repeat-x scroll -28px center #ECECEC;
}
.BtnRed {
    background-color: #E71B23;
    border-bottom: 1px solid #7E0F13;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase;
}
.BtnRed:hover {
    background-color: #FC5969;
}
.BtnRed:active {
    background-color: #E71B23;
    border-bottom: medium none;
    border-top: 1px solid #7E0F13;
}
.BtnSearch {
    background: url("../img/layout/bt_search.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 16px;
    text-indent: -9999em;
    width: 16px;
}
.BtnFasesEmp {
    background-color: #E71B23;
    border-bottom: 1px solid #7E0F13;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: 6px;
    margin: 0;
    overflow: hidden;
    padding: 4px 5px 10px;
    text-transform: uppercase;
}
.LnkAbaNex {
    background: url("../img/layout/logo_aba-next.png") no-repeat scroll left 0 transparent;
    display: block;
    height: 111px;
    text-indent: -9999em;
    width: 277px;
}
.LnkAtendimentoEmail {
    background: url("../img/layout/bt_contatos.png") no-repeat scroll -139px -12px transparent;
    display: block;
    height: 23px;
    text-indent: -9999em;
    width: 107px;
}
.LnkAtendimentoEmail:hover {
    background-position: -139px -59px;
}
.LnkAtendimentoEmail2 {
    background: url("../img/layout/bt_atendimento-por-email.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 37px;
    text-indent: -9999em;
    width: 137px;
}
.LnkAtendimentoEmail2:hover {
    background-position: 0 -37px;
}
.LnkAtendimentoTelefone {
    background: url("../img/layout/bt_contatos.png") no-repeat scroll -255px -12px transparent;
    display: block;
    height: 23px;
    text-indent: -9999em;
    width: 84px;
}
.LnkAtendimentoTelefone:hover {
    background-position: -255px -58px;
}
.LnkAtendimentoTelefone2 {
    background: url("../img/layout/bt_atendimento-por-telefone.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 41px;
    text-indent: -9999em;
    width: 104px;
}
.LnkAtendimentoTelefone2:hover {
    background-position: 0 -41px;
}
.LnkCorretorOnline {
    background: url("../img/layout/bt_contatos.png") no-repeat scroll 0 -48px transparent;
    display: block;
    height: 48px;
    text-indent: -9999em;
    width: 135px;
}
.LnkCorretorOnline:hover {
    background-position: 0 0;
}
.LnkClose {
    background: url("../img/layout/ico_sing-up-down.jpg") no-repeat scroll left 0 transparent;
    display: block;
    height: 15px;
    text-indent: -9999em;
    width: 16px;
}
.LnkConexao {
    background: url("../img/layout/logo_conexao.png") no-repeat scroll left center transparent;
    height: 23px;
    margin-top: 8px;
    padding: 0 0 0 102px;
    width: 95px;
}
.LnkDivexImob {
    background: url("../img/layout/logo_divex.png") no-repeat scroll left 0 transparent;
    display: block;
    height: 21px;
    text-indent: -9999em;
    width: 102px;
}
.LnkNaveguePeloMapa {
    background: url("../img/layout/bt_navegue-pelo-tube.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-right: 5px;
    text-indent: -9999em;
    width: 100px;
    margin-top: -2px;
    padding: 0 !important;
}
.LnkNaveguePeloMapa:hover {
    background-position: 0 -30px;
}
.LnkFacebook {
    background: url("../img/layout/bt_facebook.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    margin-right: 5px;
    padding: 0 !important;
    text-indent: -9999em;
    width: 100px;
    margin-top: -2px;
}
.LnkFacebook:hover {
    background-position: 0 -30px;
}
.LnkNext1 {
    background-position: -28px 0;
}
.LnkNext1:hover {
    background-position: -28px -17px;
}
.LnkPrev1 {
    background-position: 0 0;
}
.LnkPrev1:hover {
    background-position: 0 -17px;
}
.LnkSubmenu1 {
    background: url("../img/layout/bt_sub-menu.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 31px;
    text-indent: -9999em;
    width: 91px;
}
.LnkSubmenu2 {
    background: url("../img/layout/bt_sub-menu.png") no-repeat scroll -110px 0 transparent;
    display: block;
    height: 31px;
    text-indent: -9999em;
    width: 108px;
}
.LnkSubmenu3 {
    background: url("../img/layout/bt_sub-menu.png") no-repeat scroll -291px 0 transparent;
    display: block;
    height: 31px;
    text-indent: -9999em;
    width: 85px;
}
.LnkSubmenu4 {
    background: url("../img/layout/bt_sub-menu.png") no-repeat scroll -447px 0 transparent;
    display: block;
    height: 31px;
    text-indent: -9999em;
    width: 89px;
}
.LnkVejaMais {
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
}
.LnkVejaMais:hover {
    color: #AF1B20;
}
.LnkVoltar {
    background: url("../img/layout/bt_pagination.png") no-repeat scroll 48px -93px transparent;
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding-right: 20px;
    text-transform: none;
}
.LnkVoltar:hover {
    color: #E71B23;
}
.LnkNexCompany {
    background: url("../img/layout/bt_logo-empresa.png") repeat scroll 0 -56px transparent;
    display: block;
    height: 56px;
    text-indent: -9999em;
    width: 183px;
}
.LnkNexCompany2 {
    background: url("../img/layout/bt_logo-empresa.png") repeat scroll 0 0 transparent;
    cursor: default !important;
    display: block;
    height: 36px;
    text-indent: -9999em;
    width: 183px;
}
li.Active .LnkNexCompany, li:hover .LnkNexCompany {
    background-position: 0 0;
}
.LnkCapaFoo {
    background: url("../img/layout/logo-capa-2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    text-indent: -9999em;
    width: 87px;
}
.LnkCapaEmp {
    background-position: 0 -47px;
    height: 41px;
    margin-left: 46px;
    width: 87px;
}
.LnkCapaCompany {
    background: url("../img/layout/bt_logo-empresa.png") repeat scroll -287px -56px transparent;
    display: block;
    height: 56px;
    text-indent: -9999em;
    width: 110px;
}
li.Active .LnkCapaCompany, li:hover .LnkCapaCompany {
    background-position: -287px 0;
    height: 56px;
}
.LnkDHZFoo {
    background: url("../img/layout/logo-dhz-2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 34px;
    text-indent: -9999em;
    width: 52px;
}
.LnkDHZEmp {
    background-position: -127px -47px;
    height: 41px;
    margin-left: 63px;
    width: 52px;
}
.LnkDHZCompany {
    background: url("../img/layout/bt_logo-empresa.png") repeat scroll -473px -56px transparent;
    display: block;
    height: 56px;
    text-indent: -9999em;
    width: 66px;
}
li.Active .LnkDHZCompany, li:hover .LnkDHZCompany {
    background-position: -473px 0;
    height: 56px;
}
.LnkEGLFoo {
    background: url("../img/layout/logo-egl-2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 45px;
    margin-top: -10px;
    text-indent: -9999em;
    width: 42px;
}
.LnkEGLEmp {
    background-position: -210px -45px;
    height: 50px;
    margin-left: 68px;
    width: 50px;
}
.LnkEGLCompany {
    background: url("../img/layout/bt_logo-empresa.png") repeat scroll -638px -56px transparent;
    display: block;
    height: 56px;
    text-indent: -9999em;
    width: 45px;
}
li.Active .LnkEGLCompany, li:hover .LnkEGLCompany {
    background-position: -638px 0;
    height: 56px;
}
.LnkLomandoAitaFoo {
    background: url("../img/layout/logo-lomando-aita-2.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    text-indent: -9999em;
    width: 86px;
}
.LnkLomandoAitaEmp {
    background-position: -302px -47px;
    height: 41px;
    margin-left: 42px;
    width: 86px;
}
.LnkLomandoAitaCompany {
    background: url("../img/layout/bt_logo-empresa.png") repeat scroll -772px -56px transparent;
    display: block;
    height: 56px;
    text-indent: -9999em;
    width: 109px;
}
li.Active .LnkLomandoAitaCompany, li:hover .LnkLomandoAitaCompany {
    background-position: -772px 0;
}
.LnkHotSite {
    background: url("../img/layout/ico_hotsite.png") no-repeat scroll left 0 transparent;
    color: #333333;
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 16px;
    padding-left: 25px;
    text-transform: none;
}
.LnkHotSite:hover {
    background-position: 0 -16px;
    color: #EE1C25;
}
.IcoPhone {
    background: url("../img/layout/ico_phone.png") no-repeat scroll left 0 transparent;
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 9px 0 0 25px;
}
.IcoAddress {
    background: url("../img/layout/ico_address.png") no-repeat scroll left 0 transparent;
    color: #333333;
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 10px 0 6px 25px;
}
.LnkFaleConosco {
    background: url("../img/layout/bt_fale-conosco.png") no-repeat scroll 0 -110px transparent;
    display: block;
    height: 86px;
    text-indent: -9999em;
    width: 189px;
}
.LnkFaleConosco:hover {
    background-position: 0 0;
}
.LnkVendaSeuTerreno {
    background: url("../img/layout/bt_venda-seu-terreno.png") no-repeat scroll 0 -110px transparent;
    display: block;
    height: 86px;
    text-indent: -9999em;
    width: 189px;
}
.LnkVendaSeuTerreno:hover {
    background-position: 0 0;
}
.LnkSejaUmFornecedor {
    background: url("../img/layout/bt_seja-um-fornecedor.png") no-repeat scroll 0 -110px transparent;
    display: block;
    height: 86px;
    text-indent: -9999em;
    width: 189px;
}
.LnkSejaUmFornecedor:hover {
    background-position: 0 0;
}
.LnkTrabalheConosco {
    background: url("../img/layout/bt_trabalhe-conosco.png") no-repeat scroll 0 -110px transparent;
    display: block;
    height: 86px;
    text-indent: -9999em;
    width: 189px;
}
.LnkTrabalheConosco:hover {
    background-position: 0 0;
}
#sub-nav {
    background: url("../img/layout/bg_10.jpg") repeat-x scroll 0 0 transparent;
    display: none;
    height: 40px;
    margin: 0;
    padding-top: 7px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#sub-nav ul li.Exception {
    float: left;
    margin-left: 0;
}
#sub-nav ul li {
    float: right;
    margin-left: 30px;
}
#sub-nav ul li form input.Text {
    font-size: 13px;
    height: 15px;
    padding: 7px 30px 7px 5px;
    width: 204px;
}
#sub-nav ul li form button {
    margin: -23px 0 0 215px;
    position: relative;
}
.BoxEmps {
    position: absolute;
}
.ConteinerCoursel {
    height: 410px;
    overflow: hidden;
    position: relative;
    width: 740px;
}
.ConteinerCoursel .Hide .BoxPagination {
    display: none;
}
.BoxListEmps {
    height: 380px;
    overflow: hidden;
    width: 100%;
}
.BoxListEmps a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 370px;
    padding: 4px;
    width: 170px !important;
}
.BoxListEmps a.Exception {
    margin-right: 0;
}
.BoxListEmps a figure {
    position: relative;
}
.BoxListEmps a figure span.BtnFasesEmp {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    float: right;
    margin: -28px 5px 0 0;
    position: relative;
}
.BoxListEmps a figure div span {
    background-image: url("../img/layout/bt_logos.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999em;
}
.BoxListEmps a figure div {
    height: 100px;
}
.BoxListEmps a figure img {
    max-width: 170px;
}
.BoxListEmps a figure img.sold {
    left: -3px;
    position: absolute;
    top: -3px;
}
.BoxListEmps a figure figcaption {
    text-align: center;
}
.BoxListEmps a figure figcaption h4 {
    color: #166196;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}
.BoxListEmps a figure figcaption p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0 20px;
}
.BoxListEmps a figure figcaption p.Exception, .BoxListEmps a figure figcaption address {
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
}
.BoxList {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.BoxPagination {
    margin-top: 10px;
    overflow: hidden;
}
.BoxPagination a {
    background-image: url("../img/layout/bt_pagination.png");
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999em;
}
.BoxPagination .NavEmps {
    float: left;
}
.BoxPagination .NavEmps a {
    background: url("../img/layout/bt_pagination.png") no-repeat scroll -14px 0 transparent;
    display: block;
    float: left;
    height: 10px;
    margin: 4px 3px;
    text-indent: -9999em;
    width: 10px;
}
.BoxPagination .NavEmps a:hover, .BoxPagination .NavEmps a.selected {
    background-position: -14px -10px;
}
.BoxPagination a.LnkNext1 {
    float: left;
    height: 17px;
    margin-left: 14px;
    width: 10px;
}
.BoxPagination a.LnkPrev1 {
    float: left;
    height: 17px;
    margin-right: 14px;
    width: 10px;
}
.BoxPagination a.LnkPrev1:hover {
    background-position: 0 -17px;
}
.BoxPagination a.LnkNext1:hover {
    background-position: -28px -17px;
}
.BoxNews li {
    border-bottom: 1px solid #E2E5E6;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    min-height: 35px;
    overflow: hidden;
    padding-bottom: 10px;
}
.BoxNews li time a {
    color: #989898;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    width: 18px;
}
.BoxNews li time a span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.BoxNews li img {
    float: left;
    height: 70px;
    margin-right: 20px;
    padding: 1px;
    width: 70px;
}
.BoxNews li a {
    color: #989898;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}
.BoxNews li:hover a, .BoxNews li:hover time {
    color: #333333;
}
.BoxNews li:hover img {
    border: 1px solid #ED1C24;
    padding: 0;
}
.BoxMegazine, .BoxMegazine a {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
}
.BoxMegazine img {
    float: left;
    margin-right: 15px;
    max-height: 205px;
    max-width: 170px;
}
.BoxMegazine div.Release {
    float: left;
    width: 141px;
}
.BoxMegazine div.Release h4 {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.BoxMegazine div.Release p {
    float: left;
    font-size: 16px;
    height: 140px;
    line-height: 16px;
}
.BoxMegazine div.Editorial {
    float: left;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 0 30px;
    width: 309px;
}
.BoxMegazine div.Editorial h4 {
    color: #ED1C24;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.BoxMegazine div.Editorial h5 {
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.BoxMegazine div.Editorial p {
    margin-bottom: 20px;
}
.BoxMegazine .small {
    float: left;
    font-size: 12px;
    margin-top: 10px;
}
.BoxVideo {
    min-height: 225px;
}
.BoxVideo figcaption {
    background: none repeat scroll 0 0 #2D2D2D;
    padding: 11px 17px;
    width: 276px;
}
.BoxVideo figure iframe, .BoxVideo figure img {
    position: relative;
    z-index: 2;
}
.BoxVideo figcaption h4 {
    color: #FFFFFF;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.BoxCustomer div {
    margin-bottom: 15px;
}
.BoxSalesCenter {
    background-image: url("../img/layout/bg_televendas.jpg");
    background-repeat: no-repeat;
    border: 1px solid #E2E4E6;
    height: 87px;
    margin-bottom: 15px;
    width: 223px;
}
.BoxSalesCenter a {
    color: #333333;
    display: block;
    font-family: 'NexGRegular','Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 27px 107px;
}
.BoxSalesCenter a:hover {
    color: #ED1C24;
}
.BoxSalesCenter a span {
    display: block;
    font-family: 'NexGBold','Droid Sans',Helvetica,Arial,sans-serif;
    width: 100px;
}
.BoxCustomer1 {
    background-color: #FFFFFF;
    background-position: left 0;
}
.BoxCustomer2 {
    background-color: #FFFFFF;
    background-position: left -87px;
}
.BoxCustomer3 {
    background-color: #FFFFFF;
    background-position: left -174px;
}
.BoxPrevProject {
    margin-top: 45px;
    overflow: hidden;
    width: 990px;
}
.BoxPrevProject ul li {
    float: left;
}
.BoxPrevProject ul li a {
    background: none repeat scroll 0 0 transparent;
    border-right: 1px solid #E2E4E6;
    display: block;
    height: 140px;
    padding: 0 5px;
    width: 130px;
}
.BoxPrevProject ul li a img {
    margin-bottom: 15px;
    max-height: 85px;
    width: 130px;
}
.BoxPrevProject ul li a figure figcaption {
    text-align: center;
}
.BoxPrevProject ul li a figure figcaption h4 {
    color: #166196;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.BoxPrevProject ul li a figure figcaption address {
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
}
.BoxPrevProject ul li a figure figcaption p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 0 30px;
    text-transform: none;
}
.BoxListFiles {
    margin-bottom: 40px;
}
.BoxListFiles li {
    border-bottom: 1px solid #E2E5E6;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}
.BoxListFiles li a {
    color: #989898;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding-top: 5px;
    text-transform: none;
}
.BoxListFiles li span {
    color: #989898;
    display: block;
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px;
    width: 30px;
}
.BoxListFiles li time {
    text-transform: uppercase;
}
.BoxListFiles li:hover a, .BoxListFiles li:hover span, .BoxListFiles li:hover time {
    color: #333333;
}
.BoxSharing {
    border-bottom: 1px solid #D5D8DB;
    border-top: 1px solid #D5D8DB;
    margin: 5px 0 25px;
    overflow: hidden;
    padding: 15px 0;
}
.BoxSharing .addthis_toolbox {
    float: left;
    margin-top: 10px;
    width: 58%;
}
.BoxSharing .Minified {
    float: right;
    width: 236px;
}
.BoxSharing .Minified label {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 15px 12px 0 0;
    text-transform: uppercase;
    width: auto;
}
.BoxSharing .Minified input {
    float: left;
    width: 170px;
}
.BoxPrevEdtions li {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 295px;
    margin-right: 3px;
    padding: 4px;
    width: 152px !important;
}
.BoxPrevEdtions li figure img {
    margin-bottom: 10px;
    max-height: 205px;
    max-width: 170px;
}
.BoxPrevEdtions li figure figcaption {
    text-align: center;
}
.BoxPrevEdtions li figure figcaption h4 {
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.BoxPrevEdtions li figure figcaption h4 span {
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 18px;
}
.BoxPrevEdtions li figure figcaption .BtnRed {
    display: block;
    font-size: 14px;
}
.BoxBrowseMap {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E4E6;
    padding: 6px 6px 4px;
}
.BoxSelctFilters {
    margin-bottom: 20px;
    overflow: hidden;
}
.BoxSelctFilters select {
    margin-right: 5px;
    width: 285px;
}
.ie7 .BoxSelctFilters select {
    display: block;
    float: left;
    margin-right: 5px;
    width: 275px;
}
.BoxSelctFilters button {
    float: right;
}
.BoxNewsletter h2 {
    width: 185px;
}
.BoxNewsletter p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 19px 0;
}
.BoxNewsletter .BtnRed {
    display: block;
    width: 100px;
}
.MenuAbas {
    overflow: hidden;
}
.MenuAbas h2 {
    margin-right: 20px;
}
.MenuAbas h2, .MenuAbas ul li {
    float: left;
}
.MenuAbas ul li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FDFDFE #E9EAEC -moz-use-text-color;
    border-image: none;
    border-left: 1px solid #E9EAEC;
    border-radius: 3px 3px 0 0;
    border-right: 1px solid #E9EAEC;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    color: #333333;
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 10px 20px;
}
.MenuAbas ul li a.Active {
    background-color: #FFFFFF;
    border-color: #D6D7D9;
}
.NavFotos {
    background-color: #FFFFFF;
    height: 440px;
    position: absolute;
    width: 605px;
}
#pag-news li {
    float: left;
    font-weight: bold;
    height: 20px;
    margin-right: 2px;
    padding: 14px 17px 4px 18px;
    text-align: center;
    width: 20px;
}
#pag-news li a {
    color: #ED1C24;
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#pag-news li.Active, #pag-news li:hover {
    background: none repeat scroll 0 0 #ED1C24;
    border-bottom: 1px solid #7E0F13;
    border-radius: 3px 3px 3px 3px;
}
#pag-news li.Active, #pag-news li:hover a {
    color: #FFFFFF;
}
header.Main {
    height: 114px;
    padding-top: 15px;
}
header.Main h1 {
    background: url("../img/layout/tit_nex.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 57px;
    margin-top: 35px;
    text-indent: -9999em;
    width: 204px;
}
header.Main h1 a {
    display: block;
    height: 56px;
    width: 181px;
}
header.Main ul {
    float: right;
    overflow: hidden;
}
header.Main ul li {
    float: left;
    margin-left: 15px;
    overflow: hidden;
}
header.Main ul.Exception li {
    margin-right: 15px;
}
header.Main ul li a {
    color: #333333;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    z-index: 5;
}
.ie7 .LnkConexao, .ie8 .LnkConexao {
    font-size: 10px;
}
header.Main ul li a:hover {
    color: #ED1C24;
}
header.Main ul li a.LnkAtendimentoEmail, header.Main ul li a.LnkAtendimentoTelefone {
    margin-top: 10px;
}
header.Main ul.Foo {
    float: none;
    overflow: hidden;
}
header.Main ul.Foo li {
    float: right;
}
header.Main .Right {
    width: 780px;
}
header.Main .Right div {
    float: right;
    margin-top: 15px;
}
header.Main form {
    float: right;
    width: 200px;
}
header.Main form input {
    font-size: 13px;
}
nav {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/layout/bg_05.jpg") repeat-x scroll 0 0 transparent;
    border-color: #E7E8E8 #E7E8E8 #CECECF;
    border-image: none;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px 1px 2px;
    height: 45px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    width: 100%;
    z-index: 6;
}
nav ul {
    margin-top: 16px;
    padding-left: 35px;
}
nav ul li {
    float: left;
    font-family: 'NexGBold','Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-right: 20px;
}
nav ul li a {
    color: #333333;
    display: block;
    padding-bottom: 7px;
}
nav ul li a:hover {
    color: #ED1C24;
}
nav ul li.Active a {
    border-bottom: 7px solid #ED1C24;
}
nav ul li.Exception {
    float: right;
    margin-right: 8px;
    margin-top: -8px;
}
.LnkBlog {
    background: url("../img/layout/bt_blog.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 30px;
    padding: 0 !important;
    text-indent: -9999em;
    width: 110px;
}
.LnkBlog:hover {
    background-position: 0 -30px;
}
footer.Main {
    background: url("../img/layout/bg_16.jpg") repeat-x scroll center top #DADAD9;
    margin-top: 40px;
    overflow: hidden;
    width: 100%;
}
footer.Main h1 {
    background: url("../img/layout/tit_nex.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 57px;
    text-indent: -9999em;
    width: 204px;
}
footer.Main h1 a {
    display: block;
    height: 56px;
    width: 181px;
}
footer.Main div.Wrapper {
    padding-top: 30px;
}
footer.Main .Box1 {
    float: left;
    overflow: hidden;
    width: 540px;
}
footer.Main .Box1 ul {
    margin-bottom: 0;
    overflow: hidden;
}
footer.Main .Box1 ul li {
    float: left;
    margin: 22px 15px 0 0;
}
footer.Main .Box1 ul li.Exception {
    margin: 0;
}
footer.Main .Box2 {
    float: right;
    width: 450px;
}
footer.Main .Box2 ul {
    float: right;
    overflow: hidden;
}
footer.Main .Box2 ul li {
    float: left;
    margin-left: 20px;
}
footer.Main .Box2 ul.Right {
    margin: 20px 0 40px;
    overflow: hidden;
}
footer.Main .Box2 ul.Right li {
    margin-left: 10px;
}
footer.Main .Box2 ul.Right li a {
    color: #333333;
    display: block;
    font-size: 11px;
    font-weight: bold;
    position: relative;
    z-index: 5;
}
footer.Main .Box2 ul.Right li a:hover {
    color: #ED1C24;
}
footer.Main .Box2 address {
    float: right;
    font-family: 'NexGRegular','Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    width: 220px;
}
footer.Main .Box2 address span {
    font-size: 11px;
}
footer.Main .Box2 div.Left {
    margin-left: 55px;
}
footer.Main .Box2 p {
    font-family: 'NexGRegular','Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
footer.Main .Box2 p b {
    color: #AC1B1F;
    font-size: 22px;
}
footer.Main a.LnkDivexImob {
    float: right;
    margin: 30px 0 20px;
}
#slider {
    background: url("../img/layout/loading.gif") no-repeat scroll 50% 50% transparent;
    height: 310px;
    margin-bottom: 45px;
    position: relative;
    width: 990px;
}
#slider a {
    border: 0 none;
    display: block;
}
#slider img {
    left: 0;
    position: absolute;
    top: 0;
}
#slider .nivo-prevNav {
    background: url("../img/layout/bt_nav-next-prev.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 112px;
    margin-top: -58px;
    text-indent: -9999em;
    width: 58px;
}
#slider .nivo-nextNav {
    background: url("../img/layout/bt_nav-next-prev.png") no-repeat scroll 0 -130px transparent;
    display: block;
    height: 112px;
    margin-top: -58px;
    text-indent: -9999em;
    width: 58px;
}
#slider .nivo-controlNav {
    bottom: -25px !important;
}
#slider .nivo-controlNav a {
    background: url("../img/layout/bt_banner-count.png") no-repeat scroll 0 0 transparent;
    color: #DB0000;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    margin-left: 5px;
    padding-top: 4px;
    text-align: center;
    width: 20px;
}
#slider .nivo-controlNav a:hover {
    background-position: 0 -19px;
    color: #E2E4E6;
}
#slider .nivo-controlNav a.active {
    background-position: 0 -19px;
    color: #E2E4E6;
}
.TabLaunch {
    background: url("../img/layout/aba_lancamento.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 148px;
    margin-left: 848px;
    position: absolute;
    text-indent: -9999em;
    top: 227px;
    width: 147px;
    z-index: 10;
}
.TabCompleted {
    background: url("../img/layout/aba_concluido.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 148px;
    margin-left: 848px;
    position: absolute;
    text-indent: -9999em;
    top: 227px;
    width: 147px;
    z-index: 10;
}
.TabCompleted6 {
    background: url("../img/layout/aba_conclusao06meses.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 148px;
    margin-left: 848px;
    position: absolute;
    text-indent: -9999em;
    top: 227px;
    width: 147px;
    z-index: 10;
}
.TabCompleted6or12 {
    background: url("../img/layout/aba_6a12meses.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 148px;
    margin-left: 848px;
    position: absolute;
    text-indent: -9999em;
    top: 227px;
    width: 147px;
    z-index: 10;
}
.TabCompletedMore12 {
    background: url("../img/layout/aba_maisde12meses.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 148px;
    margin-left: 848px;
    position: absolute;
    text-indent: -9999em;
    top: 227px;
    width: 147px;
    z-index: 10;
}
#home iframe {
    position: relative;
    z-index: 1;
}
#home #lancamentos {
    margin-bottom: 45px;
}
#home #lancamentos h1 {
    margin-bottom: 15px;
}
#home #lancamentos .BoxListEmps a {
    margin-right: 22px;
}
#home #lancamentos .BoxListEmps a.Exception {
    margin-right: 0;
}
#home #highlights {
    margin-bottom: 25px;
    overflow: hidden;
}
#home #highlights header {
    height: 37px;
    margin-bottom: 20px;
}
#home #highlights header h2 {
    margin-right: 20px;
}
.ie7 #home #highlights header h2 {
    margin-right: 5px;
}
.ie8 #home #highlights header h2 {
    margin-right: 5px;
}
#home #highlights header h2, #home #highlights header ul li {
    float: left;
}
#home #highlights header ul li a {
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 12px 8px;
}
#home #highlights header ul li a {
    color: #333333;
}
#home #highlights header ul li a.Active {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #ED1C24;
    display: block;
    text-transform: uppercase;
}
#home #highlights header ul li a:hover {
    color: #ED1C24;
}
#home #highlights aside {
    float: right;
    overflow: hidden;
    width: 226px;
}
#home #highlights .Box1 {
    float: left;
    overflow: hidden;
    width: 760px;
}
#home #highlights .Box1 .BoxListEmps a {
    margin-right: 4px;
}
#home #highlights .Box1 .BoxPagination {
    margin-left: 320px;
}
#home #highlights .Box {
    float: left;
    margin: 20px 30px 105px 0;
    width: 310px;
}
#home #highlights .BoxNews {
    margin-right: 0;
}
#home #highlights #news-cotidiano {
    float: right;
    width: 310px;
}
#home #highlights #news-cotidiano time a {
    font-size: 17px;
    font-weight: normal;
    width: 55px;
}
#home #navigation-help .Box-Maps {
    float: left;
    width: 480px;
}
#home #navigation-help .Box-Maps .BtnRed {
    margin-top: 17px;
    padding-top: 10px;
    width: 130px;
}
#home #navigation-help .BoxNewsletter {
    overflow: hidden;
    width: 225px;
}
#home #navigation-help .Left {
    margin-left: 30px;
}
#news .Box1 {
    float: left;
    margin: 50px 45px 0 0;
    overflow: hidden;
    width: 630px;
}
#news .Box3 {
    float: left;
    margin-top: -30px;
    overflow: hidden;
    width: 425px;
}
#news .Box3 time a {
    font-size: 17px;
    font-weight: normal;
    width: 55px;
}
#news .Box2 {
    margin-top: 55px;
    overflow: hidden;
    width: 990px;
}
#news aside {
    float: right;
    margin-top: -30px;
    overflow: hidden;
    width: 346px;
}
#news .Box {
    float: right;
    margin-right: 30px;
    margin-top: 90px;
    width: 310px;
}
#news .BoxNewsletter h2 {
    width: auto;
}
#news .Box-Maps {
    float: left;
}
#news .Box-Maps #map_canvas {
    height: 271px;
    width: 714px;
}
#news .BoxCustomer {
    float: right;
}
#news #banner-news figure {
    margin-bottom: 100px;
}
#news #banner-news figcaption {
    background: url("../img/layout/ico_sing-headline.png") no-repeat scroll 335px 17px #323641;
    border-left: 5px solid #ED1C24;
    height: 56px;
    margin: -85px 0 0 20px;
    padding: 10px 40px 0 7px;
    position: relative;
    width: 323px;
}
#news #banner-news figcaption p {
    color: #FFFFFF;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
}
#news .Bg2 {
    border-radius: 0 5px 5px 5px;
    border-top: 1px solid #E4E4E4;
    margin-top: -1px;
}
#news .menu {
    height: 65px;
    margin-left: -32px;
    padding-left: 10px;
    width: 100%;
}
#news .menu li {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #E4E4E4;
    float: left;
    height: 66px;
    margin-left: -10px;
    position: relative;
}
#news .menu .active {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index: 10;
}
#news .menu .desactive {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #E4E4E4;
    cursor: pointer;
    height: 65px;
}
#news .menu .desactive:hover {
    background: none repeat scroll 0 0 #F7F7F7;
}
#news .menu .desactive h2 {
    background: none repeat scroll 0 0 transparent;
}
#news .menu h2 {
    margin: 23px 30px 21px;
}
#news .menu .menu-a {
    z-index: 9;
}
#news .menu .menu-b {
    z-index: 8;
}
#news .menu .menu-c {
    z-index: 7;
}
.home-news .BoxNews li {
    border-bottom: 1px solid #E2E5E6;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
    min-height: 35px;
    overflow: hidden;
    padding-bottom: 10px;
}
.home-news .BoxNews li time a {
    color: #333333;
    display: block;
    float: left;
    font-size: 49px;
    font-weight: bold;
    line-height: 38px;
    margin-right: 20px;
    width: 18px;
}
.home-news .BoxNews li time a span {
    display: block;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.home-news .BoxNews li img {
    float: left;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 1px;
    width: 628px;
}
.home-news .BoxNews li a {
    color: #989898;
    font-size: 28px;
    font-weight: normal;
    text-transform: none;
}
.home-news .BoxNews li:hover a, .home-news .BoxNews li:hover time {
    color: #333333;
}
.home-news .BoxNews li:hover img {
    border: 1px solid #ED1C24;
    padding: 0;
}
.home-news .BoxNews .title {
    float: left;
    margin-left: 40px;
    margin-top: 2px;
    width: 530px;
}
.home-news .BoxNews p {
    color: #333333;
    font-size: 12px;
    line-height: 22px;
    margin-top: 20px;
}
.home-news .BoxNews .continue {
    color: #333333;
    float: left;
    font-size: 14px;
    padding-bottom: 30px;
    padding-top: 20px;
    text-decoration: underline;
}
.BoxNews .mes-on {
    background: url("../img/layout/seta1mes.png") no-repeat scroll 280px 5px #FFFFFF;
    float: left;
    height: 100%;
    padding-bottom: 30px;
}
.BoxNews .mes-off {
    background: url("../img/layout/seta0mes.png") no-repeat scroll 280px 5px #FFFFFF;
    float: left;
    height: 40px;
}
.BoxNews .mes h4 {
    border-bottom: 1px solid #E2E5E6;
    float: left;
    font-size: 17px;
    font-weight: 100;
    height: 24px;
    margin-bottom: 15px;
    width: 100%;
}
.BoxNews .mes li {
    float: right;
    margin-right: 10px;
    width: 280px;
}
#news-view .Box1 {
    float: left;
    overflow: hidden;
    padding-top: 50px;
    width: 645px;
}
#news-view .Box1 h3 {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 100px;
}
#news-view .Box1 h3 time {
    float: left;
    font-size: 49px;
    margin-right: 23px;
    text-align: center;
    width: 30px;
}
#news-view .Box1 h3 time span {
    display: block;
    font-size: 26px;
    font-weight: normal;
    text-transform: uppercase;
}
#news-view .Box1 p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 30px;
}
#news-view .Box1 img.Main {
    float: left;
    margin: 0 10px 10px 0;
}
#news-view .Box1 ul {
    border-top: 1px solid #D5D8DB;
    overflow: hidden;
    padding-top: 10px;
}
#news-view .Box1 ul li {
    float: left;
    margin: 0 4px 5px;
}
#news-view .Box1 ul li a img {
    padding: 1px;
}
#news-view .Box1 ul li a:hover img {
    border: 1px solid #ED1C24;
    padding: 0;
}
#news-view .Box1 a.LnkVoltar {
    float: right;
}
#news-view aside {
    float: right;
    margin-top: 50px;
    overflow: hidden;
    width: 310px;
}
#news-view aside div {
    margin-bottom: 55px;
}
#news-view .title {
    float: left;
    margin-left: 40px;
    margin-top: 2px;
    padding-bottom: 30px;
    width: 550px;
}
#news-view .download {
    background: none repeat scroll 0 0 #F2F3F4;
    border-top: 1px solid #D5D8DB;
    float: left;
    height: 49px;
    margin-bottom: 30px;
    width: 645px;
}
#news-view .download i {
    background: url("../img/layout/donwload-news.png") repeat scroll 0 0 transparent;
    float: left;
    height: 31px;
    margin-left: 30px;
    margin-top: 8px;
    width: 31px;
}
#news-view .download p {
    color: #333333;
    float: left;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 13px;
}
#news-view .download a {
    color: #CE1A30;
    float: left;
    font-size: 14px;
    padding-right: 5px;
    text-decoration: underline;
    text-transform: none;
}
#news-view .download a:hover {
    text-decoration: none;
}
#news-view .Bg2 {
    border-radius: 0 5px 5px 5px;
    border-top: 1px solid #E4E4E4;
    margin-top: -1px;
}
#news-view .menu {
    height: 65px;
    margin-left: -32px;
    padding-left: 10px;
    width: 100%;
}
#news-view .menu li {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #E4E4E4;
    float: left;
    height: 66px;
    margin-left: -10px;
    position: relative;
}
#news-view .menu .active {
    background: none repeat scroll 0 0 #FFFFFF;
    z-index: 10;
}
#news-view .menu .desactive {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #E4E4E4;
    cursor: pointer;
    height: 65px;
}
#news-view .menu .desactive:hover {
    background: none repeat scroll 0 0 #F7F7F7;
}
#news-view .menu .desactive h2 {
    background: none repeat scroll 0 0 transparent;
}
#news-view .menu h2 {
    margin: 23px 30px 21px;
}
#news-view .menu .menu-a {
    z-index: 9;
}
#news-view .menu .menu-b {
    z-index: 8;
}
#news-view .menu .menu-c {
    z-index: 7;
}
#megazine .Wrapper {
    overflow: hidden;
    padding-top: 25px;
}
#megazine .Box1 {
    float: left;
    overflow: hidden;
    width: 645px;
}
#megazine .Box1 h2 {
    margin-bottom: 35px;
}
#megazine .Box1 img {
    float: left;
    margin-right: 35px;
}
#megazine .Box1 .Editorial {
    float: left;
    overflow: hidden;
    width: 300px;
}
#megazine .Box1 .Editorial h4, #megazine .Box1 .Editorial h5, #megazine .Box1 .Editorial p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 25px;
}
#megazine .Box1 .Editorial h4 {
    text-transform: uppercase;
}
#megazine .Box1 .Editorial h5 {
    margin: 0;
}
#megazine .Box1 .BoxSharing {
    margin-top: 15px;
}
#megazine .Box1 .BoxSharing .BtnRed {
    float: right;
}
#megazine .Box1 a.LnkVoltar {
    float: right;
}
#megazine aside {
    float: right;
    overflow: hidden;
    width: 310px;
}
#megazine aside .BoxVideo {
    margin-bottom: 15px;
}
#megazine .BoxPagination {
    margin: 15px 0 0 45%;
}
#video .Wrapper {
    overflow: hidden;
    padding-top: 25px;
}
#video .Box1 {
    float: left;
    overflow: hidden;
    width: 645px;
}
#video .Box1 h3 {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
#video .Box1 figure {
    margin-bottom: 30px;
}
#video .Box1 p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 25px;
}
#video .Box1 p a {
    color: #A81A1F;
    text-transform: none;
}
#video .Box1 p a:hover {
    text-decoration: underline;
}
#video .Box1 a.LnkVoltar {
    float: right;
}
#video aside {
    float: right;
    overflow: hidden;
    width: 310px;
}
#video aside .BoxMegazine {
    margin-bottom: 60px;
    overflow: hidden;
}
#browse-by-the-map .Wrapper {
    overflow: hidden;
    padding-top: 25px;
}
#browse-by-the-map .BoxSharing {
    border: medium none;
    margin: 25px 0 45px;
    overflow: hidden;
    padding: 0;
}
#browse-by-the-map .BoxSharing .addthis_toolbox {
    float: right;
    width: 58%;
}
#browse-by-the-map .BoxSharing .addthis_toolbox a, #browse-by-the-map .BoxSharing .addthis_toolbox div {
    float: right !important;
}
#browse-by-the-map .BoxSharing .BtnGrey {
    float: right;
}
#browse-by-the-map .Box2 {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    overflow: hidden;
    width: 690px;
}
#browse-by-the-map .Box2 h3 {
    color: #AC1B1F;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#browse-by-the-map .Box2 p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 20px;
}
#browse-by-the-map .Box2 ul {
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}
#browse-by-the-map .Box2 ul li {
    background: url("../img/layout/bt_pagination.png") no-repeat scroll left -113px transparent;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0 15px 30px 0;
    padding-left: 20px;
    text-transform: uppercase;
    width: 310px;
}
#browse-by-the-map .Box2 ul li.Exception {
    margin-bottom: 0;
}
#browse-by-the-map #map_canvas {
    height: 580px;
    width: 965px;
}
#browse-by-the-map aside {
    float: right;
    overflow: hidden;
    width: 226px;
}
.informacoes {
    text-align: center;
}
.informacoes h4 {
    color: #166196;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.informacoes p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 40px;
    text-transform: none;
}
.informacoes img {
    margin: 3px 0 5px;
}
.informacoes img.Logo {
    margin: 0;
    width: 150px;
}
.informacoes a {
    color: #333333;
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.informacoes a:hover {
    color: #AF1B20;
}
#mouse-alert {
    height: 50px;
    margin-left: 600px;
    position: absolute;
    top: 250px;
    width: 400px;
}
.mouseScroll {
    color: #707175;
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 7px;
    width: 130px;
}
.mousePin {
    color: #707175;
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: 7px;
    width: 150px;
}
.mouseLeft {
    float: left;
}
#line-mouse-alert {
    background: none repeat scroll 0 0 #ACACAC;
    float: left;
    height: 28px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    width: 1px;
}
#sales-center .Wrapper {
    overflow: hidden;
    padding-top: 25px;
}
#sales-center .Box2 {
    background: url("../img/layout/bg_08.png") no-repeat scroll 5px 155px transparent;
    float: left;
    min-height: 535px;
    overflow: hidden;
    width: 535px;
}
#sales-center .Box2 p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
#sales-center .Box2 p.Exception {
    margin: 30px 258px 20px 115px;
}
#sales-center .Box2 .BtnRed {
    margin-left: 115px;
    width: 135px;
}
#sales-center .Box3 {
    float: left;
    overflow: hidden;
    width: 442px;
}
#contact .Bg2 {
    border-radius: 0 0 0 0;
    margin: 0;
    max-width: 680px;
    padding: 28px 50px 30px 35px;
}
#contact header {
    margin-bottom: -22px;
    overflow: hidden;
}
#contact header a {
    float: left;
    margin-left: 3.4px;
}
#contact header a.Exception {
    margin-left: 0;
}
#contact header a.Active {
    background-position: 0 0;
}
#contact form {
    position: relative;
    width: 556px;
    z-index: 100;
}
#contact form input {
    float: left;
    margin-right: 5px;
    width: 315px;
}
#contact form input.Text {
    font-size: 16px;
    height: 17px;
    padding: 10px;
}
#contact form input.Dig3 {
    width: 60px;
}
#contact form input.Dig8 {
    width: 150px;
}
#contact form input.CDig {
    width: 100px;
}
#contact form input.VDig {
    width: 120px;
}
#contact form input.File {
    width: 100px;
}
#contact form input.Radio {
    width: 20px;
}
#contact form select {
    font-size: 15px;
    padding: 8px;
    width: 337px;
}
#contact form textarea {
    font-size: 16px;
    height: 140px;
    width: 309px;
}
#contact form label {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 15px 10px 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 200px;
}
#contact form label.Exception {
    margin: 0 5px 0 0;
    text-align: left;
    width: auto;
}
#contact form div {
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px;
}
#contact form button {
    float: right;
}
#contact div.Exception {
    margin-left: 138px;
}
#contact div.Exception label {
    margin-top: 10px;
    min-width: 140px;
}
#contact div.Exception label.Exception {
    margin-top: 10px;
    min-width: 70px;
}
#contact div.Exception input {
    margin-top: 12px;
}
#contact span.AlertFrm {
    float: right;
    font-size: 10px;
    margin-top: 5px;
}
#contact p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}
#contact .Sucess {
    display: none;
}
#contact h3 {
    border-bottom: 1px solid #DCDCDC;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 20px 0 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
#contact aside {
    float: right;
    width: 205px;
}
#contact aside address {
    color: #333333;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}
#contact aside address b {
    color: #AC1B1F;
    display: block;
    font-size: 18px;
    margin: 30px 0 35px;
}
#property .Wrapper {
    overflow: hidden;
    padding-top: 25px;
}
#property .BoxListEmps {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 25px;
}
#property .BoxListEmps a {
    margin: 0 18px 20px 0;
}
#property .Box1 {
    border-top: 1px solid #DCDCDC;
    padding-top: 25px;
}
#property .Box2 {
    float: left;
    overflow: hidden;
    width: 990px;
}
#property .Box2 #pag-news {
    margin-top: 25px;
}
#property aside {
    float: right;
    overflow: hidden;
    width: 225px;
}
#property aside ul {
    margin-bottom: 20px;
    overflow: hidden;
}
#property aside ul li {
    float: left;
    margin-bottom: 5px;
    width: 225px;
}
#property aside ul li label {
    color: #333333;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-left: 3px;
}
#property aside ul li input.Check {
    float: left;
    margin-top: 2px;
}
#property-view aside a.BtnRed {
    display: block;
    text-align: center;
    width: 87%;
}
#property-view .Box1 {
    border-bottom: 1px solid #E2E4E6;
    margin-bottom: 35px;
    overflow: hidden;
    padding-bottom: 35px;
}
#property-view .Box1Ex {
    border-bottom: 1px solid #E2E4E6;
    margin-bottom: 35px;
    overflow: hidden;
    padding-bottom: 1px;
}
#property-view .Box2 {
    border: 1px solid #E2E4E6;
    float: left;
    width: 225px;
}
#property-view .Box2 img.sold {
    margin: -5px 0 0 -228px;
    position: absolute;
}
@media not all {
#property-view .Box2 img.sold {
    margin: -284px 0 0 -5px;
}
}
#property-view .Box3 {
    float: left;
    margin-left: 20px;
    width: 500px;
}
#property-view .Box3 ul {
    float: left;
    width: 250px;
}
#property-view .Box3 p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 15px 0;
}
#property-view .Box3 h4 {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 0 35px;
    text-transform: uppercase;
}
#property-view .Box3 ul li {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    list-style: disc outside none;
    margin: 0 10px 10px;
    width: 225px;
}
#property-view .Box4 {
    float: left;
    width: 230px;
}
#property-view .Box4 p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
}
#property-view .BoxHeader {
    overflow: hidden;
}
#property-view .BoxHeader h2 {
    float: left;
    margin-right: 40px;
    overflow: hidden;
}
#property-view .BoxHeader a.BtnRed {
    float: left;
    font-size: 15px;
    height: 6px;
    padding: 4px 5px 10px;
}
#property-view .BoxSharing {
    border: medium none;
    margin-top: 25px;
    overflow: hidden;
    padding: 0;
}
#property-view .BoxSharing .LnkHotSite {
    margin-top: 10px;
}
#property-view .BoxSharing .addthis_toolbox {
    float: right;
    width: 58%;
}
#property-view .BoxSharing .addthis_toolbox a, #property-view .BoxSharing .addthis_toolbox div {
    float: right !important;
}
#property-view .BoxSharing .addthis_toolbox a.BtnGrey {
    margin-left: 40px;
    margin-top: -10px;
}
#property-view .ConteinerCoursel div ul li {
    float: left;
    height: 47px;
    margin: 0 0 21px 10px;
    overflow: hidden;
    width: 81px;
}
#property-view .ConteinerCoursel div ul li span {
    color: #333333;
    display: block;
    font-size: 10px;
}
#property-view .ConteinerCoursel div ul li img {
    max-height: 119px;
    max-width: 67px;
}
#property-view .ConteinerCoursel .BoxPagination {
    margin: 0 auto;
    width: 232px !important;
}
.ie7 #property-view .ConteinerCoursel .BoxPagination {
    padding-top: 30px;
}
#property-view .ConteinerCoursel div ul li.MidiaImplantacao {
    float: left;
    height: 100px;
    margin: 0 0 21px 10px;
    overflow: hidden;
    width: 140px;
}
#property-view .ConteinerCoursel div ul li.MidiaImplantacao span {
    color: #333333;
    display: block;
    font-size: 10px;
}
#property-view .ConteinerCoursel div ul li.MidiaImplantacao img {
    float: left;
    max-height: 140px;
    max-width: 100px;
}
#property-view .ConteinerCoursel div ul li.MidiaImplantacao p {
    color: #707175;
    float: right;
    font-size: 11px;
    margin-top: 4px;
    text-transform: none;
    width: 80px;
}
#property-view .ConteinerCoursel div ul li.MidiaImplantacao .btn-pdf {
    background: none repeat scroll 0 0 #FF0000;
    border-bottom: 1px solid #990000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-size: 9px;
    height: 12px;
    margin-left: 13px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    width: 70px;
}
#property-view .ConteinerCoursel div ul li.MidiaImplantacao .btn-pdf:hover {
    background: none repeat scroll 0 0 #FF4A4A;
}
#property-view .BoxListEmps {
    float: right;
    width: 760px;
}
#property-view .BoxListEmps a {
    margin-left: 10px;
}
#property-view #more-details .BoxEmps {
    background: none repeat scroll 0 0 #FFFFFF;
    min-height: 220px;
    width: 933px;
}
#property-view #more-details .ConteinerCoursel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #E2E4E6 #7A7B7C;
    border-image: none;
    border-left: 1px solid #E2E4E6;
    border-right: 1px solid #E2E4E6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 127px;
    margin-top: -2px;
    padding: 40px 20px 68px 40px;
    position: relative;
    width: 933px;
}
#property-view #more-details .ConteinerCoursel div ul {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    overflow: hidden;
    width: 920px;
}
#property-view .BoxBrowseMap {
    float: left;
    height: 285px;
    overflow: hidden;
    width: 729px;
}
#property-view .BoxBrowseMap #map_canvas {
    height: 270px;
    width: 715px;
}
#property-view .IcoAddress {
    margin-bottom: 20px;
    width: 100%;
}
#property-view aside {
    float: right;
    width: 225px;
}
#property-view aside h4 {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}
#property-view aside p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
}
#property-view aside p.IcoPhone {
    margin-bottom: 30px;
    width: 100%;
}
#property-view aside address.IcoAddress {
    margin-bottom: 20px;
    width: 200px;
}
#property-view #stages {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/layout/bg_15.jpg") repeat-y scroll 70% top #FFFFFF;
    border-color: -moz-use-text-color #E2E4E6 #7A7B7C;
    border-image: none;
    border-left: 1px solid #E2E4E6;
    border-right: 1px solid #E2E4E6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    overflow: hidden;
    padding: 30px 20px 40px;
    width: 950px;
}
#property-view #stages .BoxTitle {
    margin-bottom: 20px;
    overflow: hidden;
}
#property-view #stages .BoxTitle h3 {
    border-bottom: 1px solid #E2E4E6;
    float: left;
    font-family: 'NexGRegular','Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
}
#property-view #stages .BoxTitle h3 span {
    font-weight: bold;
}
#property-view #stages .BoxTitle p {
    clear: both;
}
#property-view #stages .BoxTabsStages {
    float: left;
    width: 660px;
}
#property-view #stages .BoxEmps2 ul li {
    float: left;
    height: 23px;
    margin-bottom: 10px;
    width: 330px;
}
#property-view #stages .BoxEmps2 ul li h4 {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 4px 10px 5px 0;
    text-align: right;
    width: 130px;
}
#property-view #stages .BoxEmps2 ul li p {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 17px;
    margin-top: 0;
}
#property-view #stages .BoxEmps2 ul li div {
    background: url("../img/layout/bg_12.jpg") repeat scroll 0 0 transparent;
    float: left;
    height: 17px;
    margin-right: 4px;
    width: 136px;
}
#property-view #stages .BoxEmps2 ul li div span {
    background: url("../img/layout/bg_13.jpg") repeat scroll 0 -15px transparent;
    display: block;
    height: 17px;
}
#property-view #stages .BoxEmps2 ul li div span.Complete {
    background: url("../img/layout/bg_14.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    width: 100%;
}
#property-view #stages .ConteinerCoursel {
    float: right;
    height: 265px;
    width: 243px;
}
#property-view #stages .ConteinerCoursel ul {
    float: left;
    width: 285px;
}
#property-view #stages .ConteinerCoursel div ul li {
    float: left;
    margin: 0 0 12px;
}
#property-view #stages .ConteinerCoursel .NavFotos {
    height: auto;
    position: absolute;
    width: auto;
}

#aba-fases .percent {width: 100%; float: left; margin: 50px 0 0 0; background:; text-align: center; }
#aba-fases .percent h4 {width:16%; height: 100%; float: left; text-transform: uppercase; font-weight: 700; color: #333; font-size: 26px; margin-top: 18px; }
#aba-fases .percent h5 {width:13%; height: 100%; float: left; text-transform: uppercase; font-weight: 100; color: #333; font-size: 38px; margin-top: 12px; }

#aba-fases .percent .progress {width: 70%; float: left; height: 4em; background: #f5f4f2; border: 0 }
#aba-fases .percent .meter { background:#b72025; height: 100%; float: left;   }


#company {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
}
#company h1 {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    text-transform: none;
    width: 990px;
}
#company .Video {
    margin: 0 auto 40px;
    width: 420px;
}
#company .Box1 {
    margin-bottom: 40px;
    overflow: hidden;
}
#company .Box1 ul#menu-emps {
    overflow: hidden;
    position: relative;
    width: 990px;
    z-index: 99;
}
#company .Box1 ul#menu-emps li {
    cursor: pointer;
    float: left;
    font-size: 9px;
    font-weight: bold;
    margin-left: 85px;
    padding-bottom: 20px;
}
#company .Box1 ul#menu-emps li a {
    margin-bottom: 10px;
}
#company .Box1 ul#menu-emps li.Active {
    border-bottom: 7px solid #DB0000;
}
#company .Box1 ul#menu-emps li:hover {
    color: #AC1B1F;
}
#company .Box1 ul#menu-emps li a {
    margin-bottom: 10px;
}
#company .Box1 .Container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E2E4E6;
    height: 275px;
    margin-top: -5px;
    overflow: hidden;
    padding: 35px 55px 0;
    position: relative;
    width: 900px;
}
#company .Box1 .Container #aba-company-1 p.Exception {
    background: none repeat scroll 0 0 transparent;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 55px;
    padding: 0;
    text-align: justify;
    text-transform: uppercase;
}
#company .Box1 .Container #aba-company-1 p.Exception span {
    color: #AC1B1F;
    font-weight: bold;
}
#company .Box1 .Container #aba-company-1 p {
    background: url("../img/layout/bt_pagination.png") no-repeat scroll left -112px transparent;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding-left: 25px;
    width: 880px;
}
#company .Box1 .Container .BoxEmps {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 288px;
    width: 900px;
}
#company .Box1 .Container .BoxEmps .Left {
    width: 420px;
}
#company .Box1 .Container .BoxEmps .Right {
    width: 400px;
}
#company .Box1 .Container .BoxEmps .Left p {
    margin-bottom: 12px;
}
#company .Box1 .Container .BoxEmps .Right img {
    float: right;
}
#company .Box1 .Container .BoxEmps .Right a {
    float: right;
    margin-top: -45px;
}
#company #highlights ol {
    margin-bottom: 45px;
    overflow: hidden;
}
#company #highlights ol li {
    float: left;
    list-style: none outside none;
    margin-right: 15px;
    overflow: hidden;
    width: 480px;
}
#company #highlights ol li.Exception {
    width: 975px;
}
#company #highlights ol li span {
    color: #AC1B1F;
    display: block;
    float: left;
    font-family: 'NexGRegular','Droid Serif',Helvetica,Georgia,serif;
    font-size: 72px;
    font-weight: bold;
    margin-right: 10px;
}
#company #highlights ol li h4 {
    color: #AC1B1F;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 5px;
}
#company #highlights ol li p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 13px;
}
#company #highlights .Left {
    width: 468px;
}
#company #highlights .Left p {
    margin-bottom: 10px;
}
#company #highlights .Left h4 {
    color: #AC1B1F;
}
#company #highlights .Box1 {
    margin-bottom: 45px;
}
#company #highlights .Box1 .Left p span {
    color: #AC1B1F;
    font-weight: 700;
}
#company #highlights .Box1 .Right {
    margin-top: 94px;
    width: 492px;
}
#company #highlights .Box1 .Right figure {
    float: left;
    margin: 0 37px 0 0;
    text-align: center;
}
#company #highlights .Box1 .Right figurecaption h4 {
    color: #5C5C5C;
    font-family: 'Droid Serif',Helvetica,Arial,sans-serif !important;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    width: 150px;
}
.ie7 #company #highlights .Box1 .Right h4 {
    color: #5C5C5C;
    font-family: 'Droid Serif',Helvetica,Arial,sans-serif !important;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
#company #highlights .Box1 .Right .BtnRed {
    float: right;
    margin: 20px 34px 0 0;
}
#company #highlights .Box1 .Right img {
    float: none;
}
#company #highlights .Box2 .Right {
    background-color: #FFFFFF;
    border: 1px solid #E2E4E6;
    padding: 10px 10px 0;
    width: 450px;
}
#company #highlights .Right li {
    float: left;
}
#company #highlights .Right figcaption {
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 0;
    min-height: 40px;
    opacity: 0.8;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    width: 430px;
}
#company #highlights .Right figcaption span {
    color: #AC1B1F;
    float: right;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 10px;
    text-align: right;
}
#company #highlights .Right figcaption h5 {
    color: #AC1B1F;
    float: right;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
}
#company #highlights .Right .BoxPagination {
    margin-bottom: 10px;
    margin-left: 35%;
}
#company .Works header {
    overflow: hidden;
}
#company .Works header hgroup {
    float: left;
}
#company .Works header .BtnRed {
    float: right;
}
.ie7 #company .Works header {
    margin-bottom: 20px;
}
#company .Works .Box1 {
    background-color: #FFFFFF;
    padding: 20px;
}
#company .Works .Box1 #menu-emps {
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 3px;
    width: 950px;
}
#company .Works .Box1 #menu-emps li#bt-company-1 {
    margin-left: 45px;
}
#company .Works .Box1 .BoxWorksList {
    margin-top: 40px;
    overflow: hidden;
}
#company .Works .Box1 .BoxWorksList li {
    border: 1px solid #EBEBEB;
    float: left;
    height: 150px;
    margin: 0 10px 10px 0;
    overflow: hidden;
    padding: 7px;
    width: 290px;
}
#company .Works .Box1 .BoxWorksList li:hover {
    color: #333333;
    cursor: default;
}
#company .Works .Box1 .BoxWorksList li img {
    float: left;
    margin-right: 15px;
}
#company .Works .Box1 .BoxWorksList li figcaption {
    float: left;
}
#company .Works .Box1 .BoxWorksList li figcaption div {
    height: 45px;
    width: 150px;
}
#company .Works .Box1 .BoxWorksList li figcaption div h5 {
    font-size: 14px;
    font-weight: bold;
}
#company .Works .Box1 .BoxWorksList li figcaption div h6, #company .Works .Box1 .BoxWorksList li figcaption div span {
    color: #333333;
    font-size: 14px;
    font-weight: normal;
}
.ie7 #company .Works .Box1 .BoxWorksList {
    margin-bottom: 10px;
}
#search-results .Box1 {
    margin-bottom: 30px;
    padding-top: 20px;
}
#search-results .BoxDescription {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 15px 0 18px;
    width: 100%;
}
#search-results .BoxDescription span {
    color: #333333;
    font-family: Droid Serif;
    font-size: 12px;
}
#search-results .BoxDescription span a {
    color: #333333;
    font-family: Droid Serif;
    font-weight: bold;
    text-decoration: underline;
}
#search-results .BoxDescription span a:hover {
    color: #EA1C24;
}
#search-results .BoxListEmps ul li {
    float: left;
    margin: 3px;
}
#search-results .BoxResultNews {
    width: 775px;
}
#search-results .BoxResultNews li {
    background: url("../img/layout/ico_list.jpg") no-repeat scroll 0 8px transparent;
    margin-bottom: 15px;
    padding-left: 15px;
}
#search-results .BoxResultNews li a {
    color: #989898;
    font-size: 12px;
    text-transform: none;
}
#search-results .BoxResultNews li a:hover {
    color: #333333;
}
#error-404 .Bg2 {
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 20px;
}
#error-404 header {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 25px;
    padding-bottom: 10px;
}
#error-404 ul {
    float: left;
    height: 120px;
    margin-bottom: 25px;
    width: 247px;
}
#error-404 ul li {
    font-family: Arial,sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
}
#error-404 ul li a {
    color: #333333;
    text-transform: capitalize;
}
#error-404 ul li a:hover {
    text-decoration: underline;
}
#error-404 ul li.Exception {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
#error-404 ul li.Exception a {
    color: #333333;
    text-transform: uppercase;
}
#error-404 ul li.Exception a:hover {
    text-decoration: none;
}
#error-404 ul li.Exception2 {
    margin-left: 10px;
}
#frm-search-simple label {
    display: none;
}
#frm-search-simple input.Text {
    padding-right: 40px;
    width: 150px;
}
#frm-search-simple button {
    float: right;
    margin: -27px 0 0 175px;
    position: absolute;
    z-index: 5;
}
.ie7 #frm-search-simple button {
    margin: 15px 0 0 -30px;
}
#frm-search-simple a {
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
}
#frm-search-simple a:hover {
    color: #ED1C24;
}
#frm-search-simple2 label {
    display: none;
}
#frm-search-simple2 input.Text {
    padding-right: 40px;
    width: 150px;
}
#frm-search-simple button {
    float: right;
    margin: -27px 0 0 175px;
    position: absolute;
    z-index: 5;
}
.ie7 #frm-search-simple2 button {
    margin: -24px 0 0 215px;
}
#frm-search-simple2 a {
    color: #333333;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
}
#frm-search-simple2 a:hover {
    color: #ED1C24;
}
#frm-phone-assistance {
    overflow: hidden;
    padding: 3px;
    width: 420px;
}
#frm-phone-assistance div {
    float: left;
}
#frm-phone-assistance div.Exception {
    margin-left: 0;
}
#frm-phone-assistance select {
    float: right;
    font-size: 16px;
    height: 45px;
    margin-bottom: 10px;
    width: 305px;
}
#frm-phone-assistance label {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 15px 10px 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 105px;
}
#frm-phone-assistance input, #frm-phone-assistance textarea {
    display: block;
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
    width: 277px;
}
#frm-phone-assistance textarea {
    height: 120px;
    margin-bottom: 0;
}
#frm-phone-assistance div.Exception label {
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
    text-transform: uppercase;
    width: 155px;
}
#frm-phone-assistance div.Exception label.Exception {
    margin-top: 10px;
    width: auto;
}
#frm-phone-assistance div.Exception input {
    float: left;
    margin-top: 12px;
    width: 20px;
}
.ie7 #frm-phone-assistance div.Exception input {
    margin-top: 6px;
}
#frm-phone-assistance div.Exception {
    margin-left: 85px;
    width: 100%;
}
#frm-phone-assistance span.AlertFrm {
    float: right;
    font-size: 10px;
    margin: 5px 20px 10px 0;
}
#frm-phone-assistance input#ipt-phone-assistance-your-phone-area {
    float: left;
    margin-right: 10px;
    width: 33px;
}
#frm-phone-assistance input#ipt-phone-assistance-your-phone {
    float: left;
    width: 205px;
}
#frm-phone-assistance button {
    float: right;
}
#frm-email-assistance {
    overflow: hidden;
    padding: 3px;
    width: 430px;
}
#frm-email-assistance div {
    float: left;
}
#frm-email-assistance div.Exception {
    margin-left: 0;
}
#frm-email-assistance select {
    float: right;
    font-size: 16px;
    height: 45px;
    margin-bottom: 10px;
    width: 305px;
}
#frm-email-assistance label {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 15px 10px 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 114px;
}
#frm-email-assistance input, #frm-email-assistance textarea {
    display: block;
    float: left;
    font-size: 16px;
    margin-bottom: 10px;
    width: 277px;
}
#frm-email-assistance textarea {
    height: 120px;
    margin-bottom: 0;
}
#frm-email-assistance div.Exception label {
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
    text-transform: uppercase;
    width: 155px;
}
#frm-email-assistance div.Exception label.Exception {
    margin-top: 10px;
    width: auto;
}
#frm-email-assistance div.Exception input {
    float: left;
    margin-top: 12px;
    width: 20px;
}
.ie7 #frm-email-assistance div.Exception input {
    margin-top: 6px;
}
#frm-email-assistance div.Exception {
    margin-left: 85px;
    width: 100%;
}
#frm-email-assistance span.AlertFrm {
    float: right;
    font-size: 10px;
    margin: 5px 20px 10px 0;
}
#frm-email-assistance input#ipt-email-assistance-your-phone-area {
    float: left;
    margin-right: 10px;
    width: 33px;
}
#frm-email-assistance input#ipt-email-assistance-your-phone {
    float: left;
    width: 205px;
}
#frm-email-assistance button {
    float: right;
}
#frm-assistance {
    padding: 3px;
    width: 420px;
}
#frm-assistance label {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin: 15px 10px 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 105px;
}
#frm-assistance select {
    float: right;
    font-size: 16px;
    height: 45px;
    margin-bottom: 10px;
    width: 305px;
}
#frm-assistance input, #frm-assistance textarea {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    width: 277px;
}
#frm-assistance textarea {
    height: 120px;
    margin-bottom: 0;
}
#frm-assistance div.Exception label {
    display: block;
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: right;
    text-transform: uppercase;
    width: 155px;
}
#frm-assistance div.Exception label.Exception {
    margin-top: 10px;
    width: auto;
}
#frm-assistance div.Exception input {
    float: left;
    margin-top: 12px;
    width: 20px;
}
.ie7 #frm-assistance div.Exception input {
    margin-top: 6px;
}
#frm-assistance div.Exception {
    margin-left: 85px;
    width: 100%;
}
#frm-assistance span.AlertFrm {
    float: right;
    font-size: 10px;
    margin: 5px 20px 10px 0;
}
#frm-assistance input#ipt-assistance-your-phone-area {
    float: left;
    margin-right: 10px;
    width: 33px;
}
#frm-assistance input#ipt-assistance-your-phone {
    float: left;
    width: 205px;
}
#frm-assistance button {
    clear: both;
    float: right;
}
#frm-tell-a-friend, #frm-newsletter, #frm-have-an-interest {
    overflow: hidden !important;
    width: 460px !important;
}
#frm-tell-a-friend input.Text, #frm-newsletter input.Text, #frm-have-an-interest input.Text {
    float: left !important;
    width: 320px !important;
}
#frm-tell-a-friend label, #frm-newsletter label, #frm-have-an-interest label {
    width: 95px !important;
}
#frm-tell-a-friend button, #frm-newsletter button, #frm-have-an-interest button {
    margin-right: 10px !important;
}
#frm-tell-a-friend span.AlertFrm, #frm-newsletter span.AlertFrm, #frm-have-an-interest span.AlertFrm {
    margin-right: 10px !important;
}
#frm-tell-a-friend div.Exception, #frm-newsletter div.Exception, #frm-have-an-interest div.Exception {
    margin-left: 85px !important;
    width: 100% !important;
}
#frm-tell-a-friend label {
    width: 140px !important;
}
#frm-tell-a-friend input.Text {
    width: 270px !important;
}
#frm-tell-a-friend textarea {
    width: 265px !important;
}
#frm-newsletter label.Exception, #frm-have-an-interest label.Exception {
    width: auto !important;
}
#frm-tell-a-friend input.Dig3, #frm-newsletter input.Dig3, #frm-have-an-interest input.Dig3 {
    width: 60px !important;
}
#frm-tell-a-friend input.Dig8, #frm-newsletter input.Dig8, #frm-have-an-interest input.Dig8 {
    width: 150px !important;
}
input.error, select.error, textarea.error {
    background: none repeat scroll 0 0 #FFEEEE;
    border: 1px solid #FF0000;
    display: block !important;
}
input.File {
    opacity: 0;
    position: absolute;
    z-index: 5;
}
a.FileFake {
    margin: 0 0 0 211px;
    position: absolute;
    z-index: 4;
}
label.error {
    color: #FF0000;
}
.Sucess {
    display: none;
    margin: 5px 0 20px;
    text-align: center;
}
.Sucess hgroup {
    background: none repeat scroll 0 0 transparent;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
}
.Sucess hgroup h3 {
    background: none repeat scroll 0 0 transparent;
    border: medium none !important;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: bold !important;
    line-height: 26px !important;
    margin: 0 !important;
    padding: 0 !important;
    text-transform: uppercase !important;
}
.Sucess hgroup h4 {
    font-weight: normal !important;
    margin-top: 20px !important;
    text-transform: lowercase !important;
}
.Sucess a.BtnGrey {
    background: url("../img/layout/bg_07.jpg") repeat-x scroll center top #FFFFFF !important;
    display: block !important;
    height: auto !important;
    margin: 40px 0 0 37% !important;
    position: relative !important;
    width: 50px !important;
}
#frm-newsletter2 {
    float: left;
    margin-top: 8px;
}
#frm-newsletter2 label {
    display: none;
}
#frm-newsletter2 input.Text {
    margin-bottom: 12px;
    width: 195px;
}
#frm-newsletter2 button {
    height: 36px;
    margin-top: 8px;
    padding-top: 7px;
    width: 100px;
}
#frm-newsletter2 .Sucess, #frm-newsletter2 .Error {
    color: #333333;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: -18px 0 7px;
    text-align: left;
}
#frm-newsletter2 .Error {
    color: #FF0000;
}
.BoxEms2 {
    position: relative;
}
.Hide2 {
    display: none;
}
#fancybox-content #contact {
    min-height: 0 !important;
}
#Hide3 {
    display: none !important;
    height: 0;
    width: 0;
}
label.error {
    display: none;
    font-size: 10px !important;
    height: 10px;
    position: relative;
    width: 427px !important;
}
.Inner_max {
    background: url("../img/layout/max/bg_max.jpg") no-repeat scroll center 0 transparent;
    margin-top: -25px;
    padding-top: 60px;
}
#property-view #new_max #slider {
    background: url("../img/layout/loading.gif") no-repeat scroll 50% 50% transparent;
    height: 310px;
    margin-bottom: 45px;
    margin-top: 80px;
    position: relative;
    width: 990px;
}
#property-view #new_max .max_logo {
    background: url("../img/layout/max/max_logo.png") repeat scroll 0 0 transparent;
    height: 85px;
    margin-bottom: 542px;
    width: 357px;
}
.max_destaque {
    background: url("../img/layout/max/max_destaque.jpg") repeat scroll center center transparent;
    height: 450px;
    margin-top: 150px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
#property-view #new_max .text_max {
    background: url("../img/layout/max/text_max.png") repeat scroll 0 0 transparent;
    height: 197px;
    margin-bottom: 60px;
    margin-top: 60px;
    width: 966px;
}
#property-view #new_max .Box-detail {
    background: url("../img/layout/max/bg-secundario.jpg") no-repeat scroll 0 0 #373737;
    margin-bottom: 35px;
    margin-top: -35px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.ie7 #property-view #new_max .Box-detail {
    height: 865px;
}
#property-view #new_max .Box-detail .imgin {
    margin-top: 35px;
}
#property-view #new_max .Box-detail p {
    color: #BABABA;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.bg_second {
    background: none repeat scroll 0 0 #373737;
    height: 868px;
    margin-top: 1711px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.ie9 .bg_second {
    margin-top: 1728px;
}
.ie8 .bg_second {
    margin-top: 1728px;
}
.ie7 .bg_second {
    margin-top: 1697px;
}
#property-view #new_max .Box-detail .icon {
    float: left;
    height: 235px;
    margin: 0 20px 90px 0;
    width: 165px;
}
#property-view #new_max .Box-detail .image {
    border-bottom: 1px solid #4A4A4A;
    padding: 2px;
    text-align: center;
}
#property-view #new_max .Box-detail .info {
    color: #AFAFAF;
    font: 12px/20px Arial;
    padding: 5px;
    text-align: center;
}
#property-view #new_max .Box-detail .noright {
    margin-right: 0;
}
#property-view #new_max aside a.BtnRed {
    display: block;
    text-align: center;
    width: 87%;
}
#property-view #new_max .Box1Ex {
    border-bottom: 1px solid #E2E4E6;
    margin-bottom: 35px;
    overflow: hidden;
    padding-bottom: 4px;
}
#property-view #new_max .Box2 {
    border: 1px solid #E2E4E6;
    float: left;
    width: 225px;
}
#property-view #new_max .Box2 img.sold {
    margin: -5px 0 0 -228px;
    position: absolute;
}
@media not all {
#property-view .Box2 img.sold {
    margin: -284px 0 0 -5px;
}
}
#property-view #new_max .Box_max {
    float: left;
    height: 380px;
    margin-left: 20px;
    width: 500px;
}
#property-view #new_max .Box_max ul {
    height: 100px;
    list-style: none outside none;
    width: 160px;
}
#property-view #new_max .Box_max .first {
    float: left;
    height: 160px;
    margin-left: 0;
    width: 500px;
}
#property-view #new_max .Box_max .second {
    float: left;
    height: 160px;
    margin-left: 0;
    width: 500px;
}
#property-view #new_max .Box_max .bane {
    float: left;
    height: 140px;
    margin-right: 10px;
    width: 155px;
}
#property-view #new_max .Box_max p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
}
#property-view #new_max .Box_max ul li {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    list-style: none outside none;
    margin: 10px 0 0 5px;
    width: 100%;
}
#property-view #new_max .Box4 {
    float: left;
    width: 230px;
}
#property-view #new_max .Box4 p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
}
#property-view #new_max .BoxHeader {
    overflow: hidden;
}
#property-view #new_max .BoxHeader h2 {
    float: left;
    margin-right: 40px;
    overflow: hidden;
}
#property-view #new_max .BoxHeader a.BtnRed {
    float: left;
    font-size: 15px;
    height: 6px;
    padding: 4px 5px 10px;
}
#property-view #new_max .BoxSharing {
    border: medium none;
    margin-bottom: 50px;
    margin-top: 25px;
    overflow: hidden;
    padding: 0;
}
#property-view #new_max .BoxSharing .LnkHotSite {
    margin-top: 10px;
}
#property-view #new_max .BoxSharing .addthis_toolbox {
    float: right;
    width: 58%;
}
#property-view #new_max .BoxSharing .addthis_toolbox a, #property-view #new_max .BoxSharing .addthis_toolbox div {
    float: right !important;
}
#property-view #new_max .BoxSharing .addthis_toolbox a.BtnGrey {
    margin-left: 40px;
    margin-top: -10px;
}
#property-view #new_max .ConteinerCoursel div ul li {
    float: left;
    height: 47px;
    margin: 0 0 21px 10px;
    overflow: hidden;
    width: 81px;
}
#property-view #new_max .ConteinerCoursel div ul li span {
    color: #333333;
    display: block;
    font-size: 10px;
}
#property-view #new_max .ConteinerCoursel div ul li img {
    max-height: 119px;
    max-width: 67px;
}
#property-view #new_max .ConteinerCoursel .BoxPagination {
    margin: 0 auto;
    width: 112px;
}
.ie7 #property-view #new_max .ConteinerCoursel .BoxPagination {
    padding-top: 30px;
}
#property-view #new_max .ConteinerCoursel div ul li.MidiaImplantacao {
    float: left;
    height: 100px;
    margin: 0 0 21px 10px;
    overflow: hidden;
    width: 140px;
}
#property-view #new_max .ConteinerCoursel div ul li.MidiaImplantacao span {
    color: #333333;
    display: block;
    font-size: 10px;
}
#property-view #new_max .ConteinerCoursel div ul li.MidiaImplantacao img {
    float: left;
    max-height: 140px;
    max-width: 100px;
}
#property-view #new_max .ConteinerCoursel div ul li.MidiaImplantacao p {
    color: #707175;
    float: right;
    font-size: 11px;
    margin-top: 4px;
    text-transform: none;
    width: 80px;
}
#property-view #new_max .ConteinerCoursel div ul li.MidiaImplantacao .btn-pdf {
    background: none repeat scroll 0 0 #FF0000;
    border-bottom: 1px solid #990000;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-size: 9px;
    height: 12px;
    margin-left: 13px;
    margin-top: 4px;
    padding-top: 3px;
    text-align: center;
    width: 70px;
}
#property-view #new_max .ConteinerCoursel div ul li.MidiaImplantacao .btn-pdf:hover {
    background: none repeat scroll 0 0 #FF4A4A;
}
#property-view #new_max .BoxListEmps {
    float: right;
    width: 760px;
}
#property-view #new_max .BoxListEmps a {
    margin-left: 10px;
}
#property-view #new_max #more-details .BoxEmps {
    background: none repeat scroll 0 0 #FFFFFF;
    min-height: 220px;
    width: 933px;
}
#property-view #new_max #more-details .ConteinerCoursel {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #E2E4E6 #7A7B7C;
    border-image: none;
    border-left: 1px solid #E2E4E6;
    border-right: 1px solid #E2E4E6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    height: 127px;
    margin-top: -2px;
    padding: 40px 20px 68px 40px;
    position: relative;
    width: 933px;
}
#property-view #new_max #more-details .ConteinerCoursel div ul {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    overflow: hidden;
    width: 920px;
}
#property-view #new_max .BoxBrowseMap {
    float: left;
    height: 285px;
    overflow: hidden;
    width: 729px;
}
#property-view #new_max .BoxBrowseMap #map_canvas {
    height: 270px;
    width: 715px;
}
#property-view #new_max .IcoAddress {
    margin-bottom: 20px;
    width: 100%;
}
#property-view #new_max aside {
    float: right;
    width: 225px;
}
#property-view #new_max aside h4 {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
}
#property-view #new_max aside p {
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
}
#property-view #new_max aside p.IcoPhone {
    margin-bottom: 30px;
    width: 100%;
}
#property-view #new_max aside address.IcoAddress {
    margin-bottom: 20px;
    width: 200px;
}
#property-view #new_max #stages {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/layout/bg_15.jpg") repeat-y scroll 70% top #FFFFFF;
    border-color: -moz-use-text-color #E2E4E6 #7A7B7C;
    border-image: none;
    border-left: 1px solid #E2E4E6;
    border-right: 1px solid #E2E4E6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    overflow: hidden;
    padding: 30px 20px 40px;
    width: 950px;
}
#property-view #new_max #stages .BoxTitle {
    margin-bottom: 20px;
    overflow: hidden;
}
#property-view #new_max #stages .BoxTitle h3 {
    border-bottom: 1px solid #E2E4E6;
    float: left;
    font-family: 'NexGRegular','Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 9px;
    padding-bottom: 9px;
    text-transform: uppercase;
}
#property-view #new_max #stages .BoxTitle h3 span {
    font-weight: bold;
}
#property-view #new_max #stages .BoxTitle p {
    clear: both;
}
#property-view #new_max #stages .BoxTabsStages {
    float: left;
    width: 660px;
}
#property-view #new_max #stages .BoxEmps2 ul li {
    float: left;
    height: 23px;
    margin-bottom: 10px;
    width: 330px;
}
#property-view #new_max #stages .BoxEmps2 ul li h4 {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 4px 10px 5px 0;
    text-align: right;
    width: 130px;
}
#property-view #new_max #stages .BoxEmps2 ul li p {
    float: left;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 11px;
    line-height: 17px;
    margin-top: 0;
}
#property-view #new_max #stages .BoxEmps2 ul li div {
    background: url("../img/layout/bg_12.jpg") repeat scroll 0 0 transparent;
    float: left;
    height: 17px;
    margin-right: 4px;
    width: 136px;
}
#property-view #new_max #stages .BoxEmps2 ul li div span {
    background: url("../img/layout/bg_13.jpg") repeat scroll 0 -15px transparent;
    display: block;
    height: 17px;
}
#property-view #new_max #stages .BoxEmps2 ul li div span.Complete {
    background: url("../img/layout/bg_14.jpg") repeat scroll 0 0 transparent;
    display: block;
    height: 17px;
    width: 100%;
}
#property-view #new_max #stages .ConteinerCoursel {
    float: right;
    height: 265px;
    width: 243px;
}
#property-view #new_max #stages .ConteinerCoursel ul {
    float: left;
    width: 285px;
}
#property-view #new_max #stages .ConteinerCoursel div ul li {
    float: left;
    margin: 0 0 12px;
}
#property-view #new_max #stages .ConteinerCoursel .NavFotos {
    height: auto;
    position: absolute;
    width: auto;
}
.canal {
    background: url("../img/layout/play-tube.png") no-repeat scroll 0 3px transparent;
    height: 17px;
    margin-left: 40px;
    margin-top: 10px;
}
.canal a {
    margin-left: 28px;
}
#lar {
    background: url("../img/layout/bg_lar.jpg") no-repeat scroll center top transparent;
    height: 900px;
    margin-top: -25px;
    overflow: hidden;
    padding-top: 60px;
}
.lar_960 {
    margin: 0 auto;
    padding-top: 270px;
    position: relative;
    width: 960px;
}
.lar_960 h3 {
    color: #8F1A1A;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
}
.box_lar {
    float: left;
    height: 111px;
    margin-top: 26px;
    padding-top: 335px;
    width: 293px;
}
.box_lar p {
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    text-transform: none;
}
.btn_lar {
    height: 30px;
    margin-top: 30px;
    text-align: center;
    width: 263px;
}
.btn_lar p {
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 100;
    padding-top: 10px;
    text-transform: uppercase;
}
.link_lar {
    float: left;
    width: 293px;
}
.abox-1 {
    height: 394px;
    margin-left: -11px;
    margin-top: 25px;
    position: absolute;
    width: 308px;
}
.ie8 .abox-2 {
    left: -11px;
    margin-left: 0;
}
.ie7 .abox-2 {
    left: -11px;
    margin-left: 0;
}
.abox-2 {
    height: 394px;
    margin-left: 324px;
    margin-top: 25px;
    position: absolute;
    width: 308px;
}
.ie9 .abox-2 {
    margin-left: 32px;
}
.ie8 .abox-2 {
    left: 324px;
    margin-left: 0;
}
.ie7 .abox-2 {
    left: 324px;
    margin-left: 0;
}
.abox-3 {
    height: 394px;
    margin-left: 656px;
    margin-top: 25px;
    position: absolute;
    width: 308px;
}
.ie9 .abox-3 {
    margin-left: 32px;
}
.ie8 .abox-2 {
    left: 656px;
    margin-left: 0;
}
.ie7 .abox-2 {
    left: 656px;
    margin-left: 0;
}
#promo_black {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    z-index: 9000;
}
#promo_img {
    background: url("../img/layout/max/maX.png") no-repeat scroll center top transparent;
    height: 340px;
    left: 50%;
    margin-left: -351px;
    margin-top: -170px;
    position: fixed;
    top: 50%;
    width: 700px;
    z-index: 9001;
}
#promo_fechar {
    color: #FFFFFF;
    left: 50%;
    margin-left: -99px;
    margin-top: 150px;
    position: fixed;
    top: 50%;
    z-index: 9003;
}
#promo_fechar a {
    color: #FFFFFF;
    text-decoration: underline;
}
#promo_fechar a:hover {
    text-decoration: none;
}
#promo_img .BtnRed {
    background-color: #E71B23;
    border-bottom: 1px solid #7E0F13;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-family: 'Droid Sans',Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-left: 26px;
    margin-top: 182px;
    padding: 20px 25px;
    text-transform: uppercase;
}
#promo_img .BtnRed:hover {
    background-color: #FC5969;
}


.botao1{
    margin: -32px 10px 0px 0px;
}


.ofertasnex { position: relative; height: 500px;  }
.ofertasnex .Bg2 { height: auto; float: left; margin-bottom: 80px !important; padding-bottom: 50px !important; }
.ofertasnex .Bg2 .countin { height: auto; float: left; }
.ofertasnex aside { position: absolute; top: 0; left: 50%; margin: 65px 0 0 273px !important;  }
.ofertasnex aside h3 { margin: 3px 0 0 0; color: #000; font-size: 27px;  }

.ofertasnex .listofer { margin:3% 0 4% 0 !important; width: 100% !important; text-align: center !important }
.ofertasnex .listofer small { font-size:0.6em; font-style: italic; font-weight: normal; }


.ofertasnex .boxis { width: 428px; margin: 40px 0 0 40px; height: auto; border:3px solid #ECECEC; border-bottom: 0 !important; background: #FFF; float: left; border-radius: 5px;}
.ofertasnex .nomar { margin: 40px 40px 0 0 !important; }
.ofertasnex .boxis figure{ width: 180px; height: 180px; margin: 3px 20px 3px 3px; background-size: cover !important; float: left; border-radius: 2px 0 0 0 ;}
.ofertasnex .boxis .left { width: 100% !important; height: auto; background:; float: left;}
.ofertasnex .boxis .left h4 { font-size: 1em; font-weight: 100; margin: 20px 0 0 0; color: #AC1B1F; float: left;  }
.ofertasnex .boxis .left h4 span { font-weight: 700  }
.ofertasnex .boxis .left ul li { width: 195px; font-size: 0.6em; font-weight: 100; line-height: 1.5; margin: 10px 0 0 0; float: left;  color: #000;  }
.ofertasnex .boxis .left h5 { font-size: 1.5em; font-weight: 900; margin: 15px 0; color: #000; float: left;  }


.ofertasnex .boxis .right { width: 96%; padding: 2%; height: auto; background:#ECECEC; float: left;}
.ofertasnex .boxis .right img { width: 15%; height: 50px; margin: 1% 3% 1% 0; padding: 0 !important; float: left;}



.avaliacao form { float: left; width:600px; } 

.avaliacao .grey { width: 100%; background: #f1f1f1; padding: 2em 1em 0.5em; margin: 0 0 2em 0; text-align: center; border-radius: 5px;  }
.avaliacao .grey h1 { margin: 0 }
.avaliacao .grey .avali { width: 31%; font-weight: 900; font-size: 1.3em; background:; color: #f1f1f1; padding: 1em 2em 0.9em; margin: 0 auto 1em; border-radius: 5px; text-transform: uppercase; }

.avaliacao .grey .otimo { background:#68cf61 }
.avaliacao .grey .bom { background:#c1ef5d; color: #333; }
.avaliacao .grey .regular { background:#f7f02a; color: #333; }
.avaliacao .grey .ruim { background:#f9b125 }
.avaliacao .grey .naotiveretorno { background:#f45f1d }

.avaliacao .correr { float: right !important; width: 290px !important; margin: 0 20px 0 0; }
.avaliacao .correr p { font-size: 13px !important; }
#sales-center .correr p.Exception { margin: 30px 0 20px 115px; }

.fim .grey { width: 100%; background: #f1f1f1; padding: 2em 1em 1.5em; margin: 0 0 2em 0; line-height: 1.5 !important; text-align: center; border-radius: 5px;  }

.ofertas-btn { background: red; padding: 0.5em 0.8em; margin: -7px 0 0 0; color: #fff; font-size: 0.9em; border-radius: 4px; }
.ofertas-btn:hover { background: #CE182E; color: #fff; }


.more-pic { float: left; color: #AC1B1F; font-weight: 900; font-size: 0.8em; text-transform: none; margin: 1.6em 0 0; }
.more-pic span:hover { text-decoration: none; }
.more-pic span{ color: #333; text-decoration: underline; }
