@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}



/*--------------------- BEGIN------------------------- */

body{
	font-family: Arial, sans-serif;
	font-size:18px;
	color:#fff;
	background:#CE183B;
	overflow-x:hidden;
	height:500px;

}

a {
	color:#FFF;
	font-size:18px;
}
a:hover {
	background:#f8ad37;
	color:#fff;
	font-size:18px;
}


h1{
	text-indent:-100000px;
	position:absolute;

}

h2{
	font-family:myriad-reg, Verdana, Geneva, sans-serif;
	font-size:28px;
	color:#9E2D13;
	text-transform:uppercase;
}

#bg{width:100%;		height:100%; position:fixed; border:5px solid #FFF; top:0px; left:0px; right:0px; }


/* -----------------------------------TOPO---------------------------------------- */
.msg-sucesso{
	width:320px;
	padding:5px;
	position:absolute;
	top:;
	left:;
	margin-left:30px;
	margin-top:70px;
	background:#FFF;
	color:#CE183B;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	border:5px solid #FFF;
	border-radius:0 0 10px 10px;
	text-shadow:none;
	}
	
#logo{
	width:632px;
	height:185px;
	background:url(../img/line.png);
	position:fixed;
	top:0;
	left:45%;
	z-index:0;

}



#topa{	
	width:900px;
	height:100px;
	color:#000;
	position:fixed;
	top:250px;
	left:50px;
	text-shadow:0px -2px 0px #7F112B;

}

#text1{
	width:550px;
	height:40px;
	background:;
	padding-top:7px;
	color:#fff;
	text-transform:none;
	font-weight:bold;
	line-height:1.2;
	font-size:28px;

}
#text1 span{font-size:42px; text-transform:uppercase;}

#text1-2{
	width:400px;
	height:40px;
	color:#fff;
	padding-top:10px;
	padding-left:80px;

}
#text1-2 span{font-size:50px;}

#text1-3{
	width:400px;
	height:40px;
	color:#fff;
	padding-top:20px;
	padding-left:150px;
}
#text p {margin-left:10px;}
#text{
	width:434px;
	height:78px;
	padding-top:10px;
	position:fixed;
	top:150px;
	left:0;
	background:url(../img/logos.png) no-repeat;
}
#text2{
	height:30px;
	font-size:28px;
	color:#fff;
}
#text3{
	height:30px;
	font-size:28px;
	color:#fff;
	margin-top:7px;
	margin-left:70px;
}

#interesse{
	position:absolute;
	top:3%;
	right:40px;
}

#text4{
	background:;
	color:#FFF;
	text-transform:uppercase;
	font-size:32px;
	font-weight:bold;
}
#form{
	width:390px;
	height:355px;
	padding-top:15px;
	background:#CE183B;
	border:5px solid #FFF;
	font-size:12px;
	color:#fff;
	text-shadow:0px -1px 0px #7F112B;
	border-radius:10px;
}
#form p{margin-bottom:5px;  text-align:center}
#form ul {width:370px;}
#form ul li{height:30px; padding-top:10px;}
label {
	width:110px;
	height:25px;
	padding-top:5px;
	text-align:right;
	float:left;
	margin-right:9px
}

select{width:235px}

.radio{width:20px; height:30px; margin-top:6px; margin-left:10px;  float:left; }
.interesse-formas{width:80px; height:18px; padding-top:12px; float:left}

.ie7{*margin-top:55px;}

#btn-enviar{
	text-align:center;
	background:#CE183B;
	width:340px;
	color:#FFF;
	height:60px;
	float:right;
	margin-top:15px;
	margin-right:20px;
	border:5px solid #FFF;
	text-transform:uppercase;
	font-size:24px;
	border-radius:10px;
	font-weight:bold;
	cursor:pointer;
}
#btn-enviar:hover{background:#ED2051}


.form1{
	width:235px;
	height:24px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	float:left;
	background:#FFF;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form1:hover{background:#FCFAF6;}
.form1:focus{background:#fff;}

.form2{
	width:246px;
	height:25px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	float:left;
	background:#FFF;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
}
.form2:hover{background:#FCFAF6;}
.form2:focus{background:#fff;}

.form3{
	width:235px;
	height:70px;
	border-left:solid 1px #DBD6C8;
	border-top:solid 1px #DBD6C8;
	border-right:0;
	border-bottom:0;
	padding-left:10px;
	padding-top:7px;
	float:left;
	background:#FFF;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	margin-bottom:20px;
}
.form3:hover{background:#FCFAF6;}
.form3:focus{background:#fff;}




#assina{
	color:#000;
	font-size:9px;
	width:390px;
	height:59px;
	position:fixed;
	background:url(../img/singolo-assina1.png) -5px 19px no-repeat;
	margin-bottom:1px;
	bottom:0;
	right:30px;
	z-index:999;
}
#assina p{height:16px; margin-top:6px; margin-right:10px;}
#assina img{bottom:10px}

#divex{
	width:77px;
	height:16px;
	background:url(../img/divex.png);
	position:fixed;
	bottom:20px;
	right:10px;
	z-index:999;
}
#footer{
	width:100%;
	height:60px;
	padding-left:20px;
	color:#FFF;
	background:#CE183B;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
		border-top:5px solid #FFF;

}
#footer p{float:left;	margin-top:20px; margin-right:10px;}

#footer .f-home{
	float:left;
	background:url(../img/singolo-mapa.png) 7px 15px no-repeat;
	width:205px;
	height:34px;
	padding-left:55px;
	padding-top:20px;
	color:#FFF;
	text-decoration:underline;
}

#footer .f-mapa{
	float:left;
	background:url(../img/singolo-ico-home.png) 9px 15px no-repeat;
	width:230px;
	height:34px;
	padding-left:55px;
	padding-top:20px;
	color:#FFF;
	text-decoration:underline;

}

#footer a:hover{text-decoration:none;}



