body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:100%;
	padding:0;
	margin:0;
	color:#fff;
	background-color: #292929;
	overflow-x: hidden !important;
	/* -webkit-font-smoothing: antialiased; */
}
section.like{
	min-height: 640px;
	height:auto;
	background: #292929 url(../img/bg.jpg) no-repeat center bottom;
	background-size: cover;
	position: relative;
}
section.conteudo{
	position: absolute;
	bottom:-6.3vw;
	left:0;
	right:0;
	border-bottom:3px solid #fff;
	width:100%;
}
section.conteudo-xs div.row{
	margin-bottom:20px;
	margin-top: 20px;
}

header.topo{
	min-height: 140px;
}
header.topo img.logo-like{
	margin-top:30px;
}
header.topo a.chat{
	border:2px solid #fff;
	font-size:12px;
	color:#fff;
	text-transform: uppercase;
	font-weight: 700;
	padding:10px;
	padding-left:45px !important;
	margin-top:30px;
	height:50px;
	width:250px;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	background: transparent url(../img/icon-chat.png) no-repeat 10px center;
}
footer{
	background:#195682 url(../img/bg-footer.jpg) no-repeat center top;
	min-height: 300px;
	padding-top:8.5vw;
	padding-right: 0 !important;
    padding-left: 0 !important;
}
footer .dados-contato{
	min-height:115px;
	padding-top:25px
}
footer .dados-contato .visible-xs{
	position: relative;
	top:-8.5vw !important;
}
footer .dados-contato .visible-xs div{
	padding:20px;
}
footer .legaltext{
	min-height:65px;
	line-height: 65px;
	background-color: #053454;
	border-top:1px solid #1c5f8f;
	letter-spacing: 1px;
	color:#cac9c4;
	width: 100%;
}