@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);

.osextra {font-family: 'Open Sans', sans-serif;font-weight:800;}
.osnormal {font-family: 'Open Sans', sans-serif;font-weight:300;}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 100%;
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: #292929;
	overflow-x: hidden !important;
	/* -webkit-font-smoothing: antialiased; */
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #376b8e;
    margin: 1em 0;
    padding: 0;
	width:100%;	
}
.spacer {
    float: left;
    width: 100%;
    margin: 1% 0;
}

.locked {opacity: 0.5;}
.error-messages {color: #e84949;font-size: 14px;}
.success-messages { color: #67c36f;font-size: 14px;}
section.like {
	min-height: 640px;
	height: auto;
	background: #292929 url(../img/bg.jpg) no-repeat center bottom;
	background-size: cover;
	position: relative;
}

section.conteudo {
	position: absolute;
	bottom: -6.3vw;
	left: 0;
	right: 0;
	border-bottom: 3px solid #fff;
	width: 100%;
}

section.conteudo-xs div.row {
	margin-bottom: 20px;
	margin-top: 20px;
}

.topo {
	-webkit-animation-duration: 12s;
	-moz-animation-duration: 12s;
	-ms-animation-duration: 12s;
	-o-animation-duration: 12s;
	animation-duration: 12s;
	
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
	-ms-animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.chamada {
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	-ms-animation-duration: 4s;
	-o-animation-duration: 4s;
	animation-duration: 4s;
	
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

header.topo {
	min-height: 140px;
}

header.topo img.logo-like {
	margin-top: 30px;
}

header.topo a.chat {
	border: 2px solid #fff;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px;
	padding-left: 45px !important;
	margin-top: 30px;
	height: 50px;
	width: 250px;
	line-height: 14px;
	text-align: left;
	letter-spacing: 1px;
	background: transparent url(../img/icon-chat.png) no-repeat 10px center;
}

footer {
	#background: #195682 url(../img/bg-footer.jpg) no-repeat center top;	
	background: #053454; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left,#216899,#053454); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right,#216899,#053454); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right,#216899,#053454); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right,#216899,#053454); /* Standard syntax */
  
	min-height: 300px;
	padding-top: 8.5vw;
	padding-right: 0 !important;
	padding-left: 0 !important;
}

footer .dados-contato {
	min-height: 115px;
	padding-top: 25px
}

footer .dados-contato .visible-xs {
	position: relative;
	top: -8.5vw !important;
}

footer .dados-contato .visible-xs div {
	padding: 20px;
}

footer .legaltext {
	min-height: 65px;
	line-height: 65px;
	background-color: #053454;
	border-top: 1px solid #1c5f8f;
	letter-spacing: 1px;
	color: #cac9c4;
	width: 100%;
}

div.form-contato {
}

div.form-contato .img-success {
	width:100%;
	margin: 20px auto;
}

div.form-contato h3 {
	text-align:center;
	font-size:20px;
	margin: 25px auto;
	color:#a62500;
	width: 100%;
}

div.form-contato h1 {
	letter-spacing: 1px
}
div.form-contato h2 {
	font-size:18px;
	letter-spacing: 3px
}
div.form-contato form {
    width: 100%;
    height: auto;
    margin: 2% 0 2% 0;
    float: left;
}
div.form-contato .btn:hover {
    color: #FFF;
    text-decoration: none;
	opacity:0.7;
}
div.form-contato .btn {
	width:100%;
	padding: 9px 60px;
	border-radius: 0;
	font-size: 25px;
	background:#2f5b79;
}

div.form-contato select {
	background:#fafafa;
	border:1px solid #e6e6e6;
	color:#b0b0b0;
	text-transform: none;
}
div.form-contato .field {
	width:100%;
	margin-bottom: 25px;
	background:#124c75;
	border:0;
	border:1px solid #5c87a5;
	padding: 15px 20px;
	font-size: 14px;
}

.field::-webkit-input-placeholder {
   color: #fff;
}

form .field.error,
input.error, 
select.error {
	border:1px solid #F00!important;
	background: rgba(255,0,0,0.3)!important;
	color:#FFF!important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
	
	section.form {
		padding: 20px 0;
	}
	
	section.form h3 {
		font-size: 15px;
		margin: 10px auto;
	}
	.fb-share-button {
		margin: auto;
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 20px;
		display: block!important;
	}
}