@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


html { background:#FFF; }

body{
  font-family: 'dincond-lightregular';
	font-size:62.5%;
	color:#1c1c1c;
	font-weight:100;
	background:#e9e8e6;
	height: auto; 
  overflow-x: hidden;
}

@media screen and (min-width:0\0) {
		body{
			font-size:50%;
		}
		header nav { line-height:200% }
		.caroseul .lika p { line-height:150% } 
		.caroseul .lika { margin: 5px 0 0 15px;}
	
 }


.radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.radius-top-left {  -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }
.radius-top-right {  -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }


.smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
	b { font-weight:900 }
	.ie8 input {line-height:2.0 !important;}
	.ie7 input {line-height:3.0 !important;}


section {width:100%;   min-width: 980px; position: relative; float:left; }

.fixed {
position: fixed;
z-index: 9999;
}
.relative {
position: relative;
}
.nomargin { margin:0 0 0 0 !important; }
.nomargin-left { margin-left: 0 !important }
.nomargin-right { margin-right: 0 !important}

.nopadding-left { padding-left: 0 !important }
.nopadding-right { padding-right: 0 !important }

.left { float:left }
.right { float:right }

h1 { text-indent: -100000px }
.first { cursor: pointer; }




/* ---------------- HEADER-FIXO ---------------- */
#ancora { width: 1000px; height: 1px; position: absolute; background:; left: 0; top:400px; z-index: 30; }
.absoluto{display: none }
.fixo { display: block; }

.header-fixo { opacity: 0.95; filter: alpha(opacity =95); position: fixed; z-index: 997; bottom: 0; left: 0; width: 100%; background: #222; height: 70px;  }

.header-fixo:hover {  height: 180px; padding: 25px 0 0 0 }


 .header-fixo .right { width: 65%; padding: 0; font-size: 2.0em; text-transform: uppercase;  float: right;}
  .header-fixo a {position: relative; z-index: 3; float: left; color: #272525; margin: 0 0 0 0;  }
  .header-fixo a:hover { color: #444; text-decoration: underline;   }

  .header-fixo .logo { z-index: 2; width: 15%; height: 70px; padding: 0; position: relative; float: left; background: url(../img/polo.png) center no-repeat  #222; }

 .header-fixo .segues { width: 17% !important; text-align: right; padding: 0.7em 0.5em 0 0; float: left; color: #ccbd96 }
  .header-fixo input { float: left; width: 23% !important; line-height: 2; height: 56px; margin: 7px 0 0 7px !important; background: #111 !important; border: 0 !important; color: #FFF  }


  .header-fixo .btn { width: 9% !important; height: 55px; margin: 7px 0 0 7px !important; font-size: 1.05em; font-weight: bold; background: #ccbd96 !important; color: #000 !important; text-transform: uppercase; cursor: pointer;  }
  .header-fixo .btn:hover { background: #F3DFAC !important;  }


  .header-fixo .ste {  font-size: 2em; padding: 0.85em; height: 20px; margin: 7px 0 0 7px !important; background: #222; color: #FFF; margin: 0 0 0 1px }
  .header-fixo .ste i { float: left; margin: 0 0.5em 0 0 }
  .header-fixo .ste:hover > i { text-decoration: none }
  .header-fixo .ste:hover { background: #333; color: #FFF }
  .header-fixo .ste p { float: left; }

  #assina { width: 80%; margin: 1.8% 0 0 0; padding: 0.5em 0 0 20%; height: 300px; border-top:2px solid #333; float: left; }

  #assina .left { width:50%; margin: 1.3em 0 0 50% }
  #assina .right { float: left; width:20%; margin: 1.45em 0 0 0.3em }

  #assina p { color: #CCC; font-size: 1.6em; margin:1.7em 0 0 1em; float: left; }

  #assina a:hover {  opacity: 0.7; filter: alpha(opacity =70); }


  /* ---------------- CONTENT ---------------- */
  #home { width: 100%; height: 450px; position: relative; background:  #0a0a0a ; background-size: cover !important; float: left; }

  #home .ste i {position: absolute; text-indent: -1000000px; background: url(../img/setas-white3.png) center center no-repeat;  top: 0; z-index: 99; width: 100%; text-align: center; color: #FFF; font-size: 3.5em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #home .ste i:hover {  opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white3.png) center center no-repeat rgba(255, 255, 255, 0.1) }
  #home .ste p {float: left; color: #FFF; position: absolute; z-index: 99; top: 22px; left: 50%; margin-left: 62px; font-size: 2.2em;}



  #home .list_carousel { width:100%; position: relative;  margin-left:; float: left; }
  #home .list_carousel li {  padding: 0; margin: 0 0 0 0; display: block; float: left;}
  #home .list_carousel .box {position: relative; z-index: 3; width: 100%; height:; background-size: cover !important }
  #home .list_carousel .box2 { width: 80%; margin-left: 10%; background:; position: absolute; bottom: 42%; margin-top:; z-index: 3;  }
  #home .list_carousel .left { width: auto; background:;}
  #home .list_carousel .left a { float: right;  padding: 1em 0.8em; margin:0 0 0 1em; width: 100%;  }
  #home .list_carousel .left a .icon { color: #FFF; float: left; height: 40px; padding:0em 0.4em 0 0; font-size: 1.0em; }
  #home .list_carousel .left a {color: #FFF; height: 40px; padding: 0; font-size: 1.5em; font-weight: 700 }
  #home .list_carousel .left a:hover { opacity: 0.8; filter: alpha(opacity =80); }

  #home .list_carousel h3 {color: #FFF; float: left; font-style: normal; font-style: normal !important; width: auto; line-height: 1.2em; font-size: 70px;  font-weight: 100; margin: 0}
  #home .list_carousel .black { opacity: 0.35; filter: alpha(opacity =35); width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 2; background: #000; -webkit-transition: all 0.6s ease-out; -moz-transition: all 0.6s ease-out; -o-transition: all 0.6s ease-out; transition: all 0.6s ease-out; }

  #home .navegation .prev {position: absolute; z-index: 4; top: 0; left: 0; width: 6%; height: 100%;  margin-top: 0; margin-left: 0; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white0.png) center center no-repeat !important; }
  #home .navegation .next {position: absolute;  z-index: 4; top: 0; right: 50px !important; width: 6%; height: 100%; margin-top: 0 !important; margin-left: 0 !important;  opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas-white1.png) center center no-repeat !important; }

#home .navegation .prev:hover { background: url(../img/setas-white0.png) center center no-repeat rgba(255, 255, 255, 0.1) !important; }
#home .navegation .next:hover { background: url(../img/setas-white1.png) center center no-repeat rgba(255, 255, 255, 0.1) !important; }

  #home .navegation .pager { display: none !important }

  #home .local { display: none; width: 50%; height: 450px;  float: left; background:#333;  }

  #home .local img { width: 90%; height: ; margin:15% 5%;   float: left; }


  /* ---------------- CONTENT ---------------- */

/* ------  PARALLAX  ------ */

  #paralau {  }
  #paralau .ste i {position: absolute; text-indent: -1000000px; background: url(../img/setas-white2.png) center center no-repeat;  bottom: 70px; z-index: 99; width: 100%; text-align: center; color: #FFF; font-size: 3.5em; float: left; clear: both; padding: 0.5em 0 0.5em 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;}
  #paralau .ste i:hover {  opacity: 0.7; filter: alpha(opacity =70);  background: url(../img/setas-white2.png) center center no-repeat rgba(255, 255, 255, 0.1)  }
  #paralau .ste p {float: left; color: #FFF; position: absolute; z-index: 99; bottom: 92px; left: 50%; margin-left: 62px; font-size: 2.2em;}




  .seg1 { height: 110%; margin: -100px 0 0 -110px }
  .seg2 {  margin: 600px 0 0 350px }

  .seg4 {  margin: -300px 0 0 350px }
  .seg45 { width: 50%; margin: 0 0 0 850px; opacity: 0.2 }
  .seg46 { width: 5%; margin: 250px 0 0 500px; }

  .seg5 {  margin: 550px 0 0 1100px; }

  .seg3 {  margin: -100px 0 0 1000px }
  .seg6 {  margin: -200px 0 0 1100px }
  .seg7 {  width: 35%; margin: 5% 0 0 550px }

  .container {
  height: 100%; background: #0a0a0a;
  position: fixed; 
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 1;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 1;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 1;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 1;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 1;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 1;
}
.layer:nth-child(6) button {
}







  /* ---------------- CONTENT ---------------- */
  #contato { width: 100%; height: auto; background: #FFF;  float: left; }

  #contato form { width:100%; margin: 10% 0 0 2%;  float:left  }
  #contato form ul { width:45%; margin:5% 0 0 1%; font-size: 1.5em  }
  #contato form ul label { width:18%; float:left; margin:0.25em 2% 0 0; font-size: 2em; color: #000; text-align: right }
  #contato form ul input { width:80%; height: 50px; padding:0 0 0 2%; float:left; font-size: 1.3em; background: #FFF; border: 1px dotted #000; color: #000;   }
  #contato form ul textarea {  font-size: 1.3em;  width:80%; padding:0.5em 0 0.5em 2%; height: 258px; resize:none; float:left; background: #FFF; border: 1px dotted #000; color: #00424f;  margin: 0 }
  #contato form ul .btn { font-size: 2.5em; padding:0.4em 0 0.4em 0; width: 200px; height: 70px; float:right; background: #000; color: #FFF; border: 0; cursor: pointer; font-style: normal; margin: 0; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
  #contato form ul .btn:hover {background: #333 }

  #contato .ablu {  width: 100%; height: 280px; margin: 15em 0 0 0; background: url(../img/newlife_bg7.jpg) center center; background-size: cover !important; float: left;  }
  #contato .ablu .im1 img { position: relative; z-index: 999; top: 0; left: 50%; margin: 3em 0 0 -115px; float: left; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
  #contato .ablu .im1 img:hover { opacity: 0.7; filter: alpha(opacity =70);  }


#contato .ablu .im2 {position: relative; z-index: 999; top: 0; left: 50%; margin:226px 0 0 -261px; float: left;}

  #contato .ablu .im2 img {width: 100px !important; float: left; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
  #contato .ablu .im2 img:hover { opacity: 0.7; filter: alpha(opacity =70);  }

  #contato .ablu .im2 p {float: left; font-size: 1.3em; color: rgba(244, 244, 244, 0.71); margin: 2px 5px 0 0 }

/* ---------------- CARROSEUL ---------------- */

.navegation { width: auto  }
.navegation .prev { margin-top: -140px; margin-left: -75px; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas.png) 0 0 !important;  float: left; height: 100px; width: 25px; }
.navegation .next {margin-top: -180px; margin-right: -50px; opacity: 0.7; filter: alpha(opacity =70); background: url(../img/setas.png) -25px 0 !important; float: right; height: 100px; width: 25px; }
.navegation .prev:hover { opacity: 1; filter: alpha(opacity =100); }
.navegation .next:hover { opacity: 1; filter: alpha(opacity =100); }

.navegation .pager { text-align: center; padding: 2% 0; position: relative; width: auto; margin-left:48%;  }
.navegation .pager a { width:10px; height:10px; margin: 0 2% 0 0; text-indent: -100000000px; float: left; background: #CCC; border-radius: 50% }
.navegation .pager a:hover { background: #999 }
.navegation .pager .selected { background: #b72025 }
.navegation .pager .selected:hover { background: #b72025 }






/* ---------------- BOTOES ---------------- */

.btn-drop {  width: 100%; float: left; font-size: 120%; font-weight: 300; background: url(../img/pix.png);  }


.btn-white { border: 1px solid #FFF; color: #FFF; }
.btn-white:hover { background: #FFF; color: #1c1c1c; }

.btn-black { border: 1px solid #1c1c1c; color: #1c1c1c; }
.btn-black:hover { background: #1c1c1c; color: #FFF; }

.btn-grey { border: 1px solid #999; color: #999; }
.btn-grey:hover { background: #999; color: #FFF; }


.btn-red { border: 1px solid #b72025; color: #b72025; }
.btn-red:hover { background: #b72025; color: #FFF; }

.btn-wine { border: 1px solid #720004; color: #720004; }
.btn-wine:hover { background: #810a0e; color: #b72025; }

/* ---------------- FOUND IDEAS ---------------- */
.row { position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
  min-width: 980px;

  *zoom: 1; }

@media (max-width:980px) {
  body {  overflow: scroll;}
}





  input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #FFF;
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }


  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    box-shadow: 0 0 5px #999999;
    border-color: #999999; }

  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none; }

  input[type="text"].no-valid,
  input[type="password"].no-valid,
  input[type="date"].no-valid,
  input[type="datetime"].no-valid,
  input[type="datetime-local"].no-valid,
  input[type="month"].no-valid,
  input[type="week"].no-valid,
  input[type="email"].no-valid,
  input[type="number"].no-valid,
  input[type="search"].no-valid,
  input[type="tel"].no-valid,
  input[type="time"].no-valid,
  input[type="url"].no-valid,
  textarea:focus {
    box-shadow: 0 0 5px #e44;
    border-color: #e44; }


  input[type="text"][disabled], fieldset[disabled] input[type="text"],
  input[type="password"][disabled], fieldset[disabled]
  input[type="password"],
  input[type="date"][disabled], fieldset[disabled]
  input[type="date"],
  input[type="datetime"][disabled], fieldset[disabled]
  input[type="datetime"],
  input[type="datetime-local"][disabled], fieldset[disabled]
  input[type="datetime-local"],
  input[type="month"][disabled], fieldset[disabled]
  input[type="month"],
  input[type="week"][disabled], fieldset[disabled]
  input[type="week"],
  input[type="email"][disabled], fieldset[disabled]
  input[type="email"],
  input[type="number"][disabled], fieldset[disabled]
  input[type="number"],
  input[type="search"][disabled], fieldset[disabled]
  input[type="search"],
  input[type="tel"][disabled], fieldset[disabled]
  input[type="tel"],
  input[type="time"][disabled], fieldset[disabled]
  input[type="time"],
  input[type="url"][disabled], fieldset[disabled]
  input[type="url"],
  textarea[disabled], fieldset[disabled]
  textarea {
    background-color: #dddddd; }
  input[type="text"].radius,
  input[type="password"].radius,
  input[type="date"].radius,
  input[type="datetime"].radius,
  input[type="datetime-local"].radius,
  input[type="month"].radius,
  input[type="week"].radius,
  input[type="email"].radius,
  input[type="number"].radius,
  input[type="search"].radius,
  input[type="tel"].radius,
  input[type="time"].radius,
  input[type="url"].radius,
  textarea.radius {
    border-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  background-color: #fafafa;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: 97% center;
  border: 1px solid #cccccc;
  padding: 0.5em;
  font-size: 0.875em;
  border-radius: 0;
  height: 3.3125em; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-color: #f3f3f3;
    border-color: #999999; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1em 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* We add basic fieldset styling */
fieldset {
  border: 1px solid #dddddd;
  padding: 1.25em;
  margin: 1.125em 0; }
  fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875em;
    margin: 0;
    margin-left: -0.1875em; }

/* Error Handling */
[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  padding: 0.375em 0.5625em 0.5625em;
  margin-top: -1px;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
[data-abide] span.error, [data-abide] small.error {
  display: none; }

span.error, small.error {
  display: block;
  padding: 0.375em 0.5625em 0.5625em;
  margin-top: -1px;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }

.error input,
.error textarea,
.error select {
  margin-bottom: 0; }
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1em; }
.error label,
.error label.error {
  color: #f04124; }
.error small.error {
  display: block;
  padding: 0.375em 0.5625em 0.5625em;
  margin-top: -1px;
  margin-bottom: 1em;
  font-size: 0.75em;
  font-weight: normal;
  font-style: italic;
  background: #f04124;
  color: white; }
.error > label > small {
  color: #676767;
  background: transparent;
  padding: 0;
  text-transform: capitalize;
  font-style: normal;
  font-size: 60%;
  margin: 0;
  display: inline; }
.error span.error-message {
  display: block; }

input.error,
textarea.error {
  margin-bottom: 0; }

label.error {
  color: #f04124; }




