table {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt}
div {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt}
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color:#006633; text-decoration: none}
a:hover{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: normal; color: #003300; text-decoration: underline}
.linkhome {  color: #FFFF99; text-decoration: none}
a.linkhome:hover{  color: #FFFF99; text-decoration: underline;}

.construtor {font-family: Verdana, Arial, Helvetica, sans-serif; 
font-size: 8pt; 
font-weight: bold; 
color: #3C5128; 
text-decoration: none}

.select {
	font-family: verdana;
   font-size: 11px;
   color: #119474;
   border-right:1px solid #81CD75; 
   border-left:1px solid #81CD75; 
   border-top:1px solid #81CD75; 
   border-bottom:1px solid #81CD75;

}
body {
SCROLLBAR-FACE-COLOR: #009933;
SCROLLBAR-HIGHLIGHT-COLOR: #119474;
SCROLLBAR-SHADOW-COLOR: #FFFFFF;
SCROLLBAR-3DLIGHT-COLOR: #FFFFFF;
SCROLLBAR-ARROW-COLOR:  #FFFFFF;
SCROLLBAR-TRACK-COLOR: #FFFFFF;
SCROLLBAR-DARKSHADOW-COLOR: #119474;
}.linkesp {  color: #FFFFCC}
.texto {
font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #003399; text-decoration: none
}
.instituicao_2008 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #006633;
}
