@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


/* ---------------------fonts------------------------- */


/*--------------------- BEGIN------------------------- */

body{
	font-family: Arial, sans-serif;
	font-size:14px;
	color:#000;
	background:#ccc;
	overflow:hidden
}


/* -----------------------------------CONTENT---------------------------------------- */
#sucesso{width:410px; height:110px; background:url(../img/sucesso.png); position:absolute; top:0; left:0; z-index:2}
#left-top{width:400px; height:160px; background:url(../img/left-top.png); position:absolute; top:0; right:0; z-index:2}
#left-bottom{width:430px; height:89px; background:url(../img/left-bottom.png); position:absolute; bottom:0; right:0; z-index:3}

#left-bg{width:480px; height:1043px; background:url(../img/left-bg.png); position:absolute; top:50%; margin-top:-521px; right:0; z-index:1; }

.form{width:270px; height:360px; margin-top:372px; margin-right:20px; float:right}

.tit{width:270px; height:60px; background:url(../img/tit.png) no-repeat}

.form ul{width:100%; height:305px;}
.form li{width:100%; margin-top:8px; position:relative; float:left}
label{position:absolute; margin-left:10px; *margin-left:10px; margin-top:11px; color:#e6f16b; font-weight:bold}
.campo{height:34px; background:url(../img/verde.png); border:0; border-bottom:1px solid #FFF; border-radius:5px; color:#FFF; *line-height:2.6; line-height:2.6\0/}

.campo:focus{background:#304748; }
textarea:focus{background:#304748;}

.nome{width:205px; padding-left:65px}
.email{width:205px; padding-left:65px}
.fone{width:190px; padding-left:80px}
textarea{font-size:14px; width:260px; padding-left:10px; height:63px; padding-top:31px; background:url(../img/verde.png); border:0; border-bottom:1px solid #FFF; border-radius:5px; color:#FFF; *line-height:1.0; line-height:1.0\0/; resize:none; overflow:auto}

.btn{width:270px; height:36px; margin-bottom:5px; background:url(../img/btn-enviar.png); border:0; float:left; cursor:pointer; text-indent:-1000000px;}
.btn:hover{background:url(../img/btn-enviar.png) 0 36px;}
.btn:active{background:url(../img/btn-enviar.png) 0 37px;}

.form p {font-size:12px;}

.pin{width:424px; height:192px; position:absolute; bottom:30px; left:30px; z-index: 1105; background:url(../img/pin-singolo.png) -460px -18px}
.pin:hover{background:url(../img/pin-singolo.png) -12px -18px}


