/*
Skin Name: Nivo Slider Dark Theme
Skin URI: http://nivo.dev7studios.com
Description: A dark skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-dark.slider-wrapper {
    padding: 10px 0 10px 0;
    width:860px;
}
.theme-dark .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    overflow: visible;
}
.theme-dark .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-dark .nivoSlider a {
	border:0;
	display:block;
}

.theme-dark .nivo-controlNav {
	text-align: left;
	height:55px;
	width:890px;
	padding:0;
	margin: 0 1px 0 1px;
	position: absolute;
		bottom:20px;
		left:-15px;
	z-index: 10;
}
.theme-dark .nivo-controlNav a {
	display:inline-block;
	width:10px;
	height:10px;
	background:rgb(253,184,19);
	text-indent:-9999px;
	border:0;
	margin: 20px 1px 0 0;
}
.theme-dark .nivo-controlNav a:first-child {
	margin-left:15px;
}
.theme-dark .nivo-controlNav a.active {
	background:rgb(75,29,61);
}

.theme-dark .nivo-directionNav a {
	display:block;
	width:55px;
	height:55px;
	background: rgb(75,29,61) url(../../img/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	top: auto;
	bottom: -42px;
	z-index: 11;
}
.theme-dark .nivo-directionNav a:hover {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.theme-dark a.nivo-nextNav {
	background-position:-40px 10px;
	right:-15px;
}
.theme-dark a.nivo-prevNav {
    background-position:10px 10px;
    left: auto;
	right: 41px;
}

.theme-dark .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-dark .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-dark .nivo-caption a:hover {
    color:#fff;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled {
	width: 80%;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-dark .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}