@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Ubuntu', Arial, sans-serif;
	font-size:18px;
	color:#454344;
	text-transform:uppercase;
}

h1{}
h2{}
h3{}
h4{}
#container{width:940px; display:table; position:relative; margin:0 auto}


/* -----------------------------------IN---------------------------------------- */
#info1{position:absolute; width:360px; height:20px; top:120px; left:0; font-size:20px; font-weight: 300; color:#908e71; text-shadow:0 1px 0 #FFF;}
#info2{position:absolute; width:320px; height:20px; top:260px; left:0; font-size:20px; text-transform:uppercase; font-weight:bold; text-shadow:0 1px 0 #FFF;}
#info2-2{position:absolute; width:320px; height:20px; top:230px; left:0; font-size:20px; text-transform:uppercase; font-weight:bold; text-shadow:0 1px 0 #FFF;}
#info2 span{color:#908e71}
#info2-2 span{color:#908e71; text-transform:none;}

#cadastro{width:380px; height:460px; float:right; margin-top:60px; text-shadow:0 1px 0 #FFF;}
#cadastro p{width:380px; height:100px; text-align:right; line-height:29px}

#cadastro2{width:380px; height:460px; float:right; margin-top:60px; text-shadow:0 1px 0 #FFF;}
#cadastro2 p{line-height:34px}
#cadastro2 a{text-transform:none; color:#47453c; text-shadow:0 1px 0 #d7d6d5; text-align:center; float:left; margin-top:20px;}

.p1{margin-top:100px;}
.p2{margin-top:50px; color:#579728}
.p3{margin-top:0px; font-size:14px; text-transform:none;}

#cadastro ul li{width:100%; float:left; margin-top:20px;	}
#cadastro label{width:90px; text-align:right; margin-top:5px; font-size:14px; text-transform:none;  float:left	}
#cadastro .formus{width:268px; height:28px; padding-left:10px; background:#fff; border:1px solid #aeaca3; float:right; border-radius:3px; font-size:14px; color:#908e71; line-height:2;	}
#cadastro textarea{width:268px; height:80px; padding-left:10px; background:#fff; border:1px solid #aeaca3; float:right; border-radius:3px; font-size:14px; color:#908e71; line-height:2;	}
#cadastro span{ font-size:12px; margin-left:100px; line-height:2; text-transform:none;  float:left}

.btn{width:130px; height:37px;  border:0; background:url(../img/btn.png); 	color:#47453c; text-shadow:0 1px 0 #d7d6d5; float:right; cursor:pointer} 
.btn:hover{background:url(../img/btn.png) 0 37px} 


/* -----------------------------------FOOTER---------------------------------------- */
#menu{display:none; width:940px; height:90px; background:url(../img/polo_menu.png) no-repeat; float:left;	}
.menu-in{width:120px; line-height:13px; float:left; color:#d7d5d5; font-size:10px; text-transform:none}
.menu-in span{font-weight:bold}

.menu-in-1{height:72px; padding-top:18px; margin-left:210px;}
.menu-in-2{height:78px; padding-top:12px; margin-left:85px;}
.menu-in-3{height:72px; padding-top:18px; margin-left:80px;}
.menu-in-4{height:79px; padding-top:11px; margin-left:80px;}




#footer{width:940px; height:60px; background:url(../img/logo_nex.png) right no-repeat; float:left; margin-top:20px; margin-bottom:20px; font-size:12px; text-transform:none; text-shadow:0 1px 0 #FFF;}
#footer p{float:left; margin-top:20px;}
#footer span{line-height:2; margin-left:35px; font-size:11px; text-shadow:0 1px 0 #d7d6d5;}
#footer a{color:#47453c; text-decoration:none}

.facebook{width:207px; height:25px; background:url(../img/face.png); float:left; margin-top:17px}
.facebook:hover{background:url(../img/face.png) 0 25px; margin-top:18px;}

.egl{width:70px; height:60px; float:right}
.nex{width:195px; height:60px; float:right}


#st-promo-social{margin-left:10px; margin-top:19px; float:left}








