@charset 'UTF-8';
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic|Droid+Sans:400,700&v2);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,400italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300italic,300,700italic,400italic);


body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    background: #FFF;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}
.a-black {
	color:#000;
	text-transform:none;
	text-decoration:underline!important;
}

form .field.error,
input.error, 
select.error {
	border:1px solid #F00!important;
	background: rgba(255,0,0,0.3)!important;
	color:#FFF!important;
}

.field.error::-webkit-input-placeholder {
   color: #FFF;
}

.field.error:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

.field.error::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

.field.error:-ms-input-placeholder {  
   color: #FFF;  
}

.a-black:hover, 
.a-black:visited {
	color:#000;
	text-transform:none;
	text-decoration:none!important;
}

.fa-check:before {
    color: green;
}
.click_fone {
	cursor:text;
}
.right {
    float: right;
}

.left {
    float: left;
}

.img100{ width:100%; height:auto;}
.spacer{float:left;width:100%;margin:1% 0;}
.tcenter {text-align:center;}
.themecolor {color: #17707b;}
.themebg {background:#17707b;}
.themebggradient {
	background: -webkit-linear-gradient(#18707b, #31454a); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#18707b, #31454a); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#18707b, #31454a); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#18707b, #31454a); /* Standard syntax */
}
.whitecolor { color:#fff; }

.ti400{font-family: 'Titillium Web', sans-serif;font-weight:400;font-style: italic;}
.t400{font-family: 'Titillium Web', sans-serif;font-weight:400;}
.t600 {font-family: 'Titillium Web', sans-serif;font-weight:600;}
.t700 {font-family: 'Titillium Web', sans-serif;font-weight:700;}

.lato300{font-family: 'Lato', sans-serif;font-weight:300;}
.latoi300{font-family: 'Lato', sans-serif;font-weight:300;font-style: italic;}
.lato400{font-family: 'Lato', sans-serif;font-weight:400;}
.latoi400{font-family: 'Lato', sans-serif;font-weight:400;font-style: italic;}
.lato700{font-family: 'Lato', sans-serif;font-weight:700;}
.latoi700{font-family: 'Lato', sans-serif;font-weight:700;font-style: italic;}

.locked {background-color: rgba(255,255,255,0.5); opacity: 0.5;}

.logo {
    z-index: 2;
    width: 125px;
    height: 35px;
    margin: 0;
    padding: 0;
    background: url(../../site/img/logo-green.png) center no-repeat;
    background-size: 125px 35px;
	height: 60px;
}

.logo-chacara {
	position: absolute;
    left: 50%;
    margin-left: -170px;
	background: url(../../site/img/bg-opacity.png) center no-repeat;
    background-position: 0px 60px;
}

.logo h1 {
	color:transparent!important;
}
#btn-avalie-aqui {
	width: 100%;
    background: #842007;
    padding: 9px 60px;
    border-radius: 0;
	margin-top: -48px;
    color: #fff;
	font-size: 20px;
    text-transform: none;
}

#btn-entenda-melhor {
	width: 100%;
    background: #aa2800;
    padding: 9px 60px;
    border-radius: 0;
	margin-top: -47px;
    color: #fff;
	font-size: 20px;
    text-transform: none;
}
header.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 16;
    width: 100%;
    background: rgba(255,255,255, 0.9);
    font-weight: 700;
    height: 60px;
	
	#background: -webkit-linear-gradient(#aa2800, #740700); /* For Safari 5.1 to 6.0 */
	#background: -o-linear-gradient(#aa2800, #740700); /* For Opera 11.1 to 12.0 */
	#background: -moz-linear-gradient(#aa2800, #740700); /* For Firefox 3.6 to 15 */
	#background: linear-gradient(#aa2800, #740700); /* Standard syntax */
}

header a {
    position: relative;
    z-index: 3;
    float: left;
    color: #17707b;
    padding: 1em 0 1em 1em;
}

header a .icon {
    float: left;
    color: #17707b;
    padding: 0 0.5em;
}

header a span {
	font-size:18px;
	text-transform: none;
}

header a span i {
    float: left;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    line-height: 0.8;
}

.label-mude-agora {
	position: absolute;
    top: 500px;
    width: 170px;
}

section, footer {float:left; width:100%;}

section.banner {
	background: url(../../site/img/banner-chacara.jpg) center center no-repeat;
	background-size:cover;
	width:100%;
	padding:0;
	min-height: 600px;
}

section.banner.banner-mobile {
	background: url(../../site/img/banner-chacara-clean.jpg) center center no-repeat;
	background-size:cover;
	width:100%;
	padding:0;
	min-height: 600px;
}

section.banner .container{
	position: relative;
    min-height: 600px;
}

section.banner .container .label-destaque{
	position: absolute;
    bottom: 0;
    right: 0;
	display:none;
}


section.imoveis {}

section.imoveis .rtitle{
	float:left;
	width:100%;
	border-bottom:2px solid #17707b;
}
section.imoveis .rtitle h5{
	padding:5px 20px;
	margin:0;
	width:15%;
	text-align:center;
}

section.imoveis .img-display{
	width:100%;
	height:auto;
}

.themegbgradient {
	#background: -webkit-linear-gradient(#aa2800, #740700); /* For Safari 5.1 to 6.0 */
	#background: -o-linear-gradient(#aa2800, #740700); /* For Opera 11.1 to 12.0 */
	#background: -moz-linear-gradient(#aa2800, #740700); /* For Firefox 3.6 to 15 */
	#background: linear-gradient(#aa2800, #740700); /* Standard syntax */
}

section.form {
}

section.form .img-success {
	width:100%;
	margin: 20px auto;
}

section.form h3 {
	text-align:center;
	font-size:20px;
	margin: 25px auto;
	color:#a62500;
	width: 100%;
}

section.form form {
    width: 100%;
    height: auto;
    margin: 2% 0 0 0;
    float: left;
}
section.form .btn:hover {
    color: #FFF;
    text-decoration: none;
	opacity:0.7;
}
section.form .btn {
	width:100%;
	padding: 9px 60px;
	border-radius: 0;
	font-size: 25px;
}

section.form select {
	background:#fafafa;
	border:1px solid #e6e6e6;
	color:#b0b0b0;
	text-transform: none;
}
section.form .field {
	width:100%;
	margin-bottom: 25px;
	background:#f0f5f5;
	border:0;
	border-bottom:1px solid #e6e6e6;
	padding: 15px 20px;
}

.field::-webkit-input-placeholder {
   color: #17707b;
}

.field:-moz-placeholder { /* Firefox 18- */
   color: #17707b;  
}

.field::-moz-placeholder {  /* Firefox 19+ */
   color: #17707b;  
}

.field:-ms-input-placeholder {  
   color: #17707b;  
}



section.video {
	padding:40px 0;
	
	background: -webkit-linear-gradient(#aa2800, #740700); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#aa2800, #740700); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#aa2800, #740700); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#aa2800, #740700); /* Standard syntax */
}

section.video h1 { 
	font-size:25px;
	margin:50px auto;
	text-align:center;
	color:#FFF;
}

section.video iframe{
	max-width:100%;
}

footer.footer { 
	background: -webkit-linear-gradient(#edf0f1, #dde3e6); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#edf0f1, #dde3e6); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#edf0f1, #dde3e6); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#edf0f1, #dde3e6); /* Standard syntax */
}
section.rights {
    padding: 10px 0;
	background: #1f636c;
}


header .chatbox {
	position: absolute;
    top: 60px;
    right: 33px;
    z-index: 99999;
	width:340px;
	overflow:hidden;
}
header .chatbox .toggle-chat{
	float:left;
	width:100%;
	padding:5px 10px;
	text-align: right;
	cursor:pointer;
	border-radius: 0px 0px 10px 10px;
}
header .chatbox iframe{
	border:0;
	float:left;
	overflow:hidden;
}

@media only screen and (min-device-width: 641px) and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
	.hide-tablet {display:none!important}
	.show-mobile{display:block!important;}
	
	.logo-chacara {    
		left: 0;
		margin-left: -30px;
	}
	
	.label-mude-agora {
		top: 108px;
	}
	
	h1 { font-size: 34px; }
	.click_fone {
		padding: 1em 0;
	}
	
	.click_fone span {
		font-size: 18px;
	}
	
	.img-display { margin-bottom:1px;}
	
	section.imoveis .rtitle h5 {
		width:25%;
	}
	
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
	.hide-mobile {display:none!important} 
	.show-mobile{display:block!important;}
	
	.show-only-mobile{display:block!important;}
	.hlinks {width:100%;}
	.no-float-mobile { float:none; }
	h1 { font-size: 13px; margin: 5px auto; }
	
	h2 { font-size: 14px; margin: 5px auto;}
	
	.logo-chacara {
		background: rgba(255,255,255, 0.9);
		top: 60px;
		width: 200px;
		right: 0;
		left: auto;
	}
	.img-display { margin-bottom:1px;}
	
	.label-mude-agora {
		top: 60px;
		width: 100px;
		left: 10px;
	}
	
	section.banner {
		min-height: 400px;
	}
	section.banner .container {
		min-height: 400px;
	}
	
	section.banner.banner-mobile{
		min-height: 400px;
	}
	
	section.banner.banner-mobile {
		background: url(http://www.nexgroup.com.br/uploads/imoveis/midias/2e24c0ed1b8978657162fe3c96585fd2.jpg) top center no-repeat;
		background-size: cover;
		width: 100%;
		padding: 0;
		min-height: 400px;
		background-position: -75px 81px;
	}
	section.banner .container .label-destaque {
		position: absolute;
		top: 165px;
		width: 100px;
		z-index: 999;
		left: 50%;
		margin-left: -50px;
	}
	
	
	section.form {
		padding: 20px 0;
	}
	
	section.form h3 {
		font-size: 15px;
		margin: 10px auto;
	}
	
	section.video {
		padding: 20px 0;
	}
	
	section.video h1 {
		font-size: 15px;
		margin: 10px auto;
	}
	
	section.imoveis .rtitle h5 {
		width:100%;
	}
	
	.click_fone {
		padding: 1em 0;
	}
	
	.click_fone span {
		font-size: 18px;
	}
	.icon-phone { font-size: 20px; }
}