@charset "utf-8";
/* CSS Document */

/* ---------------- RESET ---------------- */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;  font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
    :focus { outline: 0;}
    a, a:link, a:visited, a:hover, a:active{text-decoration:none}
    table { border-collapse: separate;border-spacing: 0;}
    th, td {text-align: left; font-weight: normal;}
    img, iframe {border: none; text-decoration:none;}
    ol, ul {list-style: none;}
    input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
    select {margin: inherit;}
    hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


    html { background:#bd2945; }
    body{ font-family: 'neosansregular'; font-size:62.5%; color:#1c1c1c; font-weight:100; background:#bd2945; height: auto; overflow-x: hidden; }
    b { font-weight:900 }

    /*  BORDA ARREDONDADA  */
    .radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

    /*  EFEITO SMOTH  */
    .smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

    /*  IES  */
    .ie8 input {line-height:2.0 !important;}
    .ie7 input {line-height:3.0 !important;}

    section {width:100%; position: relative; float:left; }

    .fixed { position: fixed; z-index: 9999; }
    .relative { position: relative; }

    /*  MARGINS  */
    .nomargin { margin: 0 0 0 0 !important; }

    /*  ROW  */
    .row { position: relative; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 1200px; }

/* ---------------- RESET END ---------------- */




/************************************************************************************
                                    RESPONSIVO
*************************************************************************************/
      /* ---------------- MOBILE ---------------- */
            @media (max-width:900px) {
  
              #setor1 { height: 500px !important }
              #setor1 .front h2 { font-size: 4em !important }


             .modal {  margin-top: 23% !important  }

            }
            @media (max-width:700px) {
  
              #setor1 .front h2 { font-size: 3em !important }

              #setor2 .top img { width: 90% !important; margin: 5% 5% 0 !important  }

              #setor2 .top .infos { margin: 5% 5% 7.5% !important; }

             .modal {  margin-top: 26% !important  }


            }
      /* ---------------- MOBILE END ---------------- */


      /* ---------------- NO MOBILE ---------------- */
            @media (max-width:500px) {

              #setor1 { height: 400px !important }
              #setor1 .front img { width: 250px !important; margin: 10% 0 8% -125px !important }
              #setor1 .front h2 { font-size: 2.1em !important }

              #setor1 .front a { font-size: 1.4em !important; margin: 5% 0 5% -130px !important;  }

              #setor3 .bottom img {  width: 250px !important;  margin: 0 0 0 -125px !important}

              #setor3 p { width: 90% !important; margin: 0 5% !important; font-size: 0.8em !important }

             .modal {  margin-top: 40% !important  }
             .modal .text-all {  font-size: 1.1em !important}

            }

      /* ---------------- NO MOBILE END ---------------- */

/************************************************************************************
                                    RESPONSIVO END
*************************************************************************************/


#setor1 { width: 100%; height: auto; background: url(../img/bg.jpg); background-size: cover !important; float: left; }

#setor1 .front { width: 100%; float: left; margin-bottom: 3%  }

#setor1 .line { width: 100%; height: 547px; background: url(../img/line.png) top repeat-x; position: absolute; z-index: 1  }


#setor1 .front img { width: 342px; position: relative; left: 50%; margin: 6% 0 4% -175px; float: left; z-index: 2 }
#setor1 .front h2 { width: 100%; position: relative; font-size: 5.5em; text-align: center; color: white; float: left; z-index: 2 }

#setor1 .front a { font-family: 'neosansbold'; width: auto; text-transform: uppercase; font-size: 1.8em; float: left; padding: 1em 1.5em 0.7em; background: white; color: #0072a7; border-radius: 7px; position: relative; left: 50%; margin: 5% 0 5% -170px; z-index: 3; cursor: pointer; }
#setor1 .front a:hover { text-decoration: underline; }

#setor1 .line2 { width: 0; height: 119px; border: 1px dashed #dae61a; position: relative; left: 50%;  margin: 480px 0 0 -1px; z-index: 2  }




#setor2 { width: 100%; height: auto; background: url(../img/pattern.png) #e32e4f; border: 1px dashed #dae61a; float: left; margin-top: -75px; position: relative; z-index: 3 }


#setor2 .top {width: 80%; margin: 5% 10%; float: left; }
#setor2 .top img { width: 45%; margin: 0 5% 0 0; float: left; }
#setor2 .top .infos { margin: 85px 0 0 5% }

#setor3 .bottom {width: 100%; margin: 0 0 4% 0; float: left; }
#setor3 .bottom img { position: relative; left: 50%; margin: 0 0 0 -230px; float: left; }


#setor3 {  font-family: arial; width: 100%; height: auto; float: left; margin:2.5% 0; color: white; text-align: center; }





      .modal { position: absolute; top: 0; margin-top: 20%; left: 0; z-index: 1000; display: none; background: #e32e4f; border: 1px dashed #dae61a;  }
      .modal iframe {position: absolute; z-index: 1005; float: left; margin: 0 0 0 0; width: 100% !important; }
      .modal .btn-fechar {position: absolute; z-index: 1006; float: left; width: 50px; height: 44px; background: #dae61a; border: 1px dashed #dae61a; border-radius: 50%; color: black; text-align: center; margin: -27px 0 0 -28px; padding: 6px 0 0 0; cursor: pointer; left: 50%  }
      .modal .btn-fechar:hover { background: #F0FF00 }
      .modal .btn-fechar p {float: left; width: 100%; text-align: center; padding-top:7px; font-size: 2.3em; font-weight: 700 }
      .black-modals { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: black; opacity: 0.7; filter: alpha(opacity =70); z-index: 999;display: none   }


      .modal .text-all { font-family: arial; font-size: 1.4em; line-height: 1.5; color: #FFF; width: 70%; margin: 0 15%; padding: 5% 0}
      .modal .text-all b { font-size: 1.8em;}

      .modal .text-all .title { font-size: 2.3em; font-family: 'neosansregular' !important; text-align: center !important; width: 100%; float: left; color: #F0FF00; margin: 3% 0 5% 0 }
