#carouselContainer {
  width:690px;
  height:350px;
  margin: 0 auto; 
  border:solid 10px rgb(35,50,51);
  position:relative;
}
.carousel {
  position: relative;
  line-height: 1;
  margin-bottom: 60px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
 .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
.carousel .item {
  position: relative;
  height: 410px;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}
.carousel .item > img {
  display: block;
  line-height: 1;
  min-width: 100%;
  height: 350px;
}
.carousel .active,
.carousel .next,
.carousel .prev {
  display: block;
}
.carousel .active {
  left: 0;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel .next {
  left: 100%;
}
.carousel .prev {
  left: -100%;
}
.carousel .next.left,
.carousel .prev.right {
  left: 0;
}
.carousel .active.left {
  left: -100%;
}
.carousel .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 30%;
  left: -70px;
  width: 140px;
  height: 162px;
  font-weight: 100;
  line-height: 115px;
  padding-left:22px;
  padding-top:22px;
  color: #3d6060;
  text-align: left;
  background: rgb(35,50,51);
  border: 3px solid #ffffff;
  
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	behavior: url(pie/PIE.htc); 

  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  font-weight:900;
}
.carousel-control.right {
  right: -70px;
  left: auto;
  text-align: right;
  padding-right:22px;
}
.carousel-control:hover {
  color: #CCC;
  text-decoration: none;
}
.carousel-caption {
  padding: 15px;
  background-color: transparent;
  position: relative;
  display:block;
  max-width: 550px;
  margin:0 auto;
  
}
.carousel-caption h1,
    .carousel-caption .lead {
		width:550px;
      margin: 0 auto;
      line-height: 1.25;
      color: #f7f3e2;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      text-align: center;
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }
.carousel-caption h4,
.carousel-caption p {
  line-height: 20px;
  color: #ffffff;
}
.carousel-caption h4 {
  margin: 0 0 5px;
}
.carousel-caption p {
  margin-bottom: 0;
}