@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}

/* -----------------------------------MEMORY---------------------------------------- 
	font-weight:300;
	font-weight:400;
	font-weight:600;
	font-weight:700;
	font-weight:800;
	
	opacity:0.8; filter: alpha(opacity=80);
	
	text-shadow:0px 1px 0px #FFF;
	text-indent:-1000000px;
	
 -----------------------------------MEMORY---------------------------------------- */
body{
	font-family: 'Lato', Arial, sans-serif;
	font-size:16px;
	color:#f7f3e2;
	font-weight:300;
}

h1{}
h2{}
h3{}
h4{}

.container_960{width:960px; margin:0 auto}

.container { width:100%; position:relative; overflow:hidden}


section {}

/* -----------------------------------HEADER---------------------------------------- */
header {width:100%; position:fixed; z-index:12; height:60px;}
header #headerbg{ width:100%; position:fixed; z-index:7; height:60px; background:#233334; 
	opacity:0.8; *left:0;
	filter: alpha(opacity=80);
 }
header nav { position:relative; z-index:8 }
header nav a { text-shadow:0px 1px 0px #000; color:#e7f16e; font-size:14px; height:39px; padding:21px 10px 0 10px; float:left; font-weight:900; text-transform:uppercase }
.ie9 header nav a { font-size:12px; }
.ie7 header nav a { font-size:13px; }
.ie8 header nav a { font-size:13px; }


header nav a:hover { background:#273939 }
header nav li { float:left;  }

header nav .drop { position:relative }
header nav .legenda {display:none; background:#273939; text-transform:uppercase; height:29px; padding:11px 20px 0 20px; color:#f5f1df; font-weight:900; position:absolute; margin-top:60px; *left:0; }
header nav .drop:hover > .legenda { display:block }
header nav .leg_corretor { width:130px; margin-left:-120px; }
header nav .leg_plantao { width:150px; margin-left:-140px; }
header nav .leg_indique { width:150px; margin-left:-140px; }
header nav .leg_interesse { width:125px; margin-left:-115px; }




header nav .home { background:url(../img/menu.png); width:30px; height:39px; text-indent:-1000000px }
header nav .home:hover, header nav .home.hover { background:url(../img/menu.png) #273939 }

header nav .corretor { background:url(../img/menu.png) -50px 0; width:30px; height:39px; text-indent:-1000000px }
header nav .corretor:hover, header nav .corretor.hover { background:url(../img/menu.png) -50px 0 #273939 }

header nav .plantao { background:url(../img/menu.png) -100px 0; width:30px; height:39px; text-indent:-1000000px }
header nav .plantao:hover, header nav .plantao.hover { background:url(../img/menu.png) -100px 0 #273939 }

header nav .indique { background:url(../img/menu.png) -150px 0; width:30px; height:39px; text-indent:-1000000px }
header nav .indique:hover, header nav .indique.hover { background:url(../img/menu.png) -150px 0 #273939 }

header nav .interesse { background:url(../img/menu.png) -200px 0; width:30px; height:39px; text-indent:-1000000px }
header nav .interesse:hover, header nav .interesse.hover { background:url(../img/menu.png) -200px 0 #273939 }

header nav .line {width:0; height:30px; border-left:1px solid #394843; border-right:1px solid #5c6864; margin:15px 10px 0 10px; background:#F00 }


/* -----------------------------------HOME---------------------------------------- */
#home {}
#home .container_curve { 
	
	width:4000px;
	position:absolute; 
	left:50%; 
	margin-left:-2000px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #666; 
	-webkit-box-shadow: 0px 0px 20px  #666;
	-moz-box-shadow: 0px 0px 20px  #666;	 
	}


#home h1{ width:479px; height:231px; text-indent:-1000000px; position:absolute; z-index:8; left:50%; margin-left:-239px; margin-top:145px; background:url(../img/logo.png); }
#home figure { width:256px; height:86px; text-indent:-1000000px; position:absolute; z-index:8; left:50%; margin-left:-483px; margin-top:400px; background:url(../img/tipologia.png);  }
#home .img { 
	background:url(../img/vista.jpg) -110px -30px;
	width:210px;
	height:210px;
	position:absolute; 
	z-index:7;
	left:50%; 
	margin-left:224px;
	margin-top:370px;

	border:3px solid #395152;
	
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	
	box-shadow: 0px 0px 5px  #666; 
	-webkit-box-shadow: 0px 0px 5px  #666;
	-moz-box-shadow: 0px 0px 5px  #666;	 
 	behavior: url(/pie/PIE.htc); 
 }


.bg_home_1 {height:400px; background:url(../img/bg/bg.jpg)}
.bg_home_2 {height:600px; background:url(../img/bg/bg2.jpg) center -150px;}
#home .box {margin-top:-100px; padding-top:50px; height:625px;}

.green { 	
	width:100px;
	height:100px;
	position:absolute; 
	z-index:8;
	left:50%; 
	margin-left:170px;
	margin-top:516px;
	border:3px solid #395152;
	
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight: 900;
	color:#395152;
	background:#d5e14d;
 
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 5px  #666; 
	-webkit-box-shadow: 0px 0px 5px  #666;
	-moz-box-shadow: 0px 0px 5px  #666;	 
 }
.ie9 .green { font-size:13px }

.green p {margin-top:35px} 	


/* -----------------------------------VIDEO---------------------------------------- */
#video {}
#video .container_curve { 
	
	width:3000px;
	position:absolute; 
	left:50%; 
	margin-left:-1500px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #000; 
	-webkit-box-shadow: 0px 0px 20px  #000;
	-moz-box-shadow: 0px 0px 20px  #000;	 
}

#video h1{ width:470px; height:65px; text-indent:-1000000px; position:absolute; z-index:8; left:50%; margin-left:-290px; margin-top:45px; *margin-top:-20px; background:url(../img/h1video.png); }

.bg_video {height:240px; background:#273939}

#video .box {margin-top:-100px; padding-top:50px; height:240px; *top:-110px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#video .box:hover {height:250px;}
#video .box:hover > .bg_video {background:#2f4242}


/* -----------------------------------INFRAESTRUTURA---------------------------------------- */
#infra {position:relative}
#infra .container_curve { 
	
	width:6000px;
	position:absolute; 
	left:50%; 
	margin-left:-3000px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0; 
	
	box-shadow: 0px 0px 20px  #000; 
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px  #000;
	behavior: url(/pie/PIE.htc);
}

.bg_infra {height:1650px; background:url(../img/bg/bg_infra.jpg)  center -10px}
#infra .box {margin-top:-140px; padding-top:50px; height:1650px; *top:-120px}

#infra .container_960{ padding-top:50px; }
#infra .img1 { float:left; margin-left:105px; margin-bottom:60px; }
#infra .img1:hover { 	opacity:0.8; filter: alpha(opacity=80);	 }
#infra .text { float:right; width:450px; height:210px; margin-top:70px; margin-right:80px }
#infra h2 {float:left; font-size:26px; margin-bottom:20px; text-transform:uppercase;}
.ie9 #infra h2 { font-size:24px; }

#infra p {float:left; line-height:24px;}
.ie9 #infra p {font-size:14px}


#infra h1{ width:369px; height:32px; text-indent:-1000000px; margin:0 auto; clear:both; background:url(../img/h1infra.png); }

#infra .img {
	cursor: pointer;
	float:left;
	width:160px;
	height:160px;
	visibility:visible;
	position:relative;
	margin-bottom:15px;
	border:3px solid #395152;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	display:block !important;
	z-index: 11;
	behavior: url(/pie/PIE.htc); 

 }

 
#infra .img:hover { background-position:right right } 
#infra .images{ 
	width:160px;
	height:220px;
	text-align:center;
	margin-left:20px;
	float:left;
	margin-top:50px;
	text-transform:uppercase;
}
#infra a {color:#f7f3e2;}
#infra .marginleft{margin-left:115px;}

#infra .a { background:url(../img/infra/small_02.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .a:hover { background:url(../img/infra/small_02.jpg) left 0;}
.ie9 #infra .a:hover , .ie8 #infra .a:hover , .ie7 #infra .a:hover { background:url(../img/infra/small_02.jpg) right 0;}

#infra .b { background:url(../img/infra/small_03.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .b:hover { background:url(../img/infra/small_03.jpg) left 0;}
.ie9 #infra .b:hover, .ie8 #infra .b:hover, .ie7 #infra .b:hover { background:url(../img/infra/small_03.jpg) right 0;}

#infra .c { background:url(../img/infra/small_04.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .c:hover { background:url(../img/infra/small_04.jpg) left 0;}
.ie9 #infra .c:hover, .ie8 #infra .c:hover, .ie7 #infra .c:hover { background:url(../img/infra/small_04.jpg) right 0;}

#infra .d { background:url(../img/infra/small_05.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .d:hover { background:url(../img/infra/small_05.jpg) left 0;}
.ie9 #infra .d:hover, .ie8 #infra .d:hover, .ie7 #infra .d:hover { background:url(../img/infra/small_05.jpg) right 0;}

#infra .e { background:url(../img/infra/small_06.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .e:hover { background:url(../img/infra/small_06.jpg) left 0;}
.ie9 #infra .e:hover, .ie8 #infra .e:hover, .ie7 #infra .e:hover { background:url(../img/infra/small_06.jpg) right 0;}

#infra .f { background:url(../img/infra/small_07.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .f:hover { background:url(../img/infra/small_07.jpg) left 0;}
.ie9 #infra .f:hover, .ie8 #infra .f:hover, .ie7 #infra .f:hover { background:url(../img/infra/small_07.jpg) right 0;}

#infra .g { background:url(../img/infra/small_08.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .g:hover { background:url(../img/infra/small_08.jpg) left 0;}
.ie9 #infra .g:hover, .ie8 #infra .g:hover, .ie7 #infra .g:hover { background:url(../img/infra/small_08.jpg) right 0;}

#infra .h { background:url(../img/infra/small_09.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .h:hover { background:url(../img/infra/small_09.jpg) left 0;}
.ie9 #infra .h:hover, .ie8 #infra .h:hover, .ie7 #infra .h:hover { background:url(../img/infra/small_09.jpg) right 0;}

#infra .i { background:url(../img/infra/small_10.jpg) right 0; -webkit-transition: all 3s ease-out; -moz-transition: all 3s linear; -o-transition: all 3s linear; transition: all 3s linear;}
#infra .i:hover { background:url(../img/infra/small_10.jpg) left 0;}
.ie9 #infra .i:hover, .ie8 #infra .i:hover, .ie7 #infra .i:hover { background:url(../img/infra/small_10.jpg) right 0;}



/* -----------------------------------DECORADO---------------------------------------- */
#decorado {height:500px;  position:relative; clear:both; padding-top:50px;}
#decorado h1{ width:565px; height:32px; text-indent:-1000000px; margin:0 auto; margin-bottom:50px; margin-top:30px; background:url(../img/h1decorado.png); }
#decorado a {color: #3D6060;}

/* -----------------------------------360TOUR---------------------------------------- */
#tour {}
#tour .container_curve { 
	
	width:3000px;
	position:absolute; 
	left:50%; 
	margin-left:-1500px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #000; 
	-webkit-box-shadow: 0px 0px 20px  #000;
	-moz-box-shadow: 0px 0px 20px  #000;	 
}

#tour h1{ width:497px; height:77px; text-indent:-1000000px; position:absolute; z-index:8; left:50%; margin-left:-290px; margin-top:40px; *margin-top:-110px; background:url(../img/h1tour.png); }

.bg_tour {height:240px; background:url(../img/bg/bg_360.jpg)}

#tour .box {margin-top:-100px; padding-top:50px; height:240px; *top:-200px; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#tour .box:hover {height:250px;}
#tour .box:hover > .bg_video {background:#2f4242}

/* -----------------------------------PLANTAS---------------------------------------- */
#plantas {position:relative}
#plantas .container_curve { 
	
	width:5000px;
	position:absolute; 
	left:50%; 
	margin-left:-2500px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #000; 
	-webkit-box-shadow: 0px 0px 20px  #000;
	-moz-box-shadow: 0px 0px 20px  #000;	 
}

.bg_plantas {height:810px; background:url(../img/bg/bg_plantas.jpg) center}
#plantas .box {margin-top:-140px; padding-top:50px; height:810px; *top:-200px; }

#plantas .container_960{ padding-top:50px; height:730px; background:url(../img/line_plantas.png) 120px 90px no-repeat }

#plantas h1{ width:185px; height:32px; text-indent:-1000000px; margin:0 auto; margin-bottom:50px; clear:both; background:url(../img/h1plantas.png); }

#plantas .right { float: right; margin-right: 60px; }

/* -----------------------------------LOCALIZACAO---------------------------------------- */
#localiza {position:relative}
#localiza .container_curve { 
	
	width:5000px;
	position:absolute; 
	left:50%; 
	margin-left:-2500px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #000; 
	-webkit-box-shadow: 0px 0px 20px  #000;
	-moz-box-shadow: 0px 0px 20px  #000;	 
}

.bg_localiza {height:920px; background:url(../img/bg/bg_localiza.jpg) center}
#localiza .box {margin-top:-140px; padding-top:50px; height:920px; *top:-200px; }

#localiza .container_960{ padding-top:50px; height:730px; }

#localiza h1{ width:291px; height:47px; text-indent:-1000000px; margin:0 auto; clear:both; background:url(../img/h1localiza.png); }

#localiza h2 {float:left; font-size:20px; font-weight:700; margin-top:30px; margin-bottom:5px; text-transform:uppercase; width:100%}
#localiza p {float:left; line-height:24px; font-size:19px;  width:100%}
#localiza .special { font-size:16px; }
#localiza p span {font-weight:700;}

#localiza img {float:left; margin-top:20px;}
#localiza .margin140 {margin-left:150px;}
#localiza .center {text-align:center}
#localiza .bottom {margin-bottom:30px}
#localiza .top {margin-top:30px}

#localiza .line {width:640px; height:0; border-top:1px solid #293f40; border-bottom:1px solid #486466; margin:0 auto; clear:both	}





/* -----------------------------------CONTATO---------------------------------------- */
#contato {position:relative}
#contato .container_curve { 
	
	width:5000px;
	position:absolute; 
	left:50%; 
	margin-left:-2500px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #000;
	-webkit-box-shadow: 0px 0px 20px  #000;
	-moz-box-shadow: 0px 0px 20px  #000;
}

.bg_contato {height:730px; background:url(../img/bg/bg_contato.jpg) center 1px}
#contato .box {margin-top:-140px; padding-top:50px; height:730px; *top:-200px; }

#contato .container_960{ padding-top:50px; height:730px; background:; }

#contato h1{ width:628px; height:32px; text-indent:-1000000px; float:left; clear:both; background:url(../img/h1contato.png); }

#contato .formulario { width:420px; height:410px; float:left; margin-top:35px; color:#4a6668; background: }
#contato .formulario p { font-size:12px; float:right }

#contato li { width:420px; height:50px; float:left; margin-top:10px;

	border:1px solid #abbab6;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	visibility:visible;
	position:relative;
	z-index: 11;
	display:block !important;
		
	behavior: url(/pie/PIE.htc); 

 }
 

 
#contato .textareali { height:130px; }
#contato .campo { width:300px; float:right; height:50px; padding-right:10px; line-height:2.0; *line-height:3.0;
	background:none;
	border:none;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url(/pie/PIE.htc); 
 }
#contato label { background:; width:70px; padding-left:10px; margin-top:15px; float:left; text-align:left; color:#4a6668; font-size:16px; font-weight:700; text-transform:uppercase;  }

#contato .nome { width:330px; }
#contato .email { width:330px; }
#contato .telefone { width:310px; }

#contato .textarea {}
#contato textarea { width:300px; float:right; height:115px; resize:none; padding-top:15px; padding-right:10px;
	background:none;
	border:none;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	visibility:visible;
	position:relative;
	z-index: 11;
	display:block !important;

	
	behavior: url(/pie/PIE.htc); 
 }

#contato .btn-enviar { width:420px; height:50px; float:left; margin-top:10px;
	color:#e8f171;
	font-size:20px;
	text-transform:uppercase;
	font-weight:700;
	cursor:pointer;

	border:none;
	border-radius:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	visibility:visible;
	position:relative;
	z-index: 11;
	display:block !important;
	
	background: #EEFF99;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#567577), to(#263b3c));
	background: -webkit-linear-gradient(#567577, #263b3c);
	background: -moz-linear-gradient(#567577, #263b3c);
	background: -ms-linear-gradient(#567577, #263b3c);
	background: -o-linear-gradient(#567577, #263b3c);
	background: linear-gradient(#567577, #263b3c);
	-pie-background: linear-gradient(#567577, #263b3c);

	behavior: url(/pie/PIE.htc); 

 }

#contato .btn-enviar:hover { background: #567577; border-top:1px solid #263b3c; }

#contato h2 { float:left; color:#2b4142; margin-left:100px; margin-top:40px; *margin-top:100px; 
	font-size:24px;
	font-weight:700;
	
 }
#contato h2 span { font-size:50px; font-weight:900; text-transform:uppercase; margin-left:-40px; *font-size:40px; }
.ie9 #contato h2 span { font-size:40px; }
/* -----------------------------------FOOTER---------------------------------------- */
footer {}
footer .container_curve { 
	
	width:3000px;
	position:absolute; 
	left:50%; 
	margin-left:-1500px;
 
	border-radius:50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	-moz-border-radius: 50% 50% 0 0;
	behavior: url(/pie/PIE.htc); 
	
	box-shadow: 0px 0px 20px  #000; 
	-webkit-box-shadow: 0px 0px 20px  #000;
	-moz-box-shadow: 0px 0px 20px  #000;	 
}

.bg_footer {height:240px; background:#FFF}

footer .box {margin-top:-100px; padding-top:50px; height:240px; *top:-200px; 
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

footer .container_960{ padding-top:50px; height:300px; background:; }
footer #facebook {
width: 252px;
height: 32px;
margin-top: 50px;
background: url(../img/facebook.png);
float: left;
cursor: pointer;
}
footer #facebook:hover { background:url(../img/facebook.png) 0 -33px }

footer figure { 
	background:url(../img/footer_logos.png); 
	width: 706px;
	height: 85px; 
	margin:0 auto;
 }

#divex{ float:right;  margin-top: 55px;
	width:106px;
	height:21px;
	background:url(../img/footer-divex.png);
		-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

}

#divex:hover{
	background:url(../img/footer-divex.png) 0 21px;
}

/* -----------------------------------SUCESSO---------------------------------------- */
.sucesso {  height:150px; overflow:hidden;
	background: #EEFF99;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#567577), to(#263b3c));
	background: -webkit-linear-gradient(#567577, #263b3c);
	background: -moz-linear-gradient(#567577, #263b3c);
	background: -ms-linear-gradient(#567577, #263b3c);
	background: -o-linear-gradient(#567577, #263b3c);
	background: linear-gradient(#567577, #263b3c);
	-pie-background: linear-gradient(#567577, #263b3c);
	behavior: url(/pie/PIE.htc); 
 }

.sucesso p { margin-top:45px; text-align:center; text-transform:uppercase; font-size:22px; line-height:1.4; font-weight:100 }


.plantao_mod {  height:250px; overflow:hidden;
	background: #EEFF99;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#567577), to(#263b3c));
	background: -webkit-linear-gradient(#567577, #263b3c);
	background: -moz-linear-gradient(#567577, #263b3c);
	background: -ms-linear-gradient(#567577, #263b3c);
	background: -o-linear-gradient(#567577, #263b3c);
	background: linear-gradient(#567577, #263b3c);
	-pie-background: linear-gradient(#567577, #263b3c);
	behavior: url(/pie/PIE.htc); 
 }

.plantao_mod p { margin-top:30px; text-align:center; text-transform:uppercase; font-size:22px; line-height:1.4; font-weight:100 }
.plantao_mod span { text-transform:none; font-size:18px; color:#FFF; line-height:1.4; font-weight:100; padding-bottom:20px; }
.plantao_mod .number { font-size:32px; }








