/* GLOBAIS */
BODY { margin:0; padding:0; border:0; background:#FFF; }
DIV, INPUT, SELECT, TEXTAREA, TD, TH { font-family:"Trebuchet MS", Verdana, Helvetica, Arial; font-size:11px; color:#898989; }
INPUT, SELECT, TEXTAREA { border:1px solid #DDD;  }
FORM { display:inline; }
IMG { border:0; }
A { color:#898989; text-decoration:none; }
A:HOVER { color:#666; }

/* BÁSICOS */
.clr { clear:both; }
.a-center { text-align:center !important; }
.a-right { text-align:right !important; }
.base-mg { padding-bottom:30px; }
#fotos { width:143px; float:left; padding: 5px; }
#galeria { padding-bottom: 100px; }

#menu-box ul li { list-style: none; font-size:11px; }
#menu-box { width: 150px; margin-top: -5px; *margin-top: -5px; _margin-top: -5px; }

#sub-menu ul li { list-style: square; margin-left:30px; font-size:10px; }

#mostra_conf ul li { list-style: none; margin-left:50px; }
#mostra_fotos ul li { list-style: none; margin-left:50px; }
#mostra_guia ul li { list-style: none; margin-left:50px; }
#mostra_servicos ul li { list-style: none; margin-left:50px; }
#mostra_formularios ul li { list-style: none; margin-left:50px; }

/* ESTRUTURA */
#topo { height:111px; margin: 0 auto; }
#logo { float:left; width:500px; }
#logo H1 { height:90px; margin:0; padding:0; margin-top:10px; background:url(../img/logo.gif) left top no-repeat; text-indent:-9999px; }
#identificacao { float:left; width:200px; padding-top:48px; text-align:right; }
#conceitual { height:50px; background: url(../img/bg-conceitual.jpg) left top repeat-x;  }
#conceitual-mg { width:980px; height:50px; margin:0 auto;  }
#miolo { width:820px; margin: 0 auto; }
#menu { float:left; width:200px; min-height:400px; background:url(../img/bg-menu.jpg) left top no-repeat; }
#menu-mg { padding-left:30px; }
#menu-mg li { list-style: square; padding-left: 3px; padding-top: 5px; font-weight: bold;  }
#conteudo { float:left; width:620px; }
#conteudo-mg { }
#rodape { height:79px; background: #ECECEC; }
#rodapeHome { height:79px; background: #ECECEC; }
#rodape H6 { height:56px; text-align:center; text-color: #000000; font-size: 9px; }
.centralizacao { width:760px; margin: 0 auto; }

#rodape .rodape-conceito { width:820px; height:79px; margin:0 auto; }
#rodapeHome .rodape-conceito { width:820px; height:79px; margin:0 auto; }

/* LAYOUT */
#logon-box { width:300px; margin:0 auto; }
.nome { font-weight:bold; }
#titulo { height:37px; }
.subtitulo { color:#FF6C00; text-transform:uppercase; }
.cadastros { float:left; font-weight:bold; margin-bottom:15px; padding-left:127px; background:url(../img/bg-cadastros.gif) left center no-repeat; }
.botoes { float:right; text-align:right; }
.botoes A { padding-left:10px; }
.coluna-unica { width:100%; }

#creditos { width:96px; margin-left:35px; padding-top:20px; }
#creditos-tit { height:24px; background:url(../img/tit-creditos.gif) left top no-repeat; }
#creditos-box { padding:5px 4px 18px 4px; background:#F3F3F3 url(../img/bg-creditos.gif) right bottom no-repeat; text-align:center; }
#creditos-box SPAN { display:block; font-weight:bold; }
#creditos-bt { padding-top:10px; }

.txt-destaque { font-weight:bold; color:#FF6C00; }

/* TABELA */
.tabela-padrao { width:620px; margin:0; padding:0; border:0; border-spacing:1px; border-collapse: separate; }
.tabela-padrao-fotos { width:500px; margin:0; padding:0; border:0; border-spacing:1px; border-collapse: separate; }
.tabela-padrao-fotos TH { text-align:left; }
.tabela-padrao-fotos TD { padding:2px 10px; }
.tabela-interna { width:510px; margin-bottom:10px; }
.tabela-padrao TH { text-align:left; }
.tabela-padrao TD { padding:2px 10px; }

.impar { background-color:#ECECEC; }
.impar .aguardando { padding-right:30px; background:#ECECEC url(../img/ico-aguardando.gif) right center no-repeat; }
.impar .enviado { padding-right:30px; background:#ECECEC url(../img/ico-enviado.gif) right center no-repeat; }
.impar .erro { padding-right:30px; background:#ECECEC url(../img/ico-erro.gif) right center no-repeat; }

.par { background-color:#F4F4F4; }
.par .aguardando { padding-right:30px; background:#F4F4F4 url(../img/ico-aguardando.gif) right center no-repeat; }
.par .enviado { padding-right:30px; background:#F4F4F4 url(../img/ico-enviado.gif) right center no-repeat; }
.par .erro { padding-right:30px; background:#F4F4F4 url(../img/ico-enviado.gif) right center no-repeat; }

.impar .aguardando-center { background:#ECECEC url(../img/ico-aguardando.gif) center top no-repeat; }
.impar .enviado-center { background:#ECECEC url(../img/ico-enviado.gif) center top no-repeat; }
.impar .erro-center { background:#ECECEC url(../img/ico-erro.gif) center top no-repeat; }

.par .aguardando-center { background:#F4F4F4 url(../img/ico-aguardando.gif) center top no-repeat; }
.par .enviado-center { background:#F4F4F4 url(../img/ico-enviado.gif) center top no-repeat; }
.par .erro-center { background:#F4F4F4 url(../img/ico-erro.gif) center top no-repeat; }

.impar .aguardando-center, .impar .enviado-center, .impar .erro, .par .aguardando-center, .par .enviado-center, .par .erro { width:50px; }

/* BOTï¿½ES */
.bt-listar { padding-left:14px; padding-right:10px; background:url(../img/ico-listar.gif) left center no-repeat; }
/*.bt-editar { padding-left:14px; padding-right:10px; background:url(../img/lapis.gif) left center no-repeat; }
.bt-visualizar { padding-left:14px; padding-right:10px; background:url(../img/lupa.gif) left center no-repeat; }
.bt-excluir { padding-left:14px; padding-right:10px; background:url(../img/delete.gif) left center no-repeat; }
*/
.bt-adicionar { padding-left:14px; padding-right:10px; background:url(../img/ico-adicionar.gif) left center no-repeat; }
.bt-recarregar { padding-left:14px; padding-right:10px; background:url(../img/ico-recarregar.gif) left center no-repeat; }
.bt-voltar { padding-right:14px; background:url(../img/ico-voltar.gif) right center no-repeat;   }

.relatorio { list-style: none; line-height: 20px; font-weight: bold; }


/* BUSCA */
#busca { height:40px; }
#busca-form { float:left; height:25px; background:#F3F3F3; }
#busca-form DIV { float:left; margin-top:3px; margin-left:10px;  }
#busca-form INPUT { width:258px;  }
#busca-botao { float:left; height:25px; background:#F3F3F3; }
#busca-botao INPUT { margin:3px 6px 0 6px; border:0;  }

/* BUSCA */
#busca { height:40px; }
#busca-form-2 { float:left; height:21px; background:#F3F3F3; }
#busca-form-2 DIV { float:left; margin-top:3px; margin-left:10px;  }
#busca-form-2 INPUT { width:70px;  }
#busca-botao { float:left; height:25px; background:#F3F3F3; }
#busca-botao INPUT { margin:3px 6px 0 6px; border:0;  }

/* BUSCA */
#busca { height:40px; }
#busca-form-3 { float:left; height:25px; background:#F3F3F3; }
#busca-form-3 DIV { float:left; margin-top:3px; margin-left:10px;  }
#busca-form-3 INPUT { width:70px;  }
#busca-botao { float:left; height:25px; background:#F3F3F3; }
#busca-botao INPUT { margin:3px 6px 0 6px; border:0;  }



/* PAGINAï¿½ï¿½O */
#paginacao {  }
#paginacao DIV { float:left; margin-right:4px; }
#paginacao INPUT { border:0; }
#primeira { padding-top:2px; }
#anterior {  }
#proxima {  }
#ultima { padding-top:2px; }
#paginas {  }
#paginas UL { margin:0; padding:0; }
#paginas LI { display:inline; }
#paginas LI.atual { font-weight:bold; }

/* FORMULï¿½RIOS */
.formulario { width:285px; background-color:#F3F3F3; margin-bottom:10px; }
.formulario-grande { width:560px; background-color:#F3F3F3; margin-bottom:10px; }
.formulario-topo { height:10px; background:url(../img/bg-formularios.gif) left top no-repeat; }
.formulario-mg { padding: 4px 18px; }
.formulario-mg-2 { width: 400px; }
.formulario-base { height:10px; background:url(../img/bg-formularios.gif) right bottom no-repeat; }
.botao { border:0; margin-left:10px; }
.formulario LABEL { display:block; }
.obrigatorio { font-weight:bold; }
.formulario-aviso { font-weight:bold; padding:2px 0 2px 19px; background:url(../img/bg-aviso.gif) left center no-repeat; }
.formulario-campos { color:#C00; margin:0; padding:0; padding:10px 0; }
.visualizacao {width:516px; height:236px; margin-bottom:10px; border:1px solid #DDD;}
INPUT.campo-padrao { width:243px; margin-bottom:10px; }
INPUT.campo-maior { width:538px; padding-left: 10px; padding-right: 10px; margin-bottom:10px; font-size: 16px; height: 30px; }
SELECT.campo-padrao { width:243px; margin-bottom:10px; }
TEXTAREA.campo-padrao { width:245px; height:96px; margin-bottom:10px; }
TEXTAREA.campo-grande { width:516px; height:236px; margin-bottom:10px; }
.formulario-radio { padding:4px 0 4px 0; }
.formulario-radio DIV { float:left; padding:4px 4px 4px 0; }
.formulario-radio DIV INPUT { margin:0; padding:0; }
.formulario-radio-input { width:20px; }
.formulario-radio-label { width:400px; }
.FormErro { color:#C00; border:1px solid #FC0; background:#FFC; }
#FormTelefoneDDD, #FormCelularDDD { width:35px; text-align:center; }
#FormTelefone, #FormCelular { width:125px; text-align:center; }
#FormAnotacoes { height:56px; }
#FormNascimento { float:left; width:100px; }
#FormConsPesq { float:left; width:100px; }
#FormConsCad { float:left; width:100px; }
#FormDataGaleria { float:left; width:100px; }
#FormDataInicial { float:left; width:100px; }
#FormDataFinal { float:left; width:100px; }
#FormDataAgenda { float:left; width:100px; }
#FormHoraAgenda { float:left; width:100px; }
#FormGrupo { float:left; margin-right:10px;}
.ui-datepicker-trigger { margin-left:2px; }
.formulario-colunado { float:left; width:250px; }
.formulario-colunado .formulario-radio-label { width:220px; }
.formulario-colunado-div { float:left; width:20px; }
#AlvoBranco {  }
#AlvoModelo { display:none; }
#AlvoWeb { display:none; }
.clear { border:0; width:20px; margin:0; padding:0; }
ul.lista-colunada {width:520px; list-style: none;}
ul.lista-colunada li {display: inline-block; width: 230px; float: left; margin: 5px;}
.bg-ddd { background:url(../img/bg-ddd.gif) left top no-repeat; }


/* ABAS */
#abas { height:24px; }
#abas UL { margin:0; padding:0;  }
#abas LI { float:left; font-weight:bold; list-style:none;padding:5px 10px; background:#F3F3F3; border-right:2px solid #FFF; border-bottom:2px solid #fff; }
#abas LI.primeira { background:#F3F3F3 url(../img/bg-formularios.gif) left top no-repeat;  }
#abas LI.atual { border-bottom:2px solid #F3F3F3; }

.abas .formulario { width:440px; }
.abas .formulario-colunado { width:130px; }
.abas .formulario .campo-padrao { width:400px; }
.abas .formulario .tabela-padrao { width:400px; }
.abas .formulario .formulario-radio-label { width:360px; }

#AlvoConfiguracoes, #AlvoRemetentes, #AlvoLogsdeAcesso, #AlvoVisualizacoes, #AlvoCliques { display:none; }
#AlvoEnvios .formulario, #AlvoVisualizacoes .formulario, #AlvoCliques .formulario { width:550px !important; }
#AlvoEnvios .grafico, #AlvoVisualizacoes .grafico, #AlvoCliques .grafico { margin:20px 0 ; text-align:center; }
.FormDataDe, .FormDataAte { float:left; width:100px !important;}

.password { }
.pstrength-minchar {}
.pstrength-bar { font-size: 1px; height: 5px; width:0px; }
.pstrength-info { padding-bottom:5px; }
#BtRecarregar { margin-top:15px; }

/*MODULOS*/
ul.modulos {width:520px; list-style: none;}
ul.modulos li {display: inline-block; width: 115px; border: 1px solid #FFFFFF; text-align: center; float: left; margin: 5px;}
ul.modulos li:hover {border: 1px solid #000000; background-color: #F2F2F2}

/*
 * "Cupertino" Theme for jQuery UI Datepicker
 * Generated by Theme Roller ( http://ui.jquery.com/themeroller/ )
 * Authors:
 *		Filament Group ( http://www.filamentgroup.com )
 * 		Marc Grabanski ( http://marcgrabanski.com/ )
*/
#ui-datepicker-div,
#ui-datepicker-div table,
.ui-datepicker-div,
.ui-datepicker-div table,
.ui-datepicker-inline,
.ui-datepicker-inline table {
	font-size: 12px !important;
}
.ui-datepicker-div, .ui-datepicker-inline, #ui-datepicker-div {
	/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
	font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
	background: #f3f3f3;
	font-size: 1.2em;
	border: 4px solid #cccccc;
	width: 15.5em;
	padding: 2.5em .5em .5em .5em;
	position: relative;
}
#ui-datepicker-div {
	z-index: 9999; /*must have*/
	display: none;
	background: #f3f3f3;
}
.ui-datepicker-inline {
	float: left;
	display: block;
}
.ui-datepicker-control {
	display: none;
}
.ui-datepicker-current {
	display: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
	position: absolute;
	left: .5em;
	top: .5em;
	background: #e0e0e0 url(../img/cupertino/e0e0e0_40x100_textures_02_glass_80.gif) 0 50% repeat-x;
}
.ui-datepicker-next {
	left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
	background: #d8d8d8 url(../img/cupertino/d8d8d8_40x100_textures_02_glass_90.gif) 0 50% repeat-x;
}
.ui-datepicker-next a, .ui-datepicker-prev a {
	text-indent: -999999px;
	width: 1.3em;
	height: 1.4em;
	display: block;
	font-size: 1em;
	background: url(../img/cupertino/888888_7x7_arrow_left.gif) 50% 50% no-repeat;
	border: 1px solid #cccccc;
	cursor: pointer;
}
.ui-datepicker-next a {
	background: url(../img/cupertino/888888_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover {
	background: url(../img/cupertino/222222_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover {
	background: url(../img/cupertino/222222_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active {
	background: url(../img/cupertino/ffffff_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active {
	background: url(../img/cupertino/ffffff_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select {
	border: 1px solid #cccccc;
	color: #444444;
	background: #e0e0e0;
	font-size: 1em;
	line-height: 1.4em;
	position: absolute;
	top: .5em;
	margin: 0 !important;

}
.ui-datepicker-header select.ui-datepicker-new-month {
width: 7em;
left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
width: 5em;
left: 9.4em;
}
table.ui-datepicker {
	width: 15.5em;
	text-align: right;
}
table.ui-datepicker td a {
	padding: .1em .3em .1em 0;
	display: block;
	color: #444444;
	background: #e0e0e0 url(../img/cupertino/e0e0e0_40x100_textures_02_glass_80.gif) 0 50% repeat-x;
	cursor: pointer;
	border: 1px solid #f3f3f3;
}
table.ui-datepicker td a:hover {
	border: 1px solid #888888;
	color: #111111;
	background: #d8d8d8 url(../img/cupertino/d8d8d8_40x100_textures_02_glass_90.gif) 0 50% repeat-x;
}
table.ui-datepicker td a:active {
	border: 1px solid #2694e8;
	color: #000000;
	background: #8ab9ff url(../img/cupertino/8ab9ff_40x100_textures_02_glass_50.gif) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td {
	padding: .3em 0;
	text-align: center;
	font-size: .9em;
	color: #362b36;
	text-transform: uppercase;
	/*border-bottom: 1px solid #cccccc;*/
}

table.ui-datepicker .ui-datepicker-title-row td a {
	color: #362b36;
}

/* ___________ IE6 IFRAME FIX ________ */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}


	
/* PAGINAÃ‡ÃƒO */
#paginacao .pagination {
	margin:15px 0 40px	0;
	float: left;
}

#paginacao li {
	float:left;
	display:inline;
	margin-left:7px;
	font-weight:bold;
	font-size:1px;
}

#paginacao li a {
	display:block;
	padding:2px;
	color:#75A70D;
}

#paginacao li a:hover,
#paginacao li span {
	display:block;
	padding:2px;
	background-color:#75A70D;
	color:#FFF;
}

#paginacao li .anterior,
#paginacao li .proxima {
	width:15px;
	height:15px;
	text-indent:-9999px;
}

#paginacao li .anterior:hover,
#paginacao li .proxima:hover {background-color:#FFF;}	