

#btn-admin{width:930px; height:65px; padding-top:15px; margin:auto; background:#9f0a27; font-size:16px; font-weight:bold}
@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


/* ---------------------fonts------------------------- */

@font-face {font-family: dax; src: url(fonts/Dax-Bold.otf); /* EOT file for IE */}
@font-face {font-family: myriad; src: url(fonts/MyriadPro-Semibold.otf); /* EOT file for IE */}

/*--------------------- BEGIN------------------------- */
body{font-family: Arial, sans-serif; font-size:14px; color:#000; background:#fff; }

table { width: 380px; margin: 0px auto; }

td { font-size: 13px; line-height: 20px; }
th { text-align: left; line-height: 45px; font-size:16px; font-family: "myriad" ,Arial, sans-serif; }

input[type=submit] { margin: 20px 0px 0px 80px; cursor: pointer; border: none; width:210px; color:#ffa9a9; height:50px; line-height: 50px; background:url(../img/conexao-btn-admin.png) no-repeat; float:left; text-align:center; text-shadow:0px -1px -1px #740000}
input[type=submit]:hover {background:url(../img/conexao-btn-admin.png) 0 -50px no-repeat; color:#fff; text-shadow:0 0 0}