@charset "utf-8";
/* CSS Document  */
/*---------------------GERAL-------------------------  */

body{background:url(../img/conexao-bg.jpg);}
#modal-recup-email{width:450px; margin-top:15px; text-align:center; margin:auto}

#mensagemErro {
	color: red;
	margin-left:6px;
	display: table;
	clear: both;
	font-weight: bold;
}

#modal_edit-nome{display:table; height:70px; text-align:center; margin:0 auto; margin-top:30px; *margin-left:30px;}
#modal_edit-nome p{font-size:28px; color:#ce183b;  margin-top:7px; margin-left:10px; float:left }
#modal_edit-nome img{float:left}

#modal-inter-info-edit-a{width:290px; margin:0 auto}

.modal-admin-btn-salvar{width:130px; height:50px; background:url(../img/conexao-btn-salvar.png); margin-right:30px; margin-top:30px; float:left; }
.modal-admin-btn-salvar:hover{background:url(../img/conexao-btn-salvar.png) 0 -50px; text-shadow:0;}
.modal-admin-btn-salvar p{margin-left:60px; margin-top:16px; color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; }

.modal-admin-btn-cancelar{width:130px; height:50px; background:url(../img/conexao-btn-cancelar.png); margin-top:30px; float:left; cursor:pointer;}
.modal-admin-btn-cancelar:hover{background:url(../img/conexao-btn-cancelar.png) 0 -50px; text-shadow:0;}
.modal-admin-btn-cancelar p{text-align:center; margin-top:16px; color:#7F7F7F; font-size:16px; text-shadow:0 1px 1px #fff; font-weight:bold; }

/*---------------------modal_edit_categoria-------------------------  */

#modal_edit_categoria{width:710px; height:260px; margin:auto; background:url(../img/conexao-bg.jpg); }

#modal_edit_categoria-1{width:310px; height:90px; margin-right:30px; float:left;}
#modal_edit_categoria-2{width:370px; height:90px; float:left}
.modal-input-edit{width:228px; height:46px; float:left; padding-left:10px; margin-top:10px; float:left; margin-right:-2px;}
.modal-inter-img-edit-btn{width:130px; height:52px; margin-top:9px; float:left}



/*--------------------------------- modal_edit_disponibilidade ------------------------------------ */ 

#modal_edit_disponibilidade{display: table; margin:auto;}

#modal-admin-ad-dispo{width:710px; height:280px; margin-left:6px; float:left }
.modal-ad-dispo-left{width:340px; float:left}
.modal-ad-dispo-right{width:340px; float:right;}

#modal-admin-ad-dispo label{width:100%; text-align:left; margin-top:10px}

.modal-ad-dispo-right textarea{width: 320px; height:211px; resize:none; margin-top: 10px;}




/*--------------------------------- modal_edit_Imagens ------------------------------------  */

#modal_edit_imagens{width:710px; height:380px; margin:auto; background:url(../img/conexao-bg.jpg);}

#modal-imagens-thumbs{width:670px; float:left; margin-left:30px}
#modal-imagens-thumbs li{width:208px; height:170px; background:#f3f3f3; border:solid 1px #cfcfcf; border-radius:3px; float:left; float:left; margin-right:30px; margin-left:30px;}
#modal-imagens-thumbs img{margin:30px; border:solid 1px #cfcfcf; float:left}

#modal_edit_img{width:370px; height:90px; margin-top:45px; float:right}

/*--------------------------------- modal_edit_sucesso ------------------------------------  */

#modal_edit_sucesso{width:710px; height:300px; margin:auto; background:url(../img/conexao-bg.jpg);}

#modal_edit-text{width:450px; margin-top:15px; text-align:center; font-size:28px; margin:auto}
#modal_edit-text span{color:#000}

#modal-fechar-emp-div{width:130px; height:75px; margin:auto; margin-top:30px}
#modal-fechar-emp-div a{width:90px; height:34px; float:left; padding-top:16px; padding-left:40px; background:url(../img/conexao-btn-cancelar.png) 0 0;  font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#modal-fechar-emp-div a:hover{background:url(../img/conexao-btn-cancelar.png) 0 -50px;}

/*--------------------------------- modal_excluir ------------------------------------  */

#modal_excluir{width:710px; height:300px; margin:auto; background:url(../img/conexao-bg.jpg);}

#modal-geral-emp-div{width:290px; height:50px; text-align:center; margin:0 auto}
#modal-confirmar-emp-div{width:130px; height:75px; margin:auto; margin-top:30px; float:left; margin-right:30px;}
#modal-confirmar-emp-div a{width:130px; height:34px; float:left; padding-top:16px; background:url(../img/conexao-btn-modal-confirma.png) 0 0;  color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; text-decoration:none}
#modal-confirmar-emp-div a:hover{background:url(../img/conexao-btn-modal-confirma.png) 0 -50px;}


#modal-cancelar-emp-div{width:130px; height:75px; margin:auto; margin-top:30px; float:left;}
#modal-cancelar-emp-div a{width:130px; height:34px; float:left; padding-top:16px; background:url(../img/conexao-btn-cancelar.png) 0 0;  font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#modal-cancelar-emp-div a:hover{background:url(../img/conexao-btn-cancelar.png) 0 -50px;}

/*--------------------------------- modal_excluir_sucesso -------------------------------------  */ 

#modal_excluir_sucesso{width:710px; height:300px; margin:auto; background:url(../img/conexao-bg.jpg);}


/* ----------------------------------- modal_cadastro -------------------------------------  */ 

#modal-admin-ad-cadastro{width:710px; height:; margin-left:6px; float:left; }
#modal-admin-ad-cadastro label{width:100%; text-align:left; margin-top:10px}

#modal_cadastro{width:710px; height:300px; margin:auto}

.categoria-cad{width:310px; height:40px; line-height: 3.3; font-weight:bold; color: #7f7f7f; float:left; padding-left:10px; margin-left:0; margin-top:10px;}

#modal-cadastro-a{width:696px; margin-left:6px;}

.modal-admin-btn-prosseguir{width:170px; height:50px; background:url(../img/conexao-btn-modal-cadastro.png) 170px 0; margin-top:30px; float:right; }
.modal-admin-btn-prosseguir:hover{background:url(../img/conexao-btn-modal-cadastro.png) 170px -50px; text-shadow:0;}
.modal-admin-btn-prosseguir p{margin-left:24px; margin-top:16px; color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; }

/*-----modal_cadastro-2 ----- */ 

#termo-cadastro{width:710px; height:50px; line-height:26px; margin-left:30px; background:#000}

#termo{width:654px; height:240px; padding:20px; line-height:1.8; overflow:scroll; background:url(../img/conexao-bg-cinza.jpg); font-size:12px; color:#000; margin-left:6px; border:solid 1px #cfcfcf;}

.modal-admin-btn-anterior{width:170px; height:50px; background:url(../img/conexao-btn-modal-cadastro.png) 0 0; margin-top:30px; float:left; }
.modal-admin-btn-anterior:hover{background:url(../img/conexao-btn-modal-cadastro.png) 0 -50px; text-shadow:0;}
.modal-admin-btn-anterior p{text-align:center; margin-top:16px; color:#7F7F7F; font-size:16px; margin-left:30px; text-shadow:0 1px 1px #fff; font-weight:bold;}





