.file-input {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    float:left;
    z-index:10;
    font-family:Helvetica, Arial, serif;
}
.file-input-2 {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    float:left;
    z-index:10;
    font-family:Helvetica, Arial, serif;
    margin-left: 27px;
    margin-top: 11px;
}
.file-input input {
    text-transform:capitalize;
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    z-index:20;
    outline:none;
}
.file-input-2 input {
    text-transform:capitalize;
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    filter: alpha(opacity=1);
    -moz-opacity: 0.01;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
    z-index:20;
    outline:none;
}
.file-input .btn{
    background: #BBBBBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 17px 36px;
    text-transform: uppercase;
    color: #000000;
    float:left;
    width:53px;
    height: 14px;
	background: #bababa;
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #BBB;
	color: #7f7f7f;
}
.file-input-2 .btn{
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 17px 36px;
    text-transform: uppercase;
    float:left;
    width: 53px;
    height: 14px;
	background: #bababa;
	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #BBB;
	color: #7f7f7f;
}
.file-input .file-holder{
    margin-top:4px;
    display: block;
    float: left;
    margin-left:4px;
    font-size:11px
}
.file-input-2 .file-holder{
    margin-top:4px;
    display: block;
    float: left;
    margin-left:4px;
    font-size:11px
}