@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


/* ---------------------fonts------------------------- */

@font-face {font-family: dax; src: url(fonts/Dax-Bold.otf); /* EOT file for IE */}
@font-face {font-family: myriad; src: url(fonts/MyriadPro-Semibold.otf); /* EOT file for IE */}

/*--------------------- BEGIN------------------------- */
body{font-family: 'Source Sans Pro', sans-serif; font-size:14px; color:#a3a3a3; background:#ce183b}

a{ text-decoration: none; color:#06C}
a:hover{text-decoration:none;}

h1{text-indent:-100000px;}
h2{font-size:26px;}
h3{font-size:12px;}

/* ----------------------------------TOPO---------------------------------------- */

#topo-container{width:100%; height:90px; background:#ce183b; }
#topo{width:930px; height:70px; position:relative; margin:auto; padding-top:10px;}
#logo{width:171px; height:59px; margin-top:10px; background:url(../img/conexao-logo.png); float:left;}

#notifica{width:50px; height:50px; float:right; position:relative}
#notifica-number{width:18px; height:17px; position:absolute; background:url(../img/conexao-ico-notifica-number.png); right:0; z-index:999;}
#notifica-number p{text-align:center; margin-top:2px; font-size:10px; color:#fff}
#notifica span{width:40px; height:40px; top:10px; position:absolute; background:url(../img/conexao-ico-notifica.png); float:left; z-index:888;}
#notifica-open{width:200px; display:table; position:absolute; background:#c51537; right:10px; top:49px; z-index:777;  border:solid 1px #7b041b; border-radius:3px 0px 3px 3px; }

#notifica-open a{width:200px; height:60px; float:left; border-bottom:solid 1px #7b041b; text-align:center; }
#notifica-open a:hover{background:#b81333; cursor:pointer}
#notifica-open .notifica-open-note-p1{font-size:12px; color:#fff; padding-top:16px;}
#notifica-open .notifica-open-note-p2{font-size:10px; color:#ffa9a9}

#notifica .notifica-off{width:40px; height:40px; top:10px; position:absolute; background:url(../img/conexao-ico-notifica.png); float:left; z-index:888;}
#notifica .notifica-off:hover{background:url(../img/conexao-ico-notifica.png) 0 40px}
#notifica .notifica-on{width:40px; height:40px; top:10px; position:absolute; float:left; z-index:888; background:url(../img/conexao-ico-notifica-open.png)}

#user{display: table; height:59px; margin-top:15px; background:url(../img/conexao-user.png) no-repeat; float:right; color:#fff;}
#user p{margin-top:8px; margin-left:40px;}
#user a{color:#ffa9a9; text-decoration:underline;}
#user a:hover{text-decoration:none}

/* ----------------------------------LOGIN---------------------------------------- */

#topo-cadastro{width:185px; height:58px; background:url(../img/conexao-ico-cadastro.png) no-repeat; float:right; color:#fff;}
#topo-cadastro p{margin-left:46px; margin-top:7px;}
#topo-cadastro a{margin-left:46px; color:#ffa9a9; text-decoration:underline;}
#topo-cadastro a:hover{text-decoration:none}

#login-container{width:100%; height:100%; display:table; position:relative; background:#9f0a27; padding-top:60px; padding-bottom:60px; }
#login-box{width:210px; height:400px; background:url(../img/conexao-ico-login.png) 0 10px no-repeat; position:relative; margin:auto; color:#ffa9a9;}

#login-box label{width:80px; text-align:left; float:left; margin-top:10px;}

#login-box h2{font-size:30px; color:#ffa9a9; margin-left:53px; padding-top:23px; margin-bottom:20px;}
#login-box .form1{width:198px; height:44px; line-height: 3.1; background:#ce183b; border:solid 1px #740000; margin-bottom:10px; padding-left:10px; color:#740000; margin-top:5px; font-weight:bold}
.check-lembrar{float:left; margin-top:-1px;}
#login-box p{float:left; margin-left:5px; font-size:11px;}
#login-box a{float:right; font-size:11px; color:#ffa9a9; text-decoration:underline}
#login-box a:hover{text-decoration:none}

#btn-logar a{margin-top:30px; color:#ffa9a9; text-decoration:none; font-weight:bold; font-size:16px; width:210px; height:35px; padding-top:15px; background:url(../img/conexao-btn-admin.png) no-repeat; float:left; text-align:center; text-shadow:0px -1px -1px #740000}
#btn-logar a:hover{background:url(../img/conexao-btn-admin.png) 0 -50px no-repeat; color:#fff; text-shadow:0 0 0 }

.btn-logar{margin-top:10px; width:210px; height:50px; font-weight:bold; font-size:16px; color:#ffa9a9; text-shadow:0px -1px -1px #740000; background:url(../img/conexao-btn-admin.png); border:0; cursor:pointer}
.btn-logar:hover{background:url(../img/conexao-btn-admin.png) 0 -50px no-repeat; color:#fff; text-shadow:0 0 0}
/* ----------------------------------ADMIN---------------------------------------- */

#admin-container{width:100%; background:#9f0a27; border-bottom:solid 1px #FFF;}
#btn-admin{width:930px; height:108px; padding:15px 0px; margin:auto; background:#9f0a27; font-size:16px; font-weight:bold}
#btn-admin li{width:210px; height:35px; padding-top:15px; background:url(../img/conexao-btn-admin.png) no-repeat; float:left; text-align:center; text-shadow:0px -1px -1px #740000}
.btn-admin-margin{margin-right:30px}
.btn-admin-margin.btn-admin-mt{margin:10px 0px;}
#btn-admin a{color:#ffa9a9; text-decoration:none;}
#btn-admin li:hover{background:url(../img/conexao-btn-admin.png) 0 -50px no-repeat; color:#fff; text-shadow:0 0 0}

.gosth{width:100%;height:20px;float:left;}
.admin-edit{background:url(../img/conexao-ico-admin-edit.png) no-repeat; font-size:14px; color:#ce183b; padding-left:22px; margin-right:20px}
.admin-excluir{background:url(../img/conexao-ico-admin-excluir.png) no-repeat; font-size:14px; color:#ce183b; padding-left:22px; margin-right:20px;}
.admin-add{background:url(../img/conexao-ico-admin-add.png) no-repeat; font-size:14px; color:#ce183b; padding-left:22px; margin-right:20px;}

#aqr_padr .admin-excluir{background:url(../img/conexao-ico-admin-excluir.png) no-repeat; font-size:14px; color:#ce183b; padding-left:22px; margin-left:10px; margin-right:30px;}


#admin-ad-arquivos{width:930px; height:170px; margin-top:50px; background:#faf3f3; border:solid 1px #ecc4c4; border-radius:3px;}

#admin-ad-arquivosNew{width:930px; height:170px; margin-top:-10px; background:#faf3f3; border:solid 1px #ecc4c4; border-radius:3px;}


#admin-ad-arquivos-nome p{margin-top:20px; margin-left:30px}
#admin-ad-arquivos-1{width:310px; height:90px; margin-top:20px; margin-left:30px; float:left}
#admin-ad-arquivos-2{width:370px; height:90px; margin-top:26px; margin-left:15px; float:left}
#admin-ad-arquivos-2 p {margin-left:30px;}

#select-admin-1{width:310px; height:50px; float:left; padding-left:10px; margin-left:0; margin-top:10px;}

.admin-btn-salvar{width:130px; height:50px; background:url(../img/conexao-btn-salvar.png); margin-top:47px; margin-left:43px; float:left; }
.admin-btn-salvar:hover{background:url(../img/conexao-btn-salvar.png) 0 -50px; text-shadow:0;}
.admin-btn-salvar p{margin-left:60px; margin-top:16px; color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; }

#admin-arquivo-preco{margin-top:15px; margin-left:-93px; float:left}
#admin-arquivo-folder{margin-top:8px; margin-left:15px; float:left}
#admin-arquivo-memo{margin-top:8px; margin-left:15px; float:left}
#admin-arquivo-mail{margin-top:8px; margin-left:15px; float:left}


#admin-ad-dispo{width:930px; height:320px; background:#faf3f3; border:solid 1px #ecc4c4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; margin-bottom:50px;}
#admin-ad-dispo-nome p{margin-top:20px; margin-left:30px}

label{width:80px; text-align:right; float:left; margin-top:30px; margin-right:10px} 

.ad-dispo-left{width:420px; height:250px; float:left; margin-left:30px; margin-top:20px;}
.ad-dispo-right{width:420px; height:250px; float:right; margin-right:30px; margin-top:20px;}
.categoria{width:310px; height:50px; line-height: 3.3; font-weight:bold; color: #7f7f7f; float:left; padding-left:10px; margin-left:0; margin-top:15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:solid 1px #bababa;}
.categoria1{margin-top:45px}

#admin-ad-dispo a{float:right; margin-right:8px}

.admin-edit-aptos{text-align:left; color:#d78e9c; font-size:9px}
.admin-edit-aptos-a{color:#d78e9c; font-size:9px}
.admin-edit-aptos-a:hover{color:#F00}

#admin-ad-imagens{width:930px; height:170px; margin-bottom:50px; background:#faf3f3; border:solid 1px #ecc4c4; border-radius:3px;}
#admin-ad-imagens p{margin-top:20px; margin-left:30px;}
#admin-ad-imagens-nome p{margin-top:20px; margin-left:30px}

.categoria-img{width:600px; height:50px; float:left; padding-left:10px; margin-left:30px; margin-top:5px;}

.admin-btn-salvar-img{width:130px; height:50px; background:url(../img/conexao-btn-salvar.png); margin-top:10px; margin-right:30px; float:right; }
.admin-btn-salvar-img:hover{background:url(../img/conexao-btn-salvar.png) 0 -50px; text-shadow:0;}
#btn-salvar-img p{margin-left:60px; margin-top:16px; color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; }


/* ----------------------------------ALL EMP---------------------------------------- */

.emp-all{width:930px; float:left; display:table; margin-top:20px; border-radius:5px; border:solid 1px #f5d3da; background:#fcf1f1;}

.emp-link{margin-top:20px; font-weight:bold; width:215px; height:34px;  margin-right: 25px; *margin-right: 45px; padding-left:65px; padding-top:16px; color:#2b7a32; float:right; background:url(../img/conexao-btn-emp-baixar.png) 0 0; font-size:16px; text-shadow:0 1px 1px #77cd7f; text-decoration:none}
.emp-link:hover{background:url(../img/conexao-btn-emp-baixar.png) 0 -50px; text-shadow:0 0 0}

	
.emp-all-box{width:930px; height:90px; padding-left:25px;  padding-top:0px; margin:auto; }

.emp-link2{width:261px; height:34px; padding-top:16px; text-align:center; background:url(../img/emp-link2.png) 0 0; float:right; margin-top:20px; margin-right:25px; font-size:14px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
.emp-link2:hover{background:url(../img/emp-link2.png) 0 -50px; text-shadow:0 0 0}

.emp-link3{width:280px; height:34px; padding-top:16px; text-align:center; background:url(../img/btn-semanal.png) 0 0; float:right; margin-top:20px; margin-right:25px;*margin-right:45px; font-size:14px; font-weight:bold; color:#FFF; text-shadow:0 1px 1px #8b132b; text-decoration:none}
.emp-link3:hover{background:url(../img/btn-semanal.png) 0 -50px; text-shadow:0 0 0}


.emp-all-box h2{text-shadow:0 1px 1px #fff; width:100%; color:#c41e3e; font-size:18px;  font-weight:700; float:left;}

.emp-all .boxin { width:500px; background:; float:left; margin-top: 25px; }
.emp-all .boxin p { font-size:12px; color:#717171; float:left }

.outras-opcoes {font-size: 22px; margin-bottom: 16px; font-weight: 600;}






/* -------------------EMPREENDIMENTO-------------------- */
#emp-container{width:100%; display:table; background:url(../img/conexao-bg.jpg) #fff; padding-bottom: 50px;}
#emp-box{width:960px; padding-left:30px; padding-top:0px; margin:auto;}
#emp-top{width:460px; height:35px; padding-top:25px;  font-size:26px; margin:auto; font-weight:bold; color:#a3a3a3;}

#emp-top h2{text-shadow:0 1px 1px #fff; margin:0 auto; float:left; padding-top:8px; float:left; background:url(../img/conexao-ico-emp.png) no-repeat; padding-left:65px}
#emp-top a{width:215px; height:34px; padding-left:65px; padding-top:16px; color:#2b7a32; float:right; background:url(../img/conexao-btn-emp-baixar.png) 0 0; font-size:16px; text-shadow:0 1px 1px #77cd7f; text-decoration:none}
#emp-top a:hover{background:url(../img/conexao-btn-emp-baixar.png) 0 -50px; text-shadow:0 0 0}
#emp-in{width:960px; float:left; padding-bottom:60px}
#emp-in li{width:128px; height:108px; padding-top:0px; border:solid 1px #d9d9d9; float:left; border-radius:3px; background:#fff; text-align:center; margin-right:30px; margin-top:50px;}
#emp-in ul{float:left}
#emp-in li:hover{border:solid 1px #b9b9b9; box-shadow:0px 0px 10px #ccc}
#emp-in span{position:absolute; width:128px; margin-left:-124px; margin-top:92px; font-size:12px;}
#emp-in a{color:#9e9e9e; text-decoration:none}
.ad-emp{color:#ce183b; background:#faf3f3; border:solid 1px #e6bebe; text-align:center; font-weight:bold;}
.ad-emp:hover{border:solid 1px #ce183b; box-shadow:0px 0px 10px #ccc; }

.emp-color-add{width:128px; height:108px; padding-top:0px; border:solid 1px #e6bebe; float:left; border-radius:3px; background:#faf3f3; text-align:center; margin-right:30px; margin-left:-1px; margin-top:-1px;}


.img-ad{float:left; padding-left:45px; }

#emp-in-home{width:960px; float:left; padding-bottom:60px}
#emp-in-home li{width:128px; height:88px; position:relative; padding-top:20px; border:solid 1px #d9d9d9; float:left; border-radius:3px; background:#fff; text-align:center; margin-right:30px; margin-top:30px;}
#emp-in-home ul{float:left}
#emp-in-home li:hover{border:solid 1px #b9b9b9; box-shadow:0px 0px 10px #ccc}

.bug{position:absolute; width:128px; margin-left:0; margin-top:110px; font-size:12px; *margin-left:-127px; }
.clear{clear:both}

#emp-in li img{margin-top:25px; margin-left:5px; float:left}
#emp-in li p{ }


#emp-in-home a{color:#9e9e9e; text-decoration:none}
/* ---------------INTERNA----Selecionar-Empreendimento------------------- */
#emp-container-inter{width:100%; display:table; border-bottom:solid 1px #bababa; background:url(../img/conexao-bg.jpg) #fff;}
#emp-container-inter:hover{}
#emp-top-inter{width:825px; height:60px; float:left; margin:20px 0 0px 135px; background:url(../img/conexao-ico-emp.png) no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#emp-top-inter h2{margin-left:60px; padding-top:8px; float:left}
#emp-top-inter img{margin-left:15px; margin-top:16px; float:left}


#fechar-emp-div{width:960px; height:80px; float:left}
#fechar-emp-div a{width:75px; height:34px; float:left; margin-left:400px; padding-top:16px; padding-left:55px; background:url(../img/conexao-btn-fechar.png) 0 0; font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#fechar-emp-div a:hover{background:url(../img/conexao-btn-fechar.png) 0 -50px;}



/* -------------------PROCURE EMPREENDIMENTO-------------------- */
#procure-container{width:100%; border-bottom:solid 1px #fff; border-top:solid 1px #fff; background:url(../img/conexao-bg-cinza.jpg) #fff}
#procure-box{width:930px; height:160px; padding-top:30px; position:relative; margin:auto;}
#procure-top{width:548px; height:50px; margin:auto; background:url(../img/conexao-ico-procure.png) no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#procure-top h2{margin-left:55px; padding-top:8px; float:left; text-shadow:0 1px 1px #fff}

#procure-in{width:860px; height:50px; margin:auto; padding-top:20px;}
#procure-in p{width:140px; font-size:22px; font-weight:bold; float:left; margin-right:30px; margin-top:12px; color:#a3a3a3}
#select-categoria{width:450px; height:50px; float:left; padding-left:10px;}
#procure-in a{width:140px; height:34px; padding-top:16px; padding-left:70px; margin-left:30px; background:url(../img/conexao-btn-procure.png) 0 0; float:left; font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#procure-in a:hover{background:url(../img/conexao-btn-procure.png) 0 -50px; text-shadow:0 0 0}

/* -------------------ULTIMAS DISPONIBILIDADES-------------------- */
#dispo-container{width:100%; display:table; border-top:solid 1px #bababa; background:url(../img/conexao-bg.jpg) #fff;}
#dispo-container:hover{background:url(../img/conexao-bg-cinza.jpg) #CCC}

#dispo-box{width:950px; padding-top:30px; margin:auto}
#dispo-box a{width:930px; margin:auto;}

#dispo-top{width:620px; height:70px; margin:auto; background:url(../img/conexao-ico-dispo.png) no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#dispo-top h2{margin-left:60px; padding-top:8px; float:left; text-shadow:0 1px 1px #fff}
#dispo-top img{margin-left:15px; margin-top:16px; float:left}

#dispo-in{width:950px; padding-bottom:50px; float:left; font-weight:bold }

.table-name-1{width:350px; text-align:left}
.table-name-2{width:110px; text-align:left}
.table-name-3{width:90px; text-align:left}
.table-name-4{width:130px; text-align:left}
.table-name-5{width:210px; text-align:left}

.table-1{width:350px; padding:10px; color:#fff; cursor:default}
.table-2{width:110px; padding:10px; color:#fff; cursor:default}
.table-3{width:90px; padding:10px; color:#fff; cursor:default}
.table-4{width:130px; padding:10px; color:#fff; cursor:default}
.table-5{width:210px; padding:10px; color:#fff; cursor:default}

.table-1:hover{background:#b6b6b6}
.table-2:hover{background:#b6b6b6}
.table-3:hover{background:#b6b6b6}
.table-4:hover{background:#b6b6b6}
.table-5:hover{background:#b6b6b6}


#dispo-in li{min-height:23px; padding-top:7px; text-align:center; background:#9e9e9e; font-size:14px; color:#fff; float:left; margin-right:10px; margin-top:10px; }
#dispo-in li:hover{background:#b6b6b6}
#dispo-in p{font-weight:bold; margin-top:30px; }

#dispo-in a{width:210px; height:34px; padding-top:16px; text-align:center; background:url(../img/conexao-btn-procure.png) 0 0; float:right; margin-top:30px; margin-right:20px; font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#dispo-in a:hover{background:url(../img/conexao-btn-procure.png) 0 -50px; text-shadow:0 0 0}


/* -------------------ULTIMAS ATUALIZAÇÕES-------------------- */
#atual-container{width:100%; display:table; border-top:solid 1px #bababa; background:url(../img/conexao-bg.jpg) #fff;}
#atual-container:hover{background:url(../img/conexao-bg-cinza.jpg) #CCC}

#atual-box{width:950px;  padding-top:30px; position:relative; margin:auto;}
#atual-box a{width:930px; margin:auto;}

#atual-top{width:520px; height:70px; margin:auto; background:url(../img/conexao-ico-dispo.png) no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3}
#atual-top h2{margin-left:60px; padding-top:8px; float:left; text-shadow:0 1px 1px #fff}
#atual-top img{margin-left:15px; margin-top:16px; float:left}

#atual-in{width:950px; padding-bottom:50px; float:left; font-weight:bold}
#atual-in li{height:23px; padding-top:7px; text-align:center; background:#9e9e9e; font-size:14px; color:#fff; float:left; margin-right:10px; margin-top:10px; }
#atual-in li:hover{background:#b6b6b6}
#atual-in p{font-weight:bold; margin-top:30px; }

.atual-table-name-1{width:350px; text-align:left}
.atual-table-name-2{width:350px; text-align:left}
.atual-table-name-3{width:210px; text-align:left}

.atual-table-1{width:350px; padding:10px; color:#fff; cursor:default}
.atual-table-2{width:350px; padding:10px; color:#fff; cursor:default}
.atual-table-3{width:210px; padding:10px; color:#fff; cursor:default}

.atual-table-1:hover{background:#b6b6b6}
.atual-table-2:hover{background:#b6b6b6}
.atual-table-3:hover{background:#b6b6b6}

#atual-btn-mais a{width:210px; height:34px; padding-top:16px; text-align:center; background:url(../img/conexao-btn-procure.png) 0 0; float:right; margin-top:30px; margin-right:20px; font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#atual-btn-mais a:hover{background:url(../img/conexao-btn-procure.png) 0 -50px; text-shadow:0 0 0}
/* --------------------------------INTERNA--EMPREENDIMENTO---------------------------------------- */




/* -------------------Interna-Empreendimento------------------- */

#inter-container{width:100%; display:table; border-top:solid 1px #fff; border-bottom:solid 1px #fff; background:url(../img/conexao-bg-cinza.jpg) #fff}
#inter-box{width:930px; padding-top:30px; position:relative; margin:auto;}
#inter-box a{text-decoration:underline}
#inter-box a:hover{text-decoration:none}


#inter-img{float:left; margin-right:30px; margin-top:30px;}
#inter-img span{width:128px; height:88px; padding-top:20px; background:#FFF; border:solid 1px #b9b9b9; float:left; border-radius:3px; text-align:center; box-shadow:0px 0px 10px #ccc}

.mantemHeight {width:100%; display:table; min-height: 400px; background:url(../img/conexao-bg.jpg) #fff}

#inter-img-edit{width:128px; height:200px; float:left; margin-right:30px; margin-top:30px;}
#inter-img-edit span.imgLogo{width:128px; height:88px; padding-top:20px; margin-bottom:5px; background:#FFF; border:solid 1px #b9b9b9; float:left; border-radius:3px; text-align:center; box-shadow:0px 0px 10px #ccc}

.inter-img-edit-btn{width:128px; height:50px; margin-top:5px;}
.inter-img-edit-p{font-size:10px; margin-top:5px;}

#inter-info-edit-a{float:right; margin-right:30px;}
.admin-btn-cancelar{width:130px; height:50px; background:url(../img/conexao-btn-cancelar.png); margin-top:46px; margin-left:30px; float:left; }
.admin-btn-cancelar:hover{background:url(../img/conexao-btn-cancelar.png) 0 -50px; text-shadow:0;}
.admin-btn-cancelar p{text-align:center; margin-top:16px; color:#7F7F7F; font-size:16px; text-shadow:0 1px 1px #fff; font-weight:bold; }

#inter-info{width:770px; float:left; margin-top:35px; margin-bottom:5px;}
#inter-info p{font-size:30px; text-shadow:0 1px 1px #fff}
#inter-info span{font-size:20px; text-shadow:0 1px 1px #fff}

#inter-info-edit{width:770px; float:left; margin-top:20px; margin-bottom:5px;}
#inter-info-edit label{width:60px; text-align:right; float:left; margin-top:30px; margin-right:10px; }
.categoria-emp-edit{width:660px; height:50px; font-weight:bold; color: #7f7f7f; line-height:3.3; float:left; padding-left:10px; margin-left:0; margin-top:10px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:solid 1px #bababa;}


#btn-categorias{width:930px; height:60px; float:left; margin-top:60px; font-size:16px; font-weight:bold;}
#btn-categorias a{text-decoration:none; color:#a3a3a3;}
#btn-categorias p{margin-top:21px; text-align:center}


.btn-cat-on{background:url(../img/conexao-bg.jpg) #fff; border-top:solid 1px #bababa; border-left:solid 1px #bababa; border-right:solid 1px #bababa; border-radius:3px 3px 0 0; cursor:default; padding-top:1px;}
.btn-cat-off{background:url(../img/conexao-btn-bg-gradient.jpg); border-top:solid 1px #bababa; border-bottom:solid 1px #bababa; border-left:solid 1px #bababa; border-right:solid 1px #bababa; border-radius:3px 3px 0 0; text-shadow:0 1px 1px #fff}
.btn-cat-off:hover{background:#f7f7f7}

#btn-arquivos{width:210px; height:60px; float:left}
#btn-dispo{width:300px; height:60px; float:left}
#btn-imagens{width:210px; height:60px; float:left}

/* ---------------------ARQUIVOS-------------------- */

#arquivos-container{width:100%; display:table; border-top:solid 1px #bababa; background:url(../img/conexao-bg.jpg) #fff}
#arquivos-box{width:960px; padding-left:30px; position:relative; margin:auto; }

#arquivos-catego{width:960px; margin-top:50px; float:left; padding-bottom:100px;}
#arquivos-catego li{width:448px; height:90px; background:#f3f3f3; border:solid 1px #cfcfcf; border-radius:3px; float:left; margin-right:30px; margin-bottom:30px;}
#arquivos-catego img{margin-left:20px; margin-top:20px; float:left}
#arquivos-catego p{float:left; width:200px; margin-top:30px; font-weight:bold; margin-left:15px;}
#arquivos-catego span{float:left; margin-left:15px; font-size: 10px;}
#arquivos-catego-in a{width:70px; height:34px; padding-left:60px; padding-top:16px; background:url(../img/conexao-btn-baixar.png); margin-top:20px; margin-right:20px; float:right; color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; text-decoration:none}
#arquivos-catego-in a:hover{background:url(../img/conexao-btn-baixar.png) 0 -50px; text-shadow:0;}

.right30{margin-right:30px; margin-bottom:30px;}


#arquivo-procurar{width:340px; height:50px; padding-left:10px; margin-top:10px; line-height: 3.3; color:#bababa}
#arquivo-procurar-img{width:680px; height:50px; padding-left:10px; margin-top:10px; line-height: 3.3; color:#bababa}
#arquivo-procurar-emp{width:100px; height:40px; padding-left:10px; margin-top:10px; line-height: 3.3; color:#bababa}


/* ------------------DISPONIBILIDADE------------------ */

#dispo-inter-container{width:100%; display:table; border-top:solid 1px #bababa; background:url(../img/conexao-bg.jpg) #fff}
#dispo-inter-box{width:930px; padding-top:50px; position:relative; margin:auto;}

#dispo-inter-info li{width:288px; height:48px; font-size:13px; background:#f3f3f3; border:solid 1px #cfcfcf; border-radius:3px; float:left; margin-top:20px;}
#dispo-inter-info p{float:left; margin-left:10px; margin-top:16px;}
#dispo-inter-info img{float:left; margin-left:4px; margin-top:4px;}
#dispo-inter-info span{font-weight:bold}

#dispo-inter-list{width:940px; margin-top:20px; padding-bottom:100px; float:left }
#dispo-inter-list li{ /* width:82px; */ height:30px; text-align:center; float:left; margin-right:12px; margin-bottom:30px; cursor:default}
#dispo-inter-list li:hover{opacity:0.8}
#dispo-inter-list p{padding-top:7px; font-size:12px;}

.list-red{background-color:#f46868; color:#fff;}
.list-green{background-color:#5eb255; color:#fff;}
.list-yell{background-color:#f2f166; color:#000;}

#btn-imprimir{width:930px; display:table}
#btn-imprimir a{width:215px; height:34px; font-weight:bold; padding-left:65px; padding-top:16px; color:#2b7a32; float:right; background:url(../img/conexao-btn-emp-baixar.png) 0 0; font-size:16px; text-shadow:0 1px 1px #77cd7f; text-decoration:none}
#btn-imprimir a:hover{background:url(../img/conexao-btn-emp-baixar.png) 0 -50px; text-shadow:0 0 0}


/* -----------------------IMAGENS---------------------- */

#imagens-container{width:100%; display:table; border-top:solid 1px #bababa; background:url(../img/conexao-bg.jpg) #fff}
#imagens-box{width:960px; padding-left:30px; padding-top:60px; position:relative; margin:auto;}

#imagens-thumbs{float:left; padding-bottom:150px;}
#imagens-thumbs li{width:208px; height:254px; background:#f3f3f3; border:solid 1px #cfcfcf; border-radius:3px; float:left; margin-bottom:50px; float:left; margin-right:30px; margin-bottom:30px;}
#imagens-thumbs img{margin:30px; border:solid 1px #cfcfcf; float:left}

#admin-imagens-edit{float:left; margin-top:8px;; margin-left:34px}


#imagens-thumbs-baixar a{width:70px; height:34px; padding-left:60px; padding-top:16px; background:url(../img/conexao-btn-baixar.png); margin-left:40px; float:left; color:#2b7a32; font-size:16px; text-shadow:0 1px 1px #77cd7f; font-weight:bold; text-decoration:none}
#imagens-thumbs-baixar a:hover{background:url(../img/conexao-btn-baixar.png) 0 -50px; text-shadow:0;}

/* ----------------------------------FOOTER---------------------------------------- */
#footer-container-login{width:100%; position:relative; bottom:0; background:#ce183b; border-top:solid 1px #740000;}


#footer-container{width:100%; background:#ce183b; border-top:solid 1px #FFF;}
#footer-box{width:930px; height:80px; position:relative; margin:auto;}
#footer-logo{width:140px; height:40px; background:url(../img/conexao-footer-logo.jpg); float:left; margin-top:20px;}
#footer-divex{width:94px; height:19px; background:url(../img/conexao-footer-divex.png); float:right; margin-top:30px;}


/* -------------------USUARIOS-------------------- */

#usuario-container{width:100%; border-top:solid 1px #fff; background:url(../img/conexao-bg-cinza.jpg) #fff}
#usuario-box{width:930px; display:table; padding-top:30px; position:relative; margin:auto}
#usuario-top{width:220px; height:100px; margin:auto; background:url(../img/conexao-ico-usuario.png) 15px 0 no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#usuario-top h2{margin-left:70px; padding-top:12px; float:left; text-shadow:0 1px 1px #fff}

#usuario-in{width:860px; height:50px; margin:auto; padding-top:20px;}
#usuario-in p{width:140px; font-size:22px; font-weight:bold; float:left; margin-right:30px; margin-top:12px; color:#a3a3a3}
#select-categoria{width:450px; height:50px; float:left; padding-left:10px;}
#usuario-in a{width:140px; height:34px; padding-top:16px; padding-left:70px; margin-left:30px; background:url(../img/conexao-btn-procure.png) 0 0; float:left; font-size:16px; font-weight:bold; color:#7f7f7f; text-shadow:0 1px 1px #fff; text-decoration:none}
#usuario-in a:hover{background:url(../img/conexao-btn-procure.png) 0 -50px; text-shadow:0 0 0}

.usuario-categoria{width:608px; height:48px; line-height: 3.3; font-weight:bold; color: #7f7f7f; float:left; padding-left:10px; margin-left:0; margin-top:0px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:solid 1px #bababa;}

#usuario-add-link{margin-left:10px; margin-bottom:10px;}

#usuario-table{width:930px; margin-top:40px; margin-left:15px; padding-bottom:25px; float:left; font-weight:bold; }
#usuario-table a:hover{text-decoration:underline;}

.usuario-table-name-1{width:250px; text-align:left}
.usuario-table-name-2{width:300px; text-align:left}
.usuario-table-name-3{width:90px; text-align:left}
.usuario-table-name-4{width:100px; text-align:lef; }

.usuario-table-1{width:300px; padding:10px; color:#fff; cursor:default}
.usuario-table-2{width:350px; padding:10px; color:#fff; cursor:default}
.usuario-table-3{width:90px; padding:10px; color:#fff; cursor:default}
.usuario-table-4{width:100px; padding:10px; color:#fff; cursor:default; text-align:left; background:url(../img/conexao-bg-cinza.jpg) #fff}

.usuario-table-1:hover{background:#b6b6b6}
.usuario-table-2:hover{background:#b6b6b6}
.usuario-table-3:hover{background:#b6b6b6}

.usuario-admin-edit{background:url(../img/conexao-ico-admin-edit.png) no-repeat; font-size:14px; color:#ce183b; padding-left:22px;  margin-right:20px;}
.usuario-admin-excluir{background:url(../img/conexao-ico-admin-excluir.png) no-repeat; font-size:14px; color:#ce183b; padding-left:22px}


#usuario-numera{width:735px; font-size:20px; word-spacing:10px; margin-right:15px;  margin-left:15px; text-align:right; padding-bottom:50px; float:right}
#usuario-numera a:hover{text-decoration:underline;}

.usuario-total{float:left; text-align:center; margin-right:10px; font-size:14px; margin-top:40px}



/* -------------------LOG'S DE AÇÕES-------------------- */

#acoes-top{width:280px; height:100px; margin:auto; background:url(../img/conexao-ico-acoes.png) 12px 0 no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#acoes-top h2{margin-left:70px; padding-top:8px; margin-bottom:40px; float:left; text-shadow:0 1px 1px #fff}

#acoes-top p{text-align:center; margin-right:10px; font-size:14px}

.acoes-table-name-1{width:250px; text-align:left}
.acoes-table-name-2{width:300px; text-align:left}
.acoes-table-name-3{width:90px; text-align:left}
.acoes-table-name-4{width:100px; text-align:left}
.acoes-table-name-5{width:100px; text-align:left}
.acoes-table-name-6{width:100px; text-align:left}

.acoes-table-1{width:300px; padding:10px; color:#fff; cursor:default}
.acoes-table-2{width:350px; padding:10px; color:#fff; cursor:default}
.acoes-table-3{width:90px; padding:10px; color:#fff; cursor:default}
.acoes-table-4{width:100px; padding:10px; color:#fff; cursor:default}
.acoes-table-5{width:100px; padding:10px; color:#fff; cursor:default}
.acoes-table-6{width:100px; padding:10px; color:#fff; cursor:default}

.acoes-table-1:hover{background:#b6b6b6}
.acoes-table-2:hover{background:#b6b6b6}
.acoes-table-3:hover{background:#b6b6b6}
.acoes-table-4:hover{background:#b6b6b6}
.acoes-table-5:hover{background:#b6b6b6}
.acoes-table-6:hover{background:#b6b6b6}

#acoes-numera{width:930px; font-size:20px; word-spacing:10px; padding-right:15px;  text-align:right; padding-bottom:50px; float:left}
#acoes-numera a:hover{text-decoration:underline;}

/* -------------------LOG'S DE ACESSO-------------------- */

#acesso-top{width:300px; height:100px; margin:auto; background:url(../img/conexao-ico-acoes.png) 12px 0 no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#acesso-top h2{margin-left:70px; padding-top:8px; margin-bottom:40px; float:left; text-shadow:0 1px 1px #fff}

#acesso-top p{text-align:center; margin-right:10px; font-size:14px}


#acesso-top-dispo{width:486px; height:100px; margin:auto; margin-top: 15px; background:url(../img/conexao-ico-dispo.png) 12px 0 no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#acesso-top-dispo h2{margin-left:70px; padding-top:8px; margin-bottom:40px; float:left; text-shadow:0 1px 1px #fff}

#acesso-top-dispo p{text-align:center; margin-right:10px; font-size:14px}

#acesso-top-arquivo{width:392px; height:100px; margin:auto; margin-top: 15px; background:url(../img/conexao-ico-dispo.png) 12px 0 no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#acesso-top-arquivo h2{margin-left:70px; padding-top:8px; margin-bottom:40px; float:left; text-shadow:0 1px 1px #fff}

#acesso-top-arquivo p{text-align:center; margin-right:10px; font-size:14px}

.acesso-table-name-1{width:250px; text-align:left}
.acesso-table-name-2{width:300px; text-align:left}
.acesso-table-name-3{width:90px; text-align:left}
.acesso-table-name-4{width:100px; text-align:left}

.acesso-table-1{width:300px; padding:10px; color:#fff; cursor:default}
.acesso-table-2{width:350px; padding:10px; color:#fff; cursor:default}
.acesso-table-3{width:90px; padding:10px; color:#fff; cursor:default}
.acesso-table-4{width:100px; padding:10px; color:#fff; cursor:default}

.acesso-table-1:hover{background:#b6b6b6}
.acesso-table-2:hover{background:#b6b6b6}
.acesso-table-3:hover{background:#b6b6b6}
.acesso-table-4:hover{background:#b6b6b6}


/* -------------------COMUNICADOS-------------------- */

#comunica-top{width:255px; height:100px; margin:auto; background:url(../img/conexao-ico-comunica.png) 12px 0 no-repeat; font-size:26px; font-weight:bold; color:#a3a3a3;}
#comunica-top h2{margin-left:70px; padding-top:8px; margin-bottom:40px; float:left; text-shadow:0 1px 1px #fff}

#comunica-top p{text-align:center; margin-right:10px; font-size:14px}

.comunica-table-name-1{width:450px; text-align:left}
.comunica-table-name-2{width:100px; text-align:left}
.comunica-table-name-3{width:100px; text-align:left}
.comunica-table-name-4{width:100px; text-align:left}

.comunica-table-1{width:450px; padding:10px; color:#fff; cursor:default}
.comunica-table-2{width:100px; padding:10px; color:#fff; cursor:default}
.comunica-table-3{width:100px; padding:10px; color:#fff; cursor:default}
.comunica-table-4{width:100px; padding:10px; color:#fff; cursor:default; text-align:left; background:url(../img/conexao-bg-cinza.jpg) #fff}

.comunica-table-1:hover{background:#b6b6b6}
.comunica-table-2:hover{background:#b6b6b6}
.comunica-table-3:hover{background:#b6b6b6}

#comunica-numera{width:730px; font-size:20px; word-spacing:10px; margin-right:15px;  margin-left:15px; text-align:right; padding-bottom:50px; float:left}
#comunica-numera a:hover{text-decoration:underline;}


#comunica-criar{width:900px; display:table; padding-right:30px; margin-left:6px; float:left; background:url(../img/conexao-bg.jpg) #fff; border: 1px solid #cbc5c5; -moz-border-radius:7px; -webkit-border-radius:7px; border-radius:7px; }

.comunica-categoria{width:810px; height:150px; line-height: 3.3; font-weight:bold; color: #7f7f7f; float:right; padding-left:10px; margin-left:0; margin-top:15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; border:solid 1px #bababa;}

#comunica-ad-arquivos-2{width:820px; height:75px; margin-top:20px; margin-left:30px; float:left; background:#f1f1f1; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#comunica-ad-arquivos-2 p {margin-left:30px; margin-top:30px; float:left}

/* ----------------------------------INPUT FILE---------------------------------------- */
/*
.customfile-input { position: absolute; height: 100px; cursor: pointer; background: transparent; border: 0; opacity: 0; -moz-opacity: 0; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); z-index: 999;  }

.customfile { width: 350px; height:48px; margin-left:30px; margin-top:17px; background:#fff; cursor: pointer; overflow: hidden; border: 1px solid #cbc5c5; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  position: relative; }

.customfile-disabled { opacity: .5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); cursor: default;  }
.customfile-feedback { display: block; margin: 1px 1px 1px 5px; font-size: 1.2em; color: #ccc; line-height:2.1; font-style: italic; padding: .3em .6em; }
.customfile-feedback-populated { color: #fff; font-style: normal; font-weight: bold; padding-left: 20px; background: url(../images/icon-generic.gif) left 4px no-repeat; }
.customfile-button { border: 1px solid #999; 	background: #bababa;

	background: -moz-linear-gradient(top, #F8F8F8 1%, #E1E1E1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #F8F8F8), color-stop(100%, #E1E1E1));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E1E1E1', GradientType=0);

  color: #7f7f7f; font-weight:bold; float: right; width: 100px; height:20px; padding: .8em .6em;  text-align: center; text-decoration: none;  font-size: 1.2em; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;  }
*/

/* Novo */
.dispo-break { width: 100%; border-top: solid 1px #e8e8e8; margin: 0px 0px 30px 0px; padding: 0; height: 1px; display: table; line-height: 1px; }


/* -------------------PROGRMAÇÂO SEMANAL-------------------- */

#semanal-container{width:100%; border-top:solid 1px #fff; background:url(../img/conexao-bg.jpg) #fff}
#semanal-box{width:930px; height:auto; display:table; padding-top:30px; padding-bottom:60px; position:relative; margin:auto}
#semanal-top{width:100%; float:left; text-align:center; height:85px; padding-top:30px; margin:auto; color:#a3a3a3;}
#semanal-top h2{width: 100%; float:left; font-size:30px; font-weight:500; text-shadow:0 1px 1px #fff}

.semanal-periodo { width:500px; text-align:center; height:auto; background:; border-radius:5px; margin-top:-50px; float:right }
.semanal-periodo p { font-size:18px; margin-top:15px;  }
.semanal-periodo form { float:right }
.addperiodo { *width:330px; margin-top: 15px; margin-left: -10px; float: right; clear: both;}


.semanal-left { border-bottom:1px solid #b7b7b7; border-radius:0px 0px 5px 5px ; padding-bottom:3px; float:left; width:290px;  } 
.semanal-left .firstborder {border-radius: 5px 0px 0px 0px;}
.semanal-left li { width:288px; border:1px solid #b7b7b7; position:relative; border-bottom:0; cursor:pointer; float:left; text-align:left !important }
.ie7 .semanal-left li { height:60px }



.semanal-left li:hover { background:#f5f5f5 }
.semanal-left .active-li { font-weight:900; color:#9f0a27; background:#f5f5f5 }
.semanal-left li .setali {  width:11px; height:61px; position:absolute; margin-left:288px; background:url(../img/seta.png)  } 
.ie7 .semanal-left li .setali { right:-11px } 

.semanal-left figure { width:40px; height:40px; padding: 0; margin: 10px 0 10px 20px;  float:left }
.semanal-left li p { float:left; margin-left:20px; margin-top:22px;  }

.semanal-right {display:table; float:right; width:610px; } 
.semanal-right .boxetopright { width:608px; height:68px; border:1px solid #b7b7b7; border-radius: 5px 5px 0px 0px; float:left;  background:#f5f5f5; text-align:left !important }
.semanal-right .boxebottomright { width:608px; display:table; margin-bottom:20px; padding-bottom:30px; border:1px solid #b7b7b7; border-top:0; border-radius:0px 0px 5px 5px; float:left; background:#FFF;  text-align:left !important  }

.boxetopright figure { width:38px; height:42px; background:url(../img/icos-semanal.jpg); padding: 0; margin: 15px 0 10px 30px;  float:left }
.boxetopright .icos-semanal-panfleto { background-position: -14px -8px; }
.boxetopright .icos-semanal-jornal { background-position: -71px -8px; }
.boxetopright .icos-semanal-revista { background-position: -126px -8px; }
.boxetopright .icos-semanal-bandeira { background-position: -181px -8px; }
.boxetopright .icos-semanal-midia { background-position: -236px -8px; }
.boxetopright .icos-semanal-seta { background-position: -291px -8px; }
.boxetopright .icos-semanal-musical { background-position: -345px -8px; }



.boxetopright h3 {margin-left:20px; margin-top:16px; float:left; font-size:28px; font-weight:400; text-shadow:0 1px 1px #fff }

.boxebottomright p { width:370px; font-size:18px; line-height:24px; font-weight:100;  margin-left:30px; float:left; margin-top:30px; }
.boxebottomright .imagem { width:130px; margin-left:40px; margin-top:30px; float:left }
.boxebottomright .imagem i { width:11px; height:11px; background:url(../img/lupa.png); float:left; margin-top: 8px; }
.boxebottomright .imagem p { font-size:11px; font-weight:400;  float:left; margin-left:5px; margin-top:0; width:110px }

.abarsf { margin-top: 6px;
float: left;
margin-left: 370px; }


/* -------------------VENDAS-------------------- */
.wrapper{width:100%;height:auto;float:left;background:url("../img/conexao-bg-cinza.jpg") repeat scroll 0 0 #fff;}
.wrapper #comunica-top{height:82px;margin-top:20px;}
.wrapper .acoes-total{font-size:16px;margin-right:10px;text-align: center;font-weight:bold;}
.vendas-table, .table_vendas{float:left;font-weight:bold;margin-top:40px;padding-bottom:25px;}
.table_header{width:auto;text-align:center;background:#CECECE;color:#000000;text-transform:uppercase;padding:5px 0px;vertical-align:middle;}
.table_vendas .conteudo{color:#FFF;}
.table_vendas .conteudo th{padding:2px 10px;vertical-align:middle;}
.w_small{width:85px;}
.w_medium{width:500px;}
.w_medium_minus{width:112px;}
.data{width:100px;height:48px;border:1px solid #bababa;border-radius:3px;color:#7f7f7f;float:left;font-weight:bold;line-height:3.3;margin-left:0;margin-top:0;padding-left:10px;text-align:center;}
.vendas-in{width:1085px!important;}
#usuario-in.vendas-in a{height:35px;margin-left:5px;}
.usuarios{width:44%;padding:10px;border:1px solid #7f7f7f;float:left;margin:10px;}
.wrapper_select{width:auto;height:auto;float:left;margin-left:75px;margin-top:10px;}
.wrapper_select table{margin-top:10px;}
.wrapper_buttons{width:613px!important;margin-left:75px!important;float:left;margin-top:50px;padding-bottom:10px;}
.wrapper_select .header{text-align:right;padding-right:10px;font-weight:bold;}
.comentario{width:585px;text-align:justify;margin-top:20px;}
.comentario span{font-weight:bold;}
.wrapper_buttons .modal-admin-btn-cancelar{width:131px;height:51px;}
.vendas-in .email_contato{width:230px;height:48px;border:1px solid #bababa;border-radius:3px;color:#7f7f7f;float:left;font-weight:bold;line-height:3.3;margin-left:0;margin-top:0;padding-left:10px;}
.vendas-in .select_table{min-width:80px!important;width:80px!important}
.vendas-in .selectBox.select_table.selectBox-dropdown{padding-left:31px!important;padding-top:0px!important;margin-top:0!important;padding-bottom:15px;}
.vendas-in .selectBox-dropdown .selectBox-label{padding:0!important;margin-left:-15px!important;}
.clear{clear:both;}
#btn-admin.corretor{height:49px;}
.comentario.view{width:472px;}
#comunica-top.detalhes{width:335px;}
.col_esq{width:435px;float:left;}
.col_dir{width:398px;float:left;margin-left:80px;}
.label_det{width:auto;float:left;font-size:15px;font-weight:bold;margin-right:5px;}
.conteudo_det{width:auto;float:left;margin-right:15px;}
.comentario.det{width:398px;float:left;margin-top:0px;}
.comentario.det .label_det{float:none;}
.comentario.det .coments{float:left;}
.wrapper_select.info_contato{width:913px;float:none;margin:0 auto;}