/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* GERAL */

.ui-droppable{
	min-height:50px;
}

body{
	background:#FFF !important;
	font-family: 'Open Sans', sans-serif !important;
	overflow-x:hidden;
}

.mask{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	z-index:50;
	
}

#dialog{
	z-index:999999;
}

.state-active{
	border:1px dashed #818181;
}

/* PAGINA */

.container-drop{
	display:block !important;
	float:left;
	left:50%;
	margin-left:-460px !important;
	clear:both;
	top:215px;
	background:#F0F0F0;
	min-height: 50px;
	position: relative;
}

/* MENU e  */

.quick-button{
	display:inline-block;
	padding:10px 15px;
}

.quick-button p{
	float:none !important;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 0;
	color:#646464 !important;
}

/* Tabs
=================================================================== */
#tabsPagebuilder{
	position:fixed;
	width:98%;
	left:50%;
	margin-left:-49%;
	z-index:100;
	background:#FFF;
}


.nav-tabs {
	display:block;
	width:100%;
	margin-top:10px;
	margin-bottom:-1px;
	list-style: none;
}

.nav-tabs li {
	position:relative;
	display:inline-block;
	border:1px solid #818181;
	border-bottom:none;
	border-radius:5px 5px 0 0;
	margin-left:5px;
	z-index:5;
}

.nav-tabs  li:hover{
	background:#EAEAEA;
}

.nav-tabs  li.active{
	background:#EAEAEA;
	z-index:13;
}

.nav-tabs  li a{
	text-decoration:none;
	font-size:14px;
	color:#646464 !important;
	padding:10px 8px;
	display:block;
	text-transform:capitalize;
}

#tabsPagebuilder > div{
	position:relative;
	display:none;
	width:100%;
	background:#EAEAEA;
	border:1px solid #818181;
	z-index:10;
}

#tabsPagebuilder > div a{
	display:inline-block;
	margin:5px;
	padding:5px;
}

.quick-button {
	border: 1px solid #ddd;
  	padding: 15px 0px 0px 0px;
	font-size: 10px;
  	background-color: #fafafa;
  	background-image: -moz-linear-gradient(top, #fafafa, #efefef);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef));
  	background-image: -webkit-linear-gradient(top, #fafafa, #efefef);
  	background-image: -o-linear-gradient(top, #fafafa, #efefef);
  	background-image: linear-gradient(to bottom, #fafafa, #efefef);
  	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0);
  	-webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
	   -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
			box-shadow: 0 1px 0px rgba(255, 255, 255, .8);
  	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
          	border-radius: 2px;
	display:block;
	color: #646464;
	text-shadow: 0 1px 0px rgba(255, 255, 255, .6);
	text-align: center;
	cursor: pointer;
	position: relative;
}

.quick-button:hover {
	text-decoration: none;
	border-color: #a5a5a5;
	color: #444444;
	text-shadow: 0 1px 0px rgba(255, 255, 255, 1);
  	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.25);
          	box-shadow: 0px 0px 3px rgba(0,0,0,.25);
}

.quick-button i {
	font-size: 20px;
}

/* Quick Buttons Small
=================================================================== */



.quick-button a{
display:block;
	width:50px;
	height:50px;
}

/* Ícones
=================================================================== */

/*!
 *  Font Awesome 3.0.1
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"

 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont-62877.eot');
  src: url('../font/fontawesome-webfont-0.eot#iefix&v=3.0.1') format('embedded-opentype'),
    url('../font/fontawesome-webfont-62877.woff') format('woff'),
    url('../font/fontawesome-webfont-62877.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="fa-icon-"],
[class*=" fa-icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;

  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}
/* more sprites.less reset */
.fa-icon-white,
.nav-pills > .active > a > [class^="fa-icon-"],
.nav-pills > .active > a > [class*=" fa-icon-"],
.nav-list > .active > a > [class^="fa-icon-"],
.nav-list > .active > a > [class*=" fa-icon-"],
.navbar-inverse .nav > .active > a > [class^="fa-icon-"],
.navbar-inverse .nav > .active > a > [class*=" fa-icon-"],
.dropdown-menu > li > a:hover > [class^="fa-icon-"],
.dropdown-menu > li > a:hover > [class*=" fa-icon-"],
.dropdown-menu > .active > a > [class^="fa-icon-"],
.dropdown-menu > .active > a > [class*=" fa-icon-"],
.dropdown-submenu:hover > a > [class^="fa-icon-"],
.dropdown-submenu:hover > a > [class*=" fa-icon-"] {
  background-image: none;
}
[class^="fa-icon-"]:before,
[class*=" fa-icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}
/* makes sure icons active on rollover in links */
a [class^="fa-icon-"],
a [class*=" fa-icon-"] {
  display: inline-block;
}
/* makes the font 33% larger relative to the icon container */
.fa-icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}
.btn [class^="fa-icon-"],
.nav [class^="fa-icon-"],
.btn [class*=" fa-icon-"],
.nav [class*=" fa-icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */

}
.btn [class^="fa-icon-"].fa-icon-large,
.nav [class^="fa-icon-"].fa-icon-large,
.btn [class*=" fa-icon-"].fa-icon-large,
.nav [class*=" fa-icon-"].fa-icon-large {
  line-height: .9em;
}
.btn [class^="fa-icon-"].fa-icon-spin,
.nav [class^="fa-icon-"].fa-icon-spin,
.btn [class*=" fa-icon-"].fa-icon-spin,
.nav [class*=" fa-icon-"].fa-icon-spin {
  display: inline-block;
}
.nav-tabs [class^="fa-icon-"],
.nav-pills [class^="fa-icon-"],
.nav-tabs [class*=" fa-icon-"],
.nav-pills [class*=" fa-icon-"] {
  /* keeps button heights with and without icons the same */

}
.nav-tabs [class^="fa-icon-"],
.nav-pills [class^="fa-icon-"],
.nav-tabs [class*=" fa-icon-"],
.nav-pills [class*=" fa-icon-"],
.nav-tabs [class^="fa-icon-"].fa-icon-large,
.nav-pills [class^="fa-icon-"].fa-icon-large,
.nav-tabs [class*=" fa-icon-"].fa-icon-large,
.nav-pills [class*=" fa-icon-"].fa-icon-large {
  line-height: .9em;
}
li [class^="fa-icon-"],
.nav li [class^="fa-icon-"],
li [class*=" fa-icon-"],
.nav li [class*=" fa-icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="fa-icon-"].fa-icon-large,
.nav li [class^="fa-icon-"].fa-icon-large,
li [class*=" fa-icon-"].fa-icon-large,
.nav li [class*=" fa-icon-"].fa-icon-large {
  /* increased font size for fa-icon-large */

  width: 1.5625em;
}
ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="fa-icon-"],
ul.icons li [class*=" fa-icon-"] {
  width: .75em;
}
.fa-icon-muted {
  color: #eeeeee;
}
.fa-icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.fa-icon-2x {
  font-size: 2em;
}
.fa-icon-2x.fa-icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.fa-icon-3x {
  font-size: 3em;
}
.fa-icon-3x.fa-icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.fa-icon-4x {
  font-size: 4em;
}
.fa-icon-4x.fa-icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
[class^="fa-icon-"].pull-left,
[class*=" fa-icon-"].pull-left {
  margin-right: .3em;
}
[class^="fa-icon-"].pull-right,
[class*=" fa-icon-"].pull-right {
  margin-left: .3em;
}
.btn [class^="fa-icon-"].pull-left.fa-icon-2x,
.btn [class*=" fa-icon-"].pull-left.fa-icon-2x,
.btn [class^="fa-icon-"].pull-right.fa-icon-2x,
.btn [class*=" fa-icon-"].pull-right.fa-icon-2x {
  margin-top: .18em;
}
.btn [class^="fa-icon-"].fa-icon-spin.fa-icon-large,
.btn [class*=" fa-icon-"].fa-icon-spin.fa-icon-large {
  line-height: .8em;
}
.btn.btn-small [class^="fa-icon-"].pull-left.fa-icon-2x,
.btn.btn-small [class*=" fa-icon-"].pull-left.fa-icon-2x,
.btn.btn-small [class^="fa-icon-"].pull-right.fa-icon-2x,
.btn.btn-small [class*=" fa-icon-"].pull-right.fa-icon-2x {
  margin-top: .25em;
}
.btn.btn-large [class^="fa-icon-"],
.btn.btn-large [class*=" fa-icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="fa-icon-"].pull-left.fa-icon-2x,
.btn.btn-large [class*=" fa-icon-"].pull-left.fa-icon-2x,
.btn.btn-large [class^="fa-icon-"].pull-right.fa-icon-2x,
.btn.btn-large [class*=" fa-icon-"].pull-right.fa-icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="fa-icon-"].pull-left.fa-icon-2x,
.btn.btn-large [class*=" fa-icon-"].pull-left.fa-icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="fa-icon-"].pull-right.fa-icon-2x,
.btn.btn-large [class*=" fa-icon-"].pull-right.fa-icon-2x {
  margin-left: .2em;
}
.fa-icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .fa-icon-spin {
    height: .9em;
  }
  .btn .fa-icon-spin {
    height: auto;
  }
  .fa-icon-spin.fa-icon-large {
    height: 1.25em;
  }
  .btn .fa-icon-spin.fa-icon-large {
    height: .75em;
  }
}
/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.fa-icon-glass:before                { content: "\f000"; }
.fa-icon-music:before                { content: "\f001"; }
.fa-icon-search:before               { content: "\f002"; }
.fa-icon-envelope:before             { content: "\f003"; }
.fa-icon-heart:before                { content: "\f004"; }
.fa-icon-star:before                 { content: "\f005"; }
.fa-icon-star-empty:before           { content: "\f006"; }
.fa-icon-user:before                 { content: "\f007"; }
.fa-icon-film:before                 { content: "\f008"; }
.fa-icon-th-large:before             { content: "\f009"; }
.fa-icon-th:before                   { content: "\f00a"; }
.fa-icon-th-list:before              { content: "\f00b"; }
.fa-icon-ok:before                   { content: "\f00c"; }
.fa-icon-remove:before               { content: "\f00d"; }
.fa-icon-zoom-in:before              { content: "\f00e"; }

.fa-icon-zoom-out:before             { content: "\f010"; }
.fa-icon-off:before                  { content: "\f011"; }
.fa-icon-signal:before               { content: "\f012"; }
.fa-icon-cog:before                  { content: "\f013"; }
.fa-icon-trash:before                { content: "\f014"; }
.fa-icon-home:before                 { content: "\f015"; }
.fa-icon-file:before                 { content: "\f016"; }
.fa-icon-time:before                 { content: "\f017"; }
.fa-icon-road:before                 { content: "\f018"; }
.fa-icon-download-alt:before         { content: "\f019"; }
.fa-icon-download:before             { content: "\f01a"; }
.fa-icon-upload:before               { content: "\f01b"; }
.fa-icon-inbox:before                { content: "\f01c"; }
.fa-icon-play-circle:before          { content: "\f01d"; }
.fa-icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.fa-icon-refresh:before              { content: "\f021"; }
.fa-icon-list-alt:before             { content: "\f022"; }
.fa-icon-lock:before                 { content: "\f023"; }
.fa-icon-flag:before                 { content: "\f024"; }
.fa-icon-headphones:before           { content: "\f025"; }
.fa-icon-volume-off:before           { content: "\f026"; }
.fa-icon-volume-down:before          { content: "\f027"; }
.fa-icon-volume-up:before            { content: "\f028"; }
.fa-icon-qrcode:before               { content: "\f029"; }
.fa-icon-barcode:before              { content: "\f02a"; }
.fa-icon-tag:before                  { content: "\f02b"; }
.fa-icon-tags:before                 { content: "\f02c"; }
.fa-icon-book:before                 { content: "\f02d"; }
.fa-icon-bookmark:before             { content: "\f02e"; }
.fa-icon-print:before                { content: "\f02f"; }

.fa-icon-camera:before               { content: "\f030"; }
.fa-icon-font:before                 { content: "\f031"; }
.fa-icon-bold:before                 { content: "\f032"; }
.fa-icon-italic:before               { content: "\f033"; }
.fa-icon-text-height:before          { content: "\f034"; }
.fa-icon-text-width:before           { content: "\f035"; }
.fa-icon-align-left:before           { content: "\f036"; }
.fa-icon-align-center:before         { content: "\f037"; }
.fa-icon-align-right:before          { content: "\f038"; }
.fa-icon-align-justify:before        { content: "\f039"; }
.fa-icon-list:before                 { content: "\f03a"; }
.fa-icon-indent-left:before          { content: "\f03b"; }
.fa-icon-indent-right:before         { content: "\f03c"; }
.fa-icon-facetime-video:before       { content: "\f03d"; }
.fa-icon-picture:before              { content: "\f03e"; }

.fa-icon-pencil:before               { content: "\f040"; }
.fa-icon-map-marker:before           { content: "\f041"; }
.fa-icon-adjust:before               { content: "\f042"; }
.fa-icon-tint:before                 { content: "\f043"; }
.fa-icon-edit:before                 { content: "\f044"; }
.fa-icon-share:before                { content: "\f045"; }
.fa-icon-check:before                { content: "\f046"; }
.fa-icon-move:before                 { content: "\f047"; }
.fa-icon-step-backward:before        { content: "\f048"; }
.fa-icon-fast-backward:before        { content: "\f049"; }
.fa-icon-backward:before             { content: "\f04a"; }
.fa-icon-play:before                 { content: "\f04b"; }
.fa-icon-pause:before                { content: "\f04c"; }
.fa-icon-stop:before                 { content: "\f04d"; }
.fa-icon-forward:before              { content: "\f04e"; }

.fa-icon-fast-forward:before         { content: "\f050"; }
.fa-icon-step-forward:before         { content: "\f051"; }
.fa-icon-eject:before                { content: "\f052"; }
.fa-icon-chevron-left:before         { content: "\f053"; }
.fa-icon-chevron-right:before        { content: "\f054"; }
.fa-icon-plus-sign:before            { content: "\f055"; }
.fa-icon-minus-sign:before           { content: "\f056"; }
.fa-icon-remove-sign:before          { content: "\f057"; }
.fa-icon-ok-sign:before              { content: "\f058"; }
.fa-icon-question-sign:before        { content: "\f059"; }
.fa-icon-info-sign:before            { content: "\f05a"; }
.fa-icon-screenshot:before           { content: "\f05b"; }
.fa-icon-remove-circle:before        { content: "\f05c"; }
.fa-icon-ok-circle:before            { content: "\f05d"; }
.fa-icon-ban-circle:before           { content: "\f05e"; }

.fa-icon-arrow-left:before           { content: "\f060"; }
.fa-icon-arrow-right:before          { content: "\f061"; }
.fa-icon-arrow-up:before             { content: "\f062"; }
.fa-icon-arrow-down:before           { content: "\f063"; }
.fa-icon-share-alt:before            { content: "\f064"; }
.fa-icon-resize-full:before          { content: "\f065"; }
.fa-icon-resize-small:before         { content: "\f066"; }
.fa-icon-plus:before                 { content: "\f067"; }
.fa-icon-minus:before                { content: "\f068"; }
.fa-icon-asterisk:before             { content: "\f069"; }
.fa-icon-exclamation-sign:before     { content: "\f06a"; }
.fa-icon-gift:before                 { content: "\f06b"; }
.fa-icon-leaf:before                 { content: "\f06c"; }
.fa-icon-fire:before                 { content: "\f06d"; }
.fa-icon-eye-open:before             { content: "\f06e"; }

.fa-icon-eye-close:before            { content: "\f070"; }
.fa-icon-warning-sign:before         { content: "\f071"; }
.fa-icon-plane:before                { content: "\f072"; }
.fa-icon-calendar:before             { content: "\f073"; }
.fa-icon-random:before               { content: "\f074"; }
.fa-icon-comment:before              { content: "\f075"; }
.fa-icon-magnet:before               { content: "\f076"; }
.fa-icon-chevron-up:before           { content: "\f077"; }
.fa-icon-chevron-down:before         { content: "\f078"; }
.fa-icon-retweet:before              { content: "\f079"; }
.fa-icon-shopping-cart:before        { content: "\f07a"; }
.fa-icon-folder-close:before         { content: "\f07b"; }
.fa-icon-folder-open:before          { content: "\f07c"; }
.fa-icon-resize-vertical:before      { content: "\f07d"; }
.fa-icon-resize-horizontal:before    { content: "\f07e"; }

.fa-icon-bar-chart:before            { content: "\f080"; }
.fa-icon-twitter-sign:before         { content: "\f081"; }
.fa-icon-facebook-sign:before        { content: "\f082"; }
.fa-icon-camera-retro:before         { content: "\f083"; }
.fa-icon-key:before                  { content: "\f084"; }
.fa-icon-cogs:before                 { content: "\f085"; }
.fa-icon-comments:before             { content: "\f086"; }
.fa-icon-thumbs-up:before            { content: "\f087"; }
.fa-icon-thumbs-down:before          { content: "\f088"; }
.fa-icon-star-half:before            { content: "\f089"; }
.fa-icon-heart-empty:before          { content: "\f08a"; }
.fa-icon-signout:before              { content: "\f08b"; }
.fa-icon-linkedin-sign:before        { content: "\f08c"; }
.fa-icon-pushpin:before              { content: "\f08d"; }
.fa-icon-external-link:before        { content: "\f08e"; }

.fa-icon-signin:before               { content: "\f090"; }
.fa-icon-trophy:before               { content: "\f091"; }
.fa-icon-github-sign:before          { content: "\f092"; }
.fa-icon-upload-alt:before           { content: "\f093"; }
.fa-icon-lemon:before                { content: "\f094"; }
.fa-icon-phone:before                { content: "\f095"; }
.fa-icon-check-empty:before          { content: "\f096"; }
.fa-icon-bookmark-empty:before       { content: "\f097"; }
.fa-icon-phone-sign:before           { content: "\f098"; }
.fa-icon-twitter:before              { content: "\f099"; }
.fa-icon-facebook:before             { content: "\f09a"; }
.fa-icon-github:before               { content: "\f09b"; }
.fa-icon-unlock:before               { content: "\f09c"; }
.fa-icon-credit-card:before          { content: "\f09d"; }
.fa-icon-rss:before                  { content: "\f09e"; }

.fa-icon-hdd:before                  { content: "\f0a0"; }
.fa-icon-bullhorn:before             { content: "\f0a1"; }
.fa-icon-bell:before                 { content: "\f0a2"; }
.fa-icon-certificate:before          { content: "\f0a3"; }
.fa-icon-hand-right:before           { content: "\f0a4"; }
.fa-icon-hand-left:before            { content: "\f0a5"; }
.fa-icon-hand-up:before              { content: "\f0a6"; }
.fa-icon-hand-down:before            { content: "\f0a7"; }
.fa-icon-circle-arrow-left:before    { content: "\f0a8"; }
.fa-icon-circle-arrow-right:before   { content: "\f0a9"; }
.fa-icon-circle-arrow-up:before      { content: "\f0aa"; }
.fa-icon-circle-arrow-down:before    { content: "\f0ab"; }
.fa-icon-globe:before                { content: "\f0ac"; }
.fa-icon-wrench:before               { content: "\f0ad"; }
.fa-icon-tasks:before                { content: "\f0ae"; }

.fa-icon-filter:before               { content: "\f0b0"; }
.fa-icon-briefcase:before            { content: "\f0b1"; }
.fa-icon-fullscreen:before           { content: "\f0b2"; }

.fa-icon-group:before                { content: "\f0c0"; }
.fa-icon-link:before                 { content: "\f0c1"; }
.fa-icon-cloud:before                { content: "\f0c2"; }
.fa-icon-beaker:before               { content: "\f0c3"; }
.fa-icon-cut:before                  { content: "\f0c4"; }
.fa-icon-copy:before                 { content: "\f0c5"; }
.fa-icon-paper-clip:before           { content: "\f0c6"; }
.fa-icon-save:before                 { content: "\f0c7"; }
.fa-icon-sign-blank:before           { content: "\f0c8"; }
.fa-icon-reorder:before              { content: "\f0c9"; }
.fa-icon-list-ul:before              { content: "\f0ca"; }
.fa-icon-list-ol:before              { content: "\f0cb"; }
.fa-icon-strikethrough:before        { content: "\f0cc"; }
.fa-icon-underline:before            { content: "\f0cd"; }
.fa-icon-table:before                { content: "\f0ce"; }

.fa-icon-magic:before                { content: "\f0d0"; }
.fa-icon-truck:before                { content: "\f0d1"; }
.fa-icon-pinterest:before            { content: "\f0d2"; }
.fa-icon-pinterest-sign:before       { content: "\f0d3"; }
.fa-icon-google-plus-sign:before     { content: "\f0d4"; }
.fa-icon-google-plus:before          { content: "\f0d5"; }
.fa-icon-money:before                { content: "\f0d6"; }
.fa-icon-caret-down:before           { content: "\f0d7"; }
.fa-icon-caret-up:before             { content: "\f0d8"; }
.fa-icon-caret-left:before           { content: "\f0d9"; }
.fa-icon-caret-right:before          { content: "\f0da"; }
.fa-icon-columns:before              { content: "\f0db"; }
.fa-icon-sort:before                 { content: "\f0dc"; }
.fa-icon-sort-down:before            { content: "\f0dd"; }
.fa-icon-sort-up:before              { content: "\f0de"; }

.fa-icon-envelope-alt:before         { content: "\f0e0"; }
.fa-icon-linkedin:before             { content: "\f0e1"; }
.fa-icon-undo:before                 { content: "\f0e2"; }
.fa-icon-legal:before                { content: "\f0e3"; }
.fa-icon-dashboard:before            { content: "\f0e4"; }
.fa-icon-comment-alt:before          { content: "\f0e5"; }
.fa-icon-comments-alt:before         { content: "\f0e6"; }
.fa-icon-bolt:before                 { content: "\f0e7"; }
.fa-icon-sitemap:before              { content: "\f0e8"; }
.fa-icon-umbrella:before             { content: "\f0e9"; }
.fa-icon-paste:before                { content: "\f0ea"; }
.fa-icon-lightbulb:before            { content: "\f0eb"; }
.fa-icon-exchange:before             { content: "\f0ec"; }
.fa-icon-cloud-download:before       { content: "\f0ed"; }
.fa-icon-cloud-upload:before         { content: "\f0ee"; }

.fa-icon-user-md:before              { content: "\f0f0"; }
.fa-icon-stethoscope:before          { content: "\f0f1"; }
.fa-icon-suitcase:before             { content: "\f0f2"; }
.fa-icon-bell-alt:before             { content: "\f0f3"; }
.fa-icon-coffee:before               { content: "\f0f4"; }
.fa-icon-food:before                 { content: "\f0f5"; }
.fa-icon-file-alt:before             { content: "\f0f6"; }
.fa-icon-building:before             { content: "\f0f7"; }
.fa-icon-hospital:before             { content: "\f0f8"; }
.fa-icon-ambulance:before            { content: "\f0f9"; }
.fa-icon-medkit:before               { content: "\f0fa"; }
.fa-icon-fighter-jet:before          { content: "\f0fb"; }
.fa-icon-beer:before                 { content: "\f0fc"; }
.fa-icon-h-sign:before               { content: "\f0fd"; }
.fa-icon-plus-sign-alt:before        { content: "\f0fe"; }

.fa-icon-double-angle-left:before    { content: "\f100"; }
.fa-icon-double-angle-right:before   { content: "\f101"; }
.fa-icon-double-angle-up:before      { content: "\f102"; }
.fa-icon-double-angle-down:before    { content: "\f103"; }
.fa-icon-angle-left:before           { content: "\f104"; }
.fa-icon-angle-right:before          { content: "\f105"; }
.fa-icon-angle-up:before             { content: "\f106"; }
.fa-icon-angle-down:before           { content: "\f107"; }
.fa-icon-desktop:before              { content: "\f108"; }
.fa-icon-laptop:before               { content: "\f109"; }
.fa-icon-tablet:before               { content: "\f10a"; }
.fa-icon-mobile-phone:before         { content: "\f10b"; }
.fa-icon-circle-blank:before         { content: "\f10c"; }
.fa-icon-quote-left:before           { content: "\f10d"; }
.fa-icon-quote-right:before          { content: "\f10e"; }

.fa-icon-spinner:before              { content: "\f110"; }
.fa-icon-circle:before               { content: "\f111"; }
.fa-icon-reply:before                { content: "\f112"; }
.fa-icon-github-alt:before           { content: "\f113"; }
.fa-icon-folder-close-alt:before     { content: "\f114"; }
.fa-icon-folder-open-alt:before      { content: "\f115"; }

/* Localized */


/* Padrao dos widgets*/
a, ul, li{text-decoration:none; letter-spacing:-0.04em; list-style:none;}