body{
	background: url(../img/bglogin.png) no-repeat left top;
	background-size: cover;
}

.logo-login{
	width: 400px;
	height: 179px;
	margin: 51px auto;
	display: block;
}

.login-box{
	width: 404px;
	height: 343px;
	background: url(../img/bg-login-box.png) no-repeat left top;
	box-shadow: none;
	position: relative;
	margin: 0 auto;
}

.login-box fieldset{
	float: left;
	width: 100%;
	margin-top: 113px;
}

.login-box img{
	position: absolute;
	width: 216px;
	height: 95px;
	left: 50%;
	margin-left: -108px;
	top: 21px;
}

.login-box .input-prepend{
	background: none;
	border:none;
}

.login-box .input-prepend i{
	opacity: 1;
}

.login-box p a{
	font-size: 11px;
	background: url(../img/icons-login.png) no-repeat left 2px;
	padding: 0 0 0 15px;
}

.login-box h3{
	font-family: inherit;
	margin: 37px 0 0 14px;
}

.login-box p a:last-child{
	background-position: left -15px;
}