@charset "utf-8";

div.Nex {
	background: url(http://www.nexgroup.com.br/assets/img/bg-barra-nex.gif) repeat-x top;
	height: 69px;
	margin: 0 0 -37px 0;
	padding: 0;
	position: relative;
	width: 100%;}

div.ZindexCapa {z-index: 3000;}

div.Nex * {
	border: none;
	background-color: none;}

div.ContainerNex {
	height: 69px;
	margin: 0 auto;
	padding: 0;}

div.ContainerNexCapa    {width: 950px;}
div.ContainerNexLomando {width: 960px;}
div.ContainerNexEgl     {width: 944px;}
div.ContainerNexDhz     {width: 960px;}

div.SeloNex {
	background: url(http://www.nexgroup.com.br/assets/img/selo-nex-group.png) no-repeat left top;
	height: 69px;
	margin: 0 0 0 0;
	width: 370px;}

div.NexCapa    {margin-left: 65px;}
div.NexLomando {margin-left: 244px;}
div.NexEgl     {margin-left: 25px;}
div.NexDhz     {margin-left: 55px;}

a.LinkNex:link, 
a.LinkNex:visited {
	background: url(http://www.nexgroup.com.br/assets/img/bg-linknex.gif) no-repeat right 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 11px !important;
	color: #b61918 !important;
	display: block;
	line-height: 28px;
	height: 32px;
	margin: 0;
	padding: 0 10px 0 0;
	text-align: right;
	text-decoration: none;
	width: 360px;}
 
a.LinkNex:hover, 
a.LinkNex:active, 
a.LinkNex:focus {
	background: url(http://www.nexgroup.com.br/assets/img/bg-linknex.gif) no-repeat right 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #b61918;
	display: block;
	line-height: 28px;
	height: 32px;
	margin: 0;
	outline: none;
	padding: 0 10px 0 0;
	text-align: right;
	text-decoration: underline;
	width: 360px;}











