/*INITIAL SETTINGS*/
	*{
	margin: 0;
	padding: 0;}
	body {background:url(../../img/site/bg_01.jpg) center #535656 no-repeat; font-family:Arial, Helvetica, sans-serif;}
	a,
		ins { text-decoration:none; outline:none; color:#7B7E7F;}
	a:hover { text-decoration:underline;}
	fieldset,
	img { border:none;}
	select {font-size:12px; color:#1a3a4d; padding:5px 8px; height:30px;}
	option {padding:5px 8px;}
	legend {display:none;}
	input.Text, 
		textarea { border:1px solid #919292; background-color:#fff; padding:5px 8px; height:16px; font-size:12px; color:#1a3a4d;}
	button {cursor:pointer; border:none; display:block; outline:none;}
	li {list-style:none;}
	p {font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#7b7e7f; line-height:18px;}
/*/INITIAL SETTINGS*/

/*CLASS ASSISTANTS*/
	.Debug {border:1px solid #f00!important;}
	.Clear {clear:both; font-size:0; height:0; line-height:0;}
	input.error{border:1px solid #e70f08; background:#fffbe7;}
	label.error{display:none!important;}
	.Sucesso {display:none;}
	div.Sucesso {background:#fff; border-right:1px solid #919191; padding:8px;}
/*CLASS ASSISTANTS*/

/*FORMS*/
	#frm-contato{background:#fff; border-right:1px solid #919191; padding:8px;}
	#frm-contato label {font-size:12px; color:#1a3a4d; width:109px; display:block; float:left; margin-top:7px;}
	#frm-contato input.Text, #frm-contato textarea {width:210px}
	#frm-contato select{width:228px}
	#frm-contato input.Radio {float:left;}
	#frm-contato textarea {height:120px;}
	#frm-contato div {margin-bottom:5px;  overflow: hidden;}
	#frm-contato div.Exception {margin:0 0 0 0; float:left;}
	#frm-contato div.Exception label {width:70px; float:left;}
	#frm-contato div.Exception input {float:left; margin:8px 5px 11px 0;}
	#frm-contato button {position:absolute; margin-top:-85px; _margin-top:-65px; margin-left:400px; }
/*FORMS*/

/*PERSONAL LINKS AND BUTTONS*/
	.BtnEnviar {background:url(../../img/site/btn_enviar.png) no-repeat; width:180px; height:65px; display:block; text-indent:-9999em; }
	.LnkCapa {background:url(../../img/site/logo_capa.png) no-repeat; width:103px; height:35px; display:block; text-indent:-9999em;}
	.LnkDivex {background:url(../../img/site/logo_divex.png) no-repeat; width:118px; height:24px; display:block; text-indent:-9999em;}
	.LnkNexGroup {background:url(../../img/site/logo_nex-group.png) no-repeat; width:136px; height:28px; display:block; text-indent:-9999em;}
	.LnkQueroCadastrar {background:url(../../img/site/btn_tenho-interesse.png) no-repeat; width:326px; height:67px; display:block; text-indent:-9999em;}
	.LnkVoltar {background:url(../../img/site/btn_voltar.png) no-repeat; width:188px; height:65px; display:block; text-indent:-9999em; }	
	.TitEstudio {background:url(../../img/site/tit_etudio-dormitorios-coberturas.png) no-repeat; width:417px; height:85px; display:block; text-indent:-9999em;}
	.TitInfra {background:url(../../img/site/tit_infraestrutura-de-lazer-completa.png) no-repeat; width:264px; height:145px; display:block; text-indent:-9999em;}
/*PERSONAL LINKS AND BUTTONS*/

/*ESTRUTURE*/
	#content {width:940px; margin:0 auto; margin-top:27px;}
	#footer {width:940px; margin-top:27px;}
	#footer .LnkDivex {float:left; margin-top:12px;}
	#footer .LnkCapa {float:right;}
	#footer .LnkNexGroup {float:right; margin-left:15px;}
/*/ESTRUTURE*/
	
/*HOME*/
	#home {background:url(../../img/site/bg_02.png) no-repeat; height:502px;}
	#home h1 {display:none;}
	#home div.Box1 {width:420px; float:right; margin:52px 60px 0 0 ; }
	#home p, #home h4{text-align:right;}
	#home h4 {font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#7b7e7f; margin:12px 0 5px; }
	#home h3 {float:left; margin:70px 0 0 60px; }
	#home a.LnkQueroCadastrar {float:right; margin:155px 60px 0 0;}
/*/HOME*/

/*CADASTRO*/
	#cadastro {background:url(../../img/site/bg_03.png) no-repeat; width:820px; height:464px; padding:40px 60px 0 60px;}
	#cadastro .Box1{width:235px; float:left; }
	#cadastro .Box1 h2{font-size:18px; color:#7b7e7f;}
	#cadastro .Box1 p {margin-top:10px;}
	#cadastro .Box1 ul {margin-top:30px;}
	#cadastro .Box1 ul li {font-size:12px; color:#e70f08; line-height:20px; list-style:square inside; display:none;}
	#cadastro .Box1 div {height:320px;}
	#cadastro .Box2{background:url(../../img/site/bg_04.png) 0 top no-repeat; width:357px; float:left; margin:-25px 0 0 15px;}
	#cadastro .Box2 div.Foo{background:url(../../img/site/bg_05.png) 0 bottom no-repeat; width:357px; margin-top:10px; padding-bottom:11px;}
	#cadastro .Box2 strong{color:#469333; text-align:center; }
	
/*CADASTRO*/
