@charset "utf-8";

/**************************** Ficha Técnica ****************************/
/*
	Autor: Divex - Internet Gerando Valor
	Site autor: http://www.divex.com.br
	Contato autor: atendimento@divex.com.br
	Cliente: Grupo Capa
*/

/**************************** Cores ****************************/
/*
	Aqui colocamos comentadas todas as referências
	hexadecimais das cores usadas no site.

	Tátulos:
	Laranja claro:  #XXXXXX (h1)
	Laranja médio:  #XXXXXX (h2)
	Laranja escuro: #XXXXXX (h3 e h4)
	
	Parágrafos:
	Cinza claro:  #XXXXXX
	Cinza médio:  #XXXXXX
	Cinza escuro: #XXXXXX

	Links:
	Azul claro:  #XXXXXX
	Azul médio:  #XXXXXX (usado apenas em links externos)
	Azul escuro: #XXXXXX
*/

/**************************** Reset ****************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, blockquote, q, cite, code, table, th, td {
	margin: 0;
	padding: 0;}

ol, ul {list-style: none;}

img    {border: none;}

/**************************** Classes Especiais ****************************/
/* Textos */
.TextoCenter {text-align: center;}
.TextoLeft   {text-align: left;}
.TextoRight  {text-align: right;}
.TextoJust   {text-align: justify;}

.TextoNormal       {font-weight: normal;}
.TextoBold         {font-weight: bold;}
.TextoEstiloNormal {font-style: normal;}
.TextoItalic       {font-style: italic;}

.TextoUnderline    {text-decoration: underline;}
.TextoUnderNone    {text-decoration: none;}
.TextoOverLine     {text-decoration: overline;}

/* Objetos */
.Left        {float: left;}
.Right       {float: right;}
.FloatNone   {float: none;}

.Visible     {visibility: visible;}
.Hidden      {visibility: hidden;}

.Block       {display: block;}
.Inline      {display: inline;}
.InlineBlock {display:inline-block;}
.DisplayNone {display: none;}

.BorderTop {}
.BorderRight {}
.BorderBottom {}
.Borderleft {}

/**************************** Estilos e Estruturas usados em todas páginas ****************************/
body {
	background-color: #939393;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;}

div.Full {
	margin: 0;
	width: 100%;}

div.Container {
	margin: 0 auto;
	width: 962px;}

/* Header */
div.Header {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Header div.Container {
	height: 130px;
	position: relative;}

/* Conta */
div.Header div.Container div.Conta {
	float: right;
	height: 24px;
	margin-top: 20px;}

div.Header div.Container div.Conta p {
	color: #fff;
	float: left;
	line-height: 12px;
	margin-right: 10px;
	text-align: right;}

div.Header div.Container div.Conta p strong {
	display: block;}

div.Header div.Container div.Conta ul {
	background: url(../img/bg-conta.png) no-repeat right top;
	float: left;
	height: 24px;
	padding-left: 22px;
	width: 113px}

div.Header div.Container div.Conta ul li {
	display: inline;
	margin-left: 9px;}

div.Header div.Container div.Conta ul li a:link, 
div.Header div.Container div.Conta ul li a:visited {
	color: #fff;
	font-size: 11px;
	line-height: 23px;
	text-decoration: none;}

div.Header div.Container div.Conta ul li a:hover, 
div.Header div.Container div.Conta ul li a:active {text-decoration: underline;}

/* Navegation */
div.Header div.Container ul.Navegation {
    bottom: 37px;
    height: 14px;
    position: absolute;
    right: 0;}

div.Header div.Container ul.Navegation li {
	display: inline;
	float: left;
	height: 14px;
	margin-left: 12px;}

div.Header div.Container ul.Navegation li a {
	background: url(../img/bg-navegation.png) no-repeat;
	display: block;
	height: 14px;
	text-indent: -9000px;}

div.Header div.Container ul.Navegation li a.NavPrincipal:link, 
div.Header div.Container ul.Navegation li a.NavPrincipal:visited {
	background-position: left -19px;
	width: 62px;}

div.Header div.Container ul.Navegation li a.NavPrincipal:hover, 
div.Header div.Container ul.Navegation li a.NavPrincipal:active {
	background-position: left 0;}

div.Header div.Container ul.Navegation li a.NavTermos:link, 
div.Header div.Container ul.Navegation li a.NavTermos:visited {
	background-position: -74px -19px;
	width: 98px;}

div.Header div.Container ul.Navegation li a.NavTermos:hover, 
div.Header div.Container ul.Navegation li a.NavTermos:active {
	background-position: -74px 0;}

div.Header div.Container ul.Navegation li a.NavEmpreendimento:link, 
div.Header div.Container ul.Navegation li a.NavEmpreendimento:visited {
	background-position: -186px -19px;
	width: 160px;}

div.Header div.Container ul.Navegation li a.NavEmpreendimento:hover, 
div.Header div.Container ul.Navegation li a.NavEmpreendimento:active {
	background-position: -186px 0;}

div.Header div.Container ul.Navegation li a.NavCapa:link, 
div.Header div.Container ul.Navegation li a.NavCapa:visited {
	background-position: -360px -19px;
	width: 60px;}

div.Header div.Container ul.Navegation li a.NavCapa:hover, 
div.Header div.Container ul.Navegation li a.NavCapa:active {
	background-position: -360px 0;}


/* Wrapper */
div.Wrapper {
	margin: 0;
	width: 100%;}

/* Footer */
div.Footer {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Footer div.Container {
	height: 64px;}

/* Footer Navegation */
div.Footer div.Container ul.Navegation {
	float: left;}

div.Footer div.Container ul.Navegation li {
	display: inline;
	margin-right: 20px;}

div.Footer div.Container ul.Navegation li a:link, 
div.Footer div.Container ul.Navegation li a:visited {
	color: #fff;
	text-decoration: none;}
 
div.Footer div.Container ul.Navegation li a:hover, 
div.Footer div.Container ul.Navegation li a:active {
	text-decoration: underline;}

/* Footer Assinatura */
div.Footer div.Container a.Assinatura:link, 
div.Footer div.Container a.Assinatura:visited, 
div.Footer div.Container a.Assinatura:hover, 
div.Footer div.Container a.Assinatura:active {
	background: url(../img/logo-divex-imobi.png) no-repeat;
	display: block;
	float: right;
	height: 26px;
	text-indent: -9000px;
	width: 198px;}

/* Títulos */
h1 {
	background-color: #333;
	float: left;
	height: 90px;
	margin-top: 20px;
	width: 153px;}

h2 {
	background-color: #333;
	float: left;
	height: 16px;
	margin: 80px 0 0 20px;
	width: 187px;}

h3 {}

h4 {}

h5 {}

h6 {}

/* Parágrados */
p {}

/* Links */
a:link, a:visited {}

a:hover, a:active {}

a[href^="http://"]:link, a[href^="http://"]:visited {}/*Regra usada para distinguir links externos*/

a[href^="http://"]:hover, a[href^="http://"]:active {}/*Regra usada para distinguir links externos*/

/* Formulários */

/**************************** Estilos e Estruturas usados em páginas internas ****************************/


/**************************** Estilos e Estruturas usados na página Principal ****************************/
/* Wrapper */
body.Principal div.Wrapper {background: url(../img/bg-wrapper.png) no-repeat center top;}

body.Principal div.Wrapper div.Container {
	height: 511px;}

/* Sidebar */
body.Principal div.Wrapper div.Container div.Sidebar {
	float: left;
	padding-top: 20px;
	width: 175px;}

/* Timeline */
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline {
	width: 175px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li {
	background: url(../img/bg-timeline.png) no-repeat;
	float: left;
	height: 46px;
	margin-bottom: 30px;
	text-indent: -9000px;
	width: 175px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitorios {background-position: left top;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitoriosSelecionado {background-position: -175px top;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitoriosDesativado {background-position: -352px top;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantas {background-position: left -49px;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantasSelecionado {background-position: -175px -49px;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantasDesativado {background-position: -352px -49px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodos {background-position: left -96px;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodosSelecionado {background-position: -175px -96px;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodosDesativado {background-position: -352px -96px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapa {background-position: left -144px;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapaSelecionado {background-position: -175px -144px;}
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapaDesativado {background-position: -352px -144px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li a:link, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li a:visited {
	background: url(../img/icones.png) no-repeat;
	background-position: -68px -37px;
    float: right;
    height: 24px;
    margin: 8px 6px 0 0;
    width: 24px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li a:hover, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Timeline li a:active  {
	background-position: -68px -4px;}

/* Input (Enviar para Capa) */
body.Principal div.Wrapper div.Container div.Sidebar input {
	display: block;
	float: left;
	height: 75px;
	width: 117px;}

/* Opcoes (Salvar e Imprimir) */
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes {
	float: right;
	height: 77px;
	width: 35px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li {
	background: url(../img/bg-opcoes.png) no-repeat;
	height: 30px;
	margin-bottom: 2px;
	padding: 7px 0 0 7px;
	width: 28px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a {
	background: url(../img/icones.png) no-repeat;
	display: block;
	height: 24px;
	text-indent: -9000px;
	width: 24px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:link, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:visited {
	background-position: -93px -37px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:hover, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:active, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:focus {
	background-position: -93px -4px;
	outline: none;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:link, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:visited {
	background-position: -117px -37px;}

body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:hover, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:active, 
body.Principal div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:focus {
	background-position: -117px -4px;
	outline: none;}

/* Main */
body.Principal div.Wrapper div.Container div.Main {
	float: left;
	height: 459px;
	width: 787px;}

/* ProjetoX */
body.Principal div.Wrapper div.Container div.Main div.ProjetoX {
	display: inline;
	float: left;
	height: 422px;
	margin: 20px 0 0 20px;
	position: relative;
	width: 651px;}

body.Principal div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Principal div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../img/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Principal div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Principal div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Principal div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Principal div.Wrapper div.Container div.Main span {
	background: url(../img/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Principal div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA01, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA02, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA01, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA02, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA01, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA02, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.CozinhaA01 {
	position: absolute;}

body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA01, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA02 {
	left: 17px;
	top: 16px;}

body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA01, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA02 {
	left: 17px;
	top: 237px;}

body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA01, 
body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA02 {
	left: 214px;
	top: 16px;}

body.Principal div.Wrapper div.Container div.Main div.ProjetoX div.CozinhaA01 {
	left: 518px;
	top: 15px;}

/* OpcoesComodos */
body.Principal div.Wrapper div.Container div.Main ul.OpcoesComodos {
	float: left;
	margin-top: 35px;
	width: 100px;}

body.Principal div.Wrapper div.Container div.Main ul.OpcoesComodos li {
	margin: 0 0 10px 10px;}

body.Principal div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes {
	background: url(../img/bg-titulo-opcoes.png) no-repeat center top;
	height: 34px;
	margin-left: 0;
	text-align: center;
	width: 100px;}

body.Principal div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes h5 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	line-height: 34px;}

body.Principal div.Wrapper div.Container div.Main ul.OpcoesComodos li a {}


























