/* FORM */
div.ztmb select { min-width: 242px; }
div.label-grande label { display:block; margin-bottom:3px;}
div.ztmb select.grande { width: 98%; }
div.label-medio label { display:block; margin-top:3px; width:120px; float:left;}
div.label-pequeno label { display:block; margin-top:3px; width:120px; float:left;}
.screen-video { text-align:center; margin-left:5px; }
.screen-video img { background:#fff; padding:8px; border:1px solid #e5e5e5 }
#post-body .screen-video { text-align:left; }
input.grande { width:98%; border:1px solid #DFDFDF } 
.inline { display:inline; }
.block { display:block; }
.hide { display:none!important; }
.remove_image { display:block; color:#c40000; }
.zt-image { margin-left:10px }


/* EDITOR */
.ztmb .customEditor{background:#fff;border:1px solid #ccc;margin:0 6px 15px}
.ztmb .customEditor textarea{border:0}
#post-body .ztmb .customEditor .mceStatusbar a.mceResize{top:-2px}
.ztmb .description{display:none}
.ztmb label{display:block;font-weight:700;margin:12px 6px 0}
.ztmb label span{display:inline;font-weight:400}
.ztmb span{color:#999}
.ztmb textarea {margin-bottom:3px;width:99%}
.ztmb .editor-toolbar{height:30px}
.ztmb .edButtonPreview,.ztmb .edButtonHTML{background-color:#F1F1F1;border-color:#DFDFDF #DFDFDF #CCC;color:#999}
.edButtonPreview,.edButtonHTML{border-radius:3px 3px 0 0;border-style:solid;border-width:1px;cursor:pointer;float:right;height:18px;margin:5px 5px 0 0;padding:4px 5px 2px}
#poststuff .editor-toolbar .active{background-color:#E9E9E9;border-color:#CCC #CCC #E9E9E9;color:#333}
.ztmb h4{ color:#999;font-size:1em;margin:15px 6px;text-transform:uppercase }


/* RADIO GROUP */
.ztmb .radio-group label { font-weight:normal; display:inline; margin:0 20px 0 0; vertical-align:top; }

/* CHECK GROUP */
.ztmb div.check-group { padding-left:10px }
.ztmb div.check-group label { font-weight:normal; display:inline; margin:0 20px 0 0; vertical-align:top; width:auto; float:none; }
.ztmb div.check-group input { display:inline; }
.ztmb label.check-group { width:auto; clear:both; float:none; margin:15px 0 0 } 

/* SEO FORM */
#p-seo-description-count { margin-top:0!important }
#p-seo-description { margin-bottom:5px!important }
#p-seo-description-count label { float:left; margin:0 5px 0 0;  line-height:23px; vertical-align:middle; }
#p-seo-description-count input { width:60px; }
#p-seo-description-count span { margin-left:10px }
.ztmb label span { font-weight:normal; margin-left:5px }
.clear { clear:both; line-height:0; height:0; font-size:0 } 