.qq-uploader { position:relative; width: 100%; padding-top:5px }

.qq-upload-button {
    display:block; /* or inline-block */
    width: 120px; padding: 4px 0; text-align:center;
    background:url("../../../../wp-admin/images/button-grad.png") repeat-x scroll left top #21759B; color:#fff;
	font-weight:bolder;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	border:1px solid #298CBA;
}
.qq-upload-button-hover {border-color:#13455B; color:#EAF2FA; }
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("../images/ajax-loader.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

#galeria li { float:left; margin:3px; padding:10px; background:#fff; border:1px solid #e7e7e7; position:relative; }
#galeria li:hover a.remove-image { display:block; }
#galeria li a.remove-image { display:block; text-align:center; color:#d50000; position:absolute; top:13px; right:13px; background:#fff; text-decoration:none; padding:5px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; display:none; }
#galeria li a.remove-image:hover { background:red; color:#fff }
#galeria li img { vertical-align:middle }
