@CHARSET "UTF-8";

div#menu div#borda-menu { bottom:-55px; }
div#footer div#footer-direita img { left: -10px; position: absolute; top: 2px; }
div#footer p#direitos { line-height:100%; margin:0; padding-bottom:0; }
div#footer div#footer-direita div#img-footer { top:0px; left:-10px; position:absolute; }
