/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:50px;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-60px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:59px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}

.theme-default .nivo-directionNav a:hover {
	display:block;
	width:50px;
	height:59px;
	background:url(arrows.png) 0 -59px no-repeat;
	text-indent:-9999px;
	border:0;
}

.theme-default a.nivo-nextNav {
	background-position:-60px 0;
	right:0px;
	
}
.theme-default a:hover.nivo-nextNav {
	display:block;
	width:50px;
	height:59px;
	background:url(arrows.png) -50px -59px no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a:active.nivo-nextNav {
	width:40px;
	height:59px;
	right:-5px;
	background-position:-60px 0;
}
.theme-default a.nivo-prevNav {
	left:0px;
}
.theme-default a:active.nivo-prevNav {
	width:40px;
	height:59px;
	right:-5px;
	background-position:0 0;
}

.theme-default .nivo-caption {
	height:35px;
	padding-top:5px;
    font-family: Arial, sans-serif;
	font-size:16px;
	color:#fff;
	
}

.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}