

	/*
	 * FancyBox - jQuery Plugin
	 * Simple and fancy lightbox alternative
	 *
	 * Examples and documentation at: http://fancybox.net
	 * 
	 * Copyright (c) 2008 - 2010 Janis Skarnelis
	 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
	 * 
	 * Version: 1.3.4 (11/11/2010)
	 * Requires: jQuery v1.3+
	 *
	 * Dual licensed under the MIT and GPL licenses:
	 *   http://www.opensource.org/licenses/mit-license.php
	 *   http://www.gnu.org/licenses/gpl.html
	 */


	#fancybox-loading {
		cursor: pointer;
		display: none;
		height: 40px;
		left: 50%;
		margin-left: -20px;
		margin-top: -20px;
		overflow: hidden;
		position: fixed;
		top: 50%;
		width: 40px;
		z-index: 1104;}

	#fancybox-loading div {
		background-image: url(../../img/site/fancybox/fancybox.png);
		height: 480px;
		left: 0;
		position: absolute;
		top: 0;
		width: 40px;}

	#fancybox-overlay {
		display: none;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1100;}

	#fancybox-tmp {
		border: 0;
		display: none;
		margin: 0;
		overflow: auto;
		padding: 0;}

	#fancybox-wrap {
		display: none;
		left: 0;
		outline: none;
		padding: 20px;
		position: absolute;
		top: 0;
		z-index: 1101;}

	#fancybox-outer {
		background: #FFF;
		height: 100%;
		position: relative;
		width: 100%;}

	#fancybox-content {
		border: 0px solid #FFF;
		height: 0;
		outline: none;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 0;
		z-index: 1102;}

	#fancybox-hide-sel-frame {
		background: transparent;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1101;}

	#fancybox-close {
		background: transparent url(../../img/site/fancybox/fancybox.png) -40px 0px;
		cursor: pointer;
		display: none;
		height: 30px;
		position: absolute;
		right: -15px;
		top: -15px;
		width: 30px;
		z-index: 1103;}

	#fancybox-error {
		color: #444;
		font: normal 12px/20px Arial;
		margin: 0;
		padding: 14px;}

	#fancybox-img {
		border: none;
		height: 100%;
		line-height: 0;
		margin: 0;
		outline: none;
		padding: 0;
		vertical-align: top;
		width: 100%;}

	#fancybox-frame {
		border: none;
		display: block;
		height: 100%;
		width: 100%;}

	#fancybox-left, #fancybox-right {
		background: transparent url(../../img/site/fancybox/fancybox/blank.gif);
		bottom: 0px;
		cursor: pointer;
		display: none;
		height: 100%;
		outline: none;
		position: absolute;
		width: 35%;
		z-index: 1102;}

	#fancybox-left { left: 0px; }

	#fancybox-right { right: 0px; }

	#fancybox-left-ico, #fancybox-right-ico {
		cursor: pointer;
		display: block;
		height: 30px;
		left: -9999px;
		margin-top: -15px;
		position: absolute;
		top: 50%;
		width: 30px;
		z-index: 1102;}

	#fancybox-left-ico {
		background-image: url(../../img/site/fancybox/fancybox.png);
		background-position: -40px -30px;}

	#fancybox-right-ico {
		background-image: url(../../img/site/fancybox/fancybox.png);
		background-position: -40px -60px;}

	#fancybox-left:hover, #fancybox-right:hover { visibility: visible; } /* IE6 */

	#fancybox-left:hover span { left: 20px; }

	#fancybox-right:hover span {
		left: auto;
		right: 20px;}

	.fancybox-bg {
		border: 0;
		height: 20px;
		margin: 0;
		padding: 0;
		position: absolute;
		width: 20px;
		z-index: 1001;}

	#fancybox-bg-n {
		background-image: url(../../img/site/fancybox/fancybox-x.png);
		left: 0;
		top: -20px;
		width: 100%;}

	#fancybox-bg-ne {
		background-image: url(../../img/site/fancybox/fancybox.png);
		background-position: -40px -162px;
		right: -20px;
		top: -20px;}

	#fancybox-bg-e {
		background-image: url(../../img/site/fancybox/fancybox-y.png);
		background-position: -20px 0px;
		height: 100%;
		right: -20px;
		top: 0;}

	#fancybox-bg-se {
		background-image: url(../../img/site/fancybox/fancybox.png);
		background-position: -40px -182px; 
		bottom: -20px;
		right: -20px;}

	#fancybox-bg-s {
		bottom: -20px;
		background-image: url(../../img/site/fancybox/fancybox-x.png);
		background-position: 0px -20px;
		left: 0;
		width: 100%;}

	#fancybox-bg-sw {
		background-image: url(../../img/site/fancybox/fancybox.png);
		background-position: -40px -142px;
		bottom: -20px;
		left: -20px;}

	#fancybox-bg-w {
		background-image: url(../../img/site/fancybox/fancybox-y.png);
		height: 100%;
		left: -20px;
		top: 0;}

	#fancybox-bg-nw {
		background-image: url(../../img/site/fancybox/fancybox.png);
		background-position: -40px -122px;
		left: -20px;
		top: -20px;}

	#fancybox-title {
		font-family: Helvetica;
		font-size: 12px;
		z-index: 1102;}

	.fancybox-title-inside {
		background: #FFF;
		color: #333;
		padding-bottom: 10px;
		position: relative;
		text-align: center;}

	.fancybox-title-outside {
		color: #FFF;
		padding-top: 10px;}

	.fancybox-title-over {
		bottom: 0;
		color: #FFF;
		left: 0;
		position: absolute;
		text-align: left;}

	#fancybox-title-over {
		background-image: url(../../img/site/fancybox/fancy_title_over.png);
		display: block;
		padding: 10px;}

	.fancybox-title-float {
		bottom: -20px;
		height: 32px;
		left: 0;
		position: absolute;}

	#fancybox-title-float-wrap {
		border: none;
		border-collapse: collapse;
		width: auto;}

	#fancybox-title-float-wrap td {
		border: none;
		white-space: nowrap;}

	#fancybox-title-float-left {
		background: url(../../img/site/fancybox/fancybox.png) -40px -90px no-repeat;
		padding: 0 0 0 15px;}

	#fancybox-title-float-main {
		background: url(../../img/site/fancybox/fancybox-x.png) 0px -40px;
		color: #FFF;
		font-weight: bold;
		line-height: 29px;
		padding: 0 0 3px 0;}

	#fancybox-title-float-right {
		background: url(../../img/site/fancybox/fancybox.png) -55px -90px no-repeat;
		padding: 0 0 0 15px;}


	/* IE6 */

	.fancybox-ie6 #fancybox-close {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_close.png', sizingMethod='scale');}

	.fancybox-ie6 #fancybox-left-ico {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_nav_left.png', sizingMethod='scale');}

	.fancybox-ie6 #fancybox-right-ico {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_nav_right.png', sizingMethod='scale');}

	.fancybox-ie6 #fancybox-title-over {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_title_over.png', sizingMethod='scale');
		zoom: 1;}

	.fancybox-ie6 #fancybox-title-float-left {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_title_left.png', sizingMethod='scale');}

	.fancybox-ie6 #fancybox-title-float-main {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_title_main.png', sizingMethod='scale');}

	.fancybox-ie6 #fancybox-title-float-right {
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_title_right.png', sizingMethod='scale');}

	.fancybox-ie6 #fancybox-bg-w,
	.fancybox-ie6 #fancybox-bg-e,
	.fancybox-ie6 #fancybox-left,
	.fancybox-ie6 #fancybox-right,
	#fancybox-hide-sel-frame { height: expression(this.parentNode.clientHeight + "px"); }

	#fancybox-loading.fancybox-ie6 {
		margin-top: 0;
		position: absolute;
		top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');}

	#fancybox-loading.fancybox-ie6 div	{
		background: transparent;
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_loading.png', sizingMethod='scale');}


	/* IE6, IE7, IE8 */

	.fancybox-ie .fancybox-bg { background: transparent !important; }

	.fancybox-ie #fancybox-bg-n { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_n.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-ne { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_ne.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-e { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_e.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-se { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_se.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-s { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_s.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-sw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_sw.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-w { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_w.png', sizingMethod='scale'); }

	.fancybox-ie #fancybox-bg-nw { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../assets/img/site/fancybox/fancy_shadow_nw.png', sizingMethod='scale'); }
