
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/
	.Navigation { width: 500px; }

	.MainFeatured .Container h2 { display: inline; }

	html { overflow: hidden; }

	.Header {
		position: absolute;
		top: expression(document.compatMode == "CSS1Compat" ? document.documentElement.scrollTop + "px" : body.scrollTop + "px");}

	.TextoPlantao { margin-right: 55px; }

	.ContactForm ul.First { padding: 0 30px 0 0; }

	.SecondCol { width: 279px; }

	label { padding-right: 7px; }

	.Form ul li { padding-bottom: 6px; }

	.BotaoFechar, .Tel, .BotaoVerMapa,
	.SlidingPanel .BotaoEnviar { background-repeat: no-repeat; }

	.BotaoVerMapa { height: 25px; }

	.Features {
		position: relative;
		z-index: 9999;}

	.Navigation, .LogoCapa, .LogoNex {
		position: relative;
		z-index: 1;}

	.BoxIndique label { width: 90px; }

	#carousel-left, #carousel-right { top: 220px; }

	.BoxTenhoInteresse { background: url(../../img/site/ie6/box-tenho-interesse.png) no-repeat; }

	.BoxIndique { background: url(../../img/site/ie6/box-indique.png) no-repeat; }

	.BoxPlantao { background: url(../../img/site/ie6/box-plantao-vendas.png) no-repeat; }

	.hfixie {
		height: 21px;
		line-height: 21px;}
	/* @End General */

