

	@charset "utf-8";



	/* @Ficha Técnica ****************/

	/*

		Autor: Divex - Internet Gerando Valor

		Site autor: http://www.divex.com.br

		Contato autor: atendimento@divex.com.br

		Cliente: Capa Max

	*/





	/* @Reset ****************/

	body, p, span, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,

	pre, form, fieldset, input, textarea, blockquote, th, td {

		margin: 0;

		padding: 0;}



	fieldset, img {

		border: none;

		margin: 0;}



	img { display: block; }



	a, a:hover, a:active { outline: none; }



	caption, cite, code, dfn, em, strong, th, var, address {

		font-style: normal;

		font-weight: normal;}



	address { display: inline; }



	h1, h2, h3, h4, h5, h6 {

		font-size: 100%;

		font-weight: normal;}



	blockquote:before, blockquote:after, q:before, q:after {

		content: '';

		content: none;}



	blockquote, q { quotes: none; }



	abbr, acronym { border: 0; }



	caption, th { text-align: left; }



	input, textarea, select { outline: none; }



	textarea {

		overflow: auto;

		resize: none;}

	input.error {background:url(../../img/site/forms-erro.png) 0 0 no-repeat!important; color:#f00; }

	#Contato input.error {background:url(../../img/site/forms-erro.png) 0 -33px no-repeat!important; color:#f00; }

	#FormCadastro input.error {background:url(../../img/site/forms-erro.png) 0 -33px no-repeat!important; color:#f00; }

	

	.sucess {width:300px; overflow:hidden; float:right; display:none; }

	.sucess, .sucess h3, .sucess h3 strong {font-weight:bold!important;}

	#Contato .sucess {color: #AFFF6E; margin:-30px 200px 0 0; }

	#PainelTenhoInteresse .sucess {color:#006b05; margin:-45px 210px 0 0;}

	#PainelIndique .sucess {color:#006b05; margin:-45px 210px 0 0;}

	ul, ol, dl { list-style-type: none; }

	/* @End Reset */





	/* @General ****************/

	body {

		background: #09492C;

		color: #646668;

		font: 12px Arial, Verdana, Tahoma;

		overflow: hidden;}

	

	body.Cadastrar{

		overflow: auto !important;

	}

	a:link, a:visited, a:hover, a:active {}



	/* @Forms ****************/

	label {

		clear: left;

		float: left;

		height: 33px;

		line-height: 33px;

		padding: 0 10px 0 0;

		text-align: right;

		width: 81px;}



	input, textarea, select {

		color: #FFF;

		font: 12px Arial, Verdana, Tahoma;

		padding: 9px 7px;}



	input { width: 174px; }



	textarea {

		border: 0;

		width: 174px;} /* width: 161px */



	select {

		background-color: #F1F1F1;

		color: #646668;

		height: 33px;

		padding: 4px;

		width: 188px;}



	/* @HACK: o chrome aplica uma borda preta ao elemento select quando é atribuído ao mesmo uma cor de fundo, */

	/* esta regra faz com que o elemento volte a ter a borda padrão */

	@media screen and (-webkit-min-device-pixel-ratio:0) { select { border: 1px inset; } }



	select { line-height: 27px;# } /* @HACK: esta regra força a alteração da altura do select, funciona apenas para Safari/Windows */



	.Form { float: left; }



	.Form ul.First {

		float: left;

		padding: 0 33px 0 0;}



	.Form ul.Second {

		float: left;

		padding: 0 55px 0 0;}



	.Form ul li { padding-bottom: 8px; overflow:hidden; }



	#FormContato ul li.Relative { height: 154px;}

	#FormCadastro ul li.Relative { height: 154px;}

	

	.CampoPadrao {

		background: url(../../img/site/forms.png);

		border: 0;

		display:block!important;

		float:left;}



	.CheckGroup {

		float: left;

		padding: 12px 0 10px 0;}



	.CheckOption {

		display: block;

		float: left;

		margin: 0 13px 0 0;}



	.LabelOptions {

		float: left;

		font-size: 15px;

		letter-spacing: -1px;

		margin: -2px 0 0 0;

		padding: 0 11px 0 0;}



	.Check {

		display: block;

		height: 13px;

		padding: 0;

		width: 13px !important;}



	.Choice {

		height: auto;

		line-height: normal;

		margin: -16px 0 0 18px !important;

		padding: 0;

		width: auto;}



	.ContactForm .BotaoEnviar {

		background: url(../../img/site/forms.png) -379px -106px;

		border: 0;

		bottom: 0;

		cursor: pointer;

		font-size: 0; /* INFO: para o text-indent funcionar no IE7 */

		height: 94px;

		left: 143px;

		line-height: 0; /* INFO: para o text-indent funcionar no IE7 */

		position: absolute;

		text-indent: -9000px;

		width: 130px;}



	.ContactForm label {

		color: #FFF;

		font-size: 16px;

		width: 78px;}



	.ContactForm textarea {

		background: url(../../img/site/forms.png) 0 -38px;

		height: 119px;}



	/* @End Forms ****************/



	/* @SlidingPanel (formulários suspensos) ****************/

	.SlidingPanel {

		display: none;

		position: absolute;

		z-index: 1000;}



	.SlidingPanel label {

		font-size: 15px;

		letter-spacing: -1px;}



	.SlidingPanel .CampoPadrao { background-position: -198px 0; }



	.SlidingPanel input,

	.SlidingPanel textarea,

	.SlidingPanel select { color: #646668; }



	.SlidingPanel input { width: 165px; }



	.SlidingPanel select { width: 179px; }



	.SlidingPanel .BotaoEnviar {

		background: url(../../img/site/forms.png) -777px -96px;

		border: 0;

		cursor: pointer;

		float: right;

		font-size: 0; /* INFO: para o text-indent funcionar no IE7 */

		height: 33px;

		margin-top: 25px;

		line-height: 0; /* INFO: para o text-indent funcionar no IE7 */

		text-indent: -9000px;

		width: 104px;}
		
			.SlidingPanel .BotaoEnviar1 {

		background: url(../../img/site/forms.png) -603px -143px;

		border: 0;

		cursor: pointer;

		float: right;

		font-size: 0; /* INFO: para o text-indent funcionar no IE7 */

		height: 33px;

		margin-top: 25px;

		line-height: 0; /* INFO: para o text-indent funcionar no IE7 */

		text-indent: -9000px;

		width: 104px;}



	.SlidingPanel li.Last { width: 100%; }



	.ComentarioInteresse {

		background-position: -198px -38px !important;

		height: 58px;

		width: 165px;}



	.ComentarioIndique {

		background-position: -382px 0 !important;

		height: 58px;

		width: 485px;}



	.BoxTenhoInteresse, .BoxIndique {

		padding-top: 43px;

		top: 25px;

		width: 617px;}



	.BoxTenhoInteresse {

		background: url(../../img/site/box-tenho-interesse.png) no-repeat;

		height: 294px; /* 337px */

		left: -360px;}



	.BoxIndique {

		background: url(../../img/site/box-indique.png) no-repeat;

		height: 250px; /* 293px */

		left: -512px;}



	.BoxTenhoInteresse ul.First {

		padding: 0 14px 0 15px;

		width: 272px;}



	.BoxTenhoInteresse ul.Second {

		padding: 0;

		width: 299px;} /* 328px */



	.Indent { padding-left: 29px; }



	.BotaoFechar {

		background: url(../../img/site/imagens.png) -595px -53px;

		cursor: pointer;

		display: block;

		height: 14px;

		left: 10px;

		position: absolute;

		text-indent: -9000px;

		top: 24px;

		width: 14px;}



	.BoxIndique label { width: 92px; }



	.BoxIndique ul.First {

		padding: 0 40px 0 0;

		width: 281px;}



	.BoxIndique .BotaoEnviar { margin-right: 19px; }



	.BoxPlantao {

		background: url(../../img/site/box-plantao-vendas.png) no-repeat;

		height: 55px;
		border-bottom: 1px solid #999;
		border-radius: 7px;

		left: -11px;

		padding-top: 52px;

		top: 25px;

		width: 214px;}



	.Tel {

		font-size:22px;

		display: block;

		height: 19px;

		margin-left: 36px;

		width: 143px;}



	.Address { margin: 11px 0 8px 36px; }



	.BotaoVerMapa {

		background: url(../../img/site/imagens.png) -329px -560px;

		color: #09492C;

		display: block;

		height: 26px;

		margin-left: 32px;

		padding: 6px 0 0 32px;

		text-decoration: none;}

	/* @End SlidingPanel (formulários suspensos) ****************/



	.Main {

		position: relative;

		width: 100%;}



	.Header {

		background: url(../../img/site/topo.png) center top no-repeat;

		float: left;

		height: 164px; /* 182px */

		padding: 18px 0 0 0;

		position: fixed;

		width: 100%;

		z-index: 990;}



	.Container {

		margin: 0 auto;

		width: 940px;}

	

	.Container2 {

		margin: 0 auto;

		width: 940px;}



	.Features {

		/*background: url(../../img/site/separators-actions.gif) 119px 0 no-repeat;*/

		float: right;}



	.Features li {

		float: left;

		position: relative;}



	.Features li.First { margin-right: 35px; }



	.Features li.Second,

	.Features li.Third { margin-right: 23px; }



	.BotaoCorretor, .BotaoPlantao,

	.BotaoInteresse, .BotaoIndique, .BotaoTour, .BotaoVideo {

		background: url(../../img/site/imagens.png);

		display: block;

		height: 28px;

		text-indent: -9000px;}





	.BotaoTour {

		background-position: -574px 2px;

		width: 89px;}



	.BotaoVideo {

		background-position: -680px 0px;

		width: 93px;}



	.BotaoCorretor {

		background-position: -165px 4px;

		width: 89px;}



	.BotaoPlantao {

		background-position: -264px -22px;

		width: 111px;

		margin: 2px 0 0 0;
	}



	.BotaoInteresse {

		background-position: -367px 4px;

		width: 92px;}



	.BotaoIndique {

		background-position: -469px 4px;

		width: 105px;}



	.Logo {

		background: url(../../img/site/imagens.png);

		float: left;

		height: 106px;

		text-indent: -9000px;

		width: 125px;}



	/* @Navigation ****************/

	.Navigation {

		float: left;

		padding: 29px 0 0 100px;}



	.Navigation li {

		float: left;

		margin: 0 35px 0 0;}



	.Navigation li.Last { margin: 0; }



	.Navigation li a {

		display: block;

		height: 23px;

		text-indent: -9000px;}



	.ItemHome a:link, .ItemHome a:visited {

		background-image: url(../../img/site/item-home.png);

		width: 39px;}



	.ItemApartamentos a:link, .ItemApartamentos a:visited {

		background-image: url(../../img/site/item-apartamentos.png);

		width: 98px;}



	.ItemInfraestrutura a:link, .ItemInfraestrutura a:visited {

		background-image: url(../../img/site/item-infraestrutura.png);

		width: 93px;}



	.ItemContato a:link, .ItemContato a:visited {

		background-image: url(../../img/site/item-contato.png);

		width: 52px;}



	.ItemLocalizacao a:link, .ItemLocalizacao a:visited {

		background-image: url(../../img/site/item-localizacao.png);

		width: 78px;}



	.Navigation li a.Active,

	.ItemHome a:hover, .ItemHome a:active,

	.ItemApartamentos a:hover, .ItemApartamentos a:active,

	.ItemInfraestrutura a:hover, .ItemInfraestrutura a:active,

	.ItemContato a:hover, .ItemContato a:active,

	.ItemLocalizacao a:hover, .ItemLocalizacao a:active { background-position: left bottom; }

	/* @End Navigation */



	.LogoCapa {

		background-position: -165px -53px;

		height: 24px;

		margin: 0 10px 0 46px;

		width: 70px;}



	.LogoNex {

		background-position: -244px -53px;

		height: 20px;

		width: 89px;}



	.LogoCapa, .LogoNex {

		background-image: url(../../img/site/imagens.png);

		float: left;

		margin-top: 22px;

		text-indent: -9000px;}

	

	.LogoCapa2 {

		background-position: -165px -53px;

		height: 24px;

		margin: 0 10px 0 46px;

		width: 70px;}



	.LogoNex2 {

		background-position: -244px -53px;

		height: 20px;

		width: 89px;}	

	

	.LogoCapa2, .LogoNex2 {

		background-image: url(../../img/site/imagens.png);

		float: right;

		margin-top: 45px;

		text-indent: -9000px;}		



	.Footer {

		float: left;

        height: 728px;

        margin-bottom: 388px;

        position: relative;

        width: 100%;}



	.Bottombar {

		background: url(../../img/site/footer.png) center top no-repeat;

		top: 375px;

		height: 114px;

		right:-325px;

		position: absolute;

		width: 1919px;

		z-index: 500;}

		

	.Bottombar2 {

		background: url("../../img/site/footer2.png") no-repeat scroll center top transparent;

	    height: 114px;

	    position: absolute;

	    right: 0;

	    top: 660px;

	    width: 1918px;

	    z-index: 500;

	}

	.Credits2 {

		background: url(../../img/site/imagens.png) 0 -509px;

		display: block;

		float: right;

		height: 39px;

		margin: 34px 5px 0 0;

		text-indent: -9000px;

		width: 116px;}

		

	.Credits {

		background: url(../../img/site/imagens.png) 0 -509px;

		display: block;

		float: right;

		height: 39px;

		margin: 34px -126px 0 0;

		text-indent: -9000px;

		width: 116px;}

	/* @End General */



	/*@Cadastro*/



	.Cadastro {

		float: left;

		height:auto;

		margin: -84px 32px 0 0;

		color:#FFF;

		width: 545px;}

	

	.Cadastro strong{

		font-weight: bold;

	}	

	.Cadastro p{

		font-size:15px;

		margin:15px 0 15px 0;

	}	

	

	.CadastroForm{

		margin-top:15px;

	

	

	}

	.CadastroForm label {

		color: #FFF;

		font-size: 16px;

		text-align: left;

    	width: 70px;

 

	}

	.CadastroForm input{

		width:178px;

		margin-right: 10px;

	

	}

	

	.CadastroForm ul li{

		float:left;

		margin: 0 0 8px 0;

		width:282px;

	}

	.CadastroForm ul{

		float:left;

		width:290px;

	}

	.CadastroForm .BotaoEnviar{

		background: url("../../img/site/acessar.png") no-repeat;

	    border: 0 none;

	    bottom: 0;

	    cursor: pointer;

	    font-size: 0;

	    height: 94px;

	    line-height: 0;

	    text-indent: -9000px;

	    width: 130px;

	    margin-left:15px;

	    position:relative;

	    float:left;

		

	}

		

		

	/* @Home ****************/

	

	.Cadastrar .Featured {

		background: url(../../img/site/foto-destaque.jpg) center top no-repeat;

		margin-bottom: 0px !important;

		padding-top: 373px;}

	.Featured {

		background:;

		margin-bottom: 320px;

		padding-top: 373px;}



	.MainFeatured {

		background: url(../../img/site/curva.png) center top no-repeat;

		height: 340px;}



	.MainFeatured .Container {

		background:url(../../img/site/fotos-perspectiva.png) 154px 71px no-repeat;

		overflow: hidden;

		padding: 90px 0 0 0;

		height:165px;}



	.MainFeatured .Container2 {

		overflow: hidden;

		padding: 90px 0 0 0;

		height:140px;}

		

	.MainFeatured h2 {

		background: url(../../img/site/imagens.png) -344px -126px;

		float: left;

		height: 150px;

		margin: -10px -35px 0 389px;

		text-indent: -9000px;

		width: 241px;}



	.BotaoMontePlanta {

		background: url(../../img/site/imagens.png) -690px -126px;

		display: block;

		float: left;

		height: 148px;

		text-indent: -9000px;

		width: 182px;

		margin:-50px 0 0 -5px}



	.SocialMedia {

		margin-left: 750px;

		position: absolute;

		top: 115px;

		z-index: 99;

	}



	/* @INFO: sobrescrevendo propriedades do widget do Facebook */

	.fb_ltr { width: 94px !important; }



	.fb_iframe_widget iframe { vertical-align: inherit !important; }

	/* @End INFO */



	.Section {

		background: url(../../img/site/top-section.png) 28px 0 no-repeat;

		margin-bottom: 380px;

		padding-top: 25px;}



	.MainSection {

		background: url(../../img/site/brilho.png) 0 275px no-repeat; /* 250px */

		overflow: hidden;

		padding-bottom: 163px;} /* 90px */



	.ContainerTitle {

		margin-left:145px;

		height:97px;

		overflow:hidden;}



	.TitleApartamentos {

		background: url(../../img/site/imagens.png) 0 -126px;

		float: left;

		height: 72px;

		margin: 0 20px 0 0;

		text-indent: -9000px;

		width: 309px;}



	.LinkMontePlanta {

		background: url(../../img/site/imagens.png) -329px -473px;

		display: block;

		float: left;

		height: 72px;

		text-indent: -9000px;

		width: 237px;}



	.TitleInfraestrutura {

		background: url(../../img/site/imagens.png) 0 -218px;

		float: left;

		height: 75px;

		margin: 0 20px 0 0;

		text-indent: -9000px;

		width: 288px;}



	.Contato .MainSection {

		background-position: 0 235px;

		padding-bottom: 128px;}



	.TitleContato {

		background: url(../../img/site/imagens.png) 0 -313px;

		float: left;

		height: 71px;

		margin: 0 20px 0 0;

		text-indent: -9000px;

		width: 264px;}



	.ContainerForm {

		float: left;

		padding-top: 45px;

		width: 100%;}



	.TextoPlantao {

		background: url(../../img/site/imagens.png) -329px -322px;

		float: left;

		height: 150px;

		margin-right: 59px;

		text-indent: -9000px;

		width: 294px;}



	.SecondCol {

		float: left;

		width: 276px;}



	.Titlebar {

		background: url(../../img/site/barra-localizacao.png) center top no-repeat;

		height: 156px;

		left: 0;

		position: absolute;

		top: 0;

		width: 100%;

		z-index: 500;}



	.TitleLocalizacao {

		background: url("../../img/site/imagens.png") repeat scroll 0 -606px transparent;

	    float: right;

	    height: 112px;

	    margin-top: 30px;

	    text-indent: -9000px;

	    width: 332px;

	 }



	.ContainerMap {

		height: 711px;

		overflow: hidden;

		position: relative;

		width: 100%;

		margin-top:20px;}



	.Map {

		left: 50%;

		margin-left: -960px;

		position: absolute;

		top: 0;

		z-index: 100;}

	/* @End Home ****************/





	/* @Non-semantic (helper classes) ****************/

	/* Textos */

	.TextoCenter { text-align: center; }

	.TextoLeft { text-align: left; }

	.TextoRight { text-align: right; }

	.TextoJust { text-align: justify; }



	.TextoNormal { font-weight: normal; }

	.TextoBold { font-weight: bold; }

	.TextoEstiloNormal { font-style: normal; }

	.TextoItalic { font-style: italic; }



	.TextoUnderline { text-decoration: underline; }

	.TextoUnderNone { text-decoration: none; }

	.TextoOverLine { text-decoration: overline; }



	/* Floats */

	.Left { float: left; }

	.Right { float: right; }

	.FloatNone { float: none; }



	/* Visible/Hidden */

	.Visible { visibility: visible; }

	.Hidden { visibility: hidden; }

	.Ahidden {

		left: -9999em;

		position: absolute;}



	/* Elements displays */

	.Block { display: block; }

	.Inline { display: inline; }

	.InlineBlock {display:inline-block; }

	.DisplayNone {display: none; }



	/* Borders */

	.BorderTop {}

	.BorderRight {}

	.BorderBottom {}

	.Borderleft {}



	/* Centralizando horizontalmente */

	.Center { margin: 0 auto; }



	.Relative { position: relative; }



	/* Limpando floats */

	.Clear { clear: both; }



	.Clearfix:after {

		clear: both;

		content: ".";

		display: block;

		height: 0;

		visibility: hidden;}



	.Clearfix { display: inline-block; }



	/* Hide from IE Mac \*/

	.Clearfix { display: block; }

	/* End hide from IE Mac */

	/* @End Non-semantic */

	#menu-dorms {float:left; width:200px; margin:50px 20px 0 0; }

	#menu-dorms li {float:left;}

	.Lnk1Dorms {background:url(../../img/site/bt_menu-dorms.png) 0 0 no-repeat; text-indent:-9999em; width:50px; height:47px; display:block;}

	.Lnk1Dorms:hover, .Active .Lnk1Dorms {background-position:0 -47px;}

	.Lnk2Dorms {background:url(../../img/site/bt_menu-dorms.png) -50px 0 no-repeat; text-indent:-9999em; width:50px; height:47px; display:block;}

	.Lnk2Dorms:hover, .Active .Lnk2Dorms {background-position: -50px -47px;}

	.Lnk3Dorms {background:url(../../img/site/bt_menu-dorms.png) -100px 0 no-repeat; text-indent:-9999em; width:50px; height:47px; display:block;}

	.Lnk3Dorms:hover, .Active .Lnk3Dorms {background-position:-100px -47px;}

	.Lnk4Dorms {background:url(../../img/site/bt_menu-dorms.png) -150px 0 no-repeat; text-indent:-9999em; width:50px; height:47px; display:block;}

	.Lnk4Dorms:hover, .Active .Lnk4Dorms {background-position:-150px -47px;}

	.Hide{display:none}





	/* Tour Virtual */



	.tour{

		width:100%;

		height:100%;

		overflow-y:scroll;

		position:absolute;

		background:url(../../img/site/bg-trans.png);

		z-index:9999999;

		text-shadow:0px 1px 0px #FFF;

		

	}

	.tour_top{

		width:940px;

		height:140px;

		padding-top:18px;

		padding-left:16px;

		margin:0 auto;

	}

	.tour_top h2{color:#09492c; font-size:50px; font-weight:bold; width:400px; margin-left:30px; margin-top:20px; float:left; }

	.tour_top h3{font-size:16px; width:650px; margin-left:30px; margin-top:0px; float:left; }



	.btn-tour-fechar{background:url(../../img/site/bt-tour-fechar.png); width:118px; height:42px; float:right; margin-top:-45px;}

	.btn-tour-fechar:hover{background:url(../../img/site/bt-tour-fechar.png) 0 42px; cursor:pointer}



	.tour_video{

		width:100%;

		height:600px;

		background:#333;

		opacity:0.5;

		border-top:1px solid #000;

		border-bottom:1px solid #000;

	}

	.tour_video_content{

		width:800px;

		height:600px;

		background:#0C6;

		margin:0 auto;

	}

	.tour_info{

		width:940px;

		height:320px;

		padding-top:18px;

		margin:0 auto;

	}

	.tour_info h4{

		margin-top:28px;

		margin-left:90px;

		margin-bottom:30px;

		font-size:22px;

	}

	.tour_info p{

		font-size:12px;

		line-height:1.8;

		padding-right:10px;

	}

	.tour_info p b{font-size:11px;}

	.tour_info_1{

		width:300px;

		height:320px;

		float:left;

		padding-right:20px;

		background:url(../../img/site/tour-ico-01.png) no-repeat;

		margin:0 auto;

	}

	.tour_info_2{

		width:300px;

		height:320px;

		float:left;

		padding-right:20px;

		background:url(../../img/site/tour-ico-02.png) no-repeat;

		margin:0 auto;

	}

	.tour_info_3{

		width:300px;

		height:320px;

		float:left;

		

		background:url(../../img/site/tour-ico-03.png) no-repeat;

		margin:0 auto;

	}



.BotaoLocalizacao { width: 220px; height: 60px; display: block; float: right; margin: -120px -20px 0 0; }

	#SoliciteInformacoes {
		background-color: #09492C;
		border-radius: 10px 10px 0 0;
		height: 267px;
		left: 170px;
		padding: 0 10px;
		position: absolute;
		top: 200px;
		z-index: 991;
	}

	#SoliciteInformacoes p {
		color: #fff;
		font-size: 18px;
		line-height: 35px;
	}

	#FormInformacoes ul li #InfoComentario{
		background: url("../../img/site/forms.png") repeat scroll 0px -38px transparent;
		border: 0 none;
		height: 30px;
	}
	
	#FormInformacoes ul li #Enviar{
		background: url("../../img/site/forms.png") repeat scroll -379px -106px transparent;
		border: 0 none;
		bottom: -80px;
		height: 94px;
		left: 85px;
		position: absolute;
		text-indent: -9000px;
		width: 120px;
		cursor: pointer;
	}
	#FormInformacoes ul li #BotaoEnviar1{
		background: url("../../img/site/forms.png") repeat scroll -603px -143px transparent;
		border: 0 none;
		bottom: -43px;
		height: 56px;
		left: 117px;
		position: absolute;
		text-indent: -9000px;
		width: 63px;
		cursor: pointer;
	}