
/* HEADER */
#header-slidass { }
.headerimg { background:url(../../img/site/foto-destaque-01.jpg); background-position: center top; background-repeat: no-repeat; width:100%; height:600px; position:absolute;  }

