@page{margin-bottom:30px;margin-left:16px;margin-right:16px;margin-top:25px;}
#logo .emp {float:left}
#logo .nex {float:right}
.B .imagem{position:relative; z-index:-99999;}
#identificacao td .imagem{left:0}
.reservados td .imagem{left:0}
.disponibilidade .num_vendidos{left:0}
.disponibilidade .num_reservados{left:191px}
.disponibilidade .num_livres{left:380px}
.disponibilidade .num_total{left:565px}
.reservas{text-align:center}
.reserva{text-align:left !important;}
.reserva span{line-height:15px; text-align:center;float:right;}
.reserva span.exception{line-height:10px;font-size:10px; }
.reserva .imagem.apto img{width:750px;height:30px;}
.reserva .imagem.quem img{width:410px;height:30px;text-align:center;}
.reserva .imagem.imob img{width:70px;height:30px;text-align:center;}
.reserva .imagem.data img{width:150px;height:30px;text-align:center;}

footer{width:750px;clear:both;height:150px;position:absolute;bottom:0}