body { margin:0; padding:0; border:0; background:#FFF;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;font-size:11px;color:#5D5D5D; width:750px; height:auto;float:left; border: 1px solid #E4E4E4;}
.print{display:none;}
.tabela-empps{
	float:left;
	position:relative;
	width:350px;
	height:auto;
	clear:both;
	
}
.quebra, .quebra2{page-break-after:always; clear:both;}
@page{margin-bottom:5px;margin-left:16px;margin-right:16px;margin-top:25px;}

/* BáSICOS */
.clr { clear:both; }

.centralizacao{border: 1px solid #E4E4E4;width:750px;float:left; }
/* ESTRUTURA */
.imagem{ position:absolute; z-index:-99999;}
.A .imagem{position:relative; z-index:-99999;}
table .borda{ border: 0px solid #E4E4E4;}
table .disponibilidade .borda{border:0;border-right:0px solid #E4E4E4;}
table .disponibilidade .borda.exception{border-right:0}

#corpo {margin: 0 auto;width:750px;}
#logo {width:750px; }
#identificacao { float:left; margin-top:15px; text-align:left; width:752px;margin-left: -1px;}
#identificacao span{padding:10px 15px;float:left}
#identificacao .imagem img{width:748px;height:30px;}

#endereco {float:left;width:734px; height:25px}
.endereco {padding:5px 0 5px 15px;float:left;width:734px;}

.box{ width:750px; float:left;}
.disponibilidade span{float: left;padding: 15px;text-align: center;width: 154px;}
.disponibilidade{ text-transform:uppercase; text-align:center;margin-left: -1px; width:750px; font-size:12px; height:55px; float:left;border:1px solid #E4E4E4;}
.disponibilidade.exception{margin-right:0;}
.disponibilidade strong{font-size:20px}
.disponibilidade .imagem img{width:184px;height:48px;}
.disponibilidade .exception .imagem img{width:187px;}

.legenda {float: left;margin-left: -1px;text-align: left;width: 752px;}
.legenda img{margin-left: 52px;padding:5px 0;}
.legenda .imagem img{width:748px;height:30px;margin-left:0;padding:0;}

.reservados {float: left;margin-top: 0;text-align: left;width: 750px; font-size:12px;}
.reservados strong{padding:15px;float:left}
.reservados hr{ width:695px; color:#E4E4E4;float:left;margin:0 0 0 30px; height:1px;border: 1px solid #E4E4E4;}
.reservados .imagem img{width:750px;height:30px;margin-left:0;padding:0;}

.reservas {float: left;height: 30px;text-align: center;width: 737px; font-size:12px; color:#5D5D5D;padding-left: 15px;}

.reserva { color: #00000; background-color: #FFF; float: left;text-align:center;width: 750px; font-size:11px; padding-left: 14px;}
.reserva{border-bottom: 3px solid #FFFFFF;}
.reserva span{ color:#00000; font-size: 11px; font-weight: bold; line-height:30px}
.reserva span.exception{line-height:15px}
.reserva .imagem.apto img{width:75px;height:30px;}
.reserva .imagem.quem img{width:415px;height:30px;}
.reserva .imagem.imob img{width:150px;height:30px;}
.reserva .imagem.data img{width:75px;height:30px;}

.aptos{float: left;height: auto;padding-top: 30px;width: 750px;}

.apto .imagem img{width:70px;height:30px;float:left;position:relative;margin-left: 25px;}
.A, .B{padding:0;width:375px;float:left;margin-top:5px;}
.tabela-empps .apto{ color: #00000; float: left; width: 375px;height:30px;padding-bottom:2px;}
.tabela-empps .apto td{ color: #00000; text-align:center;float:left;width:122px;height:34px;position:relative;border-right:1px solid #E4E4E4;}
.tabela-empps .branca td{ text-align:center;float:left;width:122px;height:34px;position:relative;border-right:1px solid #E4E4E4;}
.tabela-empps .apto td.exception{border-right:0}
.tabela-empps .branca td.exception{border-right:0}
.tabela-empps .apto span{float: left;width: 122px;padding-top: 0px; position:absolute;left: 0;top:3px}
.tabela-empps .apto span.small{top:15px}
.aptos .branca {float: left;text-align:center;width: 750px; font-size:11px;  padding-left: 15px;}

.legenda2 {float: left;margin-left: -5px;text-align: left;width: 756px;}
.legenda2 img{margin-left: 52px;padding:5px 0;}
.legenda2 .imagem img{width:748px;height:30px;margin-left:0;padding:0;}
/* LAYOUT */

#dispo-inter-list{ width: 100%; margin-top:5px; }
#dispo-inter-list li{ text-align:center; float:left; margin-right:12px; margin-bottom:5px;  display: block; padding: 5px 10px; }
.list-red{ color:#000; }
.list-green{ color:#000; }
.list-yell{ color:#000;  }
.dispo-break { width: 100%; border-top: solid 1px #e8e8e8; margin: 0px 0px 7px 0px; padding: 0; height: 1px; display: table; line-height: 1px; }
.dispo-clear { width: 100%; margin: 0px 0px 7px 0px; padding: 0; height: 1px; display: table; line-height: 1px; }