@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
	color:#414141;
	font-weight:400;
		height:600px;
	text-shadow:0px 1px 0px #FFF;
	background:url(../img/bg.jpg) fixed top no-repeat #007e77;
}
@font-face {
    font-family: 'HelveticaNeue57CondensedOblique';
    src: url('fonts/helveticaneue-condensedobl_0.eot');
    src: url('fonts/helveticaneue-condensedobl_0.eot') format('embedded-opentype'),
         url('fonts/helveticaneue-condensedobl_0.woff') format('woff'),
         url('fonts/helveticaneue-condensedobl_0.ttf') format('truetype'),
         url('fonts/helveticaneue-condensedobl_0.svg#HelveticaNeue57CondensedOblique') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue45Light';
    src: url('fonts/helveticaneue-light_0.eot');
    src: url('fonts/helveticaneue-light_0.eot') format('embedded-opentype'),
         url('fonts/helveticaneue-light_0.woff') format('woff'),
         url('fonts/helveticaneue-light_0.ttf') format('truetype'),
         url('fonts/helveticaneue-light_0.svg#HelveticaNeue45Light') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('helveticaneuebold.eot');
    src: url('helveticaneuebold.eot') format('embedded-opentype'),
         url('helveticaneuebold.woff') format('woff'),
         url('helveticaneuebold.ttf') format('truetype'),
         url('helveticaneuebold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('helveticaneue.eot');
    src: url('helveticaneue.eot') format('embedded-opentype'),
         url('helveticaneue.woff') format('woff'),
         url('helveticaneue.ttf') format('truetype'),
         url('helveticaneue.svg#HelveticaNeueRegular') format('svg');
}


/* -----------------------------------HEADER----------opacity:0.9; filter: alpha(opacity=90);--------------- */
.left { width:500px; height:40px; position:fixed; margin-top: 35px; margin-left:10px; }
.line {width:0; height:20px; float:left; margin-left:15px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
h1 { text-indent:-10000000px }
h2 { text-indent:-10000000px }
h3 { color:#fff; font-size:14px; font-weight:500; text-transform:uppercase; text-shadow:0 0 0; font-weight:700; }


.midle { width:386px; height:238px; position:fixed; bottom:54%; left:32%; background:url(../img/principal.png) }

.box { width:226px; height:300px; padding: 20px 15px 30px 15px; background:#EDF6F5; text-transform:uppercase; font-size:16px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px; }
.ctn-box{ margin-right:30px; margin-top:50px; position:relative; float:right; }
#head_form{ background: #D7E8E3; width:226px; padding: 20px 15px 9px 15px; border-top-right-radius: 20px; border-top-left-radius: 20px; }
#ttl-plantao{ font-family: 'HelveticaNeue45Light', sans-serif;text-indent: 0; color: #0792AC; font-size: 19px; text-align: center; }
#ttl-rua { margin-top: 5px; text-align: center; color: #0792AC; font-family: 'HelveticaNeue45Light', sans-serif; }
#ttl-phone{ font-family: 'HelveticaNeueRegular', sans-serif;
text-indent: 0;
color: #1390AC;
font-size: 25px;
text-align: center;letter-spacing: -1px;
font-weight: 600;}
#ttl-phone span{ font-size: 15px; display: inline;}
#legend{ color: #666666; font-size:11px; width: 61px; float: right; margin-right: 30px;}
.box .title { font-family: 'HelveticaNeueRegular', sans-serif;color:#0a93ac; font-size:16px; font-weight:500; margin-bottom:13px; text-align: center; } 
.box span { font-family: 'HelveticaNeueBold', sans-serif;display:block; font-size:16px; font-weight:700 } 

.box .textfield {  height:30px; margin-bottom:8px; border-radius:3px; border:1px solid #0a93ac; background:#FFF; color:#999  }
.ie7 .box .textfield { height:30px; padding-top:10px }
.ie8 .box .textfield { height:30px; padding-top:10px }


.fix {float: right; width: 226px;}

.atendimento { width: 222px; height: 39px; float: right; margin-right: 50px; }

.telefone { width: 170px; height: 30px; margin-left: -45px;padding: 10px 0 0 45px; margin-top: 70px; border-radius: 10px; background: #edf6f4; }

.box .nome{ width:155px; padding-left:65px }
.box .mail{ width:145px; padding-left:75px }
.box .tel{ width:120px; padding-left:100px }

.box textarea { width:210px; height:60px; padding-left:10px; padding-top:35px; margin-bottom:8px; border-radius:5px; border:1px solid #0a93ac; background:#FFF; color:#999; resize:none }

.container{ margin: 0 auto; position: relative; width: 1024px; }

.obri { font-size:11px; font-weight:400; margin-bottom:10px; text-transform:lowercase  }
.box label p { position:absolute; margin-top:8px; margin-left:8px; font-size:13px}
.ie7 .iemail { position:absolute; margin-top:67px; margin-left:-215px;  }
.ie7 .ietel { position:absolute; margin-top:67px; margin-left:-215px;  }
.ie7 .iemen { position:absolute; margin-top:67px; margin-left:-215px;  }

.box .button {float: left; width:83px; height:33px; margin-bottom:10px; border-radius:5px; border:1px solid #0a93ac; background:#0a93ac; color:#FFF; cursor:pointer; font-weight:bold; font-size:17px; }
.box .button:hover { background:#32b4cc; color:#FFF  }



/* -----------------------------------FOOTER---------------------------------------- */


footer{width:100%; height:80px; position:fixed; bottom:0; background:#FFF; }

footer .foo_left { float:left; width:261px; height:61px; margin-top:12px; margin-left:30px; background:url(../img/logos.png); }
footer .foo_right { float:right; width:500px; margin-top:25px; margin-right:50px; font-size:10px; text-align:right }


#divex{
	width:77px;
	height:16px;
	background:url(../img/footer-divex.png);
	position:fixed;
	bottom:30px;
	right:30px;
}

#divex:hover{
	background:url(../img/footer-divex.png) 0 16px;
}


.sucbox { width:100%; height:100%; position:fixed; background:url(../img/space.png); z-index:9999; }

.sucbox p { left:50%; margin-left:-320px; margin-top:-50px; position:fixed;  top:50% }
.sucbox .title { color:#0a93ac; font-size:32px; font-weight:200; margin-bottom:20px;  } 
.sucbox span { font-weight:900 } 
.fechar { width:150px; height:60px; border-radius:5px; border:1px solid #0a93ac; background:#0a93ac; color:#FFF; cursor:pointer; left:50%; margin-left:-87px; margin-top:08px; position:fixed;  top:50% }
.fechar:hover { background:#32b4cc; color:#FFF  }
.fechar i { margin-top:14px; margin-left:25px; margin-right:15px; background:url(../img/ok.png); width:32px; height:32px; float:left } 

.ok { margin-top:10px; font-weight:100;  font-size:36px }
.abkuu {width:0; height:20px; float:left; margin-left:15px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }

.ie9 .abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
.ie8 .abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
.ie7 .abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.abkuu {width:0; height:20px; float:left; margin-left:-22px; margin-right:20px; border-left:1px solid #00655f; border-right:1px solid #339892; }
}
