﻿/*- TANGO - TOP -*/
.jcarousel-skin-tango-top .jcarousel-container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*background: #F0F6F9;*/
  	/*border: 1px solid #346F97;*/
}
.jcarousel-skin-tango-top .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango-top .jcarousel-container-horizontal {
	width: 431px;
	left: 0px;
	top: 0px;
}
.jcarousel-skin-tango-top .jcarousel-container-vertical {
	width: 413px;
	/*height: 245px;*/
 	padding: 40px 20px;
}
.jcarousel-skin-tango-top .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango-top .jcarousel-clip-horizontal {
	width: 134px;
}
.jcarousel-skin-tango-top .jcarousel-clip-vertical {
	width:  75px;
	/*height: 245px;*/
}
.jcarousel-skin-tango-top .jcarousel-item {
	width: 200px;
}
.jcarousel-skin-tango-top .jcarousel-item-horizontal {
	margin-left: 0;
}
.jcarousel-skin-tango-top .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango-top .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango-top .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-top .jcarousel-next-horizontal {
	position: absolute;
	top: 1px;
	right: -15px;
	width: 14px;
	height: 22px;
	cursor: pointer;
	background: transparent url(next-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango-top .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px; 
	right: auto;
	background-image: url(prev-horizontal.png);
}
.jcarousel-skin-tango-top .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango-top .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(next-horizontal_hover.png) no-repeat 0 0;
}
.jcarousel-skin-tango-top .jcarousel-next-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango-top .jcarousel-next-disabled-horizontal, 
.jcarousel-skin-tango-top .jcarousel-next-disabled-horizontal:hover, 
.jcarousel-skin-tango-top .jcarousel-next-disabled-horizontal:focus, 
.jcarousel-skin-tango-top .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-skin-tango-top .jcarousel-prev-horizontal {
	position: absolute;
	top: 1px;
	left: -15px;
	width: 14px;
	height: 22px;
	cursor: pointer;
	background: transparent url(prev-horizontal.png) no-repeat 0 0;
}
.jcarousel-skin-tango-top .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(next-horizontal.png);
}
.jcarousel-skin-tango-top .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-top .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(prev-horizontal_hover.png) no-repeat 0 0;
}
.jcarousel-skin-tango-top .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango-top .jcarousel-prev-disabled-horizontal, 
.jcarousel-skin-tango-top .jcarousel-prev-disabled-horizontal:hover, 
.jcarousel-skin-tango-top .jcarousel-prev-disabled-horizontal:focus, 
.jcarousel-skin-tango-top .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}

/*- TANGO - FOOTER -*/
.jcarousel-skin-tango-footer .jcarousel-container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; 
	border-radius: 10px;
	/*background: #F0F6F9;*/
  	/*border: 1px solid #346F97;*/
}
.jcarousel-skin-tango-footer .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango-footer .jcarousel-container-horizontal {
	width: 307px;
	left: 0px;
	top: 0px;
}

.jcarousel-skin-tango-footer .jcarousel-container-vertical {
	width: 413px;
	/*height: 245px;*/
 	padding: 40px 20px;
}
.jcarousel-skin-tango-footer .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango-footer .jcarousel-clip-horizontal {
	width: 707px;
}

#casousel_tec .jcarousel-skin-tango-footer .jcarousel-clip-horizontal {
	width: 580px;
}

.jcarousel-skin-tango-footer .jcarousel-clip-vertical {
	width:  75px;
	height: 245px;
}
.jcarousel-skin-tango-footer .jcarousel-item {
	width: 707px;
	height: 355px;
}

#casousel_tec .jcarousel-skin-tango-footer .jcarousel-item {
	width: 580px;
	height: 435px;
}

.jcarousel-skin-tango-footer .jcarousel-item-horizontal {
	margin-left: 0;
}
.jcarousel-skin-tango-footer .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango-footer .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango-footer .jcarousel-item-placeholder {
	/*-background: #fff;-*/
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-footer .jcarousel-next-horizontal {
	position: absolute;
	top: 388px;
	right: -92px;
	width: 54px;
	height: 39px;
	cursor: pointer;
	background: transparent url(../img/prev-horizontal-footer.png) no-repeat 0 0;
}

#infraestrutura .jcarousel-skin-tango-footer .jcarousel-next-horizontal {
	top: 348px;
}

#decorado .jcarousel-skin-tango-footer .jcarousel-next-horizontal {
	top: 348px;
}

.jcarousel-skin-tango-footer .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px; 
	right: auto;
	background-image: url(../img/prev-horizontal-footer.png);
}
.jcarousel-skin-tango-footer .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango-footer .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(../img/prev-horizontal-footer.png) no-repeat 0 0;
}
.jcarousel-skin-tango-footer .jcarousel-next-horizontal:active {
	background-position: 0px 0;
}
.jcarousel-skin-tango-footer .jcarousel-next-disabled-horizontal, 
.jcarousel-skin-tango-footer .jcarousel-next-disabled-horizontal:hover, 
.jcarousel-skin-tango-footer .jcarousel-next-disabled-horizontal:focus, 
.jcarousel-skin-tango-footer .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-skin-tango-footer .jcarousel-prev-horizontal {
	position: absolute;
	top: 388px;
	left: 290px;
	width: 54px;
	height: 39px;
	cursor: pointer;
	background: transparent url(../img/next-horizontal-footer.png) no-repeat 0 0;
}

#infraestrutura .jcarousel-skin-tango-footer .jcarousel-prev-horizontal {
	top: 348px;
}

#decorado .jcarousel-skin-tango-footer .jcarousel-prev-horizontal {
	top: 348px;
}


#casousel_tec .jcarousel-skin-tango-footer .jcarousel-prev-horizontal,
#casousel_pieces .jcarousel-skin-tango-footer .jcarousel-prev-horizontal {
	position: absolute;
	top: 422px;
	left: 221px;
	width: 51px;
	height: 48px;
	cursor: pointer;
	background: transparent url(../img/prev-horizontal-conceptual.png) no-repeat 0 0;
}

#casousel_pieces .jcarousel-skin-tango-footer .jcarousel-next-horizontal,
#casousel_pieces .jcarousel-skin-tango-footer .jcarousel-prev-horizontal {
	top: 340px;
}

.jcarousel-skin-tango-footer .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../img/next-horizontal-footer.png);
}
.jcarousel-skin-tango-footer .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-footer .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(../img/next-horizontal-footer.png) no-repeat 0 0;
}
.jcarousel-skin-tango-footer .jcarousel-prev-horizontal:active {
	background-position: 0px 0;
}
.jcarousel-skin-tango-footer .jcarousel-prev-disabled-horizontal, 
.jcarousel-skin-tango-footer .jcarousel-prev-disabled-horizontal:hover, 
.jcarousel-skin-tango-footer .jcarousel-prev-disabled-horizontal:focus, 
.jcarousel-skin-tango-footer .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}

/*- TANGO - CONCEPTUAL -*/
.jcarousel-skin-tango-conceptual .jcarousel-container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*background: #F0F6F9;*/
  	/*border: 1px solid #346F97;*/
}
.jcarousel-skin-tango-conceptual .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango-conceptual .jcarousel-container-horizontal {
	width: 960px;
	left: 0px;
	top: 0px;
}
.jcarousel-skin-tango-conceptual .jcarousel-container-vertical {
	width: 413px;
	/*height: 245px;*/
 	padding: 40px 20px;
}
.jcarousel-skin-tango-conceptual .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango-conceptual .jcarousel-clip-horizontal {
	width: 840px;
	margin: 0 60px;
	float: left;
}
.jcarousel-skin-tango-conceptual .jcarousel-clip-vertical {
	width:  75px;
	/*height: 245px;*/
}
.jcarousel-skin-tango-conceptual .jcarousel-item {
	width: 131px;
}
.jcarousel-skin-tango-conceptual .jcarousel-item-horizontal {
	margin-left: 0;
	line-height: 17px;
}
.jcarousel-skin-tango-conceptual .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango-conceptual .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-conceptual .jcarousel-next-horizontal {
	position: absolute;
	top: 13px;
	right: 10px;
	width: 49px;
	height: 51px;
	cursor: pointer;
	background: transparent url(../img/next-horizontal-conceptual.png) no-repeat 0 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px; 
	right: auto;
	background-image: url(../img/prev-horizontal-conceptual.png);
}
.jcarousel-skin-tango-conceptual .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango-conceptual .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(../img/next-horizontal-conceptual.png) no-repeat 0 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-next-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-next-disabled-horizontal, 
.jcarousel-skin-tango-conceptual .jcarousel-next-disabled-horizontal:hover, 
.jcarousel-skin-tango-conceptual .jcarousel-next-disabled-horizontal:focus, 
.jcarousel-skin-tango-conceptual .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-prev-horizontal {
	position: absolute;
	top: 13px;
	left: 10px;
	width: 49px;
	height: 51px;
	cursor: pointer;
	background: transparent url(../img/prev-horizontal-conceptual.png) no-repeat 0 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../img/next-horizontal-conceptual.png);
}
.jcarousel-skin-tango-conceptual .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-conceptual .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(../img/prev-horizontal-conceptual.png) no-repeat 0 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango-conceptual .jcarousel-prev-disabled-horizontal, 
.jcarousel-skin-tango-conceptual .jcarousel-prev-disabled-horizontal:hover, 
.jcarousel-skin-tango-conceptual .jcarousel-prev-disabled-horizontal:focus, 
.jcarousel-skin-tango-conceptual .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}

/*- TANGO - 4 -*/
.jcarousel-skin-tango-4 .jcarousel-container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*background: #F0F6F9;*/
  	/*border: 1px solid #346F97;*/
}
.jcarousel-skin-tango-4 .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango-4 .jcarousel-container-horizontal {
	width: 200px;
	left: 0px;
	top: 0px;
}
.jcarousel-skin-tango-4 .jcarousel-container-vertical {
	width: 413px;
	/*height: 245px;*/
 	padding: 40px 20px;
}
.jcarousel-skin-tango-4 .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango-4 .jcarousel-clip-horizontal {
	width: 180px;
	margin: 0 10px;
	float: left;
}
.jcarousel-skin-tango-4 .jcarousel-clip-vertical {
	width:  75px;
	/*height: 245px;*/
}
.jcarousel-skin-tango-4 .jcarousel-item {
	width: 85px;
}
.jcarousel-skin-tango-4 .jcarousel-item-horizontal {
	margin-left: 0;
}
.jcarousel-skin-tango-4 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango-4 .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango-4 .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-4 .jcarousel-next-horizontal {
	position: absolute;
	top: 13px;
	right: -13px;
	width: 10px;
	height: 119px;
	cursor: pointer;
	background: #F7F7F7 url(../img/next-horizontal-revisao.png) no-repeat 0 0;
}
.jcarousel-skin-tango-4 .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px; 
	right: auto;
	background-image: url(../img/prev-horizontal-revisao.png);
}
.jcarousel-skin-tango-4 .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango-4 .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
	background: #F7F7F7 url(../img/next-horizontal_hover-revisao.png) no-repeat 0 0;
}
.jcarousel-skin-tango-4 .jcarousel-next-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango-4 .jcarousel-next-disabled-horizontal, 
.jcarousel-skin-tango-4 .jcarousel-next-disabled-horizontal:hover, 
.jcarousel-skin-tango-4 .jcarousel-next-disabled-horizontal:focus, 
.jcarousel-skin-tango-4 .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-skin-tango-4 .jcarousel-prev-horizontal {
	position: absolute;
	top: 13px;
	left: -3px;
	width: 10px;
	height: 119px;
	cursor: pointer;
	background: #F7F7F7 url(../img/prev-horizontal-revisao.png) no-repeat 0 0;
}
.jcarousel-skin-tango-4 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(../img/next-horizontal-revisao.png);
}
.jcarousel-skin-tango-4 .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-4 .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
	background: #F7F7F7 url(../img/prev-horizontal_hover-revisao.png) no-repeat 0 0;
}
.jcarousel-skin-tango-4 .jcarousel-prev-horizontal:active {
	background-position: -64px 0;
}
.jcarousel-skin-tango-4 .jcarousel-prev-disabled-horizontal, 
.jcarousel-skin-tango-4 .jcarousel-prev-disabled-horizontal:hover, 
.jcarousel-skin-tango-4 .jcarousel-prev-disabled-horizontal:focus, 
.jcarousel-skin-tango-4 .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}

/*- TANGO - 9 -*/
.jcarousel-skin-tango-9 .jcarousel-container {
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   /*background: #F0F6F9;
   border: 1px solid #346F97;*/
}

.jcarousel-skin-tango-9 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango-9 .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}

.jcarousel-skin-tango-9 .jcarousel-container-vertical {
    width: 118px;
    height: 237px;
    /*-padding: 40px 10px;-*/
}

.jcarousel-skin-tango-9 .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango-9 .jcarousel-clip-horizontal {
    width:  245px;
    height: 75px;
}

.jcarousel-skin-tango-9 .jcarousel-clip-vertical {
    width: 118px;
    height: 233px;
}

.jcarousel-skin-tango-9 .jcarousel-item {
    width: 118px;
    height: 55px;
}

.jcarousel-skin-tango-9 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango-9 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango-9 .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango-9 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-9 .jcarousel-next-horizontal {
    position: absolute;
    top: 43px;
    right: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/next-horizontal-cars-new.png) no-repeat 0 0;
}

.jcarousel-skin-tango-9 .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../img/prev-horizontal-cars-new.png);
}

.jcarousel-skin-tango-9 .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango-9 .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango-9 .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango-9 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango-9 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango-9 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango-9 .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango-9 .jcarousel-prev-horizontal {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(../img/prev-horizontal-cars-new.png) no-repeat 0 0;
}

.jcarousel-skin-tango-9 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../img/next-horizontal-cars-new.png);
}

.jcarousel-skin-tango-9 .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-9 .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango-9 .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango-9 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango-9 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango-9 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango-9 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango-9 .jcarousel-next-vertical {
    position: absolute;
    bottom: 1px;
    left: 0px;
	/*-z-index: 10;-*/
    width: 118px;
    height: 13px;
    cursor: pointer;
    background: transparent url(next-vertical-cars-new.png) no-repeat 0 0;
}

.jcarousel-skin-tango-9 .jcarousel-next-vertical:hover,
.jcarousel-skin-tango-9 .jcarousel-next-vertical:focus {
    /*background-position: 0 -32px;*/
}

.jcarousel-skin-tango-9 .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-9 .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango-9 .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango-9 .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango-9 .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango-9 .jcarousel-prev-vertical {
    position: absolute;
    top: -13px;
    left: 0px;
	/*-z-index: 10;-*/
    width: 118px;
    height: 13px;
    cursor: pointer;
    background: transparent url(prev-vertical-cars-new.png) no-repeat 0 0;
}

.jcarousel-skin-tango-9 .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango-9 .jcarousel-prev-vertical:focus {
   /* background-position: 0 -32px;*/
}

.jcarousel-skin-tango-9 .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango-9 .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango-9 .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango-9 .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango-9 .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}





/*- TANGO - promotions -*/
.jcarousel-skin-tango-promotions .jcarousel-container {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; 
	border-radius: 10px;
	/*background: #F0F6F9;*/
  	/*border: 1px solid #346F97;*/
}
.jcarousel-skin-tango-promotions .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel-skin-tango-promotions .jcarousel-container-horizontal {
	width: 180px;
	left: 0px;
	top: 0px;
}
.jcarousel-skin-tango-promotions .jcarousel-container-vertical {
	width: 413px;
	/*height: 245px;*/
 	padding: 40px 20px;
}
.jcarousel-skin-tango-promotions .jcarousel-clip {
	overflow: hidden;
}
.jcarousel-skin-tango-promotions .jcarousel-clip-horizontal {
	width: 180px;
}
.jcarousel-skin-tango-promotions .jcarousel-clip-vertical {
	width:  75px;
	height: 245px;
}
.jcarousel-skin-tango-promotions .jcarousel-item {
	width: 180px;
	height: 190px;
}
.jcarousel-skin-tango-promotions .jcarousel-item-horizontal {
	margin-left: 0;
}
.jcarousel-skin-tango-promotions .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
	margin-right: 0;
}
.jcarousel-skin-tango-promotions .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-tango-promotions .jcarousel-item-placeholder {
	/*-background: #fff;-*/
	color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-promotions .jcarousel-next-horizontal {
	position: absolute;
	top: 118px;
	right: 0px;
	width: 22px;
	height: 17px;
	cursor: pointer;
	background: transparent url(prev-horizontal-footer.png) no-repeat 0 0;
}
.jcarousel-skin-tango-promotions .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left: 5px; 
	right: auto;
	background-image: url(prev-horizontal-promotions.png);
}
.jcarousel-skin-tango-promotions .jcarousel-next-horizontal:hover, 
.jcarousel-skin-tango-promotions .jcarousel-next-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(prev-horizontal-footer.png) no-repeat 0 0;
}
.jcarousel-skin-tango-promotions .jcarousel-next-horizontal:active {
	background-position: 0px 0;
}
.jcarousel-skin-tango-promotions .jcarousel-next-disabled-horizontal, 
.jcarousel-skin-tango-promotions .jcarousel-next-disabled-horizontal:hover, 
.jcarousel-skin-tango-promotions .jcarousel-next-disabled-horizontal:focus, 
.jcarousel-skin-tango-promotions .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}
.jcarousel-skin-tango-promotions .jcarousel-prev-horizontal {
	position: absolute;
	top: 118px;
	left: 0px;
	width: 22px;
	height: 17px;
	cursor: pointer;
	background: transparent url(next-horizontal-footer.png) no-repeat 0 0;
}
.jcarousel-skin-tango-promotions .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left: auto;
	right: 5px;
	background-image: url(next-horizontal-footer.png);
}
.jcarousel-skin-tango-promotions .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-promotions .jcarousel-prev-horizontal:focus {
	background-position: -32px 0;
	background: transparent url(next-horizontal-footer.png) no-repeat 0 0;
}
.jcarousel-skin-tango-promotions .jcarousel-prev-horizontal:active {
	background-position: 0px 0;
}
.jcarousel-skin-tango-promotions .jcarousel-prev-disabled-horizontal, 
.jcarousel-skin-tango-promotions .jcarousel-prev-disabled-horizontal:hover, 
.jcarousel-skin-tango-promotions .jcarousel-prev-disabled-horizontal:focus, 
.jcarousel-skin-tango-promotions .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	background-position: -96px 0;
}