@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}

.clear {clear: both}

body{
	font-family: 'HelveticaNeueRegular', sans-serif;
	font-size:18px;
	color:#fff;
}

.lancamento {
	width: 337px;
	height: 34px;
	background: url('../img/btn_lancamento.png');
	float: left;
	margin: 0 0 0 0;
}

#home{
	background:url(../img/bg_home.jpg) center top no-repeat #007e77;
}

#empreendimento{
	background: url(../img/bg_empreendimento.jpg) center top no-repeat #007e77;
}

#contato{
	/*background: url(../img/bg_contato.jpg) center top no-repeat #007e77;*/
	background:url(../img/bg_home.jpg) center top no-repeat #007e77;
}

#infraestrutura{
	background: url(../img/bg_infraestrutura.jpg) center top no-repeat #007e77;
}

#decorado{
	background: url(../img/bg_infraestrutura.jpg) center top no-repeat #007e77;
}

#plantas{
	background: url(../img/bg_plantas.jpg) center top no-repeat #007e77;
}

#localizacao{
	background: url(../img/bg_localizacao.jpg) center top no-repeat #007e77;
}

#infraestrutura .quick-links{
	margin-left: 114px;
}

.container{
	width: 960px;
	margin: 0 auto;
}

header{
	height: 130px;
}

.nav{
	width: 320px;
	padding: 11px 0 20px 0;
	border-bottom: 1px solid #B9CEBC;
}

.nav li{
	display: inline;
	margin: 0 20px 0 0;
}

.nav.left{
	width: 327px;
}

.nav.right{
	width: 385px;
}

.nav.left li{
	margin-right: 15px;
}

.nav.left li.none{
	margin-right:0;
}

.nav.right li.none{
	margin-left:0;
}

.nav.right li{
	margin-left: 15px;
}

.nav li a{
	font-size: 13px;
	font-family: 'Helvetica75Bold', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}

.left {
	float: left;
}

.right {
	float: right;
}

.quick-links li{
	width: 288px;
	float: left;
	display: inline;
}

.ie7 #localizacao .quick-links{
	margin-top: 270px;
}

.ie7 #localizacao footer{
	margin-top: -240px;
}

#empreendimento .quick-links li.center{
	margin-right: 45px;
	margin-left: 45px !important;
}

.quick-links li.center{
	margin-right: 45px;
	margin-left: 45px;
}

#empreendimento .quick-links li.center{
	margin-left: 0;
}

.ctn-home{
	width: 735px;
	margin-top: -30px;
}

.ctn-empreendimento{
	width: 735px;
	position: relative;
}

.ctn-empreendimento #area{
	background: url(../img/bg_intra_empreendimento.png) center bottom no-repeat;
	padding: 20px 15px;
}

#infraestrutura .ctn-empreendimento #area{
	background: url(../img/bg_intra_empreendimento2.png) center bottom no-repeat;
}

.ctn-empreendimento #area h3{
	color: #0C92AC;
	text-shadow: 0px 1px 0px #FBFBFB;
	font-size: 20px;
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	text-align: center;
	margin-top: 3px;
}

#decorado .ctn-home h3{
	color: #0C92AC;
	text-shadow: 0px 1px 0px #FBFBFB;
	font-size: 20px;
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	text-align: center;
	margin-top: 3px;
}

.ttl{
	font-size: 28px;
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	color: #333333;
	text-shadow: 0px 1px 0px #fff;
}

#empreendimento .ttl{
	margin-top: 18px;
}

#home .ttl {
	margin-top: 30px;
}
#contato .ttl{
	margin-top: 40px;
}

.description-ttl{
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	font-size: 13px;
	color: #000;
	/*text-shadow: 0px 1px 1px #fff;*/
	margin-bottom: 30px;
	line-height: 16px;
	letter-spacing: 1px;
}

#infraestrutura .description-ttl{
	font-size: 13px;
	line-height: 16px;
	margin-bottom: 35px;
}

#plantas .description-ttl{
	font-size: 16px;
	margin-bottom: 40px;
	margin-left: 25px;
}

#plantas .ttl,
#localizacao .ttl{
	margin-top: 20px;
	margin-left: 25px;
}

#contato .ttl{
	margin-top: 36px;
	margin-left: 25px;
}

#infraestrutura .list-two-cols{
	background: url(../img/bg_list_two.png) no-repeat;
	width: 940px;
	height: 295px;
}

#infraestrutura .list-one-col{
	background: url(../img/bg_list_one.png) no-repeat;
	width: 295px;
	height: 295px;
}

#infraestrutura .list-one-col,
#infraestrutura .list-two-cols{
	margin: 12px 0 52px 0;
}

#infraestrutura .list-two-cols .ttl,
#infraestrutura .list-one-col .ttl{
	font-size: 20px;
	margin: 23px 0 15px 8px;
	font-size: 17px\9\0;
	font-weight: bold\9\0;
}

#infraestrutura .ctn-empreendimento #area{
	margin-bottom: 20px;
}

#plantas .ctn-empreendimento #area{
	margin-bottom: 107px;
}

.ie7 #infraestrutura .list-two-cols .ttl,
.ie7 #infraestrutura .list-one-col .ttl{
	font-size: 17px;
}

#infraestrutura .list-two-cols ul,
#infraestrutura .list-one-col ul{
	float: left;
	margin-left: 25px;
	margin-top: 5px;
	margin-top: 40px\9\0;
}

#infraestrutura .list-two-cols ul li,
#infraestrutura .list-one-col ul li{
	font-size: 15px;
	color: #333;
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	list-style: disc;
	margin-bottom: 4px;
}

#infraestrutura .list-one-col ul li{
	width: 250px;
}

#infraestrutura .list-two-cols ul li{
	width: 285px;
	height: 24px;
	font-weight: bold\9\0;
}

#decorado .ctn-home{
	width: 698px;
	height: 522px;
	background: url(../img/bg_intra_decorado.png) no-repeat top;
	position: absolute;
	overflow: hidden;
}

#localizacao .ctn-home{
	margin-top: 120px;
	width: 698px;
	height: 522px;
	background: url(../img/bg_img_mapa_localizacao.png) no-repeat;
	position: absolute;
	overflow: hidden;
	margin-top: 140px;
}

#localizacao .ctn-home img.left{
	margin: 10px 26px 0 13px;
}

#localizacao .endereco{
	width: 245px;
	margin-top: -12px;
	background: url(../img/bg_mapa_localizacao.png) no-repeat;
	margin-right: 20px;
	padding: 20px 0 33px;
}

.ttl-action{
	font-size: 33px;
	font-family: 'HelveticaNeueLTStd47LightCondensed', sans-serif;
	color: #333333;
	text-shadow: 0px 1px 0px #fff;
}

#ctn-legenda{
	/*background: url(../img/bg_legenda.png) no-repeat;*/
	background-color: #EDF6F5;
    border-radius: 15px;
    display: table;
    left: 562px;
    padding: 10px 0 10px 15px;
    position: absolute;
    top: 551px;
    width: 375px;
}

#ctn-legenda h4{
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	text-shadow: 0px 1px 1px #fff;
	font-size: 23px;
	color: #333;
	margin-bottom: 11px;
}

#ctn-legenda ul{
	float: left;
	margin-right: 10px;
	width: 170px;
}

#ctn-legenda ul li{
	font-family: 'HelveticaNeueLTStd67MediumCondensed', sans-serif;
	text-shadow: 0px 1px 1px #fff;
	font-size: 13px;
	margin-bottom: 4px;
	line-height: 17px;
	color: #333;
}

#ctn-legenda ul li span{
	background: #0C94AE;
	width: 17px;
	height: 17px;
	display: block;
	color: #fff;
	text-shadow: none;
	text-align: center;
	float: left;
	margin-right: 7px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-moz-border-radius: 10px;
}

#ctn-legenda ul li .leg{
	width: 146px;
	float: left;
	margin: 0 0 4px 0;
}

.ctn-get-lead textarea { 
	font-size: 12px;
	width: 151px;
	height: 48px;
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: 8px;
	border-radius: 5px;
	border: 1px solid #0a93ac;
	background: #FFF;
	color: #999;
	resize: none;
}

#contato .ctn-box{
	float: left;
	background: url(../img/bg_area_contato.png) right top no-repeat;
	width: 950px;
	margin-top: 30px;
	position: relative;
	margin-left: 0;
}

#contato #head_form{
	background: none;
	margin-left: 25px;
	padding: 0;
}

#contato #head_form #ttl-plantao,
#contato #head_form #ttl-phone{
	text-align: left;
}

#contato #head_form strong,
#localizacao .endereco p{
	font-family: 'HelveticaNeueBold', sans-serif;
	color: #0692AC;
	font-size: 13px;
	line-height: 15px;
}

#contato #head_form strong{
	margin-top: 15px;
	display: inline-block;
}

#contato .ctn-get-lead{
	background: none;
	width: 708px;
	margin-bottom: 8px;
}

#contato #endereco{
	width: 331px;
}

#contato #mensagem{
	height: 108px;
	width: 511px;
}

#contato .ctn-get-lead .textfield{
	margin-right: 13px;
	margin-bottom: 18px;
}

#contato .ctn-get-lead .textfield.none{
	margin-right: 0;
}

#contato .ctn-get-lead .button{
	margin-right: 12px;
}

#ctn-button-contact{
	margin: 80px 0 0 17px;
}

.obri { 
	font-size:11px; 
	font-weight:400;
	margin-bottom:10px;
	text-transform:lowercase;
}

.ctn-get-lead .button {
	float: left;
	width:83px;
	height:33px;
	margin-bottom:10px;
	border-radius:5px;
	border:1px solid #0a93ac;
	background-color:#0a93ac;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	font-size:17px; 
}

.ctn-get-lead .button:hover { 
	background-color:#32b4cc;
	color:#FFF;
}

.ctn-get-lead .title,
#localizacao .endereco .title { 
	font-family: 'HelveticaNeue45Light', sans-serif;
	color:#0a93ac;
	font-size:17px;
	font-weight:500;
	margin-bottom:13px;
}

#localizacao .endereco .title {
	margin-bottom:8px;
}

.ctn-get-lead .title span { 
	font-family: 'HelveticaNeueBold', sans-serif;
	display:block; 
	font-size:13px; 
} 

.ctn-get-lead .textfield { 
	padding-left: 10px;
	width: 151px;
	font-size: 12px;
	height:30px;
	margin-bottom:8px;
	border-radius:3px;
	border:1px solid #0a93ac;
	background:#FFF;
	color:#999;
}

.ie7 .ctn-get-lead .textfield { height:20px; padding-top:10px }
.ie8 .ctn-get-lead .textfield { height:20px; padding-top:10px }
.fix {float: right; width: 226px;}

.atendimento { 
	width: 203px;
	height: 33px; 
	float: right; 
}

.telefone { 
	width: 170px;
	height: 30px;
	margin-left: -45px;
	padding: 10px 0 0 45px;
	margin-top: 70px;
	border-radius: 10px;
	background: #edf6f4;
}

.ctn-get-lead { 
	width: 167px;
	height: 275px;
	margin-bottom: 15px;
	padding: 12px 18px 24px 17px;
	background:#EDF6F5;
	text-transform:uppercase;
	font-size:16px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.ctn-box{
	background: url(../img/bg_form_cotacao.png) no-repeat;
	margin-top: 30px;
	height: 465px;
	position: relative;
	margin-left: 756px;
	width: 202px;
}

.ie7 #home .ctn-box{ 
	margin-left: 21px;
}
.ie8  #home .ctn-box{ 
	margin-left: 756px;
}

#localizacao .ctn-box{
	/*margin-top: -60px;*/
}

#localizacao .quick-links{
	margin-top: 20px;
}

.ie7 #localizacao .ctn-home{
	margin-left: -185px;
	margin-top: 125px;
}

.ie7 #localizacao .endereco{
	margin-right: 20px;
}

#home .quick-links{
	margin-top: 12px;
}

#plantas .ctn-box{
	margin-top: 0;
	top: 52px;
}

.ie7 #home .quick-links{
	margin-top: -8px;
}

#head_form{
	background: url(../img/bg_head_get_lead.png) no-repeat;
	width: 168px;
	padding: 7px 17px 4px 17px; 
}

#ttl-plantao{ 
	font-family: 'HelveticaNeue45Light', sans-serif;
	text-indent: 0; 
	color: #0792AC; 
	font-size: 17px; 
	text-align: center; 
}

#ttl-phone{
	font-family: 'HelveticaNeueRegular', sans-serif;
	text-indent: 0;
	color: #1390AC;
	font-size: 25px;
	text-align: center;letter-spacing: -1px;
	font-weight: 600;
}

#ttl-phone span{ 
	font-size: 15px; 
	display: inline;
}

#legend{ 
	text-transform: none;
	font-family: Arial, sans-serif;
	color: #666666;
	font-size: 11px;
	width: 39px;
	float: right;
	margin-right: 30px;
}

footer{
	background: url(../img/bg_footer.png) center top repeat-x;
	width: 100%;
	padding: 35px 0 11px 0;
	margin-top: 40px;
	display: inline-block;
	clear: both;
}

footer h3{
	font-size: 18px;
	text-shadow:0px 1px 0px #000;
	margin-bottom: 12px;
	font-family: 'HelveticaNeueBold', sans-serif;
}

footer p{
	font-size: 10px;
	font-family: Arial, sans-serif;
	text-shadow:0px 1px 0px #000;
}

#plantas-de-vendas-ft {
	position: relative;
}

#plantas-de-vendas-ft p{
	font-size: 12px;
}

#plantas-de-vendas-ft a.lnk-plantao {
	position: absolute;
	width: 40px;
	height: 50px;
	left: 35px;
	top: 30px;
	text-indent: -9999px;
}

footer ul li{
	display: inline;
	float: left;
	margin-bottom: 9px;
}

footer .txt-center{
	width: 970px;
	display: inline-block;
	background-color: #000;
	opacity: 0.7;
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	padding: 5px;
}

#indique-ft{
	background:url(../img/ico-indique.png) center top no-repeat;
	width: 238px;
	padding: 0 50px 0 20px;
}

#indique-ft input{
	width: 140px;
	height: 13px;
	font-size: 12px;
	color: #666;
	border: 1px solid #058EAE;
	padding: 10px 0 10px 15px;
	border-radius: 8px;
	margin: 0 0 6px 84px;
}

#indique-ft #enviar{
	width: 45px;
	height: 33px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #0a93ac;
	background-color: #0a93ac;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 0;
	font-size: 17px;
	float: right;
	margin: 2px 0 0 0;
}

#email_indique{
	float: left;
	width: 90px !important;
}

#plantas-de-vendas-ft{
	background: url(../img/ico-plantas-de-vendas.png) center center no-repeat;
	width: 212px;
	height: 121px;
	padding: 0 30px 0 95px;
	font-family: 'HelveticaNeue57CondensedOblique', sans-serif;
}

#plantas-de-vendas-ft em{
	font-size: 28px;
}

#plantas-de-vendas-ft em span{
	font-size: 15px;
}

#rights-ft{
	width: 275px;
	font-size: 11px;
	padding-left: 34px;
	position: relative;
}

#rights-ft div{
	width: 119px;
	float: left;
}

#rights-ft div.dif{
	width: 137px;
	float: left;
}

#rights-ft div a{
	display: inline-block;
	margin: 12px 0;
}

.txt-center{
	text-align: center;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

@font-face {
    font-family: 'HelveticaNeue57CondensedOblique';
    src: url('fonts/helveticaneue-condensedobl_0.eot');
    src: url('fonts/helveticaneue-condensedobl_0.eot') format('embedded-opentype'),
         url('fonts/helveticaneue-condensedobl_0.woff') format('woff'),
         url('fonts/helveticaneue-condensedobl_0.ttf') format('truetype'),
         url('fonts/helveticaneue-condensedobl_0.svg#HelveticaNeue57CondensedOblique') format('svg');
}

@font-face {
    font-family: 'HelveticaNeue45Light';
    src: url('fonts/helveticaneue-light_0.eot');
    src: url('fonts/helveticaneue-light_0.eot') format('embedded-opentype'),
         url('fonts/helveticaneue-light_0.woff') format('woff'),
         url('fonts/helveticaneue-light_0.ttf') format('truetype'),
         url('fonts/helveticaneue-light_0.svg#HelveticaNeue45Light') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('fonts/helveticaneuebold.eot');
    src: url('fonts/helveticaneuebold.eot') format('embedded-opentype'),
         url('fonts/helveticaneuebold.woff') format('woff'),
         url('fonts/helveticaneuebold.ttf') format('truetype'),
         url('fonts/helveticaneuebold.svg#HelveticaNeueBold') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueRegular';
    src: url('fonts/helveticaneue.eot');
    src: url('fonts/helveticaneue.eot') format('embedded-opentype'),
         url('fonts/helveticaneue.woff') format('woff'),
         url('fonts/helveticaneue.ttf') format('truetype'),
         url('fonts/helveticaneue.svg#HelveticaNeueRegular') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStd47LightCondensed';
    src: url('fonts/helveticaneueltstd-ltcn.eot');
    src: url('fonts/helveticaneueltstd-ltcn.eot') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-ltcn.woff') format('woff'),
         url('fonts/helveticaneueltstd-ltcn.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-ltcn.svg#HelveticaNeueLTStd47LightCondensed') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStd67MediumCondensed';
    src: url('fonts/helveticaneueltstd-mdcn.eot');
    src: url('fonts/helveticaneueltstd-mdcn.eot') format('embedded-opentype'),
         url('fonts/helveticaneueltstd-mdcn.woff') format('woff'),
         url('fonts/helveticaneueltstd-mdcn.ttf') format('truetype'),
         url('fonts/helveticaneueltstd-mdcn.svg#HelveticaNeueLTStd67MediumCondensed') format('svg');
}

@font-face {
    font-family: 'Helvetica75Bold';
    src: url('fonts/helvetica-75-bold-1361522148.eot');
    src: url('fonts/helvetica-75-bold-1361522148.eot') format('embedded-opentype'),
         url('fonts/helvetica-75-bold-1361522148.woff') format('woff'),
         url('fonts/helvetica-75-bold-1361522148.ttf') format('truetype'),
         url('fonts/helvetica-75-bold-1361522148.svg#Helvetica75Bold') format('svg');
}

ul.lst-loc {
	float: left;
	margin: 10px 0 0 30px;
}

ul.lst-loc li {
	float: left;
	padding-right: 10px;
	margin-right: 10px;
	border-right: 2px solid #CCC;
}

ul.lst-loc li.last {
	border: none;
}

ul.lst-loc li a {
	font-size: 14px;
	color: #0692AC;
}

ul.lst-loc li a:hover {
	color: #ABC22A;
	text-decoration: underline;
}

.ctloca {
	float: left;
	width: 695px;
	height: 500px;
}

.ctloca iframe {
	float: left;
	margin: 20px;
}

.mtHFM {
	margin: 12px 0;
}

.imgs {
	position: relative;
}

.imgs a {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/lupa.png);
	right: 10px;
	bottom: 15px;
	text-indent: -9999px;
}

#infracarousel {
	float: left;
}

#infracarousel li {
	position: relative;
}

#infracarousel li img {
	
}

#infracarousel li a {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/lupa.png);
	right: 20px;
	bottom: 65px;
	text-indent: -9999px;
}

#infracarousel2 {
	float: left;
}

#infracarousel2 li {
	position: relative;
}

#infracarousel2 li img {
	
}

#infracarousel2 li a {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/lupa.png);
	right: 20px;
	bottom: 65px;
	text-indent: -9999px;
}

#infracarousel3 {
	float: left;
}

#infracarousel3 li {
	position: relative;
}

#infracarousel3 li img {
	
}

#infracarousel3 li a {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/lupa.png);
	right: 20px;
	bottom: 65px;
	text-indent: -9999px;
}

#plantascarousel {
	float: left;
}

#plantascarousel li {
	position: relative;
	height: 390px;
}

#plantascarousel li img {
	margin-left: 40px;
}

#plantascarousel li a {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/lupa.png);
	right: 50px;
	bottom: 80px;
	text-indent: -9999px;
}

p.prg-loca {
	float: left;
	margin: 5px 0 0 25px;
	width: 700px;
	line-height: 16px;
	clear: both;
	font-size: 13px;
}

.copy {
	float: left;
	margin-top: 70px;
}

.imgLogos {
	position: absolute;
	bottom: 18px;
	left: 30px;
}

.imp {
	cursor: pointer;
}

div.prg-emp {
	color: #333333;
    font-family: 'HelveticaNeueLTStd67MediumCondensed',sans-serif;
    font-size: 13px;
    line-height: 17px;
    text-shadow: 0 1px 1px #FFFFFF;
    float: left;
    margin: 20px 0 10px 0;
    padding: 0 27px 0 0;
}

#dvloc3 a, #dvloc1 a {
	position: absolute;
	width: 30px;
	height: 30px;
	display: block;
	background-image: url(../img/lupa.png);
	right: 25px;
	bottom: 25px;
	text-indent: -9999px;
}