@charset "utf-8";

/**************************** Ficha Técnica ****************************/
/*
	Autor: Divex - Internet Gerando Valor
	Site autor: http://www.divex.com.br
	Contato autor: atendimento@divex.com.br
	Cliente: Grupo Capa
*/

/**************************** Cores ****************************/
/*
	Aqui colocamos comentadas todas as referências
	hexadecimais das cores usadas no site.

	Tátulos:
	Laranja claro:  #XXXXXX (h1)
	Laranja médio:  #XXXXXX (h2)
	Laranja escuro: #XXXXXX (h3 e h4)
	
	Parágrafos:
	Cinza claro:  #XXXXXX
	Cinza médio:  #XXXXXX
	Cinza escuro: #XXXXXX

	Links:
	Azul claro:  #XXXXXX
	Azul médio:  #XXXXXX (usado apenas em links externos)
	Azul escuro: #XXXXXX
*/

/**************************** Reset ****************************/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
form, fieldset, p, blockquote, q, cite, code, table, th, td {
	margin: 0;
	padding: 0;}

ol, ul {list-style: none;}

img    {border: none;}

/**************************** Classes Especiais ****************************/
/* Textos */
.TextoCenter {text-align: center;}
.TextoLeft   {text-align: left;}
.TextoRight  {text-align: right;}
.TextoJust   {text-align: justify;}

.TextoNormal       {font-weight: normal;}
.TextoBold         {font-weight: bold;}
.TextoEstiloNormal {font-style: normal;}
.TextoItalic       {font-style: italic;}

.TextoUnderline    {text-decoration: underline;}
.TextoUnderNone    {text-decoration: none;}
.TextoOverLine     {text-decoration: overline;}

/* Objetos */
.Left        {float: left;}
.Right       {float: right;}
.FloatNone   {float: none;}

.Visible     {visibility: visible;}
.Hidden      {visibility: hidden;}

.Block       {display: block;}
.Inline      {display: inline;}
.InlineBlock {display:inline-block;}
.DisplayNone {display: none;}

.BorderTop {}
.BorderRight {}
.BorderBottom {}
.Borderleft {}

/**************************** Estilos e Estruturas usados em todas páginas ****************************/
body {
	background-color: #939393;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 100%;}

div.Full {
	margin: 0;
	width: 100%;}

div.Container {
	margin: 0 auto;
	width: 962px;}

/* Header */
div.Header {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Header div.Container {
	height: 130px;
	position: relative;}

/* Conta */
div.Header div.Container div.Conta {
	float: right;
	height: 24px;
	margin-top: 20px;}

div.Header div.Container div.Conta p {
	color: #fff;
	float: left;
	line-height: 12px;
	margin-right: 10px;
	text-align: right;}

div.Header div.Container div.Conta p strong {
	display: block;}

div.Header div.Container div.Conta ul {
	background: url(../../img/site/bg-conta.png) no-repeat right top;
	float: left;
	height: 24px;
	padding-left: 22px;
	width: 113px}

div.Header div.Container div.Conta ul li {
	display: inline;
	margin-left: 9px;}

div.Header div.Container div.Conta ul li a:link, 
div.Header div.Container div.Conta ul li a:visited {
	color: #fff;
	font-size: 11px;
	line-height: 23px;
	text-decoration: none;}

div.Header div.Container div.Conta ul li a:hover, 
div.Header div.Container div.Conta ul li a:active {text-decoration: underline;}

/* Navegation */
div.Header div.Container ul.Navegation {
    bottom: 37px;
    height: 14px;
    position: absolute;
    right: 0;}

div.Header div.Container ul.Navegation li {
	display: inline;
	float: left;
	height: 14px;
	margin-left: 12px;}

div.Header div.Container ul.Navegation li a {
	background: url(../../img/site/bg-navegation.png) no-repeat;
	display: block;
	height: 14px;
	text-indent: -9000px;}

div.Header div.Container ul.Navegation li a.NavPrincipal:link, 
div.Header div.Container ul.Navegation li a.NavPrincipal:visited {
	background-position: left -19px;
	width: 62px;}

div.Header div.Container ul.Navegation li a.NavPrincipal:hover, 
div.Header div.Container ul.Navegation li a.NavPrincipal:active {
	background-position: left 0;}

div.Header div.Container ul.Navegation li a.NavTermos:link, 
div.Header div.Container ul.Navegation li a.NavTermos:visited {
	background-position: -74px -19px;
	width: 98px;}

div.Header div.Container ul.Navegation li a.NavTermos:hover, 
div.Header div.Container ul.Navegation li a.NavTermos:active {
	background-position: -74px 0;}

div.Header div.Container ul.Navegation li a.NavEmpreendimento:link, 
div.Header div.Container ul.Navegation li a.NavEmpreendimento:visited {
	background-position: -186px -19px;
	width: 160px;}

div.Header div.Container ul.Navegation li a.NavEmpreendimento:hover, 
div.Header div.Container ul.Navegation li a.NavEmpreendimento:active {
	background-position: -186px 0;}

div.Header div.Container ul.Navegation li a.NavCapa:link, 
div.Header div.Container ul.Navegation li a.NavCapa:visited {
	background-position: -360px -19px;
	width: 60px;}

div.Header div.Container ul.Navegation li a.NavCapa:hover, 
div.Header div.Container ul.Navegation li a.NavCapa:active {
	background-position: -360px 0;}


/* Wrapper */
div.Wrapper {
	margin: 0;
	width: 100%;}

/* Footer */
div.Footer {
	margin: 0;
	overflow: hidden;
	width: 100%;}

div.Footer div.Container {
	height: 64px;}

/* Footer Navegation */
div.Footer div.Container ul.Navegation {
	float: left;}

div.Footer div.Container ul.Navegation li {
	display: inline;
	margin-right: 20px;}

div.Footer div.Container ul.Navegation li a:link, 
div.Footer div.Container ul.Navegation li a:visited {
	color: #fff;
	text-decoration: none;}
 
div.Footer div.Container ul.Navegation li a:hover, 
div.Footer div.Container ul.Navegation li a:active {
	text-decoration: underline;}

/* Footer Assinatura */
div.Footer div.Container a.Assinatura:link, 
div.Footer div.Container a.Assinatura:visited, 
div.Footer div.Container a.Assinatura:hover, 
div.Footer div.Container a.Assinatura:active {
	background: url(../../img/site/logo-divex-imobi.png) no-repeat;
	display: block;
	float: right;
	height: 26px;
	text-indent: -9000px;
	width: 198px;}

/* Títulos */
h1 {
	background-color: #333;
	float: left;
	height: 90px;
	margin-top: 20px;
	width: 153px;}

h2 {
	background-color: #333;
	float: left;
	height: 16px;
	margin: 80px 0 0 20px;
	width: 187px;}

h3 {}

h4 {}

h5 {}

h6 {}

/* Parágrados */
p {}

/* Links */
a:link, a:visited {}

a:hover, a:active {}

a[href^="http://"]:link, a[href^="http://"]:visited {}/*Regra usada para distinguir links externos*/

a[href^="http://"]:hover, a[href^="http://"]:active {}/*Regra usada para distinguir links externos*/


/**************************** Estilos e Estruturas usados na página Login ****************************/
/* Wrapper */
body.Login div.Wrapper {background: url(../../img/site/bg-2coluns.png) no-repeat center top;}

/* Main */
body.Login div.Wrapper div.Main {
	height: 424px;
	padding: 30px;}

/* ColunLeft e ColunRight */
body.Login div.Wrapper div.Main div.ColunLeft, 
body.Login div.Wrapper div.Main div.ColunRight {
	float: left;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft {
	margin-right: 76px;}

body.Login div.Wrapper div.Main div.ColunLeft h3, 
body.Login div.Wrapper div.Main div.ColunRight h3 {
	background: url(../../img/site/bg-h3.png) no-repeat;
	display: block;
	float: left;
	height: 96px;
	text-indent: -9000px;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft h3 {background-position: left top;}
body.Login div.Wrapper div.Main div.ColunRight h3 {background-position: left -106px;}

body.Login div.Wrapper div.Main div.ColunLeft p, 
body.Login div.Wrapper div.Main div.ColunRight p {
	color: #585858;
	float: left;
	font-size: 14px;
	line-height: 20px;
	margin-top: 28px;}

body.Login div.Wrapper div.Main div.ColunRight a {
	background: url(../../img/site/bg-btn.png) no-repeat left bottom;
	display: inline-block;
	float: left;
	height: 51px;
	margin: 73px 0 0 73px;
	text-indent: -9000px;
	width: 272px;}

/* Formulario de Login */
body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario {
	float: left;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li {
	float: left;
	height: 52px;
	margin-bottom: 8px;
	text-align: center;
	width: 412px;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li.NoAlert {
	background-color: #FC0;
	color: #630;
	height: 15px;
	padding: 5px 0;
	visibility: hidden;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoEmail, 
body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoSenha {
	border: 2px solid #989793;
	color: #7f7e7a;
	font-size: 16px;
	height: 44px;
	line-height: 43px;
	padding-left: 56px;
	width: 352px;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoEmail {background: #f0ece2 url(../../img/site/bg-campo-email.png) no-repeat 20px center;}
body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.CampoSenha {background: #f0ece2 url(../../img/site/bg-campo-senha.png) no-repeat 20px center;}

body.Login div.Wrapper div.Main div.ColunLeft ul.Formulario li input.btnLogin {
	background: url(../../img/site/bg-btn.png) no-repeat left top;
	border: none;
	cursor: pointer;
	height: 51px;
	width: 272px;}

/**************************** Estilos e Estruturas usados em páginas internas ****************************/
/* Wrapper */
body.Interna div.Wrapper {background: url(../../img/site/bg-wrapper.png) no-repeat center top;}

body.Interna div.Wrapper div.Container {
	height: 511px;}

/* Sidebar */
body.Interna div.Wrapper div.Container div.Sidebar {
	float: left;
	padding-top: 20px;
	width: 175px;}

/* Timeline */
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline {
	width: 175px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li {
	background: url(../../img/site/bg-timeline.png) no-repeat;
	float: left;
	height: 46px;
	margin-bottom: 30px;
	text-indent: -9000px;
	width: 175px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitorios {background-position: left top;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitoriosSelecionado {background-position: -175px top;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.NumeroDormitoriosDesativado {background-position: -352px top;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantas {background-position: left -49px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantasSelecionado {background-position: -175px -49px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.OpcoesPlantasDesativado {background-position: -352px -49px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodos {background-position: left -96px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodosSelecionado {background-position: -175px -96px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.PersonalizarComodosDesativado {background-position: -352px -96px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapa {background-position: left -144px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapaSelecionado {background-position: -175px -144px;}
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li.EnviarParaCapaDesativado {background-position: -352px -144px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:link, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -68px -37px;
    float: right;
    height: 24px;
    margin: 8px 6px 0 0;
    width: 24px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:hover, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Timeline li a:active  {
	background-position: -68px -4px;}

/* Input (Enviar para Capa) */
body.Interna div.Wrapper div.Container div.Sidebar input {
	display: block;
	float: left;
	height: 75px;
	width: 117px;}

/* Opcoes (Salvar e Imprimir) */
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes {
	float: right;
	height: 77px;
	width: 35px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li {
	background: url(../../img/site/bg-opcoes.png) no-repeat;
	height: 30px;
	margin-bottom: 2px;
	padding: 7px 0 0 7px;
	width: 28px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a {
	background: url(../../img/site/icones.png) no-repeat;
	display: block;
	height: 24px;
	text-indent: -9000px;
	width: 24px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:link, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:visited {
	background-position: -93px -37px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:hover, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:active, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnSalvar:focus {
	background-position: -93px -4px;
	outline: none;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:link, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:visited {
	background-position: -117px -37px;}

body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:hover, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:active, 
body.Interna div.Wrapper div.Container div.Sidebar ul.Opcoes li a.btnImprimir:focus {
	background-position: -117px -4px;
	outline: none;}

/* Main */
body.Interna div.Wrapper div.Container div.Main {
	float: left;
	height: 459px;
	width: 787px;
	position: relative;}

/**************************** Estilos e Estruturas usados na página do Número de Dormitórios ****************************/
/* OpcoesDormitorios */
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios {
	margin: 20px 0 0 20px;
	width: 750px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li {
	height: 76px;
	margin-bottom: 20px;
	width: 750px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a {
	background: url(../../img/site/bg-lista-dormitorios.png) no-repeat;
	display: block;
	height: 76px;
	text-indent: -9000px;
	width: 750px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao1Dormitorio:active {background-position: left top;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao2Dormitorios:active {background-position: left -77px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao3Dormitorios:active {background-position: left -154px;}

body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:link, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:visited, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:hover, 
body.Dormitorios div.Wrapper div.Container div.Main ul.NumeroDormitorios li a.Opcao4Dormitorios:active {background-position: left -231px;}

/**************************** Estilos e Estruturas usados na página das Opções de Plantas ****************************/
body.Plantas div.Wrapper div.Container div.Main ul.TiposPlantas {
	margin: 20px 20px 0 20px;
	_margin-left: 17px;
	width: 750px;}

body.Plantas div.Wrapper div.Container div.Main ul.TiposPlantas li {
	margin-bottom: 20px;
	height: 202px;
	width: 366px;}

body.Plantas div.Wrapper div.Container div.Main ul.TiposPlantas li a {
	height: 202px;
	width: 366px;}

/**************************** Estilos e Estruturas usados na página do Projeto ****************************/

/* ProjetoX */
body.Projeto div.Wrapper div.Container div.Main div.ProjetoX {
	display: inline;
	float: left;
	height: 422px;
	margin: 20px 0 0 20px;
	position: relative;
	width: 651px;}

body.Projeto div.Wrapper div.Container div.Main a.btnEditar:link, 
body.Projeto div.Wrapper div.Container div.Main a.btnEditar:visited {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: left bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Projeto div.Wrapper div.Container div.Main a.btnEditar:hover, 
body.Projeto div.Wrapper div.Container div.Main a.btnEditar:active, 
body.Projeto div.Wrapper div.Container div.Main a.btnEditar:focus {
	background-position: left top;
	outline: none;}

body.Interna div.Wrapper div.Container div.Main span {
	background: url(../../img/site/icones.png) no-repeat;
	background-position: -34px bottom;
	display: block;
	height: 32px;
	left: 50%;
	margin: -16px 0 0 -16px;
	position: absolute;
	text-indent: -9000px;
	top: 50%;
	width: 32px;}

body.Interna div.Wrapper div.Container div.Main span:hover {background-position: -34px top;}

/* Cômodos */
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA01, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA02, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA01, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA02, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA01, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA02, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.CozinhaA01 {
	position: absolute;}

body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA01, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.DormitorioA02 {
	left: 17px;
	top: 16px;}

body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA01, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.BanheiroA02 {
	left: 17px;
	top: 237px;}

body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA01, 
body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.AreaSocialA02 {
	left: 214px;
	top: 16px;}

body.Interna div.Wrapper div.Container div.Main div.ProjetoX div.CozinhaA01 {
	left: 518px;
	top: 15px;}

/* OpcoesComodos */
body.Interna div.Wrapper div.Container div.Main ul.OpcoesComodos {
	/*float: left;
	margin-top: 35px;*/
	position: absolute;
	top: 30px;
	right: 10px;
	width: 100px;}

body.Interna div.Wrapper div.Container div.Main ul.OpcoesComodos li {
	margin: 0 0 10px 10px;}

body.Interna div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes {
	background: url(../../img/site/bg-titulo-opcoes.png) no-repeat center top;
	height: 34px;
	margin-left: 0;
	text-align: center;
	width: 100px;}

body.Interna div.Wrapper div.Container div.Main ul.OpcoesComodos li.TituloOpcoes h5 {
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	line-height: 34px;}

body.Interna div.Wrapper div.Container div.Main ul.OpcoesComodos li.ComodoSelecionado {
	border: 1px solid;}


























