
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/
	.Navigation, .Emphasis, .Terreno,
	.FooterNav, .Credits, .Presentation,
	.ThumbPlantaImpar, .ThumbPlantaPar,
	.ContactOptions, .ImagesTitle { display: inline; }

	.BotaoInteresse, .BotaoIndique, .OpcoesPlantas a,
	.PlantaoVendas, .Telefone, .Credits, .Endereco,
	.ImagesTitle { background-repeat: no-repeat; }

	label { padding-right: 7px; }

	.Form ul li { padding-bottom: 6px; }

	#PainelTenhoInteresse ul.Last { width: 258px; }

	#PainelIndique .Form ul li { padding-bottom: 16px; }

	#PainelIndique ul.Second { width: 282px; }

	.BotaoEnviar { margin: 0 3px 0 0 !important; }

	.Localizacao .ContactOptions li.Endereco,
	.Contato .ContactOptions li.Endereco { margin: 0 0 48px 0 !important; }

	.ContactOptions {
		padding-left: 18px;
		width: 401px;}

	.hfixie {
		height: 22px;
		line-height: 22px;}
	/* @End General */

