
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @General ****************/
	#PainelTenhoInteresse ul.Last { width: 258px; }

	#PainelIndique ul.Second { width: 282px; }

	#FormContato label { padding: 0 0 3px 0; }

	#FormContato ul li { padding: 0 0 1px 0; }

	.hfixie {
		height: 22px;
		line-height: 22px;}
	/* @End General */
