
	.jcarousel-skin {
		float: left;
		padding: 0 0 40px 34px;}

	.jcarousel-skin li {
		float: left;
		height: 226px;
		margin: 0 4px 0 0;
		width: 226px;}

	.jcarousel-container {
		/*padding: 0 52px;*/
		position: relative;}

	.jcarousel-clip {
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		z-index: 2;}

	.jcarousel-list {
		left: 0;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
		top: 0;
		z-index: 1;}

	.jcarousel-list li, .jcarousel-item {
		float: left;
		/*height: 304px;*/
		list-style: none;
		width: 206px;} /* We set the width/height explicitly. No width/height causes infinite loops. */

	/**
		* The buttons are added dynamically by jCarousel before
		* the <ul> list (inside the <div> described above) and
		* have the classnames "jcarousel-next" and "jcarousel-prev".
	*/

	.jcarousel-next {
		display: none;
		z-index: 3;}

	.jcarousel-prev {
		display: none;
    z-index: 3;}

	/*
	.jcarousel-skin .jcarousel-container {
		background: #D4D0C8;
		border: 1px solid #808080;
		-moz-border-radius: 10px;}
	*/

	.jcarousel-skin .jcarousel-container-horizontal { width: 916px; }

	.jcarousel-skin .jcarousel-clip-horizontal { width: 916px; }

	.jcarousel-skin .jcarousel-item {
		/*height: px;*/
		width: 226px;}

	/*.jcarousel-skin .jcarousel-item:hover { border-color: #808080; }*/

	/*.jcarousel-skin .jcarousel-item-horizontal { margin-right: 7px; }*/

	/*.jcarousel-skin .jcarousel-item-placeholder {}*/

	/**
	*  Horizontal Buttons
	*/
	.jcarousel-skin .jcarousel-next-horizontal {
		background: url(../../img/site/imagens.png) -792px 0;
		cursor: pointer;
		height: 76px;
		position: absolute;
		right: -40px;
		top: 74px;
		width: 36px;}

	/*.jcarousel-skin .jcarousel-next-horizontal:hover { background-position: -32px 0; }*/

	/*.jcarousel-skin .jcarousel-next-horizontal:active { background-position: -64px 0; }*/

	.jcarousel-skin .jcarousel-next-disabled-horizontal,
	.jcarousel-skin .jcarousel-next-disabled-horizontal:hover,
	.jcarousel-skin .jcarousel-next-disabled-horizontal:active {
		/*background-position: -178px -410px;*/
		cursor: default;}

	.jcarousel-skin .jcarousel-prev-horizontal {
		background: url(../../img/site/imagens.png) -746px 0;
		cursor: pointer;
		height: 76px;
		left: -40px;
		position: absolute;
		top: 74px;
		width: 36px;}

	/*.jcarousel-skin .jcarousel-prev-horizontal:hover { background-position: -32px 0; }*/

	/*.jcarousel-skin .jcarousel-prev-horizontal:active { background-position: -64px 0; }*/

	.jcarousel-skin .jcarousel-prev-disabled-horizontal,
	.jcarousel-skin .jcarousel-prev-disabled-horizontal:hover,
	.jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
		/*background-position: -125px -410px;*/
		cursor: default;}

