﻿
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Reset ****************/
	body, p, span, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
	pre, form, fieldset, input, textarea, blockquote, th, td {
		margin: 0;
		padding: 0;}

	fieldset, img {
		border: none;
		margin: 0;}

	img { display: block; }

	a:hover, a:active { outline: none; }

	caption, cite, code, dfn, em, strong, th, var, address {
		font-style: normal;
		font-weight: normal;}

	address { display: inline; }

	h1, h2, h3, h4, h5, h6 {
		font-size: 100%;
		font-weight: normal;}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;}

	blockquote, q { quotes: none; }

	abbr, acronym { border: 0; }

	caption, th { text-align: left; }

	input, textarea, select { outline: none; }

	textarea {
		overflow: auto;
		resize: none;}

	ul, ol, dl { list-style-type: none; }
	/* @End Reset */


	/* @General ****************/
	body {
		background: #124A4B;
		color: #FFF;
		font: 14px Arial, Verdana, Tahoma;}

	a, a:link, a:visited, a:hover, a:active {outline:none;}

	/* @Forms ****************/
	label {
		clear: left;
		float: left;
		height: 28px;
		line-height: 28px;
		padding: 0 10px 0 0;
		text-align: right;
		width: 73px;}

	input, textarea, select {
		color: #000;
		font: 14px Arial, Verdana, Tahoma;
		padding: 6px 4px;} /* padding: 4px */

	input { width: 161px; } /* width: 157px */

	textarea {
		border: 0;
		width: 164px;} /* width: 161px */

	select {
		background-color: #8FC1BF;
		height: 28px;
		padding: 4px;
		width: 169px;}

	/* @HACK: o chrome aplica uma borda preta ao elemento select quando é atribuído ao mesmo uma cor de fundo, */
	/* esta regra faz com que o elemento volte a ter a borda padrão */
	@media screen and (-webkit-min-device-pixel-ratio:0) { select { border: 1px inset; } }

	select { line-height: 22px;# } /* @HACK: esta regra força a alteração da altura do select, funciona apenas para Safari/Windows */

	.Form { float: left; }

	.Form ul.First {
		float: left;
		padding: 0 67px 0 28px;
	}

	.Form ul.Second {
		float: left;
		padding: 0 55px 0 0;
	}
	#PainelTenhoInteresse .Form ul.First {
		width:260px;
	}
	#PainelTenhoInteresse .Form ul.Second {
		width:260px;
	}
	.Form ul li strong{
		color:#ffdddd
		padding-left: 2px;
	}
	.Form ul li { padding-bottom: 8px; }
	
	input.error {
	background: url(../../img/site/form-erro.png);
	border: 0;}
	
	.CampoPadrao {
		background: url(../../img/site/form.png);
		border: 0;}

	.CheckGroup {
		float: left;
		padding: 0 0 14px 0;}

	.CheckOption {
		display: block;
		float: left;
		margin: 0 13px 0 0;}

	.LabelOptions {
		float: left;
		margin: -2px 0 0 0;
		padding: 0 11px 0 0;}

	.Check {
		display: block;
		height: 13px;
		padding: 0;
		width: 13px;}

	.Choice {
		height: auto;
		line-height: normal;
		margin: -15px 0 0 21px !important;
		padding: 0 0 5px 0;
		width: auto;}

	.BotaoEnviar {
		background: url(../../img/site/form.png) 0 -157px;
		border: 0;
		cursor: pointer;
		font-size: 0; /* INFO: para o text-indent funcionar no IE7 */
		height: 41px;
		line-height: 0; /* INFO: para o text-indent funcionar no IE7 */
		text-indent: -9000px;
		width: 169px;}
	/* @End Forms ****************/

	/* @SlidingPanel (formulários suspensos) ****************/
	.SlidingPanel {
		background: #049996 url(../../img/site/inner-shadow-sliding-panel.jpg) repeat-x;
		display: none;
		float: left;
		height: 275px;
		position: relative;
		width: 100%;
		z-index: 998;}

	.SlidingPanel .BotaoEnviar {
		float: right;
		margin-right: 2px;}

	.ComentarioInteresse, .MensagemIndique {
		background-position: 0 -38px;
		height: 97px;}

	.ComentarioInteresse { margin-bottom: 8px; }

	#PainelTenhoInteresse h5 {
		background: url(../../img/site/textos.png) 0 -862px;
		height: 62px;
		margin: 20px 0 16px 118px;
		text-indent: -9000px;
		width: 744px;}

	#PainelIndique h5 {
		background: url(../../img/site/textos.png) 0 -780px;
		height: 61px;
		margin: 20px 0 16px 129px;
		text-indent: -9000px;
		width: 722px;}

	#PainelIndique label { width: 100px; }

	#PainelIndique .Form ul li { padding-bottom: 18px; }

	#PainelIndique ul.First { padding: 0 31px 0 157px;width:287px }
	/* @End SlidingPanel (formulários suspensos) ****************/

	.Main {
		background: #048C8A url(../../img/site/foto-aerea.jpg) center top no-repeat;
		float: left;
		position: relative;
		width: 100%;
		z-index: 998;}

	.Header {
		float: left;
		width: 100%;}

	.Container {
		margin: 0 auto;
		width: 980px;}

	.Topbar {
		background: url(../../img/site/topbar.png) center top repeat-x;
		float: left;
		height: 67px;
		margin-top: -8px;
		position: relative;
		width: 100%;
		z-index: 999;}

	.Features {
		float: left;
		padding: 24px 0 0 66px;}

	.Features li { float: left; }

	.Features li.First { margin-right: 24px; }

	.Features li.Second { margin-right: 317px; }

	.Features li.Third { margin-right: 23px; }

	.Tel, .BotaoCorretor,
	.BotaoInteresse, .BotaoIndique {
		background: url(../../img/site/imagens.png);
		display: block;
		height: 24px;
		text-indent: -9000px;}

	.Tel { width: 118px; }

	.BotaoCorretor {
		background-position: -128px 0;
		width: 127px;}

	.BotaoInteresse {
		background-position: -265px 0;
		width: 129px;}

	.BotaoInteresseAtivo { background-position: -265px -34px; }

	.BotaoIndique {
		background-position: -399px 0;
		width: 104px;}

	.BotaoIndiqueAtivo { background-position: -399px -34px; }

	.Logo {
		background: url(../../img/site/logo-v3.png) left bottom;
		height: 252px;
		left: 50%;
		margin-left: -172px;
		position: absolute;
		text-indent: -9000px;
		top: 0;
		width: 344px;
		z-index: 99;}

	/* @Navigation ****************/
	.Navigation {
		background: url(../../img/site/background-menu.png) no-repeat;
		float: left;
		height: 33px;
		margin: 89px 0 0 64px;
		padding: 9px 0 0 60px;
		position: relative;
		width: 780px;
		z-index: 200;}

	.Navigation li {
		float: left;
		margin: 0 50px 0 0;}

	.Navigation li.Last { margin: 0; }

	.Navigation li a {
		background: url(../../img/site/imagens.png) no-repeat;
		display: block;
		height: 19px;
		text-indent: -9000px;}

	.ItemHome a:link, .ItemHome a:visited {
		background-position: 0 -78px;
		width: 40px;}

	.ItemEmpreendimento a:link, .ItemEmpreendimento a:visited {
		background-position: -45px -78px;
		width: 119px;}

	.ItemPlantas a:link, .ItemPlantas a:visited {
		background-position: -169px -78px;
		width: 105px;}

	.ItemDecorado a:link, .ItemDecorado a:visited {
		background-position: -615px -78px;
		width: 75px;}

	.ItemLocalizacao a:link, .ItemLocalizacao a:visited {
		background-position: -279px -78px;
		width: 88px;}

	.ItemContato a:link, .ItemContato a:visited {
		background-position: -372px -78px;
		width: 60px;}

	.Home .ItemHome a, .ItemHome a:hover, .ItemHome a:active { background-position: 0 -101px; }

	.Empreendimento .ItemEmpreendimento a, .ItemEmpreendimento a:hover, .ItemEmpreendimento a:active { background-position: -45px -101px; }

	.PlantasBaixas .ItemPlantas a, .ItemPlantas a:hover, .ItemPlantas a:active { background-position: -169px -101px; }

	.Decorado .ItemDecorado a, .ItemDecorado a:hover, .ItemDecorado a:active { background-position: -615px -101px; }

	.Localizacao .ItemLocalizacao a, .ItemLocalizacao a:hover, .ItemLocalizacao a:active { background-position: -279px -101px; }

	.Contato .ItemContato a, .ItemContato a:hover, .ItemContato a:active { background-position: -372px -101px; }
	/* @End Navigation */

	.Emphasis {
		background: url(../../img/site/textos.png) -408px -712px;
		float: left;
		height: 12px;
		margin: 15px 0 0 326px;
		text-indent: -9000px;
		width: 328px;}

	.Content {
		background: url(../../img/site/curva.png) center 177px no-repeat;
		float: left;
		width: 100%;}

	.MainContent {
		background: url(../../img/site/bottom-content.jpg) center bottom no-repeat;
		overflow: hidden;
		padding: 0 0 31px 0;}

	.ContactOptions {
		background: url(../../img/site/imagens.png) 0 -561px;
		float: left;
		height: 216px;
		margin: 23px 0 0 0;
		padding: 34px 0 0 34px;
		width: 385px;}

	.ContactOptions li { margin: 0 0 15px 0; }

	.PlantaoVendas {
		background: url(../../img/site/imagens.png) 0 -137px;
		height: 51px;
		width: 350px;}

	.Telefone {
		background: url(../../img/site/imagens.png) 0 -201px;
		height: 50px;
		width: 307px;}

	.Endereco {
		background: url(../../img/site/imagens.png) 0 -268px;
		height: 50px;
		width: 345px;}

	.Endereco a {
		background: url(../../img/site/imagens.png) -452px -80px;
		display: block;
		height: 10px;
		margin: 21px 0 0 260px;
		width: 64px;}

	.FooterNav {
		background: url(../../img/site/sombra-perspectiva.png) center 139px no-repeat;
		float: left;
		margin: 45px 0 0 28px;
		width: 924px;}

	.AuxNavigation { float: left; }

	.AuxNavigation li { float: left; }

	.AuxNavigation li a, .AuxNavigation li span  {
		display: block;
		text-indent: -9000px;}

	.AuxNavigation li a.FirstItem {
		background: url(../../img/site/foto-perspectiva-1.png);
		height: 164px;
		width: 169px;}

	.AuxNavigation li a.SecondItem,
	.AuxNavigation li a.ThirdItem {
		height: 124px;
		margin: 20px 0 0 0;
		width: 144px;}

	.AuxNavigation li a.SecondItem { background: url(../../img/site/foto-perspectiva-2.png); }

	.AuxNavigation li a.ThirdItem { background: url(../../img/site/foto-perspectiva-3.png); }

	.AuxNavigation li a.FourthItem {
		background: url(../../img/site/foto-perspectiva-4.png);
		height: 164px;
		width: 168px;}

	.LogoFooter {
		background: url(../../img/site/logo-footer.png);
		height: 114px;
		margin: 25px 0 0 0;
		width: 299px;}

	.Content .Features { padding: 12px 0 0 138px; }

	.Content .Features li { margin: 0 40px 0 0; }

	.Content .BotaoIndique {
		background-position: -509px 0;
		width: 157px;}

	.Footer {
		background: url(../../img/site/background-footer.jpg) repeat-x;
		float: left;
		height: 220px;
		width: 100%;}

	.Footer .Container {
		background: url(../../img/site/sombra-footer.png) center top no-repeat;
		padding: 28px 0 0 0;}

	.SocialMedia {
		float: left;
		height: 20px;
		padding: 0 0 0 318px;
		width: 662px;}

	/* @INFO: sobrescrevendo propriedades dos widgets do Facebook, Google +1 e AddThis */
	.fb_ltr { width: 94px !important; }

	.fb_iframe_widget iframe { vertical-align: inherit !important; }

	#___plusone_0 { width: 73px !important; }

	.addthis_toolbox {
		float: left;
		width: 88px !important;}

	#_atssh { /* Elimina rolagem horizontal */
		left: 0;
		top: 0;}
	/* @End INFO */

	.Sponsors {
		float: left;
		padding: 34px 0 54px 185px;
	}

	.Sponsors p {
		background-image: url(../../img/site/imagens.png);
		float: left;
		text-indent: -9000px;}

	.Financiamento {
		background-position: 0 -836px;
		height: 53px;
		margin-right: 53px;
		width: 104px;}

	.Vendas {
		background-position: -124px -836px;
		height: 53px;
		margin-right: 90px;
		width: 93px;}

	.Coordenacao {
		background-position: -237px -836px;
		height: 47px;
		margin-right: 90px;
		width: 122px;}

	.Incorporacao {
		background-position: -379px -836px;
		height: 52px;
		width: 228px;}

	.Credits {
		background: url(../../img/site/imagens.png) -627px -858px;
		display: block;
		float: left;
		height: 24px;
		margin: 0 0 0 30px;
		text-indent: -9000px;
		width: 118px;
		clear: both;
	}

	.SectionTitle {
		background-image: url(../../img/site/textos.png);
		height: 37px;
		text-indent: -9000px;}

	.ImagesTitle {
		background: url(../../img/site/textos.png) 0 -941px;
		float: left;
		height: 16px;
		margin: 55px 0 55px 180px;
		text-indent: -9000px;
		width: 620px;}
	/* @End General */


	/* @Home ****************/
	.Featured {
		float: left;
		padding: 25px 0 0 0;
		position: relative;
		width: 980px;}

	.Predio {
		background-image: url(../../img/site/predio.png);
		height: 145px; /* 588 */
		margin: 0 auto;
		padding: 536px 0 0 0;
		position: relative;
		width: 755px;
		z-index: 999;}

	.Featured h3 {
		background: url(../../img/site/textos.png) -408px -733px;
		height: 16px;
		margin: 97px 0 0 210px;
		text-indent: -9000px;
		width: 345px;}

	.Featured span {
		display: block;
		position: absolute;
		text-indent: -9000px;}

	.Featured span.Fitness {
		background: url(../../img/site/circulo-fitness.png);
		height: 230px;
		left: 99px;
		top: 72px;
		width: 230px;
		z-index: 100;}

	.Featured span.SalaoFestas {
		background: url(../../img/site/circulo-salao-festas.png);
		height: 368px;
		left: -11px;
		top: 195px;
		width: 368px;
		z-index: 200;}

	.Featured span.Piscina {
		background: url(../../img/site/circulo-piscina.png);
		height: 303px;
		left: 657px;
		top: 81px;
		width: 302px;
		z-index: 200;}

	.Featured span.SalaoInfantil {
		background: url(../../img/site/circulo-salao-infantil.png);
		height: 240px;
		left: 669px;
		top: 310px;
		width: 240px;
		z-index: 100;}

	.Qualities {
		float: left;
		padding: 0 0 0 70px;
		text-indent: -9000px;
		width: 910px;}

	.Terreno {
		background: url(../../img/site/textos.png) 0 -659px;
		float: left;
		height: 57px;
		margin: 0 10px 0 42px;
		width: 160px;}

	.Streets {
		background: url(../../img/site/textos.png) -170px -666px;
		float: left;
		height: 48px;
		margin: 7px 36px 0 0;
		width: 150px;}

	.AreaLazer {
		background: url(../../img/site/textos.png) 0 -570px;
		float: left;
		height: 79px;
		width: 356px;}

	.OpcoesPlantas {
		background: url(../../img/site/imagens.png) 0 -338px;
		float: left;
		height: 206px;
		margin: 43px 66px 0 0;
		padding: 0 0 0 217px;
		width: 165px;} /* 382 */

	.OpcoesPlantas h4 {
		background: url(../../img/site/textos.png) -408px -592px;
		height: 89px;
		margin: 42px 0 0 0;
		width: 166px;}

	.OpcoesPlantas a {
		background: url(../../img/site/textos.png) -421px -685px;
		display: block;
		height: 12px;
		margin: 4px 0 0 13px;
		width: 139px;}
	/* @End Home ****************/


	/* @Empreendimento ****************/
	.Empreendimento .Content { padding: 227px 0 0 0; }

	.Empreendimento .SectionTitle {
		background-position: 0 -373px;
		margin-left: 330px;
		width: 319px;}

	.Gallery {
		float: left;
		padding: 40px 0 0 33px;}

	.Gallery li {
		float: left;
		padding: 0 4px 47px 0;}

	.Gallery li.Last { margin-right: 0; }

	.DefaultBox {
		background: url(../../img/site/imagens.png) -430px -419px;
		float: left;
		height: 392px;
		width: 419px;}

	.Presentation { margin: 0 52px 0 45px; }

	.Presentation p { text-indent: -9000px; }

	.Presentation p.First {
		background: url(../../img/site/textos.png);
		height: 325px;
		margin: 25px 0 0 20px;
		width: 379px;}

	.EstruturaLazer {
		padding: 21px 36px 0 36px;
		text-indent: -9000px;}

	.EstruturaLazer h4 {
		background: url(../../img/site/textos.png) 0 -329px;
		height: 27px;
		margin-bottom: 25px;
		width: 238px;}

	.EstruturaLazer p.First {
		background: url(../../img/site/texto-estrutura-lazer.png);
		height: 292px;
		width: 340px;}

	.EstruturaLazer ul {
		left: -9999em;
		position: absolute;}
	/* @End Empreendimento */

	.Decorado .Content { padding: 227px 0 0 0; }
	
	.Decorado .SectionTitle {
		background-position: 0 -991px;
		margin-left: 330px;
		width: 319px;}

	.Gallery {
		float: left;
		padding: 40px 0 0 33px;}

	.Gallery li {
		float: left;
		padding: 0 4px 47px 0;}

	.Gallery li.Right { float: right; }

	.Gallery li.Last { margin-left: 262px; }


	/* @PlantasBaixas ****************/
	.PlantasBaixas .Content { padding: 227px 0 0 0; }

	.PlantasBaixas .SectionTitle {
		background-position: 0 -420px;
		margin-left: 350px;
		width: 280px;}

	.ListaPlantas {
		float: left;
		padding: 25px 0 0 47px;}

	.ListaPlantas li {
		float: left;
		padding: 0 48px 48px 0;
		text-indent: -9000px;}

	.ListaPlantas li.Last { padding-right: 0; }
	
	.ListaPlantas li .BoxPlanta div{
		height:250px;
	}
	
	.BoxPlanta {
		background: url(../../img/site/imagens.png) -430px -420px no-repeat;
		height: 366px;
		padding: 25px 0 0 0;
		width: 420px;}

	.BoxPlanta h3 {
		background: url(../../img/site/textos-plantas.png) no-repeat;
		width:340px;
		height: 100px;
		margin-left: 35px;}

	.Planta1 h3 {
		background-position: 0 0;
		}

	.Planta2 h3 {
			background-position: 0 -100px;

}

	.Planta3 h3 {
		background-position: 0 -200px;
}

	.Planta4 h3 {
		background-position: 0 -300px;
		}

	.Planta5 h3 {
		background-position: 0 -400px
		}

	.Planta6 h3 {
		background-position:0 -500px;
		}

	.Planta7 h3 {
		background-position: 0 -600px;
		}

	.Planta8 h3 {
		background-position: 0 -700px;
		}

	.BoxPlanta h4, .BoxPlanta p {
		left: -9999em;
		position: absolute;
		top: 0;}
	
	.BoxPlanta p.Exception {
		position:relative;
		font-family:Arial, sans-serif;
		font-size:10px;
		color:#fff;
		text-indent:0;
		left:0;
		top:0;
		margin:20px 0 0 35px;
		width:350px;
	}
	
	.Planta1 h3, .Planta3 h3,
	.Planta5 h3, .Planta7 h3 { margin-bottom: 16px; }

	.Planta2 h3, .Planta4 h3,
	.Planta6 h3, .Planta8 h3 { margin-bottom: 43px; }

	.ThumbPlantaImpar {
		float: left;
		margin: 4px 107px 0 31px;}

	.ThumbPlantaPar {
		float: left;
		margin: -20px 21px 0 43px;}
	/* @End PlantasBaixas */


	/* @Localizacao ****************/
	.Localizacao .Content { padding: 227px 0 0 0; }

	.Localizacao .SectionTitle {
		background-position: 0 -467px;
		height: 40px;
		margin: 0 0 21px 366px;
		width: 247px;}

	.Localizacao .ContactOptions,
	.Contato .ContactOptions {
		background-position: -430px -419px;
		height: 358px;
		margin: 0 53px 0 46px;}

	.Localizacao .ContactOptions li,
	.Contato .ContactOptions li {
		margin: 0 0 53px 0;
		text-indent: -9000px;}

	.Localizacao .ContactOptions li.Last,
	.Contato .ContactOptions li.Last { margin: 0; }

	.Localizacao .PlantaoVendas,
	.Contato .PlantaoVendas {
		background-position: -430px -227px;
		height: 77px;
		width: 302px;}

	.Localizacao .Telefone,
	.Contato .Telefone {
		background-position: -430px -317px;
		height: 50px;
		width: 258px;}

	.Localizacao .Endereco,
	.Contato .Endereco {
		background-position: -430px -137px;
		height: 63px;
		margin-bottom: 71px !important;
		width: 350px;}

	.Localizacao .Endereco a,
	.Contato .Endereco a {
		background-position: -496px -204px;
		height: 14px;
		margin: 51px 0 0 66px;
		width: 207px;}
	/* @End Localizacao */


	/* @Contato ****************/
	.Contato .Content { padding: 227px 0 0 0; }

	.Contato .SectionTitle {
		background-position: 0 -514px;
		margin: 0 0 21px 396px;
		width: 187px;}

	#FormContato {
		background: url(../../img/site/imagens.png) -430px -419px;
		height: 369px;
		padding: 23px 0 0 23px;
		width: 396px;}

	#FormContato ul.First { padding: 0 31px 0 0;  width: 177px;}

	#FormContato ul li { padding-bottom: 2px; }

	#FormContato label {
		display: block;
		float: none;
		height: auto;
		line-height: normal;
		padding: 0 0 4px 0;
		text-align: left;
		width: auto;}

	.CommentCol {
		float: left;
		width: 172px;}

	.ComentarioContato {
		background: url(../../img/site/form.png) -182px 0;
		height: 264px;
		margin-bottom: 11px;}
	/* @End Contato */


	/* @Non-semantic (helper classes) ****************/
	/* Textos */
	.TextoCenter { text-align: center; }
	.TextoLeft { text-align: left; }
	.TextoRight { text-align: right; }
	.TextoJust { text-align: justify; }

	.TextoNormal { font-weight: normal; }
	.TextoBold { font-weight: bold; }
	.TextoEstiloNormal { font-style: normal; }
	.TextoItalic { font-style: italic; }

	.TextoUnderline { text-decoration: underline; }
	.TextoUnderNone { text-decoration: none; }
	.TextoOverLine { text-decoration: overline; }

	/* Floats */
	.Left { float: left; }
	.Right { float: right; }
	.FloatNone { float: none; }

	/* Visible/Hidden */
	.Visible { visibility: visible; }
	.Hidden { visibility: hidden; }

	/* Elements displays */
	.Block { display: block; }
	.Inline { display: inline; }
	.InlineBlock {display:inline-block; }
	.DisplayNone {display: none; }

	/* Borders */
	.BorderTop {}
	.BorderRight {}
	.BorderBottom {}
	.Borderleft {}

	/* Limpando floats */
	.Clear { clear: both; }

	.Clearfix:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;}

	.Clearfix { display: inline-block; }

	/* Hide from IE Mac \*/
	.Clearfix { display: block; }
	/* End hide from IE Mac */
	/* @End Non-semantic */

	
	#popupCorretorOverlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; z-index: 9997; }
	#popupCorretor { width: 334px; height: 222px; position: fixed; z-index: 9998; right: 0; background: url(../../img/site/popup_corretor_online_bc.png); text-indent: -9999px; }
	/*#popupCorretor { width: 334px; height: 222px; position: fixed; z-index: 9998; left:50%; top:50%; margin-left:-167px; margin-top:-111px; background: url(../../img/site/popup_corretor_online_bc.png); text-indent: -9999px; }*/
	#popupCorretor .close { width: 30px; height: 30px; position: absolute; z-index: 9999; right: 0; top: 10px; background: url(../../img/site/fancybox/fancy_close.png) no-repeat; }