@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, ../../img/site, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
img { boder: 0; }
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
../../img/site, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


body{

	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-transform:uppercase;
	background:url(../../img/site/prom-terrece-bg.png) repeat-x #048c8a;
}

h1{}
h2{}
h3{}
h4{}
#promo-container{

	
}

a{background:url(../../img/site/prom-terrece-btn.png) 0 0px no-repeat; height:24px; position:absolute; left:15%; color:#FFF; padding-left:30px; padding-top:5px; margin-top:-35px; *margin-top:0;}
a:hover{text-decoration:underline}
.promo-content{background:url(../../img/site/promo-terrace-picture.jpg); width:740px; height:992px; margin:0 auto; margin-top:50px;}

h1.target { display: none; }