@charset "utf-8";
/* CSS Document */

/* ---------------- RESET ---------------- */
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0;  font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
    :focus { outline: 0;}
    a, a:link, a:visited, a:hover, a:active{text-decoration:none}
    table { border-collapse: separate;border-spacing: 0;}
    th, td {text-align: left; font-weight: normal;}
    img, iframe {border: none; text-decoration:none;}
    ol, ul {list-style: none;}
    input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
    select {margin: inherit;}
    hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}


    html { background:#f9f9f9; }
    body{ font-family: 'Roboto', sans-serif; font-size:62.5%; color:#454547; font-weight:300; letter-spacing: 1.2px; background:#f9f9f9; height: auto; overflow-x: hidden; }
    b { font-weight:900 }

    /*  BORDA ARREDONDADA  */
    .radius {  -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

    /*  EFEITO SMOTH  */
    .smoth { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }

    /*  IES  */
    .ie8 input {line-height:2.0 !important;}
    .ie7 input {line-height:3.0 !important;}

    section {width:100%; position: relative; float:left; }

    .fixed { position: fixed; z-index: 9999; }
    .relative { position: relative; }

    /*  MARGINS  */
    .nomargin { margin: 0 0 0 0 !important; }

    /*  ROW  */
    .row { position: relative; width: 100%; margin-left: auto; margin-right: auto; margin-top: 0; margin-bottom: 0; max-width: 1260px; }

    /* responsive image */
    img {
      max-width: 100%;
      height: auto;
    }
    @media \0screen {
        img { 
        width: auto; /* for ie 8 */
        }
    }

    h2 { letter-spacing: 2.2px; font-size: 3.64em; font-weight: 200; color: #454547; text-transform: uppercase; text-align: center; padding: 7.5% 0;}

  .btn {margin: 5% 0 0 0; float: left; background: #383939; color: #f9f9f9; padding: 0.7em 1.2em; }
  .btn:hover { background: #515151; color: #FFF; text-decoration: none } 

/* ---------------- RESET END ---------------- */




/************************************************************************************
                                    RESPONSIVO
*************************************************************************************/
      /* ---------------- MOBILE ---------------- */
            @media (max-width:1281px) {
              .row { width: 90%; margin: 0 5%; }

            }


      /* ---------------- MOBILE ---------------- */
            @media (max-width:1190px) {
  
              .phone { display: none }

              .navegation { margin: -41% 0 0 68% !important }
            }            
            @media (max-width:1035px) {
              .menu_phone {display:block;float:right; width: 30px; height: 22px; cursor:pointer;margin:2.4em; background: url(../img/menu.png) center no-repeat; }
              #menu { display:none; }
              .header-fixo #menu { width: 100%; background: #f1f1f1; padding: 1em 0 !important; }
              .header-fixo #menu a { width: 100%; text-align: center; padding: 1em 0 !important; }

              .header-fixo .row { width: 100% !important; margin: 0 !important }
              .header-fixo .btn { width: 30% !important; clear: both; margin: 1% 35% !important; }
              .header-fixo .no-margin { margin-left: 5% !important }

            }
            @media (max-width:980px) {
              .row { width: 98% !important; margin: 0 1% !important  }
              h2 { font-size: 2.64em } 
              h3 { font-size: 1.6em !important } 
              p { font-size: 80% } 
              #setor1 .left ul li { font-size: 100% !important }
              #setor1 .full li .btn { font-size: 80% } 

              #setor3 .top #menu-secun a  { width: auto !important; font-size: 1em !important; margin: 0 !important; padding: 0 4% !important }



              #setor4 .full2 { width: 80% !important; margin: 5% 10% !important; font-size: 80% !important  }
              #setor4 h4 { width: 100% !important }
              #setor4 .btn { float: left !important }


              #area_contato .contato-box { width: 100% !important; margin: 0 0 0 0 !important; }
              #area_contato form {  width: 90% !important; margin: 0 5% 1% 5%!important; zoom:0.7; }
              #area_contato h5 { font-size: 1.1em !important; margin: 0 5% !important;   width: 90% !important;; }
              #area_contato form .field { margin: 1% 0 0 0 !important; }
              #area_contato form .full { margin: 0 0 1% 0 !important; }
              #area_contato form .left { margin: 0 4.34% 1% 0 !important; }
              #area_contato form .right { margin: 0 0 1% 0 !important; }
              #area_contato .close { zoom:0.7; }
              #area_contato h5 .btn { width: 120px !important; margin: 2% 0 3% 0 !important; }   


              #setor2 .full { width: 90% !important; margin:0 5%; height: auto;  }
              #setor4 .full { width: 90% !important; margin:0 5%; height: auto;  }


            }

            @media (max-width:890px) {
             .navegation { margin: -66% 0 0 68% !important }

             #setor1 .left { width: 60% !important }

            }
            @media (max-width:790px) {

              #menu-secun { display: none !important }
              #setor3 .top { border: 0 !important; background: none !important; margin-bottom:0 !important; }
              #setor3 .box { zoom:0.9; }

              .navegation { zoom:0.6; margin: -90% 0 0 68% !important }

              #setor3 #implantacao ul li { zoom: 0.7; }

            }
            @media (max-width:650px) {

              #setor3 #implantacao ul li { display: none }
              #setor3 #implantacao .mobile-no { display: none !important }
              #setor3 #implantacao .mobile-only { display: block !important }


              #setor3 .box { zoom:0.8; }
              .icon-down { display: none !important }

              #setor3 .left { width: 80% !important; margin: 5% 10% 0 10% !important; }
              #setor3 .box { width: 80% !important; margin: 0 10% 0 10% !important; float: left !important }

              .navegation {  margin: -17% 0 0 68% !important }

              #setor3 h3 { float: left !important; width: 100% !important; }
              #setor3 .estru2 .btn { float: left !important; clear: both !important }


              #setor1 .full ul {width:80% !important; margin: 0 10% !important}
              #setor1 .full .f-img-um { width:100% !important; }
              #setor1 .full .f-text-um { width:100% !important; margin:5% 0% 0 0% !important; }
              #setor1 .full .f-text-dois { width:100% !important; margin:5% 0% 0 0% !important; text-align: left !important;  }
              #setor1 .full .f-text-dois a { float: left !important; margin-bottom: 5% !important }
              #setor1 .full .f-img-dois { width:100% !important;  }

              #setor5 h2 { width:80% !important; margin: 0 10% !important }
              #setor5 .full ul {width:80% !important; margin: 0 10% !important}
              #setor5 .full .f-text-um { width: 100% !important; margin: 5% 0% 5% 0% !important; text-align: left !important;}
              #setor5 .full .f-img-um { width:100% !important }
              #setor5 .full .f-img-dois { width:100% !important; margin:5% 0% 0 0% !important;}
              #setor5 .full .f-text-dois { width:100% !important; margin:5% 0 0 0 !important;  }

             #setor1 .left { width: 70% !important }

             footer .nex { width:80% !important; margin: 10% 10% !important; float: left !important  }
             footer p { width:80% !important; margin: 0% 10% !important; font-size: 1em !important; float: left !important  }
             footer .divex { margin: 3% 10% !important; float: left !important;}


              .implan-height { height:320px !important }

              #galleria{height:320px !important}
              #galleria2{height:320px !important}
              .gallerias{height:320px !important}
              .galleria-one{height:320px !important}

              .header-fixo { zoom:0.8; }

            }
            @media (max-width:600px) {

              .navegation { margin: -35% 0 0 68% !important }



            }
            @media (max-width:500px) {
              #setor1 { background: #f9f9f9 !important; padding-top: 30px  } 
              #setor2 { background: #454547 !important  } 
              #setor4 { background: #454547 !important  } 
              #setor1 .left { display: none !important }

             .navegation { margin: -50% 0 0 68% !important }

             #setor4 .btn { margin: 4% 0 0 23%; }

              }
            @media (max-width:400px) {

               .navegation { margin: -95% 0 0 68% !important }


              }
            @media (max-width:350px) {

               .navegation { margin: -115% 0 0 68% !important }


              }

      /* ---------------- MOBILE END ---------------- */
      

      /* ---------------- NO MOBILE ---------------- */
            @media (min-width:1180px) {
              #menu { display:block}
              .menu_phone {display:none; }
            }

      /* ---------------- NO MOBILE END ---------------- */

/************************************************************************************
                                    RESPONSIVO END
*************************************************************************************/


/* ---------------- HEADER ---------------- */

.header-fixo {position: fixed; background:#FFF;  z-index: 8000; top: 0; left: 0; width: 100%;  height: 70px; border-bottom: 1px solid #e1e1e1; opacity: 0.97; filter: alpha(opacity =97); }
.header-fixo #menu { padding: 28px 2em; font-size: 1.1em; text-transform: uppercase; float: right; }
.header-fixo #menu a {position: relative; z-index: 3; float: left; color: #272525; margin: 0 1em 0 0;padding: 0 1em 0 0; border-right: 1px solid #e1e1e1; cursor: pointer; }
.header-fixo #menu a:hover { color: #444; text-decoration: underline;   }
.header-fixo #menu .no-border { border: 0 !important; }
.header-fixo #menu .no-margin { margin-left: 0 !important; }

.header-fixo #menu .btn {letter-spacing: 0; background: #383939; font-size: 0.8em; font-weight: 400; text-align: center; color: #FFF; padding: 0.9em 1.2em 0.8em; margin:-1.4em 0 0 1em; border-radius: 4px; cursor: pointer; } 
.header-fixo #menu .btn b { font-size: 1.105em; font-weight: 900 } 
.header-fixo #menu .btn:hover { background: #515151; color: #FFF; text-decoration: none } 



.header-fixo .logo { z-index: 2; width: 104px; height: 36px; margin: 18px 0 0 2em; padding: 0; position: relative; float: left; background: url(../img/fwd-logo.png) center no-repeat; }
.header-fixo .logo h1 { display: none }

.header-fixo .phone { z-index: 2; margin: 22px 0 0 2em; padding: 0 0 0 3em; position: relative; float: left; background: url(../img/phone.png) left no-repeat; text-transform: uppercase; font-size: 0.95em }
.header-fixo .phone .bigger {font-size: 1.5em }






  /* ---------------- INICIO  ---------------- */
  #setor1 { width: 100%; padding-bottom: 10%; height: auto; position: relative; background:url(../img/bg.png) center top no-repeat #f9f9f9 ; float: left; z-index: 100}

  #setor1 .left { width: 50%; height: auto; float: left }
  #setor1 .left img { width: 85%; margin:30% 7.5% 0 7.5%; float: left }
  #setor1 .left ul { width: 75%; margin:5% 12.5% 0 12.5%; float: left; border: 1px solid #e1e1e1; }
  #setor1 .left ul li { width: 33%; font-size:1.2em; padding: 1.5% 0; text-align: center; float: left; border-right: 1px solid #e1e1e1; cursor: default; }
  #setor1 .left ul li:last-child { border-right: 0; }
  #setor1 .left ul li:hover { background: #FFF }

  #setor1 .full { width: 100%; margin-top:7.5%; height: auto; float: left }
  #setor1 .full ul { width: 100%; height: auto; float: left; }
  #setor1 .full .Exception { margin: 4.06% 0 0 0; }
  #setor1 .full li { height: auto; float: left; font-size: 1.6em;  }

  #setor1 .full .f-img-um { width:56.43% }
  #setor1 .full .f-text-um { width:34.13%; margin:20% 0 0 4.76%; position: relative; bottom: 0  }
  #setor1 .full .f-text-dois { width:34.13%; margin:12% 4.76% 0 4.76%; text-align: right; font-size: 2.8em; font-weight: 700;  }
  #setor1 .full .f-text-dois a { float: right;  }
  #setor1 .full .f-img-dois { width:42.06%; }

  #setor1 .full li .btn {margin: 5% 0 0 0;}








  /* ---------------- AREAS DE LAZER  ---------------- */
  #setor2 { width: 100%; padding-bottom: 10%; height: auto; position: relative; background:url(../img/bg-setor2.jpg) right bottom no-repeat #454547 ; float: left; z-index: 100}
  #setor2 h2 { color:#f9f9f9;}


  #setor2 .full { width: 940px; margin:0 auto; height: auto  }

  #setor2 .gradient { width: 100%; position: absolute; bottom: 0; left: 0; background:url(../img/carroseul-gradient.png); z-index: 5000; height: 120px; }



  /* ---------------- APARTAMENTOS  ---------------- */
  #setor3 { width: 100%; padding-bottom: 10%; background: #FFF; height: auto; position: relative; float: left;}

  .absoluto { position: absolute;bottom: 0; }
  #ancora { width: 100%; height: 1px; position: absolute; top: 220px; background:red;   }
  .fixo { position: fixed; z-index: 50; top: 70px; background:#454547;padding:1% 10% 1% 10% !important;   }
  .fixo a {color: #f9f9f9 !important }


  #setor3 .top { width: 100%; float: left; position: relative; margin-top: 5%; }
  #setor3 .top #menu-secun { width: 80%; float: left; font-size: 1.0em; text-transform: uppercase; padding: 0 10% 2% 10%;  }
  #setor3 .top #menu-secun .center { float: left; margin: 0 0 0 39%; width: 60%;  }
  #setor3 .top #menu-secun a {width: 18%; position: relative; z-index: 3; float: left; color: #272525; margin: 0 0 0 0;padding: 0 1em 0 0; border-right: 1px solid #e1e1e1; text-align: center; font-size: 1.3em; cursor: pointer  }
  #setor3 .top #menu-secun a:hover { color: #444; text-decoration: underline;   }
  #setor3 .top #menu-secun .no-border { border: 0 !important; }
  #setor3 .top #menu-secun .no-margin { margin-left: 0 !important; }


  #setor3 .full { width: 80%; margin:0 10%; height: auto; float: left; position: relative; }
  #setor3 .full h3 { font-size: 2.2em; font-weight: 700; float: left; margin: -11% 0.5em 0 0;  }
  #setor3 .full .box { float: right; margin: 0 2% 0 0  }

  #setor3 .full .btn {margin: 0 0 0 2em;}



  #setor3 #implantacao .mobile-only { display: none }

  #setor3 #implantacao ul { width: 100%; padding-top: 1em; float: left;  }
  #setor3 #implantacao ul li { position: absolute; top: 0; left: 0; color: #000;  }
  #setor3 #implantacao ul li p { background: #000; padding: 0.4em 0.15em; border-radius: 50%; float: left; text-align: center; width: 100%; word-spacing: 0 !important; font-size: 1.15em; font-weight: 900; border: 2px solid transparent; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }
  #setor3 #implantacao ul li p:hover {  border: 2px solid white; background: #333; color: #333  ;   }


  #setor3 #implantacao ul li span { float: left; position: inherit; width: 200px; font-size: 1.15em; font-weight: 400; color: #000; margin: 0.5em 0 0 1em;  }
  #setor3 #implantacao ul .info {margin: -2% 0  }

  #setor3 #implantacao ul .um {margin: 19.5% 83.7%  }
  #setor3 #implantacao ul .dois {margin: 23.5% 78.5%  }
  #setor3 #implantacao ul .tres {margin: 25.2% 70.9%  }
  #setor3 #implantacao ul .quatro {margin: 36.3% 72.6%  }
  #setor3 #implantacao ul .cinco {margin: 43.8% 73.3%  }
  #setor3 #implantacao ul .seis {margin: 39.2% 54.8%  }
  #setor3 #implantacao ul .sete {margin: 40.2% 50.9%  }
  #setor3 #implantacao ul .oito {margin: 45.5% 35.9%  }
  #setor3 #implantacao ul .nove {margin: 36.8% 33.6%  }
  #setor3 #implantacao ul .dez {margin: 34.5% 19.5%  }
  #setor3 #implantacao ul .onze {margin: 28.8% 19.4%  }
  #setor3 #implantacao ul .doze {margin: 20% 22.8%  }
  #setor3 #implantacao ul .treze {margin: 24.9% 33.9%  }
  #setor3 #implantacao ul .qtorze {margin: 26.9% 61.5%  }
  #setor3 #implantacao ul .quinze {margin: 20% 55.2%  }
  #setor3 #implantacao ul .dseis {margin: 12.7% 52.8%  }
  #setor3 #implantacao ul .dsete {margin: 33.5% 54.7%  }
  #setor3 #implantacao ul .doito {margin: 26.7% 51.7%  }

  #setor3 #implantacao ul .dnove-um {margin: 32% 28%  }
  #setor3 #implantacao ul .dnove-dois {margin: 41.8% 42.9%  }
  #setor3 #implantacao ul .dnove-tres {margin: 41.9% 61.4%  }
  #setor3 #implantacao ul .dnove-quatro {margin: 32% 76.8%  }




  .icon-down {float: left; background:url(../img/down-ico.png) 10px 9px no-repeat #383939; padding-left: 3.8em !important }
  .icon-lupa {float: left; background:url(../img/icon-lupa.png) 10px 9px no-repeat #f9f9f9; color: #383939 !important;
  border: 1px solid #383939; padding: 0.6em 1.2em 0.6em 3.8em !important; }

  .icon-down:hover { background:url(../img/down-ico.png) 10px 9px no-repeat #515151 !important; }
  .icon-lupa:hover { background:url(../img/icon-lupa.png) 10px 9px no-repeat #f9f9f9 !important; }


  #setor3 .estru1 { width: 100%; padding:5% 0 0 0; height: auto; float: left;  }
  #setor3 .estru1 .left { width: 70%; margin:5% 4.76% 0 14.29%; height: auto; float: left;  }

  #setor3 .estru1 h3 { font-size: 2.2em; font-weight: 700; float: left; padding: 0; width: 100%;  }
  #setor3 .estru1 .box { width: 100%; float: left; text-align: center;  }
  #setor3 .estru1 .btn {margin: 2em 2em 0 0 }
  #setor3 .estru1 span { clear: both;}



  #setor3 .list_carousel { width: 100%; margin-left:; float: left; }
  #setor3 .list_carousel ul {width: 100% !important}
  #setor3 .caroufredsel_wrapper {width: 100% !important; height: 470px !important;}

  #setor3 .list_carousel li {position: relative; z-index: 3; width: 100%; background-size: 100% auto !important; background-repeat: no-repeat !important; height: 490px; padding: 0; margin: 0; display: block; float: left;}
 

  #setor3 .estru2 { width: 100%; padding:10% 0 0 0; height: auto; float: left;  }
  #setor3 .estru2 .left { width: 42.06%; margin:0; height: auto; float: left; position: relative;  }

  #setor3 .estru2 h3 { font-size: 2.2em; font-weight: 700; float: right; padding: 0.2em 1em 0 0;  }
  #setor3 .estru2 .box { width: 34.13%; float: left; margin: 22% 4.76% 0 4.76%  }
  #setor3 .estru2 .btn {margin: 2em 2em 0 0; float: right;}
  #setor3 .estru2 span { clear: both;}



 .implan-height { height: auto; }







  /* ------ CARROSEUL ----- */

  .navegation { width: 200px; display: block; height: 50px; z-index: 40; margin: -20% 0 0 84%;  }
  .navegation .prev { position: relative;  z-index: 40; background: url(../img/setas.png) 80px 0; background-color: #323232; height: 90px; width: 80px; float: left; }
  .navegation .next {position: relative;  z-index: 40; background: url(../img/setas.png) 0 0; background-color: #323232; float: left; height: 90px; width: 80px; }
  .navegation .prev:hover { background-color: #474747; }
  .navegation .next:hover { background-color: #474747; }

  .navegation .pager { display: none !important; text-align: center; padding: 2% 0; position: relative; width: auto; margin-left:49%;  }
  .navegation .pager a { width:10px; height:10px; margin: 0 2% 0 0; text-indent: -100000000px; float: left; background: #CCC; border-radius: 50% }
  .navegation .pager a:hover { background: #999 }
  .navegation .pager .selected { background: #333 }
  .navegation .pager .selected:hover { background: #666 }






  /* ---------------- DECORADOS  ---------------- */
  #setor4 { width: 100%; padding-bottom: 7%; height: auto; position: relative; background:url(../img/bg-setor4.jpg) right bottom no-repeat #3C3C3C; float: left; z-index: 100}
  #setor4 h2 { color:#f9f9f9;}


  #setor4 .full { width: 940px; margin:0 auto; height: auto;  }

  #setor4 .gradient { width: 100%; height: 120px; position: absolute; bottom: 0; left: 0; background:url(../img/carroseul-gradient.png); z-index: 5000 }

  #setor4 .full2 { width: 940px; margin:0 auto; height: auto; box-shadow: 0 0 0 !important; font-size: 125%;  }
  #setor4 h4 {font-size: 1.6em; color:#f9f9f9; float: left; margin: 4% 0 0 0; width: 100%; text-align: center; }
  #setor4 h4 b {font-weight: 700; font-size: 1.4em}

  #setor4 .btn {font-size: 1.6em; background:#f9f9f9; color: #353535; float: left; margin: 4% 0 0 41%; }
  #setor4 .btn:hover { background:#CCC;  }





  /* ---------------- LOCALIZACAO  ---------------- */
  #setor5 { width: 100%; padding-bottom: 10%; height: auto; position: relative; background:#f9f9f9 ; float: left; z-index: 100}

  #setor5 .full { width: 100%; height: auto; float: left }
  #setor5 .full ul { width: 100%; height: auto; float: left; }
  #setor5 .full .Exception { margin: 4.06% 0 0 0; }
  #setor5 .full li { height: auto; float: left; font-size: 1.6em; position: relative;  }

  #setor5 .full .f-text-um { width:34.13%; margin:20% 4.76% 0 4.76%; position: relative; bottom: 0; text-align: right;   }
  #setor5 .full .f-img-um { width:56.35%;  }

  #setor5 .full .f-img-um:hover > .img-hover-fwd { opacity: 1; margin: 20% 0 0 53%; }
  .img-hover-fwd { opacity: 0; background:; position: absolute; top: 0; left: 0; margin: 23% 0 0 53%;
  -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out;  }

  #setor5 .full .f-img-dois { width:42.06%; margin:0 4.76% 0 14.29%;}
  #setor5 .full .f-text-dois { width:34.13%; margin:12% 0 0 0;  }

  #setor5 .full li .btn {margin: 5% 0 0 0;float: right;}




  /* ---------------- FOOTER  ---------------- */
  footer { width: 100%; height: auto; position: relative; background:#FFF ; float: left; z-index: 100; border-top: 1px solid #e1e1e1; text-align: center;}

  footer .nex {width: 34%; text-align: center; margin: 5% 33%; float: left;  }
  footer .divex { margin: 3% 1%; float: right; opacity: 0.6; filter: alpha(opacity =60);  }
  footer .divex:hover { opacity: 1; filter: alpha(opacity =100);  }

























/* ---------------- AREA DE CONTATO ---------------- */
    #area_contato {  }
    #area_contato .black { width: 100%; height: 100%; background: #000; opacity: 0.6; filter: alpha(opacity =60); position: fixed; top: 0; left: 0; z-index: 9000 }
    #area_contato .close { position: absolute; right: 10px; top: 10px; margin: 0 !important; font-size: 3.5em; font-weight: 100; padding: 0.9em 1.2em; cursor: pointer; }

    #area_contato .contato-box { width: 80%; height: auto; background: #FFF; position: fixed; top: 0; left: 0; margin: 5% 0 0 10%; z-index: 10000 }
    #area_contato .contato-box h2 { padding: 1.2em 0; text-align: left; margin-left: 6.50%; }

    #area_contato form { margin:0 6.82% 5% 6.82%; width: 52.87%; height: auto; float: left; }
    #area_contato form .left { width: 47.72%; margin: 0 4.34% 2% 0; float: left; }
    #area_contato form .right { width: 47.72%; margin: 0 0 2% 0; float: left; }
    #area_contato form .full { width: 100%; margin: 0 0 2% 0; float: left; }
    #area_contato form .full input { width: 97.5%; padding: 0 0 0 2% !important; }
    
    #area_contato form label { width: 99%; font-size: 1.6em; letter-spacing: 0.1em;}
    #area_contato form .field { width: 95%; background: #f9f9f9; border: 1px solid #e1e1e1; float: left; height: 36px; font-size: 1.2em; font-style: italic; letter-spacing: 0.2em; color: #666; padding: 0 0 0 4%; margin: 2% 0 0 0;}
  #area_contato form input:focus { border: 1px solid #bbb; }

    #area_contato form textarea { width: 97.5% !important; height: 80px !important; padding: 2% 0 0 2% !important }   

    #area_contato h5 { font-size: 1.6em; width: 21.70%; height: auto; float: left; line-height: 1.5; }

    #area_contato h5 .btn { border: 0; width: 100%; font-size: 1.2em; margin: 59% 0 0 0; float: left; font-weight: 300; letter-spacing: 0.1em; cursor: pointer; }


/* ---------------- AREA DE CONTATO END ---------------- */






/* ---------------- MENSAGEM DE SUCESSO  ---------------- */

#mensagem-sucesso { position: fixed; bottom: 0; left: 0; width: 100%; background: #557747; z-index: 99999; box-shadow: 5px 5px 80px #111; }
#mensagem-sucesso h2 { padding: 2.0% 5% 0 5%; font-size: 2.2em; color: #f9f9f9; text-align: left; letter-spacing: 0.2em;  }
#mensagem-sucesso .btn-fechar { color: #FFF; float: right; font-size: 3.0em; font-weight: 100; padding: 1.5% 2.5%; cursor: pointer; }
#mensagem-sucesso .btn-fechar:hover { background: #4D6642; }





/* ---------------- MENSAGEM DE SUCESSO END ---------------- */





/* ---------------- ANIMATIONS    ---------------- */


.animated { 
    -webkit-animation-duration: 0.3s; 
    animation-duration: 0.3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: ease-in; 
    animation-timing-function: ease-in; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}
span.btn.icon-lupa { }
{ text-align: center; float: left; }




/* ---------------- TOOLTIPS ---------------- */


/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: 
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:    
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:         
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0, 0, 1);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 16px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -24px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0, 0, 1);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px); 
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px); 
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px); 
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px); 
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}