#itens-organizaveis { margin-top:0px; border: 1px solid #DFDFDF; border-bottom:none; width:650px; }
#itens-organizaveis li { padding:10px; border:none; border-bottom: 1px solid #DFDFDF; border-top: 1px solid #FFFFFF; background: #F9F9F9; margin:0; }
#itens-organizaveis li.alternate { background:#FCFCFC; }
#itens-salvar { margin-top:15px; display:none; }
.fundo-escuro {background-color:#f1f1f1;background-image:-ms-linear-gradient(top,#f9f9f9,#ececec);background-image:-moz-linear-gradient(top,#f9f9f9,#ececec);background-image:-o-linear-gradient(top,#f9f9f9,#ececec);background-image:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));background-image:-webkit-linear-gradient(top,#f9f9f9,#ececec);background-image:linear-gradient(top,#f9f9f9,#ececec);}
.titulo-lista-ordenavel { width:630px; 	padding:10px; margin-top:15px; border: 1px solid #DFDFDF; border-bottom:none; font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif; font-size:14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); border-top-left-radius:3px; border-top-right-radius:3px; }
