
	@charset "utf-8";

	/* @Ficha Técnica ****************/
	/*
		Autor: Divex - Internet Gerando Valor
		Site autor: http://www.divex.com.br
		Contato autor: atendimento@divex.com.br
		Cliente: Capa Max
	*/


	/* @Reset ****************/

	body, p, span, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
	pre, form, fieldset, input, textarea, blockquote, th, td {
		margin: 0;
		padding: 0;}

	fieldset, img {
		border: none;
		margin: 0;}

	img { display: block; }

	a:hover, a:active { outline: none; }

	caption, cite, code, dfn, em, strong, th, var, address {
		font-style: normal;
		font-weight: normal;}

	address { display: inline; }

	h1, h2, h3, h4, h5, h6 {
		font-size: 100%;
		font-weight: normal;}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;}

	blockquote, q { quotes: none; }

	abbr, acronym { border: 0; }

	caption, th { text-align: left; }

	input, textarea, select { outline: none; }

	textarea {
		overflow: auto;
		resize: none;}

	ul, ol, dl { list-style-type: none; }

	/* @End Reset */


	/* @General ****************/

	body {
		background: #0A3003 url(../../img/site/background.jpg);
		color: #FFF;
		font: 15px Arial, Verdana, Tahoma;}

	a:link, a:visited, a:hover, a:active {
		color: #435956;
		text-decoration: none;}

	.CampoPadrao {
		background-color: #b15833;
		border: 1px solid #921800;}

	input, textarea, select {
		color: #FFF;
		font: 14px Arial, Verdana, Tahoma;
		padding: 7px 4px;}

	input, textarea { width: 168px; }

	textarea { height: 60px; }

	select {
		height: 33px;
		padding: 4px;
		width: 177px;}

	select { line-height: 26px;# } /* @HACK: esta regra força a alteração da altura do select, funciona apenas para Safari/Windows */

	label {
		clear: left;
		float: left;
		font-size: 15px;
		height: 32px;
		letter-spacing: -1px;
		line-height: 32px;
		padding: 0 10px 0 0;
		text-align: right;
		width: 73px;}

	.Main {
		background: url(../../img/site/background-main.jpg) center 13px no-repeat;
		float: left;
		position: relative;
		width: 100%;}

	.Header {
		background: url(../../img/site/background-topo.jpg) repeat-x;
		float: left;
		width: 100%;}

	.Container {
		margin: 0 auto;
		width: 940px;}

	.Header .Container {
		background: url(../../img/site/familia.png) center 94px no-repeat;
		height: 316px;
		position: relative;}

	.Topbar {
		float: left;
		width: 100%;}

	.Logo {
		background: url(../../img/site/logo-moradas-clube.png);
		float: left;
		height: 63px;
		margin: 35px 0 0 0;
		width: 274px;}

	.Features {
		float: right;
		margin: 34px 0 0 0;
		width: 394px;}

	.Features li { float: left; }

	.Features li a, .SlidePanel h5 {
		background-image: url(../../img/site/features.png);
		height: 39px;}

	.BotaoCorretor {
		background-position: 0 0;
		margin: 0 24px 0 0;
		width: 96px;}

	.BotaoPlantao {
		background-position: -121px 0;
		margin: 0 28px 0 0;
		width: 112px;}

	.BotaoInteresse {
		background-position: -260px 0;
		margin: 0 26px 0 0;
		width: 104px;}

	.BotaoIndique {
		background-position: -390px 0;
		width: 124px;}

	.Emphasis {
		background: url(../../img/site/imagens.png) 0 -420px;
		float: left;
		height: 71px;
		margin: 19px 0 0 0;
		width: 268px;}

	.Slogan {
		background: url(../../img/site/imagens.png) -208px -512px;
		float: right;
		height: 51px;
		margin: 26px 0 0 0;
		width: 250px;}

	.Price {
		display:none!important;}

	.Content {
		float: left;
		width: 100%;}

	.Featured {
		background: url(../../img/site/sombra-slider.png) center bottom no-repeat;
		margin: 0 auto 25px auto;
		overflow: hidden;
		padding: 0 0 20px 0;
		width: 954px;
		}

	.FeaturedItems {
		background: url(../../img/site/backgrounds-sliders.png) no-repeat;
		float: left;
		padding: 3px 0 0 0;}

	.FeaturedItems li { padding: 0 0 2px 0; }

	.FeaturedItems li a:link, .FeaturedItems li a:visited {
		color: #FFF;
		display: block;
		height: 50px;
		line-height: 50px;
		padding: 0 0 0 54px;}

	.FeaturedItems li a:hover,
	.FeaturedItems li a:active,
	.ui-tabs-selected a { background: url(../../img/site/imagens.png) 0 4px no-repeat; }

	.Featured .ui-tabs-panel {
		overflow: hidden;
		position: relative;}

	.Featured .ui-tabs-hide { display: none; }

	.ImagePreview {
		background: #4f0f05 url(../../img/site/loader.gif) center center no-repeat;
		float: left;
		}
	
	.Casas .ImagePreview {
		margin-top: 2px;
		}

	.Listing {
		float: left;
		margin: 0 30px 0 0;
		width: 284px;}

	.Listing li {
		background: url(../../img/site/bullet-verde.png) 0 8px no-repeat;
		padding: 0 0 3px 10px;}

	.Location {
		background: url(../../img/site/imagens.png) -87px -99px no-repeat;
		line-height: 20px;
		padding: 0 0 0 65px;}

	.Tel {
		background: url(../../img/site/imagens.png) -179px -210px;
		height: 62px;
		margin: 21px 0 0 7px;
		width: 220px;}

	.SlidePanel {
		background: #5c0f00 url(../../img/site/pattern-slide-panel.jpg) left bottom repeat-x;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;}

	.SlidePanel .Container {
		padding: 34px 0 0 0;
		position: relative;}

	.SlidePanel .Tel {
		background-position: 0 -602px;
		float: left;
		height: 22px;
		margin: 10px 20px 0 0;
		width: 344px;}

	.BotaoFechar {
		background: url(../../img/site/imagens.png) 0 -705px;
		bottom: 0;
		height: 18px;
		position: absolute;
		right: 0;
		width: 18px;}

	#PainelPlantaoVendas { height: 103px; display:none; }

	#PainelPlantaoVendas .Container {
		overflow: hidden;
		padding: 34px 0 0 161px;
		width: 779px;}

	#PainelPlantaoVendas .BotaoPlantao {
		background-position: -101px 0;
		float: left;
		margin: 0 0 0 1px;
		width: 132px;}

	#PainelTenhoInteresse { height: 316px; display:none; }

	#PainelTenhoInteresse .Container, #PainelIndique .Container {
		background: url(../../img/site/blur-slide-panel.jpg) 61px 0 no-repeat;
		overflow: hidden;}

	#PainelTenhoInteresse .Form {
		padding: 0 0 0 60px;
		width: 604px;}

	#PainelTenhoInteresse ul li.PL28 { padding-left: 28px; }

	#PainelTenhoInteresse .BotaoInteresse {
		background-position: -240px 0;
		float: left;
		margin: 0 0 0 2px;
		width: 124px;}

	#PainelIndique { height: 273px; display:none; }

	#PainelIndique ul.First { padding: 0 29px 0 15px; }

	#PainelIndique ul.Second label { width: 104px; }

	#PainelIndique .Form {
		padding: 0 0 0 164px;
		width: 627px;}

	.ContainerComentario {
		float: left;
		padding: 0 0 0 15px;}

	#PainelIndique .ComentarioIndique {
		height: 60px;
		width: 489px;}

	#PainelIndique .Submitbar {
		padding: 20px 0 0 95px;
		width: 502px;}

	#PainelIndique .BotaoIndique {
		background-position: -370px 0;
		float: left;
		margin: 0 0 0 5px;
		width: 144px;}

	.Footer {
		background: url(../../img/site/background-footer.png) center bottom no-repeat;
		float: left;
		position: relative;
		width: 100%;}

	.LegalText {
		float: left;
		font-size: 10px;
		margin: 21px 0 0 0;
		width: 100%;}

	.Sponsors {
		float: left;
		margin-right: -3px;
		padding: 54px 0 53px 0;
		width: 940px;}

	.Financiamento, .Comercializacao, .Realizacao {
		background-image: url(../../img/site/sponsors.png);
		float: left;
		height: 90px;}

	.Financiamento {
		margin: 0 33px 0 0;
		width: 187px}

	.Comercializacao {
		background-position: -219px 0;
		margin: 0 57px 0 0;
		width: 209px;}

	.Realizacao {
		background-position: -486px 0;
		width: 454px;}

	.LogoFooter {
		background: url(../../img/site/logo-footer.png);
		bottom: 0;
		height: 87px;
		left: 50%;
		margin: 0 0 0 -82px;
		position: absolute;
		width: 165px;}

	.Bottombar {
		float: left;
		padding: 0 0 34px 0;
		width: 100%;}

	.SocialMedia { float: left; }

	.SocialMedia p {
		color: #FFF;
		font-size: 11px;
		padding: 0 0 9px 0;}

	.SocialMedia ul li { float: left; }

	.SocialMedia ul li.First { margin: 0 10px 0 0; }

	.BotaoFacebook, .BotaoOrkut {
		background-image: url(../../img/site/imagens.png);
		height: 29px;
		width: 29px;}

	.BotaoFacebook { background-position: -356px -433px; }

	.BotaoOrkut { background-position: -395px -433px; }

	.Signature { float: right; }

	.Credits {
		background: url(../../img/site/logo-divex.png) no-repeat;
		height: 39px;
		width: 116px;}

	.Sidebar {
		background: url(../../img/site/backgrounds-sliders.png) no-repeat;
		float: left;
		font-size: 14px;
		position: relative;}

	.MensagemSucesso {
		background: url(../../img/site/imagens.png) -359px -649px no-repeat;
		color: #FFF;
		float: left;
		font-size: 15px;
		font-style: italic;
		letter-spacing: -1px;
		padding: 0 0 2px 55px;
		height:36px;
		text-align: right;}

	.MensagemSucesso strong {
		font-style: italic;
		font-weight: bold;}
		
	.MensagemErro {
		color: red;
		float: left;
		font-size: 15px;
		font-style: italic;
		letter-spacing: -1px;
		padding: 10px 0 2px 120px;
		text-align: right;}

	.MensagemErro strong {
		font-style: italic;
		font-weight: bold;}
		
	.MensagemErroIndique {
		color: red;
		float: left;
		font-size: 15px;
		font-style: italic;
		letter-spacing: -1px;
		padding: 10px 0 2px 120px;
		text-align: right;}

	.MensagemErroIndique strong {
		font-style: italic;
		font-weight: bold;}			

	.Submitbar {
		float: left;
		padding: 10px 0 0 2px;
		width: 572px;
	}
	/*Alteração contato*/
	.Contato .Submitbar {
		float: left;
		padding: 0;
		width: 582px;}

	.Form { float: left; }

	.Form ul.First {
		float: left;
		padding: 0 24px 0 0;}

	.Form ul li { padding-bottom: 10px; }

	.CheckGroup {
		float: left;
		padding: 10px 0 14px 0;}

	.CheckOption {
		display: block;
		float: left;
		margin: 0 13px 0 0;}

	.LabelOptions {
		float: left;
		letter-spacing: -1px;
		margin: -2px 0 0 0;
		padding: 0 10px 0 0;}

	.Check {
		display: block;
		height: 13px;
		padding: 0;
		width: 13px;}

	.Choice {
		height: auto;
		line-height: normal;
		margin: -16px 0 0 21px !important;
		padding: 0 0 5px 0;
		width: auto;}

	.BotaoEnviar {
		background: url(../../img/site/imagens.png) -161px -652px;
		cursor: pointer;
		float: right;
		height: 33px;
		width: 178px;}

	/* @End General */


	/* @Non-semantic (helper classes) ****************/
	/* Textos */
	.TextoCenter { text-align: center; }
	.TextoLeft { text-align: left; }
	.TextoRight { text-align: right; }
	.TextoJust { text-align: justify; }

	.TextoNormal { font-weight: normal; }
	.TextoBold { font-weight: bold; }
	.TextoEstiloNormal { font-style: normal; }
	.TextoItalic { font-style: italic; }

	.TextoUnderline { text-decoration: underline; }
	.TextoUnderNone { text-decoration: none; }
	.TextoOverLine { text-decoration: overline; }

	/* Floats */
	.Left { float: left; }
	.Right { float: right; }
	.FloatNone { float: none; }

	/* Visible/Hidden */
	.Visible { visibility: visible; }
	.Hidden { visibility: hidden; }

	/* Elements displays */
	.Block { display: block; }
	.Inline { display: inline; }
	.InlineBlock {display:inline-block; }
	.DisplayNone {display: none; }

	/* Borders */
	.BorderTop {}
	.BorderRight {}
	.BorderBottom {}
	.Borderleft {}

	/* Margins */
	.MT20 { margin-top: 20px; }
	.MR20 { margin-right: 20px; }
	.MB20 { margin-bottom: 20px; }
	.ML20 { margin-left: 20px; }

	/* Paddings */
	.PT4 { padding-top: 4px; }
	.PT20 { padding-top: 20px; }
	.PR20 { padding-right: 20px; }
	.PB20 { padding-bottom: 20px; }
	.PL20 { padding-left: 20px; }

	/* Limpando floats */
	.Clear { clear: both; }

	.Clearfix:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;}

	.Clearfix { display: inline-block; }

	/* Hide from IE Mac \*/
	.Clearfix { display: block; }
	/* End hide from IE Mac */

	/* Image replacements */
	.Imgr {
		background-repeat: no-repeat;
		border: 0;
		display: block;
		overflow: hidden;
		text-indent: -9000px;}

	/* @End Non-semantic */

