@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit; margin:0; padding:0;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}

/* -----------------------------------ALL---------------------------------------- */
body{
	font-family: 'Lato', Arial, sans-serif;
	font-size:16px;
	font-weight:300;
	color:#606060;
	text-shadow:0px 1px 0px #FFF;
	/*overflow-x:hidden;*/
	min-width:940px;
}


h1{}
h2{}
h3{}
h4{}

.marginleft20{margin-left:20px}

.navsecond {width:650px; height:30px; background:#; margin-top:40px; margin-left:80px; float:left}
.ie7 .navsecond { margin-left:210px}

.navsecond li {height:30px; float:left; font-size:10px; text-transform:uppercase}
.ie9 .navsecond li {font-size:9px}
.navsecond li a{color:#4e4f3d;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear; }
.navsecond li a:hover{color:#9a997c }
.navsecond li p{margin-top:4px; margin-left:35px; line-height:10px; }
.navsecond li p span{font-weight:900;}

.navsecond li .interesse {width:90px; height:30px; background:url(../img/menu.png) 0 0 no-repeat; float:left }
.navsecond li .corretor {width:140px; height:30px; background:url(../img/menu.png) 0 -37px no-repeat; float:left }
.navsecond li .indique {width:120px; height:30px; background:url(../img/menu.png) 0 -74px no-repeat; float:left }
.navsecond li .tour {width:80px; height:30px; background:url(../img/menu.png) 0 -111px no-repeat; float:left }
.navsecond li .video {width:100px; height:30px; background:url(../img/menu.png) 0 -148px no-repeat; float:left }


/* -----NAV----- */
nav {margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px;
-webkit-transition: all 0.1s linear;
-moz-transition: all 0.1s linear;
-o-transition: all 0.1s linear;
transition: all 0.1s linear;}
nav li:hover {background:#ededeb; margin-right:5px;}
nav .active{background:#9a997c}
nav .active:hover{background:#9a997c}
nav .active a{color:#FFF; cursor:default}
nav .active a:hover{color:#FFF}
nav li a {color:#9a997c}
/* -----NAV----- */

/* -----------------------------------HOME---------------------------------------- */
.ctn-solicita { float: left;margin-top: 230px;margin-left: 250px;width: 220px;height: 340px; }
.ctn-solicita h3 {font-size: 24px;color: #333333;}
.ctn-solicita h3 strong {color: #97977B;font-weight: bold;}
.ctn-solicita form { position: relative; margin-top: 10px; }
.ctn-solicita form input {border: 5px solid #B7B59B;border-radius: 15px 15px 15px 15px;float: left;height: 25px;margin-bottom: 7px;padding-left: 60px;width: 140px;}
.ctn-solicita form label {float: left;font-size: 14px;left: 0;margin-left: 12px;margin-top: 9px;position: absolute;top: 0;}
.ctn-solicita form textarea {border: 5px solid #B7B59B;border-radius: 15px 15px 15px 15px;float: left;height: 90px;margin-bottom: 7px;padding-left: 7px;padding-top: 20px;resize: none;width: 195px;}
.ctn-solicita form a.enviar {background: url("../img/enviar.png") no-repeat scroll 0 0 transparent;width: 83px;height: 35px;float: left;}


#home {width:100%; height:535px; background:#FFF; position:relative; z-index:7}
#home .bg {width:100%; height:535px; background:url(../img/home-bg.png) 55% 20px no-repeat}
#home h1 {width:122px; height:51px; text-indent:-100000px; background:url(../img/logo-branco.png); display:none}
#home h2 {width:330px; margin-left:50px; margin-top:60px; font-weight:300; font-size:22px; color:#4e4f3d; text-transform:uppercase; float:left}
.ie7 #home h2 {margin-left:205px;}
#home .navsecond {}
/* -----NAV----- */
#home nav {float:left; margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
.ie9 #home nav {font-size:12px}
#home nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px}
#home nav li:hover {background:#ededeb}
#home nav .active{background:#9a997c}
#home nav .active:hover{background:#9a997c}
#home nav .active {color:#FFF; cursor:default}
#home nav .active:hover{color:#FFF}
#home nav a {color:#9a997c}

.ie7 #home nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie7 #home nav .active {background:url(../img/ie7/ie7menu.png) right}
.ie8 #home nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie8 #home nav .active {background:url(../img/ie7/ie7menu.png) right}
/* -----NAV----- */
/* -----NAV ie7----- */
.ie7 nav {margin-left:-650px;}
/* -----NAV----- */

#home .people {width:270px; height:723px; position:absolute; margin-left:707px; margin-top:60px;  background:url(../img/pessoa-01.png) 50% 80px no-repeat}
.ie7 #home .people {margin-left:887px; margin-top:60px; top:0; left:0}

#home .pinnav {cursor:pointer; width:150px; height:233px; position:absolute; left:50%; margin-left:-75px; margin-top:460px;  background:url(../img/navegacao-pins.png) no-repeat}


#home h4 {width:175px; height:66px; text-align:center; position:absolute; left:50%; margin-left:87px; margin-top:680px;  font-weight:300; font-size:22px; text-shadow:0 0 0; color:#FFF; text-transform:uppercase; line-height:24px;}
#home h5 {width:165px; height:66px; text-align:center; position:absolute; left:50%; margin-left:85px; margin-top:595px;  font-weight:300; font-size:22px; text-shadow:0 0 0; color:#FFF; text-transform:uppercase; line-height:24px;}
#home h4 span {font-weight:900; font-size:29px;}
#home h5 span {font-weight:900; font-size:29px;}

.ie9 #home h4 {width:195px; font-weight:100; font-size:22px;}
.ie9 #home h5 {width:185px; margin-left:65px; font-weight:100; font-size:22px;}
.ie9 #home h4 span {font-weight:900; font-size:27px;}
.ie9 #home h5 span {font-weight:800; font-size:27px;}

/* -----------------------------------EMPREENDIMENTO---------------------------------------- */
#empreendimento {padding-top:510px; position:relative; z-index:6; width:100%; height:460px; background:#838169 url(../img/apartamentos-bg.jpg) repeat-x; text-shadow:0 0 0}
#empreendimento header {padding-top:40px;}
#empreendimento .bg2 {width:100%; height:527px; background:url(../img/bg-balls.png) top center }
#empreendimento .bg-balls-details {width:100%; height:527px; /*background:url(../img/bg-balls-details.png) center 100px no-repeat*/ }
#empreendimento h1 {width:122px; height:51px; text-indent:-100000px; background:url(../img/logo-preto.png); display:}
#empreendimento h2 {margin-left:180px; margin-top:10px; font-weight:900; font-size:36px; color:#e9e9d9; text-transform:uppercase; float:left}
.ie7 #empreendimento h2 {margin-left:340px}
#empreendimento h3 {margin-left:120px; margin-top:10px; text-align:center; font-weight:500; font-size:18px; text-shadow:0px 1px 0px #a1a086; color:#FFF; text-transform:uppercase; float:left}
.ie7 #empreendimento h3 {margin-left:270px}

#empreendimento .box-green {width:549px; height:265px; float:left; margin-left:60px; margin-top:10px;}
.ie7 #empreendimento .box-green {margin-left:210px}

#empreendimento .box-pins {width:190px; height:420px; background:; position:absolute; left:50%; margin-left:290px; margin-top:5px;}
.ie7 #empreendimento .box-pins {margin-left:360px; margin-top:-90px;}
#empreendimento .box-pins-in {width:190px; height:53px; margin-bottom:7px; cursor:default}
#empreendimento .box-pins-in:hover {background:#}
#empreendimento .box-pins-in p{margin-left:47px; padding-top:10px; font-size:12px; font-weight:700; color:#FFF;}

#empreendimento .pins-in-01 {background: url(../img/box-pins.png) 0 0 no-repeat;}
#empreendimento .pins-in-02 {background: url(../img/box-pins.png) 0 -72px no-repeat;}
#empreendimento .pins-in-03 {background: url(../img/box-pins.png) 0 -144px no-repeat;}
#empreendimento .pins-in-04 {background: url(../img/box-pins.png) 0 -216px no-repeat;}
#empreendimento .pins-in-05 {background: url(../img/box-pins.png) 0 -288px no-repeat;}
#empreendimento .pins-in-06 {background: url(../img/box-pins.png) 0 -360px no-repeat;}




#empreendimento .navsecond {width:650px; height:30px; background:#; margin-top:-50px; margin-left:80px; float:left}
.ie7 #empreendimento .navsecond { margin-left:210px}

#empreendimento .navsecond li a{color:#FFF; text-shadow:0 0 0}
#empreendimento .navsecond li a:hover{color:#e9e9d9;}

/* -----NAV----- */
.ie9 #empreendimento nav {font-size:12px}

#empreendimento nav {float:left; margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
#empreendimento nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px}
#empreendimento nav li:hover {background:#ededeb}
#empreendimento nav .active{background:#9a997c}
#empreendimento nav .active:hover{background:#9a997c}
#empreendimento nav .active{color:#FFF; cursor:default}
#empreendimento nav .active:hover{color:#c0bead}
#empreendimento nav li {color:#c0bead}

.ie7 #empreendimento nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie7 #empreendimento nav .active {background:url(../img/ie7/ie7menu.png) right}
.ie8 #empreendimento nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie8 #empreendimento nav .active {background:url(../img/ie7/ie7menu.png) right}
/* -----NAV----- */

#empreendimento .pinnav {cursor:pointer; width:150px; height:233px; position:absolute; left:50%; margin-left:-450px; margin-top:285px;  background:url(../img/navegacao-pins.png) -180px 0 no-repeat}

.ie7 #empreendimento .pinnav {margin-left:-450px; margin-top:205px;}



/* -----------------------------------INFRAESTRUTURA---------------------------------------- */

#infraestrutura {padding-top:650px;  position:relative; z-index:5; width:100%; height:800px; background:#e7e8e2 url(../img/infraestrutura-bg.jpg) repeat-x; overflow:hidden}
#infraestrutura header {padding-top:40px;}
#infraestrutura h1 {width:122px; height:51px; text-indent:-100000px; background:url(../img/logo-branco.png); display:}
#infraestrutura h2 {position:relative; z-index:2; margin-left:230px; margin-top:30px; font-weight:900; font-size:36px; color:#6b6a50; text-transform:uppercase; float:left}
#infraestrutura h3 {width:580px; margin-left:120px; margin-top:10px; font-weight:300; font-size:16px; color:#6b6a50; text-transform:uppercase; float:left}
.ie7 #infraestrutura h2 {margin-left:360px}
.ie7 #infraestrutura h3 {margin-left:250px}

#infraestrutura .bg3 {width:891px; height:553px; position:absolute; z-index:1; left:50%; margin-left:-1057px; background: url(../img/infraestrutura-bg-img.png) no-repeat }

#infraestrutura .people2 {width:354px; height:754px; position:absolute; z-index:3; left:50%; margin-left:305px; margin-top:80px; background: url(../img/pessoa-02.png) 50% 80px no-repeat}

#infraestrutura .wrap {width:725px; height:346px; position:absolute; z-index:6; left:50%; margin-left:-310px; margin-top:207px;  overflow:hidden}

#infraestrutura .slider2    { overflow:hidden; position:relative; margin-left:45px; width:630px; height:346px !important; }
#infraestrutura .slider2 ul { margin:0; padding:0; height:346px; }
#infraestrutura .slider2 li { float:left; list-style:none; margin:0 0 0 0; }
#infraestrutura .slider2 li { text-align:center; line-height:346px; font-size:25px; }
#infraestrutura .next-slide {width:50px; height:50px; background:url(../img/seta2.png); float:left; text-indent:-100000px; margin-left:650px; margin-top:-205px; z-index:5; position:absolute}
#infraestrutura .next-slide:hover {background:url(../img/seta2.png) 0 -50px}

#infraestrutura .prev-slide {width:50px; height:50px; background:url(../img/seta2.png) -50px 0; float:left; text-indent:-100000px; margin-left:20px; margin-top:-205px; z-index:5; position:absolute}
#infraestrutura .prev-slide:hover {background:url(../img/seta2.png) -50px -50px}

#infraestrutura .navsecond {position:relative; z-index:3; margin-top:-50px;}

/* -----NAV----- */
.ie9 #infraestrutura nav {font-size:12px}

#infraestrutura nav {position:relative; z-index:3; float:left; margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
#infraestrutura nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px}
#infraestrutura nav li:hover {background:#ededeb}
#infraestrutura nav .active{background:#9a997c}
#infraestrutura nav .active:hover{background:#9a997c}
#infraestrutura nav .active{color:#FFF; cursor:default}
#infraestrutura nav .active:hover{color:#FFF}
#infraestrutura nav li {color:#1f1f1b}

.ie7 #infraestrutura nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie7 #infraestrutura nav .active {background:url(../img/ie7/ie7menu.png) right}
.ie8 #infraestrutura nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie8 #infraestrutura nav .active {background:url(../img/ie7/ie7menu.png) right}
/* -----NAV----- */

#infraestrutura .pinnav {cursor:pointer; width:150px; height:233px; position:absolute; z-index:4; left:50%; margin-left:-460px; margin-top:395px;  background:url(../img/pinplants.png) 0 0 no-repeat}


/* -----------------------------------APARTAMENTOS---------------------------------------- */
/* -----------------------------------APARTAMENTOS---------------------------------------- */
#plantas {padding-top:210px;  position:relative; z-index:6; width:100%; height:760px; background:#c5c3b7 url(../img/infraestrutura-bg.jpg) top repeat-x; text-shadow:0 0 0; overflow:hidden}
#plantas header {padding-top:40px;}
#plantas .bg2 {width:100%; height:527px; background:url(../img/bg-balls.png) top center }
#plantas .bg-balls-details {width:100%; height:527px; background:url(../img/bg-balls-details.png) center 100px no-repeat }
#plantas h1 {width:122px; height:51px; text-indent:-100000px; background:url(../img/logo-branco.png); display:}
#plantas h2 {margin-left:270px; margin-top:10px; font-weight:900; font-size:36px; color:#6b6a50; text-transform:uppercase; float:left}
.ie7 #plantas h2 {margin-left:420px}
#plantas h3 {text-align:center; margin-left:97px; margin-top:-20px; font-weight:100; font-size:18px; text-shadow:0px 1px 0px #FFF; color:#474744; text-transform:uppercase; float:left}
.ie9 #plantas h3 {margin-left:40px}
.ie8 #plantas h3 {margin-left:40px}
.ie7 #plantas h3 {margin-left:40px}

#plantas .box-green {width:600px; display:table; float:left; margin-left:60px; margin-top:0px;}
.ie7 #plantas .box-green {margin-left:210px}
#plantas .swift {margin-left:0px; height:30px; background:#eaeaea; border-radius:15px; margin-top:10px; border-bottom:1px solid #FFF;border-top:1px solid #CCC; float:left;}
#plantas .swift li {width:190px; font-size:14px; margin-right:00px; margin-left:00px; float:left; font-weight:900}
#plantas .swift li a {color:#6b6a50;padding-left:69px; font-size:14px; margin-right:15px; margin-left:0px; float:left; padding-top:6px}
#plantas .swift li a:hover {color:#999}
#plantas .swift .active {
	width: 190px;
	height: 25px;
	background: #6b6950;
	font-size: 14px;
	float: left;
	border-radius: 15px;
	text-align: center;
	padding-bottom: 4px;	
	
	}
#plantas .swift .active a{color:#FFF;}
#plantas img {margin-left:20px; float:left;}

.slider-wrapper {float:left}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.slider-wrapper { float:none; }
}



.ie7 #plantas .swift {background:url(../img/ie7/ie7plantas.png); border:0}
.ie8 #plantas .swift {background:url(../img/ie7/ie7plantas.png); border:0}


#plantas .navsecond {width:650px; height:30px; background:#; margin-top:-50px; margin-left:80px; float:left}
.ie7 #plantas .navsecond { margin-left:210px}

#plantas .navsecond {position:relative; z-index:3; margin-top:-50px;}

/* -----NAV----- */
.ie9 #plantas nav {font-size:12px}

#plantas nav {position:relative; z-index:3; float:left; margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
#plantas nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px}
#plantas nav li:hover {background:#ededeb}
#plantas nav .active{background:#9a997c}
#plantas nav .active:hover{background:#9a997c}
#plantas nav .active{color:#FFF; cursor:default}
#plantas nav .active:hover{color:#FFF}
#plantas nav li {color:#1f1f1b}

.ie7 #plantas nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie7 #plantas nav .active {background:url(../img/ie7/ie7menu.png) right}
.ie8 #plantas nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie8 #plantas nav .active {background:url(../img/ie7/ie7menu.png) right}
/* -----NAV----- */

#plantas .pinnav {cursor:pointer; width:150px; height:233px; position:absolute; left:50%; margin-left:350px; margin-top:285px;  background:url(../img/navegacao-pins.png) -360px 0 no-repeat}
#plantas h4 {width:165px; height:66px; text-align:center; position:absolute; left:50%; margin-left:340px; margin-top:75px;  font-weight:300; font-size:25px; text-shadow:0px 1px 0px #FFF; color:#77765d; text-transform:uppercase; line-height:24px;}
#plantas h4 span {font-weight:900;}

.ie9 #plantas h4 {width:195px;  margin-left:330px; margin-top:155px;  font-weight:100; font-size:23px;}
.ie7 #plantas h4 {width:185px;  margin-left:330px; margin-top:155px;  font-weight:100; font-size:23px;}


/* -----------------------------------LOCALIZAÇÃO---------------------------------------- */

#localizacao {padding-top:650px; position:relative; z-index:2; width:100%; height:820px; background:#282221 url(../img/localizacao-bg.jpg) top repeat-x; overflow:hidden}
#localizacao header {padding-top:40px;}

#localizacao h1 {width:122px; height:51px; text-indent:-100000px; background:url(../img/logo-branco.png); display:}
#localizacao h2 {position:relative; z-index:2; margin-left:210px; margin-top:30px; font-weight:900; font-size:36px; color:#6b6a50; text-transform:uppercase; float:left}
#localizacao h3 {margin-left:101px; margin-top:20px; font-weight:400; text-align:right; font-size:16px; color:#6b6a50; text-transform:uppercase; float:left}
.ie7 #localizacao h2 {margin-left:360px}
.ie7 #localizacao h3 {margin-left:251px}


#localizacao .localiza-img {width:561px; height:325px; position:absolute; z-index:2; left:50%; margin-left:-305px; margin-top:255px; background:url(../img/localiza-img.png) }
#localizacao .people3 {width:390px; height:754px; position:absolute; z-index:4; left:50%; margin-left:182px; margin-top:90px; background: url(../img/pessoa-03.png) 50% 80px no-repeat}
.ie7 #localizacao .people3 {margin-left:187px}

#localizacao .boxtext {width:325px; height:160px; position:absolute; z-index:3; left:50%; margin-left:-50px; margin-top:430px; background: url(../img/boxtext-bg.jpg) top; border-radius:20px}
#localizacao .boxtext p {color:#FFF; font-size:12px; text-align:center; text-shadow:0 0 0; width:200px; margin-left:60px; margin-top:41px; line-height:18px;}
#localizacao .boxtext p span {text-transform:uppercase; font-weight:900}

.ie7 #localizacao .boxtext {background: url(../img/ie7/ie7boxlocal.png)}
.ie8 #localizacao .boxtext {background: url(../img/ie7/ie7boxlocal.png)}


#localizacao .pin {position:absolute; z-index:5; left:50%}
#localizacao .lc1 {margin-left:-305px; margin-top:285px}
#localizacao .lc2 {margin-left:-200px; margin-top:235px}
#localizacao .lc3 {margin-left:-50px; margin-top:280px}
#localizacao .lc4 {margin-left:80px; margin-top:320px}
#localizacao .pin p{padding:5px 12px 7px 12px; text-shadow:0 0 0; font-weight:700; border-radius:10px; color:#FFF; font-size:12px; background:#404041; cursor:default;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
-o-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;}
#localizacao .pin p:hover{padding:10px 17px 12px 17px; margin-left:-5px; margin-top:-7px; }
#localizacao .pin .img{width:100%; height:6px; background:url(../img/sitt.png) center no-repeat; }


#localizacao .navsecond {position:relative; z-index:3; margin-top:-50px;}

/* -----NAV----- */
.ie9 #localizacao nav {font-size:12px}

#localizacao nav {position:relative; z-index:3; float:left; margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
#localizacao nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px}
#localizacao nav li:hover {background:#ededeb}
#localizacao nav .active{background:#9a997c}
#localizacao nav .active:hover{background:#9a997c}
#localizacao nav .active{color:#FFF; cursor:default}
#localizacao nav .active:hover{color:#FFF}
#localizacao nav li {color:#1f1f1b}

.ie7 #localizacao nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie7 #localizacao nav .active {background:url(../img/ie7/ie7menu.png) right}
.ie8 #localizacao nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie8 #localizacao nav .active {background:url(../img/ie7/ie7menu.png) right}
/* -----NAV----- */

#localizacao .pinnav {cursor:pointer; width:150px; height:233px; position:absolute; z-index:4; left:50%; margin-left:-440px; margin-top:390px;  background:url(../img/navegacao-pins.png) -540px 0 no-repeat}





/* -----------------------------------CONTATO---------------------------------------- */

#contato {padding-top:510px; position:relative; z-index:1; width:100%; height:580px; background:#282221; text-shadow:0 0 0;}
#contato header {padding-top:40px;}
#contato .bg2 {width:100%; height:527px;z-index:1; background: url(../img/bg-balls.png) top center }

#contato .bg-balls-details {width:100%; height:527px;z-index:2; background:url(../img/bg-balls-details.png) center 100px no-repeat }
#contato h1 {width:122px; height:51px; text-indent:-100000px; background:url(../img/logo-preto.png); display:}
#contato h2 {margin-left:120px; text-align:center; margin-top:10px; font-weight:900; font-size:34px; color:#FFF; text-transform:uppercase; float:left}
#contato h3 {background:url(../img/fone.png) 0 0 no-repeat; height:48px; padding-left:40px; padding-top:8px; margin-left:40px; text-align:center; margin-top:15px; font-weight:900; font-size:24px; color:#FFF; text-transform:uppercase; float:left}
.ie7 #contato h2 {margin-left:260px;}

#contato address {width:195px; margin-left:140px; text-align:center; margin-top:15px; font-weight:300; font-size:12px; color:#FFF; text-transform:
uppercase; float:left}
.ie7 #contato address {margin-left:280px}

#contato .mapa {width:368px; height:600px; position:absolute; z-index:4; left:50%; margin-left:-360px; margin-top:40px; background:url(../img/mapa.png) center no-repeat}
.ie7 #contato .mapa {height:600px; margin-top:-50px;}


#contato form {width:210px; height:250px; background:; position:absolute; z-index:4; left:50%; margin-left:34px; margin-top:190px; }
.ie7 #contato form { margin-left:24px; margin-top:100px; }
#contato .textfield {height:25px; float:left; border:5px solid #3e3938;  border-radius:15px; margin-bottom:7px;}
.ie7 #contato .textfield {margin-left:-25px;}
#contato label { float:left; background:; position:absolute; top:0; left:0; margin-top:9px; margin-left:12px; font-size:14px}
#contato textarea {width:193px; padding-top:20px; padding-left:7px; resize:none; height:90px; border:5px solid #3e3938; border-radius:15px; margin-bottom:7px; float:left;}
.ie7 #contato textarea {margin-left:-25px;}

#contato .enviar {background:url(../img/btn-enviar.png); width:90px; height:90px; border:0; cursor:pointer; position:absolute; margin-top:160px; margin-left:230px; top:0; left:0; }
#contato .enviar:hover {background:url(../img/btn-enviar.png) 0 -90px }

#contato .nome {width:140px; padding-left:60px}
#contato .email {width:140px; padding-left:60px}
#contato .telefone {width:130px; padding-left:70px}

#contato .navsecond {width:650px; height:30px; background:#; margin-top:-50px; margin-left:80px; float:left}
.ie7 #contato .navsecond { margin-left:210px}
#contato .navsecond li a{color:#FFF; text-shadow:0 0 0}
#contato .navsecond li a:hover{color:#e9e9d9;}


/* -----NAV----- */
.ie9 #contato nav {font-size:12px}

#contato nav {float:left; margin-top:30px; width:140px; height:170px; font-size:13px; text-align:right; text-transform:uppercase; font-weight:900; text-shadow:0 0 0;}
#contato nav li {width:800px; height:19px; padding-right:10px; padding-top:3px; background:; margin-top:8px; float:right; border-radius:10px}
#contato nav li:hover {background:#413837}
#contato nav .active{background:#9a997c}
#contato nav .active:hover{background:#9a997c}
#contato nav .active{color:#FFF; cursor:default}
#contato nav .active:hover{color:#c0bead}
#contato nav li {color:#FFF}

.ie7 #contato nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie7 #contato nav .active {background:url(../img/ie7/ie7menu.png) right}
.ie8 #contato nav li:hover {cursor:pointer; background:url(../img/ie7/ie7menu2.png) right}
.ie8 #contato nav .active {background:url(../img/ie7/ie7menu.png) right}

/* -----NAV----- */

#contato .pinnav {cursor:pointer; width:150px; height:233px; position:absolute; z-index:4; left:50%; margin-left:320px; margin-top:30px;  background:url(../img/topo.png) no-repeat}



/* -----------------------------------FOOTER---------------------------------------- */


footer{ background:#282221; float:left; width:100%; height:1000px; font-size:10px;}
footer .copy{width:280px; background:; float:left; color:#f7f1e5; text-shadow:0 0 0; margin-top:45px}
footer .assinatura{width:400px; height:100px; background:#FFF url(../img/assinatura.png) 40px 25px no-repeat; float:left; border-radius:15px;}
.ie7 .assinatura{background:url(../img/ie7/ie7footer.png)}
.ie8 .assinatura{background:url(../img/ie7/ie7footer.png)}


#divex{
	width:77px;
	height:16px;
	background:url(../img/footer-divex.png);
	float:right;
	margin-top:45px
}

#divex:hover{
	background:url(../img/footer-divex.png) 0 16px;
}

/* -----------------------------------MODAIS---------------------------------------- */

/* ---------INTERESSE---------- */
#modalinteresse{width:690px; height:220px; background:; position:fixed; top:0; left:50% ; margin-top:73px; margin-left:-297px; text-shadow:0 0 0; z-index:100}
#modalinteresse h2 {text-transform:uppercase; font-size:22px; color:#FFF; font-weight:500; margin-top:15px; text-align:center}

#modalinteresse .fecharmodal {width:52px; height:52px; background:url(../img/fecharmodal.png); position:absolute; margin-left:660px; margin-top:-20px}
.ie7 #modalinteresse .fecharmodal {top:0; left:0; cursor:pointer}
#modalinteresse .fecharmodal:hover {background:url(../img/fecharmodal.png) 0 -52px}

#modalinteresse .topmodal{width:40px; height:40px; margin-top:-40px; margin-left:30px; background:#979475 url(../img/menu.png) 7px 7px no-repeat; border-radius:15px 15px 0 0; float:left}
.ie7 #modalinteresse .topmodal{margin-left:20px}

.msg-sucesso {margin-top:4px; font-weight:900; margin-left:220px; float:left; width:390px; color:#D9FF66}
.msg-erro {margin-top:4px; font-weight:900; margin-left:220px; float:left; width:390px; color:#C00}
#contato_form .msg-sucesso {margin-top:4px; font-weight:900; font-size:12px; margin-left:9px; float:left; width:390px; color:#D9FF66}
#contato_form .msg-erro {margin-top:4px; font-weight:900; font-size:12px; margin-left:9px; float:left; width:390px; color:#C00}
#amigo_form .msg-sucesso {margin-top:4px; font-weight:900; margin-left:260px; float:left; width:390px; color:#D9FF66}
#amigo_form .msg-erro {margin-top:4px; font-weight:900; margin-left:260px; float:left; width:390px; color:#C00}


#modalinteresse .formmodal{width:690px; height:220px; background:#979475; float:left; border-radius:15px; box-shadow: 2px 5px 10px 0px #666;}
#modalinteresse .formmodal p{font-size:12px;  color:#FFF; margin-left:30px; margin-top:146px;}

#modalinteresse form {width:280px; height:250px; background:; position:absolute; z-index:4; left:50%; margin-left:-320px; margin-top:15px; }
.ie7 #modalinteresse form { margin-left:-315px; margin-top:15px; }
#modalinteresse .textfield {height:25px; float:left; border:5px solid #b7b59b;  border-radius:15px; margin-bottom:7px;}
.ie7 #modalinteresse .textfield {margin-left:0px;}
#modalinteresse label { float:left; background:; position:absolute; top:0; left:0; margin-top:9px; margin-left:12px; font-size:14px}
#modalinteresse textarea {width:293px; padding-top:20px; padding-left:7px; margin-top:-125px; margin-left:220px; resize:none; height:90px; border:5px solid #b7b59b; border-radius:15px; margin-bottom:7px; float:left;}
.ie7 #modalinteresse textarea {margin-left:225px;}

#modalinteresse .enviar {background:url(../img/btn-enviar.png); width:90px; height:90px; border:0; cursor:pointer; position:absolute; margin-top:15px; margin-left:550px; top:0; left:0; }
#modalinteresse .enviar:hover {background:url(../img/btn-enviar.png) 0 -90px }

#modalinteresse .nome {width:140px; padding-left:60px}
#modalinteresse .email {width:140px; padding-left:60px}
#modalinteresse .telefone {width:130px; padding-left:70px}



/* ---------AMIGO---------- */
#modalamigo{width:690px; height:260px; background:; position:fixed; top:0; left:50% ; margin-top:73px; margin-left:-297px; text-shadow:0 0 0; z-index:100}
#modalamigo h2 {text-transform:uppercase; font-size:22px; color:#FFF; font-weight:500; margin-top:15px; text-align:center}

#modalamigo .fecharmodal {width:52px; height:52px; background:url(../img/fecharmodal.png); position:absolute; margin-left:690px; margin-top:-20px}
.ie7 #modalamigo .fecharmodal {top:0; left:0; cursor:pointer}

#modalamigo .fecharmodal:hover {background:url(../img/fecharmodal.png) 0 -52px}

#modalamigo .topmodal{width:40px; height:40px; margin-top:-40px; background:#979475 url(../img/menu.png) 7px -66px no-repeat; margin-left:299px; border-radius:15px 15px 0 0; float:left;}
.ie7 #modalamigo .topmodal{margin-left:289px}

#modalamigo .formmodal{width:715px; height:260px; background:#979475; float:left; border-radius:15px; box-shadow: 2px 5px 10px 0px #666;}
#modalamigo .formmodal p{font-size:12px;  color:#FFF; margin-left:30px; margin-top:188px;}



#modalamigo form {width:280px; height:250px; background:; position:absolute; z-index:4; left:50%; margin-left:-320px; margin-top:15px; }
.ie7 #modalamigo form { margin-left:-315px; margin-top:15px; }
#modalamigo .textfield {height:25px; float:left; border:5px solid #b7b59b;  border-radius:15px; margin-bottom:7px;}
.ie7 #modalamigo .textfield {margin-left:0px;}
#modalamigo label { float:left; background:; position:absolute; top:0; left:0; margin-top:9px; margin-left:12px; font-size:14px}
#modalamigo textarea {width:293px; padding-top:20px; padding-left:7px; margin-top:-168px; margin-left:258px; resize:none; height:131px; border:5px solid #b7b59b; border-radius:15px; margin-bottom:7px; float:left;}
.ie7 #modalamigo textarea {margin-left:265px;}

#modalamigo .enviar {background:url(../img/btn-enviar.png); width:90px; height:90px; border:0; cursor:pointer; position:absolute; margin-top:35px; margin-left:585px; top:0; left:0; }
#modalamigo .enviar:hover {background:url(../img/btn-enviar.png) 0 -90px }

#modalamigo .nome {width:180px; padding-left:60px}
#modalamigo .email {width:180px; padding-left:60px}
#modalamigo .telefone {width:120px; padding-left:120px}













