@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/webfonts/flexslider-icon.eot');
	src:url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/flexslider-icon.woff') format('woff'),
		url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #899c4d;
}
.pointer { cursor:pointer; }
.lazyloader { opacity:0; }
.inline-list li { display: inline-block;float: left; margin-right:0px; }

.upper {text-transform:uppercase;}
.right{ float:right; }
.left{ float:left; }
.tcenter{ text-align:center;}
.tleft{ text-align:left;}
.tright{ text-align:right;}
.overhide {overflow:hidden!important;}

.ctrlpad{ padding: .4em 1em; }

.no-border { border:0;}
.no-padding { padding:0!important; }
.no-padding-left { padding-left:0!important; }
.no-padding-right { padding-right:0!important; }

.no-margin { margin:0!important; }
.no-margin-left { margin-left:0!important; }
.no-margin-right { margin-right:0!important; }

.row-no-padding [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.clear {clear:both;}
.relative { position:relative; }
.w100 {width:100%;height:auto;}
.imgmax100 { max-width:100%!important; height: auto;}
.h32 { height:32px}
.mb20 { margin-bottom: 20px; }
.mb10 { margin-bottom: 10px; }
.m10 { margin: 0 10px!important;}

.whitecolor { color:#FFF!important;}
.blackcolor { color:#000!important;}
.greencolor {color:#899c4d!important;}
.lightgreencolor {color:#D3D569!important;}
.redcolor {color:#C03620!important;}
.graycolor {color:#999!important;}

.graybg {background: #f0f0f0!important;}
.greenbg {background: #899c4d!important;}
.semilightgreenbg {background: #98A965!important;}
.redbg {background: #C03620!important;}

.greenbt {border-top:1px solid #899c4d;}
.redbt {border-top:1px solid #C03620;}



.fs12 { font-size:12px; }
.fs14 { font-size:14px; }
.fs16 { font-size:16px; }
.fs18 { font-size:18px; }
.fs25 { font-size:25px; }
.fs30 { font-size:30px; }
.fs35 { font-size:35px; }
.fs40 { font-size:40px; }
.fs45 { font-size:45px; }
.fs50 { font-size:50px; }


.right-border {
	border-right:1px solid #dedede;
}

.osnormal { font-family: 'Open Sans', sans-serif; font-weight:400; }
.oslight { font-family: 'Open Sans', sans-serif;	font-weight:300; }
.ossemibold { font-family: 'Open Sans', sans-serif; font-weight:600; }
.osbold { font-family: 'Open Sans', sans-serif; font-weight:700; }
/* --- REPOLHO ---  */
body{
	-webkit-font-smoothing: antialiased !important;
}
.nexvendas{
	width:100px;
	position:relative;
	bottom:-8px;
	font-weight: 600;
	text-align: right;
	font-size: 16px;
	letter-spacing: -1px;
}

header .phone-number {
	font-size:26px;
	color:#C03620;
	letter-spacing: -1px;
}
.navbar-nav{
	position: relative;
	top:10px;
	
}
.navbar-nav li{
	border-right:1px solid #eeeeee;
}
.navbar-nav li:last-child{
	border-right:none !important;
}
.navbar-nav>li>a {
	font-size:11px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height: 25px;
	color: #595959;
}
.navbar-nav>li>a {
	padding: 0 4px;
    margin: 8px 10px;
}
.im-title {
	font-size:16px;
	line-height: 15px;
	text-transform:uppercase;
	color: #292929;
}

.btn-search {
	width: 100%;
    height: 40px;
	background:#c03620;
	color:#FFF;
	border-radius:0;
	font-size: 17px;
	font-weight: 600;
	letter-spacing: -1px;
}
.btn-search:hover {
	color:#FFF!important;
}
section .title{ 
	text-transform:uppercase; 
	color:#C03620;
	letter-spacing: -1px;
}
.view-more {
	display: inline-block;
	padding:8px 40px;
	padding-left:45px;
	background: url(../img/icon-v.png) 14px center no-repeat;
	background-color:#c03620;
	color:#FFF;
	text-align:center !important;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: -0.4px;
}
section.conceitual h4{
	font-size:21px;
	font-weight: bold;
	letter-spacing:-1px;
}
/* ---  FIM REPOLHO ---  */
.navbar-nav>li>a:hover {
	background:transparent;
}

.navbar-nav>li>a {
	font-size:12px;
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	line-height: 25px;
	color: #000;
}
.navbar-nav>li>a:hover {
	font-weight:bold;
}
section { float: left; width:100%; }
section .title{ text-transform:uppercase; color:#C03620;}

header .phone-number {
	font-size:22px;
	color:#C03620;
}
header .phone-number span{
	font-size:14px;
}

section.banner .wrapper {
	width:728px;
	margin:auto;
}

section.conceitual{
	background: url(../img/conceitual.png) center center no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0;
    min-height: 400px;
}

section.conceitual .searchform{
	margin-top:60px;
	background: rgba(169,183,125,0.8);
	padding:40px;
}

section.conceitual .searchform .advanced{
	display:none;
}

section.newsletter{
	background:#899c4d;
	padding:20px 0;
}

section.contact {
	padding:30px;
}

section.contact [class*="col-"] {
	padding:20px 15px;
}
section.contact img{
	display: block;
	width:70%;
	margin:auto;
}
section.socials {
	background:#595959;
}
section.rights {
    padding: 10px 0;
    background: #c03620;
}

.view-more { cursor:pointer; }

.im-item { margin-bottom:50px; min-height: 150px;}
.im-item:hover .im-title,
.im-item:hover .im-line-1,
.im-item:hover .im-line-2,
.im-item:hover .im-line-3
  { color: #c03620!important; }

.im-title {
	font-size:11px;
	line-height: 16px;
	text-transform:uppercase;
	color: #000;
}
.im-old-price {
	font-size:12px;
}
.im-old-price span { text-decoration:line-through; }

.im-price {
	font-size:16px;
	#line-height: 16px;
	color:#c03620;
}
.im-price .cipher{
	font-size:12px;
	color:#000;
}
.im-line-1 {
	font-size:12px;
	padding-left:14px;
	background: url(../img/icon-home.png) center left no-repeat;
	color: #000;
}
.im-line-2 {
	font-size:12px;
	padding-left:14px;
	background: url(../img/icon-pin.png) center left no-repeat;
	color: #000;
}

.im-line-3 {
	font-size:12px;
	padding-left:14px;
	background: url(../img/icon-beds.png) center left no-repeat;
	color: #000;
}
.im-more {
	width:43%;
	padding:10px;
	position:absolute;
	bottom:0;
	right:0;
	color:#FFF;
	background:#899c4d;
	margin:0 15px;
	text-align:center;
}

.im-more .corner {
	width: 0;
	height: 0;
	position:absolute;
	bottom:0;
	right:0;
	border-bottom: 10px solid #d3d569;
	border-left: 10px solid transparent;
}

.im-lupa {
    position: absolute;
    display: block;
    background: url(../img/lupa.png) no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 10px;
}

.im-highlight {
    position: absolute;
    display: block;
    background: url(../img/oportunidade.png?ver=1) no-repeat;
    background-size: contain;
    height: 65%;
    width: 65%;
    top: 0;
    left: 0;
}

.im-sold {
    position: absolute;
    display: block;
    background: url(../img/vendido.png?ver=1) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
	z-index: 9;
}

.sold {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

a:hover .im-lupa {
    width: 35px;
    height: 35px;
	-webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s; /* Safari */
    transition: width 0.5s, height 0.5s, transform 0.5s;
}

.view-more, .view-more-search {
	display: inline-block;
	padding:10px 30px;
	background: url(../img/icon-v.png) 10px center  no-repeat;
	background-color:#c03620;
	color:#FFF;
	text-align:center;
	cursor:pointer;
}

/*** FORMS ***/

.btn { border-radius:0;}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: url(../img/icon-v.png);
  position: absolute;
  top: -1px; 
  left: 3px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 1px solid #4778d9!important;
}

/* newsletter */
.text-input{
	display: block;
    width: 100%;
    height: 50px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    border: 0;
}

.btn-news {
	width: 100%;
    height: 50px;
	background:#c03620;
	color:#FFF;
	border-radius:0;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: -1px;
}
.btn-news:hover {
	color:#FFF!important;
}
.btn-advanced {
	width: 100%;
    height: 30px;
    background: #FFF;
    color: #c03620;
    border-radius: 0;
    font-size: 12px;
}

.btn-advanced:hover {
	color: #c03620!important;
}



/*** CUSTOM CHOSEN ***/
.chosen-container-single .chosen-single {
	height: 50px;
    padding: 15px 12px;
    border: 0;
	border-radius:0;
	background:#FFF;
}

.chosen-container-single .chosen-single div, 
.btn-group>.btn+.dropdown-toggle {
	width:50px;
	height: 50px;
	background:#899c4d;
	border:0;
}

.chosen-container-active.chosen-with-drop .chosen-single div{
	width:50px;
	background:#899c4d;
}
.chosen-container-active.chosen-with-drop .chosen-single div b{
	width: 0;
    height: 0;
    position: absolute;
	top:50%;
	left:50%;
	margin-top:-5px;
	margin-left:-5px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid white;
	border-top: 0;
}
.chosen-container-single .chosen-single div b, 
.searchform .btn-default .caret {
	width: 0;
    height: 0;
    position: absolute;
	top:50%;
	left:50%;
	margin-top:-5px;
	margin-left:-5px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
}



/*** IMOVEL INTERNA ***/
.breadcrumb-sec {
	border-top: 1px solid #e0e1df;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #FFF;
    border-radius: 0;
}
.breadcrumb> li > a{
	color:#899c4d;
	text-decoration:underline;
}
.breadcrumb> li+li:before {
    content: ">";
    padding: 0 5px;
    color: #cccccc;
}

.searchbox {
	background:#f0f0f0;
	height: 100vh;
	max-height:565px;
	clear:right;
}
.searchbox.searchboxmobile {
	height: auto;
	max-height:none;
}

/*** slider ***/

.flexslider { border: 0;}
.flexslider .slides > li { background: #f0f0f0;}
div#carousel.flexslider .slides > li { cursor:pointer; }
div#slider.flexslider .slides img{
	height: 100vh;
	max-height:565px;
	width: auto;
    margin: auto;
}
div#carousel .flex-viewport {
	width: 95%;
    margin: auto;
}
div#carousel.flexslider {
	margin: -180px 0 40px 2px;
	background:transparent;
	border: 4px solid transparent;
	opacity:0;
}
div#carousel.flexslider .slides img{ 
	border: 2px solid #FFF;
}

.flex-direction-nav a:before {
	color:#FFF;
}

/*** CUSTOM CHOSEN IMOVEL ***/
.searchbox .chosen-container-single .chosen-single {
	height: 40px;
    padding: 8px 12px;
    border: 0;
	border-radius:0;
	background:#FFF;
}
.searchbox .icons .chosen-container-single .chosen-single { padding: 8px 40px; }
.searchform .icons .chosen-container-single .chosen-single { padding: 14px 40px; }
.searchform .icons input { padding: 14px 40px; }
.searchform .icons button { padding: 14px 40px; }
.beds .chosen-container-single .chosen-single {
	background:url(../img/icon-beds-2.png) #FFF 10px center no-repeat;
	background-size:20px;
}

.suite .chosen-container-single .chosen-single {
	background:url(../img/icon-suite.png) #FFF 10px center no-repeat;
	background-size:20px;
}


.parking .chosen-container-single .chosen-single {
	background:url(../img/icon-parking.png) #FFF 10px center no-repeat;
	background-size:20px;
}


/*.area input {
	background:url(../img/icon-area.png) #FFF 10px center no-repeat;
	background-size:20px;
}
.area input:after {
	content:'m²';
}*/


.area button.text-input {
	background:url(../img/icon-area.png) #FFF 10px center no-repeat;
	background-size:20px;
	border-radius: 0;
    text-align: left;
	width:81%;
}

.price button.text-input {
	background:url(../img/icon-price.png) #FFF 10px center no-repeat;
	background-size:20px;
	border-radius: 0;
    text-align: left;
	width:81%;
}


.price button.dropdown-toggle, 
.area button.dropdown-toggle{
	width:20%
	
}
.price .dropdown-menu li {
	padding:15px;
}
.lupa .text-input {
	background:url(../img/icon-lupa.png) #FFF 10px center no-repeat;
	background-size:20px;
}


.searchbox .chosen-container-single .chosen-single div {
	width:50px;
	background:#c03620;
}

.searchbox .chosen-container-active.chosen-with-drop .chosen-single div,
.price button.dropdown-toggle, .area button.dropdown-toggle{
	width:50px;
	background:#c03620;
	border:0;
	height: 41px;
	float: left;
}
.searchbox .chosen-container-active.chosen-with-drop .chosen-single div b{
	width: 0;
    height: 0;
    position: absolute;
	top:50%;
	left:50%;
	margin-top:-5px;
	margin-left:-5px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid white;
	border-top: 0;
}
.searchbox .chosen-container-single .chosen-single div b {
	width: 0;
    height: 0;
    position: absolute;
	top:50%;
	left:50%;
	margin-top:-10px;
	margin-left:-5px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
}

.searchbox .btn-default .caret {
	width: 0;
    height: 0;
    position: relative;
	top:50%;
	right:-3px;
	margin-top:0px;
	margin-left:-5px;
    border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
}

.im-home {
    font-size: 18px;
    padding: 5px 30px;
    background: url(../img/im-home.png) center left no-repeat;
}
.im-pin {
    font-size: 18px;
    padding: 5px 30px;
    background: url(../img/im-pin.png) center left no-repeat;
}
.im-area {
    font-size: 18px;
    padding: 5px 30px;
    background: url(../img/im-area.png) center left no-repeat;
}
.im-suite {
    font-size: 18px;
    padding: 5px 30px;
    background: url(../img/im-suite.png) center left no-repeat;
}
.im-beds {
    font-size: 18px;
    padding: 5px 30px;
    background: url(../img/im-beds.png) center left no-repeat;
}
.im-parking {
    font-size: 18px;
    padding: 5px 30px;
    background: url(../img/im-parking.png) center left no-repeat;
}

.im-button.add-to-list {
	padding: 7px 25px;
    line-height: 13px;
}

.im-button {
	#width:100%;
	position:relative;
	padding:10px 10px 10px 10px;
	color:#FFF;
	background:#899c4d;
	margin:0 15px;
	text-align:center;
	cursor:pointer;
	border:0;
	margin-left:0;
	margin-right:15px;
	margin-bottom:5px;
}

.im-button.twolines .glyphicon {
    margin-top: 5px;
    margin-right: 7px;
}
.im-button.twolines .text {
    margin-right: 7px;
}
.im-button.twolines {
	padding: 7px 10px;
    line-height: 13px;
}

.im-button .corner {
	width: 0;
	height: 0;
	position:absolute;
	bottom:0;
	right:0;
	border-bottom: 10px solid #d3d569;
	border-left: 10px solid transparent;
}

/*** MINHA LISTA ***/

.list-item .im-item { margin-bottom:30px; }

.list-item .im-title {
	font-size:12px;
	line-height: 16px;
	text-transform:uppercase;
}
.list-item .im-old-price {
	font-size:8px;
	#line-height: 16px;
	text-decoration:line-through;
}
.list-item .im-price {
	font-size:45px;
	#line-height: 16px;
	color:#c03620;
}
.list-item .im-price .cipher{
	font-size:30px;
	color:#000;
}
.list-item .im-line-1 {
	font-size:16px;
	padding-left:14px;
	background: url(../img/icon-home.png) center left no-repeat;
}
.list-item .im-line-2 {
	font-size:16px;
	padding-left:14px;
	background: url(../img/icon-pin.png) center left no-repeat;
}

.list-item .im-line-3 {
	font-size:16px;
	padding-left:14px;
	background: url(../img/icon-beds.png) center left no-repeat;
}
.list-item .im-more {
	width:43%;
	padding:10px;
	position:absolute;
	bottom:0;
	right:0;
	color:#FFF;
	background:#899c4d;
	margin:0 15px;
	text-align:center;
}

.list-item .im-more .corner {
	width: 0;
	height: 0;
	position:absolute;
	bottom:0;
	right:0;
	border-bottom: 10px solid #d3d569;
	border-left: 10px solid transparent;
}

.list-item .im-lupa {
    position: absolute;
    display: block;
    background: url(../img/lupa.png) no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
    bottom: 10px;
    right: 10px;
}
.remove-from-list{ cursor:pointer; }
.list-item .im-button.remove-from-list .text,
.list-item .im-button.add-to-list .text{
	margin-right:7px;
}
.list-item .im-button.remove-from-list .glyphicon, 
.list-item .im-button.add-to-list .glyphicon{
	margin-top:7px;
}
.list-item .im-button.remove-from-list,
.list-item .im-button.add-to-list {
	padding: 5px 10px;
    line-height: 13px; 
}

.list-item .im-button {
	width:100%;
	padding:10px 10px 10px 10px;
	color:#FFF;
	background:#899c4d;
	margin:0 15px;
	text-align:left;
}

.list-item .im-button .corner {
	width: 0;
	height: 0;
	position:absolute;
	bottom:0;
	right:0;
	border-bottom: 10px solid #d3d569;
	border-left: 10px solid transparent;
}

.grid-item {}

.grid-item .im-buttons {
	margin-top:10px;
	cursor:pointer;
}
.grid-item .im-line-1 {
	font-size:14px;
	padding-left:25px;
	background: url(../img/icon-home-green.png) center left no-repeat;
}
.grid-item .im-line-2 {
	font-size:14px;
	padding-left:25px;
	background: url(../img/icon-pin-green.png) center left no-repeat;
}

.grid-item .im-line-3 {
	font-size:14px;
	padding-left:25px;
	background: url(../img/icon-beds-green.png) center left no-repeat;
}

.owrap {
	position:absolute;
	bottom:0;
	width:100%;
}
.box    { position:relative;box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45)}
.overlay { 
	#position:absolute;
	#bottom:0;
	width:100%;
	background:rgba(152,169,101,.9);
    opacity:1;
    height:5px;
    -webkit-transition: height .25s ease;
	-moz-transition: height .25s ease;
	overflow:hidden;
	padding: 0 10px;
}
.pricetag .cipher{
	
}
.pricetag{
	padding:10px;
	background:rgba(152,169,101,.9);
}

.highlight .pricetag,
.highlight .overlay {
	background:rgba(192,53,32,.9);
}

.box:hover .overlay { 
	height:130px;
    opacity:1;
}


/*** MAPS ***/
#map-canvas {
    width: 98%;
    height: 313px;
    margin: auto;
}

/*** FLEXSLIDER OVERRIDE ***/
.im-gallery .flex-direction-nav .flex-next {right:15px;opacity:1;}
.im-gallery .flex-direction-nav .flex-prev {left:15px;opacity:1;}
.im-gallery .flex-direction-nav a.flex-next:before { content:url(../img/btn-next.png);}
.im-gallery .flex-direction-nav a.flex-prev:before { content:url(../img/btn-prev.png);}


/*** jQuery UI OVERRIDE ***/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0;
	border-radius:0;
    background: #98A965;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: 0;
	border-radius:0;
    background: #7F934C;
}

/*** THEME OVERRIDE ***/
.modal-header { border:0; }
.modal-body { padding: 0 15px; }
.dropdown-menu {width:100%; padding:10px 15px;}
.pagination { float:right; }
.pagination strong {padding: 5px 10px; background: #eee;}
.pagination a.page {padding: 5px 10px;}
.pagination a { color: #aaa; }
.navbar-nav>li>a {
	padding: 0 4px;
    margin: 15px 11px;
}
.navbar-nav>li>a.btn-logout:hover{
	background:#c03620;
}
.btn-logout {
	color:#FFF!important;
	background: #c03620;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-toggle {
    display: block;
	border-color:#FFF!important;
	margin:15px;
}


.page-imovel .area button.text-input, 
.page-imovel .price button.text-input {
	width:80%;
}
.page-imovel .location .text-input{height: 40px;}
.page-imovel .lupa .text-input ,
.page-imovel .price button.text-input ,
.page-imovel .area button.text-input {
	height: 40px;
	padding: 8px 0px 8px 40px;
}

/*.pagination a[rel="next"] { content: url(../img/btn-next.png); }
.pagination a[rel="prev"] { content: url(../img/btn-prev.png); }*/

.pagination a[rel="next"] { 
	background-image: url(../img/btn-next.png);
    background-size: contain;
    display: inline-block;
    width: 22px;
    height: 23px;
    content:"";
	color:transparent;
}
.pagination a[rel="prev"] { 
	background-image: url(../img/btn-prev.png);
    background-size: contain;
    display: inline-block;
    width: 22px;
    height: 23px;
    content:""; 
	color:transparent;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus { background-color: transparent; border:0; }

.chatbox {
	position: fixed;
    bottom: 40px;
    right: 0;
	height:440px;
	margin-top:-220px;
    z-index: 99999;
	overflow:hidden;
}
.chatbox .toggle-chat{
	position:relative;
	top:50%;
	margin-top:-35px;
	float:left;
	width:30px;
	height:90px;
	padding:5px 1px;
	text-align: right;
	cursor:pointer;
	border-radius: 10px 0px 0px 10px;
	color:#FFF;
	font-weight:bold;
}

.chatbox .toggle-chat img{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.chatbox .toggle-chat span{
	
	display: block;
    position: absolute;
    right: -5px;
    top: 45px;
	
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.chatbox .iframe{
	width:0;
	height:440px;
	overflow:hidden;
}
.chatbox iframe{
	border:0;
	float:left;
	overflow:hidden;
}

.live-search p {
	padding:2px 0;
}

.live-search p:hover{
	cursor: pointer;
	background:rgba(169, 183, 125, 1);
	color:#fff;
}


.siteOverlay {
   position: fixed;
    width: 100%;
    background: url(../img/ajax-loader-7.gif) rgba(0,0,0,0.7) no-repeat center center;
    top: 0;
    bottom: 0;
	z-index:99;
	display:none;
}

#cboxNext{ background-position: bottom right; }
#cboxPrevious { background-position: bottom left; }
#cboxClose { background-position: bottom center; }

.sp_cont_1 {width: 45%;position:absolute;right:0;bottom:0;font-size:19px;color:#C03620;line-height:21px;font-weight:700;font-family:'Open Sans', sans-serif;}
.sp_cont_2 {width: 92%;position:absolute;left:15px;bottom: -21px;font-size: 14px;color: #fff;line-height: 20px;font-weight: 700;text-align: center;font-family: 'Open Sans', sans-serif;background-color: #C03620;}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.hide-vertical {display:block!important}
	.im-more { font-size:11px; }
	.hide-tablet {display:none!important}
	.show-tablet{display:block!important;}
	.text-input { margin-bottom:10px;}
	.box:hover .overlay, .overlay {height:100px}
	
	.area button.text-input, .price button.text-input {
		width: 83%!important;
	}
	
	.searchbox .area button.text-input, .searchbox .price button.text-input {
		width: 93%!important;
	}
	
	.right-border {
		border-right:0;
	}
}

@media only screen and (min-width: 641px) and (max-width: 768px){
	.hide-vertical {display:none!important}
	.show-vertical {display:block!important}
	.hide-tablet {display:none!important}
	.show-tablet{display:block!important;}
	.no-padding-tablet {padding: 0!important;}
	.fs25 { font-size:15px; }
	.fs30 { font-size:20px; }
	.fs35 { font-size:25px; }
	.fs40 { font-size:30px; }
	.fs45 { font-size:35px; }
	.fs50 { font-size:40px; }
	.right-border {
		border-right:0;
	}
	section.contact {
		padding: 10px;
	}
	.im-more { font-size:11px; }
	
	.flexslider {
		margin: 0 0 20px;
	}
	.navbar-default .navbar-toggle {
		border-color:#FFF;
	}
	.box:hover .overlay, .overlay {height:80px}
	
	.text-input { margin-bottom:10px;}
	
	.overlay {height:80px}
	.grid-item .im-line-1{ margin-top:8px;}
	.grid-item .im-line-1,
	.grid-item .im-line-2,
	.grid-item .im-line-3 {
		font-size:12px
	}
	/*.im-more {
		width: 35px;
		border-radius: 15px;
		padding: 7px 7px;
		height: 35px;
		font-size: 17px;
	}*/
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
	.hide-mobile {display:none!important} 
	.show-mobile{display:block!important;}
	.no-float-mobile { float:none; }
	.mmb10{margin-bottom:10px;}
	.p15-mobile {padding:0 15px;}
	.fs25 { font-size:15px; }
	.fs30 { font-size:15px; }
	.fs35 { font-size:15px; }
	.fs40 { font-size:20px; }
	.fs45 { font-size:25px; }
	.fs50 { font-size:30px; }
	.right-border {
		border-right:0;
	}
	
	section.conceitual .searchform { padding:40px 15px; }
	
	.im-more { font-size:11px; }
	
	.no-padding-mobile {
		padding: 0!important;
	}
	
	.no-padding-left {
		padding: 0;
	}
	
	section.contact img {
		width: 100%;
	}
	
	.flexslider {
		margin: 0 0 20px;
	}
	/*** slider ***/
	div#carousel.flexslider {
		margin: -65px 0 60px;
	}
	
	.navbar-default .navbar-toggle {
		border-color:#FFF;
	}
	.text-input { margin-bottom:10px;}
	
	.navbar-nav>li>a {
		margin: 0px 11px 15px;
	}
	.box:hover .overlay, .overlay {height:80px}
	
	.grid-item .im-line-1{ margin-top:8px;}
	.grid-item .im-line-1,
	.grid-item .im-line-2,
	.grid-item .im-line-3 {
		font-size:12px
	}
	.inline-list.no-margin.right {
			padding:0;
	}
	.im-button {
		margin-left: 0;
		position: relative;
	}
	
	div#slider.flexslider .slides img {
		height: 250px;
		width: auto;
	}
	/*.im-more {
		width: 35px;
		border-radius: 15px;
		padding: 7px 7px;
		height: 35px;
		font-size: 17px;
	}*/
	.area button.text-input, 
	.price button.text-input {
		width: 87%!important;
	}
	
	.searchbox .area button.text-input, 
	.searchbox .price button.text-input {
		width: 82%!important;
	}
}
@media only screen and (min-width: 120px) and (max-width: 320px) {
	div#slider.flexslider .slides img {
		height: 200px;
		width: auto;
	}
}